Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

fix
  front/components/agent_builder/capabilities/capabilities_sheet/SpaceSelectionPage.tsx
  front/components/shared/SpaceRestrictionMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[DX] stop the sparkle watcher from deleting dist when mprocs stops
  sparkle/package.json
  tools/mprocs.yaml
Due: package-lock-check, biome

fix selection across pages
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix outdated connectors init_db command in init_dev_container.sh
  init_dev_container.sh
Due: none

format
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
  front/components/skill_builder/SkillBuilderRequestedSpacesSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: manager role provisioned group (#29540)
  front-api/routes/w/[wId]/provisioning-status.ts
  front/components/members/EditInvitationModal.tsx
  front/components/members/Roles.ts
  front/components/workspace/ChangeMemberModal.tsx
  front/lib/api/poke/plugins/workspaces/apply_group_roles.ts
  front/lib/api/user.test.ts
  front/lib/api/user.ts
  front/lib/api/workos/organization_membership.ts
  front/lib/api/workspace.ts
  front/lib/resources/group_resource.ts
  front/lib/swr/workos.ts
  front/scripts/simulate_workos_event.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[DX] stop the sparkle watcher from deleting dist when mprocs stops (#29542)
  sparkle/package.json
  tools/mprocs.yaml
Due: package-lock-check, biome

hide length check
  front/components/skill_builder/SkillBuilderIsDefaultSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add comment
  front/lib/api/actions/servers/slack/block.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Unused function
  front/lib/api/actions/servers/agent_memory/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: bump extension version
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

feat: add select all option to ManagedAgents (#29533)
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Skills state UI (#29535)
  front/components/agent_builder/settings/AccessSection.tsx
  front/components/skill_builder/SkillBuilder.tsx
  front/components/skill_builder/SkillBuilderIsDefaultSection.tsx
  front/components/skill_builder/SkillBuilderSettingsSection.tsx
  front/components/skill_builder/SkillEditorsSheetWithButton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] improve space and pod section wording (#29523)
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
  front/components/agent_builder/capabilities/capabilities_sheet/SpaceSelectionPage.tsx
  front/components/shared/SpaceRestrictionMessage.tsx
  front/components/skill_builder/SkillBuilderRequestedSpacesSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: bump extension version (#29546)
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

[front] ignore duplicate batch tag additions
  front-api/routes/w/[wId]/assistant/agent_configurations/batch_update_tags.test.ts
  front/lib/resources/tags_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] inline workspace id in batch tag insert
  front/lib/resources/tags_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix outdated connectors init_db command in init_dev_container.sh (#29544)
  init_dev_container.sh
Due: none

[front] fix: stabilize manage agents table columns
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: isDevelopment always true in temporal workflows
  front/temporal/triggers/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: gate skills detect/import endpoints on workspace permissions
  front-api/routes/w/[wId]/skills/detect/index.ts
  front-api/routes/w/[wId]/skills/detect/upload.ts
  front-api/routes/w/[wId]/skills/import/github-connection/index.ts
Due: biome

[Activation] Wire ActivationPod into creation and read paths
  front/lib/api/actions/servers/activation_recommendations/index.ts
  front/lib/api/activation/nudge.test.ts
  front/lib/api/activation/nudge.ts
  front/lib/api/activation/orchestrator.ts
  front/lib/api/activation/trigger.ts
  front/lib/api/poke/plugins/spaces/join_activation_pod.ts
  front/lib/api/poke/plugins/spaces/send_activation_nudge.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/resources/activation_nudge_resource.ts
  front/lib/resources/activation_pod_resource.ts
  front/lib/resources/activation_recommendation_resource.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/trigger_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Refine activation skill: guard-style workflow + integrated arc
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/resources/skill/code_defined/global/activation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Do not fetch full conversation for sandbox child action
  front/lib/api/assistant/skill_actions.ts
  front/lib/api/sandbox/create_child_action.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: gate skills detect/import endpoints on workspace permissions (#29547)
  front-api/routes/w/[wId]/skills/detect/index.ts
  front-api/routes/w/[wId]/skills/detect/upload.ts
  front-api/routes/w/[wId]/skills/import/github-connection/index.ts
Due: biome

[front] chore: make selection predicate explicit
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Update activation skill execution instructions (#29503)
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/resources/skill/code_defined/global/activation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove redundant eslint suppression
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: batch agent tag updates (#29537)
  front-api/routes/w/[wId]/assistant/agent_configurations/batch_update_tags.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/batch_update_tags.ts
  front/lib/resources/tags_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: include auto tools in personal settings
  front/components/me/UserToolsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin governance: bulk edit UI for manage skills table
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/skills/SkillsBatchEdit.tsx
  front/components/skills/SkillsTable.tsx
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove icon from 'set access' menu
  front/components/skills/SkillsBatchEdit.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: ensureHasWorkspacePermission middleware
  front-api/middlewares/ensure_role.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front-api/routes/w/[wId]/assistant/builder/slack/channels_linked_with_agent.ts
  front-api/routes/w/[wId]/audit-logs.ts
  front-api/routes/w/[wId]/billing/info.ts
  front-api/routes/w/[wId]/billing/invoices.ts
  front-api/routes/w/[wId]/coupon/redemptions.ts
  front-api/routes/w/[wId]/coupon/validate.ts
  front-api/routes/w/[wId]/credits/members-seats.ts
  front-api/routes/w/[wId]/domains.ts
  front-api/routes/w/[wId]/dust_app_secrets/index.ts
  front-api/routes/w/[wId]/members/free-seats.ts
  front-api/routes/w/[wId]/metronome/contract.ts
  front-api/routes/w/[wId]/metronome/invoice.ts
  front-api/routes/w/[wId]/metronome/migration.ts
  front-api/routes/w/[wId]/seats/count.ts
  front-api/routes/w/[wId]/skills/detect/index.ts
  front-api/routes/w/[wId]/skills/detect/upload.ts
  front-api/routes/w/[wId]/skills/import/github-connection/index.ts
  front-api/routes/w/[wId]/skills/index.ts
  front-api/routes/w/[wId]/sso.ts
  front-api/routes/w/[wId]/subscriptions/checkout/business-activation.ts
  front-api/routes/w/[wId]/subscriptions/checkout/prepare-payment.ts
  front-api/routes/w/[wId]/subscriptions/index.ts
  front-api/routes/w/[wId]/subscriptions/trial-info.ts
Due: biome

[front] feat: ensureHasWorkspacePermission middleware (#29548)
  front-api/middlewares/ensure_role.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front-api/routes/w/[wId]/assistant/builder/slack/channels_linked_with_agent.ts
  front-api/routes/w/[wId]/audit-logs.ts
  front-api/routes/w/[wId]/billing/info.ts
  front-api/routes/w/[wId]/billing/invoices.ts
  front-api/routes/w/[wId]/coupon/redemptions.ts
  front-api/routes/w/[wId]/coupon/validate.ts
  front-api/routes/w/[wId]/credits/members-seats.ts
  front-api/routes/w/[wId]/domains.ts
  front-api/routes/w/[wId]/dust_app_secrets/index.ts
  front-api/routes/w/[wId]/members/free-seats.ts
  front-api/routes/w/[wId]/metronome/contract.ts
  front-api/routes/w/[wId]/metronome/invoice.ts
  front-api/routes/w/[wId]/metronome/migration.ts
  front-api/routes/w/[wId]/seats/count.ts
  front-api/routes/w/[wId]/skills/detect/index.ts
  front-api/routes/w/[wId]/skills/detect/upload.ts
  front-api/routes/w/[wId]/skills/import/github-connection/index.ts
  front-api/routes/w/[wId]/skills/index.ts
  front-api/routes/w/[wId]/sso.ts
  front-api/routes/w/[wId]/subscriptions/checkout/business-activation.ts
  front-api/routes/w/[wId]/subscriptions/checkout/prepare-payment.ts
  front-api/routes/w/[wId]/subscriptions/index.ts
  front-api/routes/w/[wId]/subscriptions/trial-info.ts
Due: biome

Add Kimi K3 on Fireworks and point dust-kimi* at it
  front/components/providers/model_configs.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/lib/api/assistant/token_pricing/static_model_reasoning_efforts.ts
  front/lib/api/assistant/token_pricing/tiers.ts
  front/lib/llms/providers/fireworks/models/kimi_k3.ts
  front/lib/llms/stream/endpoints/moonshot_ai_kimi_k3_global_fireworks.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/fireworks/models/kimi_k3.ts
  front/lib/model_constructors/stream/endpoints/moonshot_ai_kimi_k3_global_fireworks.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/moonshot_ai_kimi_k3_global_fireworks.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/models/fireworks.ts
  front/types/assistant/models/models.ts
  marketing/lib/api/assistant/token_pricing.ts
  marketing/types/assistant/models/models.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors/Microsoft] Preserve newer seen timestamps
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/workflows.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] fix: prevent Manage Agents table blink on selection (#29549)
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Cap Kimi K3 usable context at 256k
  front/lib/llms/providers/fireworks/models/kimi_k3.ts
  front/lib/model_constructors/providers/fireworks/models/kimi_k3.test.ts
  front/lib/model_constructors/providers/fireworks/models/kimi_k3.ts
  front/types/assistant/models/fireworks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
