Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

docs: add implementation plan + rename finalizeSucceeded/GracefulStop functions
  x/spolu/steering/plan.md
  x/spolu/steering/steering.md
Due: biome

docs: add pending user message proposal for steering creation point
  x/spolu/steering/pending_user_message_proposal.md
Due: biome

docs: rename graceful_interruption.md to graceful_stop.md
  x/spolu/steering/graceful_stop.md
Due: biome

docs: add model rendering section + context pruning for graceful stop chains
  x/spolu/steering/graceful_stop.md
  x/spolu/steering/steering.md
Due: biome

docs: add steering proposal via pending user messages + graceful stop
  x/spolu/steering/steering.md
Due: biome

docs: rename to steering, use UserMessageContext for attribution
  x/spolu/steering/steering_proposal.md
Due: biome

docs: mark PR 1.1 as done in steering plan
  x/spolu/steering/plan.md
Due: biome

[LLM] Add AgentMessagePhase and improve OpenAI prompt cache hit rate (#23625)
  front/lib/api/llm/clients/openai/index.ts
  front/lib/api/llm/llm.ts
  front/lib/api/llm/types/events.ts
  front/lib/api/llm/types/options.ts
  front/lib/api/llm/utils/openai_like/responses/conversation_to_openai.ts
  front/lib/api/llm/utils/openai_like/responses/openai_to_events.ts
  front/package.json
  front/temporal/agent_loop/lib/get_output_from_llm.ts
  front/types/assistant/agent_message_content.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: improve scroll indicator with intersection observer
  front/components/skills/import/DetectedSkillsList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

wip
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
  front/hooks/useAgentMessageStream.ts
  front/hooks/useAnswerUserQuestion.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/statuses.ts
  front/lib/api/actions/servers/user_ask_question/index.ts
  front/lib/api/actions/servers/user_ask_question/metadata.ts
  front/lib/api/actions/servers/user_ask_question/tools/index.ts
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/lib/api/assistant/streaming/events.ts
  front/lib/api/assistant/streaming/types.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
  front/temporal/agent_loop/activities/publish_deferred_events.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/deferred_events.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

r
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

user_ask -> ask_user
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/actions/servers/user_ask_question/index.ts
  front/lib/api/actions/servers/user_ask_question/metadata.ts
  front/lib/api/actions/servers/user_ask_question/tools/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor UI
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix rename
  front/lib/api/actions/servers/ask_user_question/index.ts
  front/lib/api/actions/servers/ask_user_question/metadata.ts
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add to dust
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/tools.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

redesign
  front/hooks/useAnswerUserQuestion.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

share schema for answers
  front/lib/resources/agent_mcp_action_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve prompt
  front/lib/api/actions/servers/ask_user_question/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update snapshot
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

improve ui
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

simplify prompt
  front/lib/api/actions/servers/ask_user_question/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

simplify schema
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/ask_user_question/metadata.ts
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove const
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/ask_user_question/index.ts
  front/lib/api/actions/servers/ask_user_question/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

extract UserQuestionRequiredOutputResourceSchema
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: biome

imports
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove redundant comments
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
  front/lib/api/assistant/conversation/answer_user_question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

extract zod schemas
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve prompt
  front/lib/api/assistant/conversation/answer_user_question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve typing
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
  front/hooks/useAnswerUserQuestion.ts
  front/hooks/useChildAgentStream.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/ask_user_question/tools/index.ts
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

revised UX
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve ui
  front/components/assistant/conversation/MCPToolUserQuestion.tsx
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/types/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix logs
  front/lib/api/assistant/conversation/answer_user_question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Show agent selector for single agent mode
  front/components/agent_builder/AgentBuilderPreview.tsx
  front/components/agent_builder/AgentBuilderSidekick.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix type
  front/components/agent_builder/AgentBuilderPreview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

docs: update plan PR 1.1 to reflect finalizeAgentMessage generalization
  x/spolu/steering/plan.md
Due: biome

refactor: return { completedTs, status } from finalizeAgentMessage
  front/lib/api/assistant/conversation.ts
  front/temporal/agent_loop/activities/common.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: remove as casts, narrow with 'conversation in args' check
  front/temporal/agent_loop/activities/common.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

comment: explain in-memory agentMessage mutation after DB update
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: enforce conversation requirement via discriminated union
  front/temporal/agent_loop/activities/common.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
