Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

front-prettier:
  tags: front
  run: npm run format:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-prettier:
  tags: connectors
  run: npm run format:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

feat: fix tests
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
Due: front-prettier

[LLM_ROUTER] Opus 4.6 (#21203)
  .github/workflows/format-check.yml
  biome.json
  front/components/providers/types.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/actions/mcp_internal_actions/servers/jira/types.ts
  front/lib/api/assistant/token_pricing.ts
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/types.ts
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
  front/lib/api/llm/clients/anthropic/utils/index.test.ts
  front/lib/api/llm/clients/anthropic/utils/index.ts
  front/lib/api/llm/clients/anthropic/utils/predicates.ts
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/model_output/empty_tool_call.ts
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/model_output/reasoning.ts
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/model_output/tool_use.ts
  front/lib/api/llm/tests/llm.test.ts
  front/lib/api/poke/types.ts
  front/package.json
  front/types/assistant/models/anthropic.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/types.ts
  package-lock.json
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Refactor MCP metadata discovery to remove the need for a fork of the SDK. (#21141)
  .github/workflows/build-and-lint-connectors.yml
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-front.yml
  extension/package.json
  extension/tsconfig.json
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/types.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/mcp_oauth_error.ts
  front/lib/actions/mcp_oauth_provider.ts
  front/lib/api/actions/servers/google_drive/tools/index.test.ts
  front/lib/api/actions/servers/web_search_browse/tools/index.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/package.json
  front/pages/api/w/[wId]/mcp/discover_oauth_metadata.ts
  package-lock.json
  sdks/js/package.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Add comment
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Block-targeted suggestion rendering with decoration-only diff display (#21205)
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/editor/extensions/agent_builder/BlockIdExtension.tsx
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.test.ts
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
  front/package.json
  front/tests/utils/AgentSuggestionFactory.ts
  package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix: missing tokens in MCP in memory transport
  front/lib/actions/mcp_cached_metadata.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/mcp_metadata_extraction.ts
  front/lib/api/mcp.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

revert
  front/vite.config.mjs
Due: none

Refactor MCP to remove usage of fork (#21181)
  .github/workflows/build-and-lint-connectors.yml
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-front.yml
  extension/package.json
  extension/tsconfig.json
  front/lib/actions/mcp_cached_metadata.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/types.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/mcp_metadata_extraction.ts
  front/lib/actions/mcp_oauth_error.ts
  front/lib/actions/mcp_oauth_provider.ts
  front/lib/api/actions/servers/google_drive/tools/index.test.ts
  front/lib/api/actions/servers/web_search_browse/tools/index.ts
  front/lib/api/mcp.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/package.json
  front/pages/api/w/[wId]/mcp/discover_oauth_metadata.ts
  package-lock.json
  sdks/js/package.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Check agents restrictions when retrying a message.
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat(agents): allow searching archived in manage
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/lib/api/assistant/configuration/views.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Check agents restrictions when retrying a message. (#21183)
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Strip all spaces except the project one when updating project conversation requirements.
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Allow agents using open spaces in projects (not just global + space).
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

test
  front/lib/resources/storage/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Allow agents using open spaces in projects (not just global + space). (#21208)
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Improve status bar to make it work without the walking cat
  x/daph/dust-hive-cat/DustHiveCat/App/AppDelegate.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/CatPreferences.swift
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_1.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_2.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_3.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_4.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_5.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_6.png
  x/daph/dust-hive-cat/DustHiveCat/Views/CatView.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatWindowController.swift
  x/daph/dust-hive-cat/Scripts/bundle-app.sh
Due: none

Perf
  x/daph/dust-hive-cat/DustHiveCat/Models/RoamingBehavior.swift
Due: none

Apply feedback
  x/daph/dust-hive-cat/DustHiveCat/Models/RoamingBehavior.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatView.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatWindowController.swift
Due: none

Improve pref menu
  x/daph/dust-hive-cat/DustHiveCat/App/AppDelegate.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/CatPreferences.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/RoamingBehavior.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/PreferencesWindowController.swift
  x/daph/dust-hive-cat/README.md
Due: none

remove right click menu
  x/daph/dust-hive-cat/DustHiveCat/Views/CatView.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatWindowController.swift
Due: none

they need to sleep sometimes
  x/daph/dust-hive-cat/DustHiveCat/Models/CatState.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/RoamingBehavior.swift
  x/daph/dust-hive-cat/DustHiveCat/Resources/chalom/00_chalom_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/chawy/00_chawy_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/shiba/00_shiba_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/soupinou/00_soupinou_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/sundae/00_sundae_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Views/CatView.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatWindowController.swift
Due: none

Improve status bar
  x/daph/dust-hive-cat/DustHiveCat/App/AppDelegate.swift
  x/daph/dust-hive-cat/DustHiveCat/Resources/statusbar/icon_idle.png
Due: none

perf when hide cat
  x/daph/dust-hive-cat/DustHiveCat/Animation/CatAnimator.swift
  x/daph/dust-hive-cat/DustHiveCat/App/AppDelegate.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/RoamingBehavior.swift
  x/daph/dust-hive-cat/DustHiveCat/Views/CatWindowController.swift
Due: none

feat: move connectors to biome for lint
  biome.json
Due: none

archived tab in search
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: improve butler (#21173)
  front/lib/api/projects/butler.ts
  front/lib/api/spaces/project_journal_summary.ts
  front/temporal/project_journal_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

polish
  x/daph/dust-hive-cat/DustHiveCat/App/AppDelegate.swift
Due: none

feat: add a test to not forget to delete models in space deletion
  front/admin/db.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

use transaction
  front/lib/resources/group_space_editor_resource.ts
  front/lib/resources/storage/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

reuse helper
  front/components/pages/builder/agents/ManageAgentsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Add PostHog tracking for Academy quiz events
  front/components/academy/AcademyQuiz.tsx
  front/lib/tracking.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat(agents): allow searching archived in manage (#21209)
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/lib/api/assistant/configuration/views.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Redesign Academy embedded lesson cards
  front/components/academy/LessonLink.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Make entire lesson card clickable
  front/components/academy/LessonLink.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Align lesson page design with course page
  front/pages/academy/lessons/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

more info on readme
  x/daph/dust-hive-cat/DustHiveCat/Resources/chalom/00_chalom_notification.png
  x/daph/dust-hive-cat/README.md
Due: none

[front] Render objectives as markdown and add category to lesson cards
  front/components/academy/LessonLink.tsx
  front/lib/contentful/client.ts
  front/lib/contentful/richTextRenderer.tsx
  front/pages/academy/[slug].tsx
  front/pages/academy/lessons/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Remove legacy Redis-based programmatic usage tracking
  front/lib/api/programmatic_usage/tracking.test.ts
  front/lib/api/programmatic_usage/tracking.ts
  front/lib/api/workspace.ts
  front/migrations/20251126_backfill_programmatic_usage_configurations.ts
  front/migrations/20251202_fix_programmatic_credits_cents_conversion.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Path conditions:
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  front-prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml} and ^front/
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml} and ^connectors/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
