Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

List folder children in Sharepoint
  front/lib/api/actions/servers/microsoft_drive/metadata.ts
  front/lib/api/actions/servers/microsoft_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: cache workspace-wide metronome aggregates for members-usage (#26346)
  front/lib/api/credits/members_usage.ts
  front/lib/metronome/alerts/spend_limits.ts
  front/lib/metronome/per_user_usage.ts
  front/lib/metronome/seats.ts
  front/lib/resources/key_resource.test.ts
  front/lib/resources/membership_resource.test.ts
  front/lib/resources/subscription_resource.test.ts
  front/lib/resources/user_resource.test.ts
  front/lib/resources/workspace_resource.test.ts
  front/lib/utils/cache.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

coding rules
  front/lib/api/actions/servers/microsoft_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: align logs attributes (#26365)
  connectors/src/lib/temporal_monitoring.ts
  connectors/src/logger/logger.ts
  front/lib/temporal_monitoring.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

update file pattern
  biome.json
Due: biome

fix test
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

[front] feat: version workspace resource cache key
  front/lib/resources/workspace_resource.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Pricing card + comparison table polish
  front/pages/home/pricing.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

List folder children in Sharepoint (#26366)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/microsoft_drive/metadata.ts
  front/lib/api/actions/servers/microsoft_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add reminderSentAt to membership invitations
  front/lib/models/membership_invitation.ts
  front/lib/resources/membership_invitation_resource.ts
  front/migrations/pre-deploy/20260528153539_invitation_resent_at.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: display save to pod erros (#26361)
  front-api/routes/w/[wId]/files/[fileId]/save-in-project.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix serialization
  front/lib/production_checks/checks/check_active_workflows_for_connectors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix typing
  front/lib/production_checks/checks/check_active_workflows_for_connectors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bump version of workspace cache
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Support canonical scoped paths in conversation file utils
  front/lib/actions/mcp_internal_actions/utils/file_utils.test.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

:see-no-evil:
  front/lib/production_checks/checks/check_active_workflows_for_connectors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: drop sid segment and move version before workspace id in cache key
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: harden Temporal workflow ID list queries (#26373)
  front/lib/production_checks/checks/check_active_workflows_for_connectors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove deprecated activityName/workflowName log attributes
  connectors/src/connectors/github/temporal/activities/sync_code.ts
  connectors/src/lib/temporal_monitoring.ts
  connectors/src/logger/logger.ts
  front/lib/temporal_monitoring.ts
  front/temporal/agent_loop/lib/workflow_failures.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Fix auth fromjson test
  front/lib/auth.fromjson.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(scripts): improve generate-migration output
  front/scripts/generate-migration.sh
Due: none

[front] feat: version workspace resource cache key (#26368)
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

🐒
  front/pages/api/v1/viz/files/[...segments].ts
  front/pages/api/v1/viz/files/segments.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Revert "Revert "Pricing: add limit events to know when we are close to worksp…" (#26364)
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/user_block.test.ts
  front/lib/metronome/user_block.ts
  front/lib/metronome/workspace_credit_state_machine.test.ts
  front/lib/metronome/workspace_credit_state_machine.ts
  front/scripts/metronome_setup.ts
  front/types/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "Revert "Add rate limit when credits pool balance is low" (#26359)"
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address comments from review.
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove deprecated activityName/workflowName log attributes (#26370)
  connectors/src/connectors/github/temporal/activities/sync_code.ts
  connectors/src/lib/temporal_monitoring.ts
  connectors/src/logger/logger.ts
  front/lib/temporal_monitoring.ts
  front/temporal/agent_loop/lib/workflow_failures.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front] support create-time skill self-improvement
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/pages/api/w/[wId]/skills/index.test.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] persist Skill Builder self-improvement on create
  front/components/skill_builder/skillFormData.test.ts
  front/components/skill_builder/skillFormData.ts
  front/components/skill_builder/submitSkillBuilderForm.test.ts
  front/components/skill_builder/submitSkillBuilderForm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] show self-improvement for new skills
  front/components/skill_builder/SkillBuilderSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Route viz frame file-serving through DustFileSystem (#26344)
  front-api/routes/v1/viz/files/[...segments].ts
  front-api/routes/w/[wId]/files/path.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/lib/api/file_system/dust_file_system.test.ts
  front/lib/api/file_system/dust_file_system.ts
  front/lib/api/files/mount_path.ts
  front/lib/resources/file_resource.ts
  front/pages/api/v1/viz/files/[...segments].ts
  front/pages/api/v1/viz/files/segments.test.ts
  front/pages/api/w/[wId]/files/path/[...canonicalPath].ts
  front/pages/api/w/[wId]/files/path/canonicalPath.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Fix auth fromjson test (#26377)
  front/lib/auth.fromjson.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: invalidate paginated members-usage caches after mutations
  front/lib/swr/memberships.ts
  front/lib/swr/usage_settings.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: tolerate NaN timestamps in Clari call details response
  front/lib/api/actions/servers/clari_copilot/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(scripts): add multi-region migration helper script
  scripts/run-migrations.sh
Due: none

fix: tests
  front/lib/actions/mcp_internal_actions/input_configuration.test.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/project_configuration_uri.ts
  front/lib/actions/tool_approval_labels.test.ts
  front/lib/actions/tool_approval_labels.ts
  front/lib/api/actions/servers/pod_manager/helpers.ts
  front/lib/api/actions/servers/pod_manager/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: rename pod uri and mimetype for tool inputs
  front/components/assistant/conversation/tool_validation/usePodLabel.ts
  front/lib/actions/mcp_internal_actions/input_configuration.test.ts
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/actions/mcp_internal_actions/input_schemas.ts
  front/lib/actions/mcp_internal_actions/project_configuration_uri.ts
  front/lib/actions/mcp_internal_actions/tools/utils.ts
  front/lib/actions/tool_approval_labels.test.ts
  front/lib/actions/tool_approval_labels.ts
  front/lib/api/actions/servers/pod_manager/helpers.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/types.ts
  sdks/js/src/internal_mime_types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: rename file to pod
  front/lib/actions/mcp_internal_actions/pod_configuration_uri.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
