Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Show archived run-agent names in errors
  front/lib/api/actions/servers/run_agent/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(composer): stop agent picker flashing at top-left on first select (#28424)
  front/components/assistant/AgentPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Place the message cache breakpoint on the equipped skills message when present, on the trailing user message otherwise
  front/lib/api/llm/transitionLLM.test.ts
  front/lib/api/llm/transitionLLM.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fade collapsed thinking step to panel-background
  front/components/assistant/conversation/actions/inline/ThinkingStep.module.css
Due: biome

Address extract data review comments
  front/lib/api/actions/servers/extract_data/metadata.ts
  front/lib/api/actions/servers/extract_data/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update extract data tests for tool context
  front/lib/api/actions/servers/extract_data/tools/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add generic MCP tools seed scenario
  front/scripts/seed/README.md
  front/scripts/seed/mcp_tools/README.md
  front/scripts/seed/mcp_tools/seed.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix MCP seed identifier names
  front/scripts/seed/mcp_tools/seed.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] SkillResource layers: introduce SkillResourceBase
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill/skill_resource_base.ts
  front/lib/resources/skill/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pricing: display period and prorated period below each seat line of the bill
  front-api/routes/w/[wId]/metronome/invoice.ts
  front/components/workspace/billing/NextInvoicePreview.tsx
  front/lib/metronome/invoice.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: make pptx_inspect better with templates
  front/lib/api/sandbox/image/profile/soffice/pptx_inspect.py
  front/lib/api/sandbox/image/profile/soffice/render.py
  front/lib/api/sandbox/image/profile/soffice_tests/test_render.py
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/pptx.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: Add bounding boxes to pptx inspect
  front/lib/api/sandbox/image/profile/soffice/pptx_geometry.py
  front/lib/api/sandbox/image/profile/soffice/pptx_inspect.py
  front/lib/api/sandbox/image/profile/soffice/pptx_render_boxes.py
  front/lib/api/sandbox/image/profile/soffice_tests/test_render_boxes.py
Due: none

[front] feat: Add pptx typography feedbackloop (#28366)
  front/lib/api/sandbox/image/profile/soffice/pptx_inspect.py
  front/lib/api/sandbox/image/profile/soffice/pptx_typography.py
  front/lib/api/sandbox/image/profile/soffice_tests/test_typography.py
Due: none

[front] SkillResource layers: convert editors module to SkillResourceWithEditors
  front/lib/resources/skill/skill_editors.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill/skill_resource_editors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Mark the trailing tool result with a cache breakpoint on Vertex in the legacy Anthropic client
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.test.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(triggers): let a trigger run its conversation inside a Pod
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/triggers/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/triggers/index.ts
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/components/agent_builder/triggers/TriggerPodSelector.tsx
  front/components/agent_builder/triggers/schedule/ScheduleEditionSheet.tsx
  front/components/agent_builder/triggers/schedule/scheduleEditionFormSchema.ts
  front/components/agent_builder/triggers/webhook/WebhookEditionSheet.tsx
  front/components/agent_builder/triggers/webhook/webhookEditionFormSchema.ts
  front/lib/models/agent/triggers/triggers.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/trigger_resource.ts
  front/migrations/pre-deploy/20260702092329_add_space_id_to_triggers.sql
  front/poke/temporal/activities.ts
  front/temporal/triggers/activities.ts
  front/types/assistant/triggers.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] SkillResource layers: add references, conversations and agents layers
  front/lib/resources/skill/skill_agents.ts
  front/lib/resources/skill/skill_conversations.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill/skill_resource_agents.ts
  front/lib/resources/skill/skill_resource_conversations.ts
  front/lib/resources/skill/skill_resource_references.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] SkillResource layers: add updates and lifecycle layers
  front/lib/resources/skill/skill_lifecycle.ts
  front/lib/resources/skill/skill_references.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill/skill_resource_lifecycle.ts
  front/lib/resources/skill/skill_resource_updates.ts
  front/lib/resources/skill/skill_updates.ts
  front/lib/resources/skill/skill_versions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add design spec for connector CLI Poke plugin
  docs/superpowers/specs/2026-07-03-connector-cli-poke-plugin-design.md
Due: biome

[front] feat: Add bounding boxes to pptx inspect (#28367)
  front/lib/api/sandbox/image/profile/soffice/pptx_geometry.py
  front/lib/api/sandbox/image/profile/soffice/pptx_inspect.py
  front/lib/api/sandbox/image/profile/soffice/pptx_render_boxes.py
  front/lib/api/sandbox/image/profile/soffice_tests/test_render_boxes.py
Due: none

[front] feat: add template compare to pptx inspect
  front/lib/api/sandbox/image/profile/soffice/pptx_audit.py
  front/lib/api/sandbox/image/profile/soffice/pptx_inspect.py
  front/lib/api/sandbox/image/profile/soffice_tests/test_audit.py
Due: none

Add implementation plan for connector CLI Poke plugin
  docs/superpowers/plans/2026-07-03-connector-cli-poke-plugin.md
  docs/superpowers/specs/2026-07-03-connector-cli-poke-plugin-design.md
Due: biome

chore(scripts): add qdrant shards-by-peer mapping script
  scripts/qdrant_shards_by_peer.sh
Due: none

refactor(connectors): extract side-effect-free admin CLI program builder
  connectors/src/admin/cli.ts
  connectors/src/admin/cli_program.ts
Due: connectors-typecheck, biome, connectors-eslint

chore(scripts): lower qdrant shards-by-peer default MAX_ATTEMPTS to 100
  scripts/qdrant_shards_by_peer.sh
Due: none

Opt: custom method to optimize fetching what's needed to render the conversations list in a pod.
  front-api/routes/w/[wId]/assistant/conversations/spaces/[spaceId]/index.ts
  front/components/assistant/conversation/utils.ts
  front/components/pod/PodPageContent.tsx
  front/components/pod/conversation/PodConversationListItem.tsx
  front/components/pod/conversation/PodConversationsTab.tsx
  front/hooks/conversations/usePodConversations.ts
  front/lib/api/projects/conversations.test.ts
  front/lib/api/projects/conversations.ts
  front/types/api/assistant/conversation/spaces.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Opt: custom method to optimize fetching what's needed to render the conversations list in a pod. (#28425)
  front-api/routes/w/[wId]/assistant/conversations/spaces/[spaceId]/index.ts
  front/components/assistant/conversation/utils.ts
  front/components/pod/PodPageContent.tsx
  front/components/pod/conversation/PodConversationListItem.tsx
  front/components/pod/conversation/PodConversationsTab.tsx
  front/hooks/conversations/usePodConversations.ts
  front/lib/api/projects/conversations.test.ts
  front/lib/api/projects/conversations.ts
  front/types/api/assistant/conversation/spaces.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(connectors): add admin CLI command catalog introspection
  connectors/src/lib/admin/catalog.test.ts
  connectors/src/lib/admin/catalog.ts
  connectors/src/types/admin/catalog.ts
  connectors/src/types/index.ts
Due: connectors-typecheck, biome, connectors-eslint

feat(connectors): add admin catalog and non-whitelisted run endpoints
  connectors/src/api/admin.ts
  connectors/src/api_server.ts
Due: connectors-typecheck, biome, connectors-eslint

Add HubSpot create ticket tool (#28431)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/hubspot/client.ts
  front/lib/api/actions/servers/hubspot/metadata.ts
  front/lib/api/actions/servers/hubspot/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add ConnectorsAPI catalog + raw admin run methods
  front/types/connectors/admin/catalog.ts
  front/types/connectors/connectors_api.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pricing: display period and prorated period below each seat line of the bill (#28430)
  front-api/routes/w/[wId]/metronome/invoice.ts
  front/components/workspace/billing/NextInvoicePreview.tsx
  front/lib/metronome/invoice.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add poke connectors CLI catalog route and SWR hook
  front-api/routes/poke/connectors/cli-catalog.ts
  front-api/routes/poke/connectors/index.ts
  front/poke/swr/plugins.ts
  front/types/api/poke/connectors/cli_catalog.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add run-connector-cli-command poke plugin
  front/lib/api/poke/plugins/global/args_json.test.ts
  front/lib/api/poke/plugins/global/args_json.ts
  front/lib/api/poke/plugins/global/index.ts
  front/lib/api/poke/plugins/global/run_connector_cli_command.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Correlate Anthropic tool search logs (#28228)
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/output/tool_search_logging.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/output/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add dedicated connector CLI command form
  front/components/poke/plugins/ConnectorCliCommandForm.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(scripts): add scrub_agent script for GDPR agent purge
  front/scripts/scrub_agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
