Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Move For You toggle into its own settings section.
  front/components/UserSettingsPopover.tsx
  front/components/me/NotificationPreferences.tsx
  front/components/pages/workspace/GetStartedPage/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Private Slack channel selection for default agents (#30471)
  front-api/routes/w/[wId]/assistant/builder/slack/index.ts
  front-api/routes/w/[wId]/assistant/builder/slack/user_private_channels.test.ts
  front-api/routes/w/[wId]/assistant/builder/slack/user_private_channels.ts
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
  front/lib/api/assistant/builder/slack/user_private_channels.ts
  front/lib/swr/assistants.ts
  front/types/api/assistant/builder/slack/user_private_channels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move file system types to shared module
  front/lib/api/actions/servers/files/tools/list.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/assistant/plan_mode.ts
  front/lib/api/file_system/backends/file_system_backend.ts
  front/lib/api/file_system/backends/gcs_file_system_backend.ts
  front/lib/api/file_system/dust_file_system.ts
  front/lib/api/file_system/index.ts
  front/lib/api/file_system/types.ts
  front/lib/api/files/action_output_fs/index.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/api/projects/apps.ts
  front/lib/api/projects/constants.ts
  front/lib/api/projects/context.ts
  front/lib/api/projects/pod_frame_file.ts
  front/lib/api/projects/request_incremental_sync.ts
  front/lib/api/sandbox/pod_mounts.ts
  front/lib/api/sandbox_functions/dsbx_db.ts
  front/lib/api/user_memory.ts
  front/temporal/agent_loop/lib/compaction.ts
  front/types/file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ungate Slack auto-respond without mention for all workspaces.
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Harden filesystem content uploads
  design_docs/FILE_SYSTEM_CONTENT_FOLLOW_UPS.md
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/file_storage/file_system_blobs.ts
  front/lib/resources/file_system_blob_cleanup_resource.test.ts
  front/lib/resources/file_system_blob_cleanup_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add For You email opt-out and click tracking (#30531)
  front/components/UserSettingsPopover.tsx
  front/components/me/NotificationPreferences.tsx
  front/components/pages/workspace/GetStartedPage/index.tsx
  front/lib/notifications/triggers/project-new-conversation.test.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/activation-new-conversation.ts
  front/lib/tracking/campaigns.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep filesystem content follow-ups local
  design_docs/FILE_SYSTEM_CONTENT_FOLLOW_UPS.md
Due: biome

Reuse the shared file storage test mock
  front/lib/api/file_system/namespace.test.ts
  front/lib/resources/file_system_blob_cleanup_resource.test.ts
  front/lib/resources/file_system_blob_cleanup_resource.ts
  front/lib/resources/file_system_node_resource.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Explain filesystem content encoding check
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem namespace creation (#30585)
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_scope.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ungate Slack auto-respond without mention for all workspaces. (#30588)
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep scoped path helpers separate from file system types
  front/components/file_explorer/FilePreviewDialog.tsx
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/files/tools/utils.ts
  front/lib/api/files/mount_path.test.ts
  front/lib/api/files/mount_path.ts
  front/lib/api/sandbox_functions/slug.ts
  front/lib/api/viz/authorized_file_access.ts
  front/lib/api/viz/authorized_file_access_policy.ts
  front/lib/api/viz/extract_file_refs.ts
  front/lib/api/viz/share_frame_viewer_files.ts
  front/lib/resources/file_resource.ts
  front/types/file_system.ts
  front/types/scoped_file_path.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Hide Learning Space from pods (#30577)
  front/components/assistant/conversation/SidebarMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Activation] Sample from the user's work and plan Skill/Trigger rungs
  front/lib/api/actions/servers/activation_recommendations/metadata.ts
  front/lib/resources/skill/code_defined/global/activation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): request_egress_domain tool and publish-time domain requests
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.test.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem namespace content (#30589)
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/file_storage/file_system_blobs.ts
  front/lib/file_storage/index.ts
  front/lib/resources/file_system_blob_cleanup_resource.test.ts
  front/lib/resources/file_system_blob_cleanup_resource.ts
  front/lib/resources/file_system_node_resource.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): request_egress_domain tool and publish-time domain requests (#30529)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.test.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): light up the egress domain-request admin surface (pod + workspace)
  front-api/routes/w/[wId]/sandbox/egress-policy.test.ts
  front-api/routes/w/[wId]/sandbox/egress-policy.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/sandbox/egress-policy.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/sandbox/egress-policy.ts
  front/components/pages/workspace/developers/sections/NetworkSection.tsx
  front/components/pod/settings/PodNetworkSection.tsx
  front/components/sandbox/EgressDomainListEditor.tsx
  front/lib/swr/pods.ts
  front/lib/swr/sandbox.ts
  front/tests/utils/mocks/file_storage.ts
  front/types/api/sandbox/egress_policy.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Activation] Sample from the user's work and plan Skill/Trigger rungs (#30592)
  front/lib/api/actions/servers/activation_recommendations/metadata.ts
  front/lib/resources/skill/code_defined/global/activation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): light up the egress domain-request admin surface (pod + workspace) (#29347)
  front-api/routes/w/[wId]/sandbox/egress-policy.test.ts
  front-api/routes/w/[wId]/sandbox/egress-policy.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/sandbox/egress-policy.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/sandbox/egress-policy.ts
  front/components/pages/workspace/developers/sections/NetworkSection.tsx
  front/components/pod/settings/PodNetworkSection.tsx
  front/components/sandbox/EgressDomainListEditor.tsx
  front/lib/swr/pods.ts
  front/lib/swr/sandbox.ts
  front/tests/utils/mocks/file_storage.ts
  front/types/api/sandbox/egress_policy.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem executable bit updates
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem executable bit updates (#30593)
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem namespace rename
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify filesystem rename comments
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Explain filesystem rename lock
  front/lib/resources/file_system_mutation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Trim filesystem lock comment
  front/lib/resources/file_system_mutation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add POSIX rename and move to the filesystem namespace (#30590)
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem namespace removal
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filesystem namespace removal (#30591)
  front/lib/api/file_system/namespace.test.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/resources/file_system_mutation_resource.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(marketing): Add Ulysse Levallois to team page + as an author
  .authors
  marketing/components/home/content/shared/team.ts
Due: biome

Add Rust client for Dust filesystem
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/filesystem/client.rs
  cli/dust-sandbox/src/commands/filesystem/client/tests.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/mod.rs
Due: none

Add local store for Dust filesystem
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/filesystem/inode.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/filesystem/store.rs
  cli/dust-sandbox/src/commands/filesystem/store/tests.rs
Due: none

Add Dust filesystem mount
  cli/dust-sandbox/docs/database-filesystem.md
  cli/dust-sandbox/src/commands/filesystem/fuse.rs
  cli/dust-sandbox/src/commands/filesystem/fuse/tests.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/filesystem/mount.rs
  cli/dust-sandbox/src/commands/filesystem/supervise.rs
  cli/dust-sandbox/src/main.rs
  cli/dust-sandbox/tests/filesystem_benchmark.ts
  cli/dust-sandbox/tests/filesystem_fuse_acceptance.sh
  cli/dust-sandbox/tests/filesystem_shared_namespace_benchmark.ts
Due: biome

Record Dust filesystem PoC verification
  docs/dust-filesystem-poc-progress.md
Due: biome

Split Dust FUSE callbacks
  cli/dust-sandbox/docs/database-filesystem.md
  cli/dust-sandbox/src/commands/filesystem/fuse.rs
  cli/dust-sandbox/src/commands/filesystem/fuse/operations.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
Due: biome

Update Rust filesystem branch status
  docs/dust-filesystem-poc-progress.md
Due: biome

Send signed filesystem upload headers
  cli/dust-sandbox/src/commands/filesystem/client.rs
  cli/dust-sandbox/src/commands/filesystem/client/tests.rs
Due: none

Record live filesystem benchmark
  cli/dust-sandbox/docs/database-filesystem.md
Due: biome

Test executable filesystem bits
  cli/dust-sandbox/tests/filesystem_fuse_acceptance.sh
Due: none

Record final filesystem qualification
  cli/dust-sandbox/docs/database-filesystem.md
Due: biome
