Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

refactor(front): remove FREE_BYOK_TRANSITIONING plan
  front/components/navigation/AppStatusBanner.tsx
  front/lib/api/assistant/models.ts
  front/lib/api/provider_credentials.ts
  front/lib/plans/plan_codes.ts
  front/lib/plans/pro_plans.ts
  marketing/lib/plans/plan_codes.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): remove use_dust_keys feature flag
  front/lib/api/provider_credentials.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): catch Customer.io signup tracking rejection instead of panicking (#32448)
  front/lib/tracking/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): keep vertex project id out of byok credentials
  front/lib/api/provider_credentials.test.ts
  front/lib/api/provider_credentials.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

revert to dust_only
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(core): refuse dust-managed credential fallback for byok runs
  core/src/providers/anthropic/backend.rs
  core/src/providers/azure_openai.rs
  core/src/providers/deepseek.rs
  core/src/providers/fireworks.rs
  core/src/providers/mistral.rs
  core/src/providers/openai.rs
  core/src/providers/xai.rs
  core/src/run.rs
Due: none

feat(front): mark byok workspace credentials with DUST_BYOK
  front/lib/api/provider_credentials.test.ts
  front/lib/api/provider_credentials.ts
  front/types/provider_credential.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): never inject the eap anthropic key for byok workspaces
  front/lib/api/llm/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: preview files in the side panel
  front/components/agent_builder/AgentBuilder.tsx
  front/components/assistant/AgentMessageMarkdown.integration.test.tsx
  front/components/assistant/conversation/AgentMessage.compactUIView.test.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.test.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/FilePreviewContext.test.tsx
  front/components/assistant/conversation/FilePreviewContext.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/PreviewableCitation.tsx
  front/components/assistant/conversation/files_panel/ConversationFileExplorer.tsx
  front/components/assistant/conversation/files_panel/ConversationFilesPanel.tsx
  front/components/assistant/conversation/files_panel/FilePreviewPanel.tsx
  front/components/file_explorer/FilePreviewBody.tsx
  front/components/file_explorer/FilePreviewContent.tsx
  front/components/file_explorer/FilePreviewDialog.tsx
  front/components/file_explorer/useMarkdownFileEditor.ts
  front/components/markdown/FilePreviewBlock.test.tsx
  front/components/pod/PodPageContent.tsx
  front/components/workspace/analytics/AnalyticsConversationPanel.tsx
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use Resource instance updates for sharing grants
  front/lib/resources/base_resource.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/key_resource.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/sharing_grant_resource.test.ts
  front/lib/resources/sharing_grant_resource.ts
  front/lib/resources/user_resource.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

enh: no preview affordance without a conversation
  front/components/agent_builder/AgentBuilderPreview.tsx
  front/components/assistant/AgentMessageMarkdown.integration.test.tsx
  front/components/assistant/UserMessageMarkdown.integration.test.tsx
  front/components/assistant/conversation/ConversationSidePanelContainer.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/FilePreviewContext.test.tsx
  front/components/assistant/conversation/FilePreviewContext.tsx
  front/components/assistant/conversation/attachment/PreviewableCitation.tsx
  front/components/markdown/FilePreviewBlock.test.tsx
  front/components/workspace/analytics/AnalyticsConversationPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bound PDF OCR verification
  front/lib/resources/skill/code_defined/global/pdf.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): hide eap models from byok workspaces
  front/lib/api/llm/index.test.ts
  front/lib/api/llm/index.ts
  front/lib/assistant.test.ts
  front/lib/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] ConversationFontProvider: adopt the server value during render
  front/components/sparkle/ConversationFontContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: consume pending consumption outbox rows
  front/lib/resources/agent_message_consumption_event_resource.test.ts
  front/lib/resources/agent_message_consumption_event_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep legacy OAuth callbacks for data connectors (#32451)
  front-api/routes/w/[wId]/oauth/[provider]/redirect_uri.ts
  front-api/routes/w/[wId]/oauth/[provider]/setup.test.ts
  front/lib/actions/mcp_oauth_provider.test.ts
  front/lib/api/config.test.ts
  front/lib/api/config.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/utils.test.ts
  front/lib/api/oauth/utils.ts
  front/lib/swr/oauth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Return validation errors when adding sharing grants
  front-api/routes/w/[wId]/files/[fileId]/share/grants.test.ts
  front-api/routes/w/[wId]/files/[fileId]/share/grants.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/sharing_grant_resource.test.ts
  front/lib/resources/sharing_grant_resource.ts
  front/tests/utils/SharingGrantFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep PDF work in the Computer
  front/lib/resources/skill/code_defined/global/pdf.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove the enable_new_usage_page feature flag (#32384)
  front/components/pages/workspace/UsagePage.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Prvent creating group when members are not valid
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

display role granted by group + explicit message for maanger on admin group
  front/lib/api/actions/servers/workspace_management/metadata.ts
  front/lib/api/actions/servers/workspace_management/tools/index.test.ts
  front/lib/api/actions/servers/workspace_management/tools/list_groups.ts
  front/lib/api/actions/servers/workspace_management/tools/update_group_members.ts
  front/tests/utils/GroupFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

workspace management MCP: add functions to manage groups
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/workspace_management/index.ts
  front/lib/api/actions/servers/workspace_management/metadata.ts
  front/lib/api/actions/servers/workspace_management/tools/create_group.ts
  front/lib/api/actions/servers/workspace_management/tools/get_group_members.ts
  front/lib/api/actions/servers/workspace_management/tools/index.test.ts
  front/lib/api/actions/servers/workspace_management/tools/index.ts
  front/lib/api/actions/servers/workspace_management/tools/list_groups.ts
  front/lib/api/actions/servers/workspace_management/tools/update_group_members.ts
  front/types/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify now-always-true isNewUsagePage checks in UsagePage
  front/components/pages/workspace/UsagePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use example.com in sharing grant examples
  front-api/routes/w/[wId]/files/[fileId]/share/grants.test.ts
  front/lib/resources/sharing_grant_resource.test.ts
  front/types/sharing_grants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: define the skills Elasticsearch index
  front/lib/api/elasticsearch.ts
  front/lib/skill_search/indices/skills_1.mappings.json
  front/lib/skill_search/indices/skills_1.settings.europe-west1.json
  front/lib/skill_search/indices/skills_1.settings.local.json
  front/lib/skill_search/indices/skills_1.settings.us-central1.json
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: use ICU analysis for skill-name autocomplete
  front/lib/skill_search/indices/skills_1.mappings.json
  front/lib/skill_search/indices/skills_1.settings.europe-west1.json
  front/lib/skill_search/indices/skills_1.settings.local.json
  front/lib/skill_search/indices/skills_1.settings.us-central1.json
Due: biome

[front] chore: clarify skill search mapping field names
  front/lib/skill_search/indices/skills_1.mappings.json
Due: biome

[front] chore: remove index registry contract annotation
  front/lib/api/elasticsearch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: preserve whole-name and Unicode skill search matches
  front/lib/skill_search/indices/skills_1.mappings.json
  front/lib/skill_search/indices/skills_1.settings.europe-west1.json
  front/lib/skill_search/indices/skills_1.settings.local.json
  front/lib/skill_search/indices/skills_1.settings.us-central1.json
Due: biome

[front] Index skill creation time without extra metadata
  front/lib/skill_search/indices/skills_1.mappings.json
Due: biome

[front] Rename skill name word filter to include preserve
  front/lib/skill_search/indices/skills_1.settings.europe-west1.json
  front/lib/skill_search/indices/skills_1.settings.local.json
  front/lib/skill_search/indices/skills_1.settings.us-central1.json
Due: biome

Remove editor group IDs from the skill search mapping
  front/lib/skill_search/indices/skills_1.mappings.json
Due: biome

[front] Simplify skill search mapped fields
  front/lib/skill_search/indices/skills_1.mappings.json
Due: biome

[front] Rename filter to skill_name_preserve_words
  front/lib/skill_search/indices/skills_1.settings.europe-west1.json
  front/lib/skill_search/indices/skills_1.settings.local.json
  front/lib/skill_search/indices/skills_1.settings.us-central1.json
Due: biome

feat(front): record byok runs as using workspace credentials
  front/lib/api/llm/llm.ts
  front/lib/api/llm/run_lifecycle.test.ts
  front/lib/api/llm/run_lifecycle.ts
  front/lib/api/provider_credentials.ts
  front/lib/api/run.ts
  front/lib/resources/storage/models/runs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: add MCP to update skill/agent with only update skill tool (#32443)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/actions/servers/building_agents_and_skills/CONTRACTS
  front/lib/api/actions/servers/building_agents_and_skills/index.ts
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest_skill_update.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
  front/lib/resources/skill_suggestion_resource.ts
  front/types/shared/feature_flags.ts
  front/types/suggestions/skill_suggestion.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: serialize skills as search documents
  front/lib/resources/skill/skill_resource.document.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/types/skill_search/skill_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove redaction guard from skill search serialization
  front/lib/resources/skill/skill_resource.document.test.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove editor group IDs from skill search documents
  front/lib/resources/skill/skill_resource.document.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/types/skill_search/skill_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use user string IDs in skill search documents
  front/lib/resources/skill/skill_resource.document.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/types/skill_search/skill_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
