Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Set cache TTL for fetchGcsContent to 15 minutes to cover >80% of messages
  front/lib/resources/agent_mcp_action/output_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reduce run tool caching
  front/types/assistant/agent_run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: SandboxImage tool manifest (#22552)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/sandbox/image/dust-base.ts
  front/lib/api/sandbox/image/index.ts
  front/lib/api/sandbox/image/sandbox_image.test.ts
  front/lib/api/sandbox/image/sandbox_image.ts
  front/lib/api/sandbox/image/tool_manifest.test.ts
  front/lib/api/sandbox/image/tool_manifest.ts
  front/lib/api/sandbox/image/types.ts
  front/lib/api/sandbox/providers/e2b_template.test.ts
  front/lib/api/sandbox/providers/e2b_template.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): make gpt-5.4 the default OpenAI model
  front/components/agent_builder/instructions/utils.ts
  front/components/providers/types.ts
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/configurations/openai.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/token_pricing.ts
  front/lib/api/llm/clients/openai/types.ts
  front/lib/api/llm/tests/llm.test.ts
  front/types/assistant/assistant.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/openai.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add medium and high dust-oai variants
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Copilot highlight and dark mode fixes (#22654)
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

style(front): apply biome formatting for deep-dive imports
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): omit thinking display in adaptive thinking config
  front/lib/api/llm/clients/anthropic/utils/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): replace Anthropic SDK streaming with direct API fetch
  front/lib/api/llm/clients/anthropic/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): make gpt-5.4 the default OpenAI model (#22656)
  front/components/agent_builder/instructions/utils.ts
  front/components/providers/types.ts
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/configurations/openai.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/assistant/token_pricing.ts
  front/lib/api/llm/clients/openai/types.ts
  front/lib/api/llm/tests/llm.test.ts
  front/types/assistant/assistant.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/openai.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(llm): update adaptive thinking assertions to expect display omitted
  front/lib/api/llm/clients/anthropic/utils/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Temporary rely on slack message event over app_mention
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Temporary rely on slack message event over app_mention (#22657)
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix extra line in instruction card
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: remove poppler from connectors Docker image
  connectors/admin/docker_build/install_poppler_tools.sh
  dockerfiles/connectors.Dockerfile
Due: none

[copilot] refactor processedSuggestions (#22522)
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/copilot/SuggestionBubbleMenu.tsx
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/lib/swr/agent_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: remove poppler from connectors Docker image (#22659)
  connectors/admin/docker_build/install_poppler_tools.sh
  dockerfiles/connectors.Dockerfile
Due: none

🙈
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Only answer to app mentions
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Revert "Temporary rely on slack message event over app_mention (#22657)"
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Revert "🙈"
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Revert "Only answer to app mentions"
  connectors/src/api/webhooks/webhook_slack_bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix extra line in instruction card (#22658)
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add quick replies to sidekick
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add quick replies to sidekick (#22661)
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move registerEditor to a safer call spot, reduce reliance on rAF timing for suggestion editor
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move registerEditor to a safer call spot, reduce reliance on rAF timing for suggestion editor (#22664)
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Block highlight should span whole suggestion, not appear in cards
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small formatting change for quick reply
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Auto populate agent name for sidekick template use case
  front/components/agent_builder/transformAgentConfiguration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Block highlight should span whole suggestion, not appear in cards (#22665)
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small formatting change for quick reply (#22666)
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Auto populate agent name for sidekick template use case (#22667)
  front/components/agent_builder/transformAgentConfiguration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: simplify dust global agent complexity classification prompt
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: enable Go Deep skill on explicit deep dive requests
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: deduplicate simpleRequests/complexRequests prompt sections
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small template prompt tweak
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small template prompt tweak (#22668)
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
