Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

feat: add groupIds to feature flags
  front/lib/models/feature_flag.ts
  front/migrations/db/migration_567.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add groupId to feature flags
  front/lib/auth.test.ts
  front/lib/auth.ts
  front/lib/resources/feature_flag_resource.ts
  front/tests/utils/FeatureFlagFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add a poke plugin to handel FF by groups
  front/components/poke/features/columns.tsx
  front/components/poke/features/table.tsx
  front/lib/api/poke/plugins/workspaces/audit_user_feature_flags.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
  front/pages/api/poke/workspaces/[wId]/features.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

review feedback
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: enforce coding rule BACK10 on branch ID tests (#23900)
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation/branches.test.ts
  front/lib/resources/conversation_branch_resource.test.ts
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add poke view to skills to list suggestions
  front/components/poke/pages/SkillDetailsPage.tsx
  front/components/poke/skill_suggestions/columns.tsx
  front/components/poke/skill_suggestions/table.tsx
  front/pages/api/poke/workspaces/[wId]/skills/[sId]/suggestions.test.ts
  front/pages/api/poke/workspaces/[wId]/skills/[sId]/suggestions.ts
  front/poke/swr/skill_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: remove unused isSkillToolsSuggestion typeguard
  front/types/suggestions/skill_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: respect BACK10 for messageId (#23916)
  front/components/assistant/conversation/ConversationViewer.tsx
  front/lib/api/actions/servers/agent_sidekick_context/agent_sidekick_context.test.ts
  front/lib/api/assistant/activity_steps.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/branches.test.ts
  front/lib/api/assistant/conversation/branches.ts
  front/lib/api/assistant/email/email_reply.ts
  front/lib/api/llm/batch_llm.ts
  front/pages/api/poke/global-agent-feedbacks/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/branches/[bId]/merge.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/branches/[bId]/merge.ts
  front/scripts/seed/factories/seedFeedbacks.ts
  front/scripts/seed/factories/types.ts
  front/scripts/seed/reinforced-agents/assets/feedbacks.json
  front/scripts/seed/sidekick/assets/feedbacks.json
  front/temporal/reinforced_agent/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: remove unused buildContinuationMessages export and unexport REINFORCED_SKILL_ANALYSIS_SECTIONS
  front/lib/reinforced_skills/analyze_conversation.ts
  front/lib/reinforced_skills/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ungate Frame Sharing Settings
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - feat(analytics): new analytics GA (#23889)
  front/components/pages/workspace/AnalyticsPage.tsx
  front/components/workspace/ActivityReport.tsx
  front/components/workspace/analytics/CsvDownloadButton.tsx
  front/hooks/useDownloadCsv.ts
  front/pages/api/v1/w/[wId]/analytics/export.test.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
  front/pages/api/v1/w/[wId]/usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/public/swagger.json
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat: sparklytics dashboard UI overhaul — folders page, consistency sweep, top bar nav
  sparklytics/dashboard/src/app/api/diff/route.ts
  sparklytics/dashboard/src/app/components/[name]/page.tsx
  sparklytics/dashboard/src/app/components/page.tsx
  sparklytics/dashboard/src/app/folders/[...path]/page.tsx
  sparklytics/dashboard/src/app/folders/page.tsx
  sparklytics/dashboard/src/app/globals.css
  sparklytics/dashboard/src/app/layout.tsx
  sparklytics/dashboard/src/app/overview/page.tsx
  sparklytics/dashboard/src/app/page.tsx
  sparklytics/dashboard/src/app/reports/[id]/page.tsx
  sparklytics/dashboard/src/app/reports/page.tsx
  sparklytics/dashboard/src/app/tokens/page.tsx
  sparklytics/dashboard/src/components/charts/AdoptionFunnel.tsx
  sparklytics/dashboard/src/components/charts/ForecastChart.tsx
  sparklytics/dashboard/src/components/charts/SparkleRatioChart.tsx
  sparklytics/dashboard/src/components/charts/TrendChart.tsx
  sparklytics/dashboard/src/components/components-page/AllComponentsList.tsx
  sparklytics/dashboard/src/components/components-page/ComponentTable.tsx
  sparklytics/dashboard/src/components/nav/Sidebar.tsx
  sparklytics/dashboard/src/components/overview/InsightCards.tsx
  sparklytics/dashboard/src/components/overview/Leaderboard.tsx
  sparklytics/dashboard/src/components/overview/LeastUsedTable.tsx
  sparklytics/dashboard/src/components/overview/UnusedPropsTable.tsx
  sparklytics/dashboard/src/lib/diff.ts
  sparklytics/dashboard/src/lib/metrics.ts
  sparklytics/dashboard/src/lib/reports.ts
  sparklytics/dashboard/src/lib/types.ts
Due: biome

[snowflake] Skip dropped databases instead of failing the entire sync
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

format
  front/pages/api/poke/workspaces/[wId]/skills/[sId]/suggestions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add poke view to skills to list suggestions (#23921)
  front/components/poke/pages/SkillDetailsPage.tsx
  front/components/poke/skill_suggestions/columns.tsx
  front/components/poke/skill_suggestions/table.tsx
  front/pages/api/poke/workspaces/[wId]/skills/[sId]/suggestions.test.ts
  front/pages/api/poke/workspaces/[wId]/skills/[sId]/suggestions.ts
  front/poke/swr/skill_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add sparklytics scanner CLI for design system usage analysis
  sparklytics/README.md
  sparklytics/scanner/package-lock.json
  sparklytics/scanner/package.json
  sparklytics/scanner/src/analyzers/colorAnalyzer.ts
  sparklytics/scanner/src/analyzers/componentAnalyzer.ts
  sparklytics/scanner/src/analyzers/propDeclarationAnalyzer.ts
  sparklytics/scanner/src/analyzers/spacingAnalyzer.ts
  sparklytics/scanner/src/analyzers/typographyAnalyzer.ts
  sparklytics/scanner/src/config.ts
  sparklytics/scanner/src/index.ts
  sparklytics/scanner/src/output/reportWriter.ts
  sparklytics/scanner/src/parsers/astUtils.ts
  sparklytics/scanner/src/parsers/cssParser.ts
  sparklytics/scanner/src/parsers/tsxParser.ts
  sparklytics/scanner/src/runner.ts
  sparklytics/scanner/src/tokens/registry.ts
  sparklytics/scanner/src/types.ts
  sparklytics/scanner/src/utils/fileCollector.ts
  sparklytics/scanner/src/utils/logger.ts
  sparklytics/scanner/tsconfig.json
  sparklytics/scanner/tsup.config.ts
  sparklytics/sparkle-tokens.json
  sparklytics/sparkle.config.json
Due: package-lock-check, biome

add submit button for custom answer
  front/components/assistant/conversation/UserQuestionRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Tool Calls] Keep inline loader below pending tool row
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update api
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/api/internal/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add groupIds to feature flags (#23053)
  front/lib/models/feature_flag.ts
  front/migrations/db/migration_567.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[api] - feature: add poke endpoints for metronome usage and balances
  front/pages/api/poke/workspaces/[wId]/analytics/metronome-usage.ts
  front/pages/api/poke/workspaces/[wId]/credits/metronome-balances.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/MessageItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address review: use typeguard for error code check, use Set for filter
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

refactor: rename reinforced_skills to reinforcement, service name to dust-reinforcement
  front/docs/superpowers/plans/2026-04-08-reinforced-skills.md
  front/docs/superpowers/specs/2026-04-08-reinforced-skills-design.md
  front/lib/api/instrumentation/init.ts
  front/lib/api/llm/traces/types.ts
  front/lib/api/poke/plugins/skills/run_reinforced_skill.ts
  front/lib/api/poke/plugins/workspaces/reinforced_skills_workflow.ts
  front/lib/api/poke/plugins/workspaces/run_reinforced_skills_workflow.ts
  front/lib/reinforcement/aggregate_suggestions.test.ts
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.test.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/constants.ts
  front/lib/reinforcement/format_skill_context.ts
  front/lib/reinforcement/run_reinforced_analysis.test.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/selection.ts
  front/lib/reinforcement/types.ts
  front/lib/reinforcement/utils.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/reinforcement/activities.ts
  front/temporal/reinforcement/admin/cli.ts
  front/temporal/reinforcement/client.ts
  front/temporal/reinforcement/config.ts
  front/temporal/reinforcement/worker.ts
  front/temporal/reinforcement/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke/swr] - feature: add hooks for metronome usage and balances
  front/poke/swr/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke/credits] - feature: add metronome usage chart and custom columns
  front/components/poke/credits/PokeMetronomeUsageChart.tsx
  front/components/poke/credits/metronome_columns.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update size
  front/components/assistant/conversation/UserQuestionRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke/credits] - feature: add metronome balances table and usage chart
  front/components/poke/credits/columns.tsx
  front/components/poke/credits/table.tsx
  front/components/workspace/MetronomeUsageChart.tsx
  front/lib/api/analytics/metronome_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: include workspaceId in LLM unavailable log
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix biome formatting
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

fix button size
  front/components/assistant/conversation/UserQuestionRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: parallelize per-skill batch aggregation with concurrentExecutor
  front/temporal/reinforcement/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Logging
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: rewire coding rules
  AGENTS.md
  CODING_RULES.md
  front/CODING_RULES.md
Due: biome

cleanup
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  sparkle/src/components/TruncatedContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

review feedback
  CODING_RULES.md
  front/CODING_RULES.md
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
