Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

feat(skill_authoring): add filter param and canWrite field to list_skills
  front/lib/api/actions/servers/skill_authoring/metadata.ts
  front/lib/api/actions/servers/skill_authoring/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(skill_authoring): default list_skills filter to writable, fix tests
  front/lib/api/actions/servers/skill_authoring/metadata.ts
  front/lib/api/actions/servers/skill_authoring/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(egress-proxy): workspace-prefixed, owner-keyed policy layout (dual-read)
  egress-proxy/src/connection.rs
  egress-proxy/src/gcs.rs
  egress-proxy/src/health.rs
  egress-proxy/src/jwt.rs
  egress-proxy/tests/integration.rs
Due: none

Remove redundant delta dedup pass in Microsoft connector
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[dsbx] fix: name PodDatabaseError instances, cover empty databases dir env
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
Due: biome

[dsbx] feat: make the pod database quota env required, no default or clamp
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
Due: biome

fix(front): bound content fragment POST concurrency to avoid lock timeouts (#28640)
  front/hooks/useSubmitMessage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sandbox): drop high-cardinality workspaceId tag from tool duration metric
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/sandbox/instrumentation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove tests
  front/lib/api/actions/servers/zendesk/types.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(core): count tokens without materializing token strings in /tokenize/batch/count
  core/src/api/tokenize.rs
  core/src/providers/llm.rs
  core/src/providers/sentencepiece/sentencepiece.rs
  core/src/providers/tiktoken/tiktoken.rs
Due: none

Detect max-size error when gaxios wraps it in a GaxiosError
  connectors/src/connectors/google_drive/temporal/utils.test.ts
  connectors/src/connectors/google_drive/temporal/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

Analytics: fix script to remove system key from analytics
  front/lib/analytics/migrations/20260707_remove_system_api_key_name.http
Due: none

Drop empty log payload in too-large export skip
  connectors/src/connectors/google_drive/temporal/file/handle_google_drive_export.ts
Due: connectors-typecheck, biome, connectors-eslint

Remove redundant delta dedup pass in Microsoft connector (#28656)
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[dsbx] feat: add @dust/pod package (#28605)
  .github/workflows/build-dust-sandbox.yml
  biome.json
  cli/dust-sandbox/pod/.gitignore
  cli/dust-sandbox/pod/bun.lock
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
  cli/dust-sandbox/pod/index.ts
  cli/dust-sandbox/pod/package.json
  cli/dust-sandbox/pod/tsconfig.json
Due: package-lock-check, biome

[dsbx] refactor: rely on env inheritance for DUST_POD_DATABASES_DIR
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

[dsbx] feat: thread DUST_POD_DATABASES_DIR to function runs
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

[dsbx] docs: explain the env-inheritance probe tests
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

Add poke workspaces filtering
  front-api/routes/poke/workspaces/index.test.ts
  front-api/routes/poke/workspaces/index.ts
  front/components/poke/pages/DashboardPage.tsx
  front/lib/plans/plan_codes.ts
  front/poke/swr/search.ts
  front/types/api/poke/workspaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] test: add tests to dsbx function mod (#28606)
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

[front] feat: pass DUST_POD_DATABASES_DIR to sandbox function invocations
  front/lib/api/files/mount_path.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): extract WorkspaceAnalyticsToggleProps interface [REACT1]
  front/components/workspace/settings/WorkspaceAnalyticsToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix remaining call sites
  front-api/middlewares/with_skill.ts
  front-api/routes/w/[wId]/assistant/skills/[sId]/index.ts
  front-api/routes/w/[wId]/assistant/skills/[sId]/suggestions.ts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front-api/routes/w/[wId]/skills/[sId]/history/index.ts
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/[sId]/restore.ts
Due: biome

Update test suite
  front-api/routes/w/[wId]/skills/[sId]/restore.test.ts
Due: biome

Load the files edit tool eagerly instead of behind tool search
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add columns for resolved models (#28646)
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/messages.ts
  front/lib/api/assistant/models.ts
  front/lib/models/agent/conversation.ts
  front/migrations/post-deploy/20260707183547_remove_old_model_requested_model_columns_on_agent_message.sql
  front/migrations/pre-deploy/20260707183300_add_model_resolution_methods_on_agent_message.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(agents): cascade trigger/wake-up/favorite cleanup on archive and hard-delete
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/resources/wakeup_resource.ts
  front/scripts/scrub_agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tighten the eager-loading rationale comment on the files edit tool
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

wip
  front-api/middlewares/sandbox_auth.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/call.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/call.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/index.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_execution.test.ts
  front/lib/actions/mcp_execution.ts
  front/lib/api/sandbox_functions/create_function_mcp_action.ts
  front/lib/auth.ts
  front/lib/resources/sandbox_function_resource.ts
  front/temporal/agent_loop/activities/run_sandbox_function_tool.ts
  front/temporal/agent_loop/client.ts
  front/temporal/agent_loop/lib/workflow_ids.ts
  front/temporal/agent_loop/worker.ts
  front/temporal/agent_loop/workflows.ts
  front/tests/utils/SandboxTokenFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(connectors): bound Google Drive file downloads to prevent OOM (#28634)
  connectors/src/connectors/google_drive/temporal/file/handle_file_export.ts
  connectors/src/connectors/google_drive/temporal/file/handle_google_drive_export.ts
  connectors/src/connectors/google_drive/temporal/utils.test.ts
  connectors/src/connectors/google_drive/temporal/utils.ts
  connectors/src/lib/async_utils.test.ts
  connectors/src/lib/async_utils.ts
Due: connectors-typecheck, biome, connectors-eslint

[Agentic User Activation] Poke provisioning plugin
  front/lib/api/poke/plugins/spaces/index.ts
  front/lib/api/poke/plugins/spaces/join_activation_pod.ts
  front/lib/resources/project_metadata_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed review comments
  front/lib/api/poke/plugins/spaces/join_activation_pod.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Load the files edit tool eagerly instead of behind tool search (#28662)
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Align skill admin permission checks
  front-api/routes/w/[wId]/assistant/skills/[sId]/suggestions.test.ts
  front-api/routes/w/[wId]/skills/[sId]/history/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/history/index.ts
  front/components/skills/SkillDetailsSheet.tsx
  front/lib/resources/skill_suggestion_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] business_activation: use fresh workspace for zero amount activation
  front/lib/api/checkout/business_activation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: pass DUST_POD_DATABASES_DIR to sandbox function invocations (#28602)
  front/lib/api/files/mount_path.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Deprecate the file-id Frame edit tool in favor of source edits plus publish
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/files/tools/utils.test.ts
  front/lib/api/actions/servers/files/tools/utils.ts
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/metadata.ts
  front/lib/api/actions/servers/interactive_content/tools/index.test.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
  front/lib/resources/skill/code_defined/global/frames.test.ts
  front/lib/resources/skill/code_defined/global/frames.ts
  front/scripts/backfill_frame_mount_paths.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop the file-id retrieve tool alongside edit, sync mount on revert, and steer tool search off create for Frame updates
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/files/metadata.ts
  front/lib/api/actions/servers/files/tools/edit.ts
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/metadata.ts
  front/lib/api/actions/servers/interactive_content/tools/index.test.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/skill/code_defined/global/frames.test.ts
  front/lib/resources/skill/code_defined/global/frames.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use tool name constants instead of string literals in Frame tests
  front/lib/api/actions/servers/interactive_content/tools/index.test.ts
  front/lib/resources/skill/code_defined/global/frames.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep the file-id retrieve tool as a fallback for Frames without a mount path, and add revert() mount-sync test coverage
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/interactive_content/tools/index.test.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
  front/lib/resources/file_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
