Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] refactor: delete the Activation webhook source, its triggers and their columns
  front-api/routes/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.test.ts
  front-api/routes/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.ts
  front/admin/db.ts
  front/lib/api/activation/trigger.ts
  front/lib/api/poke/plugins/spaces/activation_management.test.ts
  front/lib/api/poke/plugins/spaces/activation_management.ts
  front/lib/models/activation/activation_nudge.ts
  front/lib/models/activation/activation_pod.ts
  front/lib/resources/activation_pod_resource.ts
  front/lib/resources/activation_recommendation_resource.test.ts
  front/lib/resources/activation_recommendation_resource.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/trigger_resource.ts
  front/migrations/20260806_delete_activation_webhook_sources.ts
  front/migrations/post-deploy/20260806154450_drop_activation_triggers.sql
  front/poke/temporal/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[GitHub] chore: remove OpenAPI docs deployment workflow (#30376)
  .github/workflows/deploy-docs-openapi.yml
Due: biome

Build selective sandbox namespace overlay
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/README.md
  cli/dust-sandbox/src/commands/filesystem/core.rs
  cli/dust-sandbox/src/commands/filesystem/fuse.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/filesystem/model.rs
  cli/dust-sandbox/src/commands/filesystem/mutation.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
  front-api/middlewares/sandbox_auth.ts
  front-api/routes/v1/w/[wId]/sandbox/filesystem/index.ts
  front-api/routes/v1/w/[wId]/sandbox/filesystem/mutations.test.ts
  front-api/routes/v1/w/[wId]/sandbox/filesystem/mutations.ts
  front-api/routes/v1/w/[wId]/sandbox/index.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].test.ts
  front/admin/db.ts
  front/docs/sandbox-filesystem-overlay.md
  front/lib/api/file_system/backends/gcs_file_system_backend.ts
  front/lib/api/file_system/dust_file_system.ts
  front/lib/api/file_system/sandbox/gcs_sandbox_mount_adapter.test.ts
  front/lib/api/file_system/sandbox/gcs_sandbox_mount_adapter.ts
  front/lib/api/files/file_system_ops.test.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/api/sandbox/access_tokens.ts
  front/lib/api/sandbox/file_system_mutations.ts
  front/lib/api/sandbox/image/index.test.ts
  front/lib/api/sandbox/image/index.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/image/token/dust-gcs-write-token.sh
  front/lib/api/sandbox/image/types.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/auth.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/sandbox_file_system_mutation_resource.test.ts
  front/lib/resources/sandbox_file_system_mutation_resource.ts
  front/lib/resources/storage/models/sandbox_file_system_mutation.ts
  front/migrations/pre-deploy/20260810230550_create_sandbox_file_system_mutations.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(egress-proxy): inherited pod policy layer via podId claim
  egress-proxy/src/connection.rs
  egress-proxy/src/gcs.rs
  egress-proxy/src/jwt.rs
  egress-proxy/tests/integration.rs
Due: none

Complete conversation panel animation lifecycle
  front/components/assistant/conversation/ConversationSidePanelContainer.tsx
  front/components/assistant/conversation/actions/AgentActionsPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Force Kimi K3 temperature to zero
  front/lib/llms/providers/fireworks/models/kimi_k3.ts
  front/lib/llms/stream/types/configuration.ts
  front/lib/model_constructors/providers/fireworks/models/kimi_k3.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify Kimi K3 temperature policy
  front/lib/llms/providers/fireworks/models/kimi_k3.ts
  front/lib/llms/stream/types/configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(egress-proxy): reject podId claims missing wId or ownerId
  egress-proxy/src/connection.rs
  egress-proxy/tests/integration.rs
Due: none

[front] fix: Fix capabilities picker mounting issue
  front/components/assistant/CapabilitiesPicker.test.tsx
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
  front/components/assistant/conversation/input_bar/InputBarPlusMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: make idle-in-transaction accounting reliable (#30074)
  front/lib/api/database.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add output_truncated and output_too_large runner error codes
  cli/dust-sandbox/functions-runner/protocol.ts
  front/lib/api/sandbox_functions/result_delivery.test.ts
  front/lib/api/sandbox_functions/result_envelope.test.ts
  front/types/api/sandbox_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] fix: drain-safe runner stdout, classify cut envelopes as output_truncated
  cli/dust-sandbox/functions-runner/emit.ts
  cli/dust-sandbox/functions-runner/fixtures/big-output.ts
  cli/dust-sandbox/functions-runner/runner.test.ts
  cli/dust-sandbox/functions-runner/runner.ts
  cli/dust-sandbox/src/commands/function/envelope.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/run.rs
Due: biome

[front] feat: machine-readable offload descriptor and parse-safe stub for offloaded tool outputs
  cli/dust-sandbox/src/api/types.rs
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.test.ts
  front/lib/actions/action_output_limits.ts
  front/lib/actions/mcp_execution.test.ts
  front/lib/actions/mcp_execution.ts
  front/lib/api/files/action_output_fs/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix formatting in mcp_execution.test.ts
  front/lib/actions/mcp_execution.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust/pod] feat: resolveToolTextContent, descriptor-based offloaded tool output resolution
  cli/dust-sandbox/pod/index.ts
  cli/dust-sandbox/pod/package.json
  cli/dust-sandbox/pod/tool_output.test.ts
  cli/dust-sandbox/pod/tool_output.ts
  front/lib/api/sandbox/image/pod_package.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Await rejects assertions in tool_output tests
  cli/dust-sandbox/pod/tool_output.test.ts
Due: biome

[dsbx] feat: typed error envelope for tools failures
  cli/dust-sandbox/src/api/client.rs
  cli/dust-sandbox/src/api/error.rs
  cli/dust-sandbox/src/api/mod.rs
  cli/dust-sandbox/src/api/types.rs
  cli/dust-sandbox/src/commands/tools/exec.rs
  cli/dust-sandbox/src/main.rs
Due: none

[dsbx] test: pin not_authenticated -> invalid_sandbox_token classification
  cli/dust-sandbox/src/api/error.rs
Due: none

[dsbx] reject --args-json + --key conflict before any network call
  cli/dust-sandbox/src/commands/tools/exec.rs
Due: none

[dsbx] feat: tools arg-input hardening
  cli/dust-sandbox/src/commands/tools/exec.rs
  cli/dust-sandbox/src/main.rs
Due: none

feat(egress-proxy): inherited pod policy layer via podId claim (#30383)
  egress-proxy/src/connection.rs
  egress-proxy/src/gcs.rs
  egress-proxy/src/jwt.rs
  egress-proxy/tests/integration.rs
Due: none

feat(sandbox): conversation-scoped egress approvals with inherited pod policy layer
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.test.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/egress_policy.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Check the output envelope version on read so a future format bump fails loudly
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/wrappers.ts
  front/lib/resources/sandbox_function_mcp_action_resource.test.ts
  front/lib/resources/sandbox_function_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep the content-only tool handler result as the default so existing handlers and their tests type-check
  front/lib/actions/mcp_internal_actions/tool_definition.ts
  front/lib/actions/mcp_internal_actions/wrappers.test.ts
  front/lib/actions/mcp_internal_actions/wrappers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sandbox] feat: plumb MCP structuredContent end-to-end to sandbox functions
  cli/dust-sandbox/src/api/client.rs
  cli/dust-sandbox/src/api/types.rs
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.ts
  front/lib/actions/action_output_limits.ts
  front/lib/actions/mcp_actions.test.ts
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_execution.test.ts
  front/lib/actions/mcp_execution.ts
  front/lib/actions/mcp_internal_actions/tool_definition.ts
  front/lib/actions/mcp_internal_actions/wrappers.test.ts
  front/lib/actions/mcp_internal_actions/wrappers.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/api/poke/pod_functions.ts
  front/lib/api/poke/projects.ts
  front/lib/resources/sandbox_function_mcp_action_resource.test.ts
  front/lib/resources/sandbox_function_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: read back spilled Pod function results
  front/lib/api/sandbox_functions/result_delivery.test.ts
  front/lib/api/sandbox_functions/result_delivery.ts
  front/lib/api/sandbox_functions/result_envelope.test.ts
  front/lib/api/sandbox_functions/result_envelope.ts
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] feat: accept the pod_editor_required user identity policy in the functions-runner
  cli/dust-sandbox/functions-runner/fixtures/pod-editor.ts
  cli/dust-sandbox/functions-runner/schema.test.ts
  cli/dust-sandbox/functions-runner/schema.ts
Due: biome

[front] feat: pod_editor_required identity policy + isPodEditor in the identity envelope
  cli/dust-sandbox/pod/identity.test.ts
  cli/dust-sandbox/pod/identity.ts
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/pod/PodFrameTabContent.tsx
  front/components/pod/PodFrameVisualization.tsx
  front/components/pod/conversation/PodPinnedBanner.tsx
  front/components/pod/files/PodFrameSheet.tsx
  front/lib/api/sandbox_functions/workspace_user.test.ts
  front/lib/api/sandbox_functions/workspace_user.ts
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/lib/resources/sandbox_function_resource.ts
  front/types/api/sandbox_functions.ts
  front/types/assistant/visualization.ts
  viz/app/lib/data-apis/cache-data-api.ts
  viz/app/lib/data-apis/rpc-data-api.test.ts
  viz/app/lib/data-apis/rpc-data-api.ts
  viz/app/lib/pod-function-hooks.tsx
  viz/app/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Normalize the anonymous identity answer from legacy hosts too
  viz/app/lib/data-apis/rpc-data-api.ts
Due: biome

[front] fix: pin @dust/pod image tool version to 0.1.1 in registry test
  front/lib/api/sandbox/image/registry.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Assert the isPodEditor flag in the frame identity envelope test
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] feat: tools.call() typed async tool client in @dust/pod
  cli/dust-sandbox/pod/index.ts
  cli/dust-sandbox/pod/package.json
  cli/dust-sandbox/pod/tools.test.ts
  cli/dust-sandbox/pod/tools.ts
  front/lib/api/sandbox/image/pod_package.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
