Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

format
  front/lib/resources/mcp_server_view_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: exclude tool metadata fetching when loading skills (#21968)
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add best-effort dangerJS rules (#21971)
  front/dangerfile.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Only activate eager_input_streaming on file generation tools
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add tests
  front/lib/resources/agent_message_feedback_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/feedbacks.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add option to stop using CLIENT SETINFO commands (#21978)
  front/lib/api/redis.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: fix admin cli import formatting
  front/admin/cli.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: mobile voice input
  front/hooks/useVoiceTranscriberService.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Kill Switch] Add admin CLI commands to block/unblock workspace (#21972)
  front/admin/cli.ts
  front/lib/api/workspace.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add agents landing page
  front/components/home/content/Agents/agentsConfig.tsx
  front/pages/home/agents/incident-postmortem.tsx
  front/pages/home/agents/index.tsx
  front/pages/home/agents/job-description.tsx
  front/pages/home/agents/prompt-maker.tsx
  front/pages/home/agents/sop-generator.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

profile (#21963)
  sparkle/.gitignore
  sparkle/playground/package-lock.json
  sparkle/playground/src/components/ConversationSuggestion.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/Profile.tsx
  sparkle/playground/tailwind.config.cjs
  sparkle/src/components/Button.tsx
  sparkle/src/components/Card.tsx
  sparkle/src/stories/Card.stories.tsx
  sparkle/tailwind.config.js
Due: package-lock-check, biome

Remove panic log
  connectors/src/connectors/github/temporal/activities/sync_code.ts
Due: connectors-typecheck, biome, connectors-eslint

fixWfit
  sparkle/src/components/Dialog.tsx
Due: biome

Remove panic log (#21981)
  connectors/src/connectors/github/temporal/activities/sync_code.ts
Due: connectors-typecheck, biome, connectors-eslint

fix: mcp server form revalidateOnFocus (#21975)
  front/lib/swr/mcp_servers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add frames, use correct name
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: enforce conversation-level kill switch on assistant routes
  front/lib/api/auth_wrappers.ts
  front/lib/api/workspace.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/mcp/connections/[connectionType]/[cId]/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

flatten
  front/lib/resources/agent_message_feedback_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(slackbot): enforce provider-specific whitelist types for bot whitelisting (#21960)
  connectors/src/connectors/slack/lib/cli.ts
  front/lib/api/poke/plugins/data_sources/slack_whitelist_bot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Only activate eager_input_streaming on file generation tools (#21976)
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: scope conversation kill switch to [cId] routes
  front/lib/api/auth_wrappers.ts
  front/pages/api/w/[wId]/assistant/conversations/search.test.ts
  front/pages/api/w/[wId]/mcp/connections/[connectionType]/[cId]/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: align file processing timeouts (#21974)
  front/lib/api/files/processing.ts
  front/lib/utils/transcribe_service.ts
  front/types/shared/text_extraction/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: mobile voice input (#21980)
  front/hooks/useVoiceTranscriberService.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: simplify conversation kill switch route matching
  front/lib/api/auth_wrappers.ts
  front/pages/api/w/[wId]/assistant/conversations/search.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: Backfill firstUsedAt and use it for seat counting
  front/lib/production_checks/checks/check_membership_active_users_consistency.ts
  front/lib/resources/membership_resource.test.ts
  front/lib/resources/membership_resource.ts
  front/migrations/20260219_backfill_membership_first_used_at.ts
  front/temporal/production_checks/activities.ts
  front/tests/utils/UserFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: Add firstUsedAt to memberships
  front/lib/api/signup.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/migrations/db/migration_515.sql
  front/pages/api/login.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add best-effort dangerJS rules
  front/middleware.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Update links and urls (#21965)
  .github/actions/slack-notify/action.yml
  .github/workflows/deploy-spa.yaml
  .github/workflows/deploy.yml
Due: biome

fix: also upload source maps for front-sse
  .github/actions/build-image/action.yml
  dockerfiles/front.Dockerfile
Due: biome

refactor: use dedicated auth wrappers for conversation kill switch
  front/lib/api/auth_wrappers.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/actions/blocked.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/content_fragments.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/mentions/suggestions.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/actions/blocked.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/cancel.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/files.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/mentions/suggestions.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/mentions.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/reactions/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/skills.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/validate-action.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/onboarding-followup.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/participants.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/skills.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/suggest.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat(dusthivecat): add Lou the tabby cat
  x/daph/dust-hive-cat/DustHiveCat/Animation/SpriteManager.swift
  x/daph/dust-hive-cat/DustHiveCat/Models/CatState.swift
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/00_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/00_lou_sleep.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/00_lou_walk.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/01_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/01_lou_walk.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/02_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/02_lou_walk.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/03_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/03_lou_walk.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/04_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/04_lou_walk.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/05_lou_notification.png
  x/daph/dust-hive-cat/DustHiveCat/Resources/lou/05_lou_walk.png
Due: none

Don't show invalid suggestion directives
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/components/markdown/suggestion/CopilotSuggestionDirective.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small prompt change
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Don't show invalid suggestion directives (#21832)
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/components/markdown/suggestion/CopilotSuggestionDirective.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Merge files from conversation and project in the list.
  front/components/assistant/conversation/lib.ts
  front/lib/actions/mcp_execution.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/conversation.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/actions/mcp_utils.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/conversation_files/tools/index.ts
  front/lib/api/actions/servers/extract_data/helpers.ts
  front/lib/api/actions/servers/project_manager/metadata.ts
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/actions/servers/run_agent/index.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation/attachments.ts
  front/lib/api/assistant/jit_actions.test.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/content_fragment_resource.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/temporal/agent_loop/lib/prompt_commands.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/content_fragment.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: also upload source maps for front-sse (#21988)
  .github/actions/build-image/action.yml
  dockerfiles/front.Dockerfile
Due: biome

perf: reduce /api/app-status call frequency (#21964)
  front/lib/swr/useAppStatus.ts
  front/pages/api/app-status.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Merge files from conversation and project in the list. (#21973)
  front/components/assistant/conversation/lib.ts
  front/lib/actions/mcp_execution.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/servers/run_agent/conversation.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/actions/mcp_utils.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/conversation_files/tools/index.ts
  front/lib/api/actions/servers/extract_data/helpers.ts
  front/lib/api/actions/servers/project_manager/metadata.ts
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/actions/servers/run_agent/index.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation/attachments.ts
  front/lib/api/assistant/jit_actions.test.ts
  front/lib/api/assistant/jit_utils.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/content_fragment_resource.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/temporal/agent_loop/lib/prompt_commands.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/content_fragment.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
