Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Migrate domain, sso, audit-log, etc
  front-api/routes/w/[wId]/audit-logs.ts
  front-api/routes/w/[wId]/auth-context.ts
  front-api/routes/w/[wId]/domains.ts
  front-api/routes/w/[wId]/dsync.ts
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/sso.ts
  front-api/routes/w/[wId]/workspace-analytics.ts
  front-api/routes/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/audit-logs.ts
  front/pages/api/w/[wId]/auth-context.ts
  front/pages/api/w/[wId]/domains.ts
  front/pages/api/w/[wId]/dsync.ts
  front/pages/api/w/[wId]/sso.ts
  front/pages/api/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  viz/app/lib/transformEditableText.test.ts
Due: biome

Add missing HandlerResults from previous PR
  front-api/routes/debug/profiler.ts
  front-api/routes/email/webhook.ts
  front-api/routes/enrichment/company.ts
  front-api/routes/metronome/webhook.ts
  front-api/routes/stripe/portal.ts
  front-api/routes/stripe/webhook.ts
  front-api/routes/templates/[tId]/index.ts
  front-api/routes/templates/index.ts
Due: biome

fix(front): show loading spinner while workspace details load on model providers page
  front/components/pages/workspace/model_providers/ModelProvidersPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: allow any participants to handle a tool approval, a user question or a connexion request IF the message has no user (api or agent on behalf of). (#25928)
  front/components/assistant/conversation/BlockedActionsProvider.tsx
  front/components/assistant/conversation/GoogleDriveFileAuthorizationRequired.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/MentionInvalid.tsx
  front/components/assistant/conversation/MentionValidationRequired.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/assistant/conversation/UserAnswerRequired.tsx
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/lib/api/assistant/conversation/can_current_user_respond.test.ts
  front/lib/api/assistant/conversation/can_current_user_respond.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/api/assistant/conversation/resolve_authentication.ts
  front/lib/api/assistant/conversation/validate_actions.test.ts
  front/lib/api/assistant/conversation/validate_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Lint
  front-api/routes/w/[wId]/dsync.ts
Due: biome

lint
  front-api/routes/w/[wId]/sso.ts
Due: biome

Chat -> Work
  front/components/navigation/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Lint
  front-api/routes/w/[wId]/audit-logs.ts
Due: biome

Use internal api endpoints for dust_project connector.
  connectors/src/connectors/dust_project/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] enh: improve large IN clauses in agent step content fetches (#25878)
  front/lib/resources/agent_step_content_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use internal api endpoints for dust_project connector. (#25931)
  connectors/src/connectors/dust_project/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

refactor(front): extract RegionalFlag and restyle EU-only toggle
  front/components/agent_builder/instructions/ModelSelectionSubmenu.tsx
  front/components/pages/workspace/model_providers/ModelProvidersPageContent.tsx
  front/components/pages/workspace/model_providers/RegionalModelsOnlyToggle.tsx
  front/components/shared/RegionalFlag.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

placeholder change
  front/components/editor/input_bar/useCustomEditor.tsx
  sparkle/playground/src/components/AgentBuilderView.tsx
  sparkle/playground/src/components/ConversationView.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/stories/Projects.tsx
  sparkle/playground/src/stories/Projects_Spaces.tsx
  sparkle/playground/src/stories/Projects_WithInbox.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
Due: biome

UX text changes Chat -> Work / Ask a question -> Get work done (#25932)
  front/components/editor/input_bar/useCustomEditor.tsx
  front/components/navigation/config.ts
  sparkle/playground/src/components/AgentBuilderView.tsx
  sparkle/playground/src/components/ConversationView.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/stories/Projects.tsx
  sparkle/playground/src/stories/Projects_Spaces.tsx
  sparkle/playground/src/stories/Projects_WithInbox.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Apply suggestion
  front/lib/api/credits/members_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migrate 7 handler files under api/w/[wId] + add missing HandlerResult<T> (#25929)
  front-api/routes/debug/profiler.ts
  front-api/routes/email/webhook.ts
  front-api/routes/enrichment/company.ts
  front-api/routes/metronome/webhook.ts
  front-api/routes/stripe/portal.ts
  front-api/routes/stripe/webhook.ts
  front-api/routes/templates/[tId]/index.ts
  front-api/routes/templates/index.ts
  front-api/routes/w/[wId]/audit-logs.ts
  front-api/routes/w/[wId]/auth-context.ts
  front-api/routes/w/[wId]/domains.ts
  front-api/routes/w/[wId]/dsync.ts
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/sso.ts
  front-api/routes/w/[wId]/workspace-analytics.ts
  front-api/routes/w/[wId]/workspace-usage.ts
  front/lib/api/workspace_analytics.ts
  front/pages/api/w/[wId]/audit-logs.ts
  front/pages/api/w/[wId]/auth-context.ts
  front/pages/api/w/[wId]/domains.ts
  front/pages/api/w/[wId]/dsync.ts
  front/pages/api/w/[wId]/sso.ts
  front/pages/api/w/[wId]/workspace-analytics.ts
  front/pages/api/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Metronome] feat: per-user spend-limit endpoint and Metronome alert plumbing (#25917)
  front-api/routes/metronome/webhook.ts
  front-api/routes/w/[wId]/credits/members-usage.ts
  front/admin/audit_log_schemas/member.spend_limit_updated.json
  front/components/workspace/MembersUsageTable.tsx
  front/lib/api/audit/workos_audit.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/users/spend_limit.ts
  front/lib/metronome/per_user_alerts.ts
  front/lib/metronome/per_user_usage.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/w/[wId]/credits/members-usage.ts
  front/pages/api/w/[wId]/members/[uId]/spend_limit.test.ts
  front/pages/api/w/[wId]/members/[uId]/spend_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address comments from review
  front-api/routes/w/[wId]/files/[fileId]/edit-text.test.ts
  front-api/routes/w/[wId]/files/[fileId]/edit-text.ts
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  viz/app/components/VisualizationWrapper.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] feat: per-user spend-limit admin UI
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/EditSpendLimitModal.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

metronome_setup: fix detection of initial_quantity and seat_group_key (#25933)
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): hide regional flag for models unavailable in current region
  front/components/agent_builder/instructions/ModelSelectionSubmenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle error and taxes in credits purchase
  front-api/routes/metronome/webhook.ts
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/lib/api/redis.ts
  front/lib/credits/awu_purchase.ts
  front/lib/credits/awu_purchase_status.ts
  front/lib/metronome/client.ts
  front/lib/metronome/constants.ts
  front/lib/swr/credits.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/w/[wId]/subscriptions/awu-purchase-status.ts
  front/pages/api/w/[wId]/subscriptions/awu-purchase.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pull out helpers from authenticate and prestop
  front/lib/api/prestop.ts
  front/lib/api/workos/authenticate.ts
  front/pages/api/[preStopSecret]/prestop.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] data classification labels endpoint refactor (#25927)
  front/lib/api/data_classification_labels.ts
  front/pages/api/w/[wId]/data-classification-labels.test.ts
  front/pages/api/w/[wId]/data-classification-labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Handle error and taxes in credits purchase (#25888)
  front-api/routes/metronome/webhook.ts
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/lib/api/redis.ts
  front/lib/credits/awu_purchase.ts
  front/lib/credits/awu_purchase_status.ts
  front/lib/metronome/client.ts
  front/lib/metronome/constants.ts
  front/lib/swr/credits.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/w/[wId]/subscriptions/awu-purchase-status.ts
  front/pages/api/w/[wId]/subscriptions/awu-purchase.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] address PR feedback: use exhaustive switch on SpendLimitKind
  front/components/workspace/EditSpendLimitModal.tsx
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): rename regional flag props in ModelSelectionSubmenu
  front/components/agent_builder/instructions/ModelSelectionSubmenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front-api/routes/w/[wId]/files/[fileId]/edit-text.test.ts
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): make AgentMCPActionResource.makeNew atomic
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Inline text editing for Frames (#25913)
  front-api/routes/w/[wId]/files/[fileId]/edit-text.test.ts
  front-api/routes/w/[wId]/files/[fileId]/edit-text.ts
  front-api/routes/w/[wId]/files/[fileId]/index.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/space/ProjectFrameSheet.tsx
  front/components/markdown/VisualizationBlock.tsx
  front/pages/api/w/[wId]/files/[fileId]/edit-text.test.ts
  front/pages/api/w/[wId]/files/[fileId]/edit-text.ts
  front/types/assistant/visualization.ts
  viz/app/components/EditableFrame.tsx
  viz/app/components/VisualizationWrapper.tsx
  viz/app/components/VizContext.tsx
  viz/app/content/ClientVisualizationWrapper.tsx
  viz/app/content/page.tsx
  viz/app/lib/transformEditableText.test.ts
  viz/app/lib/transformEditableText.ts
  viz/app/lib/visualization-api.ts
  viz/app/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

handle limit retrieval error
  front/components/workspace/EditSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

review feedback
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pull out helpers from authenticate and prestop (#25936)
  front/lib/api/prestop.ts
  front/lib/api/workos/authenticate.ts
  front/pages/api/[preStopSecret]/prestop.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): make AgentMCPActionResource.makeNew atomic (#25937)
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Skill without instructions: UI part
  front/components/agent_builder/capabilities/capabilities_sheet/CapabilitiesSelectionPage.tsx
  front/components/agent_builder/capabilities/capabilities_sheet/SkillCard.tsx
  front/components/agent_builder/capabilities/capabilities_sheet/hooks.ts
  front/components/agent_builder/skills/skillsAndActionsState.ts
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/command_palette/CommandPalette.tsx
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionDropdown.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/shared/skills/SkillsContext.tsx
  front/components/skill_builder/SkillBuilderAgentFacingDescriptionSection.tsx
  front/components/skills/ArchiveSkillDialog.tsx
  front/components/skills/RestoreSkillDialog.tsx
  front/components/skills/SkillDetailsButtonBar.tsx
  front/components/skills/SkillDetailsSheet.tsx
  front/components/skills/SkillInfoTab.tsx
  front/components/skills/SkillsTable.tsx
  front/components/skills/SuggestedSkillsSection.tsx
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/lib/swr/skill_configurations.ts
  front/types/assistant/skill_configuration.ts
  front/types/suggestions/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Catch bad creds err in github retrieve permissions
  connectors/src/connectors/github/index.ts
Due: connectors-typecheck, biome, connectors-eslint

Missing file
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
