Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] files: refuse unwritable stored types and bound the fallback read
  front-api/routes/w/[wId]/files/path/[...canonicalPath].test.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front/lib/api/files/dfm_agent_comments.test.ts
  front/lib/api/files/dfm_comment_signatures.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/utils/streams.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin governance: allow to create keyw with read_analytics grant on some groups
  front-api/routes/w/[wId]/keys/index.test.ts
  front-api/routes/w/[wId]/keys/index.ts
  front/admin/audit_log_schemas/api_key.created.json
  front/lib/api/audit/schema_versions.json
  front/lib/api/keys/create.ts
  front/lib/resources/key_resource.ts
  front/types/key.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use lighter type + error
  front-api/routes/w/[wId]/keys/index.test.ts
  front-api/routes/w/[wId]/keys/index.ts
  front/lib/api/keys/create.ts
  front/lib/api_error_messages.ts
  front/lib/error.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/key_resource.ts
  front/locales/en-US/lib/messages.po
  front/locales/fr-FR/lib/messages.po
  front/types/error.ts
  front/types/groups.ts
  front/types/key.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): check file access on client tool results (#34294)
  front/lib/actions/mcp_execution.test.ts
  front/lib/actions/mcp_execution.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(pods): filter unreadable Pods before paginating Pod search
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust-hive] Start the collab server on warm
  x/henry/dust-hive/src/commands/warm.ts
  x/henry/dust-hive/src/lib/registry.ts
  x/henry/dust-hive/tests/lib/registry.test.ts
Due: biome

[front] fix(monday): address get_updates review feedback
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/monday/helpers.ts
  front/lib/api/actions/servers/monday/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): soften the French input bar placeholder and greetings
  front/locales/fr-FR/components/editor/input_bar/messages.po
  front/locales/fr-FR/lib/client/messages.po
Due: none

[front-api] co-edition: checkpoint live documents before the collab server exits
  front-api/collab_server.ts
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
Due: biome

[front] fix(i18n): soften the French input bar placeholder and greetings (#34510)
  front/locales/fr-FR/components/editor/input_bar/messages.po
  front/locales/fr-FR/lib/client/messages.po
Due: none

[front] co-edition: drop anchors without a thread when writing a live document (#34497)
  front/lib/api/collab/ydoc.test.ts
  front/lib/api/collab/ydoc.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] files: bound comment validation reads of non-Markdown files without revisions (#34432)
  front-api/routes/w/[wId]/files/path/[...canonicalPath].test.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front/lib/api/files/dfm_comment_signatures.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/utils/streams.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Public agent search returns global agents and hides unreadable ones
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.ts
Due: biome

[front] documents: edit_document refuses an empty old_string expecting several replacements
  front/lib/api/files/dfm_agent_documents.test.ts
  front/lib/api/files/dfm_agent_documents.ts
  front/lib/api/files/dfm_comment_signatures.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: read_document and edit_document tools, file path first
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/documents/metadata.ts
  front/lib/api/actions/servers/documents/tools/index.ts
  front/lib/api/files/dfm_agent_documents.test.ts
  front/lib/api/files/dfm_agent_documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: edit_document matches a passage quoted from a CRLF source
  front/lib/api/files/dfm_agent_documents.test.ts
  front/lib/api/files/dfm_agent_documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: edit_document writes the body of an empty document
  front/lib/api/actions/servers/documents/metadata.ts
  front/lib/api/files/dfm_agent_documents.test.ts
  front/lib/api/files/dfm_agent_documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: format
  front/lib/api/files/dfm_agent_documents.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: share writeDocumentChange between comments and edits
  front/lib/api/files/dfm_agent_comments.ts
  front/lib/api/files/dfm_agent_documents.ts
  front/lib/api/files/dfm_stored_documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: terminate sockets and wait for loads before the shutdown checkpoint
  front-api/collab_server.ts
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
Due: biome

[front-api] Stop 500 on blocked-only retry when nothing is left to resume (#34488)
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/lib/api/assistant/conversation/retry_blocked_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: admin "governance" page.
  front/components/pages/workspace/IntegrationsPage.tsx
  front/components/pages/workspace/MembersPage.tsx
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernanceSettingSection.tsx
  front/components/pages/workspace/governance/RoleProvisioningSection.tsx
  front/components/workspace/settings/WorkspaceNameEditor.tsx
  front/locales/en-US/components/pages/workspace/governance/messages.po
  front/locales/fr-FR/components/pages/workspace/governance/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Reject Microsoft internal ids outside selectable paths (#33942)
  connectors/src/connectors/microsoft/index.ts
  connectors/src/connectors/microsoft/lib/utils.test.ts
  connectors/src/connectors/microsoft/lib/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] documents: read_document and edit_document tools (#34339)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/documents/metadata.ts
  front/lib/api/actions/servers/documents/tools/index.ts
  front/lib/api/files/dfm_agent_comments.ts
  front/lib/api/files/dfm_agent_documents.test.ts
  front/lib/api/files/dfm_agent_documents.ts
  front/lib/api/files/dfm_comment_signatures.ts
  front/lib/api/files/dfm_stored_documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: document themes from DFM front matter
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/README.md
  front/components/editor/document/extensions.ts
  front/components/editor/document/themes.test.ts
  front/components/editor/document/themes.ts
  front/components/editor/document/useDocumentEditor.ts
  front/styles/theme-extras.css
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: move the theme registry to lib/editor, with descriptions
  front/components/editor/document/README.md
  front/components/editor/document/useDocumentEditor.ts
  front/lib/editor/document_themes.test.ts
  front/lib/editor/document_themes.ts
  front/styles/theme-extras.css
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: issue with pod search pagination.
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: no close code on terminated sockets
  front-api/collab_server.ts
Due: biome

[front] style: format conversation navigation CSS
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
Due: biome

[front] members: fix invite modal title and subtitle copy
  front/components/members/InviteEmailButtonWithModal.tsx
  front/locales/en-US/components/members/messages.po
  front/locales/fr-FR/components/members/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: add favorite selection modes to agent search (#34457)
  front-api/routes/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/search.ts
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/lib/agent_search/query_schema.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/types/agent_search/agent_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] agents: hide duplicate in agent details menu without create permission
  front/components/assistant/details/AgentDetailsButtonBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-spa] Show an access-denied page instead of a 404 on admin routes
  front-spa/src/app/layouts/RequirePermissionLayout.tsx
  front-spa/src/app/layouts/RequireRoleLayout.tsx
  front-spa/src/app/routes/adminRoutes.tsx
  front/components/pages/AccessDeniedPage.tsx
  front/locales/en-US/components/pages/messages.po
  front/locales/fr-FR/components/pages/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Keep DataTable header case as written
  front/components/agent_builder/capabilities/shared/ChildAgentSection.tsx
  front/components/agent_builder/capabilities/shared/DustAppSection.tsx
  front/components/agent_builder/capabilities/shared/SecretSection.tsx
  front/components/poke/templates/TemplatesDataTable.tsx
  front/components/spaces/SpaceActionsList.tsx
  front/components/spaces/SpaceAppsList.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/components/spaces/SpaceTriggersList.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.tsx
  front/locales/en-US/components/agent_builder/capabilities/shared/messages.po
  front/locales/en-US/components/spaces/messages.po
  front/locales/en-US/components/workspace/analytics/consumption/messages.po
  front/locales/fr-FR/components/agent_builder/capabilities/shared/messages.po
  front/locales/fr-FR/components/spaces/messages.po
  front/locales/fr-FR/components/workspace/analytics/consumption/messages.po
  sparkle/src/components/DataTable/parts.tsx
  sparkle/src/components/DataTableSkeleton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: search agent favorites in Discover
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverContainer.tsx
  front/components/assistant/conversation/discover/catalog.ts
  front/lib/swr/catalog_search.test.tsx
  front/lib/swr/catalog_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: only infinite scroll skills in the Skills tab of the capabilities sheet
  front/components/agent_builder/capabilities/capabilities_sheet/CapabilitiesSelectionPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[spolu] Propose dfs server API
  x/spolu/dfs/API.md
Due: biome

[front] chore: remove legacy favorites-first agent search
  front-api/routes/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/search.ts
  front/lib/agent_search/query_schema.ts
  front/lib/agent_search/ranking.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: shorter shutdown comments
  front-api/collab_server.ts
Due: biome

[sparkle] fix: make MultiPageSheet ScrollArea the actual scroll container
  sparkle/src/components/MultiPageSheet.tsx
Due: biome
