Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

dry
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

[connectors] Return a missing Slack user as Err and narrow mock context without a cast
  connectors/src/connectors/slack/bot.test.ts
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

[connectors][front-api] Treat a refused Slack answer as handled and merge publicApiAuth doc blocks
  connectors/src/connectors/slack/bot.test.ts
  connectors/src/connectors/slack/bot.ts
  front-api/middlewares/public_api_auth.ts
Due: connectors-typecheck, biome, connectors-eslint

cc review
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Reject impersonation fallback when named groups are blank and restore separate @cc block
  front-api/middlewares/public_api_auth.test.ts
  front-api/middlewares/public_api_auth.ts
  front/types/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Reject system-key impersonation when the email matches no member
  front-api/middlewares/public_api_auth.test.ts
  front-api/middlewares/public_api_auth.ts
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: simplify activity cancellation handling
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_execution.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/utils/async_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Validate dfs v2 search failures and prepare local benchmarks
  x/spolu/dfs/v2/Cargo.lock
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/README.md
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/bench/initial/search.json
  x/spolu/dfs/v2/bench/search.py
  x/spolu/dfs/v2/bench/vfs.py
  x/spolu/dfs/v2/local/Dockerfile
  x/spolu/dfs/v2/local/compose.yaml
  x/spolu/dfs/v2/server/Cargo.toml
  x/spolu/dfs/v2/server/src/lib.rs
  x/spolu/dfs/v2/server/src/main.rs
  x/spolu/dfs/v2/server/src/search/index.rs
  x/spolu/dfs/v2/server/src/search/query.rs
  x/spolu/dfs/v2/server/src/search/tests.rs
  x/spolu/dfs/v2/server/src/search/worker.rs
  x/spolu/dfs/v2/server/src/transport.rs
  x/spolu/dfs/v2/server/tests/transport.rs
  x/spolu/dfs/v2/tests/search_failures.py
  x/spolu/dfs/v2/tests/support.py
Due: biome

fix(tools): agent-agnostic always-allow labels (#33975)
  front/components/actions/blocked/toolValidationLabels.ts
  front/lib/actions/tool_approval_events.ts
  front/lib/actions/tool_approval_labels.test.ts
  front/lib/actions/tool_approval_labels.ts
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Route decorations only on the responses that return them
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/DeleteAssistantsDialog.tsx
  front/components/assistant/SetModelAssistantsDialog.tsx
  front/components/assistant/UnpublishAssistantsDialog.tsx
  front/components/assistant/conversation/agent_browser/AgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/shared.tsx
  front/components/assistant/conversation/discover/catalog.ts
  front/components/assistant/helpers/agents.ts
  front/components/assistant/manager/AssistantsTable.tsx
  front/lib/swr/assistants.ts
  front/lib/utils.ts
  front/types/api/assistant/configuration/index.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Details route returns AgentConfigurationType & AgentLastAuthorsEnrichment
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/components/assistant/details/AgentDetailsBody.tsx
  front/lib/resources/agent_resource_serialization.ts
  front/lib/swr/assistants.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Type the analytics-view editors test with the list route response
  front-api/routes/w/[wId]/assistant/agent_configurations/index.test.ts
Due: biome

fix(front-api): keep organizationId and utm when restarting a WorkOS login
  front-api/routes/workos/[action].test.ts
  front-api/routes/workos/[action].ts
Due: biome

[front] fix: soft-delete leftover Discord data source views
  front/migrations/pre-deploy/20261002143000_soft_delete_discord_bot_data_source_views.sql
Due: none

fix(auth): bind WorkOS web login to the initiating browser (#33981)
  front-api/routes/workos/[action].test.ts
  front-api/routes/workos/[action].ts
Due: biome

Gate Slack lead notification on email validity instead of rejecting
  front-api/routes/enrichment/company.test.ts
  front-api/routes/enrichment/company.ts
Due: biome

security(front-api): stop /api/enrichment/company from disclosing accounts and auto-join domains
  front-api/routes/enrichment/company.test.ts
  front-api/routes/enrichment/company.ts
Due: biome

[front] refactor: move getAccessibleWebhookSourceViews to lib/api/agent_triggers
  front/lib/api/actions/servers/triggers_management/tools/index.ts
  front/lib/api/agent_triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: extract getConversationUserTimezone from the triggers_management tools
  front/lib/api/actions/servers/triggers_management/tools/index.ts
  front/lib/api/assistant/configuration/triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: extract generateWebhookTriggerFilter from create_event_trigger
  front/lib/api/actions/servers/triggers_management/tools/index.ts
  front/lib/api/assistant/configuration/triggers/webhook_filter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Remove several skills from project default skills at once (#33756)
  front/lib/resources/project_metadata_resource.test.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add SkillResource.batchDelete
  front/lib/resources/agent_skills.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: move trigger deletion from the triggers route to deleteAgentTriggers
  front-api/routes/w/[wId]/triggers/index.ts
  front/lib/api/agent_triggers.test.ts
  front/lib/api/agent_triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: move trigger creation from the triggers route to createAgentTrigger
  front-api/routes/w/[wId]/triggers/index.ts
  front/lib/api/agent_triggers.test.ts
  front/lib/api/agent_triggers.ts
  front/types/assistant/triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: create triggers_management triggers through createAgentTrigger
  front/lib/api/actions/servers/triggers_management/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Benchmark local dfs v2 and verify database recovery
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/README.md
  x/spolu/dfs/v2/bench/RESULTS.md
  x/spolu/dfs/v2/bench/latest/case-0-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-1-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-10-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-2-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-3-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-4-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-5-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-6-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-7-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-8-client-metrics.json
  x/spolu/dfs/v2/bench/latest/case-9-client-metrics.json
  x/spolu/dfs/v2/bench/latest/dfs.json
  x/spolu/dfs/v2/bench/latest/filesystem.json
  x/spolu/dfs/v2/bench/latest/local.json
  x/spolu/dfs/v2/bench/latest/search.json
  x/spolu/dfs/v2/bench/latest/workspaces.json
  x/spolu/dfs/v2/bench/workspaces.py
  x/spolu/dfs/v2/local/restarts.py
  x/spolu/dfs/v2/server/examples/workspace_bench.rs
  x/spolu/dfs/v2/server/src/search/tests.rs
  x/spolu/dfs/v2/tests/restart_fixture.py
Due: biome

refactor(mcp): export ClampedDescription for reuse
  front/components/actions/mcp/MCPServerDetailsTools.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): clamp long server description in tool details sheet
  front/components/actions/mcp/MCPServerDetailsGeneral.tsx
  front/components/actions/mcp/MCPServerDetailsSheet.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] test: cover keeping the webhook source view of a trigger its editor cannot read
  front-api/routes/w/[wId]/triggers/index.test.ts
Due: biome

[front] Add SkillResource.batchDelete (#33757)
  front/lib/resources/agent_skills.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[x] daph: co-edition technical notes and work log
  x/daph/co-edition/README.md
  x/daph/co-edition/WORK.md
Due: biome

[front] refactor: move webhook payload schemas into lib/api (#33993)
  front/lib/api/triggers/built-in-webhooks/fathom/schemas/meeting_content_ready.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/issues.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/projects_v2_item.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/pull_request.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/pull_request_review.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/push.ts
  front/lib/api/triggers/built-in-webhooks/github/schemas/release.ts
  front/lib/api/triggers/built-in-webhooks/jira/schemas/issue_created.ts
  front/lib/api/triggers/built-in-webhooks/jira/schemas/issue_deleted.ts
  front/lib/api/triggers/built-in-webhooks/jira/schemas/issue_updated.ts
  front/lib/api/triggers/built-in-webhooks/linear/schemas/envelope.ts
  front/lib/api/triggers/built-in-webhooks/linear/schemas/issue.ts
  front/lib/api/triggers/built-in-webhooks/linear/schemas/project.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/organization_created.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/ticket_agent_assignment_changed.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/ticket_comment_added.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/ticket_created.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/ticket_priority_changed.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/ticket_status_changed.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/schemas/user_created.ts
  front/lib/triggers/built-in-webhooks/fathom/preset.ts
  front/lib/triggers/built-in-webhooks/github/preset.ts
  front/lib/triggers/built-in-webhooks/jira/preset.ts
  front/lib/triggers/built-in-webhooks/linear/preset.ts
  front/lib/triggers/built-in-webhooks/zendesk/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(api): reject negative conversation depth
  front-api/routes/v1/w/[wId]/assistant/conversations/index.test.ts
  sdks/js/src/types.ts
Due: biome

[x] daph: co-edition technical notes and work log (#34013)
  x/daph/co-edition/README.md
  x/daph/co-edition/WORK.md
Due: biome

[front] refactor: separate webhook client metadata from server payloads
  front-api/routes/w/[wId]/assistant/agent_configurations/webhook_filter_generator.ts
  front-spa/vite.config.ts
  front/components/agent_builder/triggers/webhook/WebhookEditionFilters.tsx
  front/components/agent_builder/triggers/webhook/WebhookEditionSheet.tsx
  front/lib/api/actions/servers/triggers_management/tools/index.ts
  front/lib/api/triggers/built-in-webhooks/fathom/preset.ts
  front/lib/api/triggers/built-in-webhooks/github/preset.ts
  front/lib/api/triggers/built-in-webhooks/jira/preset.ts
  front/lib/api/triggers/built-in-webhooks/linear/preset.test.ts
  front/lib/api/triggers/built-in-webhooks/linear/preset.ts
  front/lib/api/triggers/built-in-webhooks/zendesk/preset.ts
  front/lib/api/triggers/webhook_presets.ts
  front/lib/triggers/built-in-webhooks/fathom/client_side.ts
  front/lib/triggers/built-in-webhooks/fathom/preset.ts
  front/lib/triggers/built-in-webhooks/github/client_side.ts
  front/lib/triggers/built-in-webhooks/github/preset.ts
  front/lib/triggers/built-in-webhooks/jira/client_side.ts
  front/lib/triggers/built-in-webhooks/jira/preset.ts
  front/lib/triggers/built-in-webhooks/linear/client_side.ts
  front/lib/triggers/built-in-webhooks/linear/preset.ts
  front/lib/triggers/built-in-webhooks/zendesk/client_side.ts
  front/lib/triggers/built-in-webhooks/zendesk/events.ts
  front/lib/triggers/built-in-webhooks/zendesk/preset.ts
  front/lib/triggers/webhook_presets.ts
  front/lib/triggers/webhooks_client_side.ts
  front/types/triggers/webhooks_source_preset.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: persist Document as DFM
  front/components/editor/document/DocumentSourcePreview.tsx
  front/components/editor/document/README.md
  front/components/editor/document/dfm_persistence.test.ts
  front/components/editor/document/dfm_persistence.ts
  front/components/editor/document/index.tsx
  front/components/editor/document/types.ts
  front/components/editor/document/useDocumentEditor.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] files: open Markdown files in the Document editor behind co_edition
  front/components/assistant/conversation/files_panel/FilePreviewPanel.tsx
  front/components/file_explorer/FilePreviewBody.tsx
  front/components/file_explorer/FilePreviewContent.tsx
  front/components/file_explorer/FilePreviewDialog.tsx
  front/components/file_explorer/useMarkdownFileEditor.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: copy the Document editor core from Sparkle
  front/components/editor/document/DocumentAnchors.ts
  front/components/editor/document/DocumentBlockMenu.tsx
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/DocumentSelectionToolbar.tsx
  front/components/editor/document/DocumentSourcePreview.tsx
  front/components/editor/document/README.md
  front/components/editor/document/blocks.ts
  front/components/editor/document/content.ts
  front/components/editor/document/extensions.ts
  front/components/editor/document/index.tsx
  front/components/editor/document/types.ts
  front/components/editor/document/useDocumentEditor.ts
  front/components/editor/document/useEditorLayoutVersion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
