Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Clarify review automation contract exceptions
  .github/actions/review-bot/README.md
  .github/actions/review-bot/review-bot.ts
  CONTRACTS
Due: biome

feat(cli): scope the file system tools to the working directory (#30817)
  cli/dust-cli/README.md
  cli/dust-cli/src/index.tsx
  cli/dust-cli/src/mcp/tools/editFile.ts
  cli/dust-cli/src/mcp/tools/readFile.ts
  cli/dust-cli/src/mcp/tools/runCommand.ts
  cli/dust-cli/src/mcp/tools/searchContent.ts
  cli/dust-cli/src/mcp/tools/searchFiles.ts
  cli/dust-cli/src/ui/App.tsx
  cli/dust-cli/src/ui/Help.tsx
  cli/dust-cli/src/ui/components/Conversation.tsx
  cli/dust-cli/src/utils/sandbox.ts
Due: biome

feat(image-generation): default to gpt-image-2.5-flare in all regions
  front/lib/api/actions/servers/image_generation/clients/openai.ts
  front/lib/api/actions/servers/image_generation/getImageGenerationLLM.test.ts
  front/lib/api/actions/servers/image_generation/getImageGenerationLLM.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

docs(contracts): require a pricing entry for every new image model
  front/CONTRACTS
Due: none

feat(image-generation): add gpt-image-2.5-flare model id and pricing
  front/lib/api/assistant/token_pricing/global.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/openai.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Archive per-API-key cap alerts in spend-cap cleanup script (#32126)
  front/lib/metronome/alerts/spend_limits.test.ts
  front/lib/metronome/alerts/spend_limits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: ability to pick file to add as Tab in Pod Settings (#32122)
  front/components/pod/PodFileTabContent.tsx
  front/components/pod/PodFileTabPreview.tsx
  front/components/pod/settings/AddPodFileMenu.tsx
  front/components/pod/settings/PodTabsCustomizationSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: + button to add files as tabs. Remove: click to edit a tab.
  front/components/pages/pod/PodPage.tsx
  front/components/pod/MissingPodFileTabCallout.tsx
  front/components/pod/PodFileTabContent.tsx
  front/components/pod/PodFileTabPreview.tsx
  front/components/pod/PodNavAddFileTabButton.tsx
  front/components/pod/files/addablePodTabFiles.ts
  front/components/pod/settings/PodTabsCustomizationSection.tsx
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Trigger contract reviews from review-bot (#32118)
  .github/actions/review-bot/README.md
  .github/actions/review-bot/action.yml
  .github/actions/review-bot/review-bot.ts
  .github/workflows/review-bot.yml
  CONTRACTS
Due: biome

[front] Store attributed skill IDs on consumption items
  front/lib/analytics/agent_message_consumption/documents.test.ts
  front/lib/analytics/agent_message_consumption/tool_documents.ts
  front/lib/api/assistant/agent_message_consumption_attribution/conversation_read.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/read.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/skill_attribution.ts
  front/lib/api/assistant/agent_message_consumption_attribution/store.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/store.ts
  front/lib/models/agent/agent_message_consumption_item.ts
  front/lib/resources/agent_message_consumption_item_resource.test.ts
  front/lib/resources/agent_message_consumption_item_resource.ts
  front/migrations/pre-deploy/20260909141830_add_attributed_skill_ids_to_agent_message_consumption_items.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Assign owners to coding and Resource contracts
  CONTRACTS
  front/CONTRACTS
Due: none

Leave handler and business-result contracts without owners
  front/CONTRACTS
Due: none

Assign factory setup contract to Fraggle
  front/CONTRACTS
Due: none

Assign owners to coding and Resource contracts (#32135)
  CONTRACTS
  front/CONTRACTS
Due: none

[front] Clarify skill attribution map invariants
  front/lib/api/assistant/agent_message_consumption_attribution/store.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test: check we dont expose ModelId in public api
  sdks/js/src/no_model_ids_in_responses.test.ts
  sdks/js/src/types.ts
Due: biome

Clarify Result and caught-error contracts
  CONTRACTS
Due: none

[Admin Governance] Support admin API keys in agent ACLs (#32083)
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.test.ts
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/helpers.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
  x/pr/agent_governance_migration.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] enh: per-type request payloads, single filter, badged avatars
  sparkle/playground/src/components/AvatarCounter.tsx
  sparkle/playground/src/components/RequestDecisionDialogs.tsx
  sparkle/playground/src/components/RequestDetailView.tsx
  sparkle/playground/src/components/RequestPayload.tsx
  sparkle/playground/src/components/RequestsView.tsx
  sparkle/playground/src/data/requests.ts
  sparkle/playground/src/data/types.ts
  sparkle/playground/src/stories/AvatarCounter.tsx
  sparkle/src/components/ConversationListItem.tsx
  sparkle/src/components/Counter.tsx
  sparkle/src/stories/ConversationListItem.stories.tsx
Due: biome

[connectors] fix: improve Microsoft auth errors handling in `retrievePermissions` (#32117)
  connectors/src/connectors/microsoft/index.ts
Due: connectors-typecheck, biome, connectors-eslint

test
  front/lib/resources/skill/skill_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document the external-service adapter error exception
  CONTRACTS
  connectors/src/lib/oauth.ts
Due: connectors-typecheck, biome, connectors-eslint

Add: + button to add files as tabs. Remove: click to edit a tab. (#32123)
  front/components/pages/pod/PodPage.tsx
  front/components/pod/MissingPodFileTabCallout.tsx
  front/components/pod/PodFileTabContent.tsx
  front/components/pod/PodFileTabPreview.tsx
  front/components/pod/PodNavAddFileTabButton.tsx
  front/components/pod/files/addablePodTabFiles.ts
  front/components/pod/settings/PodTabsCustomizationSection.tsx
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Deploys and reverts name cells, not regions
  .github/actions/slack-notify/action.yml
  .github/workflows/deploy.yml
  .github/workflows/revert.yml
Due: biome

feat: remove permissions on regular_auto groups
  front/lib/model_tiers/allowed_tiers.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: tests
  front-api/routes/w/[wId]/governance-permissions.test.ts
  front-api/routes/w/[wId]/groups.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/index.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/spend_limit.test.ts
Due: biome

Add: stripe and ngrok cli to the dev container.
  dev/Dockerfile
  sparkle/playground/package-lock.json
  tools/mprocs.yaml
Due: package-lock-check, biome

Fix folder archive stream cancellation (#32102)
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front/lib/api/files/folder_archive.test.ts
  front/lib/api/files/folder_archive.ts
  front/types/shared/utils/streams.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Show programmatic usage as % of total in credit pool cards
  front/components/workspace/WorkspaceCreditPoolCards.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Spend caps: show "capped" for a 0-value per-user cap in poke/usage
  front/lib/api/credits/members_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: stripe and ngrok cli to the dev container. (#32140)
  dev/Dockerfile
  sparkle/playground/package-lock.json
  tools/mprocs.yaml
Due: package-lock-check, biome

Show transferred-asset counts after merging user identities
  front/lib/api/poke/plugins/workspaces/user_identity_merge.ts
  front/lib/iam/users.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/trigger_resource.test.ts
  front/lib/resources/trigger_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

company space: let admins pick who can write to Company Data (#32073)
  front-api/routes/w/[wId]/spaces/[spaceId]/members.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/members.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

company space: space settings sheet for Company Data
  front/components/pages/spaces/SpacePage.tsx
  front/components/spaces/GlobalSpaceSettingsModal.tsx
  front/components/spaces/SpaceCategoriesList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove permissions on regular_auto groups (#31808)
  front-api/routes/w/[wId]/governance-permissions.test.ts
  front-api/routes/w/[wId]/groups.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/index.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/spend_limit.test.ts
  front/lib/model_tiers/allowed_tiers.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

company space: space settings sheet for Company Data (#32074)
  front/components/pages/spaces/SpacePage.tsx
  front/components/spaces/GlobalSpaceSettingsModal.tsx
  front/components/spaces/SpaceCategoriesList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Governance] Align Poke agent permission reporting with grants
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document Temporal activity error boundaries
  CONTRACTS
  connectors/src/CONTRACTS
  front/poke/temporal/CONTRACTS
  front/temporal/CONTRACTS
Due: none

admin governance: drop the space management mode
  front-api/public/swagger.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/spaces/index.ts
  front/components/poke/spaces/view.tsx
  front/lib/api/spaces.test.ts
  front/lib/api/spaces.ts
  front/lib/api/spaces/members.ts
  front/lib/dev/dust_hive_seed.sql
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/spaces.ts
  front/lib/swr/conversation_selected_spaces.ts
  front/migrations/20251013_suspend_group_mode_members.ts
  front/migrations/20260825_backfill_open_space_admin_manager_members.ts
  front/migrations/post-deploy/20260906125536_drop_management_mode_from_vaults.sql
  front/scripts/move_company_space_to_restricted.ts
  front/types/api/spaces.ts
  front/types/space.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix test
  front/lib/resources/skill/skill_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
