Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Migrate Googgle drive, search, oauth
  front-api/routes/w/[wId]/google_drive/picker_token.ts
  front-api/routes/w/[wId]/google_drive/search_for_authorization.test.ts
  front-api/routes/w/[wId]/google_drive/search_for_authorization.ts
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/oauth/[provider]/setup.ts
  front-api/routes/w/[wId]/search/tools/upload.ts
  front/pages/api/w/[wId]/google_drive/picker_token.ts
  front/pages/api/w/[wId]/google_drive/search_for_authorization.ts
  front/pages/api/w/[wId]/oauth/[provider]/setup.ts
  front/pages/api/w/[wId]/search/tools/upload.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

db: fix conversation branch previous message index (#26147)
  front/migrations/db/migration_652.sql
Due: none

Split h2 forwarder module (#26146)
  cli/dust-sandbox/src/commands/forward/http2/inbound.rs
  cli/dust-sandbox/src/commands/forward/http2/mod.rs
  cli/dust-sandbox/src/commands/forward/http2/pool.rs
  cli/dust-sandbox/src/commands/forward/http2/stream.rs
  cli/dust-sandbox/src/commands/forward/http2/test_support.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h1.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h2.rs
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
Due: none

work
  front/components/pages/workspace/billing/BillingPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Gate regionally hosted models (#26150)
  front/components/pages/workspace/model_providers/RegionalModelsOnlyToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Clean syncSeatCounts, make idempotent (#26108)
  front/lib/api/membership.ts
  front/lib/metronome/client.ts
  front/lib/metronome/seat_types.ts
  front/lib/metronome/seats.ts
  front/lib/resources/membership_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] fix: prevent datasource document deletion deadlocks (#26073)
  core/src/stores/postgres.rs
Due: none

Split forward session modules
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/domain_extract.rs
  cli/dust-sandbox/src/commands/forward/mitm_session.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/proxy_tunnel.rs
  cli/dust-sandbox/src/commands/forward/session.rs
Due: none

Handle discout+payg config in dedicated table
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front-api/routes/poke/workspaces/[wId]/switch_contract.ts
  front/admin/db.ts
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_credit_usage_configuration.ts
  front/lib/api/poke/plugins/workspaces/manage_programmatic_usage_configuration.ts
  front/lib/credits/awu_purchase.test.ts
  front/lib/credits/awu_purchase.ts
  front/lib/credits/awu_purchase_constants.ts
  front/lib/metronome/payg_alerts.ts
  front/lib/resources/credit_usage_configuration_resource.ts
  front/lib/resources/storage/models/credit_usage_configurations.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_653.sql
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Handle discout+payg config in dedicated table (#26098)
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front-api/routes/poke/workspaces/[wId]/switch_contract.ts
  front/admin/db.ts
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_credit_usage_configuration.ts
  front/lib/api/poke/plugins/workspaces/manage_programmatic_usage_configuration.ts
  front/lib/credits/awu_purchase.test.ts
  front/lib/credits/awu_purchase.ts
  front/lib/credits/awu_purchase_constants.ts
  front/lib/metronome/payg_alerts.ts
  front/lib/resources/credit_usage_configuration_resource.ts
  front/lib/resources/storage/models/credit_usage_configurations.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_653.sql
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: rename pod main page components (#26145)
  extension/ui/pages/ProjectMainPage.tsx
  front-spa/src/app/routes/podsRoutes.tsx
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/assistant/conversation/CreateProjectModal.tsx
  front/components/assistant/conversation/EditProjectTitleDialog.tsx
  front/components/assistant/conversation/ProjectMenu.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/sidebar/ProjectsList.tsx
  front/components/assistant/conversation/space/CreateFolderDialog.tsx
  front/components/assistant/conversation/space/PodPinnedBanner.tsx
  front/components/assistant/conversation/space/ProjectFileExplorer.tsx
  front/components/assistant/conversation/space/RenameFileDialog.tsx
  front/components/assistant/conversation/space/about/DeleteSpaceDialog.tsx
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsActions.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/assistant/conversation/space/conversations/project_tasks/useProjectTasksPanelState.ts
  front/components/assistant/conversation/tool_validation/PodTasksUpdateValidationDetails.tsx
  front/components/markdown/TaskDirectiveBlock.tsx
  front/components/pages/pod/PodPage.tsx
  front/components/pod/PodHeaderActions.tsx
  front/hooks/conversations/index.ts
  front/hooks/conversations/useConversationMarkAsRead.ts
  front/hooks/conversations/usePodConversations.ts
  front/hooks/useLeaveProjectDialog.tsx
  front/hooks/useMarkAllConversationsAsRead.ts
  front/hooks/useMoveConversationOutOfProject.tsx
  front/hooks/useMoveConversationToProject.tsx
  front/hooks/useScopedUIPreferences.ts
  front/hooks/useSpaceProjectTabs.ts
  front/lib/swr/pods.ts
  front/lib/swr/search.ts
  front/lib/swr/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Batch queries on apps
  front/lib/api/apps.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Batch queries on agent creation/restore
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Create workos organization on contract creation
  front-api/routes/poke/workspaces/[wId]/switch_contract.ts
  front/lib/api/metronome/process_webhook.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(backend): displayed image extension mismatch with actual mime type
  front/components/actions/mcp/details/MCPImageGenerationActionDetails.tsx
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/image_generation/helpers.ts
  front/lib/api/actions/servers/image_generation/metadata.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Split forward session modules (#26148)
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/domain_extract.rs
  cli/dust-sandbox/src/commands/forward/mitm_session.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/proxy_tunnel.rs
  cli/dust-sandbox/src/commands/forward/session.rs
Due: none

Consolidate forward test helpers
  cli/dust-sandbox/src/commands/forward/http2/test_support.rs
  cli/dust-sandbox/src/commands/forward/http_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mitm_session.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/test_support.rs
Due: none

fix(backend): displayed image extension mismatch with actual mime type (#26155)
  front/components/actions/mcp/details/MCPImageGenerationActionDetails.tsx
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/image_generation/helpers.ts
  front/lib/api/actions/servers/image_generation/metadata.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Consolidate forward test helpers (#26149)
  cli/dust-sandbox/src/commands/forward/http2/test_support.rs
  cli/dust-sandbox/src/commands/forward/http_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mitm_session.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/test_support.rs
Due: none

Make forwarder tests deterministic
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2/inbound.rs
  cli/dust-sandbox/src/commands/forward/http2/pool.rs
  cli/dust-sandbox/src/commands/forward/http2/stream.rs
  cli/dust-sandbox/src/commands/forward/http2/test_support.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h1.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h2.rs
Due: none

Format cancellation regression tests
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/temporal/agent_loop/activities/common.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address cancellation review feedback
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/api/assistant/conversation.ts
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
  sdks/js/src/output_schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix cancelled tool early exits
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/api/assistant/conversation.ts
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
  sdks/js/src/output_schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle stale cancellation events safely
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make forwarder tests deterministic (#26151)
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2/inbound.rs
  cli/dust-sandbox/src/commands/forward/http2/pool.rs
  cli/dust-sandbox/src/commands/forward/http2/stream.rs
  cli/dust-sandbox/src/commands/forward/http2/test_support.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h1.rs
  cli/dust-sandbox/src/commands/forward/http2/upstream_h2.rs
Due: none

Batch queries on various activities
  front/temporal/data_retention/activities.ts
  front/temporal/es_indexation/activities.ts
  front/temporal/relocation/activities/destination_region/front/es_indexation.ts
  front/temporal/triggers/webhook_client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove unused parameters
  front/lib/triggers/webhook.ts
  front/temporal/triggers/webhook_client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: skip tools validation when creating conversation with a slack bot
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Migrate Googgle drive, search, oauth (#26143)
  front-api/routes/w/[wId]/google_drive/picker_token.ts
  front-api/routes/w/[wId]/google_drive/search_for_authorization.test.ts
  front-api/routes/w/[wId]/google_drive/search_for_authorization.ts
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/oauth/[provider]/setup.ts
  front-api/routes/w/[wId]/search/tools/upload.ts
  front/pages/api/w/[wId]/google_drive/picker_token.ts
  front/pages/api/w/[wId]/google_drive/search_for_authorization.ts
  front/pages/api/w/[wId]/oauth/[provider]/setup.ts
  front/pages/api/w/[wId]/search/tools/upload.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

BillingInformation working
  front/components/checkout/PaymentMethodRow.tsx
  front/lib/api/billing/info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

code
  front/components/workspace/billing/BillingInformation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/checkout/PaymentMethodRow.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove logging
  front/lib/api/billing/info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make the manage redirect page layout-less
  front-spa/src/app/routes.tsx
  front-spa/src/app/routes/adminRoutes.tsx
Due: biome

Scope sandbox telemetry secrets to fluent-bit
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pin telemetry exec pattern with a guard comment
  front/lib/api/sandbox/telemetry/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Scope sandbox telemetry secrets to fluent-bit (#26162)
  front/lib/api/sandbox/telemetry/index.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix credits modal link, remove ppul page
  front/components/app/ReachedLimitPopup.tsx
  front/components/navigation/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix credits modal link, remove ppul page (#26157)
  front/components/app/ReachedLimitPopup.tsx
  front/components/navigation/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
