Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[sparkle] NewButton: size-dependent white hover overlay
  sparkle/src/components/NewButton.tsx
Due: biome

[sparkle] NewInput: align typography + spacing with Figma
  sparkle/src/components/NewInput.tsx
Due: biome

[sparkle] add NewButton and NewInput (redesign, additive)
  sparkle/src/components/NewButton.tsx
  sparkle/src/components/NewInput.tsx
  sparkle/src/components/index.ts
Due: biome

[sparkle] NewButton: drop redundant variant cast ([GEN4])
  sparkle/src/components/NewButton.tsx
Due: biome

[sparkle] NewButton: unify shadow + pixel-exact neutral overlays
  sparkle/src/components/NewButton.tsx
Due: biome

[sparkle] NewButton: biome formatting (collapse hasTextShadow)
  sparkle/src/components/NewButton.tsx
Due: biome

[sparkle] add NewInputWithSave story
  sparkle/src/stories/NewInputWithSave.stories.tsx
Due: biome

feat(dsbx): run function code as the unprivileged agent uid
  cli/dust-sandbox/README.md
  cli/dust-sandbox/functions-runner/fixtures/write-root.ts
  cli/dust-sandbox/src/commands/function/get.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/run.rs
Due: biome

Improve Snowflake tool-search recall
  front/lib/api/actions/servers/snowflake/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Store default skills in an array for the default skills in pods feature
  front/lib/resources/storage/models/project_metadata.ts
  front/migrations/pre-deploy/20260626160000_add_default_skills_array_to_project_metadata.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: improve agent memory tool search recall
  front/lib/api/actions/servers/agent_memory/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add input_bar_model_picker feature flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename ff
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): always route GA Gemini through agent platform in the new router
  front/lib/llms/stream/endpoints/agent_platform_eu_gemini_3_1_flash_lite.ts
  front/lib/llms/stream/endpoints/agent_platform_eu_gemini_3_5_flash.ts
  front/lib/llms/stream/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.ts
  front/lib/llms/stream/endpoints/google_ai_studio_global_gemini_3_5_flash.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/stream/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.ts
  front/lib/model_constructors/stream/endpoints/google_ai_studio_global_gemini_3_5_flash.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.test.ts
  front/lib/model_constructors/test/endpoints/google_ai_studio_global_gemini_3_5_flash.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep run agent placeholder description
  front/lib/api/actions/servers/run_agent/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use valid run agent sample names
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve run agent tool-search recall
  front/lib/api/actions/servers/run_agent/index.ts
  front/lib/api/actions/servers/run_agent/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tweak ask_user_question prompt guidance
  front/lib/api/assistant/generation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use conversation sandbox adapter at call sites
  front-api/routes/w/[wId]/assistant/conversations/[cId]/sandbox/index.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/api/sandbox/sandbox_child_block.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/sandbox_resource.test.ts
  front/temporal/sandbox_reaper/activities.ts
  front/temporal/sandbox_reaper/kill_requester/activities.test.ts
  front/tests/utils/SandboxFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Exclude run agent placeholder from BM25 corpus
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix config
  extension/ui/css/global.css
  front-spa/src/index.css
  front/styles/global.css
  front/tailwind.config.js
  marketing/styles/global.css
  sparkle/src/styles/global.css
  sparkle/src/styles/global_with_tw_base.css
  sparkle/src/styles/tailwind.css
  sparkle/src/styles/tokens.css
  sparkle/tailwind-preset.js
  sparkle/tailwind.config.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] BillingPeriodSwitch: adapt chip size with global size
  front/components/pages/onboarding/SubscriptionPlans.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move conversation sandbox owner map to adapter
  front/lib/resources/conversation_resource.ts
  front/lib/resources/conversation_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/temporal/sandbox_reaper/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] use default size for BillingPeriodSwitch
  front/components/pages/workspace/subscription/SubscriptionPage.tsx
  front/components/paywall/TrialPricingCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(analytics) stop get_agent_details leaking private agent details
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Grant-free-credits plugin: read metronomeCustomerId from workspace arg
  front/lib/api/poke/plugins/workspaces/grant_user_free_credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: register Claude Haiku 4.5 direct-Anthropic global stream endpoint
  front/lib/llms/stream/endpoints/anthropic_global_claude_haiku_four_dot_five.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/stream/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): remove gemini-3.1-pro-preview from agent platform
  front/lib/llms/stream/endpoints/agent_platform_eu_gemini_3_1_pro.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/stream/endpoints/agent_platform_eu_gemini_3_1_pro.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/agent_platform_eu_gemini_3_1_pro.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep run agent description purpose-neutral
  front/lib/api/actions/servers/run_agent/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: add screenshot for EngRunner card #9293
  engrunner-screenshots/spendesk-editor-error-9293-20260629.png
Due: none

Add pod sandbox owner adapter
  front/lib/resources/pod_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
  front/lib/resources/space_resource.sandbox.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(dsbx): run functions with $DUST_FUNCTIONS_DIR as the working directory
  cli/dust-sandbox/functions-runner/fixtures/cwd.ts
  cli/dust-sandbox/src/commands/function/mod.rs
Due: biome

sparkle: replace Lottie Spinner with pure CSS/SVG worm animation
  sparkle/src/components/Spinner.tsx
  sparkle/src/stories/Spinner.stories.tsx
Due: biome

use types in functions in metronome events
  front/lib/api/assistant/credit_cost.ts
  front/lib/metronome/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

tools cost: sc to reorder tools (move free ones at the top)
  front/lib/metronome/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

credit computation: move logic in low level functions
  front/lib/api/assistant/credit_cost.test.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/metronome/events.ts
  front/temporal/analytics_queue/activities.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add slug and description to sandbox functions
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/lib/resources/storage/models/sandbox_function.ts
  front/migrations/pre-deploy/20260629113000_add_sandbox_function_slug_and_description.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

sparkle: fix GEN4 unsafe cast in getCustomHex
  sparkle/src/components/Spinner.tsx
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
