Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Fix permission for GH action
  .github/workflows/promote-spa.yaml
Due: biome

[front] Reverse feature-flag (#21661)
  front/lib/auth/appServerSideProps.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve flow, ensure app is deployed after api (#21836)
  .github/workflows/deploy-spa.yaml
  .github/workflows/deploy.yml
  .github/workflows/promote-spa.yaml
  front/pages/api/healthz/ready.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix render
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

naming nit
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix runModel featureFlags
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dust_system
  front/lib/api/assistant/conversation_rendering/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ego-agent conversation rendering
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add tests for unread conversation notifications
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: test email summary
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: use useRef to prevent duplicate API calls in strict mode
  front/components/agent_builder/AgentBuilder.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: update schedule ID and fix pending agent cleanup
  front/lib/api/assistant/configuration/agent.ts
  front/temporal/hard_delete/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adding Profile page (#21811)
  sparkle/playground/src/components/PlaygroundScreen.tsx
  sparkle/playground/src/components/Profile.tsx
  sparkle/playground/src/stories/Projects.tsx
  sparkle/playground/src/stories/ProjectsWithInbox.tsx
  sparkle/playground/src/stories/Spaces.tsx
Due: biome

[Front] feat(copilot): inline copilotInstructions in template init message
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/CopilotPanelContext.tsx
  front/components/pages/builder/agents/NewAgentPage.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/scripts/seed/copilot/assets/templates.json
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: move agent browser selection to local storage (#21876)
  front/components/assistant/AgentBrowser.tsx
  front/hooks/usePersistedAgentBrowserSelection.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: move convo/project selection to local storage (#21878)
  front/components/assistant/conversation/SidebarMenu.tsx
  front/hooks/useHideTriggeredConversations.ts
  front/hooks/useProjectsSectionCollapsed.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: avoid models in tests
  front/lib/notifications/workflows/conversation-unread.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Analytics dashboard: workspace health, adoption, rankings, styling
  front/pages/api/w/[wId]/analytics/departments.ts
  sparkle/playground/package-lock.json
  sparkle/playground/package.json
  sparkle/playground/postcss.config.cjs
  sparkle/playground/src/data/analytics.ts
  sparkle/playground/src/index.css
  sparkle/playground/src/stories/Analytics.tsx
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "[front] perf: Cache memberships for fromSession"
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/rate_limits.ts
  front/lib/resources/membership_resource.ts
  front/lib/tracking/server.ts
  front/lib/triggers/rate_limits.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Revert "[front] perf: Cache memberships for fromSession" (#21882)
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/rate_limits.ts
  front/lib/resources/membership_resource.ts
  front/lib/tracking/server.ts
  front/lib/triggers/rate_limits.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat(slackbot): whitelist workflow finds right connector (#21877)
  connectors/src/connectors/slack/lib/cli.ts
Due: connectors-typecheck, biome, connectors-eslint

[Front] feat(copilot): inline copilotInstructions in template init message (#21873)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/CopilotPanelContext.tsx
  front/components/pages/builder/agents/NewAgentPage.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/scripts/seed/copilot/assets/templates.json
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Polish Deploy SPA
  .github/actions/slack-notify/action.yml
  .github/workflows/deploy-spa-production.yaml
  .github/workflows/deploy-spa.yaml
  .github/workflows/deploy.yml
Due: biome

[front] Add ability to attach data warehouse to skills (#21651)
  front/lib/api/actions/servers/interactive_content/template_utils.ts
  front/lib/api/assistant/skill_actions.ts
  front/temporal/agent_loop/lib/prompt_commands.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add proper return in execute_database_query when no results
  front/lib/api/actions/servers/query_tables_v2/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix placeholder
  extension/ui/components/input_bar/editor/useCustomEditor.tsx
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add tests for project new conversation notifications
  front/lib/notifications/workflows/project-new-conversation.test.ts
  front/lib/notifications/workflows/project-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Switch dust agent to sonnet 4.6 and dust-ant* agents to opus 4.6
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Switch dust agent to sonnet 4.6 and dust-ant* agents to opus 4.6 (#21885)
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add ebook landing page with gated PDF download
  front/components/home/EbookForm.tsx
  front/lib/api/config.ts
  front/lib/api/hubspot.ts
  front/lib/api/hubspot/ebookFormSchema.ts
  front/pages/api/ebook/download.ts
  front/pages/api/ebook/submit.ts
  front/pages/landing/ebook.tsx
  front/public/static/landing/ebook/Dust_Connected_Enterprise_AI_Playbook.pdf
  front/public/static/landing/ebook/ebook.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add proper return in execute_database_query when no results (#21884)
  front/lib/api/actions/servers/query_tables_v2/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

wip
  front-spa/src/poke/PokeApp.tsx
  front/components/poke/PokeNavbar.tsx
  front/components/poke/pages/CacheLookupPage.tsx
  front/lib/api/redis.ts
  front/lib/poke/cache_registry.ts
  front/pages/api/poke/cache.ts
  front/poke/swr/cache.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Redirect to /landing/ebook on invalid download token
  front/pages/api/ebook/download.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Warm up script for region cache (#21870)
  front/scripts/warm_workspace_region_cache.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix message
  .github/workflows/deploy-spa.yaml
Due: biome

feat: be conservative about gemini input token price
  front/lib/api/assistant/token_pricing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Polish Deploy SPA (#21883)
  .github/actions/slack-notify/action.yml
  .github/workflows/deploy-spa-production.yaml
  .github/workflows/deploy-spa.yaml
  .github/workflows/deploy.yml
Due: biome

Fix import
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
