Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[dsbx] fix: adopt the typed errorEnvelope + Live* move (review)
  cli/dust-sandbox/functions-runner/db/schema.ts
  cli/dust-sandbox/functions-runner/runner.ts
Due: biome

[dsbx] docs: db query doc reflects the spill-file envelope (review follow-up)
  cli/dust-sandbox/src/commands/db/query.rs
Due: none

[dsbx] feat: dsbx db subcommand group
  cli/dust-sandbox/src/commands/db/list.rs
  cli/dust-sandbox/src/commands/db/mod.rs
  cli/dust-sandbox/src/commands/db/query.rs
  cli/dust-sandbox/src/commands/db/reconcile.rs
  cli/dust-sandbox/src/commands/db/schema.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
Due: none

[dsbx] fix: one runner spawner, symlink-safe db list (review)
  cli/dust-sandbox/src/commands/db/list.rs
  cli/dust-sandbox/src/commands/db/mod.rs
  cli/dust-sandbox/src/commands/db/query.rs
  cli/dust-sandbox/src/commands/db/reconcile.rs
  cli/dust-sandbox/src/commands/db/schema.rs
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

[dsbx] fix: @dust/pod stops claiming publish creates databases
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
Due: biome

[dsbx] feat: db query runs DML, refuses DDL
  cli/dust-sandbox/functions-runner/db/commands.test.ts
  cli/dust-sandbox/functions-runner/db/query.ts
  cli/dust-sandbox/functions-runner/runner.ts
  cli/dust-sandbox/src/commands/db/mod.rs
  cli/dust-sandbox/src/commands/db/query.rs
Due: biome

[front] feat: sandbox function publish — bundle + contract, databases untouched
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/get.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
  front/lib/api/sandbox_functions/build_on_sandbox.ts
  front/lib/api/sandbox_functions/dsbx_db.ts
  front/lib/api/sandbox_functions/errors.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
  front/lib/lock.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/types/api/sandbox_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document the larger Frame source size cap in the files edit and create tool descriptions
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix fair-use AWU credits silently dropped when cost overshoots the limit
  front/lib/api/assistant/credit_cost.ts
  front/lib/utils/rate_limiter.test.ts
  front/lib/utils/rate_limiter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pricing: usage page credits reset date from the workspace billing period (#28756)
  front-api/routes/w/[wId]/credits/members-usage.test.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/api/credits/members_usage.ts
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

simplify
  front/components/assistant/conversation/input_bar/modelPickerUtils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Input: set explicit font-size per size variant on inner input
  sparkle/src/components/Input.tsx
Due: biome

Cover skill admin self-add editor flow
  front-api/routes/w/[wId]/skills/[sId]/editors.test.ts
Due: biome

[front] chore: drop MCP listing errors from prompts (#28687)
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/skill_actions.test.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/lib/prompt_commands.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Extract presentational cores from tool approval and personal auth components (#28766)
  front/components/actions/blocked/PersonalAuthenticationCard.tsx
  front/components/actions/blocked/ToolValidationCard.tsx
  front/components/assistant/conversation/BlockedAction.tsx
  front/components/assistant/conversation/BlockedActionsProvider.test.tsx
  front/components/assistant/conversation/BlockedActionsProvider.tsx
  front/components/assistant/conversation/GoogleDriveFileAuthorizationRequired.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.test.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/assistant/conversation/UserAnswerRequired.test.tsx
  front/components/assistant/conversation/UserAnswerRequired.tsx
  front/lib/actions/mcp.ts
  front/lib/api/assistant/conversation/blocked_actions.ts
  front/lib/api/assistant/email/email_trigger.test.ts
  front/lib/api/assistant/email/email_trigger.ts
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document the larger Frame source size cap in the files edit and create tool descriptions (#28774)
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(activation): expose sIds at boundaries, keep ModelId internal
  front/lib/api/activation/orchestrator.ts
  front/temporal/activation/admin/cli.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Ignore derived instructionsHtml in Agent Builder unsaved-changes
  front/components/agent_builder/AgentBuilder.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow agent admins to self-add as editors
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

change swagger
  front-api/public/swagger.json
Due: biome

fix
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
Due: biome

[front] chore: fix skill tests
  front/lib/api/assistant/skill_actions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: fix skill tests (#28778)
  front/lib/api/assistant/skill_actions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: pod-state pre-sleep sync and health check
  front/lib/api/file_system/sandbox/gcs_sandbox_mount_adapter.test.ts
  front/lib/api/sandbox/db.test.ts
  front/lib/api/sandbox/db.ts
  front/lib/api/sandbox/hardening.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/instrumentation.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/resources/pod_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.ts
  front/temporal/sandbox_reaper/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] feat: db reconcile runner (additive-only DDL) (#28613)
  cli/dust-sandbox/functions-runner/db/common.ts
  cli/dust-sandbox/functions-runner/db/reconcile.ts
  cli/dust-sandbox/functions-runner/db/validate.test.ts
  cli/dust-sandbox/functions-runner/db/validate.ts
  cli/dust-sandbox/functions-runner/types/db.ts
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
Due: biome

[front] feat: pod-state pre-sleep sync and health check (#28597)
  front/lib/api/file_system/sandbox/gcs_sandbox_mount_adapter.test.ts
  front/lib/api/sandbox/db.test.ts
  front/lib/api/sandbox/db.ts
  front/lib/api/sandbox/hardening.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/instrumentation.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/resources/pod_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.ts
  front/temporal/sandbox_reaper/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Parse litestream logs to datadog
  front/lib/api/sandbox/db.ts
  front/lib/api/sandbox/image/litestream/litestream.service
  front/lib/api/sandbox/image/litestream/litestream.yml
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/image/telemetry/enrich.lua
  front/lib/api/sandbox/image/telemetry/fluent-bit.conf
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Parse litestream logs to datadog (#28716)
  front/lib/api/sandbox/db.ts
  front/lib/api/sandbox/image/litestream/litestream.service
  front/lib/api/sandbox/image/litestream/litestream.yml
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/image/telemetry/enrich.lua
  front/lib/api/sandbox/image/telemetry/fluent-bit.conf
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(slack mcp) add reactions tools (add, remove, get)
  front/lib/api/actions/servers/slack_personal/metadata.ts
  front/lib/api/actions/servers/slack_personal/tools/index.ts
  front/lib/api/oauth/providers/slack_tools.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

lint
  front/lib/api/actions/servers/slack_personal/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

metada
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/slack_personal/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test errors (bms25)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/slack_bot/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): update cat and search tool handlers to use runContext from ToolHandlerExtra
  front/lib/api/actions/servers/data_sources_file_system/tools/cat.ts
  front/lib/api/actions/servers/data_sources_file_system/tools/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): update cat and search tool handlers to use runContext from ToolHandlerExtra (#28783)
  front/lib/api/actions/servers/data_sources_file_system/tools/cat.ts
  front/lib/api/actions/servers/data_sources_file_system/tools/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[marketing] feat: A/B test homepage hero copy via PostHog
  marketing/components/app/PostHogTracker.tsx
  marketing/components/home/content/Product/HeroOfficeSection.tsx
  marketing/components/home/content/Product/IntroSection.tsx
  marketing/lib/api/config.ts
  marketing/lib/api/posthog_server.ts
  marketing/lib/api/track_pageview.ts
  marketing/lib/experiments/hero_experiment.ts
  marketing/lib/utils/anonymous_id.ts
  marketing/pages/_app.tsx
  marketing/pages/home/index.tsx
  marketing/pages/index.tsx
Due: biome

[marketing] feat: swap collaboration hero visual for Laurel customer video
  marketing/components/home/content/Product/HeroOfficeSection.tsx
  marketing/components/home/content/Product/HeroVideo.tsx
  marketing/lib/experiments/hero_experiment.ts
Due: biome

[marketing] feat: track hero A/B conversion funnel per variant
  front/components/onboarding/useProfileOnboardingForm.ts
  front/lib/experiments/hero_variant_cookie.ts
  marketing/components/home/ContactForm.tsx
  marketing/components/home/content/Product/HeroOfficeSection.tsx
  marketing/lib/experiments/hero_variant_cookie.ts
  marketing/pages/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): cut front over to owner-keyed egress policy layout
  front/admin/audit_log_schemas/sandbox_egress_policy.sandbox_updated.json
  front/lib/api/actions/servers/sandbox/tools/index.test.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/audit/schema_versions.json
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/egress_policy.test.ts
  front/lib/api/sandbox/egress_policy.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
