Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

feat(mobile): support Frames v2 with a read-only host bridge
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Attachment.swift
  x/adrsimon/mobile/Dust/Models/FileReference.swift
  x/adrsimon/mobile/Dust/Models/Frame.swift
  x/adrsimon/mobile/Dust/Services/APIClient.swift
  x/adrsimon/mobile/Dust/Services/FileContentService.swift
  x/adrsimon/mobile/Dust/Services/FrameHostBridge.swift
  x/adrsimon/mobile/Dust/Services/FrameService.swift
  x/adrsimon/mobile/Dust/Views/AttachmentViewerView.swift
  x/adrsimon/mobile/Dust/Views/Components/FrameWebView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/ConversationFilesSheet.swift
Due: none

feat(mobile): redesign the sidebar with an inbox card and a pod browser
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Space.swift
  x/adrsimon/mobile/Dust/Services/SpaceService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/PodBrowserViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/ConversationRowView.swift
  x/adrsimon/mobile/Dust/Views/Components/PillButtonStyle.swift
  x/adrsimon/mobile/Dust/Views/ConversationListView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
  x/adrsimon/mobile/Dust/Views/PodBrowserSheet.swift
Due: none

feat(mobile): add pod files and richer pod conversation rows
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/Models/ConversationAttachment.swift
  x/adrsimon/mobile/Dust/Models/PodFile.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/Services/FileContentService.swift
  x/adrsimon/mobile/Dust/ViewModels/PodConversationsViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/FileListRow.swift
  x/adrsimon/mobile/Dust/Views/Components/PodConversationRowView.swift
  x/adrsimon/mobile/Dust/Views/ConversationFilesSheet.swift
  x/adrsimon/mobile/Dust/Views/PodConversationsView.swift
  x/adrsimon/mobile/Dust/Views/PodFilesSheet.swift
Due: none

feat(mobile): paginate and search conversation lists, open conversations by deep link
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/Models/CreateConversation.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/Services/DeepLinkRouter.swift
  x/adrsimon/mobile/Dust/ViewModels/AuthViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/PodConversationsViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationListView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
  x/adrsimon/mobile/Dust/Views/PodConversationsView.swift
  x/adrsimon/mobile/README.md
Due: biome

Set up the three-zone dust-dev FoundationDB experiment
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/README.md
  x/spolu/dfs/v2/bench/RESULTS.md
  x/spolu/dfs/v2/gcp/.gitignore
  x/spolu/dfs/v2/gcp/CONTRACTS
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/RESULTS.md
  x/spolu/dfs/v2/gcp/compose.yaml
  x/spolu/dfs/v2/gcp/failover.py
  x/spolu/dfs/v2/gcp/fdb.cluster
  x/spolu/dfs/v2/gcp/run
  x/spolu/dfs/v2/gcp/setup-fdb.sh
  x/spolu/dfs/v2/gcp/setup-workload.sh
  x/spolu/dfs/v2/gcp/verify-host.sh
Due: biome

Retain GCP benchmark corpora and record the first 10k run
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/bench/vfs.py
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Record retained-corpus networked filesystem benchmarks
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Compare networked FoundationDB with latency tuning disabled
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Use native FoundationDB latency defaults for v2
  x/spolu/dfs/v2/CONTRACTS
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/README.md
  x/spolu/dfs/v2/bench/RESULTS.md
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/RESULTS.md
  x/spolu/dfs/v2/gcp/compose.yaml
  x/spolu/dfs/v2/gcp/setup-fdb.sh
  x/spolu/dfs/v2/local/compose.yaml
  x/spolu/dfs/v2/local/fdb.bash
  x/spolu/dfs/v2/server/src/network.rs
Due: biome

Document the interactive DFS mount on the workload VM
  x/spolu/dfs/v2/gcp/README.md
Due: biome

Overlap remaining filesystem reads in FDB transactions
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/server/src/ancestry.rs
  x/spolu/dfs/v2/server/src/api.rs
  x/spolu/dfs/v2/server/src/lib.rs
  x/spolu/dfs/v2/server/src/mutation.rs
  x/spolu/dfs/v2/server/src/read.rs
  x/spolu/dfs/v2/tests/support.py
Due: biome

Prepare preferred FDB transaction node experiment
  x/spolu/dfs/v2/gcp/CONTRACTS
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/create-transaction-node.sh
  x/spolu/dfs/v2/gcp/failover.py
  x/spolu/dfs/v2/gcp/run
  x/spolu/dfs/v2/gcp/setup-transaction-node.sh
  x/spolu/dfs/v2/gcp/verify-host.sh
Due: biome

Record overlapping-read benchmark on the original GCP topology
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Validate preferred transaction-node failover and independent writers
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/README.md
Due: biome

Record preferred transaction-node benchmark comparison
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Add Tools to Manage Agents filters
  front/components/assistant/manager/AgentFilterPanel.tsx
  front/components/assistant/manager/agentFilter.ts
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add tool facets to agent search
  front-api/routes/w/[wId]/assistant/agent_configurations/search.test.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/lib/api/agents/search_listing.ts
  front/types/agent_search/agent_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: add `useInvalidateSkills` hook and replace consumers (#34023)
  front/components/skills/RedactedSkillMessage.tsx
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/lib/swr/skill_configurations.ts
  front/lib/swr/useInvalidateSkills.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Filter and cache FUSE xattrs with bounded mount state
  x/spolu/dfs/v1/CONTRACTS
  x/spolu/dfs/v1/DESIGN.md
  x/spolu/dfs/v1/fuse/src/lib.rs
  x/spolu/dfs/v1/fuse/src/linux.rs
  x/spolu/dfs/v1/fuse/src/main.rs
  x/spolu/dfs/v1/fuse/src/xattrs.rs
  x/spolu/dfs/v1/tests/support.py
  x/spolu/dfs/v2/CONTRACTS
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/bench/untar.py
  x/spolu/dfs/v2/bench/vfs.py
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/tests/xattrs.py
Due: biome

Record GCP xattr filtering and cache benchmarks
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

Detail server writeback implementation milestones
  x/spolu/dfs/v2/PLAN.md
Due: biome

Allocate distinct object state tokens for server writeback
  x/spolu/dfs/v2/CONTRACTS
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/server/src/ancestry.rs
  x/spolu/dfs/v2/server/src/api.rs
  x/spolu/dfs/v2/server/src/lib.rs
  x/spolu/dfs/v2/server/src/model.rs
  x/spolu/dfs/v2/server/src/mutation.rs
  x/spolu/dfs/v2/server/src/storage.rs
  x/spolu/dfs/v2/server/tests/filesystem.rs
  x/spolu/dfs/v2/tests/restart_fixture.py
Due: biome

Buffer file edits and batch durable FoundationDB publication
  x/spolu/dfs/v2/CONTRACTS
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/README.md
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/server/src/api.rs
  x/spolu/dfs/v2/server/src/auth.rs
  x/spolu/dfs/v2/server/src/lib.rs
  x/spolu/dfs/v2/server/src/main.rs
  x/spolu/dfs/v2/server/src/mutation.rs
  x/spolu/dfs/v2/server/src/patch.rs
  x/spolu/dfs/v2/server/src/read.rs
  x/spolu/dfs/v2/server/src/search/query.rs
  x/spolu/dfs/v2/server/src/search/tests.rs
  x/spolu/dfs/v2/server/src/search/worker.rs
  x/spolu/dfs/v2/server/src/storage.rs
  x/spolu/dfs/v2/server/src/writeback.rs
  x/spolu/dfs/v2/server/tests/filesystem.rs
  x/spolu/dfs/v2/server/tests/transport.rs
  x/spolu/dfs/v2/server/tests/writeback.rs
  x/spolu/dfs/v2/tests/fuse_e2e.py
  x/spolu/dfs/v2/tests/restart_fixture.py
  x/spolu/dfs/v2/tests/writeback.py
  x/spolu/dfs/v2/tests/xattrs.py
Due: biome

Measure server writeback drain and batch persistence in benchmarks
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/bench/untar.py
  x/spolu/dfs/v2/bench/vfs.py
  x/spolu/dfs/v2/gcp/README.md
Due: biome

Record server writeback GCP benchmarks and measured regressions
  x/spolu/dfs/v2/CONTRACTS
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/bench/vfs.py
  x/spolu/dfs/v2/gcp/RESULTS.md
  x/spolu/dfs/v2/server/src/writeback.rs
Due: biome

[front] Drop duplicate default builder action helper
  front/lib/agent_builder/default_action_configuration.ts
  front/lib/agent_builder/server_side_props_helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front-api): stop /api/enrichment/company from disclosing accounts and auto-join domains (#34004)
  front-api/routes/enrichment/company.test.ts
  front-api/routes/enrichment/company.ts
Due: biome

[connectors][front-api] Treat a refused Slack answer as handled and merge publicApiAuth doc blocks
  connectors/src/connectors/slack/bot.test.ts
  connectors/src/connectors/slack/bot.ts
  front-api/middlewares/public_api_auth.ts
Due: connectors-typecheck, biome, connectors-eslint

[front-api][connectors] Treat an empty user email as impersonation and send Slack answer groups
  connectors/src/api/webhooks/webhook_slack_bot_interaction.ts
  connectors/src/connectors/slack/bot.test.ts
  connectors/src/connectors/slack/bot.ts
  front-api/middlewares/public_api_auth.test.ts
  front-api/middlewares/public_api_auth.ts
Due: connectors-typecheck, biome, connectors-eslint

[connectors] Return a missing Slack user as Err and narrow mock context without a cast
  connectors/src/connectors/slack/bot.test.ts
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

[front-api] Reject impersonation fallback when named groups are blank and restore separate @cc block
  front-api/middlewares/public_api_auth.test.ts
  front-api/middlewares/public_api_auth.ts
  front/types/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Reject system-key impersonation when the email matches no member
  front-api/middlewares/public_api_auth.test.ts
  front-api/middlewares/public_api_auth.ts
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dry
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

cc review
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

addressing nit
  front/lib/api/user.test.ts
  front/lib/api/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cc review
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

interface
  front/components/assistant/conversation/input_bar/InputBarPlusMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/input_bar/InputBarPlusMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Serialize search model and status through AgentResource
  front/lib/api/agents/search.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
