Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] enh: add favorite selection modes to agent search
  front-api/routes/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/search.ts
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/lib/agent_search/query_schema.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/types/agent_search/agent_search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: rank mention suggestions by the document's conversation or pod
  front/components/file_explorer/FilePreviewContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: include skill metadata in Sidekick suggestions
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
  front/lib/resources/agent_suggestion_resource.ts
  front/types/api/assistant/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: note legacy similar skill IDs cleanup
  front-api/routes/w/[wId]/skills/similar.ts
Due: biome

[front] perf: use skill metadata from Sidekick suggestions
  front/components/agent_builder/sidekick/SidekickSuggestionsContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: warm the fr-FR catalog before the UserLocaleSync tests
  front/components/app/UserLocaleSync.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: rich comment fields with mentions and suggestion blocks (#34288)
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentCommentInput.tsx
  front/components/editor/document/DocumentCommentsPanel.tsx
  front/components/editor/document/README.md
  front/components/editor/document/types.ts
  front/components/editor/extensions/MentionExtension.tsx
  front/components/file_explorer/FilePreviewContent.tsx
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-spa] fix(i18n): render workspace 404s with the user locale
  front-spa/src/app/routes.tsx
Due: biome

Dust File System playground: workspace file tree + view
  sparkle/playground/src/App.tsx
  sparkle/playground/src/components/FilesBrowser.tsx
  sparkle/playground/src/components/WorkspaceFileSystem.tsx
  sparkle/playground/src/data/dataSources.ts
  sparkle/playground/src/stories/Dust File System.tsx
Due: biome

Dust File System playground: workspace simulation, Pods in folders, drag and drop, sidebar favourites
  sparkle/playground/src/components/BuildNav.tsx
  sparkle/playground/src/components/ConversationSidePanels.tsx
  sparkle/playground/src/components/CreateRoomDialog.tsx
  sparkle/playground/src/components/DataTableDnd.tsx
  sparkle/playground/src/components/FilesBrowser.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/ManageAgentsView.tsx
  sparkle/playground/src/components/ManageSkillsView.tsx
  sparkle/playground/src/components/TreeDnd.tsx
  sparkle/playground/src/components/WorkspaceFileSystem.tsx
  sparkle/playground/src/data/agents.ts
  sparkle/playground/src/data/build.ts
  sparkle/playground/src/data/conversations.ts
  sparkle/playground/src/data/dataSources.ts
  sparkle/playground/src/data/fileMoves.ts
  sparkle/playground/src/data/index.ts
  sparkle/playground/src/data/types.ts
  sparkle/playground/src/data/workspaceSimulation.ts
  sparkle/playground/src/stories/Dust File System.tsx
  sparkle/playground/src/stories/podPanelConfig.ts
Due: biome

[front] refactor(i18n): build translated form schemas in use*Schema hooks
  .claude/skills/dust-i18n/SKILL.md
  front/CONTRACTS
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/types.ts
  front/components/assistant/conversation/FeedbackSelector.tsx
  front/components/assistant/conversation/editable_tool_validation/gmail/tools/GmailComposeValidation.tsx
  front/components/assistant/conversation/interactive_content/frame/FrameSharingGrants.tsx
  front/components/credits/UsageUpgradeButton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Dust File System playground: agents and skills as files, Company and Personal drives
  sparkle/playground/src/components/BreadcrumbsDnd.tsx
  sparkle/playground/src/components/BuildDetails.tsx
  sparkle/playground/src/components/ConversationSidePanels.tsx
  sparkle/playground/src/components/FilesBrowser.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/ManageAgentsView.tsx
  sparkle/playground/src/components/ManageSkillsView.tsx
  sparkle/playground/src/components/ManageToolsView.tsx
  sparkle/playground/src/components/WorkspaceFileSystem.tsx
  sparkle/playground/src/components/buildTableShared.tsx
  sparkle/playground/src/data/dataSources.ts
  sparkle/playground/src/data/fileMoves.ts
  sparkle/playground/src/data/types.ts
  sparkle/playground/src/data/workspaceSimulation.ts
  sparkle/playground/src/stories/Dust File System.tsx
  sparkle/playground/src/stories/Inbox.tsx
  sparkle/playground/src/stories/New_Navigation.tsx
  sparkle/src/icons/src/v2-stroke/hard-drive.svg
  sparkle/src/icons/v2-stroke/HardDrive.tsx
  sparkle/src/icons/v2-stroke/index.ts
Due: biome

Dust File System playground: the folder tree takes the breadcrumb's place when compact
  sparkle/playground/src/components/FilesBrowser.tsx
  sparkle/playground/src/components/WorkspaceFileSystem.tsx
Due: biome

Dust File System playground: pick a Pod's folder from the tree, and space the tree out
  sparkle/playground/src/components/CreateRoomDialog.tsx
  sparkle/playground/src/components/TreeDnd.tsx
  sparkle/playground/src/components/WorkspaceFileSystem.tsx
  sparkle/playground/src/stories/Dust File System.tsx
Due: biome

[front] test: warm the fr-FR catalog before the UserLocaleSync tests (#34459)
  front/components/app/UserLocaleSync.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] OAuth finalize: align ownership contract with membership check and isolate audit prep
  front/CONTRACTS
  front/lib/api/oauth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: protect comment marks without a thread in live documents
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentComments.ts
  front/components/editor/document/extensions.ts
  front/components/editor/document/liveExtensions.ts
  front/components/editor/document/useDocumentEditor.live.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: same TipTap range for the collaboration extensions
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] co-edition: typed live status states
  front/components/editor/document/DocumentSaveStatus.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: the editor's live mode, bound to a shared document
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/liveExtensions.ts
  front/components/editor/document/types.ts
  front/components/editor/document/useDocumentEditor.live.test.ts
  front/components/editor/document/useDocumentEditor.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: the editor's live mode, bound to a shared document (#34440)
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentComments.ts
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/extensions.ts
  front/components/editor/document/liveExtensions.ts
  front/components/editor/document/types.ts
  front/components/editor/document/useDocumentEditor.live.test.ts
  front/components/editor/document/useDocumentEditor.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: edit Markdown files live in the editor
  extension/global.d.ts
  front-spa/vite.config.ts
  front/components/editor/document/Document.tsx
  front/components/editor/document/LiveDocument.tsx
  front/components/editor/document/types.ts
  front/components/editor/document/useLiveSession.ts
  front/components/file_explorer/FilePreviewContent.tsx
  front/components/file_explorer/useMarkdownFileEditor.test.tsx
  front/components/file_explorer/useMarkdownFileEditor.ts
  front/components/file_explorer/useRichMarkdownEditor.ts
  front/global.d.ts
  front/lib/client/live_session.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: reconnect when the server closes the document
  front/components/editor/document/useLiveSession.test.ts
  front/components/editor/document/useLiveSession.ts
  front/lib/client/live_session.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: move useLiveSession to hooks
  front/components/editor/document/LiveDocument.tsx
  front/hooks/useLiveSession.test.ts
  front/hooks/useLiveSession.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: pass the live view as one prop
  front/components/editor/document/Document.tsx
  front/components/editor/document/LiveDocument.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): resolve conflicting translations across catalogs
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/editable_tool_validation/gmail/tools/GmailComposeValidation.tsx
  front/components/assistant/conversation/sidebar/PodsBrowsePopover.tsx
  front/components/assistant/manager/agentFilter.ts
  front/components/me/UserWakeUpsTable.tsx
  front/components/onboarding/ProfileOnboardingSteps.tsx
  front/components/sandbox/SandboxScopeSelector.tsx
  front/components/shared/BulkSelectionBar.tsx
  front/lib/triggers/built-in-webhooks/fathom/components/WebhookSourceFathomDetails.tsx
  front/locales/en-US/components/assistant/conversation/editable_tool_validation/gmail/tools/messages.po
  front/locales/en-US/components/assistant/conversation/messages.po
  front/locales/en-US/components/assistant/conversation/sidebar/messages.po
  front/locales/en-US/components/assistant/manager/messages.po
  front/locales/en-US/components/me/messages.po
  front/locales/en-US/components/onboarding/messages.po
  front/locales/en-US/components/sandbox/messages.po
  front/locales/en-US/components/shared/messages.po
  front/locales/en-US/lib/triggers/built-in-webhooks/fathom/components/messages.po
  front/locales/fr-FR/components/actions/mcp/messages.po
  front/locales/fr-FR/components/actions/mcp/provider_setup_instructions/messages.po
  front/locales/fr-FR/components/assistant/conversation/editable_tool_validation/gmail/tools/messages.po
  front/locales/fr-FR/components/assistant/conversation/input_bar/messages.po
  front/locales/fr-FR/components/assistant/conversation/messages.po
  front/locales/fr-FR/components/assistant/conversation/sidebar/messages.po
  front/locales/fr-FR/components/assistant/manager/messages.po
  front/locales/fr-FR/components/credits/messages.po
  front/locales/fr-FR/components/file_explorer/messages.po
  front/locales/fr-FR/components/me/messages.po
  front/locales/fr-FR/components/messages.po
  front/locales/fr-FR/components/onboarding/messages.po
  front/locales/fr-FR/components/pod/messages.po
  front/locales/fr-FR/components/pod/settings/messages.po
  front/locales/fr-FR/components/pod/tasks/messages.po
  front/locales/fr-FR/components/sandbox/messages.po
  front/locales/fr-FR/components/shared/messages.po
  front/locales/fr-FR/components/spaces/messages.po
  front/locales/fr-FR/components/triggers/messages.po
  front/locales/fr-FR/components/workspace/messages.po
  front/locales/fr-FR/lib/triggers/built-in-webhooks/fathom/components/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): fail the i18n check on conflicting translations
  .claude/skills/dust-translate/SKILL.md
  front/scripts/i18n/check.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): translate scope as périmètre
  .claude/skills/dust-translate/references/fr-FR.md
  front/locales/fr-FR/components/actions/mcp/create/messages.po
  front/locales/fr-FR/components/actions/mcp/messages.po
  front/locales/fr-FR/components/actions/mcp/provider_setup_instructions/messages.po
  front/locales/fr-FR/components/pages/workspace/developers/messages.po
  front/locales/fr-FR/components/workspace/analytics/usageFilterPanel/messages.po
  front/locales/fr-FR/components/workspace/api-keys/messages.po
  front/locales/fr-FR/lib/messages.po
Due: biome

[front] refactor(i18n): share the default-locale Lingui instance
  front/lib/admin/searchAdminSettings.ts
  front/lib/i18n/i18n.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): submit feedback reasons in the default locale
  front/components/assistant/conversation/FeedbackSelector.test.tsx
  front/components/assistant/conversation/FeedbackSelector.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(i18n): match slash commands in English and without accents
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionDropdown.test.ts
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionItems.tsx
  front/components/editor/extensions/input_bar/useInputBarSlashMenuSections.ts
  front/components/editor/extensions/shared/slash_suggestion/SlashCommandDropdown.tsx
  front/components/editor/extensions/shared/slash_suggestion/buildSlashCommandItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  .claude/skills/dust-i18n/SKILL.md
  front/components/UserSettingsPopover.tsx
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/create/SnowflakeKeypairCredentialForm.tsx
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/triggers/TriggerCard.tsx
  front/components/agent_builder/triggers/TriggerViewsSheet.tsx
  front/components/agent_builder/triggers/schedule/ScheduleEditionScheduler.tsx
  front/components/agent_builder/triggers/schedule/describeScheduleConfig.ts
  front/components/agent_builder/triggers/schedule/scheduleEditionFormSchema.ts
  front/components/agent_builder/triggers/schedule/useDescribeScheduleConfig.ts
  front/components/agent_builder/triggers/triggerViewsSheetFormSchema.ts
  front/components/agent_builder/triggers/webhook/webhookEditionFormSchema.ts
  front/components/agent_builder/types.ts
  front/components/assistant/conversation/FeedbackSelector.tsx
  front/components/assistant/conversation/interactive_content/frame/FrameSharingGrants.tsx
  front/components/assistant/details/useTriggerSheetState.ts
  front/components/credits/UsageUpgradeButton.tsx
  front/components/pages/onboarding/CheckoutPage.tsx
  front/components/pages/share/EmailVerificationFlow.tsx
  front/components/sandbox/SandboxEnvVarsSection.tsx
  front/components/skill_builder/SkillBuilder.tsx
  front/components/skill_builder/skillBuilderFormSchema.test.ts
  front/components/skill_builder/skillBuilderFormSchema.ts
  front/components/skills/import/ImportSkillsDialog.tsx
  front/components/skills/import/formSchema.ts
  front/components/triggers/CreateWebhookSourceForm.tsx
  front/components/triggers/WebhookSourceSheet.tsx
  front/components/triggers/forms/webhookSourceFormSchema.ts
  front/components/workspace/api-keys/EditKeyCapDialog.tsx
  front/components/workspace/api-keys/EditKeyCreditCapDialog.tsx
  front/components/workspace/api-keys/NewAPIKeyDialog.tsx
  front/components/workspace/api-keys/utils.ts
  front/locales/en-US/components/agent_builder/triggers/schedule/messages.po
  front/locales/fr-FR/components/agent_builder/triggers/schedule/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: back off reconnects while the server is down
  front/hooks/useLiveSession.test.ts
  front/hooks/useLiveSession.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[MCP Actions] Avoid call stack overflow when fetching many output items (#34437)
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: edit Markdown files live in the editor (#34352)
  extension/global.d.ts
  front-spa/vite.config.ts
  front/components/editor/document/Document.tsx
  front/components/editor/document/LiveDocument.tsx
  front/components/editor/document/types.ts
  front/components/file_explorer/FilePreviewContent.tsx
  front/components/file_explorer/useMarkdownFileEditor.test.tsx
  front/components/file_explorer/useMarkdownFileEditor.ts
  front/components/file_explorer/useRichMarkdownEditor.ts
  front/global.d.ts
  front/hooks/useLiveSession.test.ts
  front/hooks/useLiveSession.ts
  front/lib/client/live_session.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] Bound sqlite-worker query results by size while streaming rows (#34119)
  core/bin/sqlite_worker.rs
  core/src/api/databases.rs
  core/src/databases/transient_database.rs
  core/src/sqlite_workers/client.rs
  core/src/sqlite_workers/sqlite_database.rs
Due: none

Align share useFile extraction with runtime for package-relative refs.
  front/lib/api/frames/package_file_ref_paths.test.ts
  front/lib/api/frames/package_file_ref_paths.ts
  front/lib/api/viz/authorized_file_access.test.ts
  front/lib/api/viz/extract_file_refs.test.ts
  viz/app/lib/parseFileRefs.test.ts
  viz/app/lib/parseFileRefs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix CSV preview crash on empty or repeated header cells
  front/components/file_explorer/FilePreviewContent.test.tsx
  front/components/file_explorer/FilePreviewContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
