Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

feat: add capabilities section
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernanceSettingRow.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
  front/lib/swr/governance.ts
  front/types/group_permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: code review
  front/components/pages/workspace/governance/GovernanceSettingRow.tsx
  front/components/pages/workspace/governance/GovernanceSettingSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: import dust-like agent helper from prompt context
  front/temporal/agent_loop/lib/get_output_from_llm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sparkle): right-align NavigationListItem suffix
  sparkle/src/components/NavigationList.tsx
Due: biome

feat: add governance admin only section and update copy (#28623)
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernanceSettingRow.tsx
  front/components/pages/workspace/governance/GovernanceSettingSection.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
  front/lib/swr/governance.ts
  front/types/group_permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tweak tool descriptions
  front/lib/api/actions/servers/pod_manager/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove context node terminology
  front/lib/api/actions/servers/pod_manager/build_pod_search_data_sources.ts
  front/lib/api/actions/servers/pod_manager/index.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove context node terminology
  front/lib/resources/skill/code_defined/global/projects.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: defer eager skill tools (#28734)
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/skill_actions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

embedding v1 (PCA)
  front/cartography/list_agents.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix import of `isDustLikeAgent` (#28743)
  front/temporal/agent_loop/lib/get_output_from_llm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

hardcode coords
  front/components/assistant/conversation/agent_browser/cartography/Cartography.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

wip
  front/components/agent_builder/capabilities/knowledge/DataSourceCategoryBrowser.tsx
  front/components/agent_builder/capabilities/knowledge/DataSourceList.tsx
  front/components/agent_builder/capabilities/knowledge/DataSourceNodeTable.tsx
  front/components/agent_builder/capabilities/knowledge/DataSourceSearchResults.tsx
  front/components/agent_builder/capabilities/knowledge/DataSourceViewTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

nits
  cli/dust-cli/src/ui/commands/Chat.tsx
  connectors/src/api/webhooks/teams/adaptive_cards.ts
  connectors/src/api/webhooks/webhook_slack_bot_interaction.ts
  connectors/src/connectors/slack/chat/blocks.ts
  front/components/assistant/conversation/tool_validation/PodTasksUpdateValidationDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Deprecate agentName in tool validation metadata (#28717)
  cli/dust-cli/src/ui/commands/Chat.tsx
  cli/dust-cli/src/utils/toolsCache.ts
  connectors/src/api/webhooks/teams/adaptive_cards.ts
  connectors/src/api/webhooks/teams/bot.ts
  connectors/src/api/webhooks/webhook_slack_bot_interaction.ts
  connectors/src/connectors/slack/chat/blocks.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/PodTasksUpdateValidationDetails.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/api/actions/servers/run_agent/types.ts
  front/lib/api/assistant/email/email_trigger.test.ts
  front/lib/api/sandbox/create_child_action.ts
  front/lib/resources/agent_mcp_action_resource.test.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/temporal/agent_loop/lib/create_tool_actions.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

fix(connectors): handle path-backed generated files in Slack handler
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

fix(sparkle): right-align NavigationListItem suffix (#28744)
  sparkle/src/components/NavigationList.tsx
Due: biome

fix(connectors): handle path-backed generated files in Slack handler (#28747)
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

[sparkle] Storybook: rename story titles Button↔LegacyButton
  sparkle/src/stories/Button.stories.tsx
  sparkle/src/stories/NewButton.stories.tsx
Due: biome

Point the Pods skill at pod_manager's semantic search tool (#28742)
  front/lib/api/actions/servers/pod_manager/build_pod_search_data_sources.ts
  front/lib/api/actions/servers/pod_manager/index.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/resources/skill/code_defined/global/projects.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add warning message to governance page
  front/components/pages/workspace/governance/GovernancePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: check feature flag when inviting business admins (#28740)
  front-api/routes/w/[wId]/invitations/[iId]/index.ts
  front-api/routes/w/[wId]/invitations/index.ts
Due: biome

feat: add warning message to governance page (#28745)
  front/components/pages/workspace/governance/GovernancePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make previous-interactions pruning budget-driven instead of positional to stop busting the Anthropic prompt cache
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/pruning.test.ts
  front/lib/api/assistant/conversation_rendering/pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

actual call between fronted and backend
  front-api/routes/w/[wId]/assistant/agent_configurations/cartography.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front/cartography/list_agents.ts
  front/components/assistant/conversation/agent_browser/MobileOrExtensionAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/WebAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/cartography/Cartography.tsx
  front/lib/api/assistant/cartography.ts
  front/lib/swr/assistants.ts
  front/types/api/assistant/cartography.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix debug script
  front/cartography/list_agents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: create regular_auto groups (#28727)
  front-api/routes/w/[wId]/groups.test.ts
  front/lib/api/spaces.test.ts
  front/lib/api/spaces.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_space_resource.test.ts
  front/lib/resources/space_resource.test.ts
  front/scripts/dev/seed_conversations.ts
  front/scripts/move_company_space_to_restricted.ts
  front/scripts/seed/factories/seedSpace.ts
  front/tests/utils/GroupFactory.ts
  front/tests/utils/SpaceFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Sandbox functions: scope pod tool output files by invocation
  front/lib/actions/mcp_execution.test.ts
  front/lib/api/files/action_output_fs/index.ts
  front/tests/utils/SandboxTokenFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Export NewButton alongside Button and LegacyButton
  sparkle/src/components/NewButton.tsx
  sparkle/src/components/index.ts
Due: biome

feat(salck mcp) add set user status tool (#28010)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/slack/helpers.ts
  front/lib/api/actions/servers/slack_personal/metadata.ts
  front/lib/api/actions/servers/slack_personal/tools/index.ts
  front/lib/api/oauth/providers/slack_tools.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Gov] Phase 0.5 — auth.hasWorkspacePermission (#28502)
  front/lib/auth.ts
  front/lib/auth.workspace_permission.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Storybook: rename story back to Actions/NewButton
  sparkle/src/stories/NewButton.stories.tsx
Due: biome

[sparkle] Storybook: restore Actions/Button story title
  sparkle/src/stories/Button.stories.tsx
Due: biome

[sparkle] Storybook: add LegacyButton story
  sparkle/src/stories/LegacyButton.stories.tsx
Due: biome

Pricing: correctly display price of message whe using ask user question (#28709)
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add switch
  front-api/routes/w/[wId]/assistant/agent_configurations/cartography.ts
  front/components/assistant/conversation/agent_browser/cartography/Cartography.tsx
  front/lib/api/assistant/cartography.ts
  front/lib/swr/assistants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Fix Button export: Button stays old component, NewButton is new
  sparkle/src/components/Button.tsx
  sparkle/src/stories/NewButton.stories.tsx
  sparkle/src/stories/NewSplitButton.stories.tsx
Due: biome

Tool runner: make runToolWithStreaming tool-context dependent
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/api/assistant/streaming/types.ts
  front/lib/api/mcp/error.ts
  front/lib/api/mcp/run_tool.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/deferred_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add silhouette scoring
  front/cartography/list_agents.ts
  front/cartography/scoring.ts
  front/components/assistant/conversation/agent_browser/cartography/Cartography.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
