Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Backfill group kind on group vaults (#29248)
  front/migrations/20260721_backfill_group_vault_group_kind.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: derive default Poke render agent
  front/components/poke/pages/ConversationPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(analytics): omit empty user activity buckets
  front/lib/api/analytics/users_export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix Gen1
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/index.ts
Due: biome

Analytics: Add pod usage chart in agent analytics 2/3: pod usage breakdown endpoint (#29180)
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/observability/index.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/observability/pods.ts
  front/lib/api/assistant/observability/pod_usage.test.ts
  front/lib/api/assistant/observability/pod_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove Poke render control group
  front/components/poke/pages/ConversationPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sparkle): new conversation screen experience
  sparkle/playground/src/components/AgentBuilderView.tsx
  sparkle/playground/src/components/ConversationTopSection.tsx
  sparkle/playground/src/components/ConversationView.tsx
  sparkle/playground/src/components/FreeButtonSwitch.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InboxView.tsx
  sparkle/playground/src/components/InlineFileChip.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/components/NewConversation.tsx
  sparkle/playground/src/components/PanelLayout.tsx
  sparkle/playground/src/components/RichTextArea.tsx
  sparkle/playground/src/components/TaskItem.tsx
  sparkle/playground/src/components/TodoInputBar.tsx
  sparkle/playground/src/components/fileChipDirective.tsx
  sparkle/playground/src/data/conversations.ts
  sparkle/playground/src/stories/Pods.tsx
  sparkle/playground/src/stories/Pods_After.tsx
  sparkle/playground/src/stories/Pods_as_Spaces.tsx
  sparkle/src/components/SearchInput.tsx
Due: biome

Rebase
  sparkle/playground/src/components/AgentBuilderView.tsx
  sparkle/playground/src/components/FilePreviewPanel.tsx
  sparkle/playground/src/components/FrameView.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/components/NewConversation.tsx
  sparkle/playground/src/components/NewConversationMessages.tsx
  sparkle/playground/src/components/PanelLayout.tsx
  sparkle/playground/src/components/TodoInputBar.tsx
  sparkle/playground/src/data/conversations.ts
  sparkle/playground/src/stories/Conversation.tsx
  sparkle/playground/src/stories/Pods.tsx
  sparkle/playground/src/stories/Pods_After.tsx
  sparkle/playground/src/stories/Pods_as_Spaces.tsx
Due: biome

Clean
  sparkle/playground/src/components/ConversationTopSection.tsx
  sparkle/playground/src/components/EmptyState.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InboxView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/components/NewConversation.tsx
  sparkle/playground/src/components/RichTextArea.tsx
  sparkle/playground/src/stories/Pods_as_Spaces.tsx
Due: biome

chore(sparkle): new conversation screen tweaks
  front/.gitignore
  front/components/poke/shadcn/ui/form.tsx
  front/components/trial/PhoneNumberInput.tsx
  sparkle/playground/src/components/PanelLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Wip
  sparkle/playground/src/components/PanelLayout.tsx
Due: biome

[front][sparkle] Input bar menu polish: proper dropdown icon API, white voice spinner, smaller avatar
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
  sparkle/src/components/VoicePicker.tsx
  sparkle/src/stories/Composer.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Don't set capability to 'builders' group if it does not exist yet (#29252)
  front/lib/api/permissions/governance_seeding.test.ts
  front/lib/api/permissions/governance_seeding.ts
  front/migrations/20260721_backfill_governance_capabilities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: Add partial index on agent_configurations (workspaceId, scope, id) (#29251)
  front/lib/models/agent/agent.ts
  front/migrations/pre-deploy/20260721164750_add_partial_index_agent_config_active_scope_id.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(analytics): omit empty user activity buckets (#29255)
  front/lib/api/analytics/users_export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove useless extra check when fetching messages by ids.
  front/lib/resources/agent_step_content_resource.test.ts
  front/lib/resources/agent_step_content_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep exponent-like text values (e.g. 32E0134) as text in table CSV parsing
  core/src/databases/table.rs
Due: none

Remove legacy conversation window
  front/lib/api/assistant/conversation_rendering/checkpointed_window_state.test.ts
  front/lib/api/assistant/conversation_rendering/checkpointed_window_state.ts
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/instrumentation.test.ts
  front/lib/api/assistant/conversation_rendering/instrumentation.ts
  front/lib/api/assistant/conversation_rendering/pruning.test.ts
  front/lib/api/assistant/conversation_rendering/pruning.ts
  front/lib/api/assistant/conversation_rendering/window_state.test.ts
  front/lib/api/assistant/conversation_rendering/window_state.ts
  front/lib/api/assistant/conversation_rendering/window_types.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use Value::from in test assertion (review feedback)
  core/src/databases/table.rs
Due: none

biome
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/index.ts
  front/components/poke/pages/ProjectPage.tsx
  front/components/poke/projects/pod_functions/columns.tsx
  front/components/poke/projects/pod_functions/table.tsx
  front/lib/api/poke/projects.ts
  front/poke/swr/project_pod_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Skills: Fix similar skills detection for more than 100 skills
  front-api/routes/w/[wId]/skills/similar.test.ts
  front/lib/api/skills/existing_skill_checker.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add list loading skeleton to skill import dialog (#29238)
  front/components/skills/import/DetectedSkillsList.tsx
  front/components/skills/import/ImportFromRepositoryTab.tsx
  sparkle/src/components/DataTableLoadingSkeleton.tsx
  sparkle/src/components/index.ts
  sparkle/src/stories/DataTableLoadingSkeleton.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(activation): gate nudges on opted-out and dead pods
  front/lib/api/activation/nudge.test.ts
  front/lib/api/activation/nudge.ts
  front/lib/api/activation/trigger.ts
  front/lib/resources/trigger_resource.ts
  front/tests/utils/TriggerFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle][front] Add Avatar 3xs size instead of hacking a smaller className
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
  front/components/resources/resources_icons.tsx
  sparkle/src/components/Avatar.tsx
  sparkle/src/stories/Composer.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Tables] Keep exponent-like text values (e.g. 32E0134) as text in CSV parsing (#29259)
  core/src/databases/table.rs
Due: none

Skills: Fix similar skills detection for more than 100 skills (#29258)
  front-api/routes/w/[wId]/skills/similar.test.ts
  front/lib/api/skills/existing_skill_checker.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front][sparkle] Fix oversized leading icons in the + menu sub-triggers
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
  sparkle/src/stories/Composer.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[zendesk] Add personal account support to Zendesk tool
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/oauth/providers/zendesk.test.ts
  front/lib/api/oauth/providers/zendesk.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Gate import skillw with isBuilder (#29253)
  front-api/routes/v1/w/[wId]/skills/index.test.ts
  front/lib/api/skills/detection/files/import_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(activation): ES-backed activation evaluator, wired into scheduler + CLI
  front/lib/api/activation/evaluator.test.ts
  front/lib/api/activation/evaluator.ts
  front/lib/api/activation/orchestrator.ts
  front/lib/api/activation/stake_and_frame_classification.test.ts
  front/lib/api/activation/stake_and_frame_classification.ts
  front/lib/api/activation/trigger.ts
  front/lib/api/poke/plugins/spaces/join_activation_pod.ts
  front/temporal/activation/admin/cli.ts
  front/temporal/activation_scheduler/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(activation): simplify HVUC definition, extract ES query, harden batch
  front/lib/api/activation/evaluator.test.ts
  front/lib/api/activation/evaluator.ts
  front/lib/api/activation/orchestrator.ts
  front/lib/api/activation/queries/user_day_cells.ts
  front/lib/api/activation/stake_and_frame_classification.test.ts
  front/lib/api/activation/stake_and_frame_classification.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: scaffold ServiceNow MCP server skeleton (#29135)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability_snapshots.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/bm25_tool_search_utils.test.ts
  front/lib/api/actions/servers/servicenow/client.ts
  front/lib/api/actions/servers/servicenow/helpers.ts
  front/lib/api/actions/servers/servicenow/index.ts
  front/lib/api/actions/servers/servicenow/metadata.ts
  front/lib/api/actions/servers/servicenow/tools/index.ts
  front/lib/api/marketing/integrations.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(activation): address PR review comments
  front/lib/api/activation/evaluator.ts
  front/lib/api/activation/orchestrator.ts
  front/lib/api/activation/queries/user_day_cells.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add sortable People member columns
  front-api/routes/w/[wId]/members/search.ts
  front/components/members/MembersList.tsx
  front/components/members/WorkspaceMembersSection.tsx
  front/lib/api/workspace.ts
  front/lib/resources/user_resource.ts
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[zendesk] Use exhaustive switch + assertNever on useCase (GEN6)
  front/lib/api/oauth/providers/zendesk.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(activation): split Object.keys line to satisfy biome line-length
  front/lib/api/activation/queries/user_day_cells.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make group vault group kind not null
  front/lib/resources/storage/models/group_spaces.ts
  front/migrations/post-deploy/20260721185104_make_group_vault_group_kind_not_null.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
