Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Improve auth error wording (#23276)
  extension/ui/pages/LoginPage.tsx
Due: biome

[front] Convert types to zod (#23251)
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/assistant/configuration/types.ts
  front/lib/api/assistant/feedback.ts
  front/lib/api/assistant/mcp_configurations.ts
  front/lib/api/mcp.ts
  front/types/app.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_error.ts
  front/types/assistant/skill_configuration.ts
  front/types/assistant/triggers.ts
  front/types/data_source_view.ts
  front/types/shared/model_id.ts
  front/types/tag.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bump extension version to 0.1.1
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

Address comments from review
  front/components/pages/share/SharedFramePage.tsx
  front/lib/api/share/otp_challenge.ts
  front/migrations/db/migration_546.sql
  front/pages/api/share/frame/[token].ts
  front/pages/api/v1/public/frames/[token]/verify-code.test.ts
  front/pages/api/v1/public/frames/[token]/verify-code.ts
  front/pages/api/v1/public/frames/[token]/verify-email.test.ts
  front/pages/api/v1/public/frames/[token]/verify-email.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Protect against brute force
  front/lib/api/share/otp_challenge.test.ts
  front/lib/api/share/otp_challenge.ts
  front/pages/api/v1/public/frames/[token]/verify-code.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] - docs: remove swagger annotations from analytics export API
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[observability/active_users_metrics] - feature: enhance active user metrics with date ranges
  front/lib/api/assistant/observability/active_users_metrics.ts
  front/lib/api/assistant/observability/utils.ts
  front/pages/api/poke/workspaces/[wId]/analytics/active-users.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
  front/pages/api/w/[wId]/analytics/active-users-export.ts
  front/pages/api/w/[wId]/analytics/active-users.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Notes added by 'git notes add'
  7c/835ee2abd13226abd3e83fd74f8429cbae0a1e
Due: none

[Connectors] fix(snowflake): handle invalid JWT token error as ExternalOAuthTokenError
  connectors/src/connectors/snowflake/temporal/cast_known_errors.ts
Due: connectors-typecheck, biome, connectors-eslint

fix visual rendering issue on Attachment picker
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add OTP email verification flow for restricted frame sharing (#23256)
  front/admin/db.ts
  front/components/pages/share/EmailVerificationFlow.tsx
  front/components/pages/share/SharedFramePage.tsx
  front/lib/api/redis.ts
  front/lib/api/share/frame_session.ts
  front/lib/api/share/otp_challenge.test.ts
  front/lib/api/share/otp_challenge.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/storage/models/files.ts
  front/lib/swr/share.ts
  front/migrations/db/migration_546.sql
  front/pages/api/share/frame/[token].ts
  front/pages/api/v1/public/frames/[token]/index.test.ts
  front/pages/api/v1/public/frames/[token]/index.ts
  front/pages/api/v1/public/frames/[token]/verify-code.test.ts
  front/pages/api/v1/public/frames/[token]/verify-code.ts
  front/pages/api/v1/public/frames/[token]/verify-email.test.ts
  front/pages/api/v1/public/frames/[token]/verify-email.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[analytics] - feature: implement cell sanitization for CSV exports to prevent formula injection
  front/lib/api/analytics/agents_export.ts
  front/lib/api/analytics/users_export.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Revert "[front] Convert types to zod (#23251)"
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/assistant/configuration/types.ts
  front/lib/api/assistant/feedback.ts
  front/lib/api/assistant/mcp_configurations.ts
  front/lib/api/mcp.ts
  front/types/app.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_error.ts
  front/types/assistant/skill_configuration.ts
  front/types/assistant/triggers.ts
  front/types/data_source_view.ts
  front/types/shared/model_id.ts
  front/types/tag.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "[front] Convert types to zod (#23251)" (#23283)
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/assistant/configuration/types.ts
  front/lib/api/assistant/feedback.ts
  front/lib/api/assistant/mcp_configurations.ts
  front/lib/api/mcp.ts
  front/types/app.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_error.ts
  front/types/assistant/skill_configuration.ts
  front/types/assistant/triggers.ts
  front/types/data_source_view.ts
  front/types/shared/model_id.ts
  front/types/tag.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

adjust
  front/components/assistant/conversation/UserMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bump extension version to 0.1.1 (#23279)
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

fix Anthropic terminated errors detection
  front/lib/api/llm/types/errors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sdks] - feature: enforce date format validation in analytics export request schema
  sdks/js/src/types.ts
Due: biome

[front] fix: attachment picker filter bar visibility during loading (#23284)
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove copy to clipboard button
  front/components/poke/suggestions/columns.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

adjust for mobile
  front/components/assistant/conversation/UserMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[observability] - refactor: streamline active user metrics fetching
  front/lib/api/assistant/observability/active_users_metrics.ts
  front/lib/api/assistant/observability/utils.ts
  front/pages/api/poke/workspaces/[wId]/analytics/active-users.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
  front/pages/api/w/[wId]/analytics/active-users-export.ts
  front/pages/api/w/[wId]/analytics/active-users.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Pop up a suggestion details dialog in Poke (#23275)
  front/components/poke/suggestions/columns.tsx
  front/components/poke/suggestions/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix Anthropic terminated errors detection (#23285)
  front/lib/api/llm/types/errors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - fix: ensure timezone is used in analytics export functions
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Only process agents set to 'on' + poke plugin to set flag
  front/lib/api/poke/plugins/agents/agent_reinforcement.ts
  front/lib/api/poke/plugins/agents/index.ts
  front/temporal/reinforced_agent/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add scriptt
  front/migrations/20260319_migrate_confluence_mcp.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors] fix(snowflake): handle invalid JWT token error as ExternalOAuthTokenError (#23282)
  connectors/src/connectors/snowflake/temporal/cast_known_errors.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] - refactor: move SkillUsageExportRow and ToolUsageExportRow to outer scope
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front/analytics/export] - refactor: streamline analytics export endpoint
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Fix formatting
  sparkle/src/components/Dropdown.tsx
Due: biome

Send email notification when a Frame is shared with someone
  front/lib/api/email.ts
  front/lib/api/share/frame_sharing.test.ts
  front/lib/api/share/frame_sharing.ts
  front/lib/resources/file_resource.ts
  front/pages/api/v1/public/frames/[token]/verify-code.test.ts
  front/pages/api/v1/public/frames/[token]/verify-code.ts
  front/pages/api/v1/public/frames/[token]/verify-email.test.ts
  front/pages/api/v1/public/frames/[token]/verify-email.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] - refactor: streamline error handling for analytics endpoints
  front/pages/api/poke/workspaces/[wId]/analytics/active-users.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

✨
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: remove table export helpers from analytics export
  front/pages/api/v1/w/[wId]/analytics/export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

👕
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reduce max emails per invite
  front/lib/resources/file_resource.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename
  front/migrations/20260319_migrate_confluence_mcp.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix processed file mount path extension to match actual content type
  front/lib/api/files/mount_path.test.ts
  front/lib/api/files/mount_path.ts
  front/lib/api/files/processing.test.ts
  front/lib/api/files/processing.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
