Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Notes added by 'git notes add'
  41/e9f1bcc7a7ec1da9d7b4ec379fe9f7dbb54675
Due: none

fix
  front/components/UserMenu.tsx
  front/components/dev/DevFeatureFlagPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow to disable batch mode for reinforcement
  front/components/pages/workspace/WorkspaceSettingsPage.tsx
  front/components/workspace/settings/AgentReinforcementToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/lib/reinforced_agent/workspace_check.ts
  front/lib/swr/useReinforcementToggle.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/api/w/[wId]/index.ts
  front/temporal/reinforcement/activities.ts
  front/temporal/reinforcement/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  81/0e12b012c3005ffa9cf2bfa526c8e8ee9b7b2d
Due: none

Add conversation context-usage endpoint + RunResource helper
  front/lib/resources/run_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

pending message
  front/components/assistant/conversation/UserMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: project member table mobile
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use resource classes
  front/lib/reinforcement/selection.ts
  front/lib/resources/agent_message_feedback_resource.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add egress proxy MVP
  .github/workflows/build-egress-proxy.yml
  dockerfiles/egress-proxy.Dockerfile
  egress-proxy/.rustfmt.toml
  egress-proxy/Cargo.lock
  egress-proxy/Cargo.toml
  egress-proxy/src/blocklist.rs
  egress-proxy/src/config.rs
  egress-proxy/src/connection.rs
  egress-proxy/src/dns.rs
  egress-proxy/src/handshake.rs
  egress-proxy/src/health.rs
  egress-proxy/src/jwt.rs
  egress-proxy/src/main.rs
  egress-proxy/src/policy.rs
  egress-proxy/src/server.rs
  egress-proxy/src/tls.rs
  egress-proxy/tests/integration.rs
  lefthook.yml
Due: biome

Add getMostRecentAgentMessageInConversation + use fetchById
  front/lib/resources/conversation_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make getMostRecentAgentMessage an instance method
  front/lib/resources/conversation_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add egress proxy CI linting
  .github/workflows/build-egress-proxy.yml
Due: biome

More resource use
  front/lib/reinforcement/selection.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill_suggestion_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use MarkdownManager
  front/components/editor/SkillInstructionsEditor.tsx
  front/lib/editor/build_skill_instructions_extensions.ts
  front/lib/skill_instructions_html.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document metadata IP block
  egress-proxy/src/blocklist.rs
Due: none

fix: prettier formatting
  front/components/assistant/conversation/InAppBanner.tsx
  front/lib/tracking.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  5b/506b140f0b17cc4a6e30fa84ac36ed159941cd
Due: none

front: gate fork lineage by child conversation
  front/lib/resources/conversation_fork_resource.test.ts
  front/lib/resources/conversation_fork_resource.ts
  x/pr/branching.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Replace fetchRunUsagesByDustRunId with fetchByDustRunId
  front/lib/resources/run_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix color
  front/components/assistant/conversation/UserMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors] chore(slack): remove native streaming feature flag
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  connectors/src/connectors/slack/lib/errors.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Notes added by 'git notes add'
  5a/3a4c92dbf9f510910bc7fe40c69dea494bc4ae
Due: none

[front] enh: Support JIRA nested fields
  front/lib/api/actions/servers/jira/rendering.ts
  front/lib/api/actions/servers/jira/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename to getMostRecentCompletedAgentMessage + tweaks
  front/lib/resources/conversation_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: vary email banner CTA based on admin role and email enablement
  front/components/assistant/conversation/InAppBanner.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

front: avoid model ids in fork type
  front/lib/resources/conversation_fork_resource.test.ts
  front/lib/resources/conversation_fork_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix egress proxy clippy lint
  egress-proxy/src/blocklist.rs
Due: none

Add framework to convert skill instructions to HTML; Not User-facing (#24032)
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/agent_builder/InstructionBlockExtension.test.ts
  front/components/editor/extensions/agent_builder/InstructionBlockExtension.tsx
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.test.ts
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
  front/components/editor/extensions/instructions/BlockIdExtension.test.ts
  front/components/editor/extensions/instructions/BlockIdExtension.tsx
  front/components/editor/extensions/instructions/InstructionsDocumentExtension.tsx
  front/components/editor/extensions/instructions/InstructionsRootExtension.test.ts
  front/components/editor/extensions/instructions/InstructionsRootExtension.tsx
  front/lib/editor/build_skill_instructions_extensions.ts
  front/lib/generate_short_block_id.ts
  front/lib/skill_instructions_html.test.ts
  front/lib/skill_instructions_html.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename to getLatestCompletedAgentMessage
  front/lib/resources/conversation_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: project member table mobile (#24079)
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front] feat(metronome): add upgrade/reactivation and fix annual billing (#24008)
  front/lib/metronome/client.ts
  front/lib/metronome/contracts.ts
  front/lib/plans/stripe.ts
  front/lib/resources/subscription_resource.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/w/[wId]/subscriptions/index.ts
  front/poke/temporal/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use SupportedModel type for model in response, add error type to helper
  front/lib/api/assistant/conversation/helper.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add roundtrip skill html validation script
  front/scripts/validate_skill_html_migration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Poke credits to Metronome
  front/components/poke/plugins/PluginForm.tsx
  front/components/poke/plugins/RunPluginDialog.tsx
  front/lib/api/poke/plugins/workspaces/buy_programmatic_usage_credits.ts
  front/lib/credits/committed.ts
  front/lib/metronome/client.ts
  front/pages/api/stripe/webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename promptTokens to contextUsage in response
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename to getLatestCompletedAgentMessageRun, return RunResource
  front/lib/resources/conversation_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix comment wrapping to 100 chars
  front/pages/api/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update plan: mark PR 2.1 as done, fix Phase 3 description
  x/spolu/compaction/plan.md
Due: biome

Use ConversationResource
  front/lib/reinforcement/selection.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address egress proxy review findings
  egress-proxy/Cargo.toml
  egress-proxy/src/blocklist.rs
  egress-proxy/src/connection.rs
  egress-proxy/src/health.rs
  egress-proxy/src/jwt.rs
  egress-proxy/src/server.rs
  egress-proxy/tests/integration.rs
Due: none
