Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

cc review
  .github/actions/main-breakage/main-breakage.test.ts
  .github/actions/main-breakage/main-breakage.ts
Due: biome

[ci] Retry main infra failures once before notifying Slack
  .github/actions/main-breakage/main-breakage.test.ts
  .github/actions/main-breakage/main-breakage.ts
  .github/workflows/main-breakage-notify.yml
Due: biome

feat: add audit logs for skills (#33613)
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/availability.test.ts
  front/admin/audit_log_schemas/skill.archived.json
  front/admin/audit_log_schemas/skill.created.json
  front/admin/audit_log_schemas/skill.editors_updated.json
  front/admin/audit_log_schemas/skill.restored.json
  front/admin/audit_log_schemas/skill.updated.json
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/apply_batch_suggestions.ts
  front/lib/api/audit/schema_versions.json
  front/lib/api/audit/workos_audit.ts
  front/lib/api/skills/apply_skill_suggestions.ts
  front/lib/resources/skill/skill_resource.audit.test.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: audit logs for agent suggestions
  front/admin/audit_log_schemas/agent.archived.json
  front/admin/audit_log_schemas/agent.created.json
  front/admin/audit_log_schemas/agent.editors_updated.json
  front/admin/audit_log_schemas/agent.scope_changed.json
  front/admin/audit_log_schemas/agent.updated.json
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/apply_batch_suggestions.ts
  front/lib/api/assistant/configuration/create_or_upgrade.ts
  front/lib/resources/agent_configuration_save.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: register audit logs
  front/lib/api/audit/schema_versions.json
Due: biome

fix(files): rasterize SVG uploads via imgproxy instead of sharp (#33615)
  front/lib/api/files/processing/image_converter/index.ts
  front/lib/api/files/processing/images.test.ts
  front/lib/api/files/processing/images.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Observe v2] Preserve pending request actions across tab changes
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/UsageMembersSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Observe v2] Extract the workspace usage request flow
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/UpgradeRequests.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(extension): apply biome formatting to background.ts
  extension/platforms/chrome/background.ts
Due: biome

[front] Prune singleton skill suggestion kinds with one shared rule
  front/lib/api/actions/servers/building_agents_and_skills/skill_suggestion_changes.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Carve out batch cascade in singleton pruning contract
  front/lib/reinforcement/skill_suggestion_pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: scan Tailwind arbitrary values in linear time
  front/lib/api/files/content_validation.test.ts
  front/lib/api/files/content_validation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Reconcile agent-json-redaction with resource-owned-serialization; describe_agent contract uses canViewContent
  front/lib/api/actions/servers/building_agents_and_skills/tools/describe_agent.ts
  front/lib/resources/agent_resource_serialization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Build a complete batch suggestion fixture in the tracking test instead of casting
  front/components/markdown/suggestion/suggestionTracking.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Use Cmd/Ctrl+Shift+L for the theme toggle instead of U
  front/components/UserSettingsPopover.tsx
  front/hooks/useAppKeyboardShortcuts.test.tsx
  front/hooks/useAppKeyboardShortcuts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[tooling] Make knip detect dead code across front, front-api and front-spa (#33602)
  knip.ts
  package-lock.json
  package.json
Due: biome

fix(extension): respond to getPanelState from pod home and fix lint
  extension/platforms/chrome/background.ts
  extension/shared/hooks/usePanelStateListener.ts
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/PodMainPage.tsx
Due: biome

[front] feature flags: add co_edition flag (dust_only)
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: audit logs for agent suggestions (#33629)
  front/admin/audit_log_schemas/agent.archived.json
  front/admin/audit_log_schemas/agent.created.json
  front/admin/audit_log_schemas/agent.editors_updated.json
  front/admin/audit_log_schemas/agent.scope_changed.json
  front/admin/audit_log_schemas/agent.updated.json
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/apply_batch_suggestions.ts
  front/lib/api/assistant/configuration/create_or_upgrade.ts
  front/lib/api/audit/schema_versions.json
  front/lib/resources/agent_configuration_save.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: return the user locale in the workspace auth context (#33610)
  front-api/routes/w/[wId]/auth-context.test.ts
  front-api/routes/w/[wId]/auth-context.ts
  front/components/UserSettingsPopover.tsx
  front/hooks/useUserLocale.ts
  front/lib/auth/AuthContext.tsx
  front/lib/resources/user_resource.ts
  front/types/api/auth_context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feature flags: add co_edition flag (dust_only) (#33638)
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: use button switches on manage search pages
  front/components/pages/builder/agents/SearchAgentsPage.tsx
  front/components/pages/builder/skills/SearchSkillsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Merge agent tool, skill and sub-agent suggestion recorders into one (#33623)
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: address review comments
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/api/assistant/suggestable_skills.ts
  front/lib/api/assistant/suggestable_sub_agents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(skills): address review comments
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/apply_batch_suggestions.ts
  front/lib/api/assistant/suggestable_skills.ts
  front/lib/api/assistant/suggestable_sub_agents.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(skills): accept a batch that adds a skill or sub-agent it also creates
  front/lib/api/assistant/apply_agent_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Track suggestion card views, decisions and preview panel actions (#33619)
  front/components/assistant/conversation/agent_panel/ConversationAgentPanel.tsx
  front/components/assistant/conversation/skill_panel/ConversationSkillPanel.tsx
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/SuggestionPreviewContext.tsx
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/components/markdown/suggestion/SuggestionPile.tsx
  front/components/markdown/suggestion/suggestionTracking.test.ts
  front/components/markdown/suggestion/suggestionTracking.ts
  front/components/skills/SkillDetailsButtonBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: handle missing users in Frame file authorization
  front/lib/api/frames/publication_storage.test.ts
  front/lib/api/viz/authorized_file_access.test.ts
  front/lib/api/viz/authorized_file_access.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: set up Lingui for the product UI
  .github/workflows/build-and-test-front.yml
  .grit/patterns/noClientImportsInServer.grit
  .grit/patterns/noClientImportsInServer.md
  front-spa/package.json
  front-spa/src/app/App.tsx
  front-spa/src/app/layouts/WorkspacePage.tsx
  front-spa/vite.config.ts
  front/components/app/UserLocaleSync.test.tsx
  front/components/app/UserLocaleSync.tsx
  front/lib/i18n/i18n.ts
  front/lib/i18n/po.d.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
  front/package.json
  front/scripts/i18n/check.ts
  front/vite.config.mjs
  lingui.config.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(discover): paste a copied skill handle as a skill chip in the input bar
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/editor/extensions/input_bar/SkillNode.test.ts
  front/components/editor/extensions/input_bar/SkillNode.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: set up Lingui for the product UI (#33410)
  .github/workflows/build-and-test-front.yml
  .grit/patterns/noClientImportsInServer.grit
  .grit/patterns/noClientImportsInServer.md
  front-spa/package.json
  front-spa/src/app/App.tsx
  front-spa/src/app/layouts/WorkspacePage.tsx
  front-spa/vite.config.ts
  front/components/app/UserLocaleSync.test.tsx
  front/components/app/UserLocaleSync.tsx
  front/lib/i18n/i18n.ts
  front/lib/i18n/po.d.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
  front/package.json
  front/scripts/i18n/check.ts
  front/vite.config.mjs
  lingui.config.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] AgentResource loads instructions on demand (#33618)
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front/lib/api/actions/servers/agent_sidekick_agent_state/tools/index.ts
  front/lib/api/actions/servers/agent_sidekick_context/tools/index.ts
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/describe_agent.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
  front/lib/api/actions/servers/workspace_management/tools/get_agent_details.ts
  front/lib/api/assistant/agent_instructions_suggestions.ts
  front/lib/api/assistant/agent_suggestion_pruning.test.ts
  front/lib/api/assistant/agent_suggestion_pruning.ts
  front/lib/api/assistant/agent_tags_change.ts
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/helpers.ts
  front/lib/api/assistant/inactivity/fetch_inactive_agents.test.ts
  front/lib/resources/agent_resource.indexation.test.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
  front/lib/resources/agent_resource_serialization.ts
  front/tests/utils/AgentConfigurationFactory.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Re-enable the AgentResource read cache (live)
  front/lib/resources/agent_resource.cache.test.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make skill usage refresh test order-insensitive (#33630)
  front/temporal/es_indexation/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Re-enable the AgentResource read cache (live) (#33632)
  front/lib/resources/agent_resource.cache.test.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] AgentResource: pinned-version batch resolver, dangerous fetches, global-agent list, name search
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] AgentResource: drop searchByName (fuzzy name lookups go through the ES agent search)
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
