Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] editor: a badge slot in the status row, with the Co-edition chip
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/index.tsx
  front/components/editor/document/types.ts
  front/components/file_explorer/CoEditionBadge.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(models): restore high as Claude Sonnet 4.6 default reasoning effort (#34098)
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Observe v2] Show extra group managers in an overflow count (#34107)
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/llms/stream/reasoning_effort_support.test.ts
  sparkle/src/components/Avatar.tsx
  sparkle/src/stories/Avatar.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bound run usages, invocations and skill snapshots in workspace deletes
  front/lib/resources/CONTRACTS
  front/lib/resources/file_resource.ts
  front/lib/resources/run_resource.ts
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/storage/destroy_in_batches.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: allow empty query string to list all agents/skills (#34102)
  front/lib/api/actions/servers/workspace_management/metadata.ts
  front/lib/api/actions/servers/workspace_management/tools/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] enh: improve Qdrant shard rebalancing suggestions (#34056)
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: none

Fit Qdrant shard RAM from shared replica placements
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.md
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: biome

[front] enh: prefer fewer ask_user_question descriptions
  front/lib/actions/types/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(poke): add a plugin to show a member's discovery For You recommendations (#34110)
  front/lib/api/poke/plugins/workspaces/discovery_for_you.ts
  front/lib/api/poke/plugins/workspaces/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Move Notion block grouping change to its own PR
  connectors/src/connectors/notion/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

dry cc
  front/components/editor/EditorContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: reinforce concise question options in system prompt
  front/lib/api/assistant/generation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Group Notion blocks by parent in linear time
  connectors/src/connectors/notion/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Replace dfs workspace publication gates with per-object locks
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/server/src/api.rs
  x/spolu/dfs/v2/server/src/auth.rs
  x/spolu/dfs/v2/server/src/lib.rs
  x/spolu/dfs/v2/server/src/mutation.rs
  x/spolu/dfs/v2/server/src/search/worker.rs
  x/spolu/dfs/v2/server/src/writeback.rs
Due: biome

chore: drop accidental .build artifacts from merge
  .build/.buildSystem_debug
  .build/CACHEDIR.TAG
  .gitignore
Due: none

fix(pods): show full pod name on hover in move menus
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove question option code contract
  front/lib/actions/types/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Split definitively conflicted dfs publication batches without replaying ambiguity
  x/spolu/dfs/v2/DESIGN.md
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/bench/common.py
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/server/src/api.rs
  x/spolu/dfs/v2/server/src/storage.rs
  x/spolu/dfs/v2/server/src/writeback.rs
Due: biome

Conversational building: improve title size and description (#34118)
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/resources/skill/code_defined/global/conversational_building.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(oauth): store finalize nonce hash, scrub from response
  front-api/routes/oauth/[provider]/finalize.test.ts
  front-api/routes/w/[wId]/oauth/[provider]/setup.test.ts
  front/CONTRACTS
  front/lib/api/oauth.test.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/finalize_binding.test.ts
  front/lib/api/oauth/finalize_binding.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] enh: improve RAM estimation in Qdrant shard rebalancing script (#34114)
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.md
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: biome

Add greedy minimax Qdrant shard rebalancing
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.md
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: biome

[front] chore: sort Lingui catalogs by origin instead of hashed messageId (#34123)
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
  lingui.config.ts
Due: biome

[core] enh: add greedy minimax Qdrant rebalancing (#34068)
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.md
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: biome

[connectors] Bound Notion block nesting depth when caching and rendering (#34033)
  connectors/src/connectors/notion/temporal/activities.test.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/connectors/notion/temporal/config.ts
  connectors/src/connectors/notion/temporal/workflows/children.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] feat(i18n): translate the user menu, command palette, navigation and personal tables
  front/components/UserMenu.tsx
  front/components/apps/DustAppPageLayout.tsx
  front/components/command_palette/CommandPaletteActionPhase.tsx
  front/components/command_palette/CommandPaletteItems.tsx
  front/components/command_palette/CommandPaletteSearchPhase.tsx
  front/components/command_palette/useCommandPaletteSearch.ts
  front/components/layouts/AdminLayout.tsx
  front/components/me/UserAutomationsDialog.tsx
  front/components/me/UserAutomationsTable.tsx
  front/components/me/UserToolsDialog.tsx
  front/components/me/UserToolsTable.tsx
  front/components/me/UserWakeUpsTable.tsx
  front/components/navigation/AdminSettingsSearchNav.tsx
  front/components/navigation/AppStatusBanner.tsx
  front/components/navigation/Navigation.tsx
  front/components/navigation/NavigationSidebar.tsx
  front/components/navigation/TrialBanner.tsx
  front/components/navigation/config.test.ts
  front/components/navigation/config.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Group Notion blocks by parent in linear time (#34128)
  connectors/src/connectors/notion/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] enh: prefer fewer `ask_user_question` descriptions (#34127)
  front/lib/actions/types/index.ts
  front/lib/api/assistant/generation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix EditorContent contract syntax and props interface
  front/components/editor/EditorContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(pods): show full pod name on hover in move menus (#34130)
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Use isString and a factory helper in the usage CSV fix
  front-api/routes/v1/w/[wId]/usage.test.ts
  front/lib/workspace_usage.ts
  front/tests/utils/ConversationFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix test
  front/lib/llms/stream/reasoning_effort_support.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: a badge slot in the status row, with the Co-edition chip (#34125)
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/index.tsx
  front/components/editor/document/types.ts
  front/components/file_explorer/CoEditionBadge.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix test (#34134)
  front/lib/llms/stream/reasoning_effort_support.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Record per-object locking benchmarks and kernel cache controls
  x/spolu/dfs/v2/PLAN.md
  x/spolu/dfs/v2/gcp/README.md
  x/spolu/dfs/v2/gcp/RESULTS.md
Due: biome

[front-api] build: compile Lingui macros and catalogs in the esbuild bundle (#33801)
  biome.json
  front-api/esbuild.lingui.ts
  front-api/esbuild.shared.ts
  front-api/package.json
  front-api/tsconfig.json
  front-api/vite.config.mjs
  package-lock.json
Due: package-lock-check, biome

[front] refactor(notifications): move workflow modules to triggers
  front-api/routes/novu/index.ts
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/members/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/feedbacks/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/members.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/api/credits/auto_seat_upgrade.test.ts
  front/lib/api/credits/auto_seat_upgrade.ts
  front/lib/api/credits/balance_threshold_alert.ts
  front/lib/api/credits/programmatic_cap_trigger_alert.test.ts
  front/lib/api/credits/programmatic_cap_trigger_alert.ts
  front/lib/api/credits/upgrade_requests.ts
  front/lib/api/sandbox/create_child_action.ts
  front/lib/notifications/triggers/agent-message-feedback.ts
  front/lib/notifications/triggers/balance-threshold-reached.ts
  front/lib/notifications/triggers/consumption-export-ready.ts
  front/lib/notifications/triggers/conversation-unread.ts
  front/lib/notifications/triggers/manual-action-required.ts
  front/lib/notifications/triggers/pod-added-as-member.ts
  front/lib/notifications/triggers/programmatic-cap-reached.ts
  front/lib/notifications/triggers/provider-credential-updated.ts
  front/lib/notifications/triggers/seat-auto-upgraded.ts
  front/lib/notifications/triggers/skill-suggestions-ready.ts
  front/lib/notifications/triggers/upgrade-request-created.ts
  front/lib/notifications/workflows/consumption-export-ready.test.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/programmatic-cap-reached.test.ts
  front/lib/resources/provider_credential_resource.ts
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_model_and_create_actions_wrapper.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/analytics_queue/activities/consumption_export.test.ts
  front/temporal/analytics_queue/activities/consumption_export.ts
  front/temporal/notifications_queue/activities.ts
  front/temporal/notifications_queue/client.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor(notifications): move Novu workflow definitions back to workflows
  front-api/routes/novu/index.ts
  front/CONTRACTS
  front/lib/notifications/triggers/agent-message-feedback.ts
  front/lib/notifications/triggers/balance-threshold-reached.ts
  front/lib/notifications/triggers/consumption-export-ready.ts
  front/lib/notifications/triggers/conversation-unread.ts
  front/lib/notifications/triggers/manual-action-required.ts
  front/lib/notifications/triggers/pod-added-as-member.ts
  front/lib/notifications/triggers/programmatic-cap-reached.ts
  front/lib/notifications/triggers/provider-credential-updated.ts
  front/lib/notifications/triggers/seat-auto-upgraded.ts
  front/lib/notifications/triggers/skill-suggestions-ready.ts
  front/lib/notifications/triggers/upgrade-request-created.ts
  front/lib/notifications/workflows/agent-message-feedback.ts
  front/lib/notifications/workflows/balance-threshold-reached.ts
  front/lib/notifications/workflows/consumption-export-ready.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
  front/lib/notifications/workflows/manual-action-required.ts
  front/lib/notifications/workflows/pod-added-as-member.ts
  front/lib/notifications/workflows/programmatic-cap-reached.test.ts
  front/lib/notifications/workflows/programmatic-cap-reached.ts
  front/lib/notifications/workflows/provider-credential-updated.ts
  front/lib/notifications/workflows/seat-auto-upgraded.ts
  front/lib/notifications/workflows/skill-suggestions-ready.ts
  front/lib/notifications/workflows/upgrade-request-created.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: apply domain blacklist to extension tools
  extension/shared/background.ts
Due: biome

[front] enh: match pod skill loading skeletons to list rows
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/pod/settings/PodDefaultSkillPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
