Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

lefthook.yml:

# Lefthook configuration
# See https://github.com/evilmartians/lefthook for documentation
#
# ===================================================================
# How to skip hooks:
# ===================================================================
#
# Skip ALL pre-commit hooks:
#   LEFTHOOK=0 git commit -m "message"
#
# Skip specific commands:
#   LEFTHOOK_EXCLUDE=check-main-branch git commit -m "message"
#   LEFTHOOK_EXCLUDE=ggshield-scan,package-lock-check git commit -m "message"
#
# Skip only linting/type-checking (front and connectors):
#   LEFTHOOK_EXCLUDE=front-lint-test-filenames,front-typecheck,front-circular,front-docs-check,front-prettier,front-eslint,connectors-lint-test-filenames,connectors-typecheck,connectors-prettier,connectors-eslint git commit -m "message"
#
# Skip only a project:
#   LEFTHOOK_EXCLUDE=front git commit -m "message"
#
# Interactive mode (choose which commands to run):
#   lefthook run pre-commit --interactive
#
# ===================================================================
output: false

pre-commit:
  # Run tasks in parallel for better performance
  parallel: true

  commands:
    # Check if committing to main branch
    check-main-branch:
      run: |
        current_branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$current_branch" = "main" ]; then
          echo "Error: Committing to 'main' is not allowed. Use LEFTHOOK_EXCLUDE=check-main-branch to override."
          exit 1
        fi
      priority: 1

    # Optional: ggshield secret scanning (skip with LEFTHOOK_EXCLUDE=ggshield-scan)
    ggshield-scan:
      run: |
        if command -v ggshield 2>&1 >/dev/null; then
          ggshield secret scan pre-commit
        else
          echo "ggshield is not installed. Skipping secret scan. Install ggshield or use LEFTHOOK_EXCLUDE=ggshield-scan"
          exit 0
        fi
      priority: 1

    # Optional: package-lock.json sync check (skip with LEFTHOOK_EXCLUDE=package-lock-check)
    package-lock-check:
      run: |
        if ! scripts/check-package-lock-sync.sh; then
          echo "Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory."
          exit 1
        fi
      priority: 1

    # Front directory checks
    front-lint-test-filenames:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run lint:test-filenames

    front-typecheck:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run tsgo

    front-circular:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run lint:circular

    front-docs-check:
      tags: front
      glob: "front/pages/api/v1/**/*"
      root: front/
      run: npm run docs:check

    # Connectors directory checks
    connectors-typecheck:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx}"
      root: connectors/
      run: npm run tsgo

    # Front prettier check
    front-prettier:
      tags: front
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}"
      root: front/
      run: npm run format:lefthook -- {staged_files}
      stage_fixed: true

    # Front eslint check
    front-eslint:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front
      run: npm run lint:lefthook -- {staged_files}
      stage_fixed: true

    # Connectors prettier check
    connectors-prettier:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}"
      root: connectors/
      run: npm run format:lefthook -- {staged_files}
      stage_fixed: true

    # Connectors eslint check
    connectors-eslint:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx}"
      root: connectors/
      run: npm run lint:lefthook -- {staged_files}
      stage_fixed: true

SPA index page
  front-spa/src/app/App.tsx
  front-spa/src/app/pages/IndexPage.tsx
  front/lib/api/regions/lookup.ts
  front/lib/swr/poke.ts
  front/lib/swr/workspaces.ts
  front/pages/api/auth-context.ts
  front/pages/api/lookup/[resource]/index.ts
  front/pages/api/poke/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

simplified
  front-spa/src/app/App.tsx
  front-spa/src/app/pages/IndexPage.tsx
  front/lib/api/regions/lookup.ts
  front/pages/api/auth-context.ts
  front/pages/api/lookup/[resource]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix
  front-spa/src/app/pages/IndexPage.tsx
  front/lib/api/regions/lookup.ts
  front/lib/swr/workspaces.ts
  front/pages/api/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

clean
  front-spa/src/app/pages/IndexPage.tsx
Due: none

Refactor RequestCard to use Card component as base
  sparkle/src/components/RequestCard.tsx
Due: none

Use Card variant primary (muted-background) per Figma design
  sparkle/src/components/RequestCard.tsx
Due: none

Fix forwarder
  x/henry/dust-hive/src/forward-daemon.ts
Due: none

Project editors UX
  front/components/assistant/conversation/CreateProjectModal.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/space/InviteUsersPanel.tsx
  front/components/assistant/conversation/space/SpaceContextTab.tsx
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/space/about/ProjectUrlsSection.tsx
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsActions.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/pages/conversation/SpaceConversationsPage.tsx
  front/lib/swr/groups.ts
  front/lib/swr/spaces.ts
  front/pages/api/w/[wId]/groups.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/w/[wId]/conversation/space/[spaceId]/index.tsx
  front/types/groups.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

self-review
  front/components/assistant/conversation/space/InviteUsersPanel.tsx
  front/components/assistant/conversation/space/SpaceContextTab.tsx
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsActions.tsx
  front/components/pages/conversation/SpaceConversationsPage.tsx
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

cleaning
  front/lib/swr/groups.ts
  front/pages/api/w/[wId]/groups.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/types/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix prettier
  front/pages/w/[wId]/conversation/space/[spaceId]/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Remove save button
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
  front/components/pages/conversation/SpaceConversationsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

move dir
  front/components/editor/input_bar/MentionComponent.tsx
  front/components/mentions/MentionDisplay.test.tsx
  front/components/mentions/MentionDisplay.tsx
  front/components/mentions/MentionDropdown.test.tsx
  front/components/mentions/MentionDropdown.tsx
  front/lib/mentions/markdown/plugin.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix prettier
  front/lib/swr/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Use outline variant for secondary action button
  sparkle/src/components/RequestCard.tsx
Due: none

fix(review): split description in collapsible and normal one + PR comments + add props for action buttons location
  sparkle/src/components/markdown/ActionCardBlock.tsx
  sparkle/src/stories/ConversationMessage.stories.tsx
Due: none

Create tool for an agent to create a project conversation.
  front/biome.json
  front/components/assistant/conversation/UserMessage.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/api/actions/servers/project_context_management/metadata.ts
  front/lib/api/actions/servers/project_context_management/tools/index.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

enh: make action card fully controlled by removing local state
  sparkle/src/components/markdown/ActionCardBlock.tsx
  sparkle/src/stories/ConversationMessage.stories.tsx
Due: none

Play/sparkle/copilot (#20650)
  sparkle/playground/src/components/ActionCardBlock.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/data/agentBuilder.ts
  sparkle/playground/src/stories/AgentBuilder.tsx
  sparkle/src/components/Card.tsx
  sparkle/src/components/DiffBlock.tsx
  sparkle/src/components/index.ts
  sparkle/src/components/markdown/ActionCardBlock.tsx
  sparkle/src/components/markdown/index.ts
  sparkle/src/stories/ConversationMessage.stories.tsx
Due: none

Project Selection
  sparkle/playground/src/stories/Projects_AgentBuilder.tsx
Due: none

Show unread messages count in project and handle conversation created without an associated user.
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix
  front-spa/src/app/pages/IndexPage.tsx
  front/pages/api/auth-context.ts
  front/pages/api/poke/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix updating an agent from pending to active
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Show unread messages count in project and handle conversation created without an associated user. (#20910)
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Migrate login-error page to client-side query params
  front/pages/login-error.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix export order in index.ts
  sparkle/src/components/index.ts
Due: none

Use base api for events
  front/hooks/useEventSource.ts
  front/lib/egress/client.ts
  front/lib/swr/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] SPA index page (#20889)
  front-spa/src/app/App.tsx
  front-spa/src/app/pages/IndexPage.tsx
  front/lib/api/regions/lookup.ts
  front/lib/swr/poke.ts
  front/lib/swr/workspaces.ts
  front/pages/api/auth-context.ts
  front/pages/api/poke/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

refactor: add fire-and-forget helper for project member notifications
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/notifications/workflows/project-added-as-member.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/members/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, front-prettier, front-eslint

Add notification settings for project-added-as-member
  front/components/me/NotificationPreferences.tsx
  front/lib/notifications/workflows/project-added-as-member.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: use dynamic import to fully break circular dependency
  front/lib/notifications/workflows/project-added-as-member.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

style: move email frequency setting to bottom of preferences
  front/components/me/NotificationPreferences.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: address PR review comments
  front/lib/notifications/workflows/project-added-as-member.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[dev] Fix forwarder (#20908)
  x/henry/dust-hive/src/forward-daemon.ts
Due: none

[front] Add notification when users are added to a project
  front/lib/notifications/workflows/project-added-as-member.ts
  front/lib/resources/space_resource.ts
  front/pages/api/novu/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix space members edition (#20715)
  front/lib/api/spaces.ts
  front/lib/resources/group_space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: resolve circular dependency and rebase conflicts
  front/lib/api/spaces.ts
  front/lib/notifications/workflows/project-added-as-member.ts
  front/lib/resources/group_space_resource.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

refactor: move notification triggers to API endpoints and improve UI
  front/components/me/AccountSettings.tsx
  front/components/me/NotificationPreferences.tsx
  front/lib/notifications/workflows/project-added-as-member.ts
  front/lib/resources/space_resource.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/members/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, front-prettier, front-eslint

fix: update to new Novu API (triggerBulk) and revert email content
  front/lib/notifications/workflows/project-added-as-member.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Use base api for events (#20913)
  front/hooks/useEventSource.ts
  front/lib/egress/client.ts
  front/lib/swr/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint
