Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Removing changes to agents.md file and package-lock
  front/AGENTS.md
Due: biome

Minor fixes from testing
  front/components/editor/SkillInstructionsEditor.tsx
  front/lib/build_skill_instructions_extensions.ts
  front/lib/skill_instructions_html.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "Consolidate duplicate landing page components into shared Competitive components"
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/Competitive/TestimonialSlider.tsx
  front/components/home/content/Glean/GleanDeepDive.tsx
  front/components/home/content/Glean/GleanHeroSection.tsx
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
  front/pages/landing/chatgpt-enterprise.tsx
  front/pages/landing/glean.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Glean and ChatGPT Enterprise paid search landing pages
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseCTA.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/components/home/content/Competitive/MultiProductComparisonTable.tsx
  front/components/home/content/Glean/GleanDeepDive.tsx
  front/components/home/content/Glean/GleanHeroSection.tsx
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanPricingSection.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
  front/components/home/content/Glean/config/gleanConfig.tsx
  front/components/home/content/Landing/LandingEmailSignup.tsx
  front/pages/landing/chatgpt-enterprise.tsx
  front/pages/landing/glean.tsx
  front/public/static/landing/chatgpt-enterprise/customer_logos.png
  front/public/static/landing/chatgpt-enterprise/daniel.png
  front/public/static/landing/chatgpt-enterprise/dust_logo.svg
  front/public/static/landing/chatgpt-enterprise/everett.png
  front/public/static/landing/chatgpt-enterprise/martin.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Glean paid search landing page
  front/components/home/content/Competitive/MultiProductComparisonTable.tsx
  front/components/home/content/Glean/GleanDeepDive.tsx
  front/components/home/content/Glean/GleanHeroSection.tsx
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanPricingSection.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
  front/components/home/content/Glean/config/gleanConfig.tsx
  front/components/home/content/Landing/LandingEmailSignup.tsx
  front/pages/landing/glean.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add ChatGPT Enterprise paid search landing page
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseCTA.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/pages/landing/chatgpt-enterprise.tsx
  front/public/static/landing/chatgpt-enterprise/customer_logos.png
  front/public/static/landing/chatgpt-enterprise/daniel.png
  front/public/static/landing/chatgpt-enterprise/dust_logo.svg
  front/public/static/landing/chatgpt-enterprise/everett.png
  front/public/static/landing/chatgpt-enterprise/martin.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove ChatGPT Enterprise landing page (moving to separate PR)
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseCTA.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/pages/landing/chatgpt-enterprise.tsx
  front/public/static/landing/chatgpt-enterprise/customer_logos.png
  front/public/static/landing/chatgpt-enterprise/daniel.png
  front/public/static/landing/chatgpt-enterprise/dust_logo.svg
  front/public/static/landing/chatgpt-enterprise/everett.png
  front/public/static/landing/chatgpt-enterprise/martin.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add testimonial images for Glean landing page
  front/public/static/landing/chatgpt-enterprise/daniel.png
  front/public/static/landing/chatgpt-enterprise/everett.png
  front/public/static/landing/chatgpt-enterprise/martin.png
Due: none

Fix REACT1: add TestimonialSliderProps interface in GleanDeepDive
  front/components/home/content/Glean/GleanDeepDive.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: mergedAt and createdAt to get_pull_request github tool. (#24026)
  front/lib/api/actions/servers/github/metadata.ts
  front/lib/api/actions/servers/github/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Polish knowledge tab of projects. (#24019)
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

useUnifiedSearch optionnally look for project files. (#24015)
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/assistant/conversation/types.ts
  front/components/spaces/FilePreviewSheet.tsx
  front/lib/swr/projects.ts
  front/lib/swr/search.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: support searching for project's files in AttachmentPicker.
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/utils.test.tsx
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/assistant/conversation/files_panel/FilesTab.tsx
  front/components/assistant/conversation/files_panel/SandboxTab.tsx
  front/components/assistant/conversation/files_panel/utils.ts
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/projects/context.ts
  front/lib/api/projects/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.ts
  sparkle/src/components/Dropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Upg: allow mcp servers with no required input configurations to be used as JIT servers.
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(migrations): include uncommited changes on original branch in migration
  connectors/create_db_migration_file.sh
  front/create_db_migration_file.sh
Due: none

Use the new method for JIT for auto discovered toolset
  front/lib/api/actions/servers/toolsets/tools/index.ts
  front/lib/resources/skill/global/discover_tools.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: support searching for project's files in AttachmentPicker. (#24016)
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/utils.test.tsx
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/assistant/conversation/files_panel/FilesTab.tsx
  front/components/assistant/conversation/files_panel/SandboxTab.tsx
  front/components/assistant/conversation/files_panel/utils.ts
  front/components/assistant/conversation/input_bar/InputBarAttachmentsPicker.tsx
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/projects/context.ts
  front/lib/api/projects/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.ts
  sparkle/src/components/Dropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

x/spolu: add conversation compaction proposal
  x/spolu/compaction/compaction.md
Due: biome

Add notes on listByDustRunIds ordering and steering/compaction interaction
  x/spolu/compaction/compaction.md
Due: biome

Upg: allow mcp servers with no required input configurations to be used as JIT servers. (#24025)
  front/lib/actions/mcp_internal_actions/utils.ts
  front/lib/api/actions/servers/toolsets/tools/index.ts
  front/lib/resources/skill/global/discover_tools.ts
  front/lib/utils/json_schemas.test.ts
  front/lib/utils/json_schemas.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add new tools for project conversations.
  front/lib/api/actions/servers/project_conversation/metadata.ts
  front/lib/api/actions/servers/project_conversation/tools/index.ts
  front/lib/api/actions/servers/project_manager/tools/conversation_formatting.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix tests
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

[front] enh: tie internal MCP tool names to server names in types (#23969)
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/tool_definition.ts
  front/lib/actions/types/guards.test.ts
  front/lib/actions/types/guards.ts
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/run_dust_app/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove broken check_membership_active_users_consistency production check (#24012)
  front/lib/production_checks/checks/check_membership_active_users_consistency.ts
  front/temporal/production_checks/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add new tools for project conversations. (#24024)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/project_conversation/metadata.ts
  front/lib/api/actions/servers/project_conversation/tools/index.ts
  front/lib/api/actions/servers/project_manager/tools/conversation_formatting.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

x/spolu: add compaction implementation plan
  x/spolu/compaction/plan.md
Due: biome

fix(inlinesteps): use AgentMessageMarkdown for content in inline steps (#23971)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add a global agents model kill switch
  front/components/poke/pages/KillPage.tsx
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/assistant.ts
  front/lib/poke/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/components/assistant/conversation/MessageItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

adjust
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix academy
  front/components/academy/AcademyQuiz.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MessageItem.tsx
  sparkle/src/components/ConversationMessages.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: move inter-message spacing from Sparkle to Front
  front/components/academy/AcademyQuiz.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  sparkle/src/components/ConversationMessages.tsx
  sparkle/src/components/TruncatedContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add spaceID in takeaways
  front/lib/project_todo/analyze_conversation/index.ts
  front/lib/project_todo/merge_into_project.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/storage/models/takeaways.ts
  front/lib/resources/takeaways_resource.ts
  front/migrations/db/migration_573.sql
  front/poke/temporal/activities.ts
  front/temporal/project_todo/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleanup
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  13/6f082a224018af8c79f5b64471dd2d85e79b32
Due: none

Update scripts, add enterprise migration
  front/components/poke/pages/WorkspacePage.tsx
  front/components/poke/subscriptions/table.tsx
  front/lib/metronome/constants.ts
  front/lib/metronome/types.ts
  front/scripts/metronome_setup.ts
  front/scripts/migrate_metronome_contracts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
