Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Use sandbox-neutral database quota env in runner
  cli/dust-sandbox/functions-runner/db/common.ts
  cli/dust-sandbox/functions-runner/db/query.test.ts
  cli/dust-sandbox/functions-runner/runner.ts
Due: biome

Expose Frame package file metadata (#31533)
  front-api/routes/w/[wId]/spaces/[spaceId]/files/index.test.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/file_icon_utils.ts
  front/types/api/file_system/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] poke: add reset fair-use button to members usage table (#31575)
  front/components/poke/credits/PokeMembersUsageTable.tsx
  front/components/poke/credits/ResetFairUseButton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bind renderer invocations to Frame identity
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.test.ts
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentContainer.test.ts
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Diagnose created API key usage mismatches
  front/migrations/20260827_compare_api_key_usage_indices.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Treat canonical database quota as authoritative
  cli/dust-sandbox/functions-runner/db/common.ts
  cli/dust-sandbox/functions-runner/db/query.test.ts
Due: biome

Add bounded Frame source storage copies (#31537)
  front/lib/api/frames/source_storage.test.ts
  front/lib/api/frames/source_storage.test_utils.ts
  front/lib/api/frames/source_storage.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Share Frame function test setup (#31545)
  front/tests/utils/FrameFunctionFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Normalize relocation IDs in destination region
  front/temporal/relocation/activities/destination_region/front/id_normalization.test.ts
  front/temporal/relocation/activities/destination_region/front/id_normalization.ts
  front/temporal/relocation/activities/destination_region/front/sql.ts
  front/temporal/relocation/activities/source_region/front/sql.ts
  front/temporal/relocation/activities/types.ts
  front/temporal/relocation/lib/file_storage/relocation.ts
  front/temporal/relocation/lib/sql/insert.test.ts
  front/temporal/relocation/lib/sql/insert.ts
  front/temporal/relocation/lib/sql/user_mappings.ts
  front/temporal/relocation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Define canonical Frame invocation contract
  front-api/lib/api/frame_function_invocation_schemas.test.ts
  front-api/lib/api/frame_function_invocation_schemas.ts
  front-api/public/swagger.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/frames/[frameId]/functions/[name]/index.ts
Due: biome

Pin canonical database env inheritance in dsbx
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/warm.rs
Due: none

[front] enh: surface webhook source id and GCS bucket link in poke
  front-api/routes/poke/workspaces/[wId]/triggers/[tId]/details.ts
  front/components/poke/pages/TriggerDetailsPage.tsx
  front/components/poke/pages/WebhookSourceDetailsPage.tsx
  front/components/poke/triggers/view.tsx
  front/components/poke/webhook_sources/columns.tsx
  front/lib/api/poke/triggers.ts
  front/lib/api/poke/webhook_sources.ts
  front/lib/api/webhook_source.ts
  front/lib/resources/webhook_request_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use project database terminology in v1 tools
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/db_list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/db_list.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Configure Frame use rights from source (#31508)
  front/lib/api/frames/share_from_source.test.ts
  front/lib/api/frames/share_from_source.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reuse the canonical database env constant
  cli/dust-sandbox/src/commands/function/mod.rs
Due: none

Strengthen Frame sharing integration test
  front/lib/api/frames/share_from_source.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose Frames v2 use rights endpoint
  front-api/routes/v1/w/[wId]/sandbox/frames/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/frames/index.ts
  front-api/routes/v1/w/[wId]/sandbox/frames/share.ts
Due: biome

Remove redundant Frame move helpers
  front/lib/api/frames/move_source_paths.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use sandbox database wording in runner
  cli/dust-sandbox/functions-runner/db/query.ts
  cli/dust-sandbox/functions-runner/db/reconcile.ts
  cli/dust-sandbox/functions-runner/db/validate.ts
  cli/dust-sandbox/functions-runner/types/db.ts
Due: biome

Define canonical Frame invocation contract (#31538)
  front-api/lib/api/frame_function_invocation_schemas.test.ts
  front-api/lib/api/frame_function_invocation_schemas.ts
  front-api/public/swagger.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/frames/[frameId]/functions/[name]/index.ts
Due: biome

Bind renderer invocations to Frame identity (#31519)
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.test.ts
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentContainer.test.ts
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refine Frame move path validation
  front/lib/api/frames/move_source_paths.test.ts
  front/lib/api/frames/move_source_paths.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose linked file metadata on path HEAD
  front-api/middlewares/cors.test.ts
  front-api/middlewares/cors.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].test.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front/lib/swr/files.test.ts
  front/lib/swr/files.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bind Pod sheet invocations to Frame identity
  front/components/pod/files/PodFrameSheet.test.ts
  front/components/pod/files/PodFrameSheet.tsx
  front/lib/swr/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Resolve active Frame functions for use
  front/lib/api/sandbox_functions/frame_share_capability.test.ts
  front/lib/api/sandbox_functions/frame_share_capability.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Type Frames v2 guest invocation failures
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Resolve invocations through Frame ownership
  front/lib/resources/sandbox_function_frame_invocation.test.ts
  front/lib/resources/sandbox_function_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Finish sandbox database runner wording
  cli/dust-sandbox/functions-runner/fixtures/databases/chat.db.ts
  cli/dust-sandbox/functions-runner/runner.test.ts
Due: biome

Build Frame packages in the file explorer (#31535)
  front/components/file_explorer/FileExplorerContent.tsx
  front/components/file_explorer/fileExplorerPipeline.test.ts
  front/components/file_explorer/fileExplorerPipeline.ts
  front/components/file_explorer/types.ts
  front/components/file_explorer/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Present Frame packages in the file explorer
  front/components/assistant/conversation/files_panel/ConversationFileExplorer.tsx
  front/components/file_explorer/FileExplorer.test.tsx
  front/components/file_explorer/FileExplorer.tsx
  front/components/file_explorer/FileExplorerContent.tsx
  front/components/file_explorer/FileExplorerItem.tsx
  front/components/pod/files/PodFileExplorer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Share project file fragment cleanup
  front/lib/api/projects/context.ts
  front/lib/api/projects/file_cleanup.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make FileResource own safe Frame deletion
  front/lib/api/frames/delete.ts
  front/lib/api/frames/publication_storage.test.ts
  front/lib/api/projects/context.test.ts
  front/lib/api/projects/context.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/frame_resource.ts
  front/lib/resources/frame_sandbox_adapter.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/poke/temporal/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move Frame deletion orchestration out of FileResource
  front/lib/api/frames/delete.ts
  front/lib/api/frames/publication_storage.test.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/frame_sandbox_adapter.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Require package-aware Frames v2 deletion
  front/lib/api/frames/publication_storage.test.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/frame_sandbox_adapter.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Validate Frame deletion workspace scope
  front/lib/api/frames/delete.ts
  front/lib/resources/file_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep Frame deletion behind its lifecycle resource
  front/lib/api/frames/delete.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/resources/frame_resource.ts
  front/lib/resources/frame_sandbox_adapter.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/poke/temporal/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Strengthen Frame sharing integration test (#31594)
  front/lib/api/frames/share_from_source.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose Frames v2 use rights endpoint (#31497)
  front-api/routes/v1/w/[wId]/sandbox/frames/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/frames/index.ts
  front-api/routes/v1/w/[wId]/sandbox/frames/share.ts
Due: biome

Canonicalize Frame move directories
  front/lib/api/frames/move_source_paths.test.ts
  front/lib/api/frames/move_source_paths.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: return spaces of api keys instead of groups (#31563)
  front-api/routes/w/[wId]/keys/[id]/disable.ts
  front-api/routes/w/[wId]/keys/[id]/index.ts
  front-api/routes/w/[wId]/keys/index.test.ts
  front-api/routes/w/[wId]/keys/index.ts
  front/components/pages/workspace/developers/APIKeysPage.tsx
  front/components/workspace/api-keys/APIKeysTable.tsx
  front/components/workspace/api-keys/utils.ts
  front/lib/resources/key_resource.test.ts
  front/lib/resources/key_resource.ts
  front/lib/swr/groups.ts
  front/types/key.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
