Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-lint-test-filenames, connectors-typecheck, lint-staged

lefthook.yml:

# Lefthook configuration
# See https://github.com/evilmartians/lefthook for documentation
#
# ===================================================================
# How to skip hooks:
# ===================================================================
#
# Skip ALL pre-commit hooks:
#   LEFTHOOK=0 git commit -m "message"
#
# Skip specific commands:
#   LEFTHOOK_EXCLUDE=check-main-branch git commit -m "message"
#   LEFTHOOK_EXCLUDE=ggshield-scan,package-lock-check git commit -m "message"
#
# Skip only linting/type-checking (front and connectors):
#   LEFTHOOK_EXCLUDE=front-lint-test-filenames,front-typecheck,front-circular,front-docs-check,connectors-lint-test-filenames,connectors-typecheck,lint-staged git commit -m "message"
#
# Interactive mode (choose which commands to run):
#   lefthook run pre-commit --interactive
#
# ===================================================================

pre-commit:
  # Run tasks in parallel for better performance
  parallel: true

  commands:
    # Check if committing to main branch
    check-main-branch:
      run: |
        current_branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$current_branch" = "main" ]; then
          echo "Error: Committing to 'main' is not allowed. Use LEFTHOOK_EXCLUDE=check-main-branch to override."
          exit 1
        fi
      priority: 1

    # Optional: ggshield secret scanning (skip with LEFTHOOK_EXCLUDE=ggshield-scan)
    ggshield-scan:
      run: |
        if command -v ggshield 2>&1 >/dev/null; then
          ggshield secret scan pre-commit
        else
          echo "ggshield is not installed. Skipping secret scan. Install ggshield or use LEFTHOOK_EXCLUDE=ggshield-scan"
          exit 0
        fi
      priority: 1

    # Optional: package-lock.json sync check (skip with LEFTHOOK_EXCLUDE=package-lock-check)
    package-lock-check:
      run: |
        root_path=$(git rev-parse --show-toplevel)
        if ! "$root_path"/scripts/check-package-lock-sync.sh; then
          echo "Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory."
          exit 1
        fi
      priority: 1

    # Front directory checks
    front-lint-test-filenames:
      glob: "front/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run lint:test-filenames --if-present --prefix "$root_path"/front

    front-typecheck:
      glob: "front/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run tsgo --if-present --prefix "$root_path"/front

    front-circular:
      glob: "front/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run lint:circular --if-present --prefix "$root_path"/front

    front-docs-check:
      glob: "front/pages/api/v1/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run docs:check --if-present --prefix "$root_path"/front

    # Connectors directory checks
    connectors-lint-test-filenames:
      glob: "connectors/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run lint:test-filenames --if-present --prefix "$root_path"/connectors

    connectors-typecheck:
      glob: "connectors/**/*"
      run: |
        root_path=$(git rev-parse --show-toplevel)
        npm run tsgo --if-present --prefix "$root_path"/connectors

    # Lint-staged for formatting checks
    lint-staged:
      glob: "**/*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}"
      run: npx lint-staged

Skip datadog if missing NEXT_PUBLIC_DATADOG_SERVICE
  dockerfiles/front.Dockerfile
Due: none

remove cache mount
  dockerfiles/front.Dockerfile
  dockerfiles/viz.Dockerfile
Due: none

cut
  .github/workflows/build-and-lint-connectors.yml
  .github/workflows/build-and-lint-front.yml
Due: lint-staged

[dev] Use npm workspace (#19336)
  .github/actions/setup-node-deps/action.yml
  .github/workflows/build-and-lint-cli.yml
  .github/workflows/build-and-lint-connectors.yml
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-front.yml
  .github/workflows/build-and-lint-sparkle.yml
  .github/workflows/build-and-lint-viz.yml
  .github/workflows/publish-cli.yml
  .github/workflows/publish-sdk-client.yml
  .github/workflows/run-dangerjs.yml
  .gitignore
  cli/package-lock.json
  connectors/package-lock.json
  dockerfiles/connectors.Dockerfile
  dockerfiles/front.Dockerfile
  dockerfiles/viz.Dockerfile
  extension/package-lock.json
  front/components/editor/tiptap.test.ts
  front/next.config.js
  front/package-lock.json
  package-lock.json
  package.json
  sdks/js/package-lock.json
  sdks/js/package.json
  sparkle/package-lock.json
  viz/package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

[dev] Use npm workspace (#19948)
  .github/actions/setup-node-deps/action.yml
  .github/workflows/build-and-lint-cli.yml
  .github/workflows/build-and-lint-connectors.yml
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-front.yml
  .github/workflows/build-and-lint-sparkle.yml
  .github/workflows/build-and-lint-viz.yml
  .github/workflows/publish-cli.yml
  .github/workflows/publish-sdk-client.yml
  .github/workflows/run-dangerjs.yml
  .gitignore
  cli/package-lock.json
  connectors/package-lock.json
  dockerfiles/connectors.Dockerfile
  dockerfiles/front.Dockerfile
  dockerfiles/viz.Dockerfile
  extension/package-lock.json
  front/components/editor/tiptap.test.ts
  front/next.config.js
  front/package-lock.json
  package-lock.json
  package.json
  sdks/js/package-lock.json
  sdks/js/package.json
  sparkle/package-lock.json
  viz/package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

[dev] Disable mount cache
  dockerfiles/connectors.Dockerfile
Due: none

imp
  sparkle/src/components/markdownWithStreamingAnimation/Markdown.tsx
  sparkle/src/components/markdownWithStreamingAnimation/useAnimatedText.tsx
Due: lint-staged

fix streaming state & memo
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/markdown/CiteBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

unused
  front/pages/api/w/[wId]/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

format
  front/components/poke/pages/AppPage.tsx
  front/pages/poke/[wId]/conversation/[cId]/index.tsx
  front/pages/poke/[wId]/llm-traces/[runId].tsx
  front/pages/poke/[wId]/memberships.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

unused
  front/lib/auth/AuthContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

simplified
  front/components/poke/PokeLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

adjsut animation
  front/components/assistant/conversation/actions/AgentMessageActions.tsx
  front/package.json
  package-lock.json
  sparkle/src/components/markdownWithStreamingAnimation/useAnimatedText.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

stop clearning agent relationships on archiving
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

fix tests
  front/pages/api/w/[wId]/skills/[sId]/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

override status in ID lookup
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

Update zod schema for ADF types (#20528)
  front/lib/actions/mcp_internal_actions/servers/jira/rendering.ts
  front/lib/actions/mcp_internal_actions/servers/jira/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

update typing in global skill definition to support additional config (child agent and name override)
  front/lib/resources/skill/global/discover_knowledge.ts
  front/lib/resources/skill/global/discover_tools.ts
  front/lib/resources/skill/global/frames.ts
  front/lib/resources/skill/global/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

add attribute on skill ressource to store configuration
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

report changes on buildServerSideMCPServerConfiguration
  front/lib/actions/configuration/helpers.ts
  front/lib/api/assistant/skill_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

add definition for deep dive skill
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/resources/skill/global/go_deep.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

[front] Sync custom attributes from workos (#20513)
  front/lib/iam/users.ts
  front/scripts/sync_scim_custom_attributes.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

wip
  extension/platforms/mobile/hooks/useAgentMessageStream.ts
  extension/platforms/mobile/lib/services/auth.ts
  extension/platforms/mobile/lib/services/storage.ts
  extension/platforms/mobile/lib/services/streaming.ts
  extension/platforms/mobile/package.json
  extension/shared/lib/streaming-types.ts
Due: lint-staged

exclude toolsets from go deep skill
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/resources/skill/global/go_deep.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

[dev] Disable mount cache (#20539)
  dockerfiles/connectors.Dockerfile
Due: none

fix imports
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

db: add lastReadAt to ConversationParticipant
  front/lib/models/agent/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

fix: add parameter
  front/lib/models/agent/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

create migration file
  front/migrations/db/migration_489.sql
  front/migrations/db/migration_493.sql
Due: front-lint-test-filenames, front-typecheck, front-circular

Reapply "Break circular dependencies from file_resources.ts (#20485)" (#20498)
  front/lib/actions/action_file_helpers.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/api/actions/servers/image_generation/tools/index.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/files/processing.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.test.ts
  front/lib/api/files/upsert.ts
  front/lib/api/files/utils.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/search/tools/search.ts
  front/lib/utils/streams.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
  front/pages/api/w/[wId]/files/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, lint-staged

Update test imports
  front/lib/api/files/upsert.test.ts
  front/pages/api/v1/w/[wId]/files/fileId.test.ts
  front/pages/api/w/[wId]/files/[fileId]/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, lint-staged

Fix imports
  front/lib/api/actions/servers/image_generation/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

Deploy
  sparkle/playground/src/App.tsx
  sparkle/playground/tsconfig.json
Due: lint-staged

Fix imports
  front/lib/actions/mcp_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

Replace some usage of WorkspaceModel by WorkspaceResource
  front/lib/resources/workspace_resource.ts
  front/lib/workspace.ts
  front/migrations/20231219_imageUrl_backfill.ts
  front/migrations/20240130_migrate_assistants_models.ts
  front/migrations/20240513_backfill_customerio_delete_free_test.ts
  front/migrations/20240513_backfill_customerio_membership_timestamps.ts
  front/migrations/20240515_scrub_workspaces.ts
  front/migrations/20240724_workspaces_groups_backfill.ts
  front/migrations/20240826_backfill_slack_whitelisted_bots.ts
  front/migrations/20240829_backfill_keys_without_group_id.ts
  front/migrations/20240906_backfill_apps_vault_ids.ts
  front/migrations/20240912_backfill_editedbyuser_id.ts
  front/migrations/20240927_backfill_dsv_parent_nodes.ts
  front/migrations/20241114_conversations_spaces_backfill.ts
  front/migrations/20250428_backfill_editor_groups.ts
  front/migrations/20250717_slackstorm_delete_rate_limited_slack_connections.ts
  front/migrations/20250725_backfill_agent_configurations.ts
  front/migrations/20251016_gate_workspaces_in_legacy_dust_apps.ts
  front/migrations/20251103_backfill_agent_analytics.ts
  front/migrations/20251116_backfill_context_origin_analytics.ts
  front/migrations/20251117_backfill_missing_agent_editor_groups.ts
  front/migrations/20251119_backfill_mcp_server_configuration_sid_analytics.ts
  front/migrations/20251126_backfill_programmatic_usage_configurations.ts
  front/migrations/20251128_backfill_free_credits.ts
  front/migrations/20251202_fix_programmatic_credits_cents_conversion.ts
  front/migrations/20251218_delete_mcp_server_views_by_sid.ts
  front/migrations/20260112_migrate_skill_editor_groups.ts
  front/migrations/20260114_backfill_project_metadata.ts
  front/poke/temporal/activities.ts
  front/scripts/ensure_all_mcp_server_views_created.ts
  front/scripts/update_agent_models.ts
  front/scripts/workspace_helpers.ts
  front/temporal/data_retention/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged

Fix "Break circular dependencies from file_resources.ts" (#20501)
  front/lib/actions/action_file_helpers.ts
  front/lib/actions/mcp_internal_actions/utils/file_utils.ts
  front/lib/actions/mcp_utils.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/assistant/email_trigger.ts
  front/lib/api/files/processing.ts
  front/lib/api/files/upload.ts
  front/lib/api/files/upsert.test.ts
  front/lib/api/files/upsert.ts
  front/lib/api/files/utils.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
  front/lib/search/tools/search.ts
  front/lib/utils/streams.ts
  front/pages/api/v1/w/[wId]/files/[fileId].ts
  front/pages/api/v1/w/[wId]/files/fileId.test.ts
  front/pages/api/v1/w/[wId]/files/index.ts
  front/pages/api/w/[wId]/files/[fileId]/index.test.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
  front/pages/api/w/[wId]/files/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, lint-staged

Deploy
  sparkle/playground/package.json
  sparkle/playground/tsconfig.json
Due: lint-staged

feat(ppul): non-es based cap compute
  front/lib/api/key_cap_tracking.ts
  front/lib/api/programmatic_usage_tracking.ts
  front/lib/api/redis.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, lint-staged
