Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[sparkle/playground] Co-edition: address React Doctor review
  sparkle/playground/src/components/AgentConversations.tsx
  sparkle/playground/src/components/PanelLayout.tsx
  sparkle/playground/src/components/RichTextArea.tsx
  sparkle/playground/src/components/doc/CommentsPanel.tsx
  sparkle/playground/src/components/doc/DocEditor.tsx
  sparkle/playground/src/components/doc/DocumentPanel.tsx
  sparkle/playground/src/components/doc/FloatingComments.tsx
  sparkle/playground/src/components/doc/LightComments.tsx
  sparkle/playground/src/components/doc/MentionMenu.tsx
  sparkle/playground/src/components/doc/Presence.tsx
  sparkle/playground/src/components/doc/Suggestions.tsx
  sparkle/playground/src/hooks/useMockConversations.ts
  sparkle/playground/src/lib/coEdition.ts
Due: biome

[sparkle/playground] Co-edition: align with production and the Figma comments design
  sparkle/playground/src/components/AgentConversations.tsx
  sparkle/playground/src/components/doc/Comments.tsx
  sparkle/playground/src/components/doc/CommentsPanel.tsx
  sparkle/playground/src/components/doc/DocEditor.tsx
  sparkle/playground/src/components/doc/DocumentPanel.tsx
  sparkle/playground/src/components/doc/FloatingComments.tsx
  sparkle/playground/src/components/doc/LightComments.tsx
  sparkle/playground/src/components/doc/SelectionToolbar.tsx
  sparkle/playground/src/components/doc/docSeeds.ts
  sparkle/playground/src/components/doc/docTypography.ts
  sparkle/playground/src/stories/Co_Edition.tsx
Due: biome

[sparkle/playground] Co-edition: grey document, comments button in the top bar
  sparkle/playground/src/components/doc/Comments.tsx
  sparkle/playground/src/components/doc/DocumentPanel.tsx
Due: biome

[sparkle/playground] Co-edition: mark the page margin click area as presentational
  sparkle/playground/src/components/doc/DocumentPanel.tsx
Due: biome

[sparkle/playground] Co-edition: comment bubbles with reply counts beside the text by default
  sparkle/playground/src/stories/Co_Edition.tsx
Due: biome

[sparkle/playground] Co-edition: comment input is Sparkle's comment Composer
  sparkle/playground/src/components/doc/Comments.tsx
  sparkle/playground/src/components/doc/MentionMenu.tsx
Due: biome

[connectors/front] enh: route Gong API calls through the static-IP proxy
  connectors/src/connectors/gong/lib/errors.ts
  connectors/src/connectors/gong/lib/gong_api.ts
  connectors/src/lib/proxy.ts
  core/src/oauth/providers/gong.rs
  front/lib/api/actions/servers/gong/client.test.ts
  front/lib/api/actions/servers/gong/client.ts
  front/lib/egress/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front] co-edition: one comment bubble per line, cycling through its comments
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/DocumentCommentMarkers.test.ts
  front/components/editor/document/DocumentCommentMarkers.tsx
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Move front Gong changes to a separate PR
  front/lib/api/actions/servers/gong/client.test.ts
  front/lib/api/actions/servers/gong/client.ts
  front/lib/egress/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): share CharacterCountDisplay between editors
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/MarkdownEditor.tsx
  front/components/shared/CharacterCountDisplay.tsx
  front/locales/en-US/components/agent_builder/instructions/messages.po
  front/locales/en-US/components/editor/messages.po
  front/locales/en-US/components/shared/messages.po
  front/locales/fr-FR/components/agent_builder/instructions/messages.po
  front/locales/fr-FR/components/editor/messages.po
  front/locales/fr-FR/components/shared/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: route Gong MCP API calls through the static-IP proxy
  front/lib/api/actions/servers/gong/client.test.ts
  front/lib/api/actions/servers/gong/client.ts
  front/lib/egress/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] dfs: decode ObjectKind instead of bool directory (#34785)
  front/lib/dfs/client.test.ts
  front/lib/dfs/codec.ts
  front/lib/dfs/grpc_transport.test.ts
  front/tests/utils/dfs/DfsWireFactory.ts
  front/types/dfs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: show which agent is working in a live document (#34691)
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
  front-api/lib/collab/internal_routes.test.ts
  front-api/lib/collab/internal_routes.ts
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentSaveStatus.tsx
  front/components/editor/document/LiveDocument.tsx
  front/components/editor/document/useLiveAgentActivity.ts
  front/lib/api/actions/servers/documents/tools/index.ts
  front/lib/api/collab/live_source.ts
  front/lib/api/files/dfm_agent_documents.ts
  front/lib/api/files/dfm_stored_documents.ts
  front/lib/client/live_agents.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
  front/tests/utils/LiveAgentFactory.ts
  front/types/collab.ts
  x/daph/co-edition/LIVE_SESSION.md
  x/daph/co-edition/WORK.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle/playground] Co-edition: header and status badge as production
  sparkle/playground/src/components/doc/DocumentPanel.tsx
Due: biome

[front] Relabel the memory file system contract as a cache concern
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: keep main's marker count and grouping
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/DocumentCommentMarkers.test.ts
  front/components/editor/document/DocumentCommentMarkers.tsx
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle/playground] Co-edition: agent thinking and typing chip next to the live status
  sparkle/playground/src/components/AgentConversations.tsx
  sparkle/playground/src/components/doc/DocumentPanel.tsx
Due: biome

refacto: Share CharacterCountDisplay between editors (#34787)
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/MarkdownEditor.tsx
  front/components/shared/CharacterCountDisplay.tsx
  front/locales/en-US/components/agent_builder/instructions/messages.po
  front/locales/en-US/components/editor/messages.po
  front/locales/en-US/components/shared/messages.po
  front/locales/fr-FR/components/agent_builder/instructions/messages.po
  front/locales/fr-FR/components/editor/messages.po
  front/locales/fr-FR/components/shared/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): let editors suggest prompts for their agent
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggested_prompts.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggested_prompts.ts
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderLeftPanel.tsx
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/hooks/useAgentBuilderFormHydration.test.ts
  front/components/agent_builder/hooks/useAgentBuilderFormHydration.ts
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/components/agent_builder/suggested_prompts/AgentBuilderSuggestedPromptsBlock.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/discover/AgentSuggestedPrompts.tsx
  front/components/assistant/conversation/discover/HomepageUseCases.tsx
  front/components/assistant/conversation/discover/HoverScrollText.tsx
  front/hooks/useAgentSuggestedPrompts.ts
  front/lib/agent_builder/transform_agent_configuration.ts
  front/locales/en-US/components/agent_builder/suggested_prompts/messages.po
  front/locales/fr-FR/components/agent_builder/suggested_prompts/messages.po
  front/types/api/assistant/configuration/suggested_prompts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add agent_suggested_prompts table
  front/admin/db.ts
  front/lib/models/agent/agent_suggested_prompt.ts
  front/lib/resources/agent_resource.ts
  front/migrations/pre-deploy/20261009154532_create_agent_suggested_prompts.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): store one row of suggested prompts per agent
  front/admin/db.ts
  front/lib/models/agent/agent_suggested_prompts.ts
  front/lib/resources/agent_resource.ts
  front/migrations/pre-deploy/20261009173656_create_agent_suggested_prompts.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle/playground] Co-edition: status chips by the file name, alpha badge on the document
  sparkle/playground/src/components/AgentConversations.tsx
  sparkle/playground/src/components/doc/DocumentPanel.tsx
Due: biome

[front] chore: drop pronouns metadata key and profile helper
  front-api/routes/w/[wId]/members/[uId]/index.ts
  front/lib/resources/user_resource.ts
  front/migrations/20261009_backfill_users_pronouns.ts
  front/types/user_profile.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: tighten Discover page spacing (#34779)
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): let the unique index drive the suggested prompts upsert
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Replace the global limiter with an opt-in withRateLimit middleware, used on analytics export
  front-api/middlewares/public_api_rate_limit.ts
  front-api/middlewares/with_rate_limit.ts
  front-api/routes/v1/w/[wId]/analytics/export.test.ts
  front-api/routes/v1/w/[wId]/analytics/export.ts
  front-api/routes/v1/w/[wId]/index.ts
  front/lib/utils/rate_limiter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: expose conversation consumption in the public API
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/consumption.test.ts
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/consumption.ts
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front-api/routes/v1/w/[wId]/swagger_schemas.ts
  front/types/assistant/conversation_consumption.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Stop showing generated text once Stop/Skip is clicked
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/AgentMessage.compactUIView.test.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/GenerationContextProvider.tsx
  front/hooks/useAgentMessageStream.test.ts
  front/hooks/useAgentMessageStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Keep Stop/Skip pending until generation actually ends
  front/components/assistant/conversation/AgentInputBar.tsx
  front/hooks/conversations/useCancelMessage.test.ts
  front/hooks/conversations/useCancelMessage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): find then create or update suggested prompts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): use regular icons for agent suggested prompts
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/discover/AgentSuggestedPrompts.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: Suggest adds one suggestion, then selects it
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/DocumentCommentInput.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Split per-call credit allocation into named steps
  front/lib/api/assistant/agent_message_consumption_attribution/allocation.ts
  front/lib/api/assistant/agent_message_consumption_attribution/attribution_builder.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: regenerate conversation consumption Swagger specs
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
Due: biome

[front] chore: move MAX_USER_PRONOUNS_LENGTH to user types
  front-api/routes/user/index.ts
  front/components/UserSettingsPopover.tsx
  front/components/onboarding/ProfileOnboardingSteps.tsx
  front/lib/resources/storage/models/user.ts
  front/types/user.ts
  front/types/user_profile.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: replace IconButton with Button
  front/components/ContentNodeTree.tsx
  front/components/actions/mcp/details/MCPSkillEnableActionDetails.tsx
  front/components/assistant/conversation/input_bar/InputBarMessageNavigation.tsx
  front/components/assistant/details/tabs/AgentInfoTab/AssistantKnowledgeSection.tsx
  front/components/members/MembersList.tsx
  front/components/triggers/WebhookSourceDetailsInfo.tsx
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/api-keys/APIKeyCreationSheet.tsx
  front/lib/triggers/built-in-webhooks/zendesk/components/WebhookSourceZendeskDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: replace IconButton with Button in poke
  front/components/poke/PokeColumnSortableHeader.tsx
  front/components/poke/PokeConnectorPermissionsTree.tsx
  front/components/poke/PokeFavorites.tsx
  front/components/poke/apps/columns.tsx
  front/components/poke/conversation/agent_table.tsx
  front/components/poke/conversation/self_improving_skills_table.tsx
  front/components/poke/data_sources/slack/table.tsx
  front/components/poke/data_sources/slack/workflows_table.tsx
  front/components/poke/invitations/columns.tsx
  front/components/poke/members/columns.tsx
  front/components/poke/pages/AssistantDetailsPage.tsx
  front/components/poke/pages/PlansPage.tsx
  front/components/poke/plugins/RunPluginDialog.tsx
  front/components/poke/shadcn/ui/pagination.tsx
  front/components/poke/skill_suggestions/columns.tsx
  front/components/poke/subscriptions/SeatLimitScheduleDialog.tsx
  front/components/poke/suggestions/columns.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[marketing] chore: replace IconButton with Button
  marketing/components/home/menu/MobileNavigation.tsx
Due: biome

[sparkle] enh: darken ghost-secondary Button text on hover
  sparkle/src/components/Button.tsx
Due: biome

[sparkle] chore: replace internal IconButton usages with Button
  sparkle/playground/src/components/DataTableDnd.tsx
  sparkle/src/components/ConversationMessage.tsx
  sparkle/src/components/DataTable/cells.tsx
Due: biome
