Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Fix casing of Zach Friedland's name on marketing team page
  marketing/components/home/content/shared/team.ts
Due: biome

feat: warn users about similar agents before creating duplicates (#29473)
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/similar.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/similar.ts
  front/components/agent_builder/AgentBuilderSimilarAgentsSection.test.tsx
  front/components/agent_builder/AgentBuilderSimilarAgentsSection.tsx
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
  front/lib/api/assistant/existing_agent_checker.ts
  front/lib/api/llm/traces/types.ts
  front/lib/swr/assistants.ts
  front/types/api/assistant/configuration/existing_agent_checker.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(core): restrict SQLite worker queries (#29648)
  core/Cargo.toml
  core/src/sqlite_workers/sqlite_database.rs
Due: none

[sparkle] Fix: voice recording was unreachable from the keyboard
  sparkle/src/components/VoicePicker.tsx
Due: biome

Fix unhandled API error in datasource handleSearch
  front/lib/api/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix casing of Zach Friedland's name on marketing team page (#29657)
  marketing/components/home/content/shared/team.ts
Due: biome

format
  front/components/workspace/ChangeMemberModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(core): escape SQLite table identifiers
  core/src/databases/table_schema.rs
  core/src/sqlite_workers/sqlite_database.rs
Due: none

[sparkle] ui-polish: real ellipsis character in VoicePicker
  sparkle/src/components/VoicePicker.tsx
Due: biome

Opt: cache for agent_step_contents
  front/lib/api/assistant/messages.ts
  front/lib/api/redis.ts
  front/lib/reinforcement/tool_execution.ts
  front/lib/resources/agent_step_content/cache.ts
  front/lib/resources/agent_step_content_resource.test.ts
  front/lib/resources/agent_step_content_resource.ts
  front/temporal/agent_loop/activities/common.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] perf: drop dead transition-[padding] in VoicePicker
  sparkle/src/components/VoicePicker.tsx
Due: biome

Remove legacy agent creation/publishing restriction flags
  front/lib/api/assistant/publishing_restrictions.ts
  front/lib/api/permissions/governance_seeding.test.ts
  front/lib/api/permissions/governance_seeding.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Delete completed governance backfill script
  front/lib/api/permissions/governance_seeding.ts
  front/migrations/20260721_backfill_governance_capabilities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add skills-only availability to MCP server views
  front/lib/models/agent/actions/mcp_server_view.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/migrations/pre-deploy/20260727092332_add_is_restricted_to_skills_to_mcp_server_views.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Require skills-only availability at MCP view creation
  front-api/routes/w/[wId]/spaces/[spaceId]/apps/[aId]/index.test.ts
  front/lib/actions/mcp_actions.test.ts
  front/lib/models/agent/actions/mcp_server_view.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Do not inherit skills-only MCP availability
  front/lib/resources/mcp_server_view_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Use MCP resource model access
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/storage/wrappers/workspace_models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Increase contrast on ButtonsSwitch container (#29647)
  sparkle/src/components/ButtonsSwitch.tsx
Due: biome

Add agent message consumption item model
  front/admin/db.ts
  front/lib/models/agent/agent_message_consumption_item.ts
  front/migrations/pre-deploy/20260728223702_add_agent_message_consumption_items.sql
  front/types/assistant/agent_message_consumption.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin governance: remove legacy agent creation/publishing restriction flags (#29650)
  front/lib/api/assistant/publishing_restrictions.ts
  front/lib/api/permissions/governance_seeding.test.ts
  front/lib/api/permissions/governance_seeding.ts
  front/migrations/20260721_backfill_governance_capabilities.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Type soft-delete model static context
  front/lib/resources/storage/wrappers/workspace_models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

✨
  front/lib/models/agent/agent_message_consumption_item.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove dead buildersOnly member-search plumbing
  front-api/routes/w/[wId]/members/search.test.ts
  front-api/routes/w/[wId]/members/search.ts
  front/components/assistant/conversation/space/ManageUsersPanel.tsx
  front/components/members/MemberSelectionTable.tsx
  front/lib/api/workspace.ts
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

🙈
  front/lib/models/agent/agent_message_consumption_item.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: remove misleading MCP description note
  front/components/actions/mcp/create/MCPServerViewForm.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/availability.ts
Due: biome

Downgrade builder invitations to user on acceptance
  front/lib/api/signup.test.ts
  front/lib/api/signup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update Deep Dive model routing
  front/lib/actions/mcp_internal_actions/utils/web_summarization.test.ts
  front/lib/actions/mcp_internal_actions/utils/web_summarization.ts
  front/lib/api/assistant/call_llm.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/global_agents.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix unhandled API error in datasource handleSearch (#29663)
  front/lib/api/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Per-user spend-cap rate-limiter backup
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/assistant/rate_limits.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/users/spend_limit.ts
  front/lib/resources/conversation_resource.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Preserve Deep Dive primary model
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/global_agents.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update logic
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/skills/SkillsBatchEdit.tsx
  front/components/skills/SkillsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix BubbleMenu clipping/positioning and flat composer colors
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  sparkle/src/components/Composer.tsx
  sparkle/src/stories/Composer.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: group table pagination
  front/components/groups/WorkspaceGroupsList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Lower browser summary reasoning
  front/lib/actions/mcp_internal_actions/utils/web_summarization.test.ts
  front/lib/actions/mcp_internal_actions/utils/web_summarization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

imp
  front/components/skill_builder/SkillBuilderSettingsSection.tsx
  front/components/skills/SkillsBatchEdit.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  front/components/skill_builder/SkillBuilderSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/components/skill_builder/SkillBuilderSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
