Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

security: validate WorkOS and Stripe URLs before window.open
  front/components/workspace/BuyCreditDialog.tsx
  front/components/workspace/DirectorySync.tsx
  front/components/workspace/sso/WorkOSSSOConnection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: add noopener,noreferrer to remaining window.open call sites
  front/components/assistant/conversation/FilePreviewContext.tsx
  front/components/assistant/conversation/GoogleDriveFileAuthorizationRequired.tsx
  front/components/assistant/conversation/interactive_content/ExportContentDropdown.tsx
  front/components/pages/onboarding/CheckoutPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: fix XSS via data source sourceUrl in window.open (batch 14)
  front/components/actions/mcp/details/MCPDataSourcesFileSystemActionDetails.tsx
  front/components/actions/mcp/details/MCPDataWarehousesBrowseDetails.tsx
  front/components/assistant/details/tabs/AgentInfoTab/AssistantKnowledgeSection.tsx
  front/components/spaces/ContentActions.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: add noopener,noreferrer to remaining window.open call sites (batch 15)
  front/components/UserMenu.tsx
  front/components/pages/spaces/apps/AppViewPage.tsx
  front/components/pages/workspace/developers/CreditsUsagePage.tsx
  front/components/pages/workspace/developers/SecretsPage.tsx
  front/components/poke/pages/DataSourcePage.tsx
  front/components/poke/pages/DataSourceSearchPage.tsx
  front/components/spaces/AddConnectionMenu.tsx
  front/components/spaces/ConnectorDataUpdatedModal.tsx
  front/components/triggers/CreateWebhookSourceWithProviderForm.tsx
  front/lib/triggers/built-in-webhooks/github/components/WebhookSourceGithubDetails.tsx
  front/lib/triggers/built-in-webhooks/jira/components/WebhookSourceJiraDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(google-drive): key My Drive cache on connector id
  connectors/src/connectors/google_drive/temporal/activities/common/utils.ts
  connectors/src/connectors/google_drive/temporal/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

security: add noopener,noreferrer to internal window.open calls (batch 16)
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/pages/workspace/subscription/SubscriptionPage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front): validate URLs before window.open in plugin, MCP, and audit portal (batch 17)
  front/components/actions/mcp/details/MCPRunAgentActionDetails.tsx
  front/components/poke/plugins/RunPluginDialog.tsx
  front/lib/swr/workos.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixup! security(front): validate URLs before window.open in plugin, MCP, and audit portal (batch 17)
  front/lib/swr/workos.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front-api): block SVG inline serving in thumbnail route; restrict managed config GET to admins
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/thumbnail.ts
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Due: biome

security: pin sandbox binary SHA-256 digests in source; harden prodbox SSH known_hosts
  front/lib/api/sandbox/image/registry.ts
  prodbox/init.sh
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front): delete email webhook temp files; enforce body limit before buffering
  front-api/routes/email/webhook.ts
  front-api/routes/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.ts
  front/lib/api/assistant/email/webhook_helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front): parse LLM suggestion HTML in isolated context; redact webhook secrets from logs
  front-api/middlewares/request_instrumentation.ts
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
  front/lib/editor/instruction_blocks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(security): add validateUrl + noopener,noreferrer to window.open calls
  front/components/actions/mcp/details/MCPExtractActionDetails.tsx
  front/components/editor/extensions/LinkExtension.ts
  front/components/workspace/BuyCreditDialog.tsx
  front/components/workspace/DirectorySync.tsx
  front/components/workspace/sso/WorkOSSSOConnection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front): store sanitized URL in reqCtx; remove unsafe cast in isolated parse
  front-api/middlewares/request_instrumentation.ts
  front/lib/editor/instruction_blocks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(connectors): verify credential workspace ownership; use repo owner from webhook payload
  connectors/src/api/webhooks/webhook_github.ts
  connectors/src/connectors/bigquery/index.ts
  connectors/src/connectors/github/lib/github_webhooks.ts
  connectors/src/connectors/snowflake/index.ts
  connectors/src/lib/remote_databases/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

security(front): fix path traversal in frame edit, mass assignment in upsert, missing delete auth
  front/lib/api/files/file_system_ops.ts
  front/lib/api/files/upsert.ts
  front/lib/api/viz/edit_frame_text.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: restrict Freshservice token endpoint to allowlisted domains; verify OAuth connection ownership on webhook source creation
  core/src/oauth/providers/freshservice.rs
  front-api/routes/w/[wId]/webhook_sources/index.ts
Due: biome

security(front): address flavify nits — merge docblock, clarify contract prose
  front/lib/api/files/file_system_ops.ts
  front/lib/api/files/upsert.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front-api): block unsafe content types in Pod and conversation inline file serving
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/[...rel].ts
  front-api/routes/w/[wId]/spaces/[spaceId]/files/[...rel].ts
Due: biome

security(front-api): block unsafe content types in skill attachment and unified thumbnail routes
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front-api/routes/w/[wId]/skills/[sId]/files/[fileId]/content.ts
Due: biome

fix(contracts): correct @cc owner from flvndvd to frankaloia
  front-api/routes/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.ts
  front/lib/api/assistant/email/webhook_helpers.ts
  front/lib/api/assistant/parse_mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(contracts): correct @cc owner from flvndvd to frankaloia
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/update.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/api/files/upsert.ts
  front/lib/api/viz/edit_frame_text.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(front-api): verify OAuth connection ownership in labs transcripts and connector re-auth
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/update.ts
  front-api/routes/w/[wId]/labs/transcripts/index.ts
Due: biome

security(core): redact credential URLs in HTTP logging; extend SSRF guard to IPv6
  core/src/http/network.rs
  core/src/http/request.rs
Due: none

security: verify credential workspace ownership in Notion config binding and Snowflake MCP tool
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
  front/lib/api/actions/servers/snowflake/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: verify Pod ownership on file removal; reject Notion verification_token overwrite
  firebase-functions/webhook-router/src/notion/verification.ts
  front/lib/api/projects/context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: fix Teams attachment allowlist bypass (endsWith → isHostUnderDomain); add SSRF guard to processAndStoreFromUrl
  connectors/src/api/webhooks/teams/content_fragments.ts
  connectors/src/types/shared/utils/url_utils.ts
  front/lib/api/files/upload.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

security: restrict webhook-request reads to trigger editors/managers; validate webhookSourceViewId workspace ownership
  front-api/routes/w/[wId]/triggers/[tId]/webhook_requests.ts
  front-api/routes/w/[wId]/triggers/index.ts
Due: biome

security: scope Intercom permission revokes to connectorId; cap parseMentions input to prevent quadratic toLowerCase
  connectors/src/connectors/intercom/lib/help_center_permissions.ts
  front/lib/api/assistant/parse_mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

security: add SSRF guard to HTTP client MCP tool; validate opener_origin before postMessage in OAuth finalize
  front/components/pages/oauth/OAuthFinalizePage.tsx
  front/lib/api/actions/servers/http_client/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: bind Firecrawl webhook to stored crawlId; restrict picker_token workspace OAuth to managers
  connectors/src/api/webhooks/webhook_firecrawl.ts
  front-api/routes/w/[wId]/google_drive/picker_token.ts
Due: connectors-typecheck, biome, connectors-eslint

security: fix pod frame share space auth and editAndValidateAction ownership check
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit-and-validate-action.ts
  front-api/routes/w/[wId]/files/[fileId]/share/index.ts
  front/lib/api/assistant/conversation/edit_and_validate_action.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: deny-by-default in checkFileAccess; ACL check in table CSV upsert
  front-api/routes/w/[wId]/files/[fileId]/index.ts
  front/lib/api/tables.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: fix Slack bot whitelist spoofing and enforce dust_app capability on runs
  connectors/migrations/pre-deploy/20260929100000_add_slack_bot_id_to_slack_bot_whitelist.sql
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/lib/workspace_limits.ts
  connectors/src/lib/models/slack.ts
  connectors/src/resources/slack_configuration_resource.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.ts
Due: connectors-typecheck, biome, connectors-eslint

security: enforce conversation access for fileId fragments; validate remote_database_secret_id workspace ownership
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/content_fragment.ts
  front/lib/api/projects/context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: verify caller access before attaching fileId from MCP _meta; verify conversation ownership before publishing interactive content frame
  front/lib/actions/mcp_actions.test.ts
  front/lib/actions/mcp_actions.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[tooling] Make knip detect dead code across front, front-api and front-spa
  knip.ts
  package-lock.json
  package.json
Due: biome

[front] fix: align manage search table skeletons
  front/components/assistant/manager/AgentSearchTable.tsx
  front/components/skills/SkillSearchTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
