Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

fix tests
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

isDiscoverable -> isDefault
  front/lib/models/skill.ts
  front/lib/resources/skill/skill_resource.ts
  front/migrations/db/migration_534.sql
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add endpoint to upload resume
  front/lib/api/actions/servers/ashby/client.ts
  front/lib/api/actions/servers/ashby/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add helper to extract file field
  front/lib/api/actions/servers/ashby/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

upload resume in referral tool
  front/lib/api/actions/servers/ashby/metadata.ts
  front/lib/api/actions/servers/ashby/rendering.ts
  front/lib/api/actions/servers/ashby/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve typecheck
  front/lib/api/actions/servers/ashby/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/actions/servers/ashby/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/actions/servers/ashby/rendering.ts
  front/lib/api/actions/servers/ashby/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/pages/api/w/[wId]/skills/[sId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove isDefault from PATCH endpoint
  front/lib/models/skill.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mobile): dx setup
  lefthook.yml
  x/adrsimon/mobile/.swiftformat
  x/adrsimon/mobile/.swiftlint.yml
  x/adrsimon/mobile/Dust/Models/User.swift
  x/adrsimon/mobile/Dust/Services/APIClient.swift
  x/adrsimon/mobile/Dust/Services/AuthService.swift
  x/adrsimon/mobile/Dust/Services/KeychainService.swift
  x/adrsimon/mobile/Dust/ViewModels/AuthViewModel.swift
  x/adrsimon/mobile/Dust/Views/ContentView.swift
  x/adrsimon/mobile/Dust/Views/ProfileView.swift
Due: biome

feat(mobile): init
  x/adrsimon/mobile/.gitignore
  x/adrsimon/mobile/CODING_RULES.md
  x/adrsimon/mobile/Dust/App/DustMobileApp.swift
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Info.plist
  x/adrsimon/mobile/Dust/Models/User.swift
  x/adrsimon/mobile/Dust/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  x/adrsimon/mobile/Dust/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  x/adrsimon/mobile/Dust/Resources/Assets.xcassets/AppIcon.appiconset/DustLogo.png
  x/adrsimon/mobile/Dust/Resources/Assets.xcassets/Contents.json
  x/adrsimon/mobile/Dust/Services/APIClient.swift
  x/adrsimon/mobile/Dust/Services/AuthService.swift
  x/adrsimon/mobile/Dust/Services/KeychainService.swift
  x/adrsimon/mobile/Dust/ViewModels/AuthViewModel.swift
  x/adrsimon/mobile/Dust/Views/ContentView.swift
  x/adrsimon/mobile/Dust/Views/LoginView.swift
  x/adrsimon/mobile/Dust/Views/ProfileView.swift
  x/adrsimon/mobile/README.md
  x/adrsimon/mobile/project.yml
Due: biome

feat(mobile): sparkle export
  sparkle/package.json
  sparkle/scripts/generate-swift.mjs
  x/adrsimon/mobile/.swiftformat
  x/adrsimon/mobile/.swiftlint.yml
  x/adrsimon/mobile/Dust/App/DustMobileApp.swift
  x/adrsimon/mobile/Dust/Views/ContentView.swift
  x/adrsimon/mobile/Dust/Views/LoginView.swift
  x/adrsimon/mobile/Dust/Views/ProfileView.swift
  x/adrsimon/mobile/SparkleTokens/Package.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Generated/Colors.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Generated/DustLogo.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Generated/Typography.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Helpers/ColorHelpers.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Helpers/FontRegistration.swift
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Fonts/Geist-Medium.otf
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Fonts/Geist-Regular.otf
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Fonts/Geist-SemiBold.otf
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Fonts/GeistMono-Regular.otf
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogo.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogo.imageset/Dust_Logo.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoGray.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoGray.imageset/Dust_Logo_Gray.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoMono.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoMono.imageset/Dust_Logo_Mono.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoMonoWhite.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoMonoWhite.imageset/Dust_Logo_MonoWhite.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquare.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquare.imageset/Dust_LogoSquare.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareGray.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareGray.imageset/Dust_LogoSquare_Gray.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareMono.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareMono.imageset/Dust_LogoSquare_Mono.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareMonoWhite.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareMonoWhite.imageset/Dust_LogoSquare_MonoWhite.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareWhite.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoSquareWhite.imageset/Dust_LogoSquare_White.svg
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoWhite.imageset/Contents.json
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Resources/Logos.xcassets/DustLogoWhite.imageset/Dust_Logo_White.svg
  x/adrsimon/mobile/project.yml
Due: package-lock-check, biome

feat(mobile): sidebar
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/Models/Workspace.swift
  x/adrsimon/mobile/Dust/Services/APIClient.swift
  x/adrsimon/mobile/Dust/Services/AuthService.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/AsyncProfileImage.swift
  x/adrsimon/mobile/Dust/Views/ContentView.swift
  x/adrsimon/mobile/Dust/Views/DrawerView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
  x/adrsimon/mobile/Dust/Views/NavigationDrawer.swift
  x/adrsimon/mobile/Dust/Views/NewConversationView.swift
  x/adrsimon/mobile/Dust/Views/ProfileView.swift
Due: none

chore(mobile): code simplification and clean up
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/AuthRequest.swift
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Services/APIClient.swift
  x/adrsimon/mobile/Dust/Services/AuthService.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/Services/KeychainService.swift
  x/adrsimon/mobile/Dust/ViewModels/AuthViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/AsyncProfileImage.swift
  x/adrsimon/mobile/Dust/Views/Components/Avatar.swift
  x/adrsimon/mobile/Dust/Views/Components/DustMarkdown.swift
  x/adrsimon/mobile/Dust/Views/Components/MessageBubbleView.swift
  x/adrsimon/mobile/Dust/Views/ContentView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/DrawerView.swift
  x/adrsimon/mobile/Dust/Views/LoginView.swift
Due: none

feat(mobile): conversation rendering
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
  x/adrsimon/mobile/project.yml
Due: biome

feat(mobile): login page overhaul
  x/adrsimon/mobile/Dust/Views/LoginView.swift
Due: none

Add feature flag
  front/temporal/reinforced_agent/activities.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Initial Reinforced background workflow
  front/lib/api/llm/traces/types.ts
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/resources/agent_suggestion_resource.ts
  front/lib/resources/conversation_resource.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/reinforced_agent/activities.ts
  front/temporal/reinforced_agent/admin/cli.ts
  front/temporal/reinforced_agent/client.ts
  front/temporal/reinforced_agent/config.ts
  front/temporal/reinforced_agent/signals.ts
  front/temporal/reinforced_agent/worker.ts
  front/temporal/reinforced_agent/workflows.ts
  front/temporal/worker_registry.ts
  front/types/suggestions/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clean up
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/schemas.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Optimize query
  front/lib/resources/conversation_resource.ts
  front/temporal/reinforced_agent/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Factor common code
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/run_reinforced_analysis.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify + improve prompt
  front/lib/reinforced_agent/aggregate_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rework workflow structure
  front/temporal/reinforced_agent/activities.ts
  front/temporal/reinforced_agent/admin/cli.ts
  front/temporal/reinforced_agent/client.ts
  front/temporal/reinforced_agent/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify shared params
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/run_reinforced_analysis.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

No interface
  front/lib/reinforced_agent/run_reinforced_analysis.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

More code sharing
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Cleanup
  front/lib/reinforced_agent/run_reinforced_analysis.ts
  front/lib/reinforced_agent/schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "More code sharing"
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove header
  front/lib/swr/swr.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mobile): inbox
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/Views/DrawerView.swift
Due: none

[front] feat: add tools to update and list job postings in Ashby (#22714)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/ashby/client.ts
  front/lib/api/actions/servers/ashby/metadata.ts
  front/lib/api/actions/servers/ashby/rendering.ts
  front/lib/api/actions/servers/ashby/tools/index.ts
  front/lib/api/actions/servers/ashby/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Improve extended skill SB view (#22713)
  front/components/skill_builder/SkillBuilder.tsx
  front/components/skill_builder/SkillBuilderToolsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add default values
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/poke/workspaces/[wId]/skills/suggestions.ts
  front/pages/api/w/[wId]/skills/import.ts
  front/scripts/create_hard_coded_suggested_skills.ts
  front/scripts/create_meeting_prep_skill.ts
  front/tests/utils/SkillFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add data model for discovering skills (#22690)
  front/lib/models/skill.ts
  front/lib/resources/skill/skill_resource.ts
  front/migrations/db/migration_534.sql
  front/pages/api/poke/workspaces/[wId]/skills/suggestions.ts
  front/pages/api/w/[wId]/skills/import.ts
  front/pages/api/w/[wId]/skills/index.ts
  front/scripts/create_hard_coded_suggested_skills.ts
  front/scripts/create_meeting_prep_skill.ts
  front/tests/utils/SkillFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mobile): streaming v1
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Models/StreamingEvent.swift
  x/adrsimon/mobile/Dust/Services/StreamingService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/MessageBubbleView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/DrawerView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
Due: none

Include the scope in the request when refreshing tokens
  core/src/oauth/providers/mcp.rs
Due: none

Tmp
  front/lib/api/sandbox/image/dust-base.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update
  front/lib/swr/fetcher.ts
  front/lib/swr/swr.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
