Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Clean states and transitions
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/api/metronome/reconcile_credit_state.ts
  front/lib/metronome/alerts/per_user_credit_balance.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/user_credit_state_machine.test.ts
  front/lib/metronome/user_credit_state_machine.ts
  front/types/memberships.test.ts
  front/types/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Set default pool limit to 0
  front/components/workspace/usage/UsageSettingsCard.tsx
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/api/metronome/reconcile_credit_state.ts
  front/lib/api/metronome/seat_sync.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/sync_default_pool_cap_alerts.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/live_user_credit_inputs.test.ts
  front/lib/metronome/live_user_credit_inputs.ts
  front/lib/plans/plan_codes.ts
  front/types/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Show nearLimit in poke
  front/components/pages/workspace/UsagePage.tsx
  front/components/poke/credits/PokeMembersUsageTable.tsx
  front/lib/api/credits/members_usage.ts
  front/lib/api/poke/plugins/workspaces/manage_credit_usage_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clear balance threshold alert when updating
  front/lib/api/credits/balance_threshold_alert.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use stored value instead of resolving metronome alerts
  front/lib/api/metronome/process_webhook.test.ts
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix viz trusted navigation host matching
  viz/app/components/NavigationProvider.tsx
  viz/app/lib/trustedNavigationDomains.test.ts
  viz/app/lib/trustedNavigationDomains.ts
Due: biome

Fix API key message edit authorization
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix enrichment user enumeration
  front-api/routes/enrichment/company.test.ts
  front-api/routes/enrichment/company.ts
Due: biome

Fix API key message edit authorization
  front/lib/api/assistant/conversation.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Harden remote MCP metadata discovery
  front/lib/api/mcp/servers.ts
  front/lib/api/poke/mcp_diagnostics.ts
  front/lib/egress/server.ts
  front/lib/resources/remote_mcp_servers_resource.test.ts
  front/lib/resources/remote_mcp_servers_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migration
  front/migrations/post-deploy/20260617000000_migrate_low_balance_credit_states.sql
Due: none

Harden token-bearing invite and email links
  front-api/routes/email/validate-action.ts
  front-api/routes/invitations.ts
  front-api/routes/login.ts
  front-api/routes/w/[wId]/join.ts
  front-api/routes/w/[wId]/me/pending-invitations.ts
  front-api/routes/workos/[action].ts
  front/components/me/PendingInvitationsTable.tsx
  front/components/pages/email/ValidationPage.test.tsx
  front/components/pages/email/ValidationPage.tsx
  front/components/pages/onboarding/InviteChoosePage.tsx
  front/components/pages/onboarding/JoinPage.tsx
  front/lib/api/assistant/email/email_trigger.test.ts
  front/lib/api/assistant/email/email_trigger.ts
  front/lib/api/regions/lookup.ts
  front/lib/swr/workspaces.ts
  front/lib/utils/invitation_token.ts
  front/types/membership_invitation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix encrypted secret IV handling
  front/types/shared/utils/encryption.test.ts
  front/types/shared/utils/encryption.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix core API key comparison timing leak
  core/src/api_keys.rs
Due: none

fix(core): normalize curl reentrant dust URL guard
  core/src/blocks/curl.rs
Due: none

Fix spaces admin listing authorization
  front-api/routes/w/[wId]/spaces/index.test.ts
  front-api/routes/w/[wId]/spaces/index.ts
Due: biome

Fix Snowflake write operation authorization
  core/src/databases/remote_databases/snowflake/snowflake.rs
Due: none

Fix Snowflake DESCRIBE table identifier quoting
  core/src/databases/remote_databases/snowflake/snowflake.rs
Due: none

Require auth for WorkOS session revocation
  front-api/routes/workos/[action].test.ts
  front-api/routes/workos/[action].ts
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Harden Slack auto-read regex patterns
  connectors/src/connectors/slack/auto_read_channel.test.ts
  connectors/src/connectors/slack/auto_read_channel.ts
  connectors/src/types/slack.ts
Due: connectors-typecheck, biome, connectors-eslint

Harden Snowflake identifier interpolation
  connectors/src/connectors/snowflake/lib/snowflake_api.test.ts
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix OAuth access token expiry underflow
  core/src/oauth/connection.rs
Due: none

Harden enrichment company Slack notifications
  front-api/routes/enrichment/company.test.ts
  front-api/routes/enrichment/company.ts
  front/types/shared/user_operation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix last-admin role update race
  front/lib/resources/membership_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Require auth for kill switch endpoint
  front-api/routes/kill.test.ts
  front-api/routes/kill.ts
Due: biome

Standardize SSRF-safe remote MCP metadata egress
  front/lib/actions/mcp_metadata.ts
  front/lib/actions/mcp_metadata_proxy.test.ts
  front/lib/egress/server.test.ts
  front/lib/egress/server.ts
  front/lib/resources/remote_mcp_servers_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix providerWorkspaceId validation in webhook router
  firebase-functions/webhook-router/src/notion/routes.ts
  firebase-functions/webhook-router/src/notion/verification.ts
  firebase-functions/webhook-router/src/webhook-router-config.ts
Due: biome

Fix frame sharing ownership checks
  front-api/routes/w/[wId]/files/[fileId]/share/grants.test.ts
  front-api/routes/w/[wId]/files/[fileId]/share/grants.ts
  front-api/routes/w/[wId]/files/[fileId]/share/index.test.ts
  front-api/routes/w/[wId]/files/[fileId]/share/index.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Enforce SSO on workspace API auth
  front-api/middlewares/public_api_auth.ts
  front-api/middlewares/workspace_auth.test.ts
  front-api/middlewares/workspace_auth.ts
  front/lib/iam/session.ts
  front/tests/utils/WorkspaceFactory.ts
  front/tests/utils/generic_private_api_tests.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix frame OTP rate-limit enumeration
  front-api/routes/v1/public/frames/[token]/verify-email.test.ts
  front-api/routes/v1/public/frames/[token]/verify-email.ts
  front/lib/api/share/frame_sharing.test.ts
  front/lib/api/share/frame_sharing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Enforce OAuth ownership on managed data source updates
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/update.test.ts
  front-api/routes/w/[wId]/data_sources/[dsId]/managed/update.ts
Due: biome

[front] fix(usage): improve usage page descriptions and members table pagination
  front/components/workspace/usage/UsageNotificationsCard.tsx
  front/components/workspace/usage/UsageProgrammaticLimitCard.tsx
  front/components/workspace/usage/UsageSettingsCard.tsx
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): resize images via imgproxy behind a feature flag
  front/lib/api/config.ts
  front/lib/api/files/processing/images.ts
  front/lib/api/files/processing/imgproxy.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

use getPlan
  front/lib/api/metronome/seat_sync.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(voice): animate partial transcripts with AnimatedText
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/editor/extensions/VoicePartialExtension.tsx
  front/components/editor/input_bar/useCustomEditor.tsx
  front/hooks/useVoiceLiveTranscriberService.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): route credit-priced plans to EU Claude Sonnet 4.6 endpoint
  front/lib/api/llm/index.ts
  front/lib/llms/batch/index.ts
  front/lib/llms/providers/anthropic/models/claude_sonnet_four_dot_six.ts
  front/lib/llms/stream/endpoints/agent_platform_eu_claude_sonnet_four_dot_six.ts
  front/lib/llms/stream/endpoints/anthropic_global_claude_sonnet_four_dot_six.ts
  front/lib/llms/stream/index.ts
  front/lib/llms/stream/utils/is_endpoint_available.ts
  front/lib/llms/types/filter.ts
  front/lib/llms/utils/matches_where.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): rename EndpointFilter.enterprise to isEnterprise
  front/lib/api/llm/index.ts
  front/lib/llms/batch/utils/is_endpoint_available.ts
  front/lib/llms/stream/index.ts
  front/lib/llms/types/filter.ts
  front/lib/llms/utils/matches_where.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): rename EndpointFilter.creditPricing to isCreditPriced
  front/lib/api/llm/index.ts
  front/lib/llms/stream/endpoints/agent_platform_eu_claude_sonnet_four_dot_six.ts
  front/lib/llms/stream/index.ts
  front/lib/llms/types/filter.ts
  front/lib/llms/utils/matches_where.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): swap EndpointFilter/WorkspaceFilter to WorkspaceConfig/EndpointConfig
  front/lib/api/llm/index.ts
  front/lib/llms/batch/index.ts
  front/lib/llms/batch/types/configuration.ts
  front/lib/llms/batch/utils/is_endpoint_available.ts
  front/lib/llms/stream/index.ts
  front/lib/llms/stream/types/configuration.ts
  front/lib/llms/stream/utils/is_endpoint_available.ts
  front/lib/llms/types/filter.ts
  front/lib/llms/utils/matches_where.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix dust-hive connectors DB init after initdb tooling removal
  x/henry/dust-hive/src/lib/init.ts
Due: biome
