Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

fix labels
  front/components/poke/triggers/RecentWebhookRequests.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore(hard_delete): increase pending agents retention to 3 days
  front/temporal/hard_delete/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor(hard_delete): rename workflow/schedule functions to reflect broader scope
  front/temporal/hard_delete/client.ts
  front/temporal/hard_delete/utils.ts
  front/temporal/hard_delete/worker.ts
  front/temporal/hard_delete/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore(agents): auto-cleanup stale pending agent configurations
  front/temporal/hard_delete/activities.test.ts
  front/temporal/hard_delete/activities.ts
  front/temporal/hard_delete/utils.ts
  front/temporal/hard_delete/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf(hard_delete): batch-delete pending agents instead of N+1
  front/temporal/hard_delete/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor(agents): move batch delete to lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/configuration/agent.ts
  front/temporal/hard_delete/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add data source seeding for copilot knowledge testing
  front/scripts/seed/copilot/assets/data_sources.json
  front/scripts/seed/copilot/seed.ts
  front/scripts/seed/factories/index.ts
  front/scripts/seed/factories/seedDataSources.ts
  front/scripts/seed/factories/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(cli): shift+tab to auto-approve (#21806)
  cli/src/ui/commands/Chat.tsx
Due: biome

show displays labels in chrome ext when available (#21067)
  extension/ui/components/actions/mcp/details/MCPActionDetails.tsx
Due: biome

Fix workspace isolation
  front/lib/resources/key_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Avoid fetching workspaces+orgs
  front/pages/api/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front] chore(agents): auto-cleanup stale pending agent configurations (#21698)
  front/lib/api/assistant/configuration/agent.ts
  front/temporal/hard_delete/activities.test.ts
  front/temporal/hard_delete/activities.ts
  front/temporal/hard_delete/client.ts
  front/temporal/hard_delete/utils.ts
  front/temporal/hard_delete/worker.ts
  front/temporal/hard_delete/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add data source seeding for copilot knowledge testing (#21540)
  front/scripts/seed/copilot/assets/data_sources.json
  front/scripts/seed/copilot/seed.ts
  front/scripts/seed/factories/index.ts
  front/scripts/seed/factories/seedDataSources.ts
  front/scripts/seed/factories/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Avoid fetching workspaces+orgs (#21808)
  front/pages/api/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix imports
  front/components/agent_builder/triggers/WebhookRequestStatusBadge.tsx
  front/lib/resources/webhook_request_resource.ts
  front/lib/triggers/webhook.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/triggers/[tId]/webhook_requests.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: search with no specific parents Opt: light/full variant to extra_light
  front/lib/actions/mcp_internal_actions/tools/utils.test.ts
  front/lib/actions/mcp_internal_actions/tools/utils.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/agent_loop.ts
  front/lib/resources/agent_step_content_resource.ts
  front/lib/resources/agent_suggestion_resource.ts
  front/pages/api/w/[wId]/analytics/top-agents.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/delete.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: no stale landing auth context (#21792)
  front/components/home/LandingLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: search with no specific parents Opt: light/full variant to extra_light (#21809)
  front/lib/actions/mcp_internal_actions/tools/utils.test.ts
  front/lib/actions/mcp_internal_actions/tools/utils.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/agent_loop.ts
  front/lib/resources/agent_step_content_resource.ts
  front/lib/resources/agent_suggestion_resource.ts
  front/pages/api/w/[wId]/analytics/top-agents.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/delete.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: setup llm-router workspace
  llm-router/biome.json
  llm-router/package.json
  llm-router/src/index.ts
  llm-router/tsconfig.json
  package-lock.json
  package.json
Due: package-lock-check, biome

feat: draft gpt-5.2
  biome.json
  llm-router/.gitignore
  llm-router/biome.json
  llm-router/package.json
  llm-router/src/client.ts
  llm-router/src/index.ts
  llm-router/src/providers/openai/index.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  llm-router/src/providers/openai/provider.ts
  llm-router/src/providers/openai/toStream.ts
  llm-router/src/test/configurations/index.ts
  llm-router/src/test/conversations/textOnly.ts
  llm-router/src/test/index.ts
  llm-router/src/types/config.ts
  llm-router/src/types/model.ts
  llm-router/src/types/output.ts
  llm-router/src/types/payload.ts
  llm-router/src/types/utils.ts
  llm-router/tsconfig.json
  llm-router/vitest.config.ts
  package-lock.json
Due: package-lock-check, biome

wip
  x/pierre/llm-router/src/providers/openai/utils/toStream.ts
Due: biome

wip
  x/pierre/llm-router/package-lock.json
  x/pierre/llm-router/package.json
  x/pierre/llm-router/src/baseClient.ts
  x/pierre/llm-router/src/client.ts
  x/pierre/llm-router/src/providers/anthropic/client.ts
  x/pierre/llm-router/src/providers/anthropic/model.ts
  x/pierre/llm-router/src/providers/anthropic/models/claude-sonnet-4-5-20250929.ts
  x/pierre/llm-router/src/providers/anthropic/types.ts
  x/pierre/llm-router/src/providers/anthropic/utils/toInput.ts
  x/pierre/llm-router/src/providers/anthropic/utils/toStream.ts
  x/pierre/llm-router/src/providers/openai/utils/toInput.ts
  x/pierre/llm-router/src/providers/openai/utils/toStream.ts
  x/pierre/llm-router/src/types/history.ts
  x/pierre/llm-router/src/types/metadata.ts
  x/pierre/llm-router/src/types/model.ts
  x/pierre/llm-router/src/types/output.ts
  x/pierre/llm-router/src/types/provider.ts
Due: package-lock-check, biome

wip
  x/pierre/llm-router/.gitignore
  x/pierre/llm-router/.vscode/settings.json
  x/pierre/llm-router/biome.json
  x/pierre/llm-router/src/_test_/configurations/index.ts
  x/pierre/llm-router/src/_test_/conversations/textOnly.ts
  x/pierre/llm-router/src/_test_/fixtures/config.ts
  x/pierre/llm-router/src/_test_/fixtures/payload.ts
  x/pierre/llm-router/src/_test_/index.ts
  x/pierre/llm-router/src/_test_/model.test.ts
  x/pierre/llm-router/src/baseClient.ts
  x/pierre/llm-router/src/client.ts
  x/pierre/llm-router/src/index.ts
  x/pierre/llm-router/src/providers/openai/client.ts
  x/pierre/llm-router/src/providers/openai/model.ts
  x/pierre/llm-router/src/providers/openai/modelRouter.ts
  x/pierre/llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  x/pierre/llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  x/pierre/llm-router/src/providers/openai/types.ts
  x/pierre/llm-router/src/providers/openai/utils/toInput.ts
  x/pierre/llm-router/src/providers/openai/utils/toStream.ts
  x/pierre/llm-router/src/types/config.ts
  x/pierre/llm-router/src/types/history.ts
  x/pierre/llm-router/src/types/metadata.ts
  x/pierre/llm-router/src/types/output.ts
  x/pierre/llm-router/src/types/provider.ts
  x/pierre/llm-router/vitest.config.ts
Due: biome

wip
  llm-router/src/client.ts
  llm-router/src/providers/openai/client.ts
  llm-router/src/providers/openai/utils/toInput.ts
  llm-router/src/providers/openai/utils/toStream.ts
  llm-router/src/types/history.ts
Due: biome

wip
  x/pierre/llm-router/.gitignore
  x/pierre/llm-router/src/providers/openai/types.ts
  x/pierre/llm-router/src/types/metadata.ts
  x/pierre/llm-router/src/types/output.ts
Due: biome

wip
  llm-router/src/client.ts
  llm-router/src/providers/openai/client.ts
  llm-router/src/providers/openai/model.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  llm-router/src/test/index.ts
Due: biome

refactor: move folder in x
  package-lock.json
  x/pierre/llm-router/.gitignore
  x/pierre/llm-router/biome.json
  x/pierre/llm-router/bun.lock
  x/pierre/llm-router/package.json
  x/pierre/llm-router/src/_test_/configurations/index.ts
  x/pierre/llm-router/src/_test_/conversations/textOnly.ts
  x/pierre/llm-router/src/_test_/index.ts
  x/pierre/llm-router/src/client.ts
  x/pierre/llm-router/src/index.ts
  x/pierre/llm-router/src/providers/openai/client.ts
  x/pierre/llm-router/src/providers/openai/model.ts
  x/pierre/llm-router/src/providers/openai/modelRouter.ts
  x/pierre/llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  x/pierre/llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  x/pierre/llm-router/src/providers/openai/types.ts
  x/pierre/llm-router/src/providers/openai/utils/toInput.ts
  x/pierre/llm-router/src/providers/openai/utils/toStream.ts
  x/pierre/llm-router/src/types/config.ts
  x/pierre/llm-router/src/types/history.ts
  x/pierre/llm-router/src/types/model.ts
  x/pierre/llm-router/src/types/output.ts
  x/pierre/llm-router/tsconfig.json
  x/pierre/llm-router/vitest.config.ts
Due: package-lock-check, biome

wip
  llm-router/src/client.ts
  llm-router/src/index.ts
  llm-router/src/providers/openai/client.ts
  llm-router/src/providers/openai/index.ts
  llm-router/src/providers/openai/model.ts
  llm-router/src/providers/openai/modelRouter.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  llm-router/src/providers/openai/types.ts
  llm-router/src/providers/openai/utils.ts
  llm-router/src/types/config.ts
  llm-router/src/types/model.ts
  llm-router/src/types/output.ts
Due: biome

wip
  llm-router/biome.json
  llm-router/package.json
  llm-router/src/client.ts
  llm-router/src/providers/openai/index.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.test.ts
  llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
  llm-router/src/providers/openai/provider.ts
  llm-router/src/providers/openai/toStream.ts
  llm-router/src/test/configurations/index.ts
  llm-router/src/test/conversations/textOnly.ts
  llm-router/src/test/index.ts
  llm-router/src/types/config.ts
  llm-router/src/types/history.ts
  llm-router/src/types/output.ts
  llm-router/src/types/utils.ts
  package-lock.json
Due: package-lock-check, biome

claude
  x/pierre/llm-router/src/providers/anthropic/client.ts
  x/pierre/llm-router/src/providers/anthropic/models/claude-sonnet-4-5-20250929.test.ts
  x/pierre/llm-router/src/providers/anthropic/models/claude-sonnet-4-5-20250929.ts
  x/pierre/llm-router/src/providers/anthropic/types.ts
  x/pierre/llm-router/src/providers/anthropic/utils/toInput.ts
  x/pierre/llm-router/src/providers/anthropic/utils/toStream.ts
  x/pierre/llm-router/src/providers/openai/models/gpt-5.2-2025-12-11.ts
Due: biome

refine typing
  front/poke/swr/triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: Cache memberships for fromSession
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/rate_limits.ts
  front/lib/resources/membership_resource.ts
  front/lib/tracking/server.ts
  front/lib/triggers/rate_limits.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Improve MCP client reconnection
  front/lib/client/BrowserMCPTransport.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix getCompletionDuration
  front/lib/api/assistant/messages.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[MCP slack] search user optimization (#21728)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/servers/slack/helpers.ts
  front/lib/actions/mcp_internal_actions/servers/slack/search_user.test.ts
  front/lib/api/actions/servers/slack_bot/metadata.ts
  front/lib/api/actions/servers/slack_bot/tools/index.ts
  front/lib/api/actions/servers/slack_personal/metadata.ts
  front/lib/api/actions/servers/slack_personal/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

:back:
  front/lib/client/BrowserMCPTransport.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add cookie persistence for click IDs and include all click IDs in GTM events
  front/components/home/ContactForm.tsx
  front/components/home/ContactFormThankYou.tsx
  front/components/pages/onboarding/WelcomePage.tsx
  front/global.d.ts
  front/hooks/useStripUtmParams.ts
  front/lib/utils/utm.ts
  front/pages/api/contact/submit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh(triggers): allow filtering by status in poke view (#21722)
  front/components/agent_builder/triggers/WebhookRequestStatusBadge.tsx
  front/components/poke/triggers/RecentWebhookRequests.tsx
  front/lib/models/agent/triggers/webhook_request_trigger.ts
  front/lib/resources/webhook_request_resource.ts
  front/lib/triggers/webhook.ts
  front/pages/api/poke/workspaces/[wId]/triggers/[tId]/webhook_requests.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/triggers/[tId]/webhook_requests.ts
  front/poke/swr/triggers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
