Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

refactor(dfs): move the fdb client under a storage module
  dfs/server/src/lib.rs
  dfs/server/src/main.rs
  dfs/server/src/storage/fdb.rs
  dfs/server/src/storage/mod.rs
  dfs/server/tests/server.rs
Due: none

test(dfs): move the fdb tests into their own test binary
  dfs/server/tests/fdb.rs
  dfs/server/tests/server.rs
Due: none

fix(dfs): stop the fdb network before the process exits
  dfs/server/src/main.rs
  dfs/server/src/storage/fdb.rs
  dfs/server/tests/fdb.rs
Due: none

test(dfs): cover an fdb write, read-back and clear round trip
  dfs/server/tests/fdb.rs
Due: none

[front] enh: infinite scroll in discover catalog (#34736)
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/locales/en-US/components/assistant/conversation/discover/messages.po
  front/locales/fr-FR/components/assistant/conversation/discover/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: add typing animation to input bar placeholders (#34698)
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarPlusMenu.tsx
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
  front/components/editor/input_bar/useCustomEditor.test.ts
  front/components/editor/input_bar/useCustomEditor.tsx
  front/locales/en-US/components/assistant/conversation/input_bar/messages.po
  front/locales/en-US/components/editor/input_bar/messages.po
  front/locales/fr-FR/components/assistant/conversation/input_bar/messages.po
  front/locales/fr-FR/components/editor/input_bar/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Rename userMemoryPath to memoryFilePath
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/pre-deploy/20261009120000_add_memory_file_path_to_conversations.sql
  front/migrations/pre-deploy/20261009120000_add_user_memory_path_to_conversations.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: refusal reason in a tooltip and logged, comments contract scoped
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentMarkdownPreview.tsx
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Support per-message reasoning effort for Anthropic models
  front/lib/api/llm/per_message_reasoning_effort.ts
  front/lib/api/llm/transitionLLM.ts
  front/lib/model_constructors/batch/clients/anthropic.ts
  front/lib/model_constructors/providers/anthropic/reasoning_efforts.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/index.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/tool_search_passthrough.test.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/tool_search_passthrough.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/utils.ts
  front/lib/model_constructors/sdk/google_genai/converters/input/utils.ts
  front/lib/model_constructors/sdk/mistralai/converters/input/utils.ts
  front/lib/model_constructors/sdk/openai_completions/converters/input/utils.ts
  front/lib/model_constructors/sdk/openai_responses/converters/input/utils.ts
  front/lib/model_constructors/stream/clients/anthropic.ts
  front/lib/model_constructors/stream/clients/anthropic_agent_platform.ts
  front/lib/model_constructors/types/input/messages.ts
  front/types/assistant/models/anthropic.ts
  front/types/assistant/models/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: bump max steps per run from 64 to 128
  front/tests/sidekick-evals/lib/config.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: backfill users pronouns + dual write (#34738)
  front/lib/resources/user_resource.ts
  front/migrations/20261009_backfill_users_pronouns.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: drop the refusal tooltip and log
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentMarkdownPreview.tsx
  front/components/editor/document/dfm_persistence.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: read and write pronouns from the users table
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/v1/w/[wId]/swagger_schemas.ts
  front/components/agent_builder/hooks/useAgentBuilderFormHydration.test.ts
  front/components/assistant/conversation/AgentMessage.compactUIView.test.tsx
  front/components/navigation/SidebarUserMenu.test.tsx
  front/components/shared/filter_panel/searchFilter.test.ts
  front/lib/api/login.ts
  front/lib/auth.ts
  front/lib/client/wakeup_schedule.test.ts
  front/lib/resources/user_resource.ts
  front/tests/utils/LightUserFactory.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.test.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: render a document the editor cannot open (#34735)
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentMarkdownPreview.tsx
  front/components/editor/document/DocumentSourcePreview.tsx
  front/components/editor/document/README.md
  front/components/editor/document/dfm_persistence.ts
  front/lib/markdown/dfm/index.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: show a resolved image as busy until it loads
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/DocumentImage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: show images from the conversation or pod
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/Document.tsx
  front/components/editor/document/DocumentImage.ts
  front/components/editor/document/LiveDocument.tsx
  front/components/editor/document/README.md
  front/components/editor/document/dfm_persistence.test.ts
  front/components/editor/document/extensions.ts
  front/components/editor/document/liveExtensions.ts
  front/components/editor/document/types.ts
  front/components/editor/document/useDocumentEditor.ts
  front/components/file_explorer/FilePreviewContent.tsx
  front/components/file_explorer/utils.test.ts
  front/components/file_explorer/utils.ts
  front/lib/markdown/dfm/README.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: keep an image alone on its line inside its paragraph
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/content.ts
  front/components/editor/document/dfm_persistence.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: keep a pasted image's destination; show the destination without alt text
  front/components/editor/document/Document.test.tsx
  front/components/editor/document/DocumentImage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Run the test summary only on PRs labelled test-summary
  .github/workflows/test-summary.yml
Due: biome

[ci] Summarize tests per PR and require test titles to match their bodies
  .github/actions/test-summary/package.json
  .github/actions/test-summary/test-summary.test.ts
  .github/actions/test-summary/test-summary.ts
  .github/workflows/test-summary.yml
  CONTRACTS
Due: package-lock-check, biome

[ci] Test summary: parse .ts as TS, count it.each tables, keep same-titled tests, fail visibly, truncate safely
  .github/actions/test-summary/test-summary.test.ts
  .github/actions/test-summary/test-summary.ts
  .github/workflows/test-summary.yml
Due: biome

[ci] Test summary: link files, describe titles and tests separately, drop bullets
  .github/actions/test-summary/test-summary.test.ts
  .github/actions/test-summary/test-summary.ts
Due: biome

[front] enh: star favorite agents and skills in input bar pickers
  front/components/assistant/AgentPicker.test.tsx
  front/components/assistant/AgentPicker.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.test.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/components/editor/input_bar/MentionDropdown.tsx
  front/lib/api/assistant/conversation/mention_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: add memoryFilePath column to conversations (#34724)
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/pre-deploy/20261009120000_add_memory_file_path_to_conversations.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[DFS] Stop the FoundationDB network before exit and move the client to storage/ (#34730)
  dfs/server/src/lib.rs
  dfs/server/src/main.rs
  dfs/server/src/storage/fdb.rs
  dfs/server/src/storage/mod.rs
  dfs/server/tests/fdb.rs
  dfs/server/tests/server.rs
Due: none

Fix: warning on inputbar, clarify that search is expected when creating a group. (#34731)
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/components/members/MemberSelectionTable.tsx
  front/locales/en-US/components/members/messages.po
  front/locales/fr-FR/components/members/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: favorite agents and skills from the discover catalog
  front-api/routes/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/w/[wId]/skills/search.redaction.test.ts
  front-api/routes/w/[wId]/skills/search.test.ts
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverHome.tsx
  front/components/assistant/conversation/discover/catalog.ts
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/lib/api/agents/search_listing.ts
  front/lib/api/skills/search_listing.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/swr/catalog_search.test.tsx
  front/lib/swr/skill_configurations.ts
  front/types/agent_search/agent_search.ts
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Group limits: Order tab in the group dialog (#34728)
  front/components/workspace/EditGroupUsageDialog.tsx
  front/components/workspace/GroupBudgetOrderTab.tsx
  front/components/workspace/group_budget_order.test.ts
  front/components/workspace/group_budget_order.ts
  front/hooks/useSharedUsageLimitOverlaps.ts
  front/hooks/useUpdateGroupSharedUsageLimit.ts
  front/hooks/useUpdateSharedUsageLimitPriorities.ts
  front/locales/en-US/components/workspace/messages.po
  front/locales/en-US/hooks/messages.po
  front/locales/fr-FR/components/workspace/messages.po
  front/locales/fr-FR/hooks/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] polish: restore soft navigation gradient border
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Test summary: group changes under describe titles with colored markers
  .github/actions/test-summary/test-summary.test.ts
  .github/actions/test-summary/test-summary.ts
  .github/workflows/test-summary.yml
Due: biome

[front] enh: drop the check icon on the selected agent in the picker
  front/components/assistant/AgentPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: equal padding around avatars in the agent picker
  front/components/assistant/AgentPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add double-write to dfs on gcs notifications
  front/check_gcs_dfs_health.ts
  front/lib/api/config.ts
  front/package.json
  front/start_gcs_dfs_worker.ts
  front/workers/gcs_dfs/CONTRACTS
  front/workers/gcs_dfs/health.test.ts
  front/workers/gcs_dfs/health.ts
  front/workers/gcs_dfs/health_transport.test.ts
  front/workers/gcs_dfs/health_transport.ts
  front/workers/gcs_dfs/processor.ts
  front/workers/gcs_dfs/protocol.ts
  front/workers/gcs_dfs/transport.ts
  front/workers/gcs_dfs/vitest.config.mts
  front/workers/gcs_dfs/worker.test.ts
  front/workers/gcs_dfs/worker.ts
  x/jd/dfs-fdb/CONTRACTS
  x/jd/dfs-fdb/Cargo.toml
  x/jd/dfs-fdb/src/bin/dfsd-fdb.rs
  x/jd/dfs-fdb/src/engine.rs
  x/jd/dfs-fdb/src/lib.rs
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dfs: update session protocol for revocation and refresh
  dfs/design-docs/API.md
  dfs/protocol/proto/dfs.proto
  dfs/protocol/tests/protocol.rs
  dfs/server/src/api.rs
  dfs/server/tests/server.rs
Due: biome

[ci] Test summary: plain names with small line links
  .github/actions/test-summary/test-summary.test.ts
  .github/actions/test-summary/test-summary.ts
Due: biome

[front] Place the favorite toggle after the pin button in catalog rows
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: show the favorite star next to the name, drop the deselect X
  front/components/assistant/AgentPicker.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/slash_suggestion/SlashCommandDropdown.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.test.tsx
  front/components/editor/input_bar/MentionDropdown.tsx
  sparkle/src/components/Dropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: keep the favorite star next to the details button
  front/components/assistant/AgentPicker.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/slash_suggestion/SlashCommandDropdown.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.test.tsx
  front/components/editor/input_bar/MentionDropdown.tsx
  sparkle/src/components/Dropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: restore the selected check, left of the favorite star
  front/components/assistant/AgentPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Test summary: keep only tests guarding silent drift
  .github/actions/test-summary/test-summary.test.ts
Due: biome
