Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Add sourcemaps in datadog - fix
  .github/workflows/deploy-spa.yaml
Due: biome

[spa] Add sourcemaps in datadog - fix (#21361)
  .github/workflows/deploy-spa.yaml
Due: biome

feat(cli): add conversation resume command
  cli/src/index.tsx
  cli/src/ui/App.tsx
  cli/src/ui/commands/Chat.tsx
  cli/src/ui/commands/Conversations.tsx
  cli/src/ui/commands/types.ts
Due: biome

SPA - migrate join page (#21347)
  front-spa/src/app/App.tsx
  front-spa/src/app/layouts/UnauthenticatedPage.tsx
  front/components/pages/onboarding/JoinPage.tsx
  front/lib/signup.ts
  front/lib/swr/workspaces.ts
  front/pages/api/w/[wId]/join.ts
  front/pages/w/[wId]/join.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix 404 never ending loader
  front-spa/src/app/App.tsx
Due: biome

Fix 404 never ending loader (#21360)
  front-spa/src/app/App.tsx
Due: biome

feat(cli): add conversation resume command (#21336)
  cli/src/index.tsx
  cli/src/ui/App.tsx
  cli/src/ui/commands/Chat.tsx
  cli/src/ui/commands/Conversations.tsx
  cli/src/ui/commands/types.ts
Due: biome

Fix: show unread if only one message
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InboxView.tsx
  sparkle/playground/src/components/PersonAgentView.tsx
  sparkle/src/components/ConversationListItem.tsx
  sparkle/src/stories/ConversationListItem.stories.tsx
  tools/mprocs.yaml
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - feature: enhance agent configuration with new schemas and options
  front/lib/agent_yaml_converter/schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[api/w/[wId]/assistant/agent_configurations/[aId]/export/yaml] - feature: extend yaml export with skills and Slack info
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/export/yaml.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

SPA - migrate login-error page
  front-spa/src/app/App.tsx
  front/components/pages/onboarding/LoginErrorPage.tsx
  front/pages/login-error.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Projects] Fix kickoff prompt flow for project kickoff conversations (#21317)
  front/lib/api/assistant/project_kickoff.test.ts
  front/lib/api/assistant/project_kickoff.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[api/wId/assistant] - refactor: streamline YAML agent configuration handling
  front/pages/api/w/[wId]/assistant/agent_configurations/new/yaml.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/agent_yaml_converter] - refactor: streamline AgentYAMLConverter class and extend functionality
  front/lib/agent_yaml_converter/converter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

SPA - migrate login-error page (#21364)
  front-spa/src/app/App.tsx
  front/components/pages/onboarding/LoginErrorPage.tsx
  front/pages/login-error.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[COPILOT] Turn into agent call to action (#21349)
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add MCP token endpoint auth method support (#21352)
  core/src/oauth/providers/mcp.rs
  front/components/actions/mcp/MCPServerOAuthConnexion.tsx
  front/lib/api/oauth/providers/mcp.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/types/oauth/lib.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: show unread if only one message (#21362)
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InboxView.tsx
  sparkle/playground/src/components/PersonAgentView.tsx
  sparkle/src/components/ConversationListItem.tsx
  sparkle/src/stories/ConversationListItem.stories.tsx
  tools/mprocs.yaml
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Centralize UTM tracking to use sessionStorage via useStripUtmParams
  front/components/app/PostHogTracker.tsx
  front/components/app/RootLayout.tsx
  front/components/home/LandingLayout.tsx
  front/components/home/content/SqAgent/config/sqAgentConfig.tsx
  front/components/sparkle/AppRootLayout.tsx
  front/components/sparkle/OnboardingLayout.tsx
  front/hooks/useStripUtmParams.ts
  front/pages/landing/glean.tsx
  front/pages/landing/skip.tsx
  front/pages/landing/sqagent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix agent execution duration (#21341)
  front/components/assistant/conversation/actions/AgentActionsPanelSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox-benchmarks): add blaxel sandbox cold-start benchmark
  x/henry/sandbox-benchmarks/blaxel/bench_sandbox.ts
Due: biome

feat(cli): deprecate agents mcp, install dust skill
  cli/src/ui/App.tsx
  cli/src/ui/Help.tsx
  cli/src/ui/commands/AgentsMCP.tsx
  cli/src/ui/commands/SkillInit.tsx
  cli/src/utils/hooks/use_clear_terminal_on_mount.ts
  cli/src/utils/mcpServer.ts
Due: biome

[front] Centralize UTM tracking to use sessionStorage via useStripUtmParams (#21368)
  front/components/app/PostHogTracker.tsx
  front/components/app/RootLayout.tsx
  front/components/home/LandingLayout.tsx
  front/components/home/content/SqAgent/config/sqAgentConfig.tsx
  front/components/sparkle/AppRootLayout.tsx
  front/components/sparkle/OnboardingLayout.tsx
  front/hooks/useStripUtmParams.ts
  front/pages/landing/glean.tsx
  front/pages/landing/skip.tsx
  front/pages/landing/sqagent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(cli): deprecate agents mcp, install dust skill (#21370)
  cli/src/ui/App.tsx
  cli/src/ui/Help.tsx
  cli/src/ui/commands/AgentsMCP.tsx
  cli/src/ui/commands/SkillInit.tsx
  cli/src/utils/hooks/use_clear_terminal_on_mount.ts
  cli/src/utils/mcpServer.ts
Due: biome

[Dust CLI] Add --projectName and --projectId flags for conversation creation
  cli/src/index.tsx
  cli/src/ui/App.tsx
  cli/src/ui/Help.tsx
  cli/src/ui/commands/Chat.tsx
  cli/src/ui/commands/NonInteractiveChat.tsx
  cli/src/ui/commands/chat/nonInteractive.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Fix fail-fast validation for project flags
  cli/src/ui/commands/Chat.tsx
  cli/src/ui/commands/NonInteractiveChat.tsx
  cli/src/ui/commands/chat/nonInteractive.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Use isMember instead of canReadOrAdministrate for space check, fix API doc
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat(cli): clean useless files
  cli/src/ui/components/FileSelector.tsx
Due: biome

feat(cli): clean useless files (#21372)
  cli/src/ui/components/FileSelector.tsx
Due: biome

[Dust CLI] Add --projectName and --projectId flags for conversation creation (#21194)
  cli/src/index.tsx
  cli/src/ui/App.tsx
  cli/src/ui/Help.tsx
  cli/src/ui/commands/Chat.tsx
  cli/src/ui/commands/NonInteractiveChat.tsx
  cli/src/ui/commands/chat/nonInteractive.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  sdks/js/src/index.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

chore(cli): bump to 0.3.5
  cli/package.json
Due: package-lock-check, biome

[Programmatic Usage] Fix daily cap schema breaking enterprise upgrade
  front/lib/api/poke/plugins/workspaces/manage_programmatic_usage_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(cli): allow install for codex
  cli/src/ui/Help.tsx
  cli/src/ui/commands/SkillInit.tsx
Due: biome

Allow dd headers in cors
  front/config/cors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(cli): allow install for codex (#21376)
  cli/src/ui/Help.tsx
  cli/src/ui/commands/SkillInit.tsx
Due: biome

feat(sandbox-benchmarks): add e2b sandbox cold-start benchmark
  x/henry/sandbox-benchmarks/e2b/bench_sandbox.ts
  x/henry/sandbox-benchmarks/e2b/package-lock.json
  x/henry/sandbox-benchmarks/e2b/package.json
Due: package-lock-check, biome

Allow dd headers in cors (#21377)
  front/config/cors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

use unique namspace
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update cli/package.json
  cli/package.json
Due: package-lock-check, biome

[Dust CLI] Bump to 0.3.5 (#21374)
  cli/package.json
Due: package-lock-check, biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
