Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

fix(llm): disable light/medium reasoning for GLM-5.2 in static pricing config
  front/lib/api/assistant/token_pricing/static_model_reasoning_efforts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): drop light/medium tier entries for GLM-5.2
  front/lib/api/assistant/token_pricing/tiers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] chore: Add qdrant memory to peers script (#29201)
  core/bin/qdrant/qdrant_shard_rebalance_suggestions.rs
Due: none

Self-improving skills: drop the legacy tool edit type (#29185)
  front/components/skill_builder/SkillBuilderSuggestionsPanel.tsx
  front/components/skill_builder/SkillSuggestionCard.tsx
  front/lib/reinforcement/aggregate_suggestions.test.ts
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
  front/migrations/20260720_drop_skill_suggestion_tool_edits.ts
  front/scripts/seed/factories/seedSkillSuggestions.ts
  front/scripts/seed/factories/types.ts
  front/scripts/seed/reinforcement/seed.test.ts
  front/tests/reinforcement-evals/lib/assertions.ts
  front/tests/reinforcement-evals/lib/judge.ts
  front/tests/reinforcement-evals/lib/types.ts
  front/tests/reinforcement-evals/reinforcement-eval.test.ts
  front/tests/reinforcement-evals/test-suites/aggregate-suggestions.ts
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
  front/tests/utils/SkillSuggestionFactory.ts
  front/types/suggestions/skill_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

adjust spacing
  front/components/agent_builder/AgentBuilderSectionContainer.tsx
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): support drag-and-drop and paste image uploads in agent builder sidekick (#29137)
  front/components/agent_builder/AgentBuilderSidekick.tsx
  front/components/misc/DropzoneContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): redesign agent builder model selection dropdown (#29168)
  front/components/agent_builder/instructions/AdvancedSettings.tsx
  front/components/agent_builder/instructions/ModelSelectionSubmenu.tsx
  front/components/agent_builder/instructions/ReasoningEffortSubmenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): migrate GLM-5.2 agent reasoning effort from low/medium to high
  front/migrations/post-deploy/20260721104153_glm_5p2_reasoning_effort_low_medium_to_high.sql
Due: none

Fix agent reasoning effort resolution
  front/lib/api/assistant/models.test.ts
  front/lib/api/assistant/resolve_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Correct GLM-5.2 and DeepSeek V4 Pro supported reasoning efforts (#29202)
  front/lib/api/assistant/token_pricing/static_model_reasoning_efforts.ts
  front/lib/api/assistant/token_pricing/tiers.ts
  front/lib/model_constructors/providers/fireworks/models/deepseek_v4_pro.ts
  front/lib/model_constructors/providers/fireworks/models/glm_five_dot_two.ts
  front/lib/model_constructors/sdk/openai_completions/converters/input/utils.ts
  front/lib/model_constructors/test/endpoints/deepseek_deepseek_v4_pro_global_fireworks.test.ts
  front/lib/model_constructors/test/endpoints/z_ai_glm_five_dot_two_global_fireworks.test.ts
  front/migrations/post-deploy/20260721104153_glm_5p2_reasoning_effort_low_medium_to_high.sql
  front/types/assistant/models/fireworks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): rework input bar model picker with tiers
  front/components/assistant/conversation/input_bar/InputBarModelPicker.tsx
  front/components/assistant/conversation/input_bar/ModelPickerContent.tsx
  front/components/assistant/conversation/input_bar/ModelPickerList.tsx
  front/components/assistant/conversation/input_bar/ModelPickerProviderSection.tsx
  front/components/assistant/conversation/input_bar/ModelPickerSubTrigger.tsx
  front/components/assistant/conversation/input_bar/MoreModelsPanel.tsx
  front/components/assistant/conversation/input_bar/modelPickerUtils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: clarify Skill Builder editor gate naming
  front/components/skill_builder/SkillBuilder.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Log malformed JSON diagnostics
  front-api/middlewares/utils.test.ts
  front-api/middlewares/utils.ts
Due: biome

Switch to a regular_manual 'Builders' group, independent from provisioning
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/membership_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): preserve OpenAI Responses phase through the new router (#29199)
  front/lib/api/llm/transitionLLM.ts
  front/lib/model_constructors/sdk/openai_responses/converters/input/utils.test.ts
  front/lib/model_constructors/sdk/openai_responses/converters/input/utils.ts
  front/lib/model_constructors/sdk/openai_responses/converters/output/utils.ts
  front/lib/model_constructors/types/input/messages.ts
  front/lib/model_constructors/types/phases.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

model
  sparkle/playground/src/components/ModelSelectorView.tsx
  sparkle/playground/src/data/models.ts
  sparkle/playground/src/stories/ModelSelector.tsx
Due: biome

[front] Cleanup duplicate plugin (#29106)
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_programmatic_monthly_cap.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify additive Space selection
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use Space terminology in picker
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: add steveningdesign-lang to authors file
  .authors
Due: none

Apply repository formatting
  front/components/assistant/conversation/input_bar/InputBarSpacesPicker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

adjust spacing (#29206)
  front/components/agent_builder/AgentBuilderSectionContainer.tsx
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

user profile
  sparkle/playground/src/components/ModelSelectorView.tsx
  sparkle/playground/src/data/models.ts
Due: biome

default and delete agent
  front/components/assistant/conversation/input_bar/InputBarModelPicker.tsx
  front/components/assistant/conversation/input_bar/ModelPickerContent.tsx
  front/components/assistant/conversation/input_bar/ModelPickerLineItem.tsx
  front/components/assistant/conversation/input_bar/ModelPickerProviderSection.tsx
  front/components/assistant/conversation/input_bar/ModelPickerSubTrigger.tsx
  front/components/assistant/conversation/input_bar/MoreModelsPanel.tsx
  front/components/assistant/conversation/input_bar/RevertToDefaultIndicator.tsx
  front/components/assistant/conversation/input_bar/modelPickerUtils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): force DeepSeek V4 Pro reasoning effort to high
  front/lib/model_constructors/providers/fireworks/models/deepseek_v4_pro.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Add group_vaults cache write path (shadow populate, no reader)
  front/components/poke/pages/KillPage.tsx
  front/lib/poke/types.ts
  front/lib/resources/group_space_resource.test.ts
  front/lib/resources/group_space_resource.ts
  front/lib/resources/space_resource.ts
  front/lib/resources/storage/models/group_spaces.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Add group_vaults cache invalidation hooks
  front/lib/resources/group_resource.ts
  front/lib/resources/group_space_resource.test.ts
  front/lib/resources/group_space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: Read space group associations from the group_vaults cache, drop the join
  front/lib/resources/group_space_resource.test.ts
  front/lib/resources/group_space_resource.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: untrack run_agent child errors
  front/lib/api/actions/servers/run_agent/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: scaffold ServiceNow MCP server skeleton
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/bm25_tool_search_utils.test.ts
  front/lib/api/actions/servers/servicenow/helpers.ts
  front/lib/api/actions/servers/servicenow/index.ts
  front/lib/api/actions/servers/servicenow/metadata.ts
  front/lib/api/actions/servers/servicenow/tools/index.ts
  front/lib/api/marketing/integrations.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test: update MCP metadata snapshot for servicenow server
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

feat(front): default @dust agent to Auto when models_picker is enabled
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove provisioned name-squat guard (review: no 'Builders' group exists in prod)
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: avoid global space fetches in the agent loop
  front/lib/resources/data_source_view_resource.test.ts
  front/lib/resources/data_source_view_resource.ts
  front/lib/resources/mcp_server_view_resource.test.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/types.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
