Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Cleanup
  front/pages/api/poke/workspaces/[wId]/dsync.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Take overrides into account
  front/lib/api/credits/seat_plan.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Take overrides into account (#26027)
  front/lib/api/credits/seat_plan.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix front-spa not building
  front/lib/assistant.ts
  front/lib/reinforcement/models.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/workspace_check.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix user check in api/v1
  front/pages/api/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Remove free seats from enterprise
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix front-spa not building (#26030)
  front/lib/assistant.ts
  front/lib/reinforcement/models.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/workspace_check.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] extract shared rewrite policy
  cli/dust-sandbox/src/commands/forward/http_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
Due: none

[front] chore: fix call to `getNonNullableWorkspace` in poke dsync (#26029)
  front/pages/api/poke/workspaces/[wId]/dsync.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix front-api build: correct middlewares import path in members-seats
  front-api/routes/w/[wId]/credits/members-seats.ts
Due: biome

fix
  front-api/routes/w/[wId]/credits/members-seats.ts
Due: biome

format
  front-api/routes/w/[wId]/credits/members-seats.ts
Due: biome

Fixed gated payment webhook
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Remove free seats from enterprise (#26028)
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix front-api members-seats
  front-api/routes/w/[wId]/credits/members-seats.ts
Due: biome

Figma
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

currency display work
  front/components/pages/workspace/billing/BillingPage.tsx
  front/lib/metronome/amounts.test.ts
  front/lib/metronome/amounts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Billing seats overview component
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] preserve h1 rewrite policy ordering
  cli/dust-sandbox/src/commands/forward/http_rewriter.rs
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
Due: none

working
  front/components/pages/workspace/billing/BillingPage.tsx
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] Extract shared rewrite policy (#26033)
  cli/dust-sandbox/src/commands/forward/http_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
Due: none

Next batch of handlers
  front-api/routes/w/[wId]/assistant/global_agents/[aId]/index.ts
  front-api/routes/w/[wId]/assistant/global_agents/index.ts
  front-api/routes/w/[wId]/assistant/index.ts
  front-api/routes/w/[wId]/mcp/[serverId]/index.test.ts
  front-api/routes/w/[wId]/mcp/[serverId]/index.ts
  front-api/routes/w/[wId]/mcp/connections/[connectionType]/index.test.ts
  front-api/routes/w/[wId]/mcp/connections/[connectionType]/index.ts
  front-api/routes/w/[wId]/mcp/views/[viewId]/index.test.ts
  front-api/routes/w/[wId]/mcp/views/[viewId]/index.ts
  front-api/routes/w/[wId]/mcp/views/index.ts
  front-api/routes/w/[wId]/members/index.test.ts
  front-api/routes/w/[wId]/members/index.ts
  front/pages/api/w/[wId]/assistant/global_agents/[aId]/index.ts
  front/pages/api/w/[wId]/mcp/[serverId]/index.ts
  front/pages/api/w/[wId]/mcp/connections/[connectionType]/index.ts
  front/pages/api/w/[wId]/mcp/requests.ts
  front/pages/api/w/[wId]/mcp/views/[viewId]/index.ts
  front/pages/api/w/[wId]/members/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

No middleware
  front-api/routes/w/[wId]/mcp/views/[viewId]/index.ts
Due: biome

fixes
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] reorder MITM TLS handshake
  cli/dust-sandbox/src/commands/forward/mod.rs
Due: none

AssertNeverAndIgnore
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

simpler
  front/components/workspace/billing/BillingSeatsOverview.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed user block
  front/lib/metronome/user_block.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove unused metric names
  front/temporal/agent_loop/activities/instrumentation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Change the URL path of the marketing API to be under /m/api
  front/components/home/ContactForm.tsx
  front/components/home/EbookForm.tsx
  front/components/home/PartnerForm.tsx
  front/hooks/useAcademyQuiz.ts
  front/lib/swr/academy.ts
  front/next.config.js
  front/pages/academy/[slug]/chapter/[chapterSlug].tsx
  front/pages/api/marketing/academy/chat.ts
  front/pages/api/marketing/academy/progress/backfill.ts
  front/pages/api/marketing/academy/progress/courses.ts
  front/pages/api/marketing/academy/progress/index.ts
  front/pages/api/marketing/academy/progress/visit.ts
  front/pages/api/marketing/blog/preview.ts
  front/pages/api/marketing/customers/preview.ts
  front/pages/api/marketing/home/contact/submit.ts
  front/pages/api/marketing/home/ebook/download.ts
  front/pages/api/marketing/home/ebook/submit.ts
  front/pages/api/marketing/home/partner/submit.ts
  front/pages/api/marketing/website/session-status.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add separate tags for distribution
  front/temporal/agent_loop/sinks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[mertonome] Fixed gated payment webhook (#26037)
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed AWU price
  front/lib/metronome/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

:see_no_evil: <= -> <
  front/temporal/agent_loop/sinks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Billing Seats Overview Component (#26040)
  front/components/pages/workspace/billing/BillingPage.tsx
  front/components/workspace/billing/BillingSeatsOverview.tsx
  front/lib/metronome/amounts.test.ts
  front/lib/metronome/amounts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

front-api: credits invoice endpoint
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/metronome/index.ts
  front-api/routes/w/[wId]/metronome/invoice.ts
Due: biome

Migrate poke conversations routes to Hono
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/config.ts
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/index.ts
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/reinforcement_test_case.ts
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front-api/routes/poke/workspaces/[wId]/conversations/index.ts
  front-api/routes/poke/workspaces/[wId]/index.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/config.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/index.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/reinforcement_test_case.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/pages/api/poke/workspaces/[wId]/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migrate poke agent_configurations routes to Hono
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/details.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/index.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/observability/datasource-retrieval.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/observability/index.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/[aId]/restore.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/import.ts
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/poke/workspaces/[wId]/index.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/details.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/export.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/index.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/observability/datasource-retrieval.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/[aId]/restore.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/import.ts
  front/pages/api/poke/workspaces/[wId]/agent_configurations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix sandbox egress healthcheck nft fragment matching
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/healthcheck.rs
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
