Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Fix xAI cache routing and pricing boundary
  front/lib/api/assistant/token_pricing/index.test.ts
  front/lib/api/assistant/token_pricing/index.ts
  front/lib/api/llm/transitionLLM.test.ts
  front/lib/api/llm/transitionLLM.ts
  front/lib/api/llm/utils/prompt_cache_key.ts
  front/lib/model_constructors/providers/xai/models/grok_four_dot_six.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Classify Grok 4.6 reasoning tiers
  front/lib/api/assistant/token_pricing/tiers.test.ts
  front/lib/api/assistant/token_pricing/tiers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: manage agents page should display full agent name (#30454)
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix merged consumption layout regressions
  front/components/pages/workspace/AnalyticsConsumptionPage.tsx
  front/components/workspace/analytics/consumption/ConsumptionChart.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: update FeedbackSelector test after @ prefix removal
  front/components/assistant/conversation/FeedbackSelector.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: update FeedbackSelector test after @ prefix removal (#30457)
  front/components/assistant/conversation/FeedbackSelector.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Kill the sandbox command process group on timeout
  front/lib/api/sandbox/image/profile/src/tools/shell.ts
  front/lib/api/sandbox/image/profile/tests/shell.test.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/global/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix merged consumption layout regressions (#30456)
  front/components/pages/workspace/AnalyticsConsumptionPage.tsx
  front/components/workspace/analytics/consumption/ConsumptionChart.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(agents): restore the Sonnet 4.6 version history the Auto migration overwrote
  front/migrations/20260811_restore_sonnet46_medium_auto_versions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): resolve conversation scope inside the lifecycle lock (#30386)
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
  front/lib/resources/conversation_sandbox_adapter.ts
  front/lib/resources/pod_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): teach the mock redis client the distributed-lock contract
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sandbox): validate scope transitions under the lock, against lock-fetched state
  front/lib/api/projects/conversations.test.ts
  front/lib/api/projects/conversations.ts
  front/lib/resources/conversation_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): strict sandbox destroy under the lifecycle lock on conversation moves
  front/lib/api/projects/conversations.test.ts
  front/lib/api/projects/conversations.ts
  front/lib/resources/conversation_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): scope the mock-redis lock fix to the set return value only
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin governance: fix migration script
  front/migrations/20260812_backfill_skill_group_permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): lock-scoped conversation scope resolution + strict sandbox destroy on moves (#30379)
  front/lib/api/projects/conversations.test.ts
  front/lib/api/projects/conversations.ts
  front/lib/resources/conversation_sandbox_adapter.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add cohort provisioning and targeting/guidance dropdowns to Activation Management
  front/lib/api/poke/plugins/spaces/activation_management.test.ts
  front/lib/api/poke/plugins/spaces/activation_management.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Guard tool display label lookup against unknown internal MCP server names
  front/lib/actions/mcp_internal_actions/constants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin governance: shadow compare skill permissions
  front/lib/auth.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Drop activation_skill gate in ConversationViewer after merging main
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Free usage: increase sidekick messages to 200 for enterprise + improve error message to make them easier to understand
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/rate_limits.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

WIP: product page updates
  marketing/components/home/FunctionsSection.tsx
  marketing/components/home/TrustedBy.tsx
  marketing/components/home/content/Product/CapabilitySection.tsx
  marketing/components/home/content/Product/InteractiveFeaturesSection.tsx
  marketing/components/home/content/Product/ProductIntroSection.tsx
  marketing/components/home/content/Product/SecurityFeaturesSection.tsx
  marketing/pages/home/product.tsx
Due: biome

feat(marketing): rework product page hero, capabilities, and security sections
  marketing/components/UTMButton.tsx
  marketing/components/home/LandingLayout.tsx
  marketing/components/home/TrustedBy.tsx
  marketing/components/home/content/Product/CapabilitySection.tsx
  marketing/components/home/content/Product/HeroOfficeSection.tsx
  marketing/components/home/content/Product/HeroVisual.tsx
  marketing/components/home/content/Product/HomeAIOperatorsCTASection.tsx
  marketing/components/home/content/Product/HomeTeamSportSection.tsx
  marketing/components/home/content/Product/HomeTrustedSection.tsx
  marketing/components/home/content/Product/InteractiveFeaturesSection.tsx
  marketing/components/home/content/Product/ProductIntroSection.tsx
  marketing/components/home/content/Product/SecurityFeaturesSection.tsx
  marketing/package.json
  marketing/pages/home/product.tsx
  marketing/public/static/landing/product/Container.svg
  marketing/public/static/landing/product/Pods.svg
  marketing/public/static/landing/product/Product screen 1.svg
  marketing/public/static/landing/product/Self-improving Skills.mp4
  marketing/public/static/landing/product/ai-system-mockup.png
  marketing/public/static/landing/product/ai-system-panel-pattern.png
  marketing/public/static/landing/product/ai-system-panel-texture.png
  marketing/public/static/landing/product/data.svg
  marketing/public/static/landing/product/dust-wave-animation.json
  marketing/public/static/landing/product/govern-ai-usage.svg
  marketing/public/static/landing/product/member.svg
  marketing/public/static/landing/product/model.svg
  marketing/public/static/landing/product/models.svg
  marketing/styles/global.css
  package-lock.json
Due: package-lock-check, biome

fix(marketing): remove double horizontal padding on product hero panel
  marketing/components/home/content/Product/CapabilitySection.tsx
Due: biome

feat(marketing): update product page hero CTAs, feature links, and assets
  marketing/components/home/content/Product/CapabilitySection.tsx
  marketing/components/home/content/Product/InteractiveFeaturesSection.tsx
  marketing/components/home/content/Product/ProductIntroSection.tsx
  marketing/public/static/landing/product/PODS_Website-asset 1.mp4
  marketing/public/static/landing/product/Self-improving Skills.mp4
  marketing/public/static/landing/product/data.svg
  marketing/public/static/landing/product/model.svg
  marketing/public/static/landing/product/models.svg
Due: biome

chore: add steveningdesign-lang to authors file
  .authors
Due: none

docs: remove UTM tracking parameters from link
  README.md
Due: biome

[front] Activation Get Started: UX fixes, feature-flag cleanup, and pod gating (#30446)
  front/components/assistant/conversation/ConversationTitle.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/pages/workspace/GetStartedPage/index.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/activation/orchestrator.ts
  front/lib/api/poke/plugins/spaces/activation_management.test.ts
  front/lib/api/poke/plugins/spaces/activation_management.ts
  front/lib/resources/skill/code_defined/global/activation.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Kill the sandbox command process group on timeout (#30455)
  front/lib/api/sandbox/image/profile/src/tools/shell.ts
  front/lib/api/sandbox/image/profile/tests/shell.test.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/global/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add Pod frame tab repair script
  front/scripts/repair_pod_frame_tabs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): backfill script for the workspace egress policy relayout
  front/migrations/20260812_backfill_workspace_egress_policy_layout.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skipThreadReplies column to slack_channels table
  connectors/migrations/pre-deploy/20260811142504_add_skip_thread_replies_to_slack_channels.sql
  connectors/src/lib/models/slack.ts
Due: connectors-typecheck, biome, connectors-eslint

Rename column to autoRespondWithoutMentionSkipThreadReplies
  connectors/migrations/pre-deploy/20260811142504_add_skip_thread_replies_to_slack_channels.sql
  connectors/src/lib/models/slack.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix unconsumed tool result attribution
  front/lib/api/assistant/agent_message_consumption_attribution/store.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/store.ts
  front/lib/models/agent/agent_message_consumption_item.ts
  front/lib/resources/agent_message_consumption_item_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skipThreadReplies column to slack_channels (#30385)
  connectors/migrations/pre-deploy/20260811142504_add_skip_thread_replies_to_slack_channels.sql
  connectors/src/lib/models/slack.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix historical consumption attribution retries
  front/lib/api/assistant/agent_message_consumption_attribution/tool_footprint.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/tool_footprint.ts
  front/temporal/analytics_queue/activities/consumption_attribution.test.ts
  front/temporal/analytics_queue/activities/consumption_attribution.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Activation] Slack auto-responder skip thread replies option
  connectors/src/api/slack_channels_linked_with_agent.ts
  connectors/src/api/webhooks/webhook_slack_bot.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/linked_slack_channels.ts
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
  front/components/agent_builder/submitAgentBuilderForm.ts
  front/types/api/assistant/builder/slack/channels_linked_with_agent.ts
  front/types/connectors/connectors_api.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[Activation] Use conditional rendering for sub-toggle (no indent/opacity)
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Activation] Fix sub-toggle UX in Slack settings sheet
  front/components/agent_builder/settings/SlackSettingsSheet.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
