Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

feat(sandbox): implement list-servers, list-tools, exec commands
  cli/dust-sandbox/src/commands/exec.rs
  cli/dust-sandbox/src/commands/list_servers.rs
  cli/dust-sandbox/src/commands/list_tools.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
Due: none

[Snowflake MCP] add user_email to Snowflake MCP query tags (#22521)
  front/lib/api/actions/servers/snowflake/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

type instead of interface
  front/pages/api/w/[wId]/files/index.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use a static first message in copilot new agent scenario
  front/components/agent_builder/CopilotPanelContext.tsx
  front/hooks/useCopilotFirstMessage.ts
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/lib/api/llm/clients/noop/index.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

formatting
  front/lib/api/llm/clients/noop/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add `source` metadata on skills (backend-only) (#22512)
  front/lib/models/skill.ts
  front/lib/resources/skill/skill_resource.ts
  front/migrations/db/migration_529.sql
  front/migrations/db/migration_530.sql
  front/pages/api/w/[wId]/files/index.ts
  front/pages/api/w/[wId]/skills/index.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: include current user identity in conversation title prompt [#6863]
  front/lib/api/assistant/conversation/title.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/models/agent/actions] - feature: extend ConversationMCPServerViewModel with source and agent configuration
  front/lib/models/agent/actions/conversation_mcp_server_view.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - feature: enhance ConversationMCPServerViewType with new origin types
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/resources] - feature: extend fetchMCPServerViews to filter by agentConfigurationId
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/assistant] - feature: support agent-based configuration for conversation tools
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front/lib/api/assistant] - feature: support agent-specific MCP server configurations in JIT actions
  front/lib/api/assistant/jit/conversation.ts
  front/lib/api/assistant/jit_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add template backfill script
  front/components/pages/builder/agents/CreateAgentPage.tsx
  front/lib/resources/template_resource.ts
  front/scripts/migrate_copilot_templates_from_csv.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/models/agent/actions] - feature: improve index creation for conversation MCP server views
  front/lib/models/agent/actions/conversation_mcp_server_view.ts
  front/migrations/db/migration_528.sql
  front/migrations/db/migration_531.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[servers/toolsets] - feature: support agent config id in tool addition
  front/lib/api/actions/servers/toolsets/tools/index.ts
  sdks/js/src/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/models/agent/actions] - refactor: shorten index names for conversation MCP server views
  front/lib/models/agent/actions/conversation_mcp_server_view.ts
  front/migrations/db/migration_531.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: exclude test conversations from butler analysis [#6929]
  front/temporal/butler/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/lib/api/llm/clients/noop/index.ts
  front/lib/api/llm/index.ts
  front/lib/api/llm/types/options.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move pause logic outside of workflow
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/temporal/activities.ts
  connectors/src/connectors/gong/temporal/workflows.ts
Due: connectors-typecheck, biome, connectors-eslint

Allow to delete the last_admin via workos event
  front/lib/resources/membership_resource.ts
  front/pages/api/stripe/webhook.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/pages/api/w/[wId]/files/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed theme
  extension/platforms/chrome/main.tsx
  extension/platforms/front/context/FrontPlatformProvider.tsx
  extension/shared/services/platform.ts
  extension/ui/components/auth/ProtectedRoute.tsx
  extension/ui/components/navigation/UserDropdownMenu.tsx
  extension/ui/hooks/useTheme.ts
  extension/ui/pages/LoginPage.tsx
Due: biome

[extension] Fixed theme (#22526)
  extension/platforms/chrome/main.tsx
  extension/platforms/front/context/FrontPlatformProvider.tsx
  extension/shared/services/platform.ts
  extension/ui/components/auth/ProtectedRoute.tsx
  extension/ui/components/navigation/UserDropdownMenu.tsx
  extension/ui/hooks/useTheme.ts
  extension/ui/pages/LoginPage.tsx
Due: biome

review feedback
  front/components/poke/pages/CacheLookupPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow to delete the last_admin via workos event (#22531)
  front/lib/resources/membership_resource.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/w/[wId]/files/index.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Hubspot: list_owners and search_owners return text instead of JSON
  front/lib/api/actions/servers/hubspot/rendering.ts
  front/lib/api/actions/servers/hubspot/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clear applied suggestions on editor register
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clear applied suggestions on editor register (#22489)
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address auto-comments
  front/lib/resources/template_resource.ts
  front/scripts/migrate_copilot_templates_from_csv.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Upgrade vite and esbuild, hoist dependencies
  connectors/package.json
  front-spa/package.json
  front/package.json
  package-lock.json
  package.json
  sdks/js/package.json
  sparkle/package.json
Due: package-lock-check, biome

Replaced links
  front/lib/actions/mcp_oauth_provider.ts
  front/lib/api/actions/servers/agent_management/tools/index.ts
  front/lib/api/assistant/email/email_reply.ts
  front/lib/api/assistant/email/email_trigger.ts
  front/lib/api/config.ts
  front/lib/api/enterprise_connection.ts
  front/lib/connectors.test.ts
  front/lib/connectors.ts
  front/lib/notifications/email-templates/_layout.tsx
  front/lib/notifications/email-templates/agent-message-feedback-digest.tsx
  front/lib/notifications/email-templates/conversation-added-as-participant.tsx
  front/lib/notifications/workflows/project-added-as-member.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/file_resource.ts
  front/lib/signup.ts
  front/migrations/20250626_move_process_actions_to_mcp.ts
  front/pages/api/academy/chat.ts
  front/pages/api/poke/workspaces/[wId]/workspace-info.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.test.ts
  front/pages/api/w/[wId]/join.ts
  front/pages/api/w/[wId]/webhook_sources/index.ts
  front/pages/api/workos/[action].ts
  front/temporal/relocation/activities/destination_region/core/documents.ts
  front/temporal/relocation/activities/destination_region/core/folders.ts
  front/temporal/relocation/activities/destination_region/core/tables.ts
  front/temporal/relocation/activities/source_region/core/documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Rename vars
  front/temporal/relocation/activities/destination_region/core/documents.ts
  front/temporal/relocation/activities/destination_region/core/folders.ts
  front/temporal/relocation/activities/destination_region/core/tables.ts
  front/temporal/relocation/activities/source_region/core/documents.ts
  front/temporal/relocation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test
  front/pages/api/v1/w/[wId]/files/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Adding this stuff in
  front/AGENTS.md
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseCTA.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseComparisonTable.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/pages/landing/chatgpt-enterprise.tsx
  front/public/static/landing/chatgpt-enterprise/customer_logos.png
  front/public/static/landing/chatgpt-enterprise/daniel.png
  front/public/static/landing/chatgpt-enterprise/dust_logo.svg
  front/public/static/landing/chatgpt-enterprise/everett.png
  front/public/static/landing/chatgpt-enterprise/martin.png
  front/runbooks/LANDING_PAGE.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adding in mobile fixes to clean up padding spaces, and other things
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseComparisonTable.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/pages/landing/chatgpt-enterprise.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow sidekick to suggest non-search knowledge methods
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/actions/servers/agent_copilot_context/metadata.ts
  front/lib/api/actions/servers/agent_copilot_context/tools/index.ts
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/types/suggestions/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clean up padding, remove unused imports, fix biome formatting
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseCTA.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseHeroSection.tsx
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseWhatSection.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
  front/pages/landing/chatgpt-enterprise.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use next/image with unoptimized prop instead of <img> tags
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseLogoBar.tsx
  front/runbooks/LANDING_PAGE.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle duplicate agent use case
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/CopilotPanelContext.tsx
  front/hooks/useCopilotFirstMessage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
