Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[x] co-edition: live session design (#34301)
  x/daph/co-edition/LIVE_SESSION.md
  x/daph/co-edition/README.md
  x/daph/co-edition/WORK.md
Due: biome

feat(agents): add dust-mistral-large-none and -high global agents
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/assistant/global_agents/prompt_context.ts
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

change to ask owner (#34274)
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: the document model runs without a DOM (#34280)
  front/components/editor/document/CONTRACTS
  front/components/editor/document/dfm_persistence.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Inline the Windows time zone comment and drop the contracts
  front/lib/api/actions/servers/outlook/rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: allow Snowflake Cortex agent server usage grant
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] Group limits: show each group's limit usage on the Groups tab
  front-api/routes/w/[wId]/credits/groups-usage.test.ts
  front-api/routes/w/[wId]/credits/groups-usage.ts
  front-api/routes/w/[wId]/credits/index.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/GroupLimitUsageCell.tsx
  front/components/workspace/GroupsUsageTable.tsx
  front/lib/api/groups/group_limit.test.ts
  front/lib/api/groups/group_limit.ts
  front/lib/swr/groups.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
  front/types/api/groups/group_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Add Mistral Large 4 (Preview) (#34295)
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/assistant/global_agents/prompt_context.ts
  front/lib/api/assistant/token_pricing/eu.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/lib/llms/providers/mistral/models/mistral_large_4.ts
  front/lib/llms/stream/endpoints/mistral_mistral_large_4_eu_mistral.ts
  front/lib/llms/stream/endpoints/mistral_mistral_large_4_global_mistral.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/mistral/models/mistral_large_4.ts
  front/lib/model_constructors/stream/clients/mistral.test.ts
  front/lib/model_constructors/stream/clients/mistral.ts
  front/lib/model_constructors/stream/endpoints/mistral_mistral_large_4_eu_mistral.ts
  front/lib/model_constructors/stream/endpoints/mistral_mistral_large_4_global_mistral.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/mistral_mistral_large_4_eu_mistral.test.ts
  front/lib/model_constructors/test/endpoints/mistral_mistral_large_4_global_mistral.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/assistant.ts
  front/types/assistant/models/mistral.ts
  front/types/assistant/models/model_tiers.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/static_model_reasoning_efforts.ts
  front/types/assistant/models/used_model_configs.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: convert DFM files to and from a Yjs document
  front/components/editor/document/content.ts
  front/lib/api/co_edition/ydoc.test.ts
  front/lib/api/co_edition/ydoc.ts
  front/package.json
  oxlint-plugins/dust.mjs
  oxlint-plugins/dust.test.mjs
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: address review findings on the add_comment tool
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/editor/document/README.md
  front/lib/actions/file_writing_tools.ts
  front/lib/api/actions/servers/documents/metadata.ts
  front/lib/api/assistant/jit/documents.ts
  front/lib/api/assistant/jit/files.ts
  front/lib/api/assistant/jit/utils.ts
  front/lib/api/files/dfm_agent_comments.test.ts
  front/lib/api/files/dfm_agent_comments.ts
  front/lib/api/files/dfm_comment_signatures.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove legacy agent listing fallback from mention suggestions
  front-api/routes/w/[wId]/assistant/mentions/index.test.ts
  front/lib/api/assistant/conversation/mention_suggestions.ts
  front/lib/mentions/editor/suggestion.test.ts
  front/lib/mentions/editor/suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] add Superhuman Docs (Coda) remote MCP server (#34276)
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  front/lib/api/marketing/integrations.ts
  front/types/resources_icon_names.ts
  marketing/components/resources/resources_icon_names.ts
  marketing/components/resources/resources_icons.tsx
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
  sparkle/src/logo/platforms/Superhuman.tsx
  sparkle/src/logo/platforms/index.ts
  sparkle/src/logo/platforms/registry.ts
  sparkle/src/logo/src/platforms/Superhuman.svg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: save a comment added around an existing one
  front/components/editor/document/content.ts
  front/components/editor/document/dfm_persistence.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: name the documents JIT server like the others
  front/lib/api/assistant/jit_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  sparkle/src/lib/i18n/SparkleI18nProvider.tsx
Due: biome

fix: recheck file access when reading file from shared frame (#34293)
  front/lib/api/viz/authorized_file_access.test.ts
  front/lib/api/viz/authorized_file_access.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: allow Snowflake Cortex agent server usage grant (#34304)
  connectors/src/connectors/snowflake/lib/snowflake_api.ts
Due: connectors-typecheck, biome, connectors-eslint

dfs v4: refresh dirty overlays without forcing publication
  x/spolu/dfs/v4/CONTRACTS
  x/spolu/dfs/v4/DESIGN.md
  x/spolu/dfs/v4/PLAN.md
  x/spolu/dfs/v4/client/src/cache/mod.rs
  x/spolu/dfs/v4/client/src/cache/writeback.rs
  x/spolu/dfs/v4/client/src/cache/writeback/refresh.rs
  x/spolu/dfs/v4/server/src/api.rs
  x/spolu/dfs/v4/server/src/lib.rs
  x/spolu/dfs/v4/server/src/tests.rs
  x/spolu/dfs/v4/server/src/tests/client_refresh.rs
Due: biome

[front] documents: the JIT view outlives a disabled co_edition flag
  front/lib/api/assistant/jit/documents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editor: walk sorted comment marks by index
  front/components/editor/document/content.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dfs v4: record overlay refresh untar results
  x/spolu/dfs/v4/PLAN.md
  x/spolu/dfs/v4/bench/RESULTS.md
Due: biome

[front] editor: save a comment added around an existing one (#34307)
  front/components/editor/document/content.ts
  front/components/editor/document/dfm_persistence.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[core] Always quote Snowflake identifiers in DESCRIBE TABLE
  core/src/databases/remote_databases/snowflake/snowflake.rs
Due: none

[front] Group limits: move useGroupsUsage to front/hooks
  front/components/workspace/GroupsUsageTable.tsx
  front/hooks/useGroupsUsage.ts
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Group limits: show a loading state in the group limit column
  front/components/workspace/GroupsUsageTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Group limits: read groups usage with a single analytics query
  front/lib/api/groups/group_limit.test.ts
  front/lib/api/groups/group_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: reject blank add_comment comments at the schema
  front/lib/api/actions/servers/documents/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: retrieve share links of legacy Frames with dsbx frame share-link
  front/lib/api/frames/share_link_from_source.test.ts
  front/lib/api/frames/share_link_from_source.ts
  front/lib/resources/skill/code_defined/global/frames_v2.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] documents: add_comment tool for agents to post signed DFM comments (#34215)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/editor/document/README.md
  front/lib/actions/file_writing_tools.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/actions/servers/documents/index.ts
  front/lib/api/actions/servers/documents/metadata.ts
  front/lib/api/actions/servers/documents/tools/index.ts
  front/lib/api/assistant/jit/documents.ts
  front/lib/api/assistant/jit/utils.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/api/files/dfm_agent_comments.test.ts
  front/lib/api/files/dfm_agent_comments.ts
  front/lib/api/files/dfm_comment_signatures.ts
  front/lib/markdown/dfm/README.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: dev scripts to setup github for datasource connexion.
  dev/scripts/common.sh
  dev/scripts/env.sh
Due: none

dfs v4: share one memory budget for clean cache and writes
  x/spolu/dfs/v4/CONTRACTS
  x/spolu/dfs/v4/DESIGN.md
  x/spolu/dfs/v4/PLAN.md
  x/spolu/dfs/v4/README.md
  x/spolu/dfs/v4/bench/run.py
  x/spolu/dfs/v4/client/src/cache/memory.rs
  x/spolu/dfs/v4/client/src/cache/mod.rs
  x/spolu/dfs/v4/client/src/cache/writeback.rs
  x/spolu/dfs/v4/server/src/tests.rs
Due: biome

[front] fix(i18n): translate the remaining seat and currency labels in workspace
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/components/workspace/BuyCreditDialog.tsx
  front/components/workspace/ChangeSeatModal.tsx
  front/components/workspace/GroupSeatPickerDropdown.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/ProgrammaticCostChart.tsx
  front/components/workspace/SeatCard.tsx
  front/components/workspace/UpgradeRequests.tsx
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/analytics/automations/SlackWorkflowsTab.tsx
  front/components/workspace/analytics/consumption/consumptionDimensions.ts
  front/components/workspace/api-keys/APIKeysTable.tsx
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dfs v4: record shared-budget untar and throughput plan
  x/spolu/dfs/v4/PLAN.md
  x/spolu/dfs/v4/bench/RESULTS.md
Due: biome

[front] Group limits: test groups usage at the endpoint level
  front-api/routes/w/[wId]/credits/groups-usage.test.ts
  front/lib/api/groups/group_limit.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

docs(i18n): add wake-up to the fr-FR glossary
  .claude/skills/dust-translate/references/fr-FR.md
Due: biome

dfs v4: measure transaction scheduling and topology throughput
  x/spolu/dfs/v4/bench/groups.py
  x/spolu/dfs/v4/client/src/cache/writeback.rs
  x/spolu/dfs/v4/server/examples/groups.rs
  x/spolu/dfs/v4/server/src/api.rs
  x/spolu/dfs/v4/server/src/profile.rs
  x/spolu/dfs/v4/server/src/storage.rs
Due: none

[front] fix(i18n): translate the remaining seat and currency labels in workspace (#34324)
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/components/workspace/BuyCreditDialog.tsx
  front/components/workspace/ChangeSeatModal.tsx
  front/components/workspace/GroupSeatPickerDropdown.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/ProgrammaticCostChart.tsx
  front/components/workspace/SeatCard.tsx
  front/components/workspace/UpgradeRequests.tsx
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/analytics/automations/SlackWorkflowsTab.tsx
  front/components/workspace/analytics/consumption/consumptionDimensions.ts
  front/components/workspace/api-keys/APIKeysTable.tsx
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(i18n): translate the agent builder
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderLeftPanel.tsx
  front/components/agent_builder/AgentBuilderPreview.tsx
  front/components/agent_builder/AgentBuilderRightPanel.tsx
  front/components/agent_builder/AgentBuilderSidekick.tsx
  front/components/agent_builder/AgentBuilderSimilarAgentsSection.tsx
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
  front/components/agent_builder/AgentCreatedDialog.tsx
  front/components/agent_builder/DataSourceViewsContext.tsx
  front/components/agent_builder/FeedbacksSection.tsx
  front/components/agent_builder/PersonalConnectionRequiredDialog.tsx
  front/components/agent_builder/SidekickPanelContext.tsx
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/hooks/useAgentPreview.ts
  front/components/agent_builder/skills/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/types.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: convert DFM files to and from a Yjs document (#34306)
  front/components/editor/document/content.ts
  front/lib/api/co_edition/ydoc.test.ts
  front/lib/api/co_edition/ydoc.ts
  front/package.json
  oxlint-plugins/dust.mjs
  oxlint-plugins/dust.test.mjs
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(i18n): translate the agent builder (#34319)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderLeftPanel.tsx
  front/components/agent_builder/AgentBuilderPreview.tsx
  front/components/agent_builder/AgentBuilderRightPanel.tsx
  front/components/agent_builder/AgentBuilderSidekick.tsx
  front/components/agent_builder/AgentBuilderSimilarAgentsSection.tsx
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
  front/components/agent_builder/AgentCreatedDialog.tsx
  front/components/agent_builder/DataSourceViewsContext.tsx
  front/components/agent_builder/FeedbacksSection.tsx
  front/components/agent_builder/PersonalConnectionRequiredDialog.tsx
  front/components/agent_builder/SidekickPanelContext.tsx
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/capabilities/knowledge/KnowledgeConfigurationSheet.tsx
  front/components/agent_builder/hooks/useAgentPreview.ts
  front/components/agent_builder/skills/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/types.ts
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
