Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] fix: guard extractDataSourceIds against external MCP table shapes
  front/temporal/agent_loop/activities/run_tool.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix AWU pool balance accuracy and clean up credit unit representation
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
  front/lib/api/credits/awu_pool_summary.ts
  front/lib/metronome/client.ts
  front/lib/plans/stripe.ts
  front/lib/swr/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: use isString type guard in extractDataSourceIds (BACK8)
  front/temporal/agent_loop/activities/run_tool.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add support for the public spaces API in Hono
  front-api/app.ts
  front-api/middleware/public_api_auth.ts
  front-api/package.json
  front-api/routes/v1/w/index.ts
  front-api/routes/v1/w/spaces.ts
  front-api/tsconfig.json
Due: package-lock-check, biome

[front] enh: Support PDF/PPTX/DOCX in Google Drive get_file_content
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/google_drive/tools/index.test.ts
  front/lib/api/actions/servers/google_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Do not alert on recoverable run_agent child failures
  front/lib/api/actions/servers/run_agent/index.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Include stream child failures in run_agent alert suppression
  front/lib/api/actions/servers/run_agent/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Context pruning: Interaction split in between successive usersSS
  front/lib/api/assistant/conversation/interactions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

TODO
  front/lib/api/assistant/conversation/interactions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "tolerate syntax errors when extracting frame file refs (#25536)"
  .github/workflows/build-viz.yml
  viz/app/lib/parseFileRefs.test.ts
  viz/app/lib/parseFileRefs.ts
  viz/package.json
  viz/vitest.config.ts
Due: package-lock-check, biome

tests
  front/lib/api/assistant/conversation/interactions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "Use new NEXT_PUBLIC_ vars and remove old one (#25572)"
  .github/configs/europe-west1/.env.edge
  .github/configs/europe-west1/.env.prod
  .github/configs/us-central1/.env.edge
  .github/configs/us-central1/.env.prod
  connectors/src/lib/api/config.ts
  dockerfiles/front.Dockerfile
  extension/platforms/chrome/webpack.config.ts
  extension/platforms/firefox/webpack.config.ts
  extension/platforms/front/webpack.config.ts
  front/lib/api/config.ts
  front/next-sitemap.config.js
  front/pages/_app.tsx
  front/pages/_document.tsx
  front/vite.globalSetup.ts
  x/henry/dust-hive/src/lib/envgen.ts
  x/henry/dust-hive/tests/lib/envgen.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Fix shared frame SPA API URL
  front-spa/package.json
  front-spa/vite.config.ts
  front/global.d.ts
  front/lib/auth/RegionContext.tsx
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix extension env type declaration
  extension/global.d.ts
Due: biome

[SPA] Fix shared frame API URL (#25600)
  extension/global.d.ts
  front-spa/package.json
  front-spa/vite.config.ts
  front/global.d.ts
  front/lib/auth/RegionContext.tsx
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add support for the public spaces API in Hono (#25594)
  front-api/app.ts
  front-api/middleware/public_api_auth.ts
  front-api/package.json
  front-api/routes/v1/w/index.ts
  front-api/routes/v1/w/spaces.ts
  front-api/tsconfig.json
Due: package-lock-check, biome

Remove NextApiRequest references from Hono middleware
  front-api/middleware/public_api_auth.ts
  front-api/middleware/workspace_auth.ts
  front/lib/api/auth_wrappers.ts
  front/lib/auth.ts
  front/logger/withlogging.ts
  front/pages/api/lookup/[resource]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

better
  front/lib/api/assistant/conversation/interactions.test.ts
  front/lib/api/assistant/conversation/interactions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bumping claude Opus/Sonnet 4.6/4.7 context size to 400k
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[migration] Add BACK17 coding rule and DangerJS check for Next→Hono handler sync
  .github/workflows/run-dangerjs.yml
  front/CODING_RULES.md
  front/dangerfile.ts
  front/pages/api/healthz.ts
  front/pages/api/w/[wId]/spaces/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(audit-logs): add audit logs UI toggle and disable_audit_logs_ui feature flag
  front/admin/audit_log_schemas/workspace.audit_logs_ui_updated.json
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/settings/AuditLogsUiToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/hooks/useAuditLogsUiToggle.ts
  front/lib/api/audit/workos_audit.ts
  front/lib/api/workspace.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/api/w/[wId]/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(audit-logs): make metadata.disableAuditLogs the single kill switch
  front/admin/audit_log_schemas/workspace.audit_logs_ui_updated.json
  front/admin/audit_log_schemas/workspace.audit_logs_updated.json
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/hooks/useAuditLogsToggle.ts
  front/lib/api/audit/workos_audit.test.ts
  front/lib/api/audit/workos_audit.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_audit_logs_kill_switch.ts
  front/lib/api/workspace.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/api/w/[wId]/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Address review on Google Drive binary file extraction
  front/lib/api/actions/servers/google_drive/tools/index.test.ts
  front/lib/api/actions/servers/google_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: public endpoint to sync project files.
  front/lib/api/files/gcs_mount/files.test.ts
  front/lib/api/files/gcs_mount/files.ts
  front/lib/file_storage/index.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_files/index.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_files/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Inline updateMemberSeatType wrapper into seat-type endpoint
  front/lib/api/membership.ts
  front/pages/api/w/[wId]/members/[userId]/seat-type.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(audit-logs): add audit logs UI toggle to kill switch logs for a workspace (#25518)
  front/admin/audit_log_schemas/workspace.audit_logs_updated.json
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/hooks/useAuditLogsToggle.ts
  front/lib/api/audit/workos_audit.test.ts
  front/lib/api/audit/workos_audit.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_audit_logs_kill_switch.ts
  front/lib/api/workspace.ts
  front/pages/api/w/[wId]/index.test.ts
  front/pages/api/w/[wId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add PATCH endpoint to change member seat type (#25586)
  front/pages/api/w/[wId]/members/[userId]/seat-type.test.ts
  front/pages/api/w/[wId]/members/[userId]/seat-type.ts
  front/tests/utils/WorkspaceFactory.ts
  front/tests/utils/generic_private_api_tests.ts
  front/types/error.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Wire ChangeSeatModal into UsagePage members table
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/ChangeSeatModal.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/swr/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Change seat type API path
  front/pages/api/w/[wId]/members/[uId]/seat-type.test.ts
  front/pages/api/w/[wId]/members/[uId]/seat-type.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Change seat type API path (#25607)
  front/pages/api/w/[wId]/members/[uId]/seat-type.test.ts
  front/pages/api/w/[wId]/members/[uId]/seat-type.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Run Agent] Do not page on recoverable child agent failures (#25597)
  front/lib/api/actions/servers/run_agent/index.ts
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rate limit Slack bot webhook storms
  connectors/src/api/webhooks/slack/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

Format Slack bot rate limit logs
  connectors/src/api/webhooks/slack/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

Use atomic Slack bot webhook throttling
  connectors/src/api/webhooks/slack/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
