Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Avoid unwrap in sqlite worker test
  core/bin/sqlite_worker.rs
Due: none

Fix sqlite worker rollout fallback routes
  core/bin/sqlite_worker.rs
  core/src/sqlite_workers/client.rs
Due: none

[LLM] Strip version from Vertex model id for token counting (#25679)
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/types.ts
  front/lib/api/llm/clients/anthropic/utils/vertex.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Copy handler as is to lib/api
  front/lib/api/credits/purchase.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refactor busness logic out of the credits/purchase.ts handler
  front/CODING_RULES.md
  front/lib/api/credits/purchase.ts
  front/pages/api/w/[wId]/credits/purchase.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: attach knowledge projects
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/spaces/SpaceManagedDatasourcesViewsModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: simplify
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: call endpoint only once
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/projects/context.test.ts
  front/lib/api/projects/context.ts
  front/lib/swr/projects.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/content_nodes/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: sandbox record baseImage + version on creation (#25587)
  front/lib/api/sandbox/access_tokens.test.ts
  front/lib/resources/sandbox_resource.test.ts
  front/lib/resources/sandbox_resource.ts
  front/lib/resources/storage/models/sandbox.ts
  front/migrations/db/migration_639.sql
  front/tests/utils/SandboxFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename migration file
  front/migrations/db/migration_640.sql
Due: none

[WEBSITE] Shrink webinar promo banner and drop image
  front/components/home/PromoBanner.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(home): update og:description to multiplayer AI messaging
  front/pages/home/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Agent Loop] Delay tool abort during worker shutdown (#25646)
  front/lib/actions/mcp_actions.ts
  front/lib/shutdown_signal.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/worker.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve dhdb database selection and psql passthrough
  x/henry/dust-hive/README.md
  x/henry/dust-hive/completions/dust-hive.bash
  x/henry/dust-hive/completions/dust-hive.zsh
Due: biome

fix: tests
  front-api/routes/w/[wId]/spaces/[spaceId]/project_context/content_nodes/index.ts
Due: biome

[front] enh: batch agent skill linking on agent save (#25691)
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust-hive] enh: improve `dhdb` database selection and psql passthrough (#25699)
  x/henry/dust-hive/README.md
  x/henry/dust-hive/completions/dust-hive.bash
  x/henry/dust-hive/completions/dust-hive.zsh
Due: biome

Refactor as few helpers from data-classification-labels
  front/lib/api/data_classification_labels.ts
  front/pages/api/w/[wId]/data-classification-labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: small projects ui fixes (#25655)
  front/components/assistant/conversation/CreateProjectModal.tsx
  front/components/assistant/conversation/sidebar/ProjectsList.tsx
  front/components/assistant/conversation/space/FirstSyncTaskLookbackForm.tsx
  front/hooks/useMoveConversationToProject.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Add credit state machines for Enterprise Pooled contracts (#25686)
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/metronome/user_block.test.ts
  front/lib/metronome/user_block.ts
  front/lib/metronome/user_credit_state_machine.test.ts
  front/lib/metronome/user_credit_state_machine.ts
  front/lib/metronome/webhook_events.ts
  front/lib/metronome/workspace_credit_state_machine.test.ts
  front/lib/metronome/workspace_credit_state_machine.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/lib/resources/storage/models/workspace.ts
  front/lib/resources/workspace_resource.ts
  front/migrations/db/migration_640.sql
  front/pages/api/metronome/webhook.ts
  front/scripts/metronome_setup.ts
  front/types/credits.ts
  front/types/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[WEBSITE] Shrink webinar promo banner and drop image (#25698)
  front/components/home/PromoBanner.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add knowledge UI projects (#25629)
  front-api/routes/w/[wId]/spaces/[spaceId]/project_context/content_nodes/index.ts
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/spaces/SpaceManagedDatasourcesViewsModal.tsx
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/projects/context.test.ts
  front/lib/api/projects/context.ts
  front/lib/swr/projects.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/content_nodes/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_context/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

review feedback
  front/lib/api/sandbox/access_tokens.test.ts
  front/tests/utils/SandboxTokenFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(poke): use substring match for workspace name search (#25685)
  front/pages/api/poke/workspaces/index.test.ts
  front/pages/api/poke/workspaces/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(home): show announcement banner immediately, remove time gate
  front/components/home/LandingLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add parent sandbox action to jwt for fast retrieve (#25684)
  front/lib/actions/mcp_actions.test.ts
  front/lib/actions/types/index.ts
  front/lib/api/actions/servers/sandbox/tools/index.test.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/api/sandbox/access_tokens.test.ts
  front/lib/api/sandbox/access_tokens.ts
  front/lib/resources/conversation_resource.test.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/[svId]/call_tool.ts
  front/tests/utils/SandboxTokenFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Show announcement banner immediately (#25701)
  front/components/home/LandingLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migrate remaining Data Source & Data Source View handlers
  front-api/routes/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/configuration.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/configuration.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(home): landing polish — trusted section, image fixes, about padding
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/home/content/Industry/IndustryTemplate.tsx
  front/components/home/content/Product/HeroVisual.tsx
  front/components/home/content/Product/HomeTeamUsageSection.tsx
  front/components/home/content/Product/HomeTrustedSection.tsx
  front/pages/home/about.tsx
  front/pages/home/chrome-extension.tsx
  front/pages/home/contact.tsx
  front/pages/home/enterprise.tsx
  front/pages/home/frames.tsx
  front/pages/home/partner.tsx
  front/pages/home/pricing.tsx
  front/pages/home/product.tsx
  front/pages/home/security.tsx
  front/pages/home/slack/slack-integration.tsx
  front/pages/home/solutions/customer-support.tsx
  front/pages/home/solutions/data-analytics.tsx
  front/pages/home/solutions/dust-platform.tsx
  front/pages/home/solutions/engineering.tsx
  front/pages/home/solutions/it.tsx
  front/pages/home/solutions/knowledge.tsx
  front/pages/home/solutions/legal.tsx
  front/pages/home/solutions/marketing.tsx
  front/pages/home/solutions/productivity.tsx
  front/pages/home/solutions/recruiting-people.tsx
  front/pages/home/solutions/sales.tsx
  front/pages/home/support.tsx
  front/public/static/landing/Webinar_Banner.png
  front/public/static/landing/enterprise/section6/doctolib.png
  front/public/static/landing/functions/customersupport.png
  front/public/static/landing/functions/data.png
  front/public/static/landing/functions/engineering.png
  front/public/static/landing/functions/marketing.png
  front/public/static/landing/functions/sales.png
  front/public/static/landing/product/Knowledge_Tooltips.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Format
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: biome

Add method to get remaining credits directly in resource
  front/lib/resources/credit_resource.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

revert: remove TrustedBy→HomeTrustedSection changes and loop bug fix
  front/components/home/content/Industry/IndustryTemplate.tsx
  front/components/home/content/Product/HomeTrustedSection.tsx
  front/pages/home/chrome-extension.tsx
  front/pages/home/contact.tsx
  front/pages/home/enterprise.tsx
  front/pages/home/frames.tsx
  front/pages/home/partner.tsx
  front/pages/home/pricing.tsx
  front/pages/home/product.tsx
  front/pages/home/security.tsx
  front/pages/home/slack/slack-integration.tsx
  front/pages/home/solutions/customer-support.tsx
  front/pages/home/solutions/data-analytics.tsx
  front/pages/home/solutions/dust-platform.tsx
  front/pages/home/solutions/engineering.tsx
  front/pages/home/solutions/it.tsx
  front/pages/home/solutions/knowledge.tsx
  front/pages/home/solutions/legal.tsx
  front/pages/home/solutions/marketing.tsx
  front/pages/home/solutions/productivity.tsx
  front/pages/home/solutions/recruiting-people.tsx
  front/pages/home/solutions/sales.tsx
  front/pages/home/support.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] checkout: APIs and endpoints for checkout flow (#25579)
  front/lib/api/redis.ts
  front/lib/metronome/credits.ts
  front/lib/plans/stripe.ts
  front/lib/resources/subscription_resource.ts
  front/lib/swr/workspaces.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/w/[wId]/subscriptions/checkout/payment.ts
  front/pages/api/w/[wId]/subscriptions/checkout/prepare-payment.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

tests
  front/lib/resources/sandbox_resource.test.ts
  front/tests/utils/SandboxFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: sandbox - reap kill-requested sandboxes
  front/lib/resources/sandbox_resource.ts
  front/temporal/sandbox_reaper/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

🚑
  front/lib/resources/sandbox_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] checkout: new flow
  front/components/checkout/PaymentMethodRow.tsx
  front/components/pages/onboarding/CheckoutPage.tsx
  front/lib/api/redis.ts
  front/lib/metronome/checkout.ts
  front/lib/metronome/checkout_error.ts
  front/lib/plans/stripe.ts
  front/package.json
  front/pages/api/stripe/webhook.ts
  front/pages/api/w/[wId]/subscriptions/checkout-status.ts
  front/pages/api/w/[wId]/subscriptions/checkout/payment.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Self improving skills: cap number of conversations based on remaining budget (#25696)
  front/lib/reinforcement/constants.test.ts
  front/lib/reinforcement/constants.ts
  front/lib/resources/credit_resource.ts
  front/temporal/reinforcement/activities.ts
  front/temporal/reinforcement/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

One more
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
