Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

✨
  front/lib/api/actions/servers/files/index.ts
  front/lib/api/actions/servers/files/metadata.ts
  front/lib/api/actions/servers/files/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Avoid type duplication
  front/lib/api/skills/create_skill.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[slackbot] strip away citation marker during streaming (#25497)
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

feat(llm): hardcode Vertex AI region to europe-west1 for initial rollout
  front/lib/api/llm/clients/anthropic/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(flags): rename use_vertex_for_claude_models to use_vertex_for_anthropic_models
  front/lib/api/llm/index.ts
  front/lib/reinforcement/workspace_check.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): wire VERTEX_AI_PROJECT_ID to AnthropicVertex client
  front/lib/api/config.ts
  front/lib/api/llm/clients/anthropic/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refactor the skills handler to remove bus logic for API (#25446)
  front/lib/api/skills/create_skill.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow switch from free/no-plan
  front/lib/metronome/contracts.ts
  front/lib/resources/subscription_resource.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refactor ProgrammaticCostExport to cleanly separate API handler from bus logic (#25490)
  front/lib/api/analytics/programmatic_cost_export.ts
  front/pages/api/w/[wId]/analytics/programmatic-cost-export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Allow switch from free/no-plan (#25504)
  front/lib/metronome/contracts.ts
  front/lib/resources/subscription_resource.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Use FF+kill switch for initial subscriptions (#25500)
  front/components/poke/subscriptions/table.tsx
  front/lib/api/subscription.ts
  front/lib/metronome/contracts.ts
  front/lib/resources/subscription_resource.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
  front/pages/api/poke/workspaces/[wId]/workspace-info.ts
  front/pages/api/w/[wId]/subscriptions/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Group Metronome packages into Current / Legacy sections
  front/components/poke/shadcn/ui/form/fields.tsx
  front/components/poke/subscriptions/SwitchContractDialog.tsx
  front/lib/metronome/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add `files__copy` for cross-scope file copies (#25499)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/files/index.ts
  front/lib/api/actions/servers/files/metadata.ts
  front/lib/api/actions/servers/files/tools/copy.test.ts
  front/lib/api/actions/servers/files/tools/copy.ts
  front/lib/api/actions/servers/files/tools/index.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Detect root-level SKILL.md when no nested skills exist
  front/lib/api/skills/detection/parsing.test.ts
  front/lib/api/skills/detection/parsing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

includ markup when computing the cost of self-improvement (#25491)
  front/lib/reinforcement/selection.ts
  front/lib/resources/self_improving_skills_usage_resource.test.ts
  front/lib/resources/self_improving_skills_usage_resource.ts
  front/pages/api/w/[wId]/skills/reinforcement_spend.test.ts
  front/pages/api/w/[wId]/skills/reinforcement_spend.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

home: team-usage carousel panel, scroll reveals, dev geo switcher
  front/components/home/DevGeoSwitcher.tsx
  front/components/home/LandingLayout.tsx
  front/components/home/content/Product/HeroOfficeSection.tsx
  front/components/home/content/Product/HomeTeamUsageSection.tsx
  front/components/home/content/Product/HomeTrustedSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Self improving skills: add graph to view the consumption per day over the period
  front/components/pages/workspace/developers/ReinforcementPage.tsx
  front/components/pages/workspace/developers/SelfImprovingSkillsConsumptionSection.tsx
  front/components/workspace/settings/AgentReinforcementToggle.tsx
  front/lib/resources/self_improving_skills_usage_resource.test.ts
  front/lib/resources/self_improving_skills_usage_resource.ts
  front/lib/swr/useReinforcementToggle.ts
  front/pages/api/w/[wId]/skills/reinforcement_daily_spend.test.ts
  front/pages/api/w/[wId]/skills/reinforcement_daily_spend.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle Slack user action stream timeouts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

improvement messages
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

Add support for csv files in UTF-16 with BOM
  core/src/databases/csv.rs
Due: none

[front] Filter Metronome packages by currency and sort by tier (#25503)
  front/components/poke/shadcn/ui/form/fields.tsx
  front/components/poke/subscriptions/SwitchContractDialog.tsx
  front/lib/metronome/client.ts
  front/lib/metronome/types.test.ts
  front/lib/metronome/types.ts
  front/lib/swr/poke.ts
  front/pages/api/poke/metronome/packages.test.ts
  front/pages/api/poke/stripe/customers/currency.test.ts
  front/pages/api/poke/stripe/customers/currency.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Small UI improvements to Self-Improving Skills admin page
  front/components/pages/workspace/developers/ReinforcementPage.tsx
  front/components/workspace/settings/AgentReinforcementToggle.tsx
  front/components/workspace/settings/ReinforcementSkillsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve message
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

even better
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

Add support for csv files in UTF-16 with BOM (#25510)
  core/src/databases/csv.rs
Due: none

fix(llm): log error payload first so Anthropic token-details errors surface in Datadog
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: backfill AgentStepContentToolExecution table
  front/migrations/20260512_backfill_step_content_tool_execution.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Detect root-level SKILL.md when no nested skills exist (#25507)
  front/lib/api/skills/detection/parsing.test.ts
  front/lib/api/skills/detection/parsing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Unified contract creation flows
  front/lib/metronome/contracts.test.ts
  front/lib/metronome/contracts.ts
  front/lib/resources/subscription_resource.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Projects knowledge -> files, fix icons and borders for conversations list.
  front/components/assistant/conversation/ConversationTitle.tsx
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/pages/conversation/SpaceConversationsPage.tsx
  front/hooks/useScopedUIPreferences.ts
  front/hooks/useSpaceProjectTabs.ts
  sparkle/src/components/ConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): log error payload first so Anthropic token-details errors surface in Datadog (#25512)
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Slack Tools: Fix Authentication error provider
  front/lib/api/actions/servers/slack_personal/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

home: add Cursor to all logo sets, remove Kyriba from US
  front/components/home/content/Product/HomeTrustedSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Projects knowledge -> files, fix icons and borders for conversations list. (#25516)
  front/components/assistant/conversation/ConversationTitle.tsx
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/pages/conversation/SpaceConversationsPage.tsx
  front/hooks/useScopedUIPreferences.ts
  front/hooks/useSpaceProjectTabs.ts
  sparkle/src/components/ConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): allow Vertex AI for requests with structured outputs
  front/lib/api/llm/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use closure instead of nested functions
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

Tolerate syntax errors when extracting frame file refs
  viz/app/lib/parseFileRefs.ts
Due: biome

feat(llm): whitelist Claude Opus 4.7 for Vertex AI routing
  front/lib/api/llm/clients/anthropic/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Batch Google Drive moved folder parent updates
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
