Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Notes added by 'git notes add'
  d355e02d946ff569c9ca3b644b6901887af583b5
Due: none

Notes added by 'git notes add'
  fd62b474743fc6d33ad156cd5f5de194ff157d49
Due: none

Fix review feedback on conversation kill switch CLI
  front/admin/cli.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: oauth connect hang when closing (#22048)
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/types/oauth/client/setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Stop showing agent detail / new conversation pop-up for copilot
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/mentions/MentionDropdown.tsx
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add error boundary, remove empty config provider
  front-spa/src/share/ShareApp.tsx
Due: biome

[front] Add poshog in spa (#22037)
  front-spa/src/app/App.tsx
  front/components/app/PostHogTracker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: enbable for enterprise only
  front/lib/assistant.ts
  front/types/assistant/models/anthropic.ts
  front/types/assistant/models/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Attio remote MCP
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  sdks/js/src/types.ts
  sparkle/src/logo/platforms/Attio.tsx
  sparkle/src/logo/platforms/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add AttioLogo type in missing spots
  extension/shared/lib/resources_icons.tsx
  sdks/js/src/mcp_icon_types.ts
Due: biome

Small pr review updates
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  sparkle/src/logo/platforms/Attio.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front] feat(copilot): pre-inject workspace capabilities into system prompt
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/actions/servers/agent_copilot_context/tools/index.ts
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/assistant/workspace_capabilities.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/existing.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/new.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/template.ts
  front/tests/copilot-evals/lib/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add poke plugin for conversation kill switch
  front/admin/cli.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_conversation_kill_switch.ts
  front/lib/api/workspace.ts
  front/lib/api/workspace_kill_switch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add mosaic/CTA sections to enterprise page and replace sqagent placeholders with real images
  front/components/home/content/SqAgent/FeatureSection.tsx
  front/components/home/content/SqAgent/config/sqAgentConfig.tsx
  front/pages/home/enterprise.tsx
  front/public/static/landing/enterprise/section6/clay.webp
  front/public/static/landing/enterprise/section6/doctolib.jpg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add audit logs plan limit and feature flag
  front/components/poke/plans/form.tsx
  front/lib/models/plan.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/db/migration_audit-logs_000.sql
  front/pages/api/poke/plans.ts
  front/types/plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rebase cleanup and adding descriptionLabels
  front/lib/actions/mcp_internal_actions/remote_servers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  c6dde99c56a120864f9dadf6a48a3caae08be8ea
Due: none

feat(front): add audit logs configuration UI with view and export buttons
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/lib/swr/workos.ts
  front/pages/api/w/[wId]/audit-logs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  d371e81187cc2d65a7a91a03cdba49f3812f25f7
Due: none

feat(front): add audit event emission infrastructure and client IP support
  front/lib/api/audit/workos_audit.ts
  front/lib/api/auth_wrappers.ts
  front/lib/api/workos/organization.ts
  front/lib/assistant.test.ts
  front/lib/auth.ts
  front/lib/resources/membership_resource.ts
  front/pages/api/poke/plugins/[pluginId]/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  cc55a6a88185312bfeec2706d7f428643376dff6
Due: none

feat(audit): add Tier 1 security-critical audit log events
  front/lib/api/invitation.ts
  front/lib/api/membership.ts
  front/lib/api/poke/plugins/workspaces/delete_workspace.ts
  front/lib/api/signup.ts
  front/pages/api/login.ts
  front/pages/api/w/[wId]/domains.ts
  front/pages/api/w/[wId]/dsync.ts
  front/pages/api/w/[wId]/sso.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  462cca06f1efd2a7341eefa1ae69f3ca64d6bc6e
Due: none

feat(audit): add Tier 2 audit logs for agent and data operations
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/data_sources.ts
  front/lib/api/poke/plugins/data_sources/bigquery_change_location.ts
  front/lib/api/poke/plugins/data_sources/operations.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  c4f72a4eda8540ac8b3a456e7acf06ed81b1b9de
Due: none

[front] fix: Address PR #21888 review comments (#21956)
  front/assets/gated/Dust_Connected_Enterprise_AI_Playbook.pdf
  front/components/home/ContactForm.tsx
  front/components/home/EbookForm.tsx
  front/components/home/PartnerForm.tsx
  front/lib/api/hubspot/hubspot.ts
  front/pages/api/home/contact/submit.ts
  front/pages/api/home/ebook/download.ts
  front/pages/api/home/ebook/submit.ts
  front/pages/api/home/partner/submit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: replace sqagent placeholder images with custom visual components
  front/components/home/content/SqAgent/config/sqAgentConfig.tsx
  front/pages/landing/sqagent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(audit): add Tier 3 audit logs for space, content, and integration operations
  front/lib/api/assistant/conversation/mentions.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/index.ts
  front/pages/api/w/[wId]/files/[fileId]/index.ts
  front/pages/api/w/[wId]/files/index.ts
  front/pages/api/w/[wId]/mcp/connections/[connectionType]/[cId]/index.ts
  front/pages/api/w/[wId]/mcp/connections/[connectionType]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tableId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/members.ts
  front/pages/api/w/[wId]/spaces/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Notes added by 'git notes add'
  da15bde152b7d87153ff8c81a61f05836af2442b
Due: none

feat(audit): add Tier 4 audit logs for workspace configuration and operations
  front/lib/api/analytics/programmatic_cost_export.ts
  front/lib/api/poke/plugins/workspaces/manage_authorized_domains.ts
  front/lib/api/poke/plugins/workspaces/rename_workspace.ts
  front/pages/api/w/[wId]/analytics/agents-export.ts
  front/pages/api/w/[wId]/analytics/users-export.ts
  front/pages/api/w/[wId]/credits/purchase.ts
  front/pages/api/w/[wId]/index.ts
  front/pages/api/w/[wId]/keys/[id]/disable.ts
  front/pages/api/w/[wId]/keys/index.ts
  front/pages/api/w/[wId]/workspace-usage.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  17cc0bda3875c8b39e3a91778107c171a76f253d
Due: none

Address Aubin feedback on conversation kill switch CLI
  front/admin/cli.ts
  front/lib/api/workspace.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: fix typing in gemini-3
  front/lib/api/llm/clients/google/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Enterprise page first shot (#22053)
  front/components/home/content/SqAgent/FeatureSection.tsx
  front/components/home/content/SqAgent/config/sqAgentConfig.tsx
  front/next.config.js
  front/pages/home/enterprise.tsx
  front/pages/landing/sqagent.tsx
  front/public/static/landing/enterprise/section1/accuracy.png
  front/public/static/landing/enterprise/section1/human_agents_tools.png
  front/public/static/landing/enterprise/section2/customize.png
  front/public/static/landing/enterprise/section2/plays_nicely.png
  front/public/static/landing/enterprise/section2/security_permissions.png
  front/public/static/landing/enterprise/section3/coordinate.png
  front/public/static/landing/enterprise/section4/data_analyst.png
  front/public/static/landing/enterprise/section4/ops_lead.png
  front/public/static/landing/enterprise/section5/Engineering.png
  front/public/static/landing/enterprise/section6/clay.webp
  front/public/static/landing/enterprise/section6/doctolib.jpg
  front/public/static/landing/enterprise/videos/FEATURE 1_Knows your company.mp4
  front/public/static/landing/enterprise/videos/FEATURE 2_AI is a team sport.mp4
  front/public/static/landing/enterprise/videos/FEATURE 3_Always the best model.mp4
  front/public/static/landing/enterprise/videos/FEATURE 4_Compoud across the org.mp4
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move conversation kill switch updates to WorkspaceResource
  front/admin/cli.ts
  front/lib/api/workspace.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use instance method for workspace conversation kill switch
  front/admin/cli.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Switch getLargeWhitelistedModel to sonnet 4.6 (#22022)
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: upgrade dd-trace for connectors (#22029)
  connectors/package.json
  package-lock.json
Due: package-lock-check, biome

Add poke plugin for conversation kill switch
  front/admin/cli.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_conversation_kill_switch.ts
  front/lib/api/workspace.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refine conversation kill switch update behavior
  front/lib/api/workspace_kill_switch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
