Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Enable code-contracts repo-wide
  .claude/skills/code-contracts/SKILL.md
  .claude/skills/code-contracts/agents/openai.yaml
  AGENTS.md
  skills-lock.json
Due: biome

Create all front Elasticsearch indices in one command (#31957)
  front/lib/api/elasticsearch.ts
  front/scripts/create_elasticsearch_index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Create all core Elasticsearch indices in one command (#31959)
  core/bin/elasticsearch/create_index.rs
  core/src/search_stores/search_store.rs
Due: none

Programmatic concurrency: throttle from the rate-limiter counter, not the credit state
  front/components/poke/credits/PokeUsageTab.tsx
  front/lib/api/assistant/conversation.ts
  front/lib/api/credits/programmatic_usage_limit.ts
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Poke: programmatic credit badge from rate-limiter under the flag
  front/components/poke/credits/PokeUsageTab.tsx
  front/components/poke/pages/WorkspacePage.tsx
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Programmatic spend cap: enforce cap 0 as block-all in the rate limiter
  front/components/poke/credits/PokeUsageTab.tsx
  front/lib/api/credits/programmatic_usage_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix skill seed permission filtering option
  front/scripts/seed/factories/seedSkill.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix skill seed permission filtering option (#31966)
  front/scripts/seed/factories/seedSkill.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Governance] Treat missing legacy editor groups as empty
  front/lib/resources/group_resource.ts
  front/migrations/20260903_backfill_agent_editor_grants.test.ts
  front/migrations/20260903_backfill_agent_editor_grants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Governance] Repair missing editor groups during backfill
  front/lib/resources/group_resource.ts
  front/migrations/20260903_backfill_agent_editor_grants.test.ts
  front/migrations/20260903_backfill_agent_editor_grants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke] programmatic credit badge from the rate-limiter under the flag (#31890)
  front/components/poke/credits/PokeUsageTab.tsx
  front/components/poke/pages/WorkspacePage.tsx
  front/lib/api/assistant/conversation.ts
  front/lib/api/credits/programmatic_usage_limit.ts
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleanup
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove spolu
  .github/workflows/claude-code-review.yml
  CONTRACTS
  cli/dust-sandbox/CONTRACTS
  core/CONTRACTS
  front-api/CONTRACTS
  front/CONTRACTS
  x/adrsimon/mobile/CONTRACTS
  x/henry/dust-hive/CONTRACTS
Due: biome

Clarify migrated contracts and remove inherited duplicates
  front-api/CONTRACTS
  front/CONTRACTS
  x/adrsimon/mobile/CONTRACTS
  x/henry/dust-hive/CLAUDE.md
  x/henry/dust-hive/CONTRACTS
Due: biome

[front] chore: remove dead PendingToolCallDetails component (#31945)
  front/components/assistant/conversation/actions/PendingToolCallDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: read per-user usage from consumption analytics
  front/lib/api/credits/members_usage.test.ts
  front/lib/api/credits/members_usage.ts
  front/migrations/20260904_compare_per_user_usage_indices.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix contract migration CI failures
  .junie/guidelines.md
  front/scripts/seed/factories/seedSkill.ts
  front/scripts/seed/governance/seed.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Enable EU routing for Gemini 3.6-3.8 (#31886)
  front/lib/api/llm/index.test.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/stream/endpoints/google_gemini_3_6_flash_eu_agent_platform.ts
  front/lib/model_constructors/stream/endpoints/google_gemini_3_7_flash_eu_agent_platform.ts
  front/lib/model_constructors/stream/endpoints/google_gemini_3_8_flash_eu_agent_platform.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/google_gemini_3_6_flash_eu_agent_platform.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/package.json
  front/types/assistant/models/google_ai_studio.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove useless region from workos cookies and update to use cell from claim. (#31963)
  front-api/routes/workos/[action].ts
  front/lib/api/workos/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): let admins allow Slack workflows from the automations page (#31295)
  front/components/pages/workspace/AnalyticsAutomationsPage.tsx
  front/components/workspace/analytics/automations/AllowSlackWorkflowDialog.tsx
  front/components/workspace/analytics/automations/SlackWorkflowsTab.tsx
  front/hooks/useSlackWorkflowsOverview.ts
  front/lib/swr/slack_workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

admin governance: end space memberships instead of suspending them
  front/components/spaces/CreateOrEditSpaceModal.tsx
  front/components/spaces/RestrictedAccessBody.tsx
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
  front/migrations/20260904_end_suspended_group_memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Conversation width: 48rem -> 65ch reading measure
  sparkle/src/styles/theme.css
Due: biome

[front] fix: BigQuery connect Save button stuck loading before credentials
  front/lib/swr/bigquery.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Governance] Tolerate missing editor groups in backfill (#31962)
  front/migrations/20260903_backfill_agent_editor_grants.test.ts
  front/migrations/20260903_backfill_agent_editor_grants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Spend caps: free seats never blocked by workspace pool depletion
  front/lib/metronome/user_block.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Data sources carry their Qdrant shard key, collections declare their layout
  core/bin/qdrant/count_points_per_data_source.rs
  core/bin/qdrant/create_collection.rs
  core/bin/qdrant/delete_orphaned_points.rs
  core/bin/qdrant/migrator.rs
  core/bin/qdrant/shard_key_breakdown.rs
  core/bin/qdrant/test/fill_random_points.rs
  core/src/api/data_sources.rs
  core/src/data_sources/data_source.rs
  core/src/data_sources/qdrant.rs
  front/types/core/data_source.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] add skill search persistence
  design_docs/SKILL_SEARCH_DESIGN.md
  front/lib/api/elasticsearch.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/skill/skill_search_document_resource.test.ts
  front/lib/resources/skill/skill_search_document_resource.ts
  front/lib/skill_search/index.test.ts
  front/lib/skill_search/index.ts
  front/lib/skill_search/indices/skill_search_1.mappings.json
  front/lib/skill_search/indices/skill_search_1.settings.europe-west1.json
  front/lib/skill_search/indices/skill_search_1.settings.local.json
  front/lib/skill_search/indices/skill_search_1.settings.us-central1.json
  front/types/skill_search/skill_search.ts
  init_dev_container.sh
  x/henry/dust-hive/src/lib/init.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] rebuild skill search indices
  front/lib/resources/skill/skill_search_document_resource.test.ts
  front/lib/resources/skill/skill_search_document_resource.ts
  front/scripts/backfill_skill_search.ts
  front/temporal/relocation/activities/destination_region/front/es_indexation.test.ts
  front/temporal/relocation/activities/destination_region/front/es_indexation.ts
  front/temporal/relocation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] maintain skill search lifecycle
  front-api/routes/v1/w/[wId]/skills/[skillId].ts
  front-api/routes/w/[wId]/skills/[sId]/editors.test.ts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/[sId]/restore.ts
  front-api/routes/w/[wId]/skills/archive.ts
  front-api/routes/w/[wId]/skills/availability.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/lib/api/actions/servers/skill_authoring/tools/index.ts
  front/lib/api/membership.test.ts
  front/lib/api/membership.ts
  front/lib/api/poke/plugins/skills/skill_editors.ts
  front/lib/api/skills/detection/files/import_skills.ts
  front/lib/api/skills/detection/github/import_skills.ts
  front/lib/api/spaces.test.ts
  front/lib/api/spaces.ts
  front/lib/iam/users.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/skill_search/indexation.test.ts
  front/lib/skill_search/indexation.ts
  front/poke/temporal/activities.ts
  front/temporal/es_indexation/activities.test.ts
  front/temporal/es_indexation/activities.ts
  front/temporal/es_indexation/client.ts
  front/temporal/es_indexation/helpers.ts
  front/temporal/es_indexation/signals.ts
  front/temporal/es_indexation/workflows.ts
  front/temporal/scrub_workspace/activities.ts
  front/temporal/workos_events_queue/activities.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] paginate a unified skill search without indexing globals
  front-api/routes/w/[wId]/skills/search.test.ts
  front-api/routes/w/[wId]/skills/search.ts
  front/lib/api/redis.ts
  front/lib/api/skills/search.test.ts
  front/lib/api/skills/search.ts
  front/lib/skill_search/README.md
  front/lib/skill_search/cursor.ts
  front/lib/skill_search/ranking.test.ts
  front/lib/skill_search/ranking.ts
  front/lib/skill_search/search.test.ts
  front/lib/skill_search/search.ts
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] cover skill search ACL combinations
  front/lib/skill_search/search.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] add permission-aware skill search
  front-api/routes/w/[wId]/skills/index.ts
  front-api/routes/w/[wId]/skills/search.test.ts
  front-api/routes/w/[wId]/skills/search.ts
  front/lib/api/skills/search.test.ts
  front/lib/api/skills/search.ts
  front/lib/resources/skill/skill_search_document_resource.test.ts
  front/lib/resources/skill/skill_search_document_resource.ts
  front/lib/skill_search/search.test.ts
  front/lib/skill_search/search.ts
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] preserve unified skill ranking in the slash menu
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/slash_suggestion/buildSlashCommandItems.ts
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] search skills in the slash menu
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Typography: unitless leading, em tracking, token-driven controls
  front/styles/global.css
  marketing/styles/global.css
  sparkle/src/components/Button.tsx
  sparkle/src/components/Input.tsx
  sparkle/src/components/OptionCard.tsx
  sparkle/src/components/TextArea.tsx
  sparkle/src/styles/tailwind.css
  sparkle/src/styles/theme.css
Due: biome

feat(models): add Z.ai GLM-5.3 via Fireworks
  front/components/providers/model_configs.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/lib/llms/providers/fireworks/models/glm_five_dot_three.ts
  front/lib/llms/stream/endpoints/z_ai_glm_five_dot_three_global_fireworks.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/fireworks/models/glm_five_dot_three.ts
  front/lib/model_constructors/stream/endpoints/z_ai_glm_five_dot_three_global_fireworks.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/test/endpoints/z_ai_glm_five_dot_three_global_fireworks.test.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/models/fireworks.ts
  front/types/assistant/models/model_tiers.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/static_model_reasoning_efforts.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Pause Google Drive connectors on admin policy errors
  connectors/src/lib/oauth.test.ts
  connectors/src/lib/oauth.ts
  connectors/src/lib/temporal_monitoring.test.ts
Due: connectors-typecheck, biome, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
