Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] polish: use standard hover duration
  front/components/workspace/analytics/consumption/ConsumptionChart.test.tsx
  front/components/workspace/analytics/consumption/ConsumptionChart.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: hide active users in personal analytics
  front/components/workspace/analytics/consumption/ConsumptionChart.test.tsx
  front/components/workspace/analytics/consumption/ConsumptionChart.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Stop panels animating open on mount
  sparkle/playground/src/components/PanelLayout.tsx
Due: biome

Render the compact usage page behind compact_usage_page flag (#31798)
  front/components/pages/workspace/UsagePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add customer-facing AWU pool current-cycle / cycle-history endpoints (#31797)
  front-api/routes/w/[wId]/credits/awu-pool-current-cycle.test.ts
  front-api/routes/w/[wId]/credits/awu-pool-current-cycle.ts
  front-api/routes/w/[wId]/credits/awu-pool-cycle-history.test.ts
  front-api/routes/w/[wId]/credits/awu-pool-cycle-history.ts
  front-api/routes/w/[wId]/credits/index.ts
  front/components/pages/workspace/UsagePage.tsx
  front/lib/swr/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Notion] Support app.notion.com URLs
  .github/pull_request_template.md
  connectors/src/api/notion_url_status.ts
  connectors/src/connectors/github/lib/github_code.ts
  connectors/src/connectors/microsoft/lib/types.ts
  connectors/src/connectors/notion/lib/parents.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/types/api.ts
  core/bin/qdrant/create_collection.rs
  core/src/data_sources/data_source.rs
  core/src/data_sources/qdrant.rs
  front/components/poke/pages/DataSourcePage.tsx
  front/components/spaces/AdvancedNotionManagement.tsx
  front/dangerfile.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.test.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.ts
  front/lib/connectors.test.ts
  front/lib/connectors.ts
  front/lib/plans/stripe.ts
  front/lib/resources/storage/wrappers/workspace_models.ts
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
  front/types/connectors/connectors_api.ts
  sparkle/src/stories/AttachmentChip.stories.tsx
  sparkle/src/stories/ConversationMessages.stories.tsx
  tools/mprocs.yaml
  tools/process-compose.yaml
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front] polish: keep tooltip spacing on container
  front/components/charts/ChartTooltip.test.tsx
  front/components/charts/ChartTooltip.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(UserMessage): allow removing reactions from user messages
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant/conversation/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: filter member group name fetch on canRead (#31762)
  front/lib/api/actions/servers/workspace_management/tools/list_workspace_members.ts
  front/lib/api/credits/members_usage.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: explicit group acl bypasses and resource-owned membership changes
  front-api/routes/w/[wId]/spaces/[spaceId]/leave.ts
  front/lib/api/membership.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.ts
  front/migrations/20260828_restore_skill_editor_memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: code review
  front-api/routes/w/[wId]/spaces/[spaceId]/leave.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix Notion URL matcher formatting
  front/lib/connectors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

spaces: add POST members endpoint to add members without replacing the list
  front-api/routes/w/[wId]/spaces/[spaceId]/members.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/members.ts
  front/lib/api/spaces/members.ts
  front/lib/swr/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Sparkle: add a unit shorthand to Input's suffix slot
  sparkle/src/components/Input.tsx
  sparkle/src/stories/Input.stories.tsx
Due: biome

Sparkle: replace Input's unit prop with isUnit + suffix
  sparkle/src/components/Input.tsx
  sparkle/src/stories/Input.stories.tsx
Due: biome

fix(workspace_analytics): align time windows default between analytics and analyst
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(workspace_analytics): revamp tools and skills metadata
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/workspace_analytics/index.ts
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/resources/skill/code_defined/global/workspace_analytics.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): restore inline model makers on touch clients
  front/components/model_picker/ModelPickerContent.tsx
  front/components/model_picker/ModelPickerMakersView.test.tsx
  front/components/model_picker/ModelPickerMakersView.tsx
  front/components/model_picker/useModelPickerMenuState.ts
  front/lib/swr/useIsMobile.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Notion] Support app.notion.com URLs (#31811)
  .github/pull_request_template.md
  connectors/src/api/notion_url_status.ts
  connectors/src/connectors/github/lib/github_code.ts
  connectors/src/connectors/microsoft/lib/types.ts
  connectors/src/connectors/notion/lib/parents.ts
  connectors/src/connectors/notion/temporal/activities.ts
  connectors/src/types/api.ts
  core/bin/qdrant/create_collection.rs
  core/src/data_sources/data_source.rs
  core/src/data_sources/qdrant.rs
  front/components/poke/pages/DataSourcePage.tsx
  front/components/spaces/AdvancedNotionManagement.tsx
  front/dangerfile.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.test.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.ts
  front/lib/connectors.test.ts
  front/lib/connectors.ts
  front/lib/plans/stripe.ts
  front/lib/resources/storage/wrappers/workspace_models.ts
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
  front/types/connectors/connectors_api.ts
  sparkle/src/stories/AttachmentChip.stories.tsx
  sparkle/src/stories/ConversationMessages.stories.tsx
  tools/mprocs.yaml
  tools/process-compose.yaml
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

feat: explicit group acl bypasses and resource-owned membership changes (#31771)
  front-api/routes/w/[wId]/spaces/[spaceId]/leave.ts
  front/lib/api/membership.ts
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.ts
  front/migrations/20260828_restore_skill_editor_memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add logs when checking a permission on a regular_auto group
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

spaces: add POST members endpoint to add members without replacing the list (#31805)
  front-api/routes/w/[wId]/spaces/[spaceId]/members.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/members.ts
  front/lib/api/spaces/members.ts
  front/lib/swr/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(UserMessage): allow removing reactions from user messages (#31812)
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant/conversation/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rm test
  front/components/model_picker/ModelPickerMakersView.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Admin access: hide prompts/skills/knowledge from admin when they cannot see an agent
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/export/yaml.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/skills.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/skills.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/AgentDetailsSheet.tsx
  front/components/assistant/details/tabs/AgentInfoTab/RedactedAgentMessage.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/configuration/helpers.ts
  front/lib/api/assistant/configuration/yaml_export.ts
  front/lib/swr/agent_editors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move endpoint hardening (skills, suggestions, YAML export) to #31801
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/export/yaml.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/skills.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/skills.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
  front/lib/api/assistant/configuration/yaml_export.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Join required spaces through the add-members endpoint
  front/components/assistant/details/tabs/AgentInfoTab/RedactedAgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rm useCanHover
  front/components/model_picker/ModelPickerMakersView.tsx
  front/lib/swr/useIsMobile.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Sparkle: add a unit shorthand to Input's suffix slot (#31792)
  sparkle/src/components/Input.tsx
  sparkle/src/stories/Input.stories.tsx
Due: biome

Trim redundant comments duplicating adjacent context
  front/components/poke/credits/PokeChangeSeatModal.tsx
  front/components/workspace/MembersUsageTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Poke: open a seat-change preview from the Unblock dropdown's Upgrade seat option
  front-api/routes/poke/workspaces/[wId]/credits/index.ts
  front-api/routes/poke/workspaces/[wId]/credits/seats-plan.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/poke/credits/PokeChangeSeatModal.tsx
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/ChangeSeatModal.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/SeatCard.tsx
  front/poke/swr/credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Prodbox prompt shows the cell
  prodbox/init.sh
Due: none

Front uses Application Default Credentials for GCS when SERVICE_ACCOUNT is unset
  front/lib/api/config.ts
  front/lib/file_storage/config.ts
  front/temporal/config.ts
  front/temporal/upsert_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Apply suggestion from @Nils-Fedrigo
  front/components/model_picker/ModelPickerContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add logs when checking a permission on a regular_auto group (#31774)
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(workspace_analytics): align time windows default between analytics and analyst (#31706)
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(workspace_analytics): revamp tools and skills metadata (#31803)
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/workspace_analytics/index.ts
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/resources/skill/code_defined/global/workspace_analytics.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: name the conflicting tool in MCP name-conflict error
  front-api/routes/w/[wId]/mcp/index.test.ts
  front-api/routes/w/[wId]/mcp/index.ts
  front/components/actions/mcp/create/CreateMCPServerDialog.tsx
  front/components/actions/mcp/forms/submitCreateMCPServerDialogForm.ts
  front/components/actions/mcp/forms/utils.ts
  front/lib/api/mcp.ts
  front/lib/api/mcp/servers.ts
  front/lib/api/mcp/views.ts
  front/lib/api/url_safety.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/swr/mcp_servers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove permissions on regular_auto groups
  front/lib/model_tiers/allowed_tiers.test.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/space_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: tests
  front-api/routes/w/[wId]/governance-permissions.test.ts
  front-api/routes/w/[wId]/groups.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/index.test.ts
  front-api/routes/w/[wId]/groups/[groupId]/spend_limit.test.ts
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
