Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

feat: get page elements chrome extension (#22770)
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/pageUtils.ts
  extension/platforms/chrome/tools/index.ts
  extension/platforms/chrome/tools/interactWithPageTool.ts
Due: biome

migrate deep dive to 4.6
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove project warning in agent builder
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[api/observability] - refactor: centralize 'getStartOfTodayInTimezone' utility function
  front/lib/api/assistant/observability/active_users_metrics.ts
  front/lib/utils/timezone.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[extension] Fixed overflow (#22871)
  extension/ui/css/custom.css
Due: biome

[extension] Reset mcp on workspace change, fix concurrency issues (#22878)
  extension/platforms/chrome/services/mcp.ts
  extension/platforms/front/services/mcp.ts
  extension/shared/hooks/useMcpServer.ts
Due: biome

adjust copies
  front/components/assistant/conversation/FeedbackSelector.tsx
  front/components/assistant/conversation/FeedbackSelectorPopoverContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  f2/79bf93491bf9c2a31e78812d05b1f24639dc3c
Due: none

cleanup
  front/components/assistant/conversation/FeedbackSelector.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

coding rules
  extension/platforms/chrome/tools/getPageViewTool.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: extension files popover
  extension/ui/pages/MainPage.tsx
Due: biome

Add EPS logos
  front/public/static/landing/logos/dust/Dust_Brand_Logo.zip
Due: none

fix
  front/components/sparkle/OnboardingLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: extension files popover (#22886)
  extension/ui/pages/MainPage.tsx
Due: biome

feat: add tabId parameter
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
Due: biome

feat: click on page extension
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/tools/interactWithPageTool.ts
Due: biome

feat: use utils function
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/pageUtils.ts
Due: biome

[front] Show feedback UI only for certain global agents + improve UI for sidekick (#22870)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/FeedbackSelector.tsx
  front/components/assistant/conversation/FeedbackSelectorPopoverContent.tsx
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove header from onboarding layout
  front/components/pages/onboarding/JoinPage.tsx
  front/components/pages/onboarding/WelcomePage.tsx
  front/components/sparkle/OnboardingLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add EPS logos (#22887)
  front/public/static/landing/logos/dust/Dust_Brand_Logo.zip
Due: none

Remove the client side xAdd to avoid race condition (#22875)
  front/lib/api/redis-hybrid-manager.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api] - refactor: streamline timezone utility exports
  front/lib/api/elasticsearch.ts
  front/lib/swr/workspaces.ts
  front/lib/utils/timezone.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Formatting
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Gong connector permission profile sync behavior and copy updates
  connectors/src/connectors/gong/index.ts
  connectors/src/connectors/gong/temporal/activities.ts
  front/components/data_source/gong/GongOptionComponent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

chore: finish statsD migration
  front/lib/actions/mcp_internal_actions/wrappers.ts
  front/lib/api/actions/servers/image_generation/helpers.ts
  front/lib/api/actions/servers/image_generation/tools/index.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/llm/llm.ts
  front/lib/api/llm/traces/buffer.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/api/programmatic_usage/tracking.ts
  front/lib/api/redis-hybrid-manager.ts
  front/lib/api/redis.ts
  front/lib/credits/committed.ts
  front/lib/credits/free.ts
  front/lib/credits/payg.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/run_resource.ts
  front/lib/resources/storage/index.ts
  front/lib/resources/user_resource.ts
  front/lib/temporal_monitoring.ts
  front/lib/triggers/webhook.ts
  front/lib/upsert_queue.ts
  front/lib/utils/rate_limiter.ts
  front/logger/withlogging.ts
  front/pages/api/[preStopSecret]/prestop.ts
  front/pages/api/healthz.ts
  front/pages/api/healthz/ready.ts
  front/pages/api/healthz/startup.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/workos/[action].ts
  front/temporal/agent_loop/activities/cost_threshold_warnings.ts
  front/temporal/agent_loop/activities/instrumentation.ts
  front/temporal/agent_loop/sinks.ts
  front/temporal/upsert_queue/activities.ts
  front/temporal/upsert_tables/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Delay first Gong sync until permission profile is configured
  connectors/src/connectors/gong/index.ts
  front/components/data_source/gong/GongOptionComponent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[sparkle] - fix: ensure action card labels truncate when space is limited
  sparkle/src/components/ActionCard.tsx
Due: biome

feat: click on page extension (#22778)
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/pageUtils.ts
  extension/platforms/chrome/tools/interactWithPageTool.ts
Due: biome

feat: add tabId parameter
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
Due: biome

feat: type text tool
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/tools/interactWithPageTool.ts
Due: biome

feat: simplify functions
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
Due: biome

[sparkle] - fix: ensure action card labels truncate when space is limited (#22889)
  sparkle/src/components/ActionCard.tsx
Due: biome

feat: remove project warning in agent builder (#22884)
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: type text tool (#22779)
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/interactWithPage.ts
  extension/platforms/chrome/messages.ts
  extension/platforms/chrome/tools/interactWithPageTool.ts
Due: biome

feat: use absolute coordinates
  extension/platforms/chrome/interactWithPage.ts
Due: biome

feat: add tabId parameter
  extension/platforms/chrome/interactWithPage.ts
Due: biome
