Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

batch fetch internal MCP servers
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove temperature and maxStepsPerRun from get_agent_config (#22087)
  front/components/agent_builder/copilot/tools/getAgentConfig.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix posthog tracker
  front-spa/src/app/App.tsx
  front/components/app/PostHogTracker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add missing providers
  extension/platforms/chrome/main.tsx
  extension/platforms/front/main.tsx
  extension/shared/lib/AuthProvider.tsx
  extension/shared/lib/FetcherProvider.tsx
  extension/shared/lib/dust_api.ts
  extension/ui/components/auth/AuthProvider.tsx
  extension/ui/components/auth/ProtectedRoute.tsx
Due: biome

feat: add E2B sandbox config to front config
  front/lib/api/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  6b85fde189533835d80db7d14678eb2ef7692538
Due: none

useExtensionAuth
  extension/ui/components/navigation/UserDropdownMenu.tsx
  extension/ui/hooks/useAuthErrorCheck.ts
  extension/ui/pages/LoginPage.tsx
Due: biome

feat: make E2B config optional, return undefined when env vars missing
  front/lib/api/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/resources/mcp_server_view_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Slideshow use case in Frames
  front/lib/api/actions/servers/interactive_content/instructions.ts
  viz/app/components/VisualizationWrapper.tsx
  viz/app/components/VizContext.tsx
  viz/components/dust/slideshow/v2/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix posthog tracker (#22086)
  front-spa/src/app/App.tsx
  front/components/app/PostHogTracker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  eec3e97f91c4de22cc5cb6f4d1bbe138fe815e16
Due: none

Notes added by 'git notes add'
  d6bfdc0a0760f5c62c0bec3f2a57b9408c1b025c
Due: none

wip
  front/components/assistant/AgentMessageMarkdown.integration.test.tsx
  front/components/assistant/AgentMessageMarkdown.tsx
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/AgentMessageActions.tsx
  front/components/markdown/CiteBlock.tsx
  package-lock.json
  sdks/js/.node_modules-eXGlRvYS
  sparkle/package.json
  sparkle/src/components/index.ts
  sparkle/src/components/markdownWithStreamingAnimation/BlockquoteBlock.tsx
  sparkle/src/components/markdownWithStreamingAnimation/CodeBlock.tsx
  sparkle/src/components/markdownWithStreamingAnimation/CodeBlockWithExtendedSupport.tsx
  sparkle/src/components/markdownWithStreamingAnimation/ContentBlockWrapper.tsx
  sparkle/src/components/markdownWithStreamingAnimation/List.tsx
  sparkle/src/components/markdownWithStreamingAnimation/Markdown.tsx
  sparkle/src/components/markdownWithStreamingAnimation/MarkdownContentContext.tsx
  sparkle/src/components/markdownWithStreamingAnimation/ParagraphBlock.tsx
  sparkle/src/components/markdownWithStreamingAnimation/PreBlock.tsx
  sparkle/src/components/markdownWithStreamingAnimation/PrettyJsonViewer.tsx
  sparkle/src/components/markdownWithStreamingAnimation/TableBlock.tsx
  sparkle/src/components/markdownWithStreamingAnimation/index.ts
  sparkle/src/components/markdownWithStreamingAnimation/safeRehypeKatex.ts
  sparkle/src/components/markdownWithStreamingAnimation/styles.ts
  sparkle/src/components/markdownWithStreamingAnimation/types.ts
  sparkle/src/components/markdownWithStreamingAnimation/useAnimatedText.tsx
  sparkle/src/components/markdownWithStreamingAnimation/utils.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix message
  front/lib/resources/mcp_server_view_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

merge identical files
  extension/platforms/chrome/platform.tsx
  extension/platforms/chrome/webpack.config.ts
  extension/platforms/front/RouterLinkWrapper.tsx
  extension/platforms/front/webpack.config.ts
  extension/shared/ReactRouterLinkWrapper.tsx
  extension/shared/platform.tsx
Due: biome

[front] Wire SandboxProvider singleton into sandbox MCP server
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/sandbox/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  cc58a661a8f1bff095b3a5627aace4ec841b6afa
Due: none

refactor fetchById to rely on fetchByIds
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Define SandboxModel + SandboxResource data model (T3) (#22078)
  front/lib/resources/sandbox_resource.ts
  front/lib/resources/storage/models/sandbox.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_516.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: biome format for E2B config getter
  front/lib/api/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix url on main
  .github/workflows/deploy-spa.yaml
Due: biome

Notes added by 'git notes add'
  b3f6d9ae103441424f1f314bfc6c483ed382ba03
Due: none

[front] Wire SandboxProvider singleton into sandbox MCP server (#22090)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox/metadata.ts
  front/lib/api/actions/servers/sandbox/tools/index.ts
  front/lib/api/sandbox/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add E2B sandbox config (#22089)
  front/lib/api/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] perf: fix N+1 internal server queries in MCP server views listing (#22088)
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/lib/resources/remote_mcp_servers_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

do not add animation in action message
  front/components/assistant/conversation/actions/AgentMessageActions.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/components/assistant/details/tabs/AgentInfoTab] - feature: implement visibility control for tools in AssistantSkillsToolsSection
  front/components/assistant/details/tabs/AgentInfoTab/AssistantSkillsToolsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dh fix(seed): set firstUsedAt on membership in dust-hive seed
  front/lib/dev/dust_hive_seed.sql
Due: none

fix: remove double lint in CI
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-sparkle.yml
  .github/workflows/build-and-lint-viz.yml
  biome.json
  lefthook.yml
Due: biome

feat: upgrade modelcontextprotocol
  cli/package.json
  extension/package.json
  front/package.json
  package-lock.json
  package.json
  sdks/js/package.json
Due: package-lock-check, biome

dh fix(seed): set firstUsedAt on membership in dust-hive seed (#22099)
  front/lib/dev/dust_hive_seed.sql
Due: none

[front/components/assistant/details/tabs/AgentInfoTab] - feature: implement visibility control for tools in AssistantSkillsToolsSection (#22096)
  front/components/assistant/details/tabs/AgentInfoTab/AssistantSkillsToolsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: remove double lint in CI (#22097)
  .github/workflows/build-and-lint-extension.yml
  .github/workflows/build-and-lint-sparkle.yml
  .github/workflows/build-and-lint-viz.yml
  biome.json
  lefthook.yml
Due: biome

[front] - refactor: standardize save button label in ManageUsersPanel
  front/components/assistant/conversation/space/ManageUsersPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Fix url on main (#22093)
  .github/workflows/deploy-spa.yaml
Due: biome

feat: upgrade modelcontextprotocol (#22094)
  cli/package.json
  extension/package.json
  front/package.json
  package-lock.json
  package.json
  sdks/js/package.json
Due: package-lock-check, biome
