Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] chore: load the i18n test mock imports concurrently
  front/vite.i18nSetup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feature flags: mark frame_documents as superseded by dust_documents
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(ci): prevent command injection in deploy-spa-production workflow
  .github/workflows/deploy-spa-production.yaml
Due: biome

[front] feat(i18n): add the formatting module
  front/components/app/UserLocaleSync.test.tsx
  front/components/app/UserLocaleSync.tsx
  front/lib/i18n/format.test.ts
  front/lib/i18n/format.ts
  front/lib/utils.ts
  front/lib/utils/timestamps.ts
  front/types/shared/utils/date_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor(i18n): leave legacy helpers to the phases that change them
  front/lib/i18n/format.test.ts
  front/lib/i18n/format.ts
  front/lib/utils.ts
  front/lib/utils/timestamps.ts
  front/types/shared/utils/date_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(ci): remove empty GHA expression from JS comment (actionlint)
  .github/workflows/deploy-spa-production.yaml
Due: biome

style(google-drive): format My Drive cache key
  connectors/src/connectors/google_drive/temporal/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

fix(google-drive): key My Drive cache on connector id (#33548)
  connectors/src/connectors/google_drive/temporal/activities/common/utils.ts
  connectors/src/connectors/google_drive/temporal/utils.ts
Due: connectors-typecheck, biome, connectors-eslint

feat: display error message if suggestion batch can not be fetched
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/components/markdown/suggestion/ConversationalSuggestionCard.tsx
  front/components/markdown/suggestion/SuggestionPile.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(extension): support external side panel closing (#33617)
  extension/platforms/chrome/background.ts
  extension/platforms/chrome/content-script.ts
Due: biome

feat(discover): lighter catalog rows and homepage use cases
  front/components/assistant/conversation/discover/DiscoverButton.tsx
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverHome.tsx
  front/components/assistant/conversation/discover/HomepageUseCases.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test(i18n): stub TZ with vitest and suffix durations with Ms
  front/lib/i18n/format.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Accept bracketed labels in build entity directives (#33662)
  front/tests/conversational-building-evals/lib/assertions.ts
  front/types/shared/utils/markdown.test.ts
  front/types/shared/utils/markdown.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: fix escaping character " < > & in skills (#33651)
  front-api/routes/w/[wId]/assistant/suggestion_batches/[bId]/index.test.ts
  front/lib/editor/skill_instructions_html.test.ts
  front/lib/editor/skill_instructions_html.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feature flags: mark frame_documents as superseded by dust_documents (#33676)
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Building agents and skills: share instruction edit target validation
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/instruction_edits.ts
  front/lib/api/actions/servers/building_agents_and_skills/skill_suggestion_changes.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: inline suggestions in reinforcement (#33627)
  front/lib/reinforcement/aggregate_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: display error message if suggestion batch can not be fetched (#33671)
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/components/markdown/suggestion/ConversationalSuggestionCard.tsx
  front/components/markdown/suggestion/SuggestionPile.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front-spa): add CSP frame-ancestors and nosniff on Worker responses
  front-spa/_headers
  front-spa/worker/app.ts
  front-spa/worker/poke.ts
  front-spa/worker/security_headers.test.ts
  front-spa/worker/security_headers.ts
Due: biome

fix(front-api): set Cache-Control private,no-store on session auth APIs
  front-api/middlewares/private_no_store_cache.test.ts
  front-api/middlewares/private_no_store_cache.ts
  front-api/middlewares/session_auth.ts
  front-api/middlewares/workspace_auth.test.ts
  front-api/middlewares/workspace_auth.ts
  front-api/routes/user/index.test.ts
  front-api/routes/w/[wId]/auth-context.test.ts
Due: biome

Conversational building: eval renaming multiple skills at once
  front/tests/conversational-building-evals/README.md
  front/tests/conversational-building-evals/conversational-building-eval.test.ts
  front/tests/conversational-building-evals/lib/assertions.ts
  front/tests/conversational-building-evals/lib/executor.ts
  front/tests/conversational-building-evals/lib/judge.ts
  front/tests/conversational-building-evals/lib/tool-runner.ts
  front/tests/conversational-building-evals/lib/types.ts
  front/tests/conversational-building-evals/test-suites/assets/skill_prompts.json
  front/tests/conversational-building-evals/test-suites/batch-edit.ts
  front/tests/conversational-building-evals/test-suites/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dry
  front/lib/api/actions/servers/building_agents_and_skills/instruction_edits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] v1 agent PATCH: serialize the patched version from the AgentResource so unviewable content is redacted
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
Due: biome

Extract logic to render tool calls
  front/tests/conversational-building-evals/lib/judge.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] rebuildConversationRequirements: dangerouslyFetchByIds so requirements cover every agent
  front/lib/api/assistant/conversation/permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Move toParticipantJSON to agent_resource_serialization
  front/lib/api/assistant/participants.ts
  front/lib/resources/agent_resource.ts
  front/lib/resources/agent_resource_serialization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] AgentResource.toParticipantJSON for conversation participants; me/triggers custom-agent test; workspaceModelId naming
  front-api/routes/w/[wId]/me/triggers.test.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/api/assistant/participants.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Migrate light agent reads to AgentResource
  front-api/routes/w/[wId]/me/triggers.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/user_analytics/index.ts
  front/lib/api/analytics/programmatic_cost.ts
  front/lib/api/assistant/builder/sidekick_prompts.ts
  front/lib/api/assistant/participants.ts
  front/scripts/seed/inactivity/seedInactivity.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(security): neutralize shell injection in slack composite actions (CWE-78) (#33554)
  .github/actions/slack-notify/action.yml
Due: biome

[sparkle] fix: keep sort header labels stable when pressed
  sparkle/src/components/DataTable/parts.tsx
Due: biome

fix(connectors): encode tableId and rowId in Dust API URL paths (#33535)
  connectors/src/lib/data_sources.ts
Due: connectors-typecheck, biome, connectors-eslint

security(front-api): force attachment for unsafe content types in file-serving routes
  front-api/CONTRACTS
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/[...rel].ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/thumbnail.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front-api/routes/w/[wId]/skills/[sId]/files/[fileId]/content.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/files/[...rel].ts
Due: biome

[front] Shared frames: send logged-in users to the app from the header logo
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentHeader.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: wrap every test render in the global I18nProvider (#33655)
  .claude/skills/dust-i18n/SKILL.md
  front/CONTRACTS
  front/components/app/UserLocaleSync.test.tsx
  front/components/me/PendingInvitationsTable.test.tsx
  front/vite.config.mjs
  front/vite.i18nSetup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve jusdge eval
  front/tests/conversational-building-evals/lib/judge.ts
  front/tests/conversational-building-evals/test-suites/batch-edit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Migrate light agent reads to AgentResource (#33642)
  front-api/routes/w/[wId]/me/triggers.test.ts
  front-api/routes/w/[wId]/me/triggers.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/user_analytics/index.ts
  front/lib/api/analytics/programmatic_cost.ts
  front/lib/api/assistant/builder/sidekick_prompts.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/api/assistant/participants.ts
  front/lib/resources/agent_resource_serialization.ts
  front/scripts/seed/inactivity/seedInactivity.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(skills): let agent changes of a suggest call add the skills it creates by ref (#33616)
  front/components/markdown/suggestion/AgentSuggestionDetails.tsx
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/skills/format.ts
  front/scripts/seed/conversational_building/assets/conversations.json
  front/scripts/seed/conversational_building/seedConversationalBuilding.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(marketing): separate consent for PostHog session replay (#33666)
  marketing/components/app/PostHogTracker.tsx
  marketing/components/home/CookieBanner.test.tsx
  marketing/components/home/CookieBanner.tsx
  marketing/components/home/LandingLayout.tsx
  marketing/components/home/menu/FooterNavigation.tsx
  marketing/lib/cookies.ts
  marketing/lib/session_replay.test.ts
  marketing/lib/session_replay.ts
  marketing/package.json
  marketing/vitest.config.ts
  package-lock.json
Due: package-lock-check, biome

[front] fix: drop manual I18nProvider from en-GB tests
  front/components/app/UserLocaleSync.test.tsx
  front/components/me/PendingInvitationsTable.test.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
