Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Remove conversation branch merge/close API.
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/[bId]/close.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/[bId]/close.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/[bId]/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/[bId]/merge.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/[bId]/merge.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/index.ts
  front/lib/api/assistant/conversation/branches.test.ts
  front/lib/api/assistant/conversation/branches.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove conversation branch approval UI and open-branch hooks.
  front/components/assistant/conversation/ConversationBranchApprovalModal.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/types.ts
  front/hooks/conversations/index.ts
  front/hooks/conversations/useConversationBranchActions.ts
  front/hooks/conversations/useOpenConversationBranch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop conversation_branch from destroy-related model allowlists.
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove ConversationBranch feature core: model, resource, and branch-scoped logic
  front/admin/db.ts
  front/dangerfile.ts
  front/lib/api/analytics/source_labels.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/agent_loop.ts
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/conversation/forks.test.ts
  front/lib/api/assistant/conversation/helper.ts
  front/lib/api/assistant/conversation/lock.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/api/assistant/conversation/resolve_authentication.ts
  front/lib/api/assistant/conversation/retry_blocked_actions.ts
  front/lib/api/assistant/conversation/validate_actions.ts
  front/lib/api/assistant/email/validate_tool_from_email.ts
  front/lib/api/programmatic_usage/common.ts
  front/lib/api/projects/conversations.test.ts
  front/lib/api/sandbox/create_child_action.ts
  front/lib/error.ts
  front/lib/models/agent/conversation.ts
  front/lib/models/agent/conversation_branch.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
  front/lib/resources/conversation_branch_resource.test.ts
  front/lib/resources/conversation_branch_resource.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/string_ids.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent_run.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix minor copy for skill availability (#29864)
  front/components/skills/SkillsBatchEdit.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: enlarge agent description editor
  front/components/editor/SkillDescriptionEditor.tsx
  front/components/skill_builder/SkillBuilderAgentFacingDescriptionSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep pod function guidance out of the Frame skill
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
  front/lib/resources/skill/code_defined/global/pod_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove obsolete branchId args from front-api message routes.
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/edit.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
Due: biome

Drop sign-in framing from the Frame identity guidance
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: align skill info description text size
  front/components/editor/SkillDescriptionEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

db: udpate default skill version availability
  front/migrations/pre-deploy/20260731172006_skill_version_default_availability.sql
Due: none

format
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/llm/llm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

db: udpate default skill version availability (#29874)
  front/migrations/pre-deploy/20260731172006_skill_version_default_availability.sql
Due: none

spaceResource import
  front-api/routes/w/[wId]/skills/[sId]/index.ts
Due: biome

update naming
  front/lib/api/skills/space_requirements.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

restricted skills fix scoping
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionDropdown.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/components/pod/settings/PodSettingsTab.tsx
  front/lib/api/skills/space_requirements.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/resources/space_resource.ts
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

.
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

pass test cases
  front/components/pod/settings/PodSettingsTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

settings page ui update
  front/components/agent_builder/capabilities/capabilities_sheet/SpaceSelectionPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Carry each tool footprint through the builder instead of re-indexing by position
  front/lib/api/assistant/agent_message_consumption_attribution/store.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Store usage type of the runs (#29872)
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/llm/llm.ts
  front/lib/resources/run_resource.test.ts
  front/lib/resources/run_resource.ts
  front/lib/resources/storage/models/runs.ts
  front/migrations/pre-deploy/20260731154825_add_usage_type_to_run_usages.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify that identity is available under either policy
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
  front/lib/resources/skill/code_defined/global/pod_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document user identity in Pod Function and Frame skills
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
  front/lib/resources/skill/code_defined/global/pod_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skill favorite API response types
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skill favorites feature flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose skill favorites in private APIs
  front-api/routes/w/[wId]/skills/[sId]/favorite.ts
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

Use skill response types directly in tests
  front-api/routes/w/[wId]/skills/index.test.ts
Due: biome

Use array syntax in skill responses
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Avoid inline awaits in skill favorite APIs
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

Simplify skill API response types
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/types/api/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove unused skill loader data
  front-api/routes/w/[wId]/skills/[sId]/favorite.ts
Due: biome

Restore skill favorites flag import
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

Restore skill favorite API imports
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
Due: biome

Attribute per-tool consumption for settled agent messages (#29868)
  front/lib/api/assistant/agent_message_consumption_attribution/attribution_builder.ts
  front/lib/api/assistant/agent_message_consumption_attribution/store.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/store.ts
  front/lib/api/assistant/agent_message_consumption_attribution/tool_footprint.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/tool_footprint.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/tests/utils/AgentMCPActionFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tell the model to copy skill names verbatim in the equipped-skills list
  front/lib/api/assistant/conversation_rendering/helpers.test.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/skills_rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tell the agent it is replying in the Slack thread, not drafting for someone else
  front/lib/api/assistant/generation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add production check to ensure free usage stay low
  front/lib/production_checks/checks/check_excess_free_usage.ts
  front/temporal/production_checks/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep the verbatim-name guidance convention-agnostic
  front/lib/api/assistant/conversation_rendering/helpers.test.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/skills_rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
