Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] Add get_credit_timeseries tool to workspace_analytics (#27247)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/api/actions/servers/workspace_analytics/query_input.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.test.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
  front/lib/api/assistant/observability/credit_usage.ts
  front/lib/resources/skill/code_defined/workspace_analytics.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Self improving skills in AWU: update the UI to display AWU in metronome billed workspaces (#27241)
  front/components/pages/workspace/developers/SelfImprovingSkillsConsumptionSection.tsx
  front/components/pages/workspace/developers/SelfImprovingSkillsPage.tsx
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/components/workspace/settings/SelfImprovingSkillsSettingsSection.tsx
  front/lib/swr/useSelfImprovingSkillsSettings.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Stop biasing the analytics source filter to a few origins
  front/lib/api/actions/servers/workspace_analytics/query_input.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Gate sensitivity-labels reconciliation workflow on non-empty labels + FF
  connectors/scripts/microsoft_terminate_sensitivity_labels_workflows.ts
  connectors/src/connectors/microsoft/index.ts
Due: connectors-typecheck, biome, connectors-eslint

Improve top-up modal UX
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove feature flag check from sensitivity labels workflow gate
  connectors/scripts/microsoft_terminate_sensitivity_labels_workflows.ts
  connectors/src/connectors/microsoft/index.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix migration number
  front/migrations/db/migration_678.sql
Due: none

Use InputWithSave for self improving skills
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/components/workspace/settings/SelfImprovingSkillsSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Gate microsoft sensitivity-labels reconciliation workflow on non-empty labels + FF (#27253)
  connectors/scripts/microsoft_terminate_sensitivity_labels_workflows.ts
  connectors/src/connectors/microsoft/index.ts
Due: connectors-typecheck, biome, connectors-eslint

fix exa MCP name and feature flag
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/exa/index.ts
  front/lib/api/actions/servers/exa/metadata.ts
  front/lib/metronome/events.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): add Vertex model ID mapping for Claude Opus 4.8
  front/lib/api/llm/clients/anthropic/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(codeowners): add llm-router-owners for front/lib/api/llm (#27251)
  .github/CODEOWNERS
Due: none

Add isBrandedFramesAllowed plan attribute for branded frames feature (#27228)
  extension/ui/components/auth/AuthProvider.tsx
  front-api/routes/poke/plans.ts
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front/components/poke/plans/form.tsx
  front/lib/api/poke/plans.ts
  front/lib/assistant.test.ts
  front/lib/models/plan.ts
  front/lib/plans/credit_priced_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/lib/resources/subscription_resource.test.ts
  front/lib/resources/subscription_resource.ts
  front/migrations/db/migration_678.sql
  front/scripts/seed/byok/seed.ts
  front/tests/utils/PlanFactory.ts
  front/types/plan.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve top-up modal UX (#27255)
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Re-land Microsoft label reconciliation traversal fix, safely
  connectors/src/connectors/microsoft/lib/graph_api.ts
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/file.ts
  connectors/src/connectors/microsoft/temporal/spreadsheets.ts
  connectors/src/connectors/microsoft/temporal/workflows.ts
Due: connectors-typecheck, biome, connectors-eslint

feat(llm): add Vertex model ID mapping for Claude Opus 4.8 (#27252)
  front/lib/api/llm/clients/anthropic/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke] Show Usage tab for any Metronome-backed workspace (#27235)
  front/components/poke/pages/WorkspacePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed icons
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/billing/seatTypeUtils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

use switch
  front/components/workspace/settings/SelfImprovingSkillsSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] UsagePage: hide pool, top-up, and settings sections on free plan
  front/components/pages/workspace/UsagePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): map europe-west1 Vertex region to eu location
  front/lib/api/llm/clients/google/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed icons (#27258)
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/billing/seatTypeUtils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle no-seat errors
  front-api/routes/w/[wId]/usage-status.ts
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/navigation/AppStatusBanner.tsx
  front/hooks/useCreateConversationWithMessage.ts
  front/lib/api/assistant/conversation.ts
  front/lib/metronome/user_block.test.ts
  front/lib/metronome/user_block.ts
  front/lib/swr/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use InputWithSave for self improving skills (#27256)
  front/components/workspace/settings/SelfImprovingSkillsListSection.tsx
  front/components/workspace/settings/SelfImprovingSkillsSettingsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): remove Vertex location override for Google client
  front/lib/api/llm/clients/google/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address PR review: extract shared limit-error mapper, reduce test cast
  front/components/app/ReachedLimitPopup.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/lib/metronome/user_block.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): map europe-west1 Vertex region to eu location (#27261)
  front/lib/api/llm/clients/google/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix exa MCP name and feature flag (#27262)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/exa/index.ts
  front/lib/api/actions/servers/exa/metadata.ts
  front/lib/metronome/events.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Store the workspace default credit pool cap in credit_usage_configurations
  front-api/routes/w/[wId]/members/[uId]/spend_limit.test.ts
  front-api/routes/w/[wId]/usage_settings/default_user_spend_limit.test.ts
  front-api/routes/w/[wId]/usage_settings/default_user_spend_limit.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/reconcile_credit_state.ts
  front/lib/api/users/spend_limit.ts
  front/lib/api/workspace/default_user_spend_limit.test.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/live_user_credit_inputs.test.ts
  front/lib/metronome/live_user_credit_inputs.ts
  front/lib/resources/credit_usage_configuration_resource.ts
  front/lib/resources/storage/models/credit_usage_configurations.ts
  front/migrations/20260605_backfill_workspace_default_pool_caps.ts
  front/migrations/db/migration_679.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Skills] Convert customized skills to skill references (#27106)
  front/migrations/20260609_backfill_customized_skill_references.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle future seat type changes
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Deduplicate reconciliation
  front/lib/api/metronome/process_webhook.ts
  front/temporal/metronome_events_queue/activities.ts
  front/temporal/metronome_events_queue/client.ts
  front/temporal/metronome_events_queue/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove credit.segment.end
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Email Agents] Continue existing conversation when replying to an agent email
  front/lib/api/assistant/email/email_trigger.test.ts
  front/lib/api/assistant/email/email_trigger.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add workspace_branding file upload use case with SVG rasterization
  front-api/routes/w/[wId]/files/index.test.ts
  front-api/routes/w/[wId]/files/index.ts
  front/lib/api/config.ts
  front/lib/api/files/preprocessing/images.ts
  front/lib/api/files/processing/images.ts
  front/lib/api/files/processing/index.test.ts
  front/lib/api/files/processing/index.ts
  front/package.json
  front/types/files.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix comments
  front/lib/api/metronome/process_webhook.ts
  front/temporal/metronome_events_queue/activities.ts
  front/temporal/metronome_events_queue/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Only match conversation links in the quoted thread part
  front/lib/api/assistant/email/email_trigger.test.ts
  front/lib/api/assistant/email/email_trigger.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

✨
  front/lib/api/files/preprocessing/images.ts
  front/lib/api/files/processing/images.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add missing file
  front/lib/api/files/use_cases/workspace_branding.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

📖
  front-api/public/swagger.json
Due: biome
