Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Update Node to 22.22.0 in extension
  extension/.nvmrc
  extension/package.json
  package-lock.json
Due: package-lock-check, biome

Display model and total time in poke
  front/components/poke/pages/ConversationPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Persist UTM params as cookies and add server-side PostHog tracking at signup
  front/hooks/useStripUtmParams.ts
  front/lib/api/config.ts
  front/lib/tracking/posthog/server.ts
  front/lib/tracking/server.ts
  front/lib/utils/utm.ts
  front/pages/api/login.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update front/components/editor/input_bar/useCustomEditor.tsx
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Conversation Guardrails] Mitigation 2: ignore Enter autorepeat and add cooldown (#22127)
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix formatting
  front/components/poke/pages/ConversationPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update Node to 22.22.0 in extension (#22160)
  extension/.nvmrc
  extension/package.json
  package-lock.json
Due: package-lock-check, biome

in app banner for academy
  front/components/assistant/conversation/InAppBanner.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/public/static/Academy_Banner.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Display model and total time in poke (#22161)
  front/components/poke/pages/ConversationPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move client side MCP to front-sse deployment
  front/lib/api/assistant/mcp_events.ts
  front/lib/api/sse_redirect.ts
  front/pages/api/sse/v1/w/[wId]/mcp/requests.ts
  front/pages/api/sse/w/[wId]/mcp/requests.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Make subscription status more accurate in poke
  front/components/poke/subscriptions/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add tools resource page and agents gallery
  front/components/home/content/Agents/AgentDemoChat.tsx
  front/components/home/content/Agents/agentsConfig.tsx
  front/components/home/content/Agents/agentsGalleryConfig.tsx
  front/components/home/content/Tools/toolsConfig.ts
  front/components/home/menu/config.ts
  front/pages/home/agents/gallery.tsx
  front/pages/home/agents/incident-postmortem.tsx
  front/pages/home/agents/index.tsx
  front/pages/home/agents/job-description.tsx
  front/pages/home/agents/prompt-maker.tsx
  front/pages/home/agents/sop-generator.tsx
  front/pages/home/tools/[tool].tsx
  front/pages/home/tools/index.tsx
  front/public/static/connectors/attio.png
  front/public/static/connectors/attio.svg
  front/public/static/connectors/canva.png
  front/public/static/connectors/excel.png
  front/public/static/connectors/gmail.webp
  front/public/static/connectors/gong.png
  front/public/static/connectors/intercom.png
  front/public/static/connectors/microsoft.png
  front/public/static/connectors/monday.png
  front/public/static/connectors/outlook.png
  front/public/static/connectors/salesforce.png
  front/public/static/connectors/sharepoint.png
  front/public/static/connectors/slack.png
  front/public/static/connectors/teams.png
  front/public/static/connectors/valtown.png
  front/public/static/connectors/vanta.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

invalidate cache
  front/pages/api/w/[wId]/spaces/[spaceId]/join.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix name
  front/lib/api/assistant/mcp_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Add cache invalidation on makeNew
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Add cache invalidation on makeNew (#22153)
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Make subscription status more accurate in poke (#22155)
  front/components/poke/subscriptions/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Get rid of joinGroup (#22154)
  front/lib/resources/group_resource.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/join.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix index name
  front/migrations/db/migration_517.sql
Due: none

rename id into model id
  front/migrations/20260223_backfill_feedback_conversation_id.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Expose child agent convo/events URL in public API (#22082)
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

update salesforce_update tool to medium
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/actions/servers/salesforce/metadata.ts
  front/lib/api/actions/servers/salesforce/tools/index.ts
  front/migrations/20260219_disable_update_object_for_existing_salesforce_instances.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add ability to promote frame to project.
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/InteractiveContentContainer.tsx
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentHeader.tsx
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/viz/files.test.ts
  front/lib/api/viz/files.ts
  front/lib/resources/file_resource.ts
  front/lib/swr/frames.ts
  front/pages/api/v1/public/frames/[token]/index.ts
  front/pages/api/v1/viz/content.ts
  front/pages/api/v1/viz/files/[fileId].ts
  front/pages/api/v1/viz/files/fileId.test.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.test.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Fix: tests
  front/pages/api/v1/viz/files/fileId.test.ts
  front/tests/utils/WorkspaceFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Review fdbk
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/lib/api/viz/files.test.ts
  front/lib/api/viz/files.ts
  front/lib/resources/file_resource.ts
  front/pages/api/v1/public/frames/[token]/index.ts
  front/pages/api/v1/viz/files/[fileId].ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.test.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Add logout shortcut
  front-spa/src/app/App.tsx
Due: biome

Add confirm dialog
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Optimize frame lookup
  front/lib/auth/RegionContext.tsx
  front/lib/resources/file_resource.ts
  front/lib/swr/workspaces.ts
  front/pages/api/lookup/[resource]/index.ts
  front/pages/api/share/frame/[token].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: add conversation ID FK to `agent_message_feedbacks` (#22126)
  front/lib/api/assistant/feedback.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/agent_message_feedback_resource.ts
  front/lib/resources/conversation_resource.test.ts
  front/migrations/20260223_backfill_feedback_conversation_id.ts
  front/migrations/db/migration_517.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

in app banner for academy (#22162)
  front/components/assistant/conversation/InAppBanner.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/public/static/Academy_Banner.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add confirm dialog (#22173)
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Optimize frame lookup (#22163)
  front/lib/auth/RegionContext.tsx
  front/lib/resources/file_resource.ts
  front/lib/swr/workspaces.ts
  front/pages/api/lookup/[resource]/index.ts
  front/pages/api/share/frame/[token].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add ability to promote frame to project. (#22113)
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/InteractiveContentContainer.tsx
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/PublicInteractiveContentHeader.tsx
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/viz/files.test.ts
  front/lib/api/viz/files.ts
  front/lib/resources/file_resource.ts
  front/lib/swr/frames.ts
  front/pages/api/v1/public/frames/[token]/index.ts
  front/pages/api/v1/viz/content.ts
  front/pages/api/v1/viz/files/[fileId].ts
  front/pages/api/v1/viz/files/fileId.test.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.test.ts
  front/pages/api/w/[wId]/files/[fileId]/save-in-project.ts
  front/tests/utils/WorkspaceFactory.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Tool activity: avoid calling Authenticator.fromJSON twice when calling tool
  front/temporal/agent_loop/activities/run_tool.ts
  front/types/assistant/agent_run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add logout shortcut (#22172)
  front-spa/src/app/App.tsx
Due: biome

Fix branch name in deploy workflow
  .github/workflows/deploy-spa.yaml
Due: biome

[front] - refactor: memoize toggleEditor function in ManageUsersPanel (#22120)
  front/components/assistant/conversation/space/ManageUsersPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
