Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

feat(models): restore stop_error and refusal_error semantics for claude
  front/lib/model_constructors/clients/anthropic/anthropicConverter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(models): generate gemini tool-call id when missing
  front/lib/model_constructors/clients/google-ai-studio/googleAiStudioConverter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove mark task as done tool and update update task tool (#26501)
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/PodTasksUpdateValidationDetails.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.test.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/types.ts
  front/lib/resources/project_task_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleaning: Introduce constant for usage_type values
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/alerts/programmatic_cap.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/events.ts
  front/lib/metronome/per_user_usage.ts
  front/lib/metronome/setup_common.ts
  front/lib/metronome/setup_new_pricing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Actually throttle when getting close to programmatic usage limit
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add index to Sequelize model
  front/lib/models/skill/group_skill.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add migration file
  front/migrations/db/migration_659.sql
Due: none

feat(billing): notify users when their per-user AWU cap is reached
  front-api/routes/novu/index.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/api/users/spend_limit.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/alerts/spend_limits.ts
  front/lib/metronome/webhook_events.ts
  front/lib/notifications/workflows/user-awu-cap-reached.ts
  front/pages/api/novu/index.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleaning: Introduce constant for usage_type values (#26550)
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/alerts/programmatic_cap.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/events.ts
  front/lib/metronome/per_user_usage.ts
  front/lib/metronome/setup_common.ts
  front/lib/metronome/setup_new_pricing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add index to Sequelize model
  front/lib/resources/storage/models/workspace.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add migration file
  front/migrations/db/migration_660.sql
Due: none

Revert "[front] Base64-inline images for direct Anthropic API (#26541)"
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "[front] Base64-inline images for direct Anthropic API (#26541)" (#26553)
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop upserts that have beenin the queue for over an hour
  core/src/databases/table_upserts_background_worker.rs
Due: none

Rename migration file
  front/migrations/db/migration_661.sql
Due: none

[front] feat: add OpenAI-targeted Frames skill variant
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/instructions_openai_v1.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/skills_rendering.test.ts
  front/lib/api/assistant/skills_rendering.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop poison entries from table upserts queue after max age
  core/src/databases/table.rs
  core/src/databases/table_upserts_background_worker.rs
Due: none

[front] fix: keep labeled tool chip names
  front/components/editor/extensions/skill_builder/ToolNodeWithView.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: list tools in Skill Builder slash dropdown
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/shared/SlashCommandToolItems.test.ts
  front/components/editor/extensions/shared/SlashCommandToolItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandDropdown.tsx
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update tests
  front/pages/api/w/[wId]/members/search.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename migration file
  front/migrations/db/migration_662.sql
Due: none

chore(docker): remove COMMIT_HASH ARG from base-deps to fix cache busting (#26461)
  dockerfiles/front.Dockerfile
Due: none

fix
  front-api/routes/w/[wId]/members/lookup.ts
  front-api/routes/w/[wId]/members/search.ts
  front/lib/swr/memberships.ts
  front/pages/api/w/[wId]/members/search.test.ts
  front/pages/api/w/[wId]/members/search.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: drop unused frames-variant helper exports
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop upserts that have been in the queue for over an hour (#26534)
  core/src/databases/table.rs
  core/src/databases/table_upserts_background_worker.rs
Due: none

Add a limit to warn at 80% of programmatic usage
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/alerts/programmatic_cap.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix hono
  front-api/routes/w/[wId]/members/search.test.ts
Due: biome

add tests to hono
  front-api/routes/w/[wId]/members/search.test.ts
Due: biome

[front] refactor: resolve frames variant by agent sId, not runtime field
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/instructions_openai_v1.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/skills_rendering.test.ts
  front/lib/api/assistant/skills_rendering.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refacto
  front/components/poke/invitations/columns.tsx
  front/lib/api/invitation.ts
  front/lib/constants/invitation.ts
  front/lib/models/membership_invitation.ts
  front/lib/resources/membership_invitation_resource.ts
  front/lib/resources/subscription_resource.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/invitation_reminders/config.ts
  front/temporal/membership_invitations/activities.ts
  front/temporal/membership_invitations/admin/cli.sh
  front/temporal/membership_invitations/admin/cli.ts
  front/temporal/membership_invitations/client.ts
  front/temporal/membership_invitations/config.ts
  front/temporal/membership_invitations/membership_invitations.test.ts
  front/temporal/membership_invitations/worker.ts
  front/temporal/membership_invitations/workflows.ts
  front/temporal/worker_registry.ts
  front/types/membership_invitation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: add index on `group_skills` `"skillConfigurationId"` (#26554)
  front/lib/models/skill/group_skill.ts
  front/migrations/db/migration_661.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Enable SEPA for eur enterprise (#26546)
  front/lib/api/stripe/webhook_handler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Actually throttle when getting close to programmatic usage limit (#26551)
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(feature-flags): add user_settings_v2 flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add a limit to warn at 80% of programmatic usage (#26555)
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/alerts/programmatic_cap.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix skill reference rename dollar handling
  front/lib/skills/format.test.ts
  front/lib/skills/format.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove assert nevers in front-end code
  front/components/spaces/UsedByButton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add method to serialize tag for global skills
  front/lib/resources/skill/code_defined/global_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(feature-flags): add user_settings_v2 flag (#26560)
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
