Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Use stub files for all the legacy handlers to match Next (#26505)
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/export/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/check_upsert_queue.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/parents.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/documents/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/folders/[fId].ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/folders/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/search.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/parents.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/[rId].ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/csv.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/index.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tokenize.ts
  front-api/routes/v1/w/[wId]/data_sources/index.ts
  front/pages/api/v1/w/[wId]/data_sources/[dsId]/tokenize.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] feat: sync nested skill references on save (#26455)
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.test.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.test.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: block skill slash submit while loading
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: list skills in Skill Builder slash dropdown
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/shared/SlashCommandSkillItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandDropdown.tsx
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: list skills in Skill Builder slash dropdown (#26449)
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/shared/SlashCommandSkillItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandDropdown.tsx
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix credit/commit events handling
  front/components/pages/workspace/UsagePage.tsx
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed scrollbar
  front/components/poke/subscriptions/SwitchContractDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] fix: correct SSE redirect double /api prefix (#26472)
  front-api/lib/api/sse/redirect.test.ts
  front-api/lib/api/sse/redirect.ts
Due: biome

Add: function to mounts from multiple scopes
  front/lib/api/file_system/dust_file_system.test.ts
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix credit/commit events handling (#26508)
  front/components/pages/workspace/UsagePage.tsx
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Escape full xml block with attributes in agent instructions (#26413)
  front/components/editor/extensions/agent_builder/InstructionBlockExtension.test.ts
  front/components/editor/lib/preprocessMarkdownForEditor.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fixed scrollbar (#26509)
  front/components/poke/subscriptions/SwitchContractDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: function to mounts from multiple scopes (#26417)
  front/lib/api/file_system/dust_file_system.test.ts
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update mcp files system to work outside of the current scope.
  front/lib/api/actions/servers/files/index.ts
  front/lib/api/actions/servers/files/metadata.ts
  front/lib/api/actions/servers/files/tools/agent_loop_fs.ts
  front/lib/api/actions/servers/files/tools/cat.ts
  front/lib/api/actions/servers/files/tools/copy.ts
  front/lib/api/actions/servers/files/tools/create.ts
  front/lib/api/actions/servers/files/tools/delete.ts
  front/lib/api/actions/servers/files/tools/grep.ts
  front/lib/api/actions/servers/files/tools/index.ts
  front/lib/api/actions/servers/files/tools/list.test.ts
  front/lib/api/actions/servers/files/tools/list.ts
  front/lib/api/actions/servers/files/tools/move.ts
  front/lib/api/actions/servers/files/tools/resolve.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update mcp files system to work outside of the current scope. (#26429)
  front/lib/api/actions/servers/files/index.ts
  front/lib/api/actions/servers/files/metadata.ts
  front/lib/api/actions/servers/files/tools/agent_loop_fs.ts
  front/lib/api/actions/servers/files/tools/cat.ts
  front/lib/api/actions/servers/files/tools/copy.ts
  front/lib/api/actions/servers/files/tools/create.ts
  front/lib/api/actions/servers/files/tools/delete.ts
  front/lib/api/actions/servers/files/tools/grep.ts
  front/lib/api/actions/servers/files/tools/index.ts
  front/lib/api/actions/servers/files/tools/list.test.ts
  front/lib/api/actions/servers/files/tools/list.ts
  front/lib/api/actions/servers/files/tools/move.ts
  front/lib/api/actions/servers/files/tools/resolve.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Seats commitment
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front/admin/db.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/ChangeSeatModal.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/components/workspace/billing/BillingSeatsOverview.tsx
  front/hooks/useCreateConversationWithMessage.ts
  front/hooks/useSubmitMessage.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/membership.ts
  front/lib/api/poke/plugins/workspaces/index.ts
  front/lib/api/poke/plugins/workspaces/manage_seat_limits.ts
  front/lib/metronome/client.ts
  front/lib/metronome/events.ts
  front/lib/metronome/seat_types.test.ts
  front/lib/metronome/seat_types.ts
  front/lib/metronome/seats.test.ts
  front/lib/metronome/seats.ts
  front/lib/metronome/seats_sync.test.ts
  front/lib/resources/storage/models/workspace_seat_limit.ts
  front/lib/resources/workspace_seat_limit_resource.ts
  front/lib/swr/memberships.ts
  front/migrations/db/migration_658.sql
  front/pages/api/w/[wId]/members/[uId]/seat-type.ts
  front/tests/utils/WorkspaceFactory.ts
  front/types/assistant/conversation.ts
  front/types/error.ts
  front/types/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

ConversationFileExplorer: use 2 separates components to keep state when switching back and forth.
  front/components/assistant/conversation/files_panel/ConversationFileExplorer.tsx
  front/components/file_explorer/FileExplorer.tsx
  front/components/file_explorer/FileExplorerBreadcrumb.tsx
  front/components/pod/files/PodFileExplorer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

ConversationFileExplorer: use 2 separates components to keep state when switching back and forth. (#26512)
  front/components/assistant/conversation/files_panel/ConversationFileExplorer.tsx
  front/components/file_explorer/FileExplorer.tsx
  front/components/file_explorer/FileExplorerBreadcrumb.tsx
  front/components/pod/files/PodFileExplorer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(slack-bot): include forwarded messages in thread text attachment
  connectors/src/connectors/slack/lib/messages.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] add skill instruction references footer
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] expose skill capability insertion
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] add skill builder capability dropdown
  front/components/skill_builder/SkillBuilderInstructionsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] sort skill instruction references
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Collapse noCssImportant grit plugin into a single regex
  .grit/patterns/noCssImportant.grit
Due: none

[front] gate skill instruction references footer
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust-hive] filter bash warm cool completions
  x/henry/dust-hive/completions/dust-hive.bash
Due: none

[dust-hive] filter zsh warm cool completions
  x/henry/dust-hive/completions/dust-hive.zsh
Due: none

[dust-hive] filter more bash completions by state
  x/henry/dust-hive/completions/dust-hive.bash
Due: none

[dust-hive] filter more zsh completions by state
  x/henry/dust-hive/completions/dust-hive.zsh
Due: none

[front] lighten skill references footer label
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] tune skill references footer label
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] open skill capabilities inline
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
  front/components/skill_builder/SkillBuilderInstructionsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] reduce skill references footer blur
  front/components/skill_builder/SkillBuilderInstructionsReferenceSummary.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] hide knowledge in capability slash menu
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] filter capability slash base items
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] track capability slash trigger
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sandbox): use native TLS roots for dsbx API client
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] scope capability slash trigger
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(slack): avoid empty attachment text
  connectors/src/connectors/slack/lib/messages.ts
Due: connectors-typecheck, biome, connectors-eslint

Clean credits configuration
  front/lib/resources/credit_usage_configuration_resource.ts
  front/poke/temporal/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
