Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

chore(copilot-edge): remove prompt caching when development mode is on (#22334)
  front/lib/api/assistant/global_agents/langfuse_prompts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove anthropic token count feature flag
  front/lib/api/llm/clients/anthropic/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ignore FF outside of a workspace
  front/lib/auth/AuthContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[extension] - refactor: standardize class naming function across components
  extension/platforms/chrome/ChromeExtensionWrapper.tsx
  extension/shared/lib/utils.ts
  extension/ui/components/auth/ProtectedRoute.tsx
Due: biome

Build Icon update
  sparkle/build_icons.sh
Due: none

update snapshot
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

Automatically populate name suggestions (#22296)
  front/components/agent_builder/settings/AgentBuilderNameSection.tsx
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
  front/lib/api/assistant/suggestions/name.ts
  front/pages/api/w/[wId]/assistant/builder/suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add error boundaries in router
  front-spa/src/app/routes.tsx
  front-spa/src/oauth/OAuthApp.tsx
  front-spa/src/poke/routes.tsx
  front-spa/src/share/ShareApp.tsx
Due: biome

copilot: add eval test to check that the agent output contain the suggestions
  front/tests/copilot-evals/copilot-eval.test.ts
  front/tests/copilot-evals/lib/config.ts
  front/tests/copilot-evals/lib/copilot-executor.ts
  front/tests/copilot-evals/lib/mock-responses.ts
  front/tests/copilot-evals/test-suites/new-agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: update comment
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make start/end date inclusive for users and builders analytics
  front/lib/workspace_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[extension] - refactor: standardize class naming function across components (#22337)
  extension/platforms/chrome/ChromeExtensionWrapper.tsx
  extension/shared/lib/utils.ts
  extension/ui/components/auth/ProtectedRoute.tsx
Due: biome

[sparkle] - feature: add display names to React components for easier debugging
  sparkle/src/components/Card.tsx
  sparkle/src/components/Tabs.tsx
  sparkle/src/components/Tooltip.tsx
  sparkle/src/hooks/index.ts
Due: biome

[sparkle] - refactor: standardize component exports in ButtonsSwitch and related
  sparkle/src/components/ButtonsSwitch.tsx
  sparkle/src/components/CollapseButton.tsx
  sparkle/src/components/ConfettiBackground.tsx
  sparkle/src/components/DropzoneOverlay.tsx
  sparkle/src/components/Spinner.tsx
  sparkle/src/components/index.ts
Due: biome

[sparkle/src/hooks] - feature: add hook for managing sheet container element
  sparkle/src/hooks/useSheetContainer.ts
Due: biome

[sparkle] - refactor: centralize logic for portal container handling
  sparkle/src/components/Dropdown.tsx
  sparkle/src/components/Popover.tsx
  sparkle/src/components/Tooltip.tsx
Due: biome

Increase notification display time (#22333)
  sparkle/src/components/Notification.tsx
Due: biome

More dark mode
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/stories/Projects.tsx
  sparkle/src/components/ConversationListItem.tsx
  sparkle/src/logo/platforms/Attio.svg
Due: biome

Attio logo
  sparkle/src/logo/platforms/Attio.tsx
  sparkle/src/logo/platforms/index.ts
  sparkle/src/logo/src/platforms/Attio.svg
Due: biome

Instrument MCP output items
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: chrome types
  front/package.json
  package-lock.json
Due: package-lock-check, biome

Make start/end date inclusive for users and builders analytics (#22341)
  front/lib/workspace_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

copilot: add eval test to check that the agent output contain the suggestions (#22340)
  front/tests/copilot-evals/copilot-eval.test.ts
  front/tests/copilot-evals/lib/config.ts
  front/tests/copilot-evals/lib/copilot-executor.ts
  front/tests/copilot-evals/lib/mock-responses.ts
  front/tests/copilot-evals/test-suites/new-agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: format and remove unused import in MCP proxy code
  front/lib/actions/mcp_metadata.ts
  front/lib/egress/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add Dust vs ChatGPT competitive landing page
  front/components/home/content/Competitive/config/chatgptConfig.tsx
  front/pages/landing/chatgpt.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Instrument MCP output items (#22342)
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: fall back to untrusted egress when static IP proxy is not configured
  front/lib/actions/mcp_metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: classnames import
  extension/platforms/chrome/ChromeExtensionWrapper.tsx
  extension/ui/components/auth/ProtectedRoute.tsx
Due: biome

fix: chrome types (#22343)
  front/package.json
  package-lock.json
Due: package-lock-check, biome

fix: remove extra blank line after import removal
  front/lib/actions/mcp_metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): route SSE connections through correct proxy for static IP egress (#22325)
  front/lib/actions/mcp_metadata.ts
  front/lib/egress/server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Avoid unnecessary workspace update
  front/lib/api/workos/organization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(Zendesk): add tool to post reply (#22336)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/zendesk/client.ts
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Ignore FF outside of a workspace (#22335)
  front/lib/auth/AuthContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] - refacto: standardization / `useSheetContainer` (#22332)
  sparkle/src/components/ButtonsSwitch.tsx
  sparkle/src/components/Card.tsx
  sparkle/src/components/CollapseButton.tsx
  sparkle/src/components/ConfettiBackground.tsx
  sparkle/src/components/Dropdown.tsx
  sparkle/src/components/DropzoneOverlay.tsx
  sparkle/src/components/Popover.tsx
  sparkle/src/components/Spinner.tsx
  sparkle/src/components/Tabs.tsx
  sparkle/src/components/Tooltip.tsx
  sparkle/src/components/index.ts
  sparkle/src/hooks/index.ts
  sparkle/src/hooks/useSheetContainer.ts
Due: biome

feat: enhance ChatGPT landing page with customers section and fixes
  front/components/home/content/Competitive/CompetitiveCustomersSection.tsx
  front/components/home/content/Competitive/config/chatgptConfig.tsx
  front/pages/landing/chatgpt.tsx
  front/public/static/landing/logos/gray/chatgpt.svg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Avoid unnecessary workspace update (#22344)
  front/lib/api/workos/organization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add redirect
  front-spa/src/poke/routes.tsx
Due: biome

Fix import cycle, move termination into switch case, use concurrentExecutor
  front/lib/resources/workspace_resource.ts
  front/temporal/agent_loop/client.ts
  front/temporal/agent_loop/terminate.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix import ordering for biome format check
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
