Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

rework display labels
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename icon
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename icon
  front/components/resources/resources_icon_names.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

use Frame in naming for user-facing labels
  front/lib/api/actions/servers/interactive_content/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update icon for ask user question tool
  front/lib/api/actions/servers/ask_user_question/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(google_drive): skip spreadsheets with too many sheets
  connectors/src/connectors/google_drive/temporal/spreadsheets.ts
Due: connectors-typecheck, biome, connectors-eslint

Format fixes
  front/lib/api/actions/servers/agent_sidekick_context/tools/index.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/reactions/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update compaction plan with PR 1.1+1.3 progress and TODO tracker
  x/spolu/compaction/plan.md
Due: biome

fix grammar
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: project popover height (#24045)
  front/components/assistant/conversation/sidebar/ProjectsBrowsePopover.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix comment:
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sessions] Block agent switch when a different agent has a pending blocked action (#24022)
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix tests
  front/lib/actions/tool_display_labels.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/actions/servers/web_search_browse/tools/index.ts
  front/lib/api/assistant/configuration/yaml_import.ts
  front/lib/resources/kill_switch_resource.ts
  front/lib/resources/workspace_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors] feat(slack): gracefully handle stream expiry mid-answer
  connectors/src/connectors/slack/chat/slack_stream_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

Notes added by 'git notes add'
  de/cc936d7673a5c2719ab20d93effebaea42936f
Due: none

Notes added by 'git notes add'
  32/586033351ef9285f5bcc36e76d746adc7ee004
Due: none

[Connectors] fix(slack): bubble up planHandler to streamConversationToSlack and cleanup with try/finally
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

Notes added by 'git notes add'
  f6/128c2107047f17b5b023f42b8226449425e733
Due: none

Notes added by 'git notes add'
  61/aff9e6bc4766c8fa2d73e5440ac3c6742f2602
Due: none

fix(google_drive): skip spreadsheets with too many sheets (#24044)
  connectors/src/connectors/google_drive/temporal/spreadsheets.ts
Due: connectors-typecheck, biome, connectors-eslint

Project tools update: remove list_unread, clarify conv search, add attach_to_conversation.
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/conversation_files/index.ts
  front/lib/api/actions/servers/conversation_files/metadata.ts
  front/lib/api/actions/servers/conversation_files/tools/index.ts
  front/lib/api/actions/servers/project_manager/metadata.ts
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/assistant/conversation/attachments.ts
  front/lib/api/projects/butler.ts
  front/lib/api/projects/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve typing
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
  front/components/assistant/conversation/types.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix caching invalidation on kill switches (#24047)
  front/lib/api/actions/servers/web_search_browse/tools/index.ts
  front/lib/api/assistant/configuration/yaml_import.ts
  front/lib/resources/kill_switch_resource.ts
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/[dsvId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/data_source_views/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: update icon for `ask_user_question` tool (#23918)
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  front/lib/actions/tool_display_labels.test.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/ask_user_question/metadata.ts
  front/lib/api/actions/servers/interactive_content/metadata.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

front: update conversation fork cleanup tests
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: change project sources to align with takeaways
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/project_todo/merge_into_project.ts
  front/lib/resources/project_todo_resource.ts
  front/lib/resources/storage/models/project_todo.ts
  front/migrations/db/migration_574.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

improve typing
  front/lib/notifications/workflows/conversation-unread.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Sessions] Add conversation fork lineage model (#24040)
  front/admin/db.ts
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/models/agent/conversation_fork.ts
  front/lib/resources/conversation_resource.test.ts
  front/migrations/db/migration_574.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(migrations): apply stashed changes after switching back to branch (#23990)
  connectors/create_db_migration_file.sh
  front/create_db_migration_file.sh
Due: none

fix method name to match rename
  front/lib/api/assistant/global_agents/global_agents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  0a/813b959bfb0b1cae8e0a4095c3f5f16c34c92d
Due: none

add agent details
  front/components/assistant/AgentPicker.tsx
  front/components/assistant/conversation/input_bar/InputBarButtons.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors] feat(slack): gracefully handle stream expiry mid-answer
  connectors/src/connectors/slack/chat/slack_stream_handler.ts
  firebase-functions/webhook-router/docker-compose.yml
Due: connectors-typecheck, biome, connectors-eslint

Notes added by 'git notes add'
  14/9163eede3ee6ae5e3f878492db9783418438d7
Due: none

assertNeverAndIgnore client side
  front/components/assistant/conversation/space/conversations/SpaceConversationListItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix audit logs coding rules
  front/CODING_RULES.md
  front/runbooks/NEW_AUDIT_EVENT.md
Due: biome

[front] fix: lint on main on missing method `KillSwitchResource.isKillSwitchEnabledCached` (#24052)
  front/lib/api/assistant/global_agents/global_agents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
