Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] fix: prioritize prefix matches in capability search
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: Single source of truth for client message origins (#29900)
  front/types/api/assistant.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add rate limiter for sidekick usage (#29879)
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/rate_limits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] BACK15: serialized shapes belong to the Resource (#29891)
  front/CODING_RULES.md
Due: biome

Limit front Docker build context
  dockerfiles/front.Dockerfile.dockerignore
Due: none

[front] refactor: use autocomplete capability ranking
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/lib/utils.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Optimize front image dependency setup
  dockerfiles/front.Dockerfile
  front/package.json
Due: package-lock-check, biome

Inline the personal-auth event check instead of a one-off type guard
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: manage skill editors from info page
  front/components/skills/SkillEditorsTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use Input's built-in suffix prop for the credits/month unit label
  front/components/workspace/BulkEditSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose agent message consumption details (#29894)
  front-api/public/swagger.json
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/consumption.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/consumption.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/index.ts
  front-api/vite.setup.ts
  front/lib/api/assistant/action_one_line_label.ts
  front/lib/api/assistant/activity_steps.ts
  front/lib/api/assistant/agent_message_consumption_attribution/read.test.ts
  front/lib/api/assistant/agent_message_consumption_attribution/read.ts
  front/lib/resources/agent_message_consumption_item_resource.ts
  front/types/assistant/agent_message_consumption.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: use synthetic autocomplete fixtures
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: document autocomplete ranking tiers
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: stop stale browser extensions showing the branch approval modal
  front-api/public/swagger.json
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/index.ts
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.test.tsx
  front/components/assistant/conversation/lib.ts
  front/hooks/useAgentMessageStream.test.ts
  front/lib/actions/mcp_actions.test.ts
  front/lib/api/actions/servers/run_agent/conversation.test.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/api/assistant/messages.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/activities/common.ts
  front/tests/utils/ConversationFactory.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: expose skill favorite APIs (#28018)
  front-api/routes/w/[wId]/skills/[sId]/favorite.ts
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/types/api/skills/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Add DeepSeek V4 Flash 0731 on Fireworks (#29885)
  front/components/providers/model_configs.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/lib/api/assistant/token_pricing/static_model_reasoning_efforts.ts
  front/lib/api/assistant/token_pricing/tiers.ts
  front/lib/llms/providers/fireworks/models/deepseek_v4_flash_0731.ts
  front/lib/llms/stream/endpoints/deepseek_deepseek_v4_flash_0731_global_fireworks.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/fireworks/models/deepseek_v4_flash_0731.ts
  front/lib/model_constructors/stream/endpoints/deepseek_deepseek_v4_flash_0731_global_fireworks.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/deepseek_deepseek_v4_flash_0731_global_fireworks.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/models/fireworks.ts
  front/types/assistant/models/models.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: stop stale browser extensions showing the branch approval modal (#29916)
  front-api/public/swagger.json
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/branches/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/index.ts
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.test.tsx
  front/components/assistant/conversation/lib.ts
  front/hooks/useAgentMessageStream.test.ts
  front/lib/actions/mcp_actions.test.ts
  front/lib/api/actions/servers/run_agent/conversation.test.ts
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/api/assistant/messages.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/activities/common.ts
  front/tests/utils/ConversationFactory.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reduce deploy workflow checkout overhead
  .github/workflows/deploy.yml
Due: biome

[front] fix: prioritize prefix matches in capability search (#29912)
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/lib/utils.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: refine autocomplete ranking tie-breakers
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/lib/utils.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: blocked-action cards on shared Frames (#29888)
  front/components/actions/blocked/PersonalAuthenticationCard.tsx
  front/components/actions/blocked/SandboxFunctionPersonalAuthCard.test.tsx
  front/components/actions/blocked/SandboxFunctionPersonalAuthCard.tsx
  front/components/actions/blocked/SandboxFunctionToolApprovalCard.tsx
  front/components/actions/blocked/ToolValidationCard.tsx
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.test.ts
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[poke] drill into a pod function's invocations and their MCP actions (#29892)
  front-api/middlewares/ctx.ts
  front-api/middlewares/with_projects.ts
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/pod-functions/[functionId]/index.ts
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/pod-functions/[functionId]/invocations.test.ts
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/pod-functions/[functionId]/invocations.ts
  front-api/routes/poke/workspaces/[wId]/projects/[projectId]/pod-functions/index.ts
  front-spa/src/poke/routes.tsx
  front/components/poke/pages/PodFunctionPage.tsx
  front/components/poke/projects/pod_functions/columns.tsx
  front/components/poke/projects/pod_functions/invocations.tsx
  front/components/poke/projects/pod_functions/json_block.tsx
  front/components/poke/projects/pod_functions/mcp_actions.tsx
  front/components/poke/projects/pod_functions/source.tsx
  front/components/poke/projects/pod_functions/table.tsx
  front/components/poke/projects/pod_functions/view.tsx
  front/lib/api/poke/pod_functions.ts
  front/lib/api/poke/projects.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/lib/resources/sandbox_function_mcp_action_resource.ts
  front/lib/resources/sandbox_function_resource.ts
  front/poke/swr/pod_function_details.ts
  front/types/error.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Speed up Depot image builds (#29910)
  .dockerignore
  .github/actions/build-image/action.yml
  .github/workflows/deploy.yml
  dockerfiles/front-bake.hcl
  dockerfiles/front.Dockerfile
  dockerfiles/front.Dockerfile.dockerignore
  front/package.json
Due: package-lock-check, biome

[front] test: expand autocomplete ranking coverage
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: edit skill editors inline
  front/components/skills/SkillEditorsTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: Add poolCapOverrideExpiresAt to memberships
  .gitignore
  front-api/routes/w/[wId]/members/[uId]/spend_limit.test.ts
  front/lib/api/users/spend_limit.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/migrations/20260605_backfill_membership_pool_cap_overrides.ts
  front/migrations/pre-deploy/20260729153513_add_pool_cap_override_expires_at_to_memberships.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Add the system_activation message origin
  front/lib/api/analytics/source_labels.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/programmatic_usage/common.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
  front/temporal/analytics_queue/activities/agent_analytics.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: refine skill autocomplete search ranking (#29918)
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/lib/utils.ts
  front/tests/lib/utils.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: use compact skill editor picker
  front/components/skills/SkillEditorsTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Add the system_activation message origin (#29901)
  front/lib/api/analytics/source_labels.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/programmatic_usage/common.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
  front/temporal/analytics_queue/activities/agent_analytics.ts
  front/types/assistant/conversation.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: Make the activation nudge free usage
  front/lib/api/assistant/credit_cost.test.ts
  front/lib/metronome/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(connectors): return registration failures as results
  connectors/src/lib/notion_webhook_registration.test.ts
  connectors/src/lib/notion_webhook_registration.ts
Due: connectors-typecheck, biome, connectors-eslint

feat(connectors): add Notion webhook registration API
  connectors/src/api/create_notion_webhook_registration.ts
  connectors/src/api/redeem_notion_webhook_registration.ts
  connectors/src/api_server.ts
Due: connectors-typecheck, biome, connectors-eslint

fix(connectors): validate Notion registration with Zod
  connectors/src/api/redeem_notion_webhook_registration.ts
Due: connectors-typecheck, biome, connectors-eslint

Pricing: allow pro plan to buy up to 500$/user/month instead of 50
  front/lib/credits/limits.test.ts
  front/lib/credits/limits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Activation] Email notification-more user friendly (#29716)
  front/lib/notifications/email-templates/activation-new-conversation.tsx
  front/lib/notifications/helpers.ts
  front/lib/notifications/workflows/activation-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skill favorite controls
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/slash_suggestion/buildSlashCommandItems.ts
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/pages/builder/skills/utils.ts
  front/components/skills/SkillDetailsButtonBar.tsx
  front/components/skills/SkillDetailsSheet.tsx
  front/components/skills/SkillFavoriteButton.tsx
  front/components/skills/SkillsTable.tsx
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use skill API response types in UI
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/skills/SkillDetailsButtonBar.tsx
  front/components/skills/SkillDetailsSheet.tsx
  front/components/skills/SkillsTable.tsx
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Hide archived skill favorite controls
  front/components/skills/SkillsTable.tsx
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Derive frontend skill types from API responses
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/skills/SkillDetailsButtonBar.tsx
  front/components/skills/SkillDetailsSheet.tsx
  front/components/skills/SkillsTable.tsx
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
