Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

feat(temporal): scaffold per-workspace activation scheduler workflow (#29031)
  cli/dust-sandbox/Cargo.lock
  front/lib/iam/workspaces.ts
  front/poke/temporal/activities.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/activation_scheduler/activities.ts
  front/temporal/activation_scheduler/client.ts
  front/temporal/activation_scheduler/config.ts
  front/temporal/activation_scheduler/worker.ts
  front/temporal/activation_scheduler/workflows.ts
  front/temporal/worker_registry.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(temporal): fire activation trigger for pods on scheduled run
  front/temporal/activation_scheduler/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: scaffold ServiceNow MCP server integration
  core/src/lib.rs
  core/src/oauth/connection.rs
  core/src/oauth/credential.rs
  core/src/oauth/providers/servicenow.rs
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/bm25_tool_search.test.ts
  front/lib/api/actions/servers/bm25_tool_search_utils.test.ts
  front/lib/api/actions/servers/servicenow/helpers.ts
  front/lib/api/actions/servers/servicenow/index.ts
  front/lib/api/actions/servers/servicenow/metadata.ts
  front/lib/api/actions/servers/servicenow/tools/index.ts
  front/lib/api/marketing/integrations.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/servicenow.ts
  front/types/oauth/lib.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(temporal): fire activation trigger for pods on scheduled run (#29033)
  front/temporal/activation_scheduler/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Make impossible to upload file to a managed datasource
  front-api/routes/w/[wId]/data_sources/[dsId]/files.test.ts
  front-api/routes/w/[wId]/data_sources/[dsId]/files.ts
  front/components/spaces/SpaceDataSourceViewContentList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Gov] Reshape group_permissions registry to role definitions (#29047)
  front/lib/resources/group_permission_registry.test.ts
  front/lib/resources/group_permission_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Gov] Review: correct stale verb-storage comments
  front/lib/auth.ts
  front/lib/resources/group_permission_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Gov] Store role names as group_permissions grant types
  front/lib/auth.workspace_permission.test.ts
  front/lib/resources/group_permission_registry.test.ts
  front/lib/resources/group_permission_registry.ts
  front/lib/resources/group_permission_resource.test.ts
  front/types/group_permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Agent Loop] Heartbeat during tool activity setup to survive DB stalls (#28780)
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Skills] Remove 'globalSpaceOnly: true' to fix restricted skills bug (#29039)
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/skills.ts
  front-api/routes/w/[wId]/assistant/conversations/index.ts
  front-api/routes/w/[wId]/skills/index.test.ts
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/components/pod/settings/PodSettingsTab.tsx
  front/lib/api/assistant/conversation/forks.test.ts
  front/lib/api/assistant/conversation/forks.ts
  front/lib/api/assistant/conversation/skill_permissions.test.ts
  front/lib/api/assistant/conversation/skill_permissions.ts
  front/lib/resources/skill/skill_resource.ts
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(codeowners): add llm-router-owners paths for llms, model_constructors and models
  .github/CODEOWNERS
Due: none

fix(scripts): surface spawn errors in run-migrate, install devDeps in prodbox
  dockerfiles/prodbox.Dockerfile
  scripts/db/run-migrate.cjs
Due: none

chore(codeowners): add llm-router-owners paths for llms, model_constructors and models (#29081)
  .github/CODEOWNERS
Due: none

fix date indicator color
  front/components/assistant/conversation/MessageDateIndicator.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): disallow temperature in base config for Claude Sonnet 5
  front/lib/model_constructors/providers/anthropic/models/claude_sonnet_five.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Support utf8 in api key name & user email (#28975)
  connectors/src/types/shared/headers.ts
  front/lib/api/actions/servers/run_agent/conversation.test.ts
  front/lib/auth.ts
  front/types/shared/utils/http_headers.test.ts
  front/types/shared/utils/http_headers.ts
  front/types/user.ts
  sdks/js/src/http_headers.ts
  sdks/js/src/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

refactor(llm): support per-model reasoning efforts for Opus, drop xhigh on 4.6
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_dot_eight.ts
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_dot_seven.ts
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_dot_six.ts
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_shared_config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[playground] Groups actions dropdown, modal fixes, Data section, icon/dropdown polish
  sparkle/playground/src/stories/AdminGovernanceV2.tsx
Due: biome

[playground] Update Data governance row subtitle
  sparkle/playground/src/stories/AdminGovernanceV2.tsx
Due: biome

Optimize seat sync
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front/lib/api/metronome/reconcile_credit_state.ts
  front/lib/api/metronome/seat_sync.ts
  front/lib/api/poke/plugins/workspaces/sync_metronome_seats.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/client.ts
  front/lib/metronome/seats.ts
  front/lib/metronome/seats_sync.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Optimize seat sync (#29063)
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front/lib/api/metronome/reconcile_credit_state.ts
  front/lib/api/metronome/seat_sync.ts
  front/lib/api/poke/plugins/workspaces/sync_metronome_seats.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/client.ts
  front/lib/metronome/seats.ts
  front/lib/metronome/seats_sync.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Cap GPT 5.6 context at 272k
  front/lib/llms/providers/openai/models/gpt_five_dot_six_luna.ts
  front/lib/llms/providers/openai/models/gpt_five_dot_six_sol.ts
  front/lib/llms/providers/openai/models/gpt_five_dot_six_terra.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six.test.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_luna.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_sol.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_terra.ts
  front/types/assistant/models/openai.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix date indicator color (#29082)
  front/components/assistant/conversation/MessageDateIndicator.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Align GPT 5.6 input budgeting
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/context-usage.ts
  front/lib/api/llm/batch_llm.ts
  front/scripts/debug/profile_conversation_rendering.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/temporal/reinforcement/activities.ts
  front/types/assistant/models/utils.test.ts
  front/types/assistant/models/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Stabilize conversation window pruning
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/pruning.test.ts
  front/lib/api/assistant/conversation_rendering/pruning.ts
  front/lib/api/assistant/conversation_rendering/window_state.test.ts
  front/lib/api/assistant/conversation_rendering/window_state.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep context indicator behavior scoped
  front-api/routes/w/[wId]/assistant/conversations/[cId]/context-usage.ts
Due: biome

adjust static loading screen
  front-spa/index.html
Due: none

feat(front): replace add tools dropdown with a modal in spaces > tools
  front/components/actions/mcp/AddToolsDialog.tsx
  front/components/actions/mcp/AddToolsMenu.tsx
  front/components/actions/mcp/AdminActionsList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): single-pass filter in AddToolsDialog
  front/components/actions/mcp/AddToolsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): reject explicit temperature via z.undefined() on OpenAI and Mistral models
  front/lib/model_constructors/providers/mistral/models/mistral_medium_3_5.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_five.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_four.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_four_mini.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_four_nano.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_one.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_luna.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_sol.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_terra.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_two.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): drop unsupported "none" effort and reject temperature on the gpt-5 family
  front/lib/model_constructors/providers/openai/models/gpt_five.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_mini.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_nano.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): give Claude Opus 4.6 its own config and align Opus 4.x with real specs
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_dot_six.ts
  front/lib/model_constructors/providers/anthropic/models/claude_opus_four_shared_config.ts
  front/lib/model_constructors/stream/endpoints/anthropic_global_claude_opus_four_dot_six.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): raise Claude Sonnet 5/4.6 output to 128k and surface the real 1M context
  front/lib/model_constructors/providers/anthropic/models/claude_sonnet_five.ts
  front/lib/model_constructors/providers/anthropic/models/claude_sonnet_four_dot_six.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): simplify Claude Fable 5 reasoning config and align with real specs
  front/lib/model_constructors/providers/anthropic/models/claude_fable_five.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): tidy Claude Haiku 4.5 temperature schema and type contextSize as number
  front/lib/model_constructors/providers/anthropic/models/claude_haiku_four_dot_five.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): cap Claude context to 250k and fix model descriptions in the Dust layer
  front/lib/llms/providers/anthropic/models/claude_fable_five.ts
  front/lib/llms/providers/anthropic/models/claude_opus_four_dot_eight.ts
  front/lib/llms/providers/anthropic/models/claude_opus_four_dot_seven.ts
  front/lib/llms/providers/anthropic/models/claude_opus_four_dot_six.ts
  front/lib/llms/providers/anthropic/models/claude_sonnet_five.ts
  front/lib/llms/providers/anthropic/models/claude_sonnet_four_dot_six.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add pod function invocation inspection
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/call.ts
  front/lib/api/actions/servers/sandbox_functions/tools/index.ts
  front/lib/api/actions/servers/sandbox_functions/tools/inspect_invocations.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
  front/lib/api/sandbox_functions/call_sandbox_function.ts
  front/lib/api/sandbox_functions/create_sandbox_function_mcp_action.ts
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/lib/resources/skill/code_defined/global/pod_functions.ts
  front/temporal/agent_loop/activities/run_sandbox_function_invocation.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove GPT 5.6 budgeting exception
  front-api/routes/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/lib/api/llm/batch_llm.ts
  front/scripts/debug/profile_conversation_rendering.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/temporal/reinforcement/activities.ts
  front/types/assistant/models/utils.test.ts
  front/types/assistant/models/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Add tri spinner type, remove duo, clean stories
  sparkle/src/components/Spinner.tsx
  sparkle/src/stories/Spinner.stories.tsx
Due: biome

google_drive: stop personal-auth loops when the user lacks file or folder permissions (#29045)
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/google_drive/tools/index.test.ts
  front/lib/api/actions/servers/google_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
