Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

cleanup
  extension/platforms/chrome/ChromeExtensionWrapper.tsx
  extension/platforms/firefox/FirefoxExtensionWrapper.tsx
  extension/ui/components/auth/ProtectedRoute.tsx
  extension/ui/pages/LoginPage.tsx
  extension/ui/pages/SubscribePage.tsx
  front/components/agent_builder/AgentBuilderLayout.tsx
  front/components/app/DatasetView.tsx
  front/components/assistant/WelcomeTourGuide.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/pages/spaces/apps/AppViewPage.tsx
  front/components/pages/spaces/apps/RunsPage.tsx
  front/components/poke/plugins/PluginRunDetailsModal.tsx
  front/components/skill_builder/SkillBuilder.tsx
  front/components/spaces/UsedByButton.tsx
  front/components/sparkle/AppContentLayout.tsx
  sparkle/src/stories/DataTable.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

config update
  extension/config/tailwind.config.js
  front-spa/tailwind.config.cjs
  front/tailwind.config.js
  sparkle/playground/tailwind.config.cjs
  sparkle/tailwind-preset.js
  sparkle/tailwind.config.js
  viz/tailwind.config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  .gitignore
  extension/ui/css/global.css
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/pod/PodMenu.tsx
  front/components/triggers/CreateWebhookSourceForm.tsx
  front/next-env.d.ts
  front/styles/global.css
  marketing/styles/components.css
  marketing/styles/global.css
  marketing/tailwind.config.js
  sparkle/playground/package.json
  sparkle/playground/src/components/GroupConversationView.tsx
  sparkle/playground/src/components/InboxView.tsx
  viz/app/styles/globals.css
  viz/tailwind.config.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  front/components/pages/onboarding/CheckoutPage.tsx
  front/components/sparkle/ThemeContext.tsx
  marketing/components/home/LandingLayout.tsx
  package-lock.json
  sparkle/playground/src/index.css
  sparkle/src/components/ImageZoomDialog.tsx
  sparkle/src/components/markdown/ContentBlockWrapper.tsx
  sparkle/src/stories/Motion.stories.tsx
  viz/app/styles/globals.css
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  .grit/patterns/noCssImportant.grit
  front/components/assistant/conversation/space/conversations/project_tasks/utils.ts
  sparkle/package.json
  sparkle/src/components/ButtonGroup.tsx
  viz/components/ui/context-menu.tsx
  viz/components/ui/dropdown-menu.tsx
  viz/components/ui/menubar.tsx
  viz/components/ui/sidebar.tsx
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixed
  .grit/patterns/noCssImportant.grit
  front/components/credits/RequestUpgradeButton.tsx
  front/components/pages/workspace/WorkspaceBrandingPage.tsx
  front/components/workspace/UpgradeRequestsTable.tsx
  front/components/workspace/settings/BrandingSection.tsx
  sparkle/package.json
  sparkle/src/components/InputWithSave.tsx
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Changed name from defaultAgentId
  front/lib/resources/storage/models/project_metadata.ts
  front/migrations/db/migration_679.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  extension/ui/css/components.css
  front-spa/src/index.css
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/dev/devModeConfig.ts
  sparkle/src/components/Card.tsx
  sparkle/src/components/Input.tsx
  sparkle/src/components/SearchInput.tsx
  sparkle/src/components/TextArea.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Register Napta in platform logo registry and marketing icon maps
  marketing/components/resources/resources_icon_names.ts
  marketing/components/resources/resources_icons.tsx
  sparkle/src/logo/platforms/registry.ts
Due: biome

fix storybook
  sparkle/.storybook/preview.ts
  sparkle/src/styles/tailwind.css
Due: biome

Add: deeplink with conversation auto-draft.
  front-api/public/swagger.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/w/[wId]/assistant/go-template.ts
  front-api/routes/w/[wId]/assistant/index.ts
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/components/editor/input_bar/useHandleMentions.tsx
  front/components/pages/conversation/ConversationPage.tsx
  front/hooks/useGoTemplateFromSearchParam.ts
  front/lib/api/assistant/go_template.test.ts
  front/lib/api/assistant/go_template.ts
  front/lib/contentful/client.ts
  front/lib/contentful/types.ts
  marketing/lib/api/authContext.ts
  marketing/lib/contentful/client.ts
  marketing/lib/contentful/types.ts
  marketing/lib/go/resolveDestination.ts
  marketing/lib/go/schemas.ts
  marketing/lib/swr/website.ts
  marketing/pages/api/go/[slug].ts
  marketing/pages/go/[slug].tsx
  marketing/pages/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add workspace-branded OG image generation
  docker-compose.yml
  front-api/routes/share/frame/[token].ts
  front-api/routes/v1/public/branding/index.ts
  front-api/routes/w/[wId]/branding/index.ts
  front-spa/src/share/ShareApp.tsx
  front-spa/vite.config.ts
  front/components/pages/share/ShareOgPage.tsx
  front/components/pages/share/SharedFramePage.tsx
  front/lib/api/config.ts
  front/lib/api/files/share.ts
  front/lib/api/workspace_branding/index.ts
  front/lib/api/workspace_branding/og.ts
  front/lib/api/workspace_branding/paths.ts
  front/types/shared/document_renderer/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

✨
  front/components/pages/share/ShareOgPage.tsx
  front/lib/api/file_system/dust_file_system.ts
  front/lib/api/workspace_branding/index.ts
  front/lib/api/workspace_branding/og.ts
  front/types/shared/document_renderer/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front-spa/src/index.css
  front/components/dev/devModeConfig.ts
  front/components/dev/devStyleOverrides.ts
  front/components/poke/assistants/RequestedSpacesList.tsx
  front/components/workspace/billing/FreePlanBilling.tsx
  front/components/workspace/billing/FreePlanSeatsSection.tsx
  front/components/workspace/billing/FreePlanUpgradeSection.tsx
  sparkle/.storybook/preview.ts
  sparkle/src/hooks/useSheetContainer.ts
  sparkle/tailwind-preset.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

✨
  front/lib/api/workspace_branding/index.ts
  front/lib/api/workspace_branding/og.ts
  front/lib/api/workspace_branding/paths.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/types/shared/document_renderer/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/temporal/agent_loop/lib/compaction.test.ts
  front/temporal/agent_loop/lib/compaction.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/components/dev/devModeConfig.ts
  front/components/poke/assistants/RequestedSpacesList.tsx
  front/components/workspace/billing/FreePlanSeatsSection.tsx
  front/components/workspace/billing/FreePlanUpgradeSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: handle GCS network errors in file listing
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/project_files/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/files/index.ts
  front/lib/api/file_system/backends/file_system_backend.ts
  front/lib/api/file_system/backends/gcs_file_system_backend.test.ts
  front/lib/api/file_system/backends/gcs_file_system_backend.ts
  front/lib/api/file_system/dust_file_system.test.ts
  front/lib/api/file_system/dust_file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front-api/routes/v1/public/branding/index.ts
Due: biome

👕
  front/lib/api/actions/servers/files/tools/list.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/mcp_server/tools/files/list.ts
  front/lib/api/mcp_server/tools/files/list_output.ts
  front/lib/api/mcp_server/tools/pods/get.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/lib/api/actions/servers/files/tools/list.ts
  front/lib/api/mcp_server/tools/files/list_output.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixes
  front/components/assistant/conversation/UserMessage.tsx
  front/styles/components.css
  sparkle/src/components/ConversationMessage.tsx
  sparkle/src/stories/ConversationMessages.stories.tsx
  sparkle/src/stories/DataTable.stories.tsx
  sparkle/src/styles/tailwind.css
  viz/app/styles/globals.css
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update lock
  sparkle/playground/package-lock.json
Due: package-lock-check, biome

update default
  sparkle/src/styles/global.css
Due: biome

fix dark
  sparkle/src/components/Button.tsx
  sparkle/src/components/Checkbox.tsx
  sparkle/src/components/Counter.tsx
  sparkle/src/styles/tokens.css
  sparkle/tailwind-preset.js
Due: biome

fix safelist
  sparkle/tailwind-preset.js
Due: biome

fix bg, safelist
  extension/ui/css/components.css
  front-spa/src/index.css
  front/components/agent_builder/AgentBuilderInsights.tsx
  front/components/charts/ChartContainer.tsx
  front/components/observability/AgentObservability.tsx
  front/components/poke/shadcn/ui/card.tsx
  front/components/workspace/ActivityReport.tsx
  front/components/workspace/analytics/WorkspaceTopAgentsTable.tsx
  front/components/workspace/analytics/WorkspaceTopUsersTable.tsx
  front/styles/components.css
  sparkle/src/components/Chip.tsx
  sparkle/src/components/DataTable.tsx
  sparkle/src/components/markdown/TableBlock.tsx
  sparkle/src/styles/tailwind.css
  sparkle/tailwind-preset.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix inverted dark colors
  sparkle/src/styles/tokens.css
Due: biome

color fixes
  sparkle/src/components/Chip.tsx
  sparkle/src/components/SliderToggle.tsx
Due: biome

fix analytics
  front/components/agent_builder/observability/constants.ts
  front/styles/components.css
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dark fallback
  sparkle/src/components/Chip.tsx
  sparkle/src/styles/tailwind.css
Due: biome

fix gradient
  sparkle/src/components/DataTable.tsx
Due: biome

fix background
  sparkle/src/components/Dialog.tsx
  sparkle/src/components/Sheet.tsx
Due: biome

fix pointer
  sparkle/src/styles/global.css
  sparkle/src/styles/tailwind.css
Due: biome

fix dark
  front/components/assistant/conversation/input_bar/InputBarMessageNavigation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix config
  extension/ui/css/components.css
  front-spa/src/index.css
  front/styles/components.css
  front/styles/container-queries.css
  marketing/styles/components.css
  sparkle/src/styles/tailwind.css
  viz/app/styles/globals.css
Due: biome

inline
  front-spa/src/index.css
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
