Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Add non-free metrics
  front/lib/metronome/setup_common.ts
  front/lib/metronome/setup_new_pricing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Correctly classify sidekick message as origin agent_sidekick (#26715)
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] cut sandbox cold-start: drop update-ca-certificates, overlap GCS mount (#26710)
  front/lib/api/sandbox/image/egress/dust-install-trust-bundle.sh
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

imp
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front-api/routes/w/[wId]/members/lookup.ts
  front-api/routes/w/[wId]/members/search.ts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/pages/api/w/[wId]/members/lookup.ts
  front/pages/api/w/[wId]/members/search.ts
  front/pages/api/w/[wId]/skills/[sId]/editors.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/components/members/MembersList.tsx
  front/lib/swr/skill_editors.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/pages/api/w/[wId]/skills/[sId]/editors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Wake-up rendering to avoid null virtuoso element
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/WakeUpMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(home): promote "Dust for Customer Success" event in PromoBanner
  front/components/home/PromoBanner.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix workos ratelimit
  front/lib/api/poke/plugins/workspaces/reset_provisioned_members_not_in_directory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix lookup
  front-api/routes/w/[wId]/members/lookup.ts
  front/pages/api/w/[wId]/members/lookup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mobile): stop conversation SSE streams leaking after navigating away
  x/adrsimon/mobile/Dust/Services/StreamingService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
Due: none

Make app.dust.tt and poke.dust.tt point to Hono (#26627)
  .github/configs/us-central1/.env.prod
Due: none

fix(mobile): stop conversation SSE streams leaking after navigating away (#26722)
  x/adrsimon/mobile/Dust/Services/StreamingService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
Due: none

fix(streaming): fix GCS write stream leaks and SSE double-unsubscribe (#26600)
  front/lib/api/assistant/mcp_events.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/files/processing.ts
  front/lib/api/files/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix workos ratelimit (#26721)
  front/lib/api/poke/plugins/workspaces/reset_provisioned_members_not_in_directory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix tests
  front/lib/metronome/contracts.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: extension save page to pod
  extension/platforms/chrome/background.ts
  extension/platforms/firefox/background.ts
  extension/shared/background.ts
  extension/shared/hooks/useCaptureActions.ts
  extension/shared/messages.ts
  extension/shared/services/browser_messaging.ts
  extension/shared/services/platform.ts
  extension/ui/components/auth/ProtectedRoute.tsx
  extension/ui/components/conversation/ExtensionInputBarProvider.tsx
  extension/ui/components/quick_actions/ExtensionQuickActionsProvider.tsx
  extension/ui/components/quick_actions/SavePageToPodDialog.tsx
  extension/ui/hooks/useSavePageToPod.ts
  extension/ui/pages/PodMainPage.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add user settings v2 dialog behind feature flag
  front/components/UserMenu.tsx
  front/components/UserSettingsPopover.tsx
  front/components/me/UserToolsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

frontend
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/assistant/conversation/CreditCostMenuItem.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.test.tsx
  front/components/assistant/conversation/lib.ts
  front/components/workspace/MembersUsageTable.tsx
  front/hooks/useAgentMessageStream.test.ts
  front/lib/actions/mcp_actions.test.ts
  front/lib/api/assistant/citations.ts
  front/lib/client/credits.ts
  front/lib/metronome/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

backend + disabling the thing when credit pricing is not good
  front-api/routes/w/[wId]/assistant/conversations/[cId]/index.ts
  front/components/assistant/conversation/CreditCostMenuItem.tsx
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation_rendering/helpers.test.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/api/assistant/credit_cost.test.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/assistant/messages.ts
  front/lib/resources/conversation_resource.ts
  front/pages/api/poke/workspaces/[wId]/conversations/[cId]/render.ts
  front/pages/api/swagger_private_schemas.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/scripts/investigate_render_conversation.ts
  front/temporal/agent_loop/activities/common.ts
  front/tests/utils/ConversationFactory.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

go
  front/components/assistant/conversation/ConversationViewer.tsx
  front/hooks/useAgentMessageStream.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/assistant/messages.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/pre-deploy/20260602204836_add_cost_credits_column.sql
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/finalize.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "Make app.dust.tt and poke.dust.tt point to Hono (#26627)"
  .github/configs/us-central1/.env.prod
Due: none

Make use_static_ip_proxy schema field optional (absence fails safe to false)
  front/lib/api/oauth/providers/mcp.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "Make app.dust.tt and poke.dust.tt point to Hono (#26627)" (#26724)
  .github/configs/us-central1/.env.prod
Due: none

Revert "Revert "Make app.dust.tt and poke.dust.tt point to Hono (#26627)" (#2…"
  .github/configs/us-central1/.env.prod
Due: none

Revert "Revert "Make app.dust.tt and poke.dust.tt point to Hono (#26627)" (#2…" (#26725)
  .github/configs/us-central1/.env.prod
Due: none

Only allow direct egress fallback when no proxy is configured (local dev)
  core/src/http/proxy_client.rs
  core/src/oauth/providers/mcp.rs
Due: none

[front] add seatType to MembershipInvitation model + migration
  front/lib/api/invitation.ts
  front/lib/models/membership_invitation.ts
  front/lib/resources/membership_invitation_resource.ts
  front/migrations/db/migration_666.sql
  front/types/membership_invitation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Create seat balance alerts in Metronome (#26700)
  front/lib/api/credits/members_usage.ts
  front/lib/metronome/alerts/seat_balance.ts
  front/lib/metronome/contracts.test.ts
  front/lib/metronome/contracts.ts
  front/lib/metronome/seats.ts
  front/scripts/backfill_metronome_seat_balance_alerts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: extension save page to pod (#26632)
  extension/platforms/chrome/background.ts
  extension/platforms/firefox/background.ts
  extension/shared/background.ts
  extension/shared/hooks/useCaptureActions.ts
  extension/shared/messages.ts
  extension/shared/services/browser_messaging.ts
  extension/shared/services/platform.ts
  extension/ui/components/auth/ProtectedRoute.tsx
  extension/ui/components/conversation/ExtensionInputBarProvider.tsx
  extension/ui/components/quick_actions/ExtensionQuickActionsProvider.tsx
  extension/ui/components/quick_actions/SavePageToPodDialog.tsx
  extension/ui/hooks/useSavePageToPod.ts
  extension/ui/pages/PodMainPage.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: bump extension version
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

[front] fix: add seatType to invitation_reminders test mocks
  front/temporal/invitations/invitation_reminders.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix blank agent generation
  front/hooks/useAgentMessageStream.test.ts
  front/hooks/useAgentMessageStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] Port /subtle1 PostHog reverse proxy from Next rewrites
  front-api/app.ts
  front-api/routes/subtle1.test.ts
  front-api/routes/subtle1.ts
Due: biome

cargo fmt
  core/src/oauth/providers/mcp.rs
Due: none

Pause salesforce on app_not_found
  connectors/src/connectors/salesforce/lib/oauth.ts
Due: connectors-typecheck, biome, connectors-eslint

Wake-up rendering to avoid null virtuoso element (#26717)
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/WakeUpMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Pause salesforce on app_not_found (#26727)
  connectors/src/connectors/salesforce/lib/oauth.ts
Due: connectors-typecheck, biome, connectors-eslint

tooltip correction
  front/components/assistant/conversation/CreditCostMenuItem.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename computeUseStaticIpProxy -> shouldUseStaticIpProxy
  front/lib/actions/mcp_oauth_access_token.ts
  front/lib/api/oauth/providers/mcp.ts
  front/lib/api/workspace_has_domains.test.ts
  front/lib/api/workspace_has_domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Dust as remote MCP server (helloworld) (#26522)
  .github/actions/setup-node-deps/action.yml
  front-api/app.ts
  front-api/middlewares/cors.ts
  front-api/package.json
  front-api/routes/mcp/index.ts
  front-api/routes/mcp/well-known.ts
  front-api/routes/poke/search.test.ts
  front-api/routes/poke/workspaces/[wId]/invitations/[iId]/index.test.ts
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/tables/csv.test.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.test.ts
  front-api/routes/w/[wId]/data_sources/[dsId]/files.test.ts
  front-api/routes/w/[wId]/files/[fileId]/export/pdf.test.ts
  front-api/routes/w/[wId]/google_drive/search_for_authorization.test.ts
  front-api/routes/w/[wId]/invitations/index.test.ts
  front-api/routes/w/[wId]/webhook_sources/service-data.test.ts
  front-api/vite.config.mjs
  front-api/vite.setup.ts
  front/config/cors.ts
  front/lib/api/config.ts
  front/lib/api/mcp_server/README.md
  front/lib/api/mcp_server/auth.ts
  front/lib/api/mcp_server/authenticator.ts
  front/lib/api/mcp_server/context.ts
  front/lib/api/mcp_server/server.ts
  front/lib/api/mcp_server/urls.ts
  front/tests/utils/mocks/app_config.ts
  front/vite.globalSetup.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
