Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Add guards in front code, removed unnecessary stubs
  front-spa/email.html
  front-spa/index.html
  front-spa/oauth.html
  front-spa/poke.html
  front-spa/share.html
  front-spa/vite.config.ts
  front/components/groups/GroupsList.tsx
  front/components/members/MembersList.tsx
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/llms/agent_message_content_parser.ts
  front/lib/triggers/webhook.ts
  front/lib/utils/assert.ts
  front/lib/webhookSource.ts
  front/lib/webhookSource_server.ts
  front/logger/datadogLogger.ts
  front/tests/lib/webhookSource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Hex as default remote (#23112)
  core/src/oauth/providers/mcp.rs
  front/components/home/content/Integration/utils/integrationRegistry.ts
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
  sparkle/src/logo/platforms/Hex.tsx
  sparkle/src/logo/platforms/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add more fathom tool filters
  front/lib/api/actions/servers/fathom/client.ts
  front/lib/api/actions/servers/fathom/metadata.ts
  front/lib/api/actions/servers/fathom/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add more fathom tool filters (#23114)
  front/lib/api/actions/servers/fathom/client.ts
  front/lib/api/actions/servers/fathom/metadata.ts
  front/lib/api/actions/servers/fathom/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove invitee fathom filter
  front/lib/api/actions/servers/fathom/client.ts
  front/lib/api/actions/servers/fathom/metadata.ts
  front/lib/api/actions/servers/fathom/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove invitee fathom filter (#23115)
  front/lib/api/actions/servers/fathom/client.ts
  front/lib/api/actions/servers/fathom/metadata.ts
  front/lib/api/actions/servers/fathom/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix dark
  front/components/assistant/conversation/FeedbackSelector.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adjust MCP view creation return shape
  front/lib/resources/mcp_server_view_resource.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

change label
  front/components/assistant/conversation/FeedbackSelector.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Google Drive] Fix incremental folder move reparenting
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

:wrench: remove share from excluded paths
  front/components/app/PostHogTracker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refine MCP view creation result
  front/lib/actions/mcp_actions.test.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/mcp_server_view_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/index.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/index.ts
  front/tests/utils/MCPServerViewFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] Improve feedback UI (#23111)
  front/components/assistant/conversation/FeedbackSelector.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Google Drive] Remove move regression test
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
Due: connectors-typecheck, biome, connectors-eslint

Adding ability to read Slack canvas
  front/lib/api/actions/servers/slack/helpers.ts
  front/lib/api/actions/servers/slack_personal/metadata.ts
  front/lib/api/actions/servers/slack_personal/tools/index.ts
  front/lib/api/oauth/providers/slack_tools.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

hide feedback btn for onboarding
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix gap
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update Frames tracking (#23117)
  front/components/app/PostHogTracker.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Restore search state clear on folder click without shallow push
  front/components/spaces/SpaceSearchLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add comment
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] hide feedback button for onboarding conversation (#23118)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify impacted agent lookup for MCP sharing
  front/lib/resources/mcp_server_view_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: move agent suggestion to a draft (#22679)
  front/components/assistant/conversation/ButlerSuggestionCard.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/components/editor/input_bar/useHandleMentions.tsx
  front/lib/butler/analyze_conversation.test.ts
  front/lib/butler/evaluators/call_agent.ts
  front/lib/butler/evaluators/create_frame.ts
  front/lib/butler/evaluators/rename_title.ts
  front/types/conversation_butler_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - feature: implement Luma client and server interactions
  front/lib/api/actions/servers/luma/client.ts
  front/lib/api/actions/servers/luma/index.ts
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/rendering.ts
  front/lib/api/actions/servers/luma/tools/index.ts
  front/lib/api/actions/servers/luma/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[mcp_internal_actions] - feature: restrict access to MCP server based on feature flags
  front/lib/actions/mcp_internal_actions/constants.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/actions/mcp_internal_actions] - feature: add support for LUMA server
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - refactor: remove list_ticket_types functionality
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - refactor: streamline import of zod library
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sdks/js] - feature: add 'luma_tool' to the list of whitelistable features
  sdks/js/src/types.ts
Due: biome

[front/lib/api/actions/servers/luma] - fix: implement error handling in LumaClient API calls
  front/lib/api/actions/servers/luma/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - refactor: centralize Luma API endpoint paths and constants
  front/lib/api/actions/servers/luma/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: clean up Luma types and comments
  front/lib/api/actions/servers/luma/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - refactor: streamline LumaClient code and messages
  front/lib/api/actions/servers/luma/client.ts
  front/lib/api/actions/servers/luma/rendering.ts
  front/lib/api/actions/servers/luma/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/actions/mcp_internal_actions] - feature: add support for Luma event and guest management
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

[front/lib/api/actions/servers/luma] - refactor: update Luma API parameter references and increase page size
  front/lib/api/actions/servers/luma/client.ts
  front/lib/api/actions/servers/luma/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/api/actions/servers/luma] - refactor: update LumaClient method return structures
  front/lib/api/actions/servers/luma/client.ts
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/rendering.ts
  front/lib/api/actions/servers/luma/tools/index.ts
  front/lib/api/actions/servers/luma/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/actions/mcp_internal_actions] - feature: add support for searching guests in MCP server metadata
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

[front] - feature: integrate Luma logo and update Luma API tooling
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sdks] - feature: add Luma logo to MCP icon types
  sdks/js/src/mcp_icon_types.ts
Due: biome

[sdks] - feature: add support for Luma logo in icon schema
  sdks/js/src/types.ts
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
