Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Restore Computer capability summary
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] technology partner page: emulate the new partner page design
  front/pages/home/technology-partners.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make gracefully stopped messages non-resumable
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/lib/api/assistant/conversation/blocked_actions.test.ts
  front/lib/api/assistant/conversation/resolve_authentication.ts
  front/lib/api/assistant/conversation/retry_blocked_actions.ts
  front/lib/api/assistant/conversation/validate_actions.test.ts
  front/lib/api/assistant/email/validate_tool_from_email.test.ts
  front/lib/api/assistant/email/validate_tool_from_email.ts
  front/lib/resources/agent_mcp_action_resource.test.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llms): use eu multi-region endpoint for agent platform
  front/lib/model_constructors/stream/clients/agent_platform.ts
  front/lib/model_constructors/stream/endpoints/agent_platform_eu_claude_sonnet_four_dot_six.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Do not use file SA for poke roles
  front/lib/poke/roles.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed labels+currencies, use constants
  front/components/pages/onboarding/SelectSubscriptionPage.tsx
  front/components/pages/onboarding/SubscriptionPlans.tsx
  front/components/workspace/billing/seatTypeUtils.ts
  front/lib/client/subscription.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/setup_new_pricing.ts
  front/lib/metronome/user_credit_state_machine.test.ts
  front/lib/metronome/user_credit_state_machine.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llms): pass vertex project id to agent platform endpoints
  front/lib/api/provider_credentials.ts
  front/types/provider_credential.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Phoebe to authors
  .authors
Due: none

read from replica
  front/lib/api/agent_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename
  front/lib/api/agent_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/agent_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: remove redundant stripNullBytes on markdown string
  connectors/src/connectors/intercom/temporal/sync_conversation.ts
Due: connectors-typecheck, biome, connectors-eslint

[connectors] fix: revert stripNullBytes on author.name, not needed
  connectors/src/connectors/intercom/temporal/sync_conversation.ts
Due: connectors-typecheck, biome, connectors-eslint

Harmonize capability search behavior across the app
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(billing): suppress programmatic cap banner when cap is 0
  front/components/navigation/AppStatusBanner.tsx
  front/lib/swr/usage_settings.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

nit description
  front/public/manifest.webmanifest
Due: none

Remove front-spa/worker/app.ts changes
  front-spa/worker/app.ts
Due: biome

Fix wake-up banner not dismissing after wake-up executes
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/WakeUpMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reset AWU User fair usage limit
  front/lib/api/assistant/rate_limits.ts
  front/lib/api/poke/plugins/workspaces/reset_message_rate_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(credits): add workspace auto-seat-upgrade setting
  front-api/routes/w/[wId]/credits/usage-configuration.test.ts
  front/components/workspace/usage/UsageSettingsCard.tsx
  front/lib/api/credits/usage_configuration.ts
  front/lib/resources/credit_usage_configuration_resource.ts
  front/lib/resources/storage/models/credit_usage_configurations.ts
  front/lib/swr/usage_settings.ts
  front/migrations/db/migration_683.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: attachment citation file preview uses canonical path when available
  front/components/assistant/conversation/FilePreviewContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: handle gong invalid credentials messages
  connectors/src/connectors/gong/lib/errors.ts
  connectors/src/connectors/gong/lib/gong_api.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] chore: remove force front api us ff
  front-api/routes/w/[wId]/auth-context.ts
  front/lib/api/regions/lookup.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Let support users run the toggle feature flag plugin
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow scheduled commits
  front/components/poke/shadcn/ui/form/fields.tsx
  front/components/poke/subscriptions/SwitchContractDialog.tsx
  front/lib/api/poke/switch_contract.ts
  front/lib/metronome/client.test.ts
  front/lib/metronome/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(llm): add request-parity regression suite for legacy vs new router
  front/lib/api/llm/tests/parity/allowlist.ts
  front/lib/api/llm/tests/parity/matrix.ts
  front/lib/api/llm/tests/parity/providers.ts
  front/lib/api/llm/tests/router_parity.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(sandbox): rename SId test vars to follow BACK10 naming
  front/lib/api/sandbox/sandbox_child_block.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use region to choose currency contract
  front-api/routes/w/[wId]/trial/start.ts
  front/lib/api/subscription.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(connectors): install postgresql-client for migration apply support
  dockerfiles/connectors.Dockerfile
Due: none

chore: upgrade biome to 2.5.0
  biome.editor.json
  biome.json
  package-lock.json
  package.json
  x/henry/dust-hive/package.json
Due: package-lock-check, biome

chore: consolidate db migration scripts into shared scripts/db directory
  connectors/package.json
  connectors/scripts/generate-migration.sh
  connectors/scripts/migrate.ts
  dockerfiles/connectors.Dockerfile
  dockerfiles/front.Dockerfile
  front-api/package.json
  front-api/scripts/generate-migration.sh
  front-api/scripts/migrate.ts
  front-api/scripts/run-migrate.cjs
  front/create_db_migration_file.sh
  front/package.json
  front/scripts/migrate.ts
  front/scripts/run-migrate.cjs
  scripts/db/create_db_migration_file.sh
  scripts/db/generate-migration.sh
  scripts/db/migration-runner.ts
  scripts/db/run-migrate.cjs
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

feat(credits): add seat auto-upgrade admin notification and audit event
  front-api/routes/novu/index.ts
  front/admin/audit_log_schemas/membership.seat_auto_upgraded.json
  front/lib/api/audit/schema_versions.json
  front/lib/api/audit/workos_audit.ts
  front/lib/notifications/workflows/seat-auto-upgraded.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

added digest
  front/lib/notifications/workflows/seat-auto-upgraded.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

seat update every 5 hrs
  front/lib/notifications/workflows/seat-auto-upgraded.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): emit automatic cache_control on new Anthropic stream endpoint
  front/lib/api/llm/tests/parity/allowlist.ts
  front/lib/api/llm/tests/parity/providers.ts
  front/lib/api/llm/tests/router_parity.test.ts
  front/lib/model_constructors/stream/clients/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: kill FilePreviewSheet in ConversationFilesPanel, fix URL append bug in FilePreviewDialog
  front/components/assistant/conversation/files_panel/ConversationFilesPanel.tsx
  front/components/file_explorer/FilePreviewDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: move getFilePreviewConfig to file_explorer/utils, delete FilePreviewSheet
  front/components/assistant/conversation/files_panel/utils.ts
  front/components/file_explorer/FilePreviewDialog.tsx
  front/components/file_explorer/utils.ts
  front/components/spaces/FilePreviewSheet.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): sort stream endpoints to prefer the current region first
  front/lib/api/llm/index.ts
  front/lib/llms/utils/sort_endpoints.test.ts
  front/lib/llms/utils/sort_endpoints.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  scripts/db/migration-runner.ts
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
