Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front/components/pages/workspace] - refactor: wrap analytics components in a flex container
  front/components/pages/workspace/AnalyticsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Validate retention in generic workspace updates
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add AskUserQuestion tool-style UI to playground
  sparkle/playground/src/components/AskUserQuestion.tsx
  sparkle/playground/src/components/ConversationView.tsx
  sparkle/playground/src/components/InputBar.tsx
  sparkle/playground/src/data/conversations.ts
  sparkle/playground/src/data/types.ts
  sparkle/playground/src/stories/PlaygroundDemo.tsx
Due: biome

add dialog on batch unpublish
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/UnpublishAssistantsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add grant endpoint
  front/lib/resources/file_resource.ts
  front/pages/api/w/[wId]/files/[fileId]/share/grants.test.ts
  front/pages/api/w/[wId]/files/[fileId]/share/grants.ts
  front/pages/api/w/[wId]/files/[fileId]/share/index.ts
  front/types/files.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add agent prompt, tools and skills in the prompt
  front/lib/api/assistant/global_agents/sidekick_context.ts
  front/lib/reinforced_agent/aggregate_suggestions.test.ts
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.test.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/format_agent_context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: remove feature toggle for YAML agent operations
  front/components/assistant/CreateDropdown.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Slack] Log skipped file reasons in thread uploads (#23169)
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

[Data Retention] Raise minimum conversation retention to 60 days (#23166)
  front/lib/api/poke/plugins/workspaces/conversations_retention.ts
  front/lib/conversations_retention.ts
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(poke): add poke MCP server for cross-workspace metadata access (#22573)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/mcp_servers_metadata.test.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/actions/servers/poke/index.ts
  front/lib/api/actions/servers/poke/metadata.ts
  front/lib/api/actions/servers/poke/tools/index.test.ts
  front/lib/api/actions/servers/poke/tools/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove mutate prop
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/UnpublishAssistantsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Slack] Retry thread fetch for pending file metadata
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/lib/thread_file_upload.test.ts
  connectors/src/connectors/slack/lib/thread_file_upload.ts
Due: connectors-typecheck, biome, connectors-eslint

Add granted by in the list
  front/lib/resources/file_resource.ts
  front/pages/api/w/[wId]/files/[fileId]/share/grants.test.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: remove feature toggle for YAML agent operations (#23181)
  front/components/assistant/CreateDropdown.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

turn button into trigger for the dialog instead of having 2 Button + dialog with tied state management
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/UnpublishAssistantsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: add type guard in isSupportedModel to prevent TypeError on undefined model
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  a2/377add31ef6a301376f11d5962b12b43cfc579
Due: none

remove useMemo
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

vendor chunks
  front-spa/vite.config.ts
Due: biome

Fix document
  extension/domino.d.ts
  extension/package.json
  extension/shared/lib/html_to_markdown.ts
  extension/tsconfig.json
  package-lock.json
Due: package-lock-check, biome

Reject usage exports outside retention window
  front/components/pages/workspace/AnalyticsPage.tsx
  front/lib/workspace_usage_retention.test.ts
  front/lib/workspace_usage_retention.ts
  front/pages/api/v1/w/[wId]/usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

format
  front/components/assistant/AgentEditBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  a7/8d54732bb43af4317c7aca8d6664a5dd598574
Due: none

Allow fathom personal action (#23162)
  front/lib/api/oauth/providers/fathom.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Custom page interaction tool validation popup (#23170)
  extension/platforms/chrome/tools/metadata.ts
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(cron-rule): remove redundant JSON.parse on already-parsed req.body
  front/pages/api/w/[wId]/assistant/agent_configurations/text_as_cron_rule.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: add dialog on batch agent unpublish (#23180)
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/UnpublishAssistantsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[extension] Use turndown to convert page to md (#23110)
  extension/domino.d.ts
  extension/package.json
  extension/platforms/chrome/background.ts
  extension/shared/lib/extraction.ts
  extension/shared/lib/html_to_markdown.ts
  extension/tsconfig.json
  extension/ui/hooks/useFileUploaderService.ts
  package-lock.json
Due: package-lock-check, biome

Tighten usage retention boundary
  front/lib/workspace_usage_retention.test.ts
  front/lib/workspace_usage_retention.ts
  front/temporal/data_retention/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

avoid type casting
  front/lib/reinforced_agent/aggregate_suggestions.test.ts
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.test.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/format_agent_context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: add type guard in isSupportedModel to prevent TypeError on undefined model (#23185)
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(cron-rule): remove redundant JSON.parse on already-parsed req.body (#23188)
  front/pages/api/w/[wId]/assistant/agent_configurations/text_as_cron_rule.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

move trigger to dialog component
  front/components/assistant/AgentEditBar.tsx
  front/components/assistant/DeleteAssistantsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add sharing sheet
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/frame/ShareFrameSheet.tsx
  front/lib/swr/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Add omitted thinking eval variants for Dust global agents (#23149)
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
  front/lib/api/llm/clients/anthropic/utils/index.test.ts
  front/lib/api/llm/clients/anthropic/utils/index.ts
  front/lib/api/llm/clients/anthropic/utils/test/conversation_to_anthropic.test.ts
  front/lib/api/llm/index.ts
  front/lib/api/llm/types/options.ts
  front/package.json
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent.ts
  front/types/assistant/assistant.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add agent prompt, tools and skills in the reinforced agent prompts (#23182)
  front/lib/api/assistant/global_agents/sidekick_context.ts
  front/lib/reinforced_agent/aggregate_suggestions.test.ts
  front/lib/reinforced_agent/aggregate_suggestions.ts
  front/lib/reinforced_agent/analyze_conversation.test.ts
  front/lib/reinforced_agent/analyze_conversation.ts
  front/lib/reinforced_agent/format_agent_context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Data Retention] Reject usage exports outside retention window (#23187)
  front/components/pages/workspace/AnalyticsPage.tsx
  front/lib/workspace_usage_retention.test.ts
  front/lib/workspace_usage_retention.ts
  front/pages/api/v1/w/[wId]/usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
  front/pages/api/w/[wId]/workspace-usage.ts
  front/temporal/data_retention/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

fix import from client to app
  front/lib/api/actions/servers/poke/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Merge anonid + userid
  front/components/app/PostHogTracker.tsx
  front/lib/utils/utm.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
