Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Fix lint
  sparkle/src/components/index.ts
Due: biome

Add sparkle editor with top bar component
  sparkle/src/components/EditorWithTopBar.tsx
  sparkle/src/components/index.ts
Due: biome

Add sparkle editor with top bar component (#21571)
  sparkle/src/components/ContainerWithTopBar.tsx
  sparkle/src/components/index.ts
  sparkle/src/stories/ContainerWithTopBar.stories.tsx
Due: biome

Add instruction bar with buttons
  front/components/agent_builder/instructions/AgentBuilderInstructionsBlock.tsx
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/agent_builder/instructions/AgentInstructionsHistory.tsx
  front/components/agent_builder/instructions/InstructionsMenuBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow workOS activity to remove members from provisioned groups
  front/lib/resources/group_resource.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow workOS activity to remove members from provisioned groups (#21582)
  front/lib/resources/group_resource.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix remote server errors (#21537)
  front/lib/actions/mcp_metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: finally remove project_journal_queue (#21552)
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): clarify user message navigation tooltips
  front/components/assistant/conversation/AgentInputBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add accept header
  front/lib/api/llm/clients/openai/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: improve butler prompt (#21388)
  front/lib/api/projects/butler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(front): increase vitest CI test timeout
  front/package.json
Due: package-lock-check, biome

test(front): stabilize restricted project space access test
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adding Template page
  sparkle/playground/src/stories/ProjectsWithInbox.tsx
  sparkle/playground/src/stories/TemplateSelection.tsx
Due: biome

Agent Builder as modal
  sparkle/playground/src/components/AgentBuilderView.tsx
  sparkle/playground/src/stories/AgentBuilder.tsx
  sparkle/playground/src/stories/ProjectsWithInbox.tsx
  sparkle/playground/src/stories/TemplateSelection.tsx
Due: biome

feat: add accept header (#21583)
  front/lib/api/llm/clients/openai/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notification update
  front/lib/actions/mcp_internal_actions/servers/jira/types.ts
  front/lib/api/poke/types.ts
  sparkle/src/components/DataTable.tsx
  sparkle/src/components/Notification.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notification update
  sparkle/src/components/Notification.tsx
Due: biome

Notification update
  front/components/assistant/conversation/sidebar/ProjectsList.tsx
  sparkle/src/components/NavigationList.tsx
  sparkle/src/components/Notification.tsx
  sparkle/src/stories/Notification.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notification update
  sparkle/src/components/DataTable.tsx
Due: biome

Notification update
  front/components/assistant/conversation/sidebar/ProjectsList.tsx
  front/lib/actions/mcp_internal_actions/servers/jira/types.ts
  front/lib/api/poke/types.ts
  sparkle/src/components/DataTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): clarify user message navigation tooltips (#21564)
  front/components/assistant/conversation/AgentInputBar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add retry button on cancelled messages
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

disable when retry handler is processing
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  d4c91733d10413b4781d441142530e378ae9a16a
Due: none

fix: editors can add mentioned users to private projects
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/resources/space_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Don't invalidate user (#21557)
  front/lib/swr/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Prevent users from leaving a project if last member
  front/components/assistant/conversation/ProjectMenu.tsx
  front/components/assistant/conversation/space/ProjectHeaderActions.tsx
  sparkle/src/components/Dropdown.tsx
  sparkle/src/stories/Dropdown.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Sparkle lint
  sparkle/src/components/Dropdown.tsx
  sparkle/src/stories/Dropdown.stories.tsx
Due: biome

[front/relocation] fix: Map user id in case of conflict on workOSUserId
  front/temporal/relocation/activities/destination_region/front/sql.ts
  front/temporal/relocation/activities/source_region/front/sql.ts
  front/temporal/relocation/activities/types.ts
  front/temporal/relocation/lib/sql/user_mappings.ts
  front/temporal/relocation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

typings
  front/temporal/relocation/activities/source_region/front/sql.ts
  front/temporal/relocation/lib/sql/user_mappings.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/temporal/relocation/activities/destination_region/front/sql.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

clean
  front/temporal/relocation/activities/destination_region/front/sql.ts
  front/temporal/relocation/activities/source_region/front/sql.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fixed import
  front/temporal/relocation/activities/destination_region/front/sql.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: update description and latest
  front/types/assistant/models/openai.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: set 5.2 as best openai performing model
  front/components/agent_builder/instructions/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[AGENT-BUILDER] Set GPT 5.2 as latest flgship (#21554)
  front/components/agent_builder/instructions/utils.ts
  front/types/assistant/models/openai.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
