Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] Group limits: gate the feature on pool-only contracts (#33624)
  front/lib/api/credits/metronome_contract.ts
  front/lib/api/groups/group_limit_eligibility.test.ts
  front/lib/api/groups/group_limit_eligibility.ts
  front/lib/metronome/seats.test.ts
  front/lib/metronome/seats.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: add structured output suggestion (#33637)
  front/components/agent_builder/sidekick/SidekickSuggestionsContext.tsx
  front/components/assistant/details/SuggestionPreviewContext.test.ts
  front/components/assistant/details/SuggestionPreviewContext.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/components/markdown/suggestion/AgentSuggestionActionCard.tsx
  front/components/markdown/suggestion/AgentSuggestionDetails.tsx
  front/components/markdown/suggestion/SidekickSuggestionCard.tsx
  front/components/markdown/suggestion/suggestion_directives.ts
  front/components/markdown/suggestion/suggestion_order.ts
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/api/assistant/agent_suggestion_authorization.ts
  front/lib/api/assistant/agent_suggestion_pruning.test.ts
  front/lib/api/assistant/agent_suggestion_pruning.ts
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/configuration/model_update.ts
  front/lib/editor/merge_agent_suggestion_changes.ts
  front/lib/editor/preview_agent_suggestions.test.ts
  front/lib/editor/preview_agent_suggestions.ts
  front/lib/resources/skill/code_defined/global/conversational_building.ts
  front/tests/conversational-building-evals/lib/assertions.ts
  front/tests/conversational-building-evals/lib/types.ts
  front/tests/conversational-building-evals/test-suites/update-agent.ts
  front/tests/utils/AgentSuggestionFactory.ts
  front/types/assistant/models/utils.ts
  front/types/suggestions/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] resolveAgentIdByName: only active readable agents (Dust, exact match, re-checked search hit); withEs returns Err when the client is unavailable
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/lib/api/elasticsearch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Resolve agent names by exact, case-insensitive fetchByName (custom then global), no search fallback
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/lib/api/elasticsearch.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Resolve agent names through fetchByName + the ES agent search
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/mcp_server/tools/conversations/create.ts
  front/lib/api/mcp_server/tools/conversations/create_message.ts
  front/scripts/seed/analytics/hiddenAgent.ts
  front/scripts/seed/mcp_tools/seed.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Observe v2] Group management feature flag: change stage to "ask_owner"
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: wrap every test render in the global I18nProvider
  .claude/skills/dust-i18n/SKILL.md
  front/CONTRACTS
  front/components/app/UserLocaleSync.test.tsx
  front/components/me/PendingInvitationsTable.test.tsx
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reworked instructions of Frames v2
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
  front/lib/resources/skill/code_defined/global/frames.test.ts
  front/lib/resources/skill/code_defined/global/frames.ts
  front/lib/resources/skill/code_defined/global/frames_v2.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: keep the i18n test setup out of front-api
  .claude/skills/dust-i18n/SKILL.md
  front/CONTRACTS
  front/vite.config.mjs
  front/vite.i18nSetup.ts
  front/vite.setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: show current editor name in search filters
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/shared/filter_panel/searchFilter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Resolve agent names through fetchByName (#33639)
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
  front/lib/api/agents/search.test.ts
  front/lib/api/agents/search.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/mcp_server/tools/conversations/create.ts
  front/lib/api/mcp_server/tools/conversations/create_message.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
  front/scripts/seed/analytics/hiddenAgent.ts
  front/scripts/seed/mcp_tools/seed.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: classify expired Snowflake sessions as auth errors (#33643)
  connectors/src/connectors/snowflake/temporal/cast_known_errors.test.ts
  connectors/src/connectors/snowflake/temporal/cast_known_errors.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] fix: handle missing users in Frame file authorization (#33641)
  front/lib/api/frames/publication_storage.test.ts
  front/lib/api/viz/authorized_file_access.test.ts
  front/lib/api/viz/authorized_file_access.ts
  front/lib/resources/file_resource.test.ts
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Update MCP metadata snapshot after dropping analytics get_agent_details
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

[Observe v2] Group management feature flag: change stage to "ask_owner" (#33654)
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

simplify(extension): drop workspace gating from getPanelState
  extension/platforms/chrome/background.ts
  extension/shared/messages.ts
Due: biome

[front] listActions/batchListActions accept permissionFiltering: dangerously_skip; buildResaveParams uses it
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] listActions/batchListActions accept permissionFiltering: dangerously_skip; buildResaveParams uses it (#33628)
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent configuration JSON: isRedacted becomes canViewContent
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/v1/w/[wId]/swagger_schemas.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.test.ts
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent configuration JSON: isRedacted becomes canViewContent (#33631)
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/v1/w/[wId]/swagger_schemas.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.test.ts
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/tabs/AgentInfoTab/index.tsx
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(skills): let agent changes of a suggest call add the skills it creates by ref
  front/components/markdown/suggestion/AgentSuggestionDetails.tsx
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/skills/format.ts
  front/scripts/seed/conversational_building/assets/conversations.json
  front/scripts/seed/conversational_building/seedConversationalBuilding.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(security): encode share token in URL paths to prevent path injection (CWE-99) (#33520)
  front/lib/swr/frames.ts
  front/lib/swr/share.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Prevent shell injection in GitHub Actions via env variable indirection (#33525)
  .github/actions/slack-check-deployment-blocked/action.yml
  .github/workflows/deploy-spa-production.yaml
Due: biome

[front] Escape agent-controlled ref keys before using in RegExp (#33530)
  front/lib/api/actions/servers/run_agent/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Validate sourceUrl scheme before window.open in ContentActions (#33531)
  front/components/spaces/ContentActions.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(jira): encode linkId in deleteIssueLink URL path (#33532)
  front/lib/api/actions/servers/jira/jira_api_helper.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(marketing): separate consent for PostHog session replay
  marketing/components/app/PostHogTracker.tsx
  marketing/components/home/CookieBanner.test.tsx
  marketing/components/home/CookieBanner.tsx
  marketing/components/home/LandingLayout.tsx
  marketing/components/home/menu/FooterNavigation.tsx
  marketing/lib/cookies.ts
  marketing/lib/session_replay.test.ts
  marketing/lib/session_replay.ts
  marketing/package.json
  marketing/vitest.config.ts
  package-lock.json
Due: package-lock-check, biome

fix(relocation): relocate conversation data sources again
  front/temporal/relocation/activities/source_region/core/data_sources.test.ts
  front/temporal/relocation/activities/source_region/core/data_sources.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Accept bracketed labels in build entity directives
  front/tests/conversational-building-evals/lib/assertions.ts
  front/types/shared/utils/markdown.test.ts
  front/types/shared/utils/markdown.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] v1 agent GET: serialize variant=full from the AgentResource so unviewable content is redacted
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
Due: biome

[front-api] v1 agent GET/PATCH load the agent through AgentResource, not getAgentConfiguration
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
Due: biome

style: fix Biome formatting in relocation regression test
  front/temporal/relocation/activities/source_region/core/data_sources.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add en-GB, reusing the en-US messages (#33553)
  .claude/skills/dust-i18n/SKILL.md
  .claude/skills/dust-translate/SKILL.md
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/swagger_private_schemas.ts
  front-api/routes/v1/w/[wId]/swagger_schemas.ts
  front-api/routes/w/[wId]/index.test.ts
  front/components/app/UserLocaleSync.test.tsx
  front/components/me/PendingInvitationsTable.test.tsx
  front/lib/i18n/i18n.ts
  front/scripts/i18n/check.ts
  front/types/locale.ts
  lingui.config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix snowflake oauth form validation (#33382)
  front/lib/api/oauth/providers/snowflake.ts
  front/types/oauth/lib.test.ts
  front/types/oauth/lib.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security(ci): fix remaining Slack profile response injection in slack-notify
  .github/actions/slack-notify/action.yml
Due: biome

feat(extension): expose active panel state (#33622)
  extension/platforms/chrome/background.ts
  extension/shared/hooks/usePanelStateListener.ts
  extension/shared/messages.ts
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/PodMainPage.tsx
Due: biome

[front] Remove duplicate get_agent_details from workspace_analytics (#33650)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/workspace_analytics/metadata.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.test.ts
  front/lib/api/actions/servers/workspace_analytics/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Main breakage notifier: only compare against runs from the last 7 days
  .github/actions/main-breakage/main-breakage.test.ts
  .github/actions/main-breakage/main-breakage.ts
Due: biome

security(ci): block fork-PR checkout in claude.yml (CWE-829)
  .github/workflows/claude.yml
Due: biome

refactor(extension): simplify closeSidePanel per review feedback
  extension/platforms/chrome/background.ts
Due: biome
