Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] fix: reject malformed calendar timestamp offsets
  front/lib/api/actions/servers/google_calendar/helpers.test.ts
  front/lib/api/actions/servers/google_calendar/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: resolve calendar windows independently of host DST
  front/lib/api/actions/servers/google_calendar/helpers.test.ts
  front/lib/api/actions/servers/google_calendar/helpers.ts
  front/types/shared/utils/date_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: replace Luxon in Google Calendar availability
  front/lib/api/actions/servers/google_calendar/helpers.test.ts
  front/lib/api/actions/servers/google_calendar/helpers.ts
  front/lib/api/actions/servers/google_calendar/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: key Slack personal approval on the to argument (#33911)
  front/lib/actions/mcp_internal_actions/constants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: return computed availability directly
  front/lib/api/actions/servers/google_calendar/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: upgrade date-fns to v4
  front-api/package.json
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[connectors] Bind Firecrawl webhook events to the connector's current crawl
  connectors/src/api/webhooks/webhook_firecrawl.test.ts
  connectors/src/api/webhooks/webhook_firecrawl.ts
  connectors/src/connectors/webcrawler/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Verify dfs writeback and retain directory caches across opens
  x/spolu/dfs/v1/CONTRACTS
  x/spolu/dfs/v1/DESIGN.md
  x/spolu/dfs/v1/PLAN.md
  x/spolu/dfs/v1/README.md
  x/spolu/dfs/v1/bench/vfs.py
  x/spolu/dfs/v1/fuse/src/linux.rs
  x/spolu/dfs/v1/tests/fuse_e2e.py
  x/spolu/dfs/v1/tests/support.py
Due: biome

[front] Delete the legacy agent configuration loaders (#33776)
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.ts
  front-api/routes/v1/w/[wId]/assistant/conversations/[cId]/messages/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/archive_inactive.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/batch_update_model.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/batch_update_scope.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.test.ts
  front-api/routes/w/[wId]/assistant/suggestion_batches/[bId]/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/assistant/agent_grants.test.ts
  front/lib/api/assistant/agent_suggestion_pruning.test.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/assistant/configuration/agent.test.ts
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/configuration/helpers.ts
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/messages.test.ts
  front/lib/api/assistant/conversation/permissions.test.ts
  front/lib/api/assistant/inactivity/archive_inactive_agents.test.ts
  front/lib/api/sandbox/create_child_action.test.ts
  front/lib/api/spaces.test.ts
  front/lib/resources/agent_resource.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/migrations/20250429_update_agent_scopes.ts
  front/migrations/20250725_backfill_agent_configurations.ts
  front/migrations/20251011_replace_viz_by_frame.ts
  front/migrations/20251017_backfill_agent_requested_space_ids.ts
  front/scripts/seed/governance/seed.test.ts
  front/scripts/update_agent_requested_group_and_space_ids.ts
  front/scripts/update_conversation_requested_group_and_spaces_ids.ts
  front/temporal/agent_inactivity/activities.test.ts
  front/tests/utils/agent_configuration_reads.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: replace abandoned pegjs with peggy
  front-api/package.json
  front-api/scripts/check-bundled-deps.allowlist.json
  front/lib/api/run.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: replace Luxon in Google Calendar availability (#33886)
  front/lib/api/actions/servers/google_calendar/helpers.test.ts
  front/lib/api/actions/servers/google_calendar/helpers.ts
  front/lib/api/actions/servers/google_calendar/metadata.ts
  front/lib/api/actions/servers/google_calendar/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Record dfs v1 client optimization benchmark results
  x/spolu/dfs/v1/PLAN.md
  x/spolu/dfs/v1/bench/RESULTS.md
  x/spolu/dfs/v1/bench/latest/benchmark-client-metrics.json
  x/spolu/dfs/v1/bench/latest/benchmark.json
  x/spolu/dfs/v1/bench/latest/dfs.json
  x/spolu/dfs/v1/bench/latest/populate-client-metrics.json
  x/spolu/dfs/v1/bench/latest/populate.json
  x/spolu/dfs/v1/bench/uncached/dfs.json
  x/spolu/dfs/v1/bench/uncached/local.json
  x/spolu/dfs/v1/bench/uncached/populate.json
  x/spolu/dfs/v1/bench/uncached/run.json
Due: biome

[front] Group limits: narrow the mocked permission target with a type guard (#33913)
  front/lib/api/groups/limit_group.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: document shared search filter schemas
  front/lib/agent_search/query_schema.ts
  front/lib/api/actions/servers/workspace_management/metadata.ts
  front/lib/resources/skill/code_defined/global/conversational_building.ts
  front/lib/skill_search/query_schema.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[tooling] chore: remove added Grit contract
  .grit/patterns/CONTRACTS
Due: none

[front] chore: remove direct Luxon dependencies
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] Route Salesforce attachment downloads through the egress proxy and validate the instance URL host
  front/lib/api/actions/servers/salesforce/api_helper.ts
  front/types/oauth/lib.test.ts
  front/types/oauth/lib.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(conversational-building): sub-agent fan-out eval (#33825)
  front/tests/conversational-building-evals/lib/assertions.ts
  front/tests/conversational-building-evals/lib/types.ts
  front/tests/conversational-building-evals/test-suites/sub-agent-refs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Teams: anchor attachment host allowlist to exact host or subdomain
  connectors/src/api/webhooks/teams/content_fragments.ts
Due: connectors-typecheck, biome, connectors-eslint

[front-api] chore: drop date-fns from the bundled-deps allowlist
  front-api/scripts/check-bundled-deps.allowlist.json
Due: biome

[sparkle] fix: remove background color in search dropdowns (#33866)
  sparkle/src/components/Dropdown.tsx
Due: biome

Keep uncached and optimized dfs benchmark tables
  x/spolu/dfs/v1/bench/RESULTS.md
Due: biome

[connectors] Teams: anchor attachment host allowlist to exact host or subdomain (#33919)
  connectors/src/api/webhooks/teams/content_fragments.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] Add tests and harden MCP Refresh when OAuth discovery fails
  front/components/actions/mcp/MCPServerSettings.test.tsx
  front/components/actions/mcp/RemoteMCPForm.test.tsx
  front/components/actions/mcp/create/ConnectMCPServerDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove unused motion dependency
  front/package.json
  package-lock.json
Due: package-lock-check, biome

Security: remove datadog tracking from trigger secret
  front/CONTRACTS
  front/components/pages/workspace/model_providers/ProviderConfigurationContextItem.tsx
  front/components/triggers/WebhookSourceDetailsInfo.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: replace abandoned pegjs with peggy (#33918)
  front-api/package.json
  front-api/scripts/check-bundled-deps.allowlist.json
  front/lib/api/run.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Data source usage reads agent status and scope from the agents table (#33792)
  front/lib/api/agent_data_sources.test.ts
  front/lib/api/agent_data_sources.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: upgrade date-fns to v4 (#33915)
  front-api/package.json
  front-api/scripts/check-bundled-deps.allowlist.json
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] enh: migrate agent and skill listing tools to ES search (#33706)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/agent_search/constants.ts
  front/lib/agent_search/query.ts
  front/lib/agent_search/query_schema.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/describe_agent.ts
  front/lib/api/actions/servers/workspace_management/metadata.ts
  front/lib/api/actions/servers/workspace_management/tools/index.test.ts
  front/lib/api/actions/servers/workspace_management/tools/index.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/actions/servers/workspace_management/tools/list_skills.ts
  front/lib/api/actions/servers/workspace_management/tools/search_agents.ts
  front/lib/api/actions/servers/workspace_management/tools/search_skills.ts
  front/lib/api/actions/servers/workspace_management/tools/utils.ts
  front/lib/resources/skill/code_defined/global/conversational_building.ts
  front/lib/resources/skill/code_defined/global/workspace_analytics.ts
  front/lib/skill_search/constants.ts
  front/lib/skill_search/query.ts
  front/lib/skill_search/query_schema.ts
  front/tests/conversational-building-evals/README.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove Luxon from bundled dependency allowlist
  front-api/scripts/check-bundled-deps.allowlist.json
Due: biome

Security: remove datadog tracking from trigger secret (#33922)
  front/CONTRACTS
  front/components/pages/workspace/model_providers/ProviderConfigurationContextItem.tsx
  front/components/triggers/WebhookSourceDetailsInfo.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(i18n): mount the I18nProvider in every front-spa entry (#33813)
  .claude/skills/dust-i18n/SKILL.md
  front-spa/src/email/EmailApp.tsx
  front-spa/src/oauth/OAuthApp.tsx
  front-spa/src/poke/PokeApp.tsx
  front-spa/src/share/ShareApp.tsx
Due: biome

[front] chore: remove unused motion dependency (#33921)
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] enh: search skills in the pod defaults picker (#33017)
  front/components/pod/settings/PodDefaultSkillPicker.test.tsx
  front/components/pod/settings/PodDefaultSkillPicker.tsx
  front/components/pod/settings/PodSettingsCustomizationTab.tsx
  sparkle/src/components/Dropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[AGENT BUILDER] Prevent dropping existing editors when adding one on slow networks (#33912)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderLeftPanel.tsx
  front/components/agent_builder/settings/AccessSection.test.tsx
  front/components/agent_builder/settings/AccessSection.tsx
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove direct Luxon dependencies (#33879)
  front-api/scripts/check-bundled-deps.allowlist.json
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] chore: remove skills and agents search feature flags
  front-api/routes/w/[wId]/assistant/mentions/index.test.ts
  front-api/routes/w/[wId]/assistant/mentions/suggestions.test.ts
  front-api/routes/w/[wId]/skills/search.redaction.test.ts
  front-api/routes/w/[wId]/skills/search.test.ts
  front-api/routes/w/[wId]/skills/search.ts
  front/components/assistant/AgentPicker.test.tsx
  front/components/assistant/AgentPicker.tsx
  front/components/assistant/CapabilitiesPicker.test.tsx
  front/components/assistant/CapabilitiesPicker.tsx
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/command_palette/useCommandPaletteSearch.ts
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.test.tsx
  front/components/editor/extensions/shared/slash_suggestion/useSlashCommandCapabilities.ts
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/skills/ManageSkillsPage.test.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/skill_builder/SkillBuilderContext.tsx
  front/components/skills/DiscoverableSkillsList.test.tsx
  front/components/skills/DiscoverableSkillsList.tsx
  front/lib/api/assistant/conversation/mention_suggestions.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: defer legacy management page removal
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
