Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Release sidekick (#22983)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderLayout.tsx
  front/components/agent_builder/AgentBuilderRightPanel.tsx
  front/components/agent_builder/AgentTemplateGrid.tsx
  front/components/agent_builder/hooks/useIsAgentBuilderSidekickEnabled.ts
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/agent_builder/sidekick/SidekickSuggestionsContext.tsx
  front/components/agent_builder/transformAgentConfiguration.ts
  front/components/assistant/conversation/ConversationMenu.tsx
  front/components/assistant/conversation/InAppBanner.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/pages/builder/agents/CreateAgentPage.tsx
  front/components/pages/builder/agents/NewAgentPage.tsx
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/tracking.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/suggestions.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
  front/public/static/Sidekick_Banner.png
  front/scripts/seed/sidekick/seed.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Format
  front/lib/api/actions/servers/agent_sidekick_context/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add max items on LRU cache implementation
  front/lib/api/assistant/global_agents/configurations/dust/utils.ts
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(byok): mock deleteCredentials in OAuthAPI to fix cache invalidation tests
  front/lib/resources/provider_credential_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Restore error message
  front/lib/api/actions/servers/agent_sidekick_context/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix Clay tracking script: move to _app.tsx and restrict to dust.tt
  front/pages/_app.tsx
  front/pages/_document.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update package-lock.json
  package-lock.json
Due: biome

[front] - feature: support mounting dropdowns in custom portal containers
  front/components/poke/shadcn/ui/form/fields.tsx
  front/components/poke/subscriptions/FreePlanUpgradeDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(byok): use affectedCount !== 0 guard in delete to skip OAuth cleanup when no row was deleted
  front/lib/resources/provider_credential_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add NEXT_PUBLIC_DUST_CLIENT_FACING_URL
  extension/platforms/chrome/webpack.config.ts
Due: biome

refactor(byok): flatten nested try/catch into single try/catch/finally
  front/lib/swr/provider_credentials.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Use existing compare ChatGPT logo on landing page
  front/public/static/landing/logos/gray/chatgpt.svg
Due: none

[front] Extract shared Competitive landing page types to types.ts
  front/components/home/content/Competitive/ComparisonTableSection.tsx
  front/components/home/content/Competitive/DifferentiatorsSection.tsx
  front/components/home/content/Competitive/StatsSection.tsx
  front/components/home/content/Competitive/TestimonialsGridSection.tsx
  front/components/home/content/Competitive/config/chatgptConfig.tsx
  front/components/home/content/Competitive/config/chatgptCsConfig.tsx
  front/components/home/content/Competitive/config/gleanConfig.tsx
  front/components/home/content/Competitive/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add Dust vs ChatGPT for Customer Support landing page
  front/components/home/content/Competitive/CompetitiveHeroSection.tsx
  front/components/home/content/Competitive/config/chatgptCsConfig.tsx
  front/pages/landing/chatgpt-cs.tsx
  front/public/static/landing/logos/gray/chatgpt.svg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Revert esbuild version bump to ^0.25.12
  package-lock.json
  sparkle/package.json
Due: package-lock-check, biome

[front] Add Dust vs ChatGPT for Customer Support landing page
  front/public/static/landing/logos/gray/chatgpt.svg
Due: none

[front] Extract shared Competitive landing page types to types.ts
  sparkle/package.json
Due: package-lock-check, biome

remove intermediary set
  front/lib/api/files/use_cases/skill_attachment.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[BYOK] Add provider credential revocation (#23007)
  front/components/pages/workspace/model_providers/KeyConfigurationSheet.tsx
  front/components/pages/workspace/model_providers/ProviderConfigurationContextItem.tsx
  front/components/pages/workspace/model_providers/RemoveKeyDialog.tsx
  front/lib/resources/provider_credential_resource.test.ts
  front/lib/resources/provider_credential_resource.ts
  front/lib/swr/provider_credentials.ts
  front/pages/api/w/[wId]/provider_credentials/[providerId]/index.ts
  front/pages/api/w/[wId]/provider_credentials/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - feature: support mounting dropdowns in custom portal containers (#23010)
  front/components/poke/shadcn/ui/form/fields.tsx
  front/components/poke/subscriptions/FreePlanUpgradeDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Extract ASSISTANT_EMAIL_SUBDOMAIN to constants to fix front-spa build
  front/components/workspace/settings/EmailAgentsToggle.tsx
  front/lib/api/assistant/email/constants.ts
  front/lib/api/assistant/email/email_trigger.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Extract ASSISTANT_EMAIL_SUBDOMAIN to constants to fix front-spa build (#23013)
  front/components/workspace/settings/EmailAgentsToggle.tsx
  front/lib/api/assistant/email/constants.ts
  front/lib/api/assistant/email/email_trigger.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/assistant] - refactor: rename AgentDetails to AgentDetailsSheet across components
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/assistant/AgentBrowser.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/AgentDetailsSheet.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/components/spaces/SystemSpaceTriggersList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove unused property isFile
  front/lib/api/skills/detection/github/parsing.ts
  front/lib/api/skills/detection/parsing.test.ts
  front/lib/api/skills/detection/parsing.ts
  front/lib/api/skills/detection/types.ts
  front/lib/api/skills/detection/zip/detect_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix tests
  front/lib/api/skills/detection/parsing.test.ts
  front/lib/api/skills/detection/parsing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bump lru-cache and use callback version
  front/lib/api/assistant/global_agents/configurations/dust/utils.ts
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
  front/lib/auth.ts
  front/package.json
  front/tests/utils/FeatureFlagFactory.ts
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/components/assistant/manager] - refactor: update import path for AgentDetailsSheet
  front/components/assistant/manager/AssistantsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix path
  front/lib/api/skills/detection/github/import_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

🙈
  front/lib/api/assistant/global_agents/configurations/dust/utils.ts
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/skills/detection/parsing.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

set metadata
  front/lib/api/skills/detection/github/import_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add NEXT_PUBLIC_DUST_CLIENT_FACING_URL (#23011)
  extension/platforms/chrome/webpack.config.ts
Due: biome

[front] - refactor(AgentDetails): rename AgentDetails to AgentDetailsSheet (#23014)
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/assistant/AgentBrowser.tsx
  front/components/assistant/conversation/ConversationLayout.tsx
  front/components/assistant/details/AgentDetailsButtonBar.tsx
  front/components/assistant/details/AgentDetailsSheet.tsx
  front/components/assistant/manager/AssistantsTable.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/components/spaces/SystemSpaceTriggersList.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

type instead of interface
  front/lib/api/skills/detection/github/import_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/lib/api/poke/plugins/workspaces/toggle_feature_flag.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reduce css bundle size (remove safelist) (#22978)
  front/components/agent_builder/settings/avatar_picker/AgentBuilderEmojiPicker.tsx
  front/components/poke/pages/TemplateDetailPage.tsx
  front/tailwind.config.js
  front/types/assistant/avatar.ts
  sparkle/tailwind.config.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

type instead of interface
  front/lib/api/skills/detection/github/types.ts
  front/lib/api/skills/detection/types.ts
  front/lib/api/skills/detection/zip/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix tests
  front/temporal/hard_delete/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
