Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[dfs] chore: add extended results
  x/spolu/dfs/bench/RESULTS.md
Due: biome

Add section for network attached disk benchmarks
  x/spolu/dfs/bench/RESULTS.md
Due: biome

[dfs] chore: add extended results (#33604)
  x/spolu/dfs/bench/RESULTS.md
Due: biome

[front] fix: use relevance ranking for mention suggestions
  front/lib/api/assistant/conversation/mention_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust-hive] fix: launch Codex cleanly and rename when ready
  x/henry/dust-hive/src/commands/open.ts
  x/henry/dust-hive/src/commands/spawn.ts
  x/henry/dust-hive/src/lib/multiplexer/tmux.ts
  x/henry/dust-hive/src/lib/multiplexer/types.ts
Due: biome

[front] fix: match loaded search table row heights
  front/components/assistant/manager/AgentSearchTable.tsx
  front/components/skills/SkillSearchTable.tsx
  sparkle/src/stories/DataTableSkeleton.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dust-hive] chore: remove launcher code contract
  x/henry/dust-hive/src/lib/multiplexer/tmux.ts
Due: biome

[front] fix: simplify editor skeletons and show twelve rows
  front/components/assistant/manager/AgentSearchTable.tsx
  front/components/skills/SkillSearchTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

docs(skills): keep global agents out of scope when adding a model
  .claude/skills/dust-llm/SKILL.md
Due: biome

feat(llm): add gpt-6.1-sol model config, pricing and tiers
  front/lib/api/assistant/token_pricing/eu.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/types/assistant/models/model_tiers.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/openai.ts
  front/types/assistant/models/static_model_reasoning_efforts.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(security): add redactSecret helper with a fixed-length mask
  front/types/shared/utils/string_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] internal fetch: retry idempotent calls on transport errors (#33457)
  front/lib/api/internal_fetch.test.ts
  front/lib/api/internal_fetch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mcp): let oauth discovery probe a stored server by id
  front-api/routes/w/[wId]/mcp/discover_oauth_metadata.test.ts
  front-api/routes/w/[wId]/mcp/discover_oauth_metadata.ts
Due: biome

fix(mcp): always redact remote MCP server secret and headers in toJSON
  front-api/routes/w/[wId]/mcp/[serverId]/index.test.ts
  front/lib/resources/remote_mcp_servers_resource.test.ts
  front/lib/resources/remote_mcp_servers_resource.ts
  front/types/shared/utils/string_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): mask internal MCP server credentials with redactSecret
  front-api/routes/w/[wId]/mcp/[serverId]/index.test.ts
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): discover oauth with stored headers when connecting a server
  front/components/actions/mcp/create/ConnectMCPServerDialog.tsx
  front/lib/swr/mcp_servers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(security): add helpers detecting redacted secrets in header values
  front/types/shared/utils/http_headers.ts
  front/types/shared/utils/string_utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): reject header updates that carry redacted values
  front-api/routes/w/[wId]/mcp/[serverId]/index.test.ts
  front/lib/api/mcp_schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: update extension version
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

[dust-hive] fix: cleanup dhx command and insert rename when ready (#33606)
  x/henry/dust-hive/src/commands/open.ts
  x/henry/dust-hive/src/commands/spawn.ts
  x/henry/dust-hive/src/lib/multiplexer/tmux.ts
  x/henry/dust-hive/src/lib/multiplexer/types.ts
Due: biome

chore: update extension version (#33609)
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

feat(llm): add gpt-6.1-sol global and eu openai responses endpoints
  front/lib/llms/providers/openai/models/gpt_six_dot_one_sol.ts
  front/lib/llms/stream/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.ts
  front/lib/llms/stream/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/openai/models/gpt_six_dot_one_sol.test.ts
  front/lib/model_constructors/providers/openai/models/gpt_six_dot_one_sol.ts
  front/lib/model_constructors/providers/openai/reasoning_summary.ts
  front/lib/model_constructors/stream/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.ts
  front/lib/model_constructors/stream/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.test.ts
  front/lib/model_constructors/test/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/models/used_model_configs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[SPACES] Let admins join private pods from redacted agents and skills (#33451)
  front-api/routes/w/[wId]/spaces/index.test.ts
  front-api/routes/w/[wId]/spaces/index.ts
  front/components/assistant/details/tabs/AgentInfoTab/RedactedAgentMessage.tsx
  front/components/skills/RedactedSkillMessage.tsx
  front/lib/swr/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: cover mention suggestion relevance sorting
  front-api/routes/w/[wId]/assistant/mentions/index.test.ts
Due: biome

[connectors] fix: handle Slack file upload errors (#33519)
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] feat: return the user locale in the workspace auth context
  front-api/routes/w/[wId]/auth-context.test.ts
  front-api/routes/w/[wId]/auth-context.ts
  front/components/UserSettingsPopover.tsx
  front/hooks/useUserLocale.ts
  front/lib/auth/AuthContext.tsx
  front/lib/resources/user_resource.ts
  front/types/api/auth_context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move reinforcement to batch suggestion so we can later display them in conversation
  front-api/routes/w/[wId]/assistant/skills/[sId]/suggestions.test.ts
  front-api/routes/w/[wId]/assistant/skills/[sId]/suggestions.ts
  front/lib/api/skills/update_skill_suggestions_state.ts
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/scripts/seed/factories/seedSkillSuggestions.ts
  front/scripts/seed/reinforcement/seed.test.ts
  front/types/suggestions/batch_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: batch create tags
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/assistant/agent_tags_change.ts
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/resources/tags_resource.test.ts
  front/lib/resources/tags_resource.ts
  front/types/tag.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mcp): detect redacted header values after sanitization
  front/types/shared/utils/http_headers.test.ts
  front/types/shared/utils/http_headers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mcp): ask to re-enter every header value when editing headers
  front/components/actions/mcp/MCPServerDetails.tsx
  front/components/actions/mcp/MCPServerHeaders.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Add GPT-6.1 Sol (#33607)
  .claude/skills/dust-llm/SKILL.md
  front/lib/api/assistant/token_pricing/eu.ts
  front/lib/api/assistant/token_pricing/global.ts
  front/lib/llms/providers/openai/models/gpt_six_dot_one_sol.ts
  front/lib/llms/stream/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.ts
  front/lib/llms/stream/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/openai/models/gpt_six_dot_one_sol.test.ts
  front/lib/model_constructors/providers/openai/models/gpt_six_dot_one_sol.ts
  front/lib/model_constructors/providers/openai/reasoning_summary.ts
  front/lib/model_constructors/stream/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.ts
  front/lib/model_constructors/stream/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/openai_gpt_six_dot_one_sol_eu_openai_responses.test.ts
  front/lib/model_constructors/test/endpoints/openai_gpt_six_dot_one_sol_global_openai_responses.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/models.ts
  front/types/assistant/models/model_tiers.ts
  front/types/assistant/models/models.ts
  front/types/assistant/models/openai.ts
  front/types/assistant/models/static_model_reasoning_efforts.ts
  front/types/assistant/models/used_model_configs.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: use relevance ranking for mention suggestions (#33605)
  front-api/routes/w/[wId]/assistant/mentions/index.test.ts
  front/lib/api/assistant/conversation/mention_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[skills] Add dust-analytics skill and wire it into AGENTS.md
  .claude/skills/dust-analytics/SKILL.md
  .claude/skills/dust-analytics/references/metabase.md
  .claude/skills/dust-analytics/references/posthog-client.md
  .claude/skills/dust-analytics/references/posthog-server.md
  AGENTS.md
  front/AGENTS.md
Due: biome

model id
  front/lib/api/skills/update_skill_suggestions_state.ts
  front/scripts/seed/reinforcement/seed.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Skills] Add dust-ux-writing skill for product UI copy (#33438)
  .claude/skills/dust-ux-writing/SKILL.md
Due: biome

feat(discover): copy the @agent or /skill handle when clicking its chip
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: batch create tags (#33608)
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/assistant/agent_tags_change.ts
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/resources/tags_resource.test.ts
  front/lib/resources/tags_resource.ts
  front/types/tag.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(files): rasterize SVG uploads via imgproxy instead of sharp
  front/lib/api/files/processing/image_converter/index.ts
  front/lib/api/files/processing/images.test.ts
  front/lib/api/files/processing/images.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

1password webinar (#33515)
  marketing/components/home/PromoBanner.tsx
  marketing/public/static/landing/GTM_Engineers_1Password_Webinar_Banner.png
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
