Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Free seats limits and credits
  extension/ui/components/auth/AuthProvider.tsx
  front-api/routes/poke/plans.ts
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front/components/poke/plans/form.tsx
  front/lib/api/membership.ts
  front/lib/assistant.test.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/seat_types.ts
  front/lib/models/plan.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/lib/resources/membership_resource.ts
  front/migrations/db/migration_646.sql
  front/pages/api/metronome/webhook.test.ts
  front/pages/api/poke/plans.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/w/[wId]/members/[uId]/seat-type.ts
  front/scripts/metronome_setup.ts
  front/scripts/seed/byok/seed.ts
  front/types/plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix plans.ts: use apiError for error response
  front-api/routes/poke/plans.ts
Due: biome

Move to a dedicated component.
  viz/app/components/EditableFrame.tsx
  viz/app/components/VisualizationWrapper.tsx
  viz/app/components/VizContext.tsx
Due: biome

[front] Free seats limits and credits (#25851)
  extension/ui/components/auth/AuthProvider.tsx
  front-api/routes/poke/plans.ts
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front/components/poke/plans/form.tsx
  front/lib/api/membership.ts
  front/lib/assistant.test.ts
  front/lib/metronome/constants.ts
  front/lib/metronome/seat_types.ts
  front/lib/models/plan.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/lib/resources/membership_resource.ts
  front/migrations/db/migration_646.sql
  front/pages/api/metronome/webhook.test.ts
  front/pages/api/poke/plans.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/w/[wId]/members/[uId]/seat-type.ts
  front/scripts/metronome_setup.ts
  front/scripts/seed/byok/seed.ts
  front/types/plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sandbox): dsbx tool-call auth header parsing and response deserialization
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/api/types.rs
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/pages/api/v1/w/[wId]/sandbox/actions/[aId]/index.ts
  front/pages/api/v1/w/[wId]/sandbox/actions/call.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[slim-api] Migrate poke root routes to Hono (#25804)
  front-api/routes/poke/admin.ts
  front-api/routes/poke/auth-context.ts
  front-api/routes/poke/cache.ts
  front-api/routes/poke/connectors/[connectorId]/index.ts
  front-api/routes/poke/connectors/[connectorId]/redirect.ts
  front-api/routes/poke/connectors/index.ts
  front-api/routes/poke/coupons/[couponId]/archive.ts
  front-api/routes/poke/coupons/[couponId]/index.ts
  front-api/routes/poke/coupons/[couponId]/redemptions.ts
  front-api/routes/poke/coupons/index.ts
  front-api/routes/poke/global-agent-feedbacks/index.ts
  front-api/routes/poke/index.ts
  front-api/routes/poke/kill.ts
  front-api/routes/poke/plans.ts
  front-api/routes/poke/region.test.ts
  front-api/routes/poke/region.ts
  front-api/routes/poke/templates/[tId].ts
  front-api/routes/poke/templates/index.ts
  front-api/routes/poke/templates/pull.test.ts
  front-api/routes/poke/templates/pull.ts
  front/components/poke/pages/GlobalAgentFeedbacksPage.tsx
  front/lib/api/poke/global_agent_feedbacks.ts
  front/lib/api/poke/templates.ts
  front/pages/api/poke/admin.ts
  front/pages/api/poke/auth-context.ts
  front/pages/api/poke/cache.ts
  front/pages/api/poke/connectors/[connectorId]/redirect.ts
  front/pages/api/poke/coupons/[couponId]/archive.ts
  front/pages/api/poke/coupons/[couponId]/redemptions.ts
  front/pages/api/poke/coupons/index.ts
  front/pages/api/poke/global-agent-feedbacks/index.ts
  front/pages/api/poke/kill.ts
  front/pages/api/poke/region.ts
  front/pages/api/poke/templates/[tId].ts
  front/pages/api/poke/templates/index.ts
  front/pages/api/poke/templates/pull.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migrate poke workspace routes for observability, files, llm-traces, mcp, webhook_sources, data_source_views, groups, and assistants to Hono
  front-api/routes/poke/workspaces/[wId]/assistants/[aId]/index.ts
  front-api/routes/poke/workspaces/[wId]/assistants/[aId]/suggestions.test.ts
  front-api/routes/poke/workspaces/[wId]/assistants/[aId]/suggestions.ts
  front-api/routes/poke/workspaces/[wId]/assistants/index.ts
  front-api/routes/poke/workspaces/[wId]/data_source_views/[dsvId]/details.ts
  front-api/routes/poke/workspaces/[wId]/data_source_views/[dsvId]/index.ts
  front-api/routes/poke/workspaces/[wId]/data_source_views/index.ts
  front-api/routes/poke/workspaces/[wId]/files/[sId].ts
  front-api/routes/poke/workspaces/[wId]/files/index.ts
  front-api/routes/poke/workspaces/[wId]/groups/[groupId]/details.ts
  front-api/routes/poke/workspaces/[wId]/groups/[groupId]/index.ts
  front-api/routes/poke/workspaces/[wId]/groups/index.ts
  front-api/routes/poke/workspaces/[wId]/index.ts
  front-api/routes/poke/workspaces/[wId]/llm-traces/[runId].ts
  front-api/routes/poke/workspaces/[wId]/llm-traces/index.ts
  front-api/routes/poke/workspaces/[wId]/mcp/index.ts
  front-api/routes/poke/workspaces/[wId]/mcp/views/index.ts
  front-api/routes/poke/workspaces/[wId]/mcp_server_views/[svId]/details.ts
  front-api/routes/poke/workspaces/[wId]/mcp_server_views/[svId]/index.ts
  front-api/routes/poke/workspaces/[wId]/mcp_server_views/index.ts
  front-api/routes/poke/workspaces/[wId]/observability/datasource-retrieval.ts
  front-api/routes/poke/workspaces/[wId]/observability/index.ts
  front-api/routes/poke/workspaces/[wId]/webhook_sources/[wsId]/details.ts
  front-api/routes/poke/workspaces/[wId]/webhook_sources/[wsId]/index.ts
  front-api/routes/poke/workspaces/[wId]/webhook_sources/index.ts
  front/pages/api/poke/workspaces/[wId]/assistants/[aId]/suggestions.ts
  front/pages/api/poke/workspaces/[wId]/data_source_views/[dsvId]/details.ts
  front/pages/api/poke/workspaces/[wId]/data_source_views/index.ts
  front/pages/api/poke/workspaces/[wId]/files/[sId].ts
  front/pages/api/poke/workspaces/[wId]/groups/[groupId]/details.ts
  front/pages/api/poke/workspaces/[wId]/groups/index.ts
  front/pages/api/poke/workspaces/[wId]/llm-traces/[runId].ts
  front/pages/api/poke/workspaces/[wId]/mcp/views/index.ts
  front/pages/api/poke/workspaces/[wId]/mcp_server_views/[svId]/details.ts
  front/pages/api/poke/workspaces/[wId]/observability/datasource-retrieval.ts
  front/pages/api/poke/workspaces/[wId]/webhook_sources/[wsId]/details.ts
  front/pages/api/poke/workspaces/[wId]/webhook_sources/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: ability to pin one frame in a Pod.
  front-api/routes/w/[wId]/spaces/[spaceId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/space/PodPinnedBanner.tsx
  front/components/assistant/conversation/space/ProjectFileExplorer.tsx
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/assistant/conversation/space/frame_display_title.test.ts
  front/components/assistant/conversation/space/frame_display_title.ts
  front/components/file_explorer/FileExplorer.tsx
  front/hooks/usePinPodBanner.ts
  front/hooks/useScopedUIPreferences.ts
  front/lib/api/projects/pinned_frame.ts
  front/lib/resources/project_metadata_resource.test.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/storage/models/project_metadata.ts
  front/lib/swr/spaces.ts
  front/migrations/db/migration_647.sql
  front/pages/api/swagger_private_schemas.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/public/swagger.json
  front/types/api/internal/spaces.ts
  front/types/project_metadata.ts
  front/types/space.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Add: ability to pin one frame in a Pod. (#25906)
  front-api/routes/w/[wId]/spaces/[spaceId]/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/space/PodPinnedBanner.tsx
  front/components/assistant/conversation/space/ProjectFileExplorer.tsx
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/assistant/conversation/space/frame_display_title.test.ts
  front/components/assistant/conversation/space/frame_display_title.ts
  front/components/file_explorer/FileExplorer.tsx
  front/hooks/usePinPodBanner.ts
  front/hooks/useScopedUIPreferences.ts
  front/lib/api/projects/pinned_frame.ts
  front/lib/resources/project_metadata_resource.test.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/storage/models/project_metadata.ts
  front/lib/swr/spaces.ts
  front/migrations/db/migration_647.sql
  front/pages/api/swagger_private_schemas.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/public/swagger.json
  front/types/api/internal/spaces.ts
  front/types/project_metadata.ts
  front/types/space.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Extract poke admin business logic into lib helpers for batch-2 routes
  front-api/routes/poke/workspaces/[wId]/data_source_views/index.ts
  front-api/routes/poke/workspaces/[wId]/files/[sId].ts
  front-api/routes/poke/workspaces/[wId]/groups/[groupId]/details.ts
  front-api/routes/poke/workspaces/[wId]/webhook_sources/[wsId]/details.ts
  front-api/routes/poke/workspaces/[wId]/webhook_sources/index.ts
  front/lib/api/data_source_view.ts
  front/lib/api/files/read.ts
  front/lib/api/webhook_source.ts
  front/lib/api/workspace.ts
  front/pages/api/poke/workspaces/[wId]/data_source_views/index.ts
  front/pages/api/poke/workspaces/[wId]/files/[sId].ts
  front/pages/api/poke/workspaces/[wId]/groups/[groupId]/details.ts
  front/pages/api/poke/workspaces/[wId]/webhook_sources/[wsId]/details.ts
  front/pages/api/poke/workspaces/[wId]/webhook_sources/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document quadratic loop in listWebhookSourcesWithCounts per [GEN7]
  front/lib/api/webhook_source.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Show loading when creating folder. (#25894)
  front/components/assistant/conversation/space/CreateFolderDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Polish UI for pined Frames and fix Frame buttons accessibility on mobile.
  front/components/assistant/conversation/interactive_content/ExportContentDropdown.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/frame/ShareFrameSheet.tsx
  front/components/assistant/conversation/space/PodPinnedBanner.tsx
  front/components/assistant/conversation/space/ProjectFileExplorer.tsx
  front/components/assistant/conversation/space/frame_display_title.test.ts
  front/components/assistant/conversation/space/frame_display_title.ts
  front/hooks/usePinPodBanner.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Polish UI for pined Frames and fix Frame buttons accessibility on mobile. (#25910)
  front/components/assistant/conversation/interactive_content/ExportContentDropdown.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/frame/ShareFrameSheet.tsx
  front/components/assistant/conversation/space/PodPinnedBanner.tsx
  front/components/assistant/conversation/space/ProjectFileExplorer.tsx
  front/components/assistant/conversation/space/frame_display_title.test.ts
  front/components/assistant/conversation/space/frame_display_title.ts
  front/hooks/usePinPodBanner.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(sandbox): dsbx tool-call auth and response parsing (#25905)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/api/types.rs
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/pages/api/v1/w/[wId]/sandbox/actions/[aId]/index.ts
  front/pages/api/v1/w/[wId]/sandbox/actions/call.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] checkout: improve content of invoices (#25891)
  front/lib/metronome/checkout.ts
  front/lib/metronome/credits.ts
  front/lib/plans/stripe.ts
  front/pages/api/w/[wId]/subscriptions/checkout/payment.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: remove concurrency in skill import (#25889)
  front/lib/api/skills/detection/files/import_skills.ts
  front/lib/api/skills/detection/github/import_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify replace logic
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/lib/api/files/client_executable.ts
  front/pages/api/w/[wId]/auth-context.ts
  front/pages/api/w/[wId]/files/[fileId]/edit-text.ts
  front/types/assistant/visualization.ts
  viz/app/components/EditableFrame.tsx
  viz/app/components/VisualizationWrapper.tsx
  viz/app/components/VizContext.tsx
  viz/app/lib/transformEditableText.ts
  viz/app/lib/visualization-api.ts
  viz/app/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): thread region/owner into model availability helpers
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/workspace_capabilities.ts
  front/lib/assistant.ts
  front/pages/api/w/[wId]/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): show EU flag on regional models in agent builder model selector
  front/components/agent_builder/instructions/ModelSelectionSubmenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): match agents against full supported model catalog when checking regional availability
  front/lib/api/assistant/workspace_capabilities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): block enabling regionalModelsOnly when agents use non-regional models
  front/components/pages/workspace/model_providers/RegionalModelsOnlyToggle.tsx
  front/lib/api/assistant/workspace_capabilities.ts
  front/pages/api/w/[wId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): log incompatible agent ids when blocking regionalModelsOnly
  front/lib/api/assistant/workspace_capabilities.ts
  front/pages/api/w/[wId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(front): update assistant.test.ts to new model availability signatures
  front/lib/assistant.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): add "EU only" toggle on Model Providers page
  front/components/pages/workspace/model_providers/ModelProvidersPageContent.tsx
  front/components/pages/workspace/model_providers/RegionalModelsOnlyToggle.tsx
  front/lib/swr/workspaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front-api): thread region/owner into models endpoint availability filter
  front-api/routes/w/[wId]/models.ts
Due: biome

[front] fix: missing space in ReachedLimitPopup credits-exhausted copy
  front/components/app/ReachedLimitPopup.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

revert (#25866)
  front-api/app.ts
  front-api/routes/t/index.ts
  front-api/routes/t/pv.ts
  front/pages/api/t/pv.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] fix: drop seatType gate in dispatchPerUserCap* and transition all seat types
  front/lib/api/metronome/credit_state_dispatcher.test.ts
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/tests/utils/MembershipFactory.ts
  front/tests/utils/WorkspaceFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Collapse consecutive line breaks
  connectors/src/connectors/shared/file.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] fix: missing space in ReachedLimitPopup credits-exhausted copy (#25914)
  front/components/app/ReachedLimitPopup.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Migrate various handlers: stripe, debug, email and more
  front-api/app.ts
  front-api/routes/debug/index.ts
  front-api/routes/debug/profiler.ts
  front-api/routes/email/index.ts
  front-api/routes/email/validate-action.ts
  front-api/routes/email/webhook.ts
  front-api/routes/enrichment/company.ts
  front-api/routes/enrichment/index.ts
  front-api/routes/metronome/index.ts
  front-api/routes/metronome/webhook.ts
  front-api/routes/stripe/index.ts
  front-api/routes/stripe/portal.ts
  front-api/routes/stripe/webhook.ts
  front-api/routes/templates/[tId]/index.ts
  front-api/routes/templates/index.ts
  front/lib/api/debug/profiler.ts
  front/lib/api/stripe/checkout_status.ts
  front/pages/api/debug/profiler.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/stripe/portal.ts
  front/pages/api/stripe/webhook.ts
  front/pages/api/templates/[tId]/index.ts
  front/pages/api/templates/index.ts
  front/pages/api/w/[wId]/subscriptions/checkout/prepare-payment.ts
  front/scripts/debug/profile_conversation_rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

More refactoring
  front-api/routes/email/webhook.ts
  front/lib/api/assistant/email/webhook_helpers.ts
  front/pages/api/email/webhook.test.ts
  front/pages/api/email/webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refactoring
  front-api/routes/enrichment/company.ts
  front-api/routes/stripe/webhook.ts
  front/lib/api/enrichment/company.ts
  front/lib/api/stripe/webhook_handler.ts
  front/pages/api/enrichment/company.ts
  front/pages/api/stripe/webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update Adrien's title to Head of dsbx
  front/components/home/content/shared/team.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

isString
  front-api/routes/debug/profiler.ts
  front-api/routes/enrichment/company.ts
  front/pages/api/debug/profiler.ts
  front/pages/api/enrichment/company.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

import order
  front/scripts/debug/profile_conversation_rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: collapse consecutive line breaks in text extraction (#25919)
  connectors/src/connectors/shared/file.ts
Due: connectors-typecheck, biome, connectors-eslint

Add retry on socket hang up
  front/lib/file_storage/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
