Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] feat: OpenAI-targeted Frames skill variant (#26556)
  front/lib/api/actions/servers/interactive_content/instructions.ts
  front/lib/api/actions/servers/interactive_content/instructions_openai_v1.ts
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.ts
  front/lib/api/assistant/generation.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/skills_rendering.test.ts
  front/lib/api/assistant/skills_rendering.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

udpate type
  front/components/assistant/conversation/space/ManageUsersPanel.tsx
  front/components/members/MemberSelectionTable.tsx
  front/components/spaces/RestrictedAccessBody.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front-api/routes/w/[wId]/members/search.test.ts
  front/components/assistant/conversation/space/ManageUsersPanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add method to serialize tag for global skills (#26563)
  front/lib/resources/skill/code_defined/global_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rename
  sparkle/src/components/VoicePicker.tsx
  sparkle/src/hooks/useTranscribingProgress.ts
Due: biome

feat(assistant): show transcription progress on audio attachments (#26464)
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/types.ts
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/assistant/conversation/input_bar/InputBarAttachments.tsx
  sparkle/src/components/Citation.tsx
  sparkle/src/components/VoicePicker.tsx
  sparkle/src/hooks/useTranscribingProgress.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix(contact): show clear error for personal email on demo form (#26538)
  front/pages/api/marketing/home/contact/submit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Optimize nested skill relation fetches
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Membership invitation: track reinvitations
  front/lib/models/membership_invitation.ts
  front/lib/resources/membership_invitation_resource.ts
  front/migrations/db/migration_662.sql
  front/types/membership_invitation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Treat missing table CSV as empty when GCS returns a 404
  core/src/databases_store/gcs.rs
Due: none

naming refactor
  front/lib/api/llm/index.ts
  front/lib/model_constructors/_test_/run.test.ts
  front/lib/model_constructors/_test_/setup/index.ts
  front/lib/model_constructors/_test_/setup/utils.ts
  front/lib/model_constructors/clients/anthropic/anthropicClient.ts
  front/lib/model_constructors/clients/anthropic/anthropicConverter.ts
  front/lib/model_constructors/clients/anthropic/models/anthropic-claude-sonnet-4-6.ts
  front/lib/model_constructors/clients/google-ai-studio/googleAiStudioClient.ts
  front/lib/model_constructors/clients/google-ai-studio/googleAiStudioConverter.ts
  front/lib/model_constructors/clients/google-ai-studio/models/gemini-3.1-pro.ts
  front/lib/model_constructors/clients/openai-responses/models/openai-gpt-5-2.ts
  front/lib/model_constructors/clients/openai-responses/models/openai-gpt-5-4.ts
  front/lib/model_constructors/clients/openai-responses/openaiResponsesClient.ts
  front/lib/model_constructors/clients/openai-responses/openaiResponsesConverter.ts
  front/lib/model_constructors/index.ts
  front/lib/model_constructors/large-language-model.ts
  front/lib/model_constructors/types/events.ts
  front/lib/model_constructors/types/model-endpoints.ts
  front/lib/model_constructors/types/providers.ts
  front/lib/model_constructors/types/regions.ts
  front/lib/model_constructors/utils/getIdFromModel.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(dsbx): parse JSON object/array file contents for __file__: args
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/tools/exec.rs
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Treat missing table CSV as empty when GCS returns a 404 (#26566)
  core/src/databases_store/gcs.rs
Due: none

Simplify nested skill relation fetch optimization
  front-api/routes/w/[wId]/skills/[sId]/index.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use light version for pod conversations sync
  connectors/src/connectors/dust_project/lib/conversation_formatting.test.ts
  connectors/src/connectors/dust_project/lib/conversation_formatting.ts
  connectors/src/connectors/dust_project/lib/sync_conversation.ts
  connectors/src/connectors/dust_project/temporal/activities.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/scripts/dev/print_public_api_conversation.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front] fix: address Skill Builder tool dropdown review
  front/components/editor/extensions/shared/SlashCommandToolItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix editors
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front/components/assistant/details/tabs/AgentEditorsTab.tsx
  front/components/members/MemberSelectionTable.tsx
  front/components/members/MembersList.tsx
  front/components/pages/workspace/MembersPage.tsx
  front/components/skill_builder/submitSkillBuilderForm.ts
  front/components/skills/SkillEditorsTab.tsx
  front/components/spaces/CreateOrEditSpaceModal.tsx
  front/lib/swr/agent_editors.ts
  front/lib/swr/memberships.ts
  front/lib/swr/skill_editors.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/pages/api/w/[wId]/skills/[sId]/editors.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(dsbx): parse JSON object/array file contents for __file__: args (#26565)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/tools/exec.rs
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Wire up the invitations Temporal worker
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/invitations/activities.ts
  front/temporal/invitations/admin/cli.sh
  front/temporal/invitations/admin/cli.ts
  front/temporal/invitations/client.ts
  front/temporal/invitations/config.ts
  front/temporal/invitations/worker.ts
  front/temporal/invitations/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] List tools in Skill Builder slash dropdown (#26488)
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/shared/SlashCommandToolItems.test.ts
  front/components/editor/extensions/shared/SlashCommandToolItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandDropdown.tsx
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
  front/components/editor/extensions/skill_builder/ToolNodeWithView.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(billing): notify users when their per-user AWU cap is reached (#26363)
  front-api/routes/novu/index.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/api/users/spend_limit.ts
  front/lib/api/workspace/default_user_spend_limit.ts
  front/lib/metronome/alerts/spend_limits.ts
  front/lib/metronome/webhook_events.ts
  front/lib/notifications/workflows/user-awu-cap-reached.ts
  front/pages/api/novu/index.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(assistant): use correct prop name for useTranscribingProgress
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Switch seats type on contract change
  front/lib/api/poke/cancel_pending_contract.ts
  front/lib/api/poke/switch_contract.ts
  front/lib/metronome/contracts.test.ts
  front/lib/metronome/contracts.ts
  front/lib/metronome/seats.test.ts
  front/lib/metronome/seats.ts
  front/lib/resources/membership_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add feedback table to /analytics/export
  front-api/routes/v1/w/[wId]/analytics/export.test.ts
  front-api/routes/v1/w/[wId]/analytics/export.ts
  front/lib/api/analytics/enrichment.ts
  front/lib/api/analytics/export_tables.ts
  front/lib/api/analytics/feedback_export.ts
  front/lib/api/analytics/messages_export.ts
  front/pages/api/v1/w/[wId]/analytics/export.test.ts
  front/pages/api/v1/w/[wId]/analytics/export.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] Switch seats type on contract change (#26532)
  front/lib/api/poke/cancel_pending_contract.ts
  front/lib/api/poke/switch_contract.ts
  front/lib/metronome/contracts.test.ts
  front/lib/metronome/contracts.ts
  front/lib/metronome/seats.test.ts
  front/lib/metronome/seats.ts
  front/lib/resources/membership_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Membership invitation: track reinvitations (#26568)
  front/lib/models/membership_invitation.ts
  front/lib/resources/membership_invitation_resource.ts
  front/migrations/db/migration_662.sql
  front/types/membership_invitation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use light version for pod conversations sync (#26569)
  connectors/src/connectors/dust_project/lib/conversation_formatting.test.ts
  connectors/src/connectors/dust_project/lib/conversation_formatting.ts
  connectors/src/connectors/dust_project/lib/sync_conversation.ts
  connectors/src/connectors/dust_project/temporal/activities.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/scripts/dev/print_public_api_conversation.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[GDrive Sync] Filter incremental sync to due drives (#26260)
  connectors/src/connectors/google_drive/temporal/activities/get_drives_to_sync.ts
  connectors/src/connectors/google_drive/temporal/config.ts
  connectors/src/connectors/google_drive/temporal/workflows.ts
Due: connectors-typecheck, biome, connectors-eslint

Add UI to set and clear the monthly cap for programmatic usage
  front-api/routes/w/[wId]/usage_settings/index.ts
  front-api/routes/w/[wId]/usage_settings/programmatic_usage_limit.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/usage/UsageProgrammaticLimitCard.tsx
  front/lib/api/credits/programmatic_usage_limit.ts
  front/lib/swr/usage_settings.ts
  front/pages/api/w/[wId]/usage_settings/programmatic_usage_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix Confluence database parent pages
  connectors/src/connectors/confluence/lib/confluence_client.ts
  connectors/src/connectors/confluence/lib/content/pages.ts
  connectors/src/connectors/confluence/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Feedback use schedule worflow
  front/temporal/invitations/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: make reinforced skill edits instruction-only
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: guide reinforcement inline tool references
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/format_skill_context.ts
  front/lib/reinforcement/skill_instruction_edit_prompt.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test: cover inline reinforced skill tools
  front/lib/reinforcement/aggregate_suggestions.test.ts
  front/lib/reinforcement/analyze_conversation.test.ts
  front/lib/reinforcement/run_reinforced_analysis.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Cleanup
  front/temporal/invitations/admin/cli.ts
  front/temporal/invitations/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Wire up the invitations Temporal worker (#26570)
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/invitations/activities.ts
  front/temporal/invitations/admin/cli.sh
  front/temporal/invitations/admin/cli.ts
  front/temporal/invitations/client.ts
  front/temporal/invitations/config.ts
  front/temporal/invitations/worker.ts
  front/temporal/invitations/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add tasks to the extension
  extension/ui/components/conversation/ConversationLayout.tsx
  extension/ui/pages/PodMainPage.tsx
  extension/ui/pages/ProjectMainPage.tsx
  extension/ui/pages/routes.tsx
  front/components/pages/pod/PodPage.tsx
  front/components/pod/PodPageContent.tsx
  front/components/pod/conversation/PodConversationsTab.tsx
  front/components/pod/tasks/TaskOverflowMenu.tsx
  sparkle/src/components/Avatar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add tasks to the extension (#26561)
  extension/ui/components/conversation/ConversationLayout.tsx
  extension/ui/pages/PodMainPage.tsx
  extension/ui/pages/ProjectMainPage.tsx
  extension/ui/pages/routes.tsx
  front/components/pages/pod/PodPage.tsx
  front/components/pod/PodPageContent.tsx
  front/components/pod/conversation/PodConversationsTab.tsx
  front/components/pod/tasks/TaskOverflowMenu.tsx
  sparkle/src/components/Avatar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] allow spaces in skill slash search
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reject table upserts when too many files are already pending (429)
  core/src/api/tables.rs
  core/src/databases/table.rs
  core/src/databases/table_upserts_background_worker.rs
Due: none
