Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Format
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/index.ts
Due: biome

Move some Hono handler to exactly match the original Next physical path (#26103)
  front-api/routes/healthz.test.ts
  front-api/routes/healthz.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/feedbacks.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/feedbacks/[fId].ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/[...rel].test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/[...rel].ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/files/index.ts
Due: biome

Switch 4 handlers to use the correct validate() pattern for body validation
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front-api/routes/w/[wId]/keys/index.ts
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front-api/routes/w/[wId]/webhook_sources/views/[viewId]/index.ts
Due: biome

Revert "[connectors] fix Microsoft label reconciliation folder traversal (#25…"
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[connectors] fix: revert changes on Microsoft label reconciliation folder traversal (#26105)
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

move providers
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/provider_credentials/[providerId]/index.ts
  front-api/routes/w/[wId]/provider_credentials/index.ts
  front-api/routes/w/[wId]/providers/[pId]/check.ts
  front-api/routes/w/[wId]/providers/[pId]/index.ts
  front-api/routes/w/[wId]/providers/[pId]/models.ts
  front-api/routes/w/[wId]/providers/index.ts
  front/pages/api/w/[wId]/provider_credentials/[providerId]/index.ts
  front/pages/api/w/[wId]/provider_credentials/index.ts
  front/pages/api/w/[wId]/providers/[pId]/check.ts
  front/pages/api/w/[wId]/providers/[pId]/index.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front-api/routes/w/[wId]/provider_credentials/index.ts
  front-api/routes/w/[wId]/providers/[pId]/check.ts
  front-api/routes/w/[wId]/providers/index.ts
Due: biome

Fix typing
  front-api/routes/w/[wId]/providers/[pId]/check.ts
Due: biome

Fix error handling and tests
  front-api/routes/w/[wId]/webhook_sources/views/[viewId]/index.test.ts
  front-api/routes/w/[wId]/webhook_sources/views/[viewId]/index.ts
Due: biome

[slim] migrate provider related handlers (#26054)
  front-api/routes/w/[wId]/index.ts
  front-api/routes/w/[wId]/provider_credentials/[providerId]/index.ts
  front-api/routes/w/[wId]/provider_credentials/index.ts
  front-api/routes/w/[wId]/providers/[pId]/check.ts
  front-api/routes/w/[wId]/providers/[pId]/index.ts
  front-api/routes/w/[wId]/providers/[pId]/models.ts
  front-api/routes/w/[wId]/providers/index.ts
  front/pages/api/w/[wId]/provider_credentials/[providerId]/index.ts
  front/pages/api/w/[wId]/provider_credentials/index.ts
  front/pages/api/w/[wId]/providers/[pId]/check.ts
  front/pages/api/w/[wId]/providers/[pId]/index.ts
  front/pages/api/w/[wId]/providers/[pId]/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Batch group space editor/member queries
  front/lib/resources/group_space_editor_resource.ts
  front/lib/resources/group_space_member_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Batch queries in poke plugin to apply group roles
  front/lib/api/poke/plugins/workspaces/apply_group_roles.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add missing import
  front/lib/api/poke/plugins/workspaces/apply_group_roles.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Format
  front/lib/api/poke/plugins/workspaces/apply_group_roles.ts
  front/lib/resources/group_space_editor_resource.ts
  front/lib/resources/group_space_member_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Switch 4 handlers to use the correct validate() pattern for body validation (#26104)
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front-api/routes/w/[wId]/keys/index.ts
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front-api/routes/w/[wId]/webhook_sources/views/[viewId]/index.test.ts
  front-api/routes/w/[wId]/webhook_sources/views/[viewId]/index.ts
Due: biome

[front] fix auto-scroll during agent response streaming
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] add HTTP/2 inbound bridge
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
  cli/dust-sandbox/src/commands/forward/tls_mitm.rs
Due: none

[dsbx] bump dsbx to 0.1.17 and base image to 0.8.21
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] fix clippy needless_borrow in rewrite_request_headers
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
Due: none

[front] chore: fix user check in public API (#26031)
  front/pages/api/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/feedbacks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[dsbx] address h2 bridge review fixes
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  front/lib/api/sandbox/image/registry.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Centralize metronome calls to client.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/credits/seat_plan.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/api/users/spend_limit.ts
  front/lib/metronome/alerts.ts
  front/lib/metronome/client.ts
  front/lib/metronome/contracts.ts
  front/lib/metronome/default_user_cap_alert.ts
  front/lib/metronome/per_user_alerts.ts
  front/lib/metronome/plan_type.ts
  front/lib/metronome/seat_types.ts
  front/pages/api/metronome/webhook.ts
  front/pages/api/w/[wId]/members/[uId]/spend_limit.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] mirror unwrapMetronomeWebhook in Hono webhook handler
  front-api/routes/metronome/webhook.ts
  front-api/routes/w/[wId]/members/[uId]/spend_limit.test.ts
  front/lib/api/credits/seat_plan.ts
  front/lib/metronome/alerts.ts
  front/lib/metronome/client.ts
  front/lib/metronome/default_user_cap_alert.ts
  front/lib/metronome/per_user_alerts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fail if contract is not set
  front/lib/api/credits/awu_pool_summary.ts
  front/pages/api/metronome/webhook.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] tidy h2 bridge after review pass
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
Due: none

[dsbx] harden h2 request body bridging
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
Due: none

Add: autoscroll agent message.
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/types.ts
  front/hooks/useAgentMessageStream.test.ts
  front/hooks/useAgentMessageStream.ts
  front/hooks/useVoiceTranscriberService.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: mcp tool for universal harness in pods.
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.test.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: autoscroll agent message. (#26111)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/MessageItem.tsx
  front/components/assistant/conversation/types.ts
  front/hooks/useAgentMessageStream.test.ts
  front/hooks/useAgentMessageStream.ts
  front/hooks/useVoiceTranscriberService.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: mcp tool for universal harness in pods. (#26112)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.test.ts
  front/lib/api/actions/servers/pod_tasks/source_utils.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] tidy h2 bridge after round-2 review
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
Due: none

Add: custom component for approving the creation and update of pod tasks.
  front/components/assistant/conversation/BlockedAction.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/assistant/conversation/space/about/MembersTable.tsx
  front/components/assistant/conversation/tool_validation/AshbyValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/PodMembersUpdateValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/PodTasksCreateValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/PodTasksUpdateValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/usePodLabel.ts
  front/components/assistant/details/MemberDetails.tsx
  front/components/markdown/TaskDirectiveBlock.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/project_configuration_uri.ts
  front/lib/actions/mcp_internal_actions/tools/utils.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/pod_manager/types.ts
  front/lib/api/actions/servers/pod_tasks/metadata.ts
  front/lib/api/actions/servers/pod_tasks/tools/index.ts
  front/lib/api/actions/servers/pod_tasks/types.ts
  front/lib/resources/project_task_resource.test.ts
  front/lib/resources/project_task_resource.ts
  front/lib/swr/assistants.ts
  front/lib/swr/projects.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] address h2 bridge round-3 review fixes
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
Due: none

[dsbx] HTTP/2 inbound termination with h1 outbound bridge (#25895)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/forward/deny_log.rs
  cli/dust-sandbox/src/commands/forward/http2_rewriter.rs
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/rewrite_policy.rs
  cli/dust-sandbox/src/commands/forward/tls_mitm.rs
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Do some refactoring on v1 handlers under /api/v1/w/[wId]/assistant
  front/lib/api/assistant/configuration/generic_agent_helpers.ts
  front/lib/api/assistant/conversation/mention_suggestions.ts
  front/lib/api/assistant/pubsub.ts
  front/lib/api/v1/backward_compatibility.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/mentions/suggestions.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/assistant/generic_agents.ts
  front/pages/api/v1/w/[wId]/assistant/mentions/suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

resolveWorkspaceUsageDates helper
  front/lib/workspace_usage.ts
  front/pages/api/v1/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Fix dependency issue
  front/lib/workspace_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Couple more refactors
  front/lib/api/apps.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/apps/check.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/conversations/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Block shrinkwrap option for mobile users
  front/components/assistant/conversation/ConversationMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix reference issue
  front/lib/api/apps.ts
  front/lib/api/assistant/conversation/fetch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
