Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[front] fix: fall back on leading message mismatch
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: validate protected leading messages
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: preserve leading messages during pruning
  front/lib/api/assistant/conversation_rendering/index.test.ts
  front/lib/api/assistant/conversation_rendering/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: clarify leading skill message protection
  front/lib/api/assistant/conversation_rendering/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: protect messages within pruning
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: trim leading message fallback coverage
  front/lib/api/assistant/conversation_rendering/index.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(subscriptions): gate business-activation status endpoint on metronome billing (#29056)
  front-api/routes/w/[wId]/subscriptions/checkout/business-activation.test.ts
  front-api/routes/w/[wId]/subscriptions/checkout/business-activation.ts
Due: biome

[front] Make seatIds mandatory (#29048)
  front/lib/metronome/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Program scheduled seat-commitment changes to Metronome (#29007)
  front/lib/api/poke/plugins/workspaces/manage_seat_limits.ts
  front/lib/metronome/seats.ts
  front/lib/metronome/seats_sync.test.ts
  front/lib/resources/workspace_seat_limit_resource.test.ts
  front/lib/resources/workspace_seat_limit_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix test
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
Due: biome

Fix test invocations.test.ts
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
Due: biome

Fix test invocations.test.ts (#29058)
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
Due: biome

feat(analytics): display message count and avg cost / message in dashboard
  front/components/workspace/analytics/WorkspaceAgentCreditsTable.tsx
  front/components/workspace/analytics/WorkspaceUserCreditsTable.tsx
  front/components/workspace/analytics/creditsTableCells.tsx
  front/lib/api/assistant/observability/agent_credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/index.ts
Due: biome

fix(plans): exclude system project connectors from the connections limit
  front/lib/api/plan_compatibility.test.ts
  front/lib/data_sources.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(plans): add per-plan limit on connected data sources
  front-api/routes/poke/plans.ts
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/components/poke/plans/form.tsx
  front/lib/api/plan_compatibility.test.ts
  front/lib/api/plan_compatibility.ts
  front/lib/assistant.test.ts
  front/lib/data_sources.ts
  front/lib/models/plan.ts
  front/lib/plans/credit_priced_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/pre-deploy/20260716152925_add_max_connections_count_to_plans.sql
  front/scripts/seed/byok/seed.ts
  front/tests/utils/PlanFactory.ts
  front/types/api/poke/plans.ts
  front/types/plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): allow connecting personal tools from user settings
  front/components/me/UserToolsTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Poke: seat-commitment schedule editor
  front-api/routes/poke/workspaces/[wId]/index.ts
  front-api/routes/poke/workspaces/[wId]/seat_limits_schedule.ts
  front/components/poke/subscriptions/SeatLimitScheduleDialog.tsx
  front/components/poke/subscriptions/table.tsx
  front/lib/api/poke/seat_limits_schedule.ts
  front/poke/swr/seat_limits_schedule.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(extension): add connections.count to the extension plan limits
  extension/ui/components/auth/AuthProvider.tsx
Due: biome

feat(analytics): display message count and avg cost in dash (#29051)
  front/components/workspace/analytics/WorkspaceAgentCreditsTable.tsx
  front/components/workspace/analytics/WorkspaceUserCreditsTable.tsx
  front/components/workspace/analytics/creditsTableCells.tsx
  front/lib/api/assistant/observability/agent_credits.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add messaging app policies to governance page and remove workspace settings
  front/components/navigation/config.ts
  front/components/pages/workspace/WorkspaceSettingsPage.tsx
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernanceSettingRowLayout.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/BotToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/components/workspace/settings/EmailAgentsToggle.tsx
  front/components/workspace/settings/IntegrationsSection.tsx
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
  front/components/workspace/settings/MessagingAppToggles.tsx
  front/components/workspace/settings/OpenProjectsPolicy.tsx
  front/components/workspace/settings/PodKnowledgePolicy.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: code review
  front/components/workspace/settings/BotToggle.tsx
  front/components/workspace/settings/EmailAgentsToggle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: edit regular_manual groups
  front/components/groups/CreateGroupDialog.tsx
  front/components/groups/GroupDialog.tsx
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(scripts): surface spawn errors in run-migrate, install devDeps in prodbox
  dockerfiles/prodbox.Dockerfile
  scripts/db/run-migrate.cjs
Due: none

feat(plans): add per-plan limit on connected data sources (#29054)
  extension/ui/components/auth/AuthProvider.tsx
  front-api/routes/poke/plans.ts
  front-api/routes/poke/workspaces/[wId]/switch_contract.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/data_sources/index.ts
  front/components/poke/plans/form.tsx
  front/lib/api/plan_compatibility.test.ts
  front/lib/api/plan_compatibility.ts
  front/lib/assistant.test.ts
  front/lib/data_sources.ts
  front/lib/models/plan.ts
  front/lib/plans/credit_priced_plans.ts
  front/lib/plans/free_plans.ts
  front/lib/plans/pro_plans.ts
  front/lib/plans/renderers.ts
  front/migrations/pre-deploy/20260716152925_add_max_connections_count_to_plans.sql
  front/scripts/seed/byok/seed.ts
  front/tests/utils/PlanFactory.ts
  front/types/api/poke/plans.ts
  front/types/plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Append skill spaces to conversation requestedSpaceIds
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/skills.ts
  front-api/routes/w/[wId]/assistant/conversations/index.ts
  front/lib/api/actions/servers/skill_management/tools/index.test.ts
  front/lib/api/actions/servers/skill_management/tools/index.ts
  front/lib/api/assistant/conversation/forks.ts
  front/lib/api/assistant/conversation/skill_permissions.test.ts
  front/lib/api/assistant/conversation/skill_permissions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add messaging app policies to governance page and remove workspace settings (#29036)
  front/components/navigation/config.ts
  front/components/pages/workspace/WorkspaceSettingsPage.tsx
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernanceSettingRowLayout.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/settings/BotToggle.tsx
  front/components/workspace/settings/CapabilitiesSection.tsx
  front/components/workspace/settings/EmailAgentsToggle.tsx
  front/components/workspace/settings/IntegrationsSection.tsx
  front/components/workspace/settings/InteractiveContentSharingToggle.tsx
  front/components/workspace/settings/MessagingAppToggles.tsx
  front/components/workspace/settings/OpenProjectsPolicy.tsx
  front/components/workspace/settings/PodKnowledgePolicy.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: edit regular_manual groups (#29049)
  front/components/groups/CreateGroupDialog.tsx
  front/components/groups/GroupDialog.tsx
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add governance page skeleton
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernancePageSkeleton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: code review
  front/components/pages/workspace/governance/GovernancePageSkeleton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: mutate query cache after edit create and delete
  front-api/routes/w/[wId]/groups/[groupId]/index.ts
  front-api/routes/w/[wId]/groups/index.ts
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: delete regular manual groups
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(temporal): scaffold per-workspace activation scheduler workflow
  front/poke/temporal/activities.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/activation_scheduler/activities.ts
  front/temporal/activation_scheduler/client.ts
  front/temporal/activation_scheduler/config.ts
  front/temporal/activation_scheduler/worker.ts
  front/temporal/activation_scheduler/workflows.ts
  front/temporal/worker_registry.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add governance page skeleton (#29041)
  front/components/pages/workspace/governance/GovernancePage.tsx
  front/components/pages/workspace/governance/GovernancePageSkeleton.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: delete regular manual groups (#29050)
  front-api/routes/w/[wId]/groups/[groupId]/index.ts
  front-api/routes/w/[wId]/groups/index.ts
  front/components/groups/WorkspaceGroupsList.tsx
  front/lib/swr/groups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Polish form control interactions
  sparkle/src/components/Checkbox.tsx
  sparkle/src/components/RadioGroup.tsx
  sparkle/src/components/SliderToggle.tsx
  sparkle/src/stories/SliderToggle.stories.tsx
Due: biome

[sparkle][front] Align option card hover/selected with menu tokens
  front/components/assistant/conversation/UserAnswerRequired.tsx
  sparkle/src/components/OptionCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Center spinner and preserve size in button loading state
  sparkle/src/components/Button.tsx
Due: biome

[LLM] Add gpt-5.6 sol/terra/luna support (#28926)
  front/lib/llms/providers/openai/models/gpt_five_dot_six_luna.ts
  front/lib/llms/providers/openai/models/gpt_five_dot_six_sol.ts
  front/lib/llms/providers/openai/models/gpt_five_dot_six_terra.ts
  front/lib/llms/stream/endpoints/openai_responses_eu_gpt_five_dot_six_luna.ts
  front/lib/llms/stream/endpoints/openai_responses_eu_gpt_five_dot_six_sol.ts
  front/lib/llms/stream/endpoints/openai_responses_eu_gpt_five_dot_six_terra.ts
  front/lib/llms/stream/endpoints/openai_responses_global_gpt_five_dot_six_luna.ts
  front/lib/llms/stream/endpoints/openai_responses_global_gpt_five_dot_six_sol.ts
  front/lib/llms/stream/endpoints/openai_responses_global_gpt_five_dot_six_terra.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_luna.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_sol.ts
  front/lib/model_constructors/providers/openai/models/gpt_five_dot_six_terra.ts
  front/lib/model_constructors/providers/openai/reasoning_efforts.ts
  front/lib/model_constructors/sdk/openai_responses/converters/input/utils.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_eu_gpt_five_dot_six_luna.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_eu_gpt_five_dot_six_sol.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_eu_gpt_five_dot_six_terra.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_global_gpt_five_dot_six_luna.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_global_gpt_five_dot_six_sol.ts
  front/lib/model_constructors/stream/endpoints/openai_responses_global_gpt_five_dot_six_terra.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/openai_responses_eu_gpt_five_dot_six_luna.test.ts
  front/lib/model_constructors/test/endpoints/openai_responses_eu_gpt_five_dot_six_sol.test.ts
  front/lib/model_constructors/test/endpoints/openai_responses_eu_gpt_five_dot_six_terra.test.ts
  front/lib/model_constructors/test/endpoints/openai_responses_global_gpt_five_dot_six_luna.test.ts
  front/lib/model_constructors/test/endpoints/openai_responses_global_gpt_five_dot_six_sol.test.ts
  front/lib/model_constructors/test/endpoints/openai_responses_global_gpt_five_dot_six_terra.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
  front/lib/model_constructors/types/model_ids.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM] Add global Gemini stream endpoints + fix Gemini pricing/regions (#29022)
  front/lib/llms/stream/endpoints/agent_platform_global_gemini_3_1_flash_lite.ts
  front/lib/llms/stream/endpoints/agent_platform_global_gemini_3_1_pro.ts
  front/lib/llms/stream/endpoints/agent_platform_global_gemini_3_5_flash.ts
  front/lib/llms/stream/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.ts
  front/lib/llms/stream/endpoints/google_ai_studio_global_gemini_3_5_flash.ts
  front/lib/llms/stream/index.ts
  front/lib/model_constructors/stream/clients/google_agent_platform.ts
  front/lib/model_constructors/stream/endpoints/agent_platform_global_gemini_3_1_flash_lite.ts
  front/lib/model_constructors/stream/endpoints/agent_platform_global_gemini_3_1_pro.ts
  front/lib/model_constructors/stream/endpoints/agent_platform_global_gemini_3_5_flash.ts
  front/lib/model_constructors/stream/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.ts
  front/lib/model_constructors/stream/endpoints/google_ai_studio_global_gemini_3_5_flash.ts
  front/lib/model_constructors/stream/index.ts
  front/lib/model_constructors/test/endpoints/agent_platform_global_gemini_3_1_flash_lite.test.ts
  front/lib/model_constructors/test/endpoints/agent_platform_global_gemini_3_1_pro.test.ts
  front/lib/model_constructors/test/endpoints/agent_platform_global_gemini_3_5_flash.test.ts
  front/lib/model_constructors/test/endpoints/google_ai_studio_global_gemini_3_1_flash_lite.test.ts
  front/lib/model_constructors/test/endpoints/google_ai_studio_global_gemini_3_5_flash.test.ts
  front/lib/model_constructors/test/endpoints/setups.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
