Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[android] Add phone release and device tooling
  x/aubin/android/Makefile
  x/aubin/android/app/build.gradle.kts
  x/aubin/android/scripts/android-device.sh
  x/aubin/android/scripts/build-phone-release.sh
  x/aubin/android/scripts/check-build-config.sh
Due: none

[front] Deliver mobile conversation notifications
  front-api/public/swagger.json
  front-api/routes/user/index.ts
  front-api/routes/user/mobile_notification_tokens.test.ts
  front-api/routes/user/mobile_notification_tokens.ts
  front/lib/notifications/mobile-push.test.ts
  front/lib/notifications/mobile-push.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/conversation-unread.test.ts
  front/lib/notifications/workflows/conversation-unread.ts
  front/lib/notifications/workflows/manual-action-required.test.ts
  front/lib/notifications/workflows/manual-action-required.ts
  front/types/api/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Make mobile conversation sends idempotent
  front-api/routes/w/[wId]/assistant/conversations/[cId]/content_fragment/index.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/index.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front-api/routes/w/[wId]/assistant/conversations/index.test.ts
  front-api/routes/w/[wId]/assistant/conversations/index.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/pre-deploy/20260804225757_add_mobile_client_request_ids.sql
  front/types/api/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[android] Document development and release workflows
  x/aubin/android/DEVELOPMENT.md
  x/aubin/android/README.md
Due: biome

[android] Improve voice capture and speech playback
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/audio/AndroidSpeechPlayer.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/audio/AndroidSpeechRecorder.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/audio/ScribeRealtimeClient.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/audio/AndroidSpeechPlayerTest.kt
Due: none

[android] Add baseline profile and platform build support
  x/aubin/android/app/build.gradle.kts
  x/aubin/android/app/src/release/generated/baselineProfiles/baseline-prof.txt
  x/aubin/android/app/src/release/generated/baselineProfiles/startup-prof.txt
  x/aubin/android/baselineprofile/build.gradle.kts
  x/aubin/android/baselineprofile/src/main/kotlin/com/dust/mobile/baselineprofile/BaselineProfileGenerator.kt
  x/aubin/android/baselineprofile/src/main/kotlin/com/dust/mobile/baselineprofile/DustJourneys.kt
  x/aubin/android/baselineprofile/src/main/kotlin/com/dust/mobile/baselineprofile/DustMacrobenchmark.kt
  x/aubin/android/build.gradle.kts
  x/aubin/android/gradle/libs.versions.toml
  x/aubin/android/settings.gradle.kts
Due: none

[android] Add encrypted offline state and durable outbox
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/auth/AndroidKeystoreCipher.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/auth/AndroidTokenStore.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/offline/EncryptedOfflineCacheSerializer.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/offline/OfflineCacheModels.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/offline/OfflineCacheRepository.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/offline/OfflineCacheStore.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/outbox/OutboxRepository.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/persistence/EncryptedStateSerializer.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/persistence/PersistedAppState.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/data/persistence/PersistedStateStore.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/data/offline/OfflineCacheModelsTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/data/persistence/PersistedAppStateTest.kt
Due: none

[android] Add resilient conversation detail flows
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationDetailContent.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationDetailScreen.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationDetailState.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationDetailViewModel.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationDraftPersistence.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationEventsController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationMessageLayout.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationMessageStore.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationOfflineCacheController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationReplyController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationReplyOptionsLoader.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationScrollEffects.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationScrollPolicy.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationStreamController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationVoiceSessionController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationVoiceSessionState.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ReplyOutboxController.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/detail/ReplyOutboxItem.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentImagePreview.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentPdfPreview.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentPreviewFeedback.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentTextPreview.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentViewerScreen.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/AttachmentViewerViewModel.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/ConversationFilesPanel.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/ConversationFilesScreen.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/conversation/files/ConversationFilesViewModel.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationScrollPolicyTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/conversation/detail/ConversationVoiceSessionStateTest.kt
Due: none

[android] Add deterministic UI presentation fixtures
  x/aubin/android/app/src/debug/AndroidManifest.xml
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoComponents.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoConversationChrome.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoConversationScreens.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoFocusInboxScreen.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoInboxScreens.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoPresentationActivity.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/DemoStreamingScreen.kt
  x/aubin/android/app/src/debug/kotlin/com/dust/mobile/android/notifications/DebugNotificationReceiver.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/preview/ComposerPreviews.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/preview/FilePreviews.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/preview/InboxPreviews.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/preview/MessagePreviews.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/preview/PreviewFixtures.kt
  x/aubin/android/app/src/prodDebug/AndroidManifest.xml
Due: none

[android] Add durable authentication state
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/auth/AuthState.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/auth/AuthViewModel.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/auth/LoginScreen.kt
Due: none

[android] Replace the monolithic UI with feature navigation
  x/aubin/android/app/src/main/AndroidManifest.xml
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/MainActivity.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/AppViewModels.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/DustApp.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/UriFileReader.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AppDestination.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AppKeyboardCommand.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AuthenticatedApp.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AuthenticatedAppScaffold.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AuthenticatedDestinationContent.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AuthenticatedDestinationTopBar.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/AuthenticatedTopBar.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/CatchUpDestinationContent.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/ConversationResourcesDrawer.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/DeepLinkNavigation.kt
  x/aubin/android/app/src/main/kotlin/com/dust/mobile/android/ui/navigation/DestinationPersistence.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/AttachmentDraftTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/AvatarInitialTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/CatchUpStateTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/ComposeStateTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/ConversationListStateTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/EmptySearchLabelTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/LocalPreviewConversationSeedTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/LocalPreviewConversationTitleTest.kt
  x/aubin/android/app/src/test/kotlin/com/dust/mobile/android/ui/navigation/AppDestinationTest.kt
  x/aubin/android/core/src/main/kotlin/com/dust/mobile/core/config/DeepLinkRouter.kt
  x/aubin/android/core/src/test/kotlin/com/dust/mobile/core/DeepLinkRouterTest.kt
Due: none

[android] Add device integration coverage
  x/aubin/android/app/src/androidTest/kotlin/com/dust/mobile/android/MainActivityLifecycleTest.kt
  x/aubin/android/app/src/androidTest/kotlin/com/dust/mobile/android/share/IncomingShareIntentTest.kt
  x/aubin/android/app/src/androidTest/kotlin/com/dust/mobile/android/shortcuts/ShortcutPublishingInstrumentedTest.kt
  x/aubin/android/app/src/androidTest/kotlin/com/dust/mobile/android/ui/composer/ComposerRichContentInstrumentedTest.kt
Due: none

[android] Expand build and Samsung QA tooling
  x/aubin/android/Makefile
  x/aubin/android/scripts/check-architecture.sh
  x/aubin/android/scripts/check-build-config.sh
  x/aubin/android/scripts/check-presentation-pack.sh
  x/aubin/android/scripts/open-local-preview.sh
  x/aubin/android/scripts/smoke-samsung-authenticated.sh
  x/aubin/android/scripts/smoke-samsung-local-preview.sh
  x/aubin/android/scripts/smoke-samsung-prod.sh
  x/aubin/android/scripts/test-notification.sh
  x/aubin/android/scripts/write-presentation-index.sh
Due: none

[android] Document architecture and release workflows
  x/aubin/android/ARCHITECTURE.md
  x/aubin/android/DEVELOPMENT.md
Due: biome

[front] fix: target authoritative cache key in Poke
  front-api/lib/api/poke/cache_catalog.test.ts
  front/lib/api/resources/cached_resource_lookup.ts
  front/lib/resources/workspace_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: drop models the client build does not know from the picker
  front/lib/swr/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sidekick): use Fast auto stream on first turn, Standard on follow-ups (#30380)
  front/lib/api/assistant/global_agents/configurations/dust/sidekick.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add Automation analytics page behind enable_analytics_automations
  front-spa/src/app/routes/adminRoutes.tsx
  front/components/navigation/config.ts
  front/components/pages/workspace/AnalyticsAutomationsPage.tsx
  front/scripts/seed/README.md
  front/scripts/seed/analytics/assets/triggers.json
  front/scripts/seed/analytics/assets/webhook-sources.json
  front/scripts/seed/analytics/seed.ts
  front/scripts/seed/factories/seedConsumptionAnalytics.ts
  front/scripts/seed/factories/seedTriggers.ts
  front/scripts/seed/factories/types.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(conversation): replace pod banner with model picker banner (#30578)
  front/components/assistant/conversation/InAppBanner.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/components/assistant/conversation/input_bar/InputBarModelPicker.tsx
  front/components/model_picker/ModelPicker.tsx
  front/public/static/Model_Picker_Banner.png
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Instrument input-bar model picker analytics
  front/components/assistant/conversation/input_bar/InputBarModelPicker.tsx
  front/components/assistant/conversation/input_bar/ModelPickerHighlight.tsx
  front/components/model_picker/ModelPicker.tsx
  front/components/model_picker/modelPickerTracking.test.ts
  front/components/model_picker/modelPickerTracking.ts
  front/lib/context/clientType.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] fix: keep navigation focus rings visible
  sparkle/src/components/Button.tsx
  sparkle/src/components/NavigationList.tsx
  sparkle/src/components/Tabs.tsx
Due: biome

[sparkle] fix: keep tab focus rings visible
  sparkle/src/components/Tabs.tsx
Due: biome

[front] fix: toggle attribution table filter button to remove active filters
  front/components/pages/workspace/AnalyticsConsumptionPage.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionRowsTable.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.test.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.tsx
  front/components/workspace/analytics/usageFilter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: hydrate MCP approval metadata
  front/lib/actions/constants.ts
  front/lib/actions/tool_approval_events.ts
  front/lib/api/assistant/jit/conversation.ts
  front/lib/resources/agent_mcp_action_resource.test.ts
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: simplify approval card values
  front/components/actions/blocked/ToolValidationCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: refresh inline tool approval UI
  front/components/actions/blocked/ToolValidationCard.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
  front/components/assistant/conversation/tool_validation/SandboxFunctionPublishValidationDetails.tsx
  front/components/assistant/conversation/tool_validation/SandboxFunctionUnpublishValidationDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] polish: restore approval card shadow
  front/components/actions/blocked/ToolValidationCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: restore remaining spaces permissions when scrubbing workspace (#30579)
  front/lib/resources/group_permission_resource.ts
  front/temporal/scrub_workspace/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: update extension version
  extension/package.json
  extension/platforms/chrome/manifests/manifest.base.json
  extension/platforms/firefox/manifests/manifest.base.json
  package-lock.json
Due: package-lock-check, biome

[front] test: cover the attribution filter toggle and removal from filters
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.test.tsx
  front/components/workspace/analytics/usageFilter.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: avoid mirroring incompatible cache entries
  front/lib/api/resources/cached_resource_lookup.ts
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/lib/utils/cache.test.ts
  front/lib/utils/cache.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: preserve approval queue progress
  front/components/assistant/conversation/BlockedActionsProvider.test.tsx
  front/components/assistant/conversation/BlockedActionsProvider.tsx
  front/components/assistant/conversation/MCPToolValidationRequired.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Toggle attribution table filter button to remove active filters (#30605)
  front/components/pages/workspace/AnalyticsConsumptionPage.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionRowsTable.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.test.tsx
  front/components/workspace/analytics/consumption/ConsumptionAttributionTable.tsx
  front/components/workspace/analytics/usageFilter.test.ts
  front/components/workspace/analytics/usageFilter.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle unsupported Notion formula results
  connectors/src/connectors/notion/lib/notion_api.test.ts
  connectors/src/connectors/notion/lib/notion_api.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] fix: drop models the client build does not know from the picker (#30601)
  front/lib/swr/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
