Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

chore(docker): switch front to node slim image
  dockerfiles/front.Dockerfile
Due: none

Handle API blocking on credit based plans
  front/lib/api/assistant/conversation.ts
  front/lib/metronome/user_block.ts
  front/lib/triggers/webhook.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Show error if purchase info can't be loaded
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add dsbx env command to surface sandbox env vars and DSEC allowlists
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/env.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/env_manifest.test.ts
  front/lib/api/sandbox/env_manifest.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[metronome] Handle commit/credit manual edits (#26041)
  front/lib/api/metronome/process_webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): remove old reasoning models list
  front-api/routes/w/[wId]/models.ts
  front/components/pages/workspace/model_providers/ModelProvidersPageContent.tsx
  front/components/providers/model_configs.ts
  front/components/providers/types.ts
  front/lib/swr/models.ts
  front/pages/api/w/[wId]/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: remove N+1 queries in agent creation/restore (#26153)
  front/lib/api/apps.ts
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Format
  front/temporal/data_retention/activities.ts
  front/temporal/es_indexation/activities.ts
  front/temporal/triggers/webhook_client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Show error if purchase info can't be loaded (#26167)
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/BuyAwuCreditsDialog.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop unused conversation arg, tighten manifest invariants and tests
  cli/dust-sandbox/src/commands/env.rs
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/env_manifest.test.ts
  front/lib/api/sandbox/env_manifest.ts
  front/lib/api/sandbox/lifecycle.test.ts
  front/lib/api/sandbox/lifecycle.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: skip tools validation when creating conversation with a slack bot (#26158)
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

Rename sId -> id
  front/components/poke/projects/connector_knowledge/columns.tsx
  front/lib/api/projects/context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use validate to parse params
  front-api/routes/v1/w/[wId]/data_sources/[dsId]/documents/[documentId]/blob.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/check_upsert_queue.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/parents.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/index.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/[fId].ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/folders/index.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/search.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/index.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/parents.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/rows/[rId].ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/[tId]/rows/index.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/csv.ts
  front-api/routes/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/tables/index.ts
Due: biome

Drop Sequelize model from env_manifest tests
  front/lib/api/sandbox/env_manifest.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add concurrency
  front/lib/api/projects/context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] AgentMessage: log warning when trying to copy a null agentMessage
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(front): remove old reasoning models list (#26172)
  front-api/routes/w/[wId]/models.ts
  front/components/pages/workspace/model_providers/ModelProvidersPageContent.tsx
  front/components/providers/model_configs.ts
  front/components/providers/types.ts
  front/lib/swr/models.ts
  front/pages/api/w/[wId]/models.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add coding rule on N+1 queries
  CODING_RULES.md
Due: biome

[front] Handle API blocking on credit based plans (#26166)
  front/lib/api/assistant/conversation.ts
  front/lib/metronome/user_block.ts
  front/lib/triggers/webhook.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Point the sandbox skill at dsbx env for env-var discovery
  front/lib/resources/skill/code_defined/sandbox.test.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add sentence on concurrent executor
  CODING_RULES.md
Due: biome

Skip programmatic-usage workflow on credit based plans
  front/lib/api/programmatic_usage/tracking.ts
  front/lib/credits/payg.ts
  front/temporal/agent_loop/activities/usage_tracking.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Create workos organization on contract creation (#26154)
  front-api/routes/poke/workspaces/[wId]/switch_contract.ts
  front/lib/api/metronome/process_webhook.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

No longer return skill instructions when listing skills (#25902)
  front-api/routes/w/[wId]/skills/index.test.ts
  front-api/routes/w/[wId]/skills/index.ts
  front/lib/swr/skill_configurations.ts
  front/pages/api/w/[wId]/skills/index.test.ts
  front/pages/api/w/[wId]/skills/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Narrow cancellation fix scope
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/api/assistant/conversation.ts
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Drop the obsolete bash existence-check guidance for sandbox env vars
  front/lib/resources/skill/code_defined/sandbox.test.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Ungate the dsbx env mention from sandbox_dsbx_tools
  front/lib/resources/skill/code_defined/sandbox.test.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Make small create-only GCS uploads explicit (#26061)
  front/lib/file_storage/index.ts
  front/lib/triggers/webhook.ts
  front/pages/api/v1/w/[wId]/triggers/hooks/[webhookSourceId]/[webhookSourceUrlSecret]/index.test.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

move frame related endpoints
  front-api/app.ts
  front-api/routes/v1/public/frames/[token]/index.test.ts
  front-api/routes/v1/public/frames/[token]/index.ts
  front-api/routes/v1/public/frames/[token]/verify-code.test.ts
  front-api/routes/v1/public/frames/[token]/verify-code.ts
  front-api/routes/v1/public/frames/[token]/verify-email.test.ts
  front-api/routes/v1/public/frames/[token]/verify-email.ts
  front-api/routes/v1/public/frames/shared_auth.ts
  front/pages/api/v1/public/frames/[token]/verify-code.ts
  front/pages/api/v1/public/frames/[token]/verify-email.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

fix tests
  front/vite.globalSetup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix format
  front-api/routes/v1/auth/[action].ts
  front-api/routes/v1/me.ts
  front-api/routes/v1/public/frames/[token]/verify-code.ts
Due: biome

refacotr
  front-api/app.ts
  front-api/routes/v1/index.ts
Due: biome

move me and auth/action
  front-api/app.ts
  front-api/routes/v1/auth/[action].ts
  front-api/routes/v1/me.ts
  front/pages/api/v1/me.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add dsbx env command to surface sandbox env vars and DSEC allowlists (#26168)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/env.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/env_manifest.test.ts
  front/lib/api/sandbox/env_manifest.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/skill/code_defined/sandbox.test.ts
  front/lib/resources/skill/code_defined/sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Agent Loop] Preserve cancelled sub-agent messages (#26021)
  front/lib/actions/mcp_actions.ts
  front/lib/actions/mcp_internal_actions/events.ts
  front/lib/actions/mcp_internal_actions/exit_events.test.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  front/lib/actions/mcp_internal_actions/utils.ts
  front/temporal/agent_loop/activities/common.test.ts
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/run_tool.ts
  sdks/js/src/output_schemas.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle hierarchy in pod files sync. (#26141)
  connectors/src/connectors/dust_project/lib/mount_path_utils.test.ts
  connectors/src/connectors/dust_project/lib/mount_path_utils.ts
  connectors/src/connectors/dust_project/lib/sync_project_mount_files.ts
  connectors/src/connectors/dust_project/temporal/activities.ts
  connectors/src/types/shared/internal_mime_types.ts
  sdks/js/src/internal_mime_types.ts
Due: connectors-typecheck, biome, connectors-eslint

Do not duplicated code
  front/components/actions/mcp/details/ChildAgentActivityTimeline.tsx
  front/components/assistant/conversation/actions/inline/ActivityTimeline.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  front/hooks/useChildAgentStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

run_agent: stream tool calls and update sidebar design
  front/components/actions/mcp/details/ChildAgentActivityTimeline.tsx
  front/components/actions/mcp/details/MCPRunAgentActionDetails.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  front/components/assistant/conversation/actions/inline/utils.ts
  front/hooks/useChildAgentStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

use validaet
  front-api/routes/v1/auth/[action].ts
  front-api/routes/v1/me.ts
  front-api/routes/v1/public/frames/[token]/index.ts
  front-api/routes/v1/public/frames/[token]/verify-code.ts
  front-api/routes/v1/public/frames/[token]/verify-email.ts
Due: biome
