Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[workspace/analytics] - refactor: streamline active user metrics with member count
  front/components/workspace/analytics/WorkspaceUsageChart.tsx
  front/lib/api/assistant/observability/active_users_metrics.ts
  front/lib/resources/membership_resource.ts
  front/pages/api/w/[wId]/analytics/active-users-export.ts
  front/pages/api/w/[wId]/analytics/active-users.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

strip params in form stream handler
  front/lib/api/files/utils.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

strip params in form stream handler (#22020)
  front/lib/api/files/utils.ts
  front/types/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: update notification preferences (#22013)
  front/components/me/NotificationPreferences.tsx
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/project-new-conversation.test.ts
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: Add firstUsedAt to memberships
  front/lib/resources/membership_resource.test.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/migrations/db/migration_515.sql
  front/pages/api/login.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: cli custom mcp transport
  cli/src/mcp/servers/cliTransport.ts
  cli/src/mcp/servers/fsServer.ts
Due: biome

feat: add tests on grit plugins
  .github/workflows/format-check.yml
  .grit/.gitignore
  .grit/grit.yaml
  .grit/patterns/enforceClientTypesInPublicApi.md
  .grit/patterns/nextjsNoDataFetchingInGetssp.md
  .grit/patterns/nextjsPageComponentNaming.md
  .grit/patterns/noBulkLodash.md
  .grit/patterns/noDirectSparkleNotification.md
  .grit/patterns/noMcpServerInstructions.md
  .grit/patterns/noNextImports.md
  .grit/patterns/noRawSql.md
  .grit/patterns/noUnverifiedWorkspaceBypass.md
  .grit/patterns/tooLongIndexName.md
  package-lock.json
  package.json
Due: biome

fix: cli custom mcp transport (#22021)
  cli/src/mcp/servers/cliTransport.ts
  cli/src/mcp/servers/fsServer.ts
Due: biome

Switch getLargeWhitelistedModel to sonnet 4.6
  front/types/assistant/assistant.ts
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix thinking
  front/hooks/useAgentMessageStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: Add firstUsedAt to memberships (#21917)
  front/lib/resources/membership_resource.test.ts
  front/lib/resources/membership_resource.ts
  front/lib/resources/storage/models/membership.ts
  front/migrations/db/migration_515.sql
  front/pages/api/login.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: check targetAgentConfigurationId for new and existing
  front/components/agent_builder/CopilotPanelContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add FetcherProvider for extension
  extension/platforms/chrome/main.tsx
  extension/platforms/front/main.tsx
  extension/shared/lib/FetcherProvider.tsx
Due: biome

Using already defined model.
  front/types/assistant/assistant.ts
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add in ab
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/extensions/CodeExtension.ts
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: bump cli version
  cli/package.json
  package-lock.json
Due: package-lock-check, biome

feat: upgrade dd-trace
  connectors/package.json
  front/package.json
  front/workers-build/package.json
  package-lock.json
  package.json
  viz/package.json
Due: package-lock-check, biome

lint
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

lint
  cli/package.json
Due: package-lock-check, biome

[extension] Add FetcherProvider for extension (#22026)
  extension/platforms/chrome/main.tsx
  extension/platforms/front/main.tsx
  extension/shared/lib/FetcherProvider.tsx
Due: biome

feat: upgrade dd-trace for connectors
  connectors/package.json
  package-lock.json
Due: package-lock-check, biome

[COPILOT] Shrink wrap conversation in first message (#21947)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/CopilotPanelContext.tsx
  front/hooks/useCopilotFirstMessage.ts
  front/lib/api/actions/servers/agent_copilot_context/tools/index.ts
  front/lib/api/assistant/conversation.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/existing.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/new.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/shrink-wrap.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/template.ts
  front/types/assistant/templates.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: upgrade dd-trace for front-workers
  front/workers-build/package.json
Due: package-lock-check, biome

feat: tip tap code extension (#22010)
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/extensions/CodeExtension.ts
  front/components/editor/input_bar/useCustomEditor.test.ts
  front/components/editor/input_bar/useCustomEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: bump cli version (#22027)
  cli/package.json
  package-lock.json
Due: package-lock-check, biome

move posthog
  front/pages/_app.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Move posthog (#22035)
  front/pages/_app.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix imports
  extension/shared/lib/FetcherProvider.tsx
Due: biome

[front] Fix imports (#22036)
  extension/shared/lib/FetcherProvider.tsx
Due: biome

[front] refactor(skills): break circular dep skill_resource -> agent -> global_agents
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/configuration/agent_requirements.ts
  front/lib/api/spaces.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add ImportMeta defs
  extension/global.d.ts
  extension/tsconfig.json
Due: biome

[extension] fix: Add ImportMeta defs (#22040)
  extension/global.d.ts
  extension/tsconfig.json
Due: biome

Prevent reload when navigation is locked
  front/hooks/useNavigationLock.tsx
  front/lib/navigation-lock.ts
  front/lib/swr/fetcher.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add better error message when agent response generation failed
  front/temporal/agent_loop/activities/common.ts
  front/temporal/agent_loop/activities/finalize.ts
  front/temporal/agent_loop/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Inline listOtherAgentSkills method for better readability
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front] refactor(skills): break circular dep skill_resource -> agent -> global_agents (#22024)
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/configuration/agent_requirements.ts
  front/lib/api/spaces.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
