Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[dsbx] docs: db query doc reflects the spill-file envelope (review follow-up)
  cli/dust-sandbox/src/commands/db/query.rs
Due: none

[dsbx] chore: one apply-failure fixture is enough
  cli/dust-sandbox/functions-runner/db_commands.test.ts
  cli/dust-sandbox/functions-runner/fixtures/databases/apply_fail.db.ts
  cli/dust-sandbox/functions-runner/fixtures/databases/pk_double.db.ts
Due: biome

[front] fix: adopt the FunctionStateManifest rename (review restack)
  front/lib/resources/sandbox_function_resource.ts
  front/lib/resources/storage/models/sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] feat: db query runs DML, refuses DDL
  cli/dust-sandbox/functions-runner/db_commands.test.ts
  cli/dust-sandbox/functions-runner/db_query.ts
  cli/dust-sandbox/functions-runner/runner.ts
  cli/dust-sandbox/src/commands/db/mod.rs
  cli/dust-sandbox/src/commands/db/query.rs
Due: biome

[front] feat: manifests column on sandbox functions (model + migration)
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/lib/resources/storage/models/sandbox_function.ts
  front/migrations/pre-deploy/20260707110553_add_manifests_to_sandbox_functions.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: adopt the de-manifest renames in the publish flow (review restack)
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: pod database manifest compat differ
  front/lib/api/sandbox_functions/compat.test.ts
  front/lib/api/sandbox_functions/compat.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: publish flow compat gate + reconcile integration
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
  front/lib/api/sandbox_functions/dsbx_db.ts
  front/lib/api/sandbox_functions/errors.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: de-manifest the compat differ surface (review restack)
  front/lib/api/sandbox_functions/compat.test.ts
  front/lib/api/sandbox_functions/compat.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: adopt the FunctionStateManifest rename (review restack)
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: adopt the FunctionStateManifest rename (review restack)
  front/lib/api/sandbox_functions/compat.test.ts
  front/lib/api/sandbox_functions/compat.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: adopt the FunctionState rename in model + resource (review restack)
  front/lib/resources/sandbox_function_resource.ts
  front/lib/resources/storage/models/sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] refactor: retire the extracted shapes — names are all that remains
  cli/dust-sandbox/functions-runner/db.test.ts
  cli/dust-sandbox/functions-runner/db.ts
  cli/dust-sandbox/functions-runner/db_reconcile.ts
  cli/dust-sandbox/functions-runner/types/db.ts
Due: biome

[front] feat: surface pod databases in sandbox_functions tools
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/get.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/get.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
  front/lib/api/sandbox_functions/dsbx_db.ts
  front/lib/api/sandbox_functions/errors.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: publish never touches the live databases (review)
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/sandbox_functions/build_on_sandbox.test.ts
  front/lib/api/sandbox_functions/build_on_sandbox.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: drop stored schemas and the compat differ — reconcile is the gate
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/actions/servers/sandbox_functions/tools/get.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/get.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.ts
  front/lib/api/actions/servers/sandbox_functions/tools/publish.ts
  front/lib/api/sandbox_functions/build_on_sandbox.test.ts
  front/lib/api/sandbox_functions/build_on_sandbox.ts
  front/lib/api/sandbox_functions/compat.test.ts
  front/lib/api/sandbox_functions/compat.ts
  front/lib/api/sandbox_functions/dsbx_db.ts
  front/lib/api/sandbox_functions/errors.ts
  front/lib/api/sandbox_functions/manifests.test.ts
  front/lib/api/sandbox_functions/manifests.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
  front/lib/lock.ts
  front/lib/resources/sandbox_function_resource.test.ts
  front/lib/resources/sandbox_function_resource.ts
  front/lib/resources/storage/models/sandbox_function.ts
  front/migrations/pre-deploy/20260707110553_add_manifests_to_sandbox_functions.sql
  front/types/api/sandbox_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] fix: @dust/pod stops claiming publish creates databases
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
Due: biome

[front] fix: adopt the FunctionStateManifest rename (review restack)
  front/lib/api/actions/servers/sandbox_functions/tools/get.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: adopt the de-manifest renames in db surfaces (review restack)
  front/lib/api/actions/servers/sandbox_functions/tools/get.test.ts
  front/lib/api/actions/servers/sandbox_functions/tools/list.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.test.ts
  front/lib/api/sandbox_functions/publish_sandbox_function.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] ToolValidationDetails: display objects and do not truncate
  front/components/assistant/conversation/ToolValidationDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add cancel subscription for free plans
  front/components/workspace/billing/FreePlanBilling.tsx
  front/components/workspace/billing/SubscriptionActionButtons.tsx
  front/components/workspace/billing/SubscriptionContext.tsx
  front/hooks/useMetronomeContractLifecycleAction.ts
  front/lib/metronome/contract_lifecycle.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): treat maxImagesPerWeek=-1 as unlimited for image generation
  front/lib/api/actions/servers/image_generation/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add cancel subscription for free plans (#28710)
  front/components/workspace/billing/FreePlanBilling.tsx
  front/components/workspace/billing/SubscriptionActionButtons.tsx
  front/components/workspace/billing/SubscriptionContext.tsx
  front/hooks/useMetronomeContractLifecycleAction.ts
  front/lib/metronome/contract_lifecycle.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): clean requestedSpaceIds on all skills referencing a deleted space (#28708)
  front/lib/api/spaces.ts
  front/lib/resources/skill/skill_resource.ts
  front/migrations/20260708_strip_space_from_requested_space_ids.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add litestream and pod-state layout to sandbox image
  front/lib/api/sandbox/hardening.ts
  front/lib/api/sandbox/image/bun_build.ts
  front/lib/api/sandbox/image/litestream/litestream.service
  front/lib/api/sandbox/image/litestream/litestream.yml
  front/lib/api/sandbox/image/pod_package.test.ts
  front/lib/api/sandbox/image/pod_package.ts
  front/lib/api/sandbox/image/profile/build.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/scripts/sandbox_security_check.test.ts
  front/scripts/sandbox_security_check.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] NewButton outline dark: stone-800/900 gradient + stone-800 border
  sparkle/src/components/NewButton.tsx
Due: biome

Sandbox functions: list, call and poll MCP tools from invocations
  front-api/middlewares/sandbox_auth.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/[aId]/index.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/call.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/call.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.test.ts
  front/lib/api/actions/servers/pod_manager/helpers.test.ts
  front/lib/api/actions/servers/pod_manager/helpers.ts
  front/lib/api/sandbox_functions/create_sandbox_function_mcp_action.ts
  front/lib/auth.ts
  front/lib/resources/sandbox_function_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): treat maxImagesPerWeek=-1 as unlimited for image generation (#28732)
  front/lib/api/actions/servers/image_generation/helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove internal and never_ask gate
  front-api/routes/v1/w/[wId]/sandbox/actions/call.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/call.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.test.ts
  front-api/routes/v1/w/[wId]/sandbox/actions/index.ts
  front/lib/api/sandbox_functions/create_sandbox_function_mcp_action.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: defer eager skill tools
  front/lib/actions/mcp_actions.ts
  front/lib/api/assistant/skill_actions.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add agent config id to cache miss logs
  front/temporal/agent_loop/lib/get_output_from_llm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Tag cache miss metrics by Dust-like agent
  front/temporal/agent_loop/lib/get_output_from_llm.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/temporal/agent_loop/lib/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Refresh pool baalnce after top-up
  front/components/pages/workspace/UsagePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Simplify cache miss Dust-like metric tag
  front/temporal/agent_loop/lib/get_output_from_llm.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/temporal/agent_loop/lib/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] NewButton dark mode: primary stone-50/150, highlight blue-500/600, warning red-500/600, outline stone-775/750
  sparkle/src/components/NewButton.tsx
  sparkle/src/stories/NewButton.stories.tsx
Due: biome

[sparkle] NewButton dark mode: primary stone-50/150, highlight blue-500/600, warning red-500/600, outline stone-775/750
  sparkle/src/components/NewButton.tsx
Due: biome

[front] ToolValidationDetails: display objects and do not truncate (#28731)
  front/components/assistant/conversation/ToolValidationDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add empty Cartography tab
  front/components/assistant/conversation/agent_browser/AgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/MobileOrExtensionAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/WebAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/cartography/Cartography.tsx
  front/components/assistant/conversation/agent_browser/shared.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] NewButton outline dark: bg stone-800, border stone-775
  sparkle/src/components/NewButton.tsx
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
