Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Add plugin to remove whitelisting for Enterprise seat based plan
  front/lib/api/poke/plugins/workspaces/upgrade_to_business_plan.ts
  front/lib/api/workspace.ts
  front/types/poke/plugins.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove legacy description compat from template pull endpoint (#21395)
  front/pages/api/poke/templates/pull.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove unused import
  front/lib/api/poke/plugins/workspaces/upgrade_to_business_plan.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Handle multi-region in join endpoint (#21392)
  front-spa/src/app/App.tsx
  front/lib/swr/workspaces.ts
  front/pages/api/w/[wId]/join.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Showall
  sparkle/playground/src/components/ConversationView.tsx
  sparkle/playground/src/stories/Conversation.tsx
  sparkle/playground/src/stories/Projects_AgentBuilder.tsx
  sparkle/playground/tsconfig.json
  sparkle/src/components/NewConversationMessages.tsx
  sparkle/src/components/index.ts
  sparkle/src/stories/NewConversationMessages.stories.tsx
Due: biome

SPA: migrate page no-workspace
  front-spa/src/app/App.tsx
  front/components/pages/onboarding/NoWorkspacePage.tsx
  front/lib/swr/workspaces.ts
  front/pages/api/workspace-lookup.ts
  front/pages/no-workspace.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix weird state
  front-spa/src/app/layouts/WorkspacePage.tsx
  front/components/pages/onboarding/NoWorkspacePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[agent_builder/observability/charts] - fix: exclude aggregated conversation files from treemap drill-down
  front/components/agent_builder/observability/charts/DatasourceRetrievalTreemapChart.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add plugin to remove whitelisting for Enterprise seat based plan (#21389)
  front/lib/api/poke/plugins/workspaces/upgrade_to_business_plan.ts
  front/lib/api/workspace.ts
  front/types/poke/plugins.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove the hack for weird state
  front-spa/src/app/layouts/WorkspacePage.tsx
Due: biome

SPA - migrate no workspace (#21397)
  front-spa/src/app/App.tsx
  front/components/pages/onboarding/NoWorkspacePage.tsx
  front/lib/swr/workspaces.ts
  front/pages/api/workspace-lookup.ts
  front/pages/no-workspace.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Disable emotiocns to avoid the :null: bug
  front/components/editor/extensions/EmojiExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

SPA - migrate maintenance page
  front-spa/src/app/App.tsx
  front/components/pages/MaintenancePage.tsx
  front/pages/maintenance.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Sort imports
  front/components/pages/onboarding/NoWorkspacePage.tsx
  front/lib/swr/workspaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

SPA - migrate maintenance page (#21399)
  front-spa/src/app/App.tsx
  front/components/pages/MaintenancePage.tsx
  front/components/pages/onboarding/NoWorkspacePage.tsx
  front/lib/swr/workspaces.ts
  front/pages/maintenance.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Inline 404 errors
  front/components/pages/builder/agents/EditAgentPage.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/NewAgentPage.tsx
  front/components/pages/builder/skills/EditSkillPage.tsx
  front/components/pages/onboarding/JoinPage.tsx
  front/components/pages/onboarding/NoWorkspacePage.tsx
  front/components/pages/spaces/apps/AppSettingsPage.tsx
  front/components/pages/spaces/apps/AppSpecificationPage.tsx
  front/components/pages/spaces/apps/AppViewPage.tsx
  front/components/pages/spaces/apps/DatasetPage.tsx
  front/components/pages/spaces/apps/DatasetsPage.tsx
  front/components/pages/spaces/apps/NewDatasetPage.tsx
  front/components/pages/spaces/apps/RunPage.tsx
  front/components/pages/spaces/apps/RunsPage.tsx
  front/lib/swr/workspaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Inline 404 errors (#21396)
  front/components/pages/builder/agents/EditAgentPage.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/NewAgentPage.tsx
  front/components/pages/builder/skills/EditSkillPage.tsx
  front/components/pages/onboarding/JoinPage.tsx
  front/components/pages/spaces/apps/AppSettingsPage.tsx
  front/components/pages/spaces/apps/AppSpecificationPage.tsx
  front/components/pages/spaces/apps/AppViewPage.tsx
  front/components/pages/spaces/apps/DatasetPage.tsx
  front/components/pages/spaces/apps/DatasetsPage.tsx
  front/components/pages/spaces/apps/NewDatasetPage.tsx
  front/components/pages/spaces/apps/RunPage.tsx
  front/components/pages/spaces/apps/RunsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(copilot): add search_agent_templates tool for new agent init
  front/components/agent_builder/CopilotPanelContext.tsx
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/actions/servers/agent_copilot_context/metadata.ts
  front/lib/api/actions/servers/agent_copilot_context/tools/index.ts
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: move front-spa to biome
  biome.json
  front-spa/eslint.config.js
  front-spa/package.json
  front-spa/src/app/App.tsx
  front-spa/src/app/components/AuthErrorPage.tsx
  front-spa/src/app/layouts/ConversationLayoutWrapper.tsx
  front-spa/src/app/layouts/SpaceLayoutWrapper.tsx
  front-spa/src/app/layouts/WorkspacePage.tsx
  front-spa/src/app/pages/IndexPage.tsx
  front-spa/src/lib/ReactRouterLinkWrapper.tsx
  front-spa/src/lib/platform.tsx
  front-spa/src/poke/PokeApp.tsx
  front-spa/src/poke/layouts/PokePage.tsx
  front-spa/src/poke/layouts/PokeWorkspacePage.tsx
  front-spa/src/share/ShareApp.tsx
  package-lock.json
Due: package-lock-check, biome

handle revoked access tokens
  connectors/src/connectors/gong/lib/gong_api.ts
Due: connectors-typecheck, biome, connectors-eslint

handle revoked access tokens (#21402)
  connectors/src/connectors/gong/lib/gong_api.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] Remove agent builder local space selection sheet (#21318)
  front/components/agent_builder/capabilities/capabilities_sheet/hooks.ts
  front/components/agent_builder/capabilities/capabilities_sheet/types.ts
  front/components/agent_builder/capabilities/capabilities_sheet/utils.tsx
  front/components/agent_builder/skills/AgentBuilderCapabilitiesBlock.tsx
  front/components/agent_builder/skills/skillsAndActionsState.ts
  front/components/agent_builder/skills/types.ts
  front/lib/skill.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove slack teams meta prompt
  front/lib/api/assistant/conversation_rendering/helpers.ts
  front/lib/api/assistant/generation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove obsolete tests
  front/lib/api/assistant/generation.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: move front-spa to biome (#21400)
  biome.json
  front-spa/eslint.config.js
  front-spa/package.json
  front-spa/src/app/App.tsx
  front-spa/src/app/components/AuthErrorPage.tsx
  front-spa/src/app/layouts/ConversationLayoutWrapper.tsx
  front-spa/src/app/layouts/SpaceLayoutWrapper.tsx
  front-spa/src/app/layouts/WorkspacePage.tsx
  front-spa/src/app/pages/IndexPage.tsx
  front-spa/src/lib/ReactRouterLinkWrapper.tsx
  front-spa/src/lib/platform.tsx
  front-spa/src/poke/PokeApp.tsx
  front-spa/src/poke/layouts/PokePage.tsx
  front-spa/src/poke/layouts/PokeWorkspacePage.tsx
  front-spa/src/share/ShareApp.tsx
  package-lock.json
Due: package-lock-check, biome

feat: rename journal entry
  front/admin/db.ts
  front/components/assistant/conversation/space/conversations/SpaceConversationsTab.tsx
  front/components/assistant/conversation/space/conversations/SpaceUserProjectDigest.tsx
  front/lib/api/projects/butler.ts
  front/lib/resources/project_journal_entry_resource.test.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/storage/models/user_project_digest.ts
  front/lib/resources/string_ids.ts
  front/lib/resources/user_project_digest_resource.test.ts
  front/lib/resources/user_project_digest_resource.ts
  front/lib/swr/spaces.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/user_project_digests.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/user_project_digests/generate.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/user_project_digests/generate.ts
  front/temporal/project_journal_queue/activities.ts
  front/tests/utils/UserProjectDigestFactory.ts
  front/types/index.ts
  front/types/user_project_digest.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: rename temporal workflow/queues
  front/pages/api/w/[wId]/spaces/[spaceId]/user_project_digests/generate.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/user_project_digests/generate.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/project_journal_queue/config.ts
  front/temporal/project_journal_queue/workflows.ts
  front/temporal/project_user_digest_queue/activities.ts
  front/temporal/project_user_digest_queue/client.ts
  front/temporal/project_user_digest_queue/config.ts
  front/temporal/project_user_digest_queue/worker.ts
  front/temporal/project_user_digest_queue/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM_ROUTER] Update dust-edge to Opus 4.6 and add dust-next reasoning variants
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[LLM_ROUTER] Add dust-goog, dust-goog-medium, dust-quick-medium agents and consolidate feature flags
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: add missing metadata entries, consolidate feature flags, add dust-goog/quick-medium variants
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/types/shared/feature_flags.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: format global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: re-add custom model feature flag check for dust-next variants
  front/lib/api/assistant/global_agents/global_agents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: sync WhitelistableFeature in SDK types with consolidated flag
  sdks/js/src/types.ts
Due: biome

[LLM_ROUTER] Add internal global agent variants and consolidate feature flags (#21404)
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/global_agent_metadata.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/types/assistant/assistant.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: streaming in public api with backward compatible layer.
  front/lib/api/actions/servers/interactive_content/helpers.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
  front/lib/api/actions/servers/slideshow/tools/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat(sandbox-benchmarks): add e2b sandbox cold-start benchmark (#21378)
  x/henry/sandbox-benchmarks/e2b/bench_sandbox.ts
  x/henry/sandbox-benchmarks/e2b/package-lock.json
  x/henry/sandbox-benchmarks/e2b/package.json
Due: package-lock-check, biome

feat(sandbox-benchmarks): add blaxel sandbox cold-start benchmark (#21369)
  x/henry/sandbox-benchmarks/blaxel/bench_sandbox.ts
Due: biome

Fix: streaming in public api with backward compatible layer. (#21406)
  front/lib/api/actions/servers/interactive_content/helpers.ts
  front/lib/api/actions/servers/interactive_content/tools/index.ts
  front/lib/api/actions/servers/slideshow/tools/index.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

add timestamp sorting
  core/src/search_stores/search_store.rs
Due: none

Add agent attribution to google drive comment tools
  front/lib/api/actions/servers/google_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
