Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] feat(i18n): translate the error messages shown in the UI
  .oxlintrc.json
  front/components/actions/blocked/PersonalAuthenticationCard.tsx
  front/components/actions/mcp/create/ConnectMCPServerDialog.tsx
  front/components/agent_builder/PersonalConnectionRequiredDialog.tsx
  front/components/agent_builder/SidekickPanelContext.tsx
  front/components/agent_builder/agentBuilderFormSchema.ts
  front/components/agent_builder/capabilities/mcp/utils/validationMessages.ts
  front/components/agent_builder/capabilities/mcp/validation/schemaBuilders.ts
  front/components/agent_builder/types.ts
  front/components/assistant/conversation/MCPServerPersonalAuthenticationRequired.test.tsx
  front/components/data_source/ConnectorPermissionsModal.tsx
  front/components/me/UserToolsTable.tsx
  front/components/pages/onboarding/VerifyPage.tsx
  front/components/triggers/CreateWebhookSourceWithProviderForm.tsx
  front/components/workspace/DustMcpServerSettingsSheet.tsx
  front/hooks/useFormatPersonalConnectionError.ts
  front/lib/agent_builder/helpers.test.ts
  front/lib/agent_builder/helpers.ts
  front/lib/api/actions/servers/building_agents_and_skills/agent_suggestion_changes.ts
  front/lib/api/mcp_server/dust_mcp_server_settings.ts
  front/lib/swr/mcp_servers.ts
  front/locales/en-US/components/agent_builder/capabilities/mcp/utils/messages.po
  front/locales/en-US/components/agent_builder/capabilities/mcp/validation/messages.po
  front/locales/en-US/components/agent_builder/messages.po
  front/locales/en-US/components/data_source/messages.po
  front/locales/en-US/components/workspace/messages.po
  front/locales/en-US/hooks/messages.po
  front/locales/fr-FR/components/agent_builder/capabilities/mcp/utils/messages.po
  front/locales/fr-FR/components/agent_builder/capabilities/mcp/validation/messages.po
  front/locales/fr-FR/components/agent_builder/messages.po
  front/locales/fr-FR/components/data_source/messages.po
  front/locales/fr-FR/components/workspace/messages.po
  front/locales/fr-FR/hooks/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(i18n): translate the document editor errors
  front/components/editor/document/DocumentCommentAnchor.ts
  front/components/editor/document/README.md
  front/components/editor/document/content.ts
  front/components/editor/document/dfm_persistence.test.ts
  front/components/editor/document/dfm_persistence.ts
  front/components/editor/document/errors.ts
  front/components/editor/document/useDocumentEditor.ts
  front/lib/api/collab/ydoc.test.ts
  front/lib/api/collab/ydoc.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
  oxlint-plugins/dust.mjs
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: refuse moving a Frame's manifest.json on its own (#34409)
  front-api/routes/v1/w/[wId]/sandbox/frames/call_utils.ts
  front-api/routes/w/[wId]/files/path/[...canonicalPath].ts
  front/lib/api/actions/servers/files/tools/move.ts
  front/lib/api/files/file_system_ops.ts
  front/lib/api/files/rename_frame_folder.test.ts
  front/lib/api/frames/publication_retention.test.ts
  front/lib/api/frames/publication_retention.ts
  front/lib/api_error_messages.ts
  front/locales/en-US/lib/messages.po
  front/locales/fr-FR/lib/messages.po
  front/types/error.ts
  front/types/file_system.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] co-edition: live session tests on a free port (#34484)
  front/hooks/useLiveSession.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(suggestions): expand only the first entity section (#34404)
  front/components/markdown/suggestion/BatchSuggestionDirective.tsx
  front/components/markdown/suggestion/SuggestionTargetSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor(i18n): define the document error messages once
  front/components/editor/document/README.md
  front/components/editor/document/dfm_persistence.test.ts
  front/components/editor/document/errors.ts
  front/components/editor/document/useDocumentEditor.live.test.ts
  front/components/editor/document/useDocumentEditor.ts
  front/lib/api/collab/ydoc.test.ts
  front/lib/api/collab/ydoc.ts
  front/locales/en-US/components/editor/document/messages.po
  front/locales/fr-FR/components/editor/document/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Group Management] Only admins manage members of groups holding billing or security admin (#34399)
  front/lib/resources/group_resource.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor
  front-spa/src/app/App.tsx
  front-spa/src/app/components/SpaRouterRoot.tsx
  front-spa/src/email/EmailApp.tsx
  front-spa/src/oauth/OAuthApp.tsx
  front-spa/src/poke/PokeApp.tsx
  front-spa/src/share/ShareApp.tsx
  front/components/app/AppI18nProvider.tsx
  front/components/app/SparkleLocaleProvider.test.tsx
  front/components/app/SparkleLocaleProvider.tsx
  front/vite.i18nSetup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[spolu] Record completed v5 durable tree warmup benchmarks
  x/spolu/dfs/v5/PLAN.md
  x/spolu/dfs/v5/bench/SCALE.md
  x/spolu/dfs/v5/bench/SEARCH.md
  x/spolu/dfs/v5/gcp/README.md
Due: biome

refactor(suggestions): share the agent instructions resolver (#34258)
  front/lib/api/assistant/apply_agent_suggestions.ts
  front/lib/editor/merge_agent_suggestion_changes.ts
  front/lib/editor/preview_agent_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: checkpoint live documents to the file, unload after a grace period
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
  front/lib/api/collab/live_file.test.ts
  front/lib/api/collab/live_file.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: await hook failures with try/catch, test a return during the grace period
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
Due: biome

Admin governance: filter /api/v1/w/:wId/analytics/consumption/export on group access (#34392)
  front-api/public/swagger.json
  front-api/routes/swagger-private.json
  front-api/routes/v1/w/[wId]/analytics/consumption/export.test.ts
  front-api/routes/v1/w/[wId]/analytics/consumption/export.ts
  front/lib/api/analytics/consumption/export_access.test.ts
  front/lib/api/analytics/consumption/export_access.ts
  front/lib/api/analytics/consumption/export_lines.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: scope the grace period contract to WebSocket clients
  front-api/lib/collab/hocuspocus.ts
Due: biome

[sparkle] lingui setup (#34361)
  .github/workflows/build-sparkle.yml
  .oxlintrc.json
  package-lock.json
  sparkle/.gitignore
  sparkle/.storybook/main.ts
  sparkle/babel.esm.json
  sparkle/lingui.config.ts
  sparkle/package.json
  sparkle/playground/package.json
  sparkle/playground/vite.config.ts
  sparkle/src/components/Pagination.tsx
  sparkle/src/lib/i18n/SparkleI18nProvider.tsx
  sparkle/src/lib/i18n/Trans.tsx
  sparkle/src/lib/i18n/catalogs.ts
  sparkle/src/lib/i18n/index.ts
  sparkle/src/lib/i18n/locales.ts
  sparkle/src/lib/i18n/useLingui.ts
  sparkle/src/locales/en-US/messages.po
  sparkle/src/locales/fr-FR/messages.po
  sparkle/tests/i18n/SparkleI18nProvider.test.tsx
  sparkle/tests/i18n/Trans.test.tsx
  sparkle/vitest.unit.config.ts
Due: package-lock-check, biome

[front] enh: include skill metadata in Sidekick suggestions (#34372)
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
  front-api/routes/w/[wId]/skills/similar.ts
  front/components/agent_builder/sidekick/SidekickSuggestionsContext.tsx
  front/lib/resources/agent_suggestion_resource.ts
  front/types/api/assistant/agent_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] polish: use light-blue highlight for navigation shimmer
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
Due: biome

[front] polish: move navigation glint at constant border speed
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: better ongoing agent work ux in conv
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarMessageNavigation.tsx
  front/components/assistant/conversation/input_bar/getResponseNavigationState.test.ts
  front/components/assistant/conversation/input_bar/getResponseNavigationState.ts
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.test.tsx
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.tsx
  front/components/assistant/conversation/input_bar/useConversationResponseNavigation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: TODOs for unrecovered checkpoint conflicts and failures
  front-api/lib/collab/hocuspocus.ts
Due: biome

[front] chore: mark favorites-first compatibility for removal
  front/lib/agent_search/query_schema.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: preserve navigation translations after rebase
  front/locales/en-US/components/assistant/conversation/input_bar/message_navigation/messages.po
  front/locales/en-US/components/assistant/conversation/input_bar/messages.po
  front/locales/fr-FR/components/assistant/conversation/input_bar/message_navigation/messages.po
  front/locales/fr-FR/components/assistant/conversation/input_bar/messages.po
Due: none

Fix type issue in front-api/routes/v1/w/[wId]/analytics/consumption/export.test.ts
  front-api/routes/v1/w/[wId]/analytics/consumption/export.test.ts
Due: biome

[front-api] co-edition: checkpoint through the last writer, log workspaceId on unexpected failures, TODOs for known gaps
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
  front/lib/api/collab/live_file.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] polish: slow constant-speed navigation glint
  front/components/assistant/conversation/input_bar/message_navigation/ConversationNavigationPill.module.css
Due: biome

[front-api] Stop 500 on blocked-only retry when nothing is left to resume
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/retry.ts
  front/lib/api/assistant/conversation/retry_blocked_actions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Google Drive] Resume moved folder parent updates on retry
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix: Admin "members" page. (#34456)
  front/components/UserSettingsPopover.tsx
  front/components/actions/mcp/AdminActionsList.tsx
  front/components/groups/WorkspaceGroupsList.tsx
  front/components/layouts/AdminPageContainer.tsx
  front/components/members/MembersList.tsx
  front/components/pages/workspace/governance/GovernanceSettingRowLayout.tsx
  front/components/pages/workspace/governance/GovernanceSettingSection.tsx
  front/components/spaces/SpaceResourcesList.tsx
  front/components/triggers/AdminTriggersList.tsx
  front/components/workspace/CreditsList.tsx
  front/components/workspace/DirectorySync.tsx
  front/components/workspace/member_name_column.tsx
  front/components/workspace/sso/AutoJoinToggle.tsx
  front/locales/en-US/components/groups/messages.po
  front/locales/en-US/components/workspace/messages.po
  front/locales/en-US/components/workspace/sso/messages.po
  front/locales/fr-FR/components/groups/messages.po
  front/locales/fr-FR/components/workspace/messages.po
  front/locales/fr-FR/components/workspace/sso/messages.po
  front/types/user.ts
  sparkle/src/components/Avatar.tsx
  sparkle/src/components/DataTable/cells.tsx
  sparkle/src/stories/DataTable.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix: admin "security" page.
  front/components/pages/workspace/SecurityPage.tsx
  front/components/sandbox/AgentRequestedDomainsSetting.tsx
  front/components/sandbox/ComputerNetworkSection.tsx
  front/components/sandbox/MultiPodNetworkSection.tsx
  front/components/workspace/AuditLogsSection.tsx
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/sso/WorkOSSSOConnection.tsx
  front/locales/en-US/components/workspace/settings/messages.po
  front/locales/fr-FR/components/workspace/settings/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] consumption export test: use the renamed shared usage limit group field
  front-api/routes/v1/w/[wId]/analytics/consumption/export.test.ts
Due: biome

[front] perf: use selected skills when removing agent spaces (#34370)
  front/components/agent_builder/AgentBuilderSpacesBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Google Drive] Key move progress by folder and reset it on another chain
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

fix(mobile): extend screen backgrounds under safe areas in dark mode
  x/adrsimon/mobile/Dust/Views/CatchUpView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/ConversationListView.swift
  x/adrsimon/mobile/Dust/Views/NewConversationView.swift
  x/adrsimon/mobile/Dust/Views/PodConversationsView.swift
Due: none

Fix: admin "security" page. (#34475)
  front/components/pages/workspace/SecurityPage.tsx
  front/components/sandbox/AgentRequestedDomainsSetting.tsx
  front/components/sandbox/ComputerNetworkSection.tsx
  front/components/sandbox/MultiPodNetworkSection.tsx
  front/components/workspace/AuditLogsSection.tsx
  front/components/workspace/WorkspaceAccessPanel.tsx
  front/components/workspace/settings/AuditLogsToggle.tsx
  front/components/workspace/sso/WorkOSSSOConnection.tsx
  front/locales/en-US/components/workspace/settings/messages.po
  front/locales/fr-FR/components/workspace/settings/messages.po
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mobile): extend screen backgrounds under safe areas in dark mode (#34496)
  x/adrsimon/mobile/Dust/Views/CatchUpView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/ConversationListView.swift
  x/adrsimon/mobile/Dust/Views/NewConversationView.swift
  x/adrsimon/mobile/Dust/Views/PodConversationsView.swift
Due: none

chore: retrigger front CI after empty-commit path-filter skip
  front/lib/api/frames/package_file_ref_paths.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front-api] co-edition: checkpoint live documents to the file, unload after a grace period (#34481)
  front-api/lib/collab/hocuspocus.test.ts
  front-api/lib/collab/hocuspocus.ts
  front/lib/api/collab/live_file.test.ts
  front/lib/api/collab/live_file.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
