Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Clarify dfs v1 contracts and prune unused workspace locks
  x/spolu/dfs/v1/CONTRACTS
  x/spolu/dfs/v1/DESIGN.md
  x/spolu/dfs/v1/README.md
  x/spolu/dfs/v1/fuse/src/linux.rs
  x/spolu/dfs/v1/server/src/auth.rs
Due: biome

Benchmark dfs search on the 10000-file GCS corpus
  x/spolu/dfs/v1/DESIGN-SEARCH.md
  x/spolu/dfs/v1/PLAN-SEARCH.md
  x/spolu/dfs/v1/bench/SEARCH-RESULTS.md
  x/spolu/dfs/v1/bench/search-latest/run.json
  x/spolu/dfs/v1/bench/search.py
  x/spolu/dfs/v1/client/examples/search_bench.rs
Due: biome

Batch dfs search indexing and defer bulk maintenance
  x/spolu/dfs/v1/DESIGN-SEARCH.md
  x/spolu/dfs/v1/PLAN-SEARCH.md
  x/spolu/dfs/v1/SEARCH.md
  x/spolu/dfs/v1/server/src/search/tests.rs
  x/spolu/dfs/v1/server/src/search/worker.rs
Due: biome

[front] fix: handle Temporal cancellation in the shared error handler
  front/lib/actions/mcp_actions.ts
  front/lib/api/mcp/run_tool.ts
  front/lib/utils/async_utils.ts
  front/types/shared/utils/global_error_handler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Trigger: prevent reading trigger request when the user does not have access to the agent (#33963)
  front-api/routes/w/[wId]/triggers/[tId]/webhook_requests.test.ts
  front-api/routes/w/[wId]/triggers/[tId]/webhook_requests.ts
Due: biome

Cache Lance object reads in bounded RAM and disk storage
  x/spolu/dfs/v1/CONTRACTS
  x/spolu/dfs/v1/Cargo.lock
  x/spolu/dfs/v1/DESIGN-SEARCH.md
  x/spolu/dfs/v1/PLAN-SEARCH.md
  x/spolu/dfs/v1/SEARCH.md
  x/spolu/dfs/v1/bench/search.py
  x/spolu/dfs/v1/server/Cargo.toml
  x/spolu/dfs/v1/server/src/search/mod.rs
  x/spolu/dfs/v1/server/src/search/object_cache.rs
  x/spolu/dfs/v1/server/src/search/object_cache/tests.rs
  x/spolu/dfs/v1/server/src/search/query.rs
  x/spolu/dfs/v1/server/src/search/tests.rs
  x/spolu/dfs/v1/tests/support.py
Due: biome

[front] fix: observe cancellation rejections inside heartbeat
  front/lib/temporal.ts
  front/types/shared/utils/global_error_handler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Remove unused @types/papaparse devDependency (#33961)
  front/package.json
  package-lock.json
Due: package-lock-check, biome

[front] refactor: list the template-only create tool in the Frames v2 allowlist
  front/lib/api/actions/servers/interactive_content_v2/tools/index.test.ts
  front/lib/api/actions/servers/interactive_content_v2/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Record optimized dfs search indexing and cache benchmarks
  x/spolu/dfs/v1/PLAN-SEARCH.md
  x/spolu/dfs/v1/bench/SEARCH-RESULTS.md
  x/spolu/dfs/v1/bench/search-initial/run.json
Due: biome

Trigger: only allow trigger-estimation for trigger wher the user can read at least one view
  front-api/routes/w/[wId]/webhook_sources/[webhookSourceId]/trigger-estimation.test.ts
  front-api/routes/w/[wId]/webhook_sources/[webhookSourceId]/trigger-estimation.ts
Due: biome

feat(discover): show loading skeletons on Featured and Catalog tabs
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverHome.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Group membership: do not restore membership to provisioned groups
  front/lib/api/membership.test.ts
  front/lib/resources/group_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Route Salesforce attachment downloads through the egress proxy and validate the instance URL host (#33914)
  front/lib/api/actions/servers/salesforce/api_helper.ts
  front/types/oauth/lib.test.ts
  front/types/oauth/lib.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front][connectors] Replace fs-extra with node fs/promises
  connectors/package.json
  connectors/src/lib/temporal.ts
  front/lib/temporal.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front-api] Drop fs-extra from bundled deps allowlist
  front-api/scripts/check-bundled-deps.allowlist.json
Due: biome

[front] Parse instruction suggestion HTML in an inert document (#33965)
  front/lib/editor/instruction_blocks.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(discover): show loading skeletons on Featured and Catalog tabs (#33966)
  front/components/assistant/conversation/discover/DiscoverCatalog.tsx
  front/components/assistant/conversation/discover/DiscoverHome.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Group limits: record pool spend to the member's limit group (#33785)
  front/lib/api/assistant/credit_cost.test.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/api/assistant/rate_limits.ts
  front/lib/api/groups/group_limit_usage.test.ts
  front/lib/api/groups/group_limit_usage.ts
  front/lib/api/groups/limit_group.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/pre-deploy/20261001120000_add_limit_group_to_agent_messages.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Trigger: only allow trigger-estimation for trigger wher the user can read at least one view (#33968)
  front-api/routes/w/[wId]/webhook_sources/[webhookSourceId]/trigger-estimation.test.ts
  front-api/routes/w/[wId]/webhook_sources/[webhookSourceId]/trigger-estimation.ts
Due: biome

Triggers: only allow to create trigger on accessible views
  front-api/routes/w/[wId]/triggers/index.test.ts
  front-api/routes/w/[wId]/triggers/index.ts
  front/lib/resources/trigger_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove legacy Manage Agents/Skills pages (#33808)
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore(front-api): remove legacy raw content fragment upload
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/lib/file_storage/index.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front][connectors] Replace fs-extra with node fs/promises (#33969)
  connectors/package.json
  connectors/src/lib/temporal.ts
  front-api/scripts/check-bundled-deps.allowlist.json
  front/lib/temporal.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[front] chore: rename agent search page to management page
  front/components/pages/builder/agents/ManageAgentsPage.test.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/SearchAgentsPage.tsx
  front/components/poke/assistants/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: import management pages directly
  front-spa/src/app/routes/builderRoutes.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/skills/ManageSkillsPage.test.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.tsx
  front/components/poke/skills/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: keep agent page filenames during component rename
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/agents/SearchAgentsPage.tsx
  front/components/poke/assistants/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: restore suggested skills in management
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.tsx
  front/components/skills/SuggestedSkillsSection.tsx
  sparkle/src/stories/Card.stories.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(tools): agent-agnostic always-allow labels
  front/components/actions/blocked/toolValidationLabels.ts
  front/lib/actions/tool_approval_events.ts
  front/lib/actions/tool_approval_labels.test.ts
  front/lib/actions/tool_approval_labels.ts
  front/lib/resources/agent_mcp_action_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: simplify Manage page exports (#33959)
  front-spa/src/app/routes/builderRoutes.tsx
  front/components/pages/builder/agents/ManageAgentsPage.tsx
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/agents/SearchAgentsPage.tsx
  front/components/pages/builder/skills/ManageSkillsPage.test.tsx
  front/components/pages/builder/skills/ManageSkillsPage.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.tsx
  front/components/poke/assistants/table.tsx
  front/components/poke/skills/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] Fold Microsoft selectable checks into isSelectableInternalId
  connectors/src/connectors/microsoft/index.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] Reuse stored MCP OAuth metadata on Refresh
  front/components/actions/mcp/MCPServerSettings.test.tsx
  front/components/actions/mcp/forms/submitConnectMCPServerDialogForm.test.ts
  front/components/actions/mcp/forms/submitConnectMCPServerDialogForm.ts
  front/components/actions/mcp/forms/utils.test.ts
  front/components/actions/mcp/forms/utils.ts
  front/lib/api/oauth.ts
  front/lib/api/oauth/providers/mcp.test.ts
  front/lib/api/oauth/providers/mcp.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

batch fetch
  front-api/routes/w/[wId]/triggers/index.ts
Due: biome

add path check (#33972)
  front/lib/api/file_system/dust_file_system.test.ts
  front/lib/api/viz/edit_frame_text.test.ts
  front/lib/api/viz/edit_frame_text.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Public API and poke details serialize skills from AgentResource (#33787)
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/import.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/import.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/search.ts
  front/lib/api/assistant/configuration/helpers.ts
  front/lib/resources/agent_resource_serialization.test.ts
  front/lib/resources/agent_resource_serialization.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[connectors] fix: classify Snowflake MFA enrollment as authorization failure
  connectors/src/connectors/snowflake/temporal/cast_known_errors.test.ts
  connectors/src/connectors/snowflake/temporal/cast_known_errors.ts
Due: connectors-typecheck, biome, connectors-eslint

chore(front-api): remove legacy raw content fragment upload (#33967)
  front-api/routes/w/[wId]/assistant/conversations/[cId]/messages/[mId]/raw_content_fragment/index.ts
  front/lib/file_storage/index.ts
  front/tests/utils/mocks/file_storage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: move the Frames v2 template create tool metadata to metadata.ts
  front/lib/api/actions/servers/interactive_content_v2/metadata.ts
  front/lib/api/actions/servers/interactive_content_v2/tools/index.test.ts
  front/lib/api/actions/servers/interactive_content_v2/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Reuse workspace OAuth connection on Refresh for all providers
  front/components/actions/mcp/MCPServerSettings.test.tsx
  front/components/actions/mcp/forms/utils.test.ts
  front/components/actions/mcp/forms/utils.ts
  front/lib/api/oauth/mcp_server_connection_auth.ts
  front/lib/api/oauth/providers/confluence_tools.ts
  front/lib/api/oauth/providers/fathom.ts
  front/lib/api/oauth/providers/freshservice.ts
  front/lib/api/oauth/providers/github.ts
  front/lib/api/oauth/providers/gmail.ts
  front/lib/api/oauth/providers/gong.ts
  front/lib/api/oauth/providers/hubspot.ts
  front/lib/api/oauth/providers/jira.ts
  front/lib/api/oauth/providers/notion.ts
  front/lib/api/oauth/providers/productboard.ts
  front/lib/api/oauth/providers/salesforce.ts
  front/lib/api/oauth/providers/servicenow.ts
  front/lib/api/oauth/providers/shopify.test.ts
  front/lib/api/oauth/providers/shopify.ts
  front/lib/api/oauth/providers/slack_tools.ts
  front/lib/api/oauth/providers/ukg_ready.ts
  front/lib/api/oauth/providers/zendesk.test.ts
  front/lib/api/oauth/providers/zendesk.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
