Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Clarify functions.tar materialize paths and skip local tar copy
  cli/dust-sandbox/src/commands/function/archive.rs
Due: none

Drop cold-path resolve from functions.tar extract
  cli/dust-sandbox/src/commands/function/archive.rs
  cli/dust-sandbox/src/commands/function/envelope.rs
  cli/dust-sandbox/src/commands/function/run.rs
  front/lib/api/sandbox_functions/result_envelope.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Eagerly cache all functions.tar slugs before warm and cold
  cli/dust-sandbox/src/commands/function/archive.rs
  cli/dust-sandbox/src/commands/function/run.rs
  cli/dust-sandbox/src/commands/function/warm.rs
Due: none

Resolve Frame functions from publication functions.tar
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/function/archive.rs
  cli/dust-sandbox/src/commands/function/envelope.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/run.rs
  cli/dust-sandbox/src/commands/function/warm.rs
  front/lib/api/sandbox_functions/result_envelope.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Resolve Frame functions from publication functions.tar (#32566)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/function/archive.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/run.rs
  cli/dust-sandbox/src/commands/function/warm.rs
Due: none

Seed functions.tar into the frame sandbox after publish
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
  front/lib/api/frames/publication_storage.test.ts
  front/lib/api/frames/publication_storage.ts
  front/lib/api/frames/seed_functions_archive.test.ts
  front/lib/api/frames/seed_functions_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document that materialize-archive also fills the per-sha bundle cache
  cli/dust-sandbox/src/commands/function/mod.rs
  front/lib/api/frames/seed_functions_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update comment
  sparkle/src/components/markdown/CodeBlock.tsx
Due: biome

Seed functions.tar into the frame sandbox after publish (#32567)
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/mod.rs
  cli/dust-sandbox/src/main.rs
  front/lib/api/frames/publication_storage.test.ts
  front/lib/api/frames/publication_storage.ts
  front/lib/api/frames/seed_functions_archive.test.ts
  front/lib/api/frames/seed_functions_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove useless (and slow) check on publication.json for db presence.
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
  front/types/mount_path.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  sparkle/src/components/markdown/CodeBlock.tsx
Due: biome

Limit search usage refresh to active subscriptions
  front/temporal/es_indexation/activities.test.ts
  front/temporal/es_indexation/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove useless (and slow) check on publication.json for db presence. (#32568)
  cli/dust-sandbox/pod/db.ts
  cli/dust-sandbox/pod/index.test.ts
  front/types/mount_path.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove the deprecated model cancellation patch
  front/temporal/agent_loop/workflows.test.ts
  front/temporal/agent_loop/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

bump (#32559)
  .github/workflows/react-doctor.yml
Due: biome

remove state when ff is on
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/editor/extensions/skill_builder/KnowledgeNode.ts
  front/components/editor/extensions/skill_builder/KnowledgeNodeTypes.ts
  front/components/editor/input_bar/useCustomEditor.tsx
  front/components/editor/input_bar/useUrlHandler.tsx
  front/lib/mentions/format.test.ts
  front/lib/mentions/format.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

update agents.md
  front/lib/api/actions/servers/building_agents_and_skills/AGENTS.md
  front/scripts/seed/conversational_building/seed.test.ts
  front/scripts/seed/conversational_building/seed.ts
  front/scripts/seed/factories/seedSkillSuggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: Add dust-hive seed example for suggestions
  front/scripts/seed/README.md
  front/scripts/seed/conversational_building/README.md
  front/scripts/seed/conversational_building/assets/conversations.json
  front/scripts/seed/conversational_building/assets/skill_suggestions.json
  front/scripts/seed/conversational_building/assets/skills.json
  front/scripts/seed/conversational_building/assets/users.json
  front/scripts/seed/conversational_building/seed.test.ts
  front/scripts/seed/conversational_building/seed.ts
  front/scripts/seed/conversational_building/seedConversationalBuilding.ts
  front/scripts/seed/factories/seedConversations.ts
  front/scripts/seed/factories/seedSkillSuggestions.ts
  front/scripts/seed/factories/seedUsers.ts
  front/scripts/seed/factories/types.ts
  front/scripts/seed/reinforcement/seedReinforcement.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Remove builder role from tests, fixtures and completed migrations (1/2)
  front-api/middlewares/public_api_auth.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations/[sId]/index.test.ts
  front-api/routes/v1/w/[wId]/files/fileId.test.ts
  front-api/routes/v1/w/[wId]/skills/[skillId].test.ts
  front-api/routes/v1/w/[wId]/spaces/index.test.ts
  front-api/routes/v1/w/[wId]/triggers/[tId]/index.test.ts
  front-api/routes/v1/w/[wId]/triggers/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/feedbacks/[fId].test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/index.test.ts
  front-api/routes/w/[wId]/invitations/index.test.ts
  front-api/routes/w/[wId]/keys/index.test.ts
  front-api/routes/w/[wId]/members/[uId]/index.test.ts
  front-api/routes/w/[wId]/skills/[sId]/index.test.ts
  front-api/routes/w/[wId]/spaces/[spaceId]/members.test.ts
  front/lib/api/analytics/feedback_export.test.ts
  front/lib/api/assistant/configuration/helpers.test.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/key_resource.test.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/migrations/20260625_backfill_productboard_skill.ts
  front/migrations/20260721_backfill_builder_key_groups.ts
  front/migrations/20260721_backfill_builders_group.ts
  front/migrations/20260824_migrate_builder_role_to_user.ts
  front/migrations/20260825_migrate_builder_role_to_user.ts
  front/migrations/20260831_migrate_remaining_builder_role_to_user.ts
  front/migrations/20260911_migrate_key_builder_role_to_user.ts
  front/tests/utils/KeyFactory.ts
  front/tests/utils/generic_public_api_tests.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Do not auto-open the side panel in the extension
  extension/ui/components/conversation/ConversationContainer.tsx
  extension/ui/components/conversation/ConversationLayout.tsx
  front/components/assistant/conversation/useAutoOpenSidePanel.test.tsx
  front/components/assistant/conversation/useAutoOpenSidePanel.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove the deprecated model cancellation patch (#32632)
  front/temporal/agent_loop/workflows.test.ts
  front/temporal/agent_loop/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: fix code contracts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front/admin/audit_log_schemas/skill.editors_updated.json
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest_skill_editors.ts
  front/lib/api/audit/schema_versions.json
  front/lib/api/audit/workos_audit.ts
  front/lib/api/skills/apply_skill_suggestions.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): AgentResource.toJSON + enrichWith* config builders and schema recomposition
  front/lib/api/assistant/configuration/enrich.ts
  front/lib/resources/agent_resource.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add Siit remote MCP server
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  front/types/resources_icon_names.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
  sparkle/src/logo/platforms/Siit.tsx
  sparkle/src/logo/platforms/index.ts
  sparkle/src/logo/src/platforms/Siit.svg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[marketing] Launch the UK customer logo list
  marketing/lib/logo_bars.ts
Due: biome

[playground] Rework the Tool sheet's Tools & Stakes tab
  sparkle/playground/src/components/BuildDetailSheets.tsx
  sparkle/playground/src/data/build.ts
Due: biome

[marketing] Launch the US customer logo list
  marketing/lib/logo_bars.ts
Due: biome

Fold the attachment chip into FileCitationCard as a variant
  front/components/assistant/conversation/attachment/AttachmentChipCitation.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/CitationByVariant.tsx
  front/components/assistant/conversation/attachment/FileCitationCard.tsx
  front/components/assistant/conversation/attachment/PreviewableCitation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[marketing] Serve EU-27 the French logo list until EU has its own
  marketing/components/home/LogoListsContext.tsx
  marketing/lib/logo_bars.ts
Due: biome

Upgrade: new version of base image and dsbx.
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Conversational building: Add dust-hive seed example for suggestions (#32626)
  front/lib/api/actions/servers/building_agents_and_skills/AGENTS.md
  front/scripts/seed/README.md
  front/scripts/seed/conversational_building/README.md
  front/scripts/seed/conversational_building/assets/conversations.json
  front/scripts/seed/conversational_building/assets/skill_suggestions.json
  front/scripts/seed/conversational_building/assets/skills.json
  front/scripts/seed/conversational_building/assets/users.json
  front/scripts/seed/conversational_building/seed.test.ts
  front/scripts/seed/conversational_building/seed.ts
  front/scripts/seed/conversational_building/seedConversationalBuilding.ts
  front/scripts/seed/factories/seedConversations.ts
  front/scripts/seed/factories/seedSkillSuggestions.ts
  front/scripts/seed/factories/seedUsers.ts
  front/scripts/seed/factories/types.ts
  front/scripts/seed/reinforcement/seedReinforcement.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add skill usage snapshots (#32404)
  front/lib/api/elasticsearch.ts
  front/lib/skill_search/index.test.ts
  front/lib/skill_search/index.ts
  front/lib/skill_search/usage.test.ts
  front/lib/skill_search/usage.ts
  front/scripts/refresh_search_usage.ts
  front/temporal/es_indexation/activities.test.ts
  front/temporal/es_indexation/activities.ts
  front/temporal/es_indexation/client.ts
  front/temporal/es_indexation/workflows.test.ts
  front/temporal/es_indexation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: bootstrap search usage schedule
  front/temporal/admin/bootstrap_schedules.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Add density, column presets, empty/loading states and accessible sorting to DataTable
  sparkle/src/components/DataTable.tsx
  sparkle/src/components/DataTableSkeleton.tsx
  sparkle/src/components/index.ts
  sparkle/src/stories/DataTable.stories.tsx
Due: biome

Render the chip variant from a private component
  front/components/assistant/conversation/attachment/FileCitationCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: remove standalone search usage script
  front/scripts/refresh_search_usage.ts
  front/temporal/es_indexation/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[playground] Drop the Insight tab from the Tool sheet
  sparkle/playground/src/components/BuildDetailSheets.tsx
Due: biome

[front] fix: keep per-workspace search usage refresh script
  front/scripts/refresh_search_usage.ts
  front/temporal/es_indexation/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: drop inert supportedOAuthUseCases from the Siit entry
  front/lib/actions/mcp_internal_actions/remote_servers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Decide ZIP entry containment on the resolved path
  front/lib/api/files/folder_extract.test.ts
  front/lib/api/files/folder_extract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
