Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

front-prettier:
  tags: front
  run: npm run format:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-prettier:
  tags: connectors
  run: npm run format:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

fix: remove trailing space
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Stricter type check on custom models
  front/scripts/fetch-custom-models.ts
  front/types/assistant/models/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

add eslint rule
  eslint-plugin-dust/index.js
  eslint-plugin-dust/rules/no-mcp-server-instructions.js
  front/eslint.config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

remove custom comment rule
  eslint-plugin-dust/rules/no-mcp-server-instructions.js
Due: none

skip rule on non constant.ts file
  eslint-plugin-dust/rules/no-mcp-server-instructions.js
Due: none

add ignores
  front/lib/actions/mcp_internal_actions/constants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat(drive): add file creation (#20818)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/api/actions/servers/google_drive/helpers.ts
  front/lib/api/actions/servers/google_drive/index.ts
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/google_drive/tools/index.ts
  front/lib/providers/google_drive/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Copilot Skip Tool Validation
  front/components/agent_builder/CopilotPanelContext.tsx
  front/hooks/useCreateConversationWithMessage.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/api/internal/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Use isProjectConversation instead of checking spaceId. (#20823)
  front/components/assistant/conversation/MentionValidationRequired.tsx
  front/components/assistant/conversation/types.ts
  front/lib/api/actions/servers/project_context_management/helpers.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/api/assistant/jit/project_context_management.ts
  front/lib/api/assistant/jit/projects.ts
  front/lib/api/assistant/jit/utils.ts
  front/lib/swr/conversations.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix: only allow agents using global space or project's space in project.
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix: only allow agents using global space or project's space in project. (#20826)
  front/lib/api/assistant/conversation/mentions.test.ts
  front/lib/api/assistant/conversation/mentions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Skip tool validation on following messages
  front/components/agent_builder/AgentBuilderCopilot.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/types.ts
  front/hooks/useSubmitMessage.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/types/api/internal/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix update of requestedSpaceIds when deleting space (#20788)
  front/lib/api/spaces.test.ts
  front/lib/api/spaces.ts
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/[sId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

copilot: add log when agent switch from pending to active
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Stricter type check on custom models (#20837)
  front/scripts/fetch-custom-models.ts
  front/types/assistant/models/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Add eslint rule on tool-level instructions (#20838)
  eslint-plugin-dust/index.js
  eslint-plugin-dust/rules/no-mcp-server-instructions.js
  front/eslint.config.ts
  front/lib/actions/mcp_internal_actions/constants.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: upgrade tiptap
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/EmptyLineParagraphExtension.test.ts
  front/components/editor/extensions/EmptyLineParagraphExtension.ts
  front/components/editor/extensions/ListItemExtension.ts
  front/components/editor/extensions/OrderedListExtension.test.ts
  front/components/editor/extensions/OrderedListExtension.ts
  front/components/editor/extensions/agent_builder/InstructionBlockExtension.test.ts
  front/components/editor/extensions/tests/utils.ts
  front/components/editor/input_bar/useCustomEditor.test.ts
  front/components/editor/input_bar/useCustomEditor.tsx
  front/components/editor/tiptap.test.ts
  front/package.json
  package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[dev] Default route, cors (#20833)
  front-spa/package.json
  front-spa/src/app/App.tsx
  front-spa/vite.config.ts
  front/middleware.ts
  package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix suggestion patch check (#20836)
  front/lib/resources/agent_suggestion_resource.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Catch github bad credentials
  connectors/src/connectors/github/lib/github_code.ts
  connectors/src/connectors/github/temporal/activities/sync_code.ts
Due: connectors-typecheck, connectors-prettier, connectors-eslint

feat: upgrade tiptap (#20840)
  front/components/agent_builder/instructions/AgentBuilderInstructionsEditor.tsx
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/EmptyLineParagraphExtension.test.ts
  front/components/editor/extensions/EmptyLineParagraphExtension.ts
  front/components/editor/extensions/ListItemExtension.ts
  front/components/editor/extensions/OrderedListExtension.test.ts
  front/components/editor/extensions/OrderedListExtension.ts
  front/components/editor/extensions/agent_builder/InstructionBlockExtension.test.ts
  front/components/editor/extensions/tests/utils.ts
  front/components/editor/input_bar/useCustomEditor.test.ts
  front/components/editor/input_bar/useCustomEditor.tsx
  front/components/editor/tiptap.test.ts
  front/package.json
  package-lock.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[connectors] fix(github): Catch github bad credentials (#20841)
  connectors/src/connectors/github/lib/github_code.ts
  connectors/src/connectors/github/temporal/activities/sync_code.ts
Due: connectors-typecheck, connectors-prettier, connectors-eslint

feat: update novu/js
  front/package.json
  package-lock.json
Due: front-prettier

Fix circular dependency in checkWorkspaceActivity
  front/lib/resources/subscription_resource.ts
  front/lib/workspace_usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

chore(mcp): move slab to new architecture (#20821)
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/mcp_internal_actions/servers/slab/index.ts
  front/lib/api/actions/servers/slab/client.ts
  front/lib/api/actions/servers/slab/helpers.ts
  front/lib/api/actions/servers/slab/index.ts
  front/lib/api/actions/servers/slab/metadata.ts
  front/lib/api/actions/servers/slab/tools/index.ts
  front/lib/api/actions/servers/slab/types.ts
  front/lib/api/actions/servers/slab/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Join public projects and leave any project
  front/lib/api/assistant/configuration/agent.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation/mentions.ts
  front/lib/api/spaces.ts
  front/lib/resources/group_resource.ts
  front/lib/resources/group_space_resource.ts
  front/lib/resources/mcp_server_view_resource.test.ts
  front/lib/resources/space_resource.test.ts
  front/lib/resources/space_resource.ts
  front/migrations/20250428_backfill_editor_groups.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/skills/[sId]/editors.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/mcp_views/[svId]/index.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/webhook_source_views/[webhookSourceViewId]/index.test.ts
  front/scripts/seed/factories/seedSpace.ts
  front/scripts/unrevoke_group_memberships.ts
  front/temporal/workos_events_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, front-prettier, front-eslint

Split and add space pages
  front-spa/src/app/App.tsx
  front-spa/vite.config.ts
  front/components/pages/spaces/DataSourceViewPage.tsx
  front/components/pages/spaces/SpaceActionsPage.tsx
  front/components/pages/spaces/SpaceAppsListPage.tsx
  front/components/pages/spaces/SpaceCategoryPage.tsx
  front/components/pages/spaces/SpacePage.tsx
  front/components/pages/spaces/SpaceTriggersPage.tsx
  front/components/pages/spaces/SpacesRedirectPage.tsx
  front/components/pages/spaces/apps/AppSettingsPage.tsx
  front/components/pages/spaces/apps/AppSpecificationPage.tsx
  front/components/pages/spaces/apps/AppViewPage.tsx
  front/components/pages/spaces/apps/DatasetPage.tsx
  front/components/pages/spaces/apps/DatasetsPage.tsx
  front/components/pages/spaces/apps/NewDatasetPage.tsx
  front/components/pages/spaces/apps/RunPage.tsx
  front/components/pages/spaces/apps/RunsPage.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/[name]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/datasets/new.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/[runId]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/runs/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/settings.tsx
  front/pages/w/[wId]/spaces/[spaceId]/apps/[aId]/specification.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/data_source_views/[dataSourceViewId].tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/[category]/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/actions/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/apps/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/categories/triggers/index.tsx
  front/pages/w/[wId]/spaces/[spaceId]/index.tsx
  front/pages/w/[wId]/spaces/index.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

copilot: add log when agent switch from pending to active (#20822)
  front/lib/api/assistant/configuration/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

👕
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

refactor(sdks/js): migrate from ESLint to Biome for linting
  sdks/js/biome.json
  sdks/js/eslint.config.mjs
  sdks/js/package.json
  sdks/js/src/index.ts
Due: none

Introduce organization_primitives to break dependency cycle
  front/lib/api/poke/plugins/workspaces/manage_authorized_domains.ts
  front/lib/api/workos/organization.ts
  front/lib/api/workos/organization_primitives.ts
  front/lib/resources/workspace_resource.test.ts
  front/lib/resources/workspace_resource.ts
  front/migrations/20250929_drop_domain.ts
  front/pages/api/w/[wId]/domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Copilot Skip Tool Validation (#20839)
  front/components/agent_builder/AgentBuilderCopilot.tsx
  front/components/agent_builder/CopilotPanelContext.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/types.ts
  front/hooks/useCreateConversationWithMessage.ts
  front/hooks/useSubmitMessage.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/api/internal/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: migrate agent_messages to add prunedContext flag
  front/migrations/db/migration_497.sql
Due: none

feat: update model
  front/lib/models/agent/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: persist prunedContext flag in agent message
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: display chip during streaming as soon as it is set
  front/components/assistant/conversation/AgentMessage.tsx
  front/hooks/useAgentMessageStream.ts
  front/hooks/useAgentMessageStreamLegacy.ts
  front/lib/api/assistant/streaming/events.ts
  front/lib/api/assistant/streaming/types.ts
  front/temporal/agent_loop/lib/run_model.ts
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: return flag if last tool result is pruned
  front/lib/api/assistant/conversation_rendering/index.ts
  front/lib/api/assistant/conversation_rendering/pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: display chip in conversation if agent message has pruned flag
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/api/assistant/citations.ts
  front/lib/api/assistant/messages.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Path conditions:
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  front-prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml} and ^front/
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-prettier: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml} and ^connectors/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
