Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Notes added by 'git notes add'
  a0/8c5a4ac6e23cbe49658086140d0a95bc93bc63
Due: none

Notes added by 'git notes add'
  df/9b9029d705f342744beef7b24c0086cbaea61d
Due: none

Notes added by 'git notes add'
  e2/a07a5d3b5216df61bb7f49f4ee6a85b58da913
Due: none

Notes added by 'git notes add'
  d4/a4c6c8b7e8d33fd5ef3eafd63f5c2cc111bc1b
Due: none

tie in typing tool name and server name
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/tool_definition.ts
  front/lib/actions/types/guards.ts
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/run_dust_app/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add richer output for cat
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

display reinforcement conversations related to one skill in poke (#23965)
  front/components/poke/conversation/reinforcement_skills_table.tsx
  front/components/poke/pages/SkillDetailsPage.tsx
  front/lib/reinforced_agent/tool_execution.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/types.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
  front/pages/api/poke/workspaces/[wId]/conversations/index.ts
  front/poke/swr/conversation.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(inlinesteps): use AgentMessageMarkdown for content in inline steps
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front] feat(assistant): add public answer-question endpoint and allow slack origin for ask_user_question
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
  front/public/swagger.json
  front/temporal/agent_loop/lib/run_model.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[Connectors] feat(slack): add ask_user_question ephemeral block and event handler
  connectors/src/connectors/slack/chat/blocks.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

[Connectors] feat(slack): add webhook handler and botAnswerUserQuestion for user question answers
  connectors/src/api/webhooks/webhook_slack_bot_interaction.ts
  connectors/src/connectors/slack/bot.ts
Due: connectors-typecheck, biome, connectors-eslint

add test file
  front/lib/actions/types/guards.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

hardcode billing cycle 3am
  front/temporal/usage_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add dust-hive seed data for reinforced skills
  front/scripts/seed/README.md
  front/scripts/seed/reinforced-agents/assets/dust-conversations.json
  front/scripts/seed/reinforced-agents/assets/feedbacks.json
  front/scripts/seed/reinforced-agents/assets/skill.json
  front/scripts/seed/reinforced-agents/seed.test.ts
  front/scripts/seed/reinforced-agents/seed.ts
  front/scripts/seed/reinforced-agents/seedReinforcedAgents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Connectors] feat(slack): implement ask_user_question tool support on Slack bot (#23966)
  connectors/src/api/webhooks/webhook_slack_bot_interaction.ts
  connectors/src/connectors/slack/bot.ts
  connectors/src/connectors/slack/chat/blocks.ts
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
  front/public/swagger.json
  front/temporal/agent_loop/lib/run_model.ts
  sdks/js/src/index.ts
  sdks/js/src/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

[Remote MCP] Add Amplitude remote MCP (#23968)
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/remote_servers.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
  sparkle/src/logo/platforms/Amplitude.tsx
  sparkle/src/logo/platforms/index.ts
  sparkle/src/logo/src/platforms/Amplitude.svg
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Send gauge events only on billing day (#23964)
  front/temporal/usage_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat(contact): make phone number field mandatory in contact form (#23896)
  front/components/home/ContactForm.tsx
  front/lib/api/hubspot/contactFormSchema.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

enrich label for github
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add model-generated labels for dynamic descriptions
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/data_warehouses/metadata.ts
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/lib/api/actions/servers/run_agent/metadata.ts
  front/lib/api/actions/servers/sandbox/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

address comments
  front/lib/actions/tool_display_labels.ts
  front/types/shared/utils/general.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add dust-hive seed data for reinforced skills (#23972)
  front/scripts/seed/README.md
  front/scripts/seed/reinforced-agents/assets/dust-conversations.json
  front/scripts/seed/reinforced-agents/assets/feedbacks.json
  front/scripts/seed/reinforced-agents/assets/skill.json
  front/scripts/seed/reinforced-agents/seed.test.ts
  front/scripts/seed/reinforced-agents/seed.ts
  front/scripts/seed/reinforced-agents/seedReinforcedAgents.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add sessions_branching feature flag
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refine cat output
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(api): allow marking conversation as unread
  front/lib/resources/conversation_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

refine description description
  front/lib/api/actions/servers/data_warehouses/metadata.ts
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/lib/api/actions/servers/run_agent/metadata.ts
  front/lib/api/actions/servers/sandbox/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Tool Calls] Match pending side panel to running tool UX
  front/components/assistant/conversation/actions/AgentMessageActions.tsx
  front/components/assistant/conversation/actions/PanelAgentStep.tsx
  front/components/assistant/conversation/actions/PendingToolCallDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/tool_definition.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: upgrade temporal to latest version
  connectors/package.json
  connectors/src/connectors/confluence/temporal/workflows.ts
  connectors/src/connectors/gong/temporal/workflows.ts
  connectors/src/connectors/google_drive/temporal/workflows.ts
  connectors/src/connectors/intercom/temporal/workflows.ts
  connectors/src/connectors/microsoft/temporal/workflows.ts
  connectors/src/connectors/notion/temporal/workflows/admins.ts
  connectors/src/connectors/notion/temporal/workflows/children.ts
  connectors/src/connectors/notion/temporal/workflows/upserts.ts
  connectors/src/connectors/slack/temporal/workflows.ts
  connectors/src/connectors/zendesk/temporal/workflows.ts
  front/package.json
  front/temporal/relocation/workflows.ts
  front/workers-build/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

[sessions] allow to start a conversation without text content (#23914)
  front/components/assistant/conversation/UserMessage.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/index.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/api/internal/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refine description
  front/lib/api/actions/servers/data_warehouses/metadata.ts
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/lib/api/actions/servers/run_agent/metadata.ts
  front/lib/api/actions/servers/sandbox/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix gh and google drive
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix typeguard
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(api): allow marking conversation as unread (#23975)
  front/lib/resources/conversation_resource.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/public/swagger.json
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

improve typeguard
  front/types/shared/utils/general.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove legacy tool_error shim for tool_personal_auth_required
  front/temporal/agent_loop/activities/publish_deferred_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/actions/tool_display_labels.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(migrations): apply stashed changes after switching back to branch
  connectors/create_db_migration_file.sh
  front/create_db_migration_file.sh
Due: none

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
