Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[ci] Main breakage notifier: log a stale listing as info, not a warning
  .github/actions/main-breakage/main-breakage.ts
Due: biome

[ci] Main breakage notifier: drop the stale listing log line
  .github/actions/main-breakage/main-breakage.ts
Due: biome

Add filterChip on CommandPalette
  .cursor/cli-config.json
  front/components/command_palette/CommandPaletteSearchPhase.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: list attached files when describing a skill
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/reinforcement/format_skill_context.ts
  front/tests/utils/SkillFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: apply remove file suggestion
  front/components/assistant/details/SuggestionPreviewContext.tsx
  front/components/markdown/suggestion/suggestion_order.ts
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
  front/components/skill_builder/SkillBuilderSuggestionsPanel.tsx
  front/components/skill_builder/SkillSuggestionCard.tsx
  front/lib/api/actions/servers/building_agents_and_skills/skill_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/skills/apply_skill_suggestions.ts
  front/lib/api/skills/suggestion_authorization.ts
  front/lib/editor/merge_skill_suggestion_edits.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
  front/scripts/seed/reinforcement/seed.test.ts
  front/types/suggestions/skill_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: preview suggestion to remove file from skill
  front/components/assistant/details/SuggestionPreviewContext.test.ts
  front/components/assistant/details/SuggestionPreviewContext.tsx
  front/components/skill_builder/SkillSuggestionCard.tsx
  front/components/skill_builder/SuggestedSkillFiles.tsx
  front/components/skills/SkillInfoTab.tsx
  front/lib/editor/preview_skill_suggestions.test.ts
  front/lib/editor/preview_skill_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: create suggestion to remove file
  front/components/assistant/details/SuggestionPreviewContext.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/metadata.ts
  front/lib/api/actions/servers/building_agents_and_skills/skill_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/index.test.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/skills/apply_skill_suggestions.ts
  front/lib/editor/preview_skill_suggestions.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/types/suggestions/skill_suggestion.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ci] Main breakage notifier: refetch run listings that miss the current run (#33673)
  .github/actions/main-breakage/main-breakage.test.ts
  .github/actions/main-breakage/main-breakage.ts
Due: biome

feat: apply suggestion to add file to skill
  front-api/routes/v1/w/[wId]/files/index.ts
  front-api/routes/w/[wId]/files/index.ts
  front/lib/api/actions/servers/building_agents_and_skills/skill_suggestion_changes.ts
  front/lib/api/actions/servers/building_agents_and_skills/tools/suggest.ts
  front/lib/api/assistant/apply_batch_suggestions.test.ts
  front/lib/api/files/upload.ts
  front/lib/api/skills/apply_skill_suggestions.ts
  front/lib/editor/merge_skill_suggestion_edits.ts
  front/lib/reinforcement/skill_suggestion_pruning.test.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: display suggestion to ad file to skill
  front/components/skill_builder/SuggestedSkillFiles.tsx
  front/lib/editor/preview_skill_suggestions.test.ts
  front/lib/editor/preview_skill_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add filterChip on CommandPalette (#33795)
  .cursor/cli-config.json
  front/components/command_palette/CommandPaletteSearchPhase.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add frerency based list of items in command palette
  front/components/command_palette/CommandPalette.tsx
  front/components/command_palette/CommandPaletteItems.tsx
  front/components/command_palette/CommandPaletteSearchPhase.tsx
  front/components/command_palette/useCommandPaletteSearch.ts
  front/hooks/useFrerencySorting.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Isolate command palette frecency storage per workspace
  front/components/sparkle/AppContentLayout.tsx
  front/hooks/useFrerencySorting.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(homepage): branch on use case requirements with an exhaustive switch
  front/lib/api/homepage_use_cases/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: add read-only prop to manage skills/agents (#33827)
  front/components/assistant/manager/AgentFilterPanel.tsx
  front/components/assistant/manager/AgentSearchTable.tsx
  front/components/pages/builder/agents/SearchAgentsPage.tsx
  front/components/pages/builder/skills/SearchSkillsPage.tsx
  front/components/shared/filter_panel/searchFilterHash.ts
  front/components/skills/SkillFilterPanel.tsx
  front/components/skills/SkillSearchTable.tsx
  front/hooks/useSearchAgents.ts
  front/lib/swr/skill_configurations.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Share one outdate helper between agent and skill suggestion pruning
  front/lib/api/assistant/agent_suggestion_pruning.ts
  front/lib/reinforcement/skill_suggestion_pruning.ts
  front/lib/resources/batch_suggestion_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

wip
  .claude/skills/dust-i18n/SKILL.md
  .github/workflows/build-sparkle.yml
  biome.json
  front-spa/vite.config.ts
  front/lib/i18n/sparkle.test.tsx
  front/locales/en-US/messages.po
  front/locales/fr-FR/messages.po
  front/vite.config.mjs
  lingui.config.ts
  package-lock.json
  sparkle/.babelrc.json
  sparkle/.storybook/main.ts
  sparkle/babel.config.json
  sparkle/lingui.config.ts
  sparkle/package.json
  sparkle/scripts/check-i18n-dist.mjs
  sparkle/src/components/LoadMore.tsx
  sparkle/src/components/Pagination.tsx
  sparkle/src/components/Spinner.tsx
  sparkle/src/lib/i18n.tsx
  sparkle/tests/i18n/fallback.test.tsx
  sparkle/tsconfig.json
  sparkle/vitest.unit.config.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Share the sidekick target-agent lookup and suggestion directive helpers
  front/lib/api/actions/servers/agent_sidekick_agent_state/agent_sidekick_agent_state.test.ts
  front/lib/api/actions/servers/agent_sidekick_agent_state/tools/index.ts
  front/lib/api/actions/servers/agent_sidekick_context/agent_sidekick_context.test.ts
  front/lib/api/actions/servers/agent_sidekick_context/tools/index.ts
  front/lib/api/actions/servers/agent_sidekick_helpers.ts
  front/lib/api/assistant/builder/sidekick_prompts.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: reuse manage search views in Poke
  front/components/pages/builder/agents/SearchAgentsPage.test.tsx
  front/components/pages/builder/skills/SearchSkillsPage.test.tsx
  front/components/poke/assistants/columns.tsx
  front/components/poke/assistants/table.tsx
  front/components/poke/pages/WorkspacePage.tsx
  front/components/poke/skills/table.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add frerency based list of items in command palette (#33796)
  front/components/command_palette/CommandPalette.tsx
  front/components/command_palette/CommandPaletteItems.tsx
  front/components/command_palette/CommandPaletteSearchPhase.tsx
  front/components/command_palette/useCommandPaletteSearch.ts
  front/components/sparkle/AppContentLayout.tsx
  front/hooks/useFrerencySorting.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Esc first clear the search, then close the dialog.
  front/components/command_palette/CommandPalette.tsx
  front/components/command_palette/CommandPaletteSearchPhase.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(conversational-building): add sub-agent ref eval (#33816)
  front/tests/conversational-building-evals/lib/assertions.ts
  front/tests/conversational-building-evals/lib/types.ts
  front/tests/conversational-building-evals/test-suites/index.ts
  front/tests/conversational-building-evals/test-suites/sub-agent-refs.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(conversational-building): add agent skill ref eval
  front/tests/conversational-building-evals/lib/assertions.ts
  front/tests/conversational-building-evals/lib/types.ts
  front/tests/conversational-building-evals/test-suites/agent-skill-refs.ts
  front/tests/conversational-building-evals/test-suites/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

security: restrict Freshservice OAuth token endpoint to Freshworks domains
  core/src/oauth/providers/freshservice.rs
Due: none

[front] Delete views.ts: agent views resolve via AgentResource.listForView
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/assistant/agent_grants.test.ts
  front/lib/api/assistant/configuration/views.ts
  front/lib/resources/agent_resource.ts
  front/lib/resources/agent_resource.views.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent views live in lib/api/assistant/agent_views, not on AgentResource
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/assistant/agent_grants.test.ts
  front/lib/api/assistant/agent_views.test.ts
  front/lib/api/assistant/agent_views.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] toLightAgentConfiguration accepts every toLightAgentConfigurations option
  front/lib/resources/agent_resource_serialization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] v1 agent list keeps the legacy empty actions/instructionsHtml; reattach agent view contracts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front/lib/api/assistant/agent_views.ts
  front/lib/api/v1/backward_compatibility.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent views review fixes: favorites keep default global agents in default order, isUser check, visible scope in SQL, internal list limits before serializing
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/assistant/agent_views.test.ts
  front/lib/api/assistant/agent_views.ts
  front/lib/resources/agent_resource_serialization.ts
  front/lib/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent views resolve through AgentResource
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front/lib/api/actions/servers/poke/tools/agents.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/assistant/configuration/types.ts
  front/lib/api/assistant/configuration/views.ts
  front/lib/resources/agent_resource_serialization.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] v1 agent list keeps global agents' code-defined skills
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
Due: biome

fixup: use accurate error message for JoinError case
  core/src/sqlite_workers/sqlite_database.rs
Due: none

[front] Remove unused agent and skill builder form contexts
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderFormContext.tsx
  front/components/skill_builder/SkillBuilder.tsx
  front/components/skill_builder/SkillBuilderFormContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] narrow no-hardcoded-en-us-in-ui to the literal ban
  front/CONTRACTS
Due: none

feat(homepage): add Dust changelog and build-agent use cases (#33823)
  front-api/routes/w/[wId]/assistant/homepage_use_cases/index.test.ts
  front/lib/api/homepage_use_cases/index.ts
  front/lib/api/homepage_use_cases/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Agent views resolve through AgentResource; delete views.ts (#33661)
  front-api/routes/poke/workspaces/[wId]/agent_configurations/index.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.test.ts
  front-api/routes/v1/w/[wId]/assistant/agent_configurations.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/index.ts
  front/lib/api/actions/servers/poke/tools/agents.ts
  front/lib/api/actions/servers/workspace_management/tools/list_agents.ts
  front/lib/api/assistant/agent_grants.test.ts
  front/lib/api/assistant/agent_views.test.ts
  front/lib/api/assistant/agent_views.ts
  front/lib/api/assistant/configuration/types.ts
  front/lib/api/assistant/configuration/views.ts
  front/lib/api/v1/backward_compatibility.ts
  front/lib/resources/agent_resource_serialization.ts
  front/lib/utils.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Trigger-limit message and mention approval use toLightAgentConfiguration
  front/lib/api/assistant/conversation/trigger_limit_exceeded.ts
  front/lib/api/assistant/conversation/validate_agent_mention.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Mention helpers take the AgentResource: resolveModel(ForMentionedAgent), isAgentRestrictedBySpaceUsage, canAgentBeUsedInProjectConversation
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/messages.test.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation/permissions.test.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/api/assistant/conversation/trigger_limit_exceeded.ts
  front/lib/api/assistant/conversation/validate_actions.test.ts
  front/lib/api/assistant/conversation/validate_agent_mention.ts
  front/lib/api/assistant/models.test.ts
  front/lib/api/assistant/resolve_model.ts
  front/temporal/triggers/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Prefer a skill over an instructions-only sub-agent in build guidance
  front/lib/api/assistant/global_agents/configurations/dust/agent_suggestions_shared.ts
  front/lib/resources/skill/code_defined/global/conversational_building.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Mention helpers take the AgentResource (#33725)
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/messages.test.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation/permissions.test.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/api/assistant/conversation/trigger_limit_exceeded.ts
  front/lib/api/assistant/conversation/validate_actions.test.ts
  front/lib/api/assistant/conversation/validate_agent_mention.ts
  front/lib/api/assistant/models.test.ts
  front/lib/api/assistant/resolve_model.ts
  front/temporal/triggers/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
