Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Have copilot suggest Haiku for simple agents (#22490)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/instructions/utils.ts
  front/components/agent_builder/transformAgentConfiguration.ts
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/types/assistant/models/anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Centralize LLM observability by capturing actual request payloads (#22467)
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/fireworks/index.ts
  front/lib/api/llm/clients/google/index.ts
  front/lib/api/llm/clients/mistral/index.ts
  front/lib/api/llm/clients/noop/index.ts
  front/lib/api/llm/clients/openai/index.ts
  front/lib/api/llm/clients/xai/index.ts
  front/lib/api/llm/llm.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Reenable datadog logger
  front-spa/src/app/main.tsx
  front-spa/src/lib/initDatadog.ts
  front/global.d.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add projects route in extension (#22497)
  extension/ui/components/conversation/ConversationLayout.tsx
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/ProjectMainPage.tsx
  extension/ui/pages/routes.tsx
Due: biome

[spa] Reenable datadog logger (#22474)
  front-spa/src/app/main.tsx
  front-spa/src/lib/initDatadog.ts
  front/global.d.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: improve docker built time for front
  dockerfiles/front.Dockerfile
  front/next.config.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: invalidate status page poke plugin
  front/lib/api/poke/plugins/global/invalidate_statuspage_cache.ts
  front/lib/api/status/index.ts
  front/pages/api/app-status.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add RootLayout in frontapp extension + fix auth
  extension/platforms/front/main.tsx
  extension/platforms/front/services/auth.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

com
  connectors/src/connectors/zendesk/lib/types.ts
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
  front/lib/api/actions/servers/zendesk/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Detect missinh HTML instructions and log a client error
  front/components/agent_builder/copilot/tools/getAgentConfig.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Formatting
  front/components/agent_builder/copilot/tools/getAgentConfig.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fixed token refresh
  extension/shared/lib/swr.ts
  extension/ui/components/auth/useAuth.ts
Due: biome

refactor copilot suggestion context
  front/components/agent_builder/copilot/CopilotSuggestionsContext.tsx
  front/components/agent_builder/copilot/SuggestionBubbleMenu.tsx
  front/components/markdown/suggestion/CopilotSuggestionCard.tsx
  front/lib/swr/agent_suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "[POKE] Invalidate statuspage incidents (#22462)"
  front/lib/api/poke/plugins/global/index.ts
  front/lib/api/poke/plugins/global/invalidate_statuspage_cache.ts
  front/lib/api/status/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: do not expose firecrawl
  front/lib/utils/webbrowse.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add handling of branches in getConversation() (#22461)
  .vscode/settings.json
  biome.json
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/conversation/helper.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/models/agent/conversation_branch.ts
  front/lib/resources/conversation_branch_resource.test.ts
  front/lib/resources/conversation_branch_resource.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/string_ids.ts
  front/migrations/db/migration_528.sql
  front/types/assistant/conversation.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: be less strict on content types
  front/lib/utils/webbrowse.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle branch creation when sending message.
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/messages.test.ts
  front/lib/api/assistant/conversation/messages.ts
  front/lib/api/assistant/conversation/permissions.ts
  front/lib/resources/conversation_branch_resource.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Front+Connectors] refactor(slack): clarify whitelist-bot plugins and remove unused groupIds from index_messages
  connectors/src/connectors/slack/lib/cli.ts
  front/lib/api/poke/plugins/data_sources/slack_whitelist_bot.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Fix issue causing text to remain readonly after Accept All
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.test.ts
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[ON CALL] Check content type before scrapping (#22500)
  front/lib/utils/webbrowse.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use React.Strict and stop using v1/auth endpoints
  extension/platforms/chrome/background.ts
  extension/platforms/front/FrontApp.tsx
  extension/platforms/front/main.tsx
  extension/platforms/front/services/auth.ts
  front/pages/api/workos/[action].ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add document ID fallback
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Detect missing HTML instructions and log a client error (#22504)
  front/components/agent_builder/copilot/tools/getAgentConfig.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

nit
  connectors/src/connectors/zendesk/lib/types.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
  front/lib/api/actions/servers/zendesk/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

refactor: move butler code in dedicated directory (#22454)
  front/lib/butler/accept_suggestion.ts
  front/lib/butler/suggest_rename_title.test.ts
  front/lib/butler/suggest_rename_title.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/butler_suggestions/[sId].ts
  front/temporal/butler/activities.test.ts
  front/temporal/butler/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[MCP Zendesk] add ticket tags update tool (#22496)
  connectors/src/connectors/zendesk/lib/types.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/zendesk/client.ts
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
  front/lib/api/actions/servers/zendesk/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

Simpler fix
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add document ID fallback (#22508)
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/data_sources/[dsId]/documents/[documentId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat: add throttling for rename_title butler suggestions
  front/lib/butler/suggest_rename_title.test.ts
  front/lib/butler/suggest_rename_title.ts
  front/lib/resources/conversation_butler_suggestion_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Restore the .every(Boolean) logic
  front/components/editor/extensions/agent_builder/InstructionSuggestionExtension.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add columns to Sequelize model
  front/lib/models/skill.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add migration script
  front/lib/models/skill.ts
  front/migrations/db/migration_528.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: update title with redis
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/title.ts
  front/lib/butler/accept_suggestion.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor: update title with redis (#22483)
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/title.ts
  front/lib/butler/accept_suggestion.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add throttling for rename_title butler suggestions (#22486)
  front/lib/butler/suggest_rename_title.test.ts
  front/lib/butler/suggest_rename_title.ts
  front/lib/resources/conversation_butler_suggestion_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add sources in enpdpoints/resource
  front/lib/models/skill.ts
  front/lib/resources/skill/skill_resource.ts
  front/pages/api/w/[wId]/skills/index.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(poke): cache tool v2
  front/components/poke/pages/CacheLookupPage.tsx
  front/pages/api/poke/cache.ts
  front/poke/swr/cache.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use Anthropic Automatic Cache
  front/lib/api/llm/clients/anthropic/index.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add backfill script
  front/migrations/db/migration_529.sql
Due: none

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
