Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Address PR comments
  front/components/data_source/gong/GongOptionComponent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep new syncs text on different line
  front/components/data_source/gong/GongOptionComponent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: block domains
  front/lib/utils/blacklisted_email_domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: block domains (#22294)
  front/lib/utils/blacklisted_email_domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "feat: block domains (#22294)"
  front/lib/utils/blacklisted_email_domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Revert "feat: block domains (#22294)" (#22295)
  front/lib/utils/blacklisted_email_domains.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Allow user to track key words for exclusion in Gong transcript syncs (#22286)
  front/components/data_source/gong/GongOptionComponent.tsx
  front/pages/api/w/[wId]/data_sources/[dsId]/managed/config/[key]/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

rm include field
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/actions/servers/zendesk/rendering.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
  front/lib/providers/zendesk/search.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix unstable reference
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderCopilot.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Automatically populate name suggestions
  front/components/agent_builder/settings/AgentBuilderNameSection.tsx
  front/components/agent_builder/settings/AgentBuilderSettingsBlock.tsx
  front/lib/api/assistant/suggestions/name.ts
  front/pages/api/w/[wId]/assistant/builder/suggestions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

include optional field cleaner but with enum in zod
  connectors/src/connectors/zendesk/lib/types.ts
  front/lib/api/actions/servers/zendesk/metadata.ts
  front/lib/api/actions/servers/zendesk/rendering.ts
  front/lib/api/actions/servers/zendesk/tools/index.ts
  front/lib/api/actions/servers/zendesk/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, connectors-typecheck, biome, front-eslint, connectors-eslint

fix unstable reference (#22293)
  front/components/agent_builder/AgentBuilder.tsx
  front/components/agent_builder/AgentBuilderCopilot.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

format
  front/lib/api/skills/github_detection/detect_skills.ts
  front/lib/api/skills/github_detection/parsing.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add debug script
  front/scripts/detect_github_skills.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add github parsing
  front/lib/api/skills/github_detection/detect_skills.ts
  front/lib/api/skills/github_detection/parsing.ts
  front/lib/api/skills/github_detection/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleanup imports and response validation
  front/lib/api/skills/github_detection/detect_skills.ts
  front/lib/api/skills/github_detection/parsing.ts
  front/lib/api/skills/github_detection/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix patch to delete secret
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add MAX_NAME_LENGTH
  front/pages/api/w/[wId]/mcp/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add shrink wrap prompt
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/shrink-wrap.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add shrink wrap prompt (#22298)
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/pages/api/w/[wId]/assistant/builder/copilot/prompt/shrink-wrap.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] test: add test on MCP server credentials encryption (#22268)
  front/lib/resources/internal_mcp_server_in_memory_resource.ts
  front/pages/api/w/[wId]/mcp/index.test.ts
  front/pages/api/w/[wId]/mcp/index.ts
  front/vite.globalSetup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix flickering
  front/components/data_source/gong/GongOptionComponent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Disable slideshow navigation on mouse move
  viz/components/dust/slideshow/v2/index.tsx
Due: biome

add documentationURL
  front/lib/api/actions/servers/ashby/metadata.ts
  front/lib/api/actions/servers/front/metadata.ts
  front/lib/api/actions/servers/salesloft/metadata.ts
  front/lib/api/actions/servers/slab/metadata.ts
  front/lib/api/actions/servers/statuspage/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Disable slideshow navigation on mouse move (#22300)
  viz/components/dust/slideshow/v2/index.tsx
Due: biome

Address comments from review
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add comment
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use clientFetch to resolve baseurl
  extension/platforms/chrome/ChromeApp.tsx
  extension/platforms/front/main.tsx
  extension/shared/lib/ExtensionFetcherProvider.tsx
Due: biome

fix: test
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/llm_events/empty_tool_call.ts
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/llm_events/reasoning.ts
  front/lib/api/llm/clients/anthropic/utils/test/fixtures/llm_events/tool_use.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: count reasoning tokens
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: log message
  front/lib/api/llm/clients/anthropic/utils/anthropic_to_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add feature flag around reasoning token counting
  front/lib/api/llm/clients/anthropic/index.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add support for TalentD .items file
  connectors/src/connectors/github/lib/code/supported_files.ts
Due: connectors-typecheck, biome, connectors-eslint

Chrome extension client-side MCP service
  extension/platforms/chrome/services/core_platform.ts
  extension/platforms/chrome/services/mcp.ts
  extension/platforms/chrome/tools/index.ts
  extension/ui/pages/MainPage.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add a first simple client-side MCP tool
  extension/platforms/chrome/tools/getCurrentPageTool.ts
  extension/platforms/chrome/tools/index.ts
  front/components/assistant/conversation/ConversationContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/ConversationViewer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: package lock
  lefthook.yml
  package-lock.json
  package.json
Due: biome

add documentationURL (#22301)
  front/lib/api/actions/servers/ashby/metadata.ts
  front/lib/api/actions/servers/front/metadata.ts
  front/lib/api/actions/servers/salesloft/metadata.ts
  front/lib/api/actions/servers/slab/metadata.ts
  front/lib/api/actions/servers/statuspage/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

revert useMcpServer
  extension/shared/hooks/useMcpServer.ts
Due: biome

Add support for TalentD .items file (#22302)
  connectors/src/connectors/github/lib/code/supported_files.ts
Due: connectors-typecheck, biome, connectors-eslint
