Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

[sandbox,front] phase 1 slice 4.5: operator MITM kill switch
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/forward/mod.rs
  front/lib/api/config.ts
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/resources/sandbox_resource.ts
  front/scripts/engage_egress_kill_switch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Parallelize Google Drive sheet parent updates
  connectors/src/connectors/google_drive/lib.ts
Due: connectors-typecheck, biome, connectors-eslint

[sandbox] drop slice-numbered comments from egress code
  cli/dust-sandbox/src/commands/forward/mod.rs
  cli/dust-sandbox/src/commands/forward/tls_mitm.rs
  cli/dust-sandbox/src/egress_secrets/mod.rs
Due: none

[front] align DSBX_DISABLE_MITM parsing with codebase convention
  front/lib/api/config.ts
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] downgrade kill-switch engaged log from warn to info
  front/lib/api/sandbox/egress.test.ts
  front/lib/api/sandbox/egress.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[docs] drop DSBX_DISABLE_MITM kill switch from phase 1 design
  design_docs/SECRET_SWAP_DESIGN.md
Due: biome

imp
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

[docs] drop DSBX_DISABLE_MITM kill switch from phase 1 design (#25496)
  design_docs/SECRET_SWAP_DESIGN.md
Due: biome

chore: fix tests
  front/lib/api/assistant/conversation/destroy.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Parallelize Google Drive sheet parent updates (#25495)
  connectors/src/connectors/google_drive/lib.ts
Due: connectors-typecheck, biome, connectors-eslint

Self improving skill admin page UI improvement (#25493)
  front/components/pages/workspace/developers/ReinforcementPage.tsx
  front/components/workspace/settings/AgentReinforcementToggle.tsx
  front/components/workspace/settings/ReinforcementSkillsSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sessions] Sticky human mentions (#25480)
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add public API endpoint to download conversation-scoped files (#25487)
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/files/[...rel].ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/files/rel.test.ts
  front/public/swagger.json
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

[front] CheckoutPage: support coupons (#25333)
  front/components/pages/onboarding/CheckoutPage.tsx
  front/lib/error.ts
  front/lib/metronome/checkout.ts
  front/lib/plans/stripe.ts
  front/lib/resources/coupon_redemption_resource.ts
  front/lib/resources/subscription_resource.ts
  front/lib/swr/workspaces.ts
  front/pages/api/w/[wId]/coupon/validate.test.ts
  front/pages/api/w/[wId]/coupon/validate.ts
  front/pages/api/w/[wId]/subscriptions/index.ts
  front/types/error.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleanup
  connectors/src/connectors/slack/chat/stream_conversation_handler.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] stripe sessions: clean userId (use sId)
  front/lib/metronome/checkout.ts
  front/lib/plans/stripe.ts
  front/lib/tracking/server.ts
  front/pages/api/stripe/webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: streaming property on conversation (DB + ES). Show animated text when streaming, show typing animation when title is added.
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/space/conversations/project_tasks/EditableTaskItem.tsx
  front/components/assistant/conversation/space/conversations/project_tasks/useProjectTasksPanelState.ts
  front/hooks/conversations/useBranchConversation.ts
  front/hooks/conversations/useConversationMarkAsRead.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/agent_loop.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/conversation_search/index.ts
  front/lib/conversation_search/indices/conversation_search_1.mappings.json
  front/lib/conversation_search/search.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/project_task_resource.ts
  front/migrations/20260511_add_is_streaming_to_es.http
  front/migrations/db/migration_630.sql
  front/migrations/db/migration_631.sql
  front/pages/api/poke/workspaces/[wId]/conversations/index.ts
  front/pages/api/w/[wId]/project_tasks/[taskSId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_tasks/index.ts
  front/temporal/agent_loop/activities/common.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.ts
  front/types/conversation_search/conversation_search.ts
  front/types/project_task.ts
  sparkle/src/components/NavigationList.tsx
  sparkle/src/components/TypingAnimation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

👕
  front/lib/api/actions/servers/files/tools/copy.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

2 methods
  front/lib/reinforcement/selection.ts
  front/lib/resources/self_improving_skills_usage_resource.test.ts
  front/lib/resources/self_improving_skills_usage_resource.ts
  front/pages/api/w/[wId]/skills/reinforcement_spend.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Parallelize Google Drive parent updates
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

review feedback
  front/lib/models/agent/actions/agent_step_content_tool_execution.ts
  front/migrations/db/migration_631.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add: streaming property on conversation (DB + ES). Show animated text when streaming, show typing animation when title is added. (#25477)
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/SidebarMenu.tsx
  front/components/assistant/conversation/space/conversations/project_tasks/EditableTaskItem.tsx
  front/components/assistant/conversation/space/conversations/project_tasks/useProjectTasksPanelState.ts
  front/hooks/conversations/useBranchConversation.ts
  front/hooks/conversations/useConversationMarkAsRead.ts
  front/lib/api/assistant/content_fragments.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/agent_loop.ts
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/conversation_rendering/message_rendering.test.ts
  front/lib/conversation_search/index.ts
  front/lib/conversation_search/indices/conversation_search_1.mappings.json
  front/lib/conversation_search/search.ts
  front/lib/models/agent/conversation.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/project_task_resource.ts
  front/migrations/20260511_add_is_streaming_to_es.http
  front/migrations/db/migration_630.sql
  front/migrations/db/migration_631.sql
  front/pages/api/poke/workspaces/[wId]/conversations/index.ts
  front/pages/api/w/[wId]/project_tasks/[taskSId]/index.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_tasks/index.ts
  front/temporal/agent_loop/activities/common.ts
  front/tests/utils/conversation_test_factories.ts
  front/types/assistant/conversation.ts
  front/types/conversation_search/conversation_search.ts
  front/types/project_task.ts
  sparkle/src/components/NavigationList.tsx
  sparkle/src/components/TypingAnimation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update moved Google Drive folders after descendants
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] stripe sessions: clean userId (use sId) (#25347)
  front/lib/metronome/checkout.ts
  front/lib/plans/stripe.ts
  front/lib/tracking/server.ts
  front/pages/api/stripe/webhook.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use FF+kill switch for initial subscriptions
  front/components/poke/subscriptions/table.tsx
  front/lib/api/subscription.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
  front/pages/api/poke/workspaces/[wId]/workspace-info.ts
  front/pages/api/w/[wId]/subscriptions/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

✨
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/api/actions/servers/files/index.ts
  front/lib/api/actions/servers/files/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

move migration
  front/migrations/db/migration_632.sql
Due: none

feat: create table and double write agent mcp action (#25463)
  front/admin/db.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/forks.test.ts
  front/lib/api/assistant/conversation/validate_actions.test.ts
  front/lib/models/agent/actions/agent_step_content_tool_execution.ts
  front/lib/resources/agent_mcp_action_resource.test.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/lib/resources/conversation_resource.test.ts
  front/migrations/db/migration_632.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Skip cyclic Google Drive moved folder updates
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.test.ts
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

[front] Filter Metronome packages by currency and sort by tier
  front/components/poke/subscriptions/SwitchContractDialog.tsx
  front/lib/metronome/client.ts
  front/lib/metronome/types.test.ts
  front/lib/metronome/types.ts
  front/lib/swr/poke.ts
  front/pages/api/poke/metronome/packages.test.ts
  front/pages/api/poke/stripe/customers/currency.test.ts
  front/pages/api/poke/stripe/customers/currency.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.test.ts
  front/pages/api/poke/workspaces/[wId]/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: edit migration 632
  front/migrations/db/migration_632.sql
Due: none

fix: edit migration 632 (#25502)
  front/migrations/db/migration_632.sql
Due: none

deps(front): add @anthropic-ai/vertex-sdk and bump @anthropic-ai/sdk to 0.80.0
  front/package.json
  package-lock.json
Due: package-lock-check, biome

refactor(llm): rename vertex to useVertex for clarity
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(llm): route Claude models through Vertex AI when feature flag is enabled
  front/lib/api/llm/clients/anthropic/index.ts
  front/lib/api/llm/clients/anthropic/types.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
  front/lib/api/llm/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): extract magic concurrency numbers into named constants
  front/lib/api/llm/clients/anthropic/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): await async toMessage calls in anthropic conversion tests
  front/lib/api/llm/clients/anthropic/utils/test/conversation_to_anthropic.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(llm): replace Promise.all with concurrentExecutor in anthropic conversion
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(reinforcement): disable batch mode for Vertex AI workspaces
  front/lib/reinforcement/workspace_check.ts
  front/temporal/reinforcement/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(llm): gracefully handle unsupported media types in anthropic conversion
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
