Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

Update the text here for pricing
  front/components/home/content/ChatGptEnterprise/ChatGptEnterpriseDeepDive.tsx
  front/components/home/content/ChatGptEnterprise/config/chatGptEnterpriseConfig.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adding in the fixes on copy + formatting
  front/components/home/content/Glean/GleanComparisonTable.tsx
  front/components/home/content/Glean/GleanDeepDive.tsx
  front/components/home/content/Glean/GleanHeroSection.tsx
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanPricingSection.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
  front/components/home/content/Glean/config/gleanConfig.tsx
  front/pages/landing/glean.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Adding in some tsx fixes
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanPricingSection.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Updating the skills md file and updating the copy
  front/components/home/content/Glean/GleanDeepDive.tsx
  front/components/home/content/Glean/GleanLogoBar.tsx
  front/components/home/content/Glean/GleanWhatSection.tsx
  front/components/home/content/Glean/config/gleanConfig.tsx
  front/runbooks/LANDING_PAGE.md
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Replaced links (#22510)
  front/lib/actions/mcp_oauth_provider.ts
  front/lib/api/actions/servers/agent_management/tools/index.ts
  front/lib/api/assistant/email/email_reply.ts
  front/lib/api/assistant/email/email_trigger.ts
  front/lib/api/config.ts
  front/lib/api/enterprise_connection.ts
  front/lib/connectors.test.ts
  front/lib/connectors.ts
  front/lib/notifications/email-templates/_layout.tsx
  front/lib/notifications/email-templates/agent-message-feedback-digest.tsx
  front/lib/notifications/email-templates/conversation-added-as-participant.tsx
  front/lib/notifications/workflows/project-added-as-member.ts
  front/lib/resources/content_fragment_resource.ts
  front/lib/resources/file_resource.ts
  front/lib/signup.ts
  front/migrations/20250626_move_process_actions_to_mcp.ts
  front/pages/api/academy/chat.ts
  front/pages/api/poke/workspaces/[wId]/workspace-info.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/messages/[mId]/events.ts
  front/pages/api/v1/w/[wId]/files/index.test.ts
  front/pages/api/w/[wId]/data_sources/[dsId]/files.test.ts
  front/pages/api/w/[wId]/join.ts
  front/pages/api/w/[wId]/webhook_sources/index.ts
  front/pages/api/workos/[action].ts
  front/temporal/relocation/activities/destination_region/core/documents.ts
  front/temporal/relocation/activities/destination_region/core/folders.ts
  front/temporal/relocation/activities/destination_region/core/tables.ts
  front/temporal/relocation/activities/source_region/core/documents.ts
  front/temporal/relocation/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Tweak comments
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/lib/api/llm/types/options.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add node version when starting mprocs
  tools/mprocs.yaml
Due: biome

feat(poke): cache tool v2 (#22530)
  front/components/poke/pages/CacheLookupPage.tsx
  front/pages/api/poke/cache.ts
  front/poke/swr/cache.ts
  front/types/shared/cache_resource_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sandbox): add call_tool endpoint
  front/lib/actions/mcp_metadata.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/[svId]/call_tool.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

review feedback
  front/lib/actions/mcp_metadata.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/[svId]/call_tool.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Hubspot: list_owners and search_owners return text instead of JSON (#22532)
  front/lib/api/actions/servers/hubspot/rendering.ts
  front/lib/api/actions/servers/hubspot/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: add rust formatting to lefthook
  lefthook.yml
Due: biome

[dev] Upgrade vite and esbuild, hoist dependencies (#22534)
  connectors/package.json
  front-spa/package.json
  front/package.json
  package-lock.json
  package.json
  sdks/js/package.json
  sparkle/package.json
Due: package-lock-check, biome

feat(sandbox): add call_tool endpoint (#22523)
  front/lib/actions/mcp_metadata.ts
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/mcp_server_views/[svId]/call_tool.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

feat: attach content/screenshot in extension
  extension/ui/components/conversation/ConversationContainer.tsx
  extension/ui/hooks/useFileUploaderService.ts
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/RunPage.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/AttachmentViewer.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/hooks/useFileUploaderService.ts
  front/lib/swr/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix range workspace-usage
  front/pages/api/v1/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

fix: code review
  extension/ui/components/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/hooks/useFileUploaderService.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: lint/format
  front/pages/api/w/[wId]/files/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

chore: add rust formatting to lefthook (#22541)
  lefthook.yml
Due: biome

[db] - refactor: update unique indexing on conversation_mcp_server_views
  front/migrations/db/migration_531.sql
Due: none

feat: attach content/screenshot in extension (#22495)
  extension/ui/components/conversation/ConversationContainer.tsx
  extension/ui/hooks/useFileUploaderService.ts
  extension/ui/pages/MainPage.tsx
  extension/ui/pages/RunPage.tsx
  front/components/assistant/conversation/attachment/AttachmentCitation.tsx
  front/components/assistant/conversation/attachment/AttachmentViewer.tsx
  front/components/assistant/conversation/input_bar/InputBar.tsx
  front/components/assistant/conversation/input_bar/InputBarContainer.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/hooks/useFileUploaderService.ts
  front/lib/swr/files.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix range workspace-usage (#22542)
  front/pages/api/v1/w/[wId]/workspace-usage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

Renames
  front/components/agent_builder/CopilotPanelContext.tsx
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Spacing
  front/hooks/useCopilotFirstMessage.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: build input bar context
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove comment
  front/types/assistant/agent.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename
  front/lib/api/assistant/global_agents/configurations/dust/copilot.ts
  front/types/assistant/agent.ts
  front/types/assistant/agent_run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: build input bar context (#22544)
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add node version when starting mprocs (#22545)
  tools/mprocs.yaml
Due: biome

fix: exclude test conversations from project butler
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/projects/butler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - chore(tools): JIT source (#22529)
  front/lib/api/actions/servers/toolsets/tools/index.ts
  front/lib/api/assistant/jit/conversation.ts
  front/lib/api/assistant/jit_actions.ts
  front/lib/models/agent/actions/conversation_mcp_server_view.ts
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
  front/migrations/db/migration_528.sql
  front/migrations/db/migration_531.sql
  front/pages/api/v1/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/v1/w/[wId]/assistant/conversations/index.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.test.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/tools.ts
  front/pages/api/w/[wId]/assistant/conversations/index.ts
  front/types/assistant/conversation.ts
  sdks/js/src/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, biome, front-eslint

cleanup: remove unused functions in extension
  extension/shared/lib/dust_api.ts
  extension/shared/services/platform.ts
Due: biome

feat: improve docker built time for front (#22457)
  dockerfiles/front.Dockerfile
  front/next.config.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(poke): make cache tool lookup in both redis
  front/components/poke/pages/CacheLookupPage.tsx
  front/pages/api/poke/cache.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

cleanup: remove unused functions in extension (#22547)
  extension/shared/lib/dust_api.ts
  extension/shared/services/platform.ts
Due: biome

fix: add the caller in the summary
  front/lib/api/projects/butler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: exclude test conversations from project butler (#22546)
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/projects/butler.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(poke): make cache tool lookup in both redis (#22548)
  front/components/poke/pages/CacheLookupPage.tsx
  front/pages/api/poke/cache.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Hide agents management buttons in extensions
  extension/platforms/chrome/ChromeApp.tsx
  extension/platforms/front/FrontApp.tsx
  extension/ui/components/conversation/ConversationContainer.tsx
  front/components/assistant/AgentBrowser.tsx
  front/components/assistant/conversation/input_bar/InputBarContext.tsx
  front/components/sparkle/AppRootLayout.tsx
  front/hooks/useCreateConversationWithMessage.ts
  front/hooks/useSubmitMessage.ts
  front/lib/context/clientType.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
