Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

fix
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/agent_builder/AgentBuilderSidekick.tsx
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh(metronome) Add seats and tags on products (#23705)
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: add next occurences in schedules (#23715)
  front/components/agent_builder/triggers/schedule/ScheduleEditionScheduler.tsx
  front/lib/utils/schedule_next_occurrences.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: wire `tool_ask_user_question` event through streaming pipeline (#23717)
  front/components/assistant/conversation/AgentMessage.tsx
  front/hooks/useAgentMessageStream.ts
  front/hooks/useChildAgentStream.ts
  front/lib/actions/mcp.ts
  front/lib/actions/mcp_internal_actions/exit_events.ts
  front/lib/api/assistant/streaming/events.ts
  front/lib/api/assistant/streaming/types.ts
  front/lib/api/mcp/run_tool.ts
  front/temporal/agent_loop/activities/publish_deferred_events.ts
  front/temporal/agent_loop/activities/run_tool.ts
  front/temporal/agent_loop/lib/deferred_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(project-todo): add per-project merge workflow with hourly throttle
  front/lib/api/assistant/conversation.ts
  front/lib/project_todo/merge_into_project.ts
  front/temporal/project_todo/activities.ts
  front/temporal/project_todo/client.ts
  front/temporal/project_todo/config.ts
  front/temporal/project_todo/signals.ts
  front/temporal/project_todo/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix again
  sparkle/src/components/markdown/HeadingBlock.tsx
Due: biome

feat: hide completion UI for gracefully_stopped agent messages
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: keep completion status chip visible for gracefully_stopped
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve error message, add tika config
  docker-compose.yml
  front/lib/api/files/processing.ts
  front/types/shared/text_extraction/index.ts
  tika-config.xml
  x/henry/dust-hive/docker-compose.yml
  x/henry/dust-hive/tika-config.xml
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix citation size
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/markdown/CiteBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test
  front/components/agent_builder/AgentBuilderSidekick.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename lastInteractions param to lastInteractionsToFetchToolOutputContentFor
  front/lib/api/assistant/conversation/fetch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(project-todo): add per-project merge workflow with hourly throttle (#23719)
  front/lib/api/assistant/conversation.ts
  front/lib/project_todo/merge_into_project.ts
  front/temporal/project_todo/activities.ts
  front/temporal/project_todo/client.ts
  front/temporal/project_todo/config.ts
  front/temporal/project_todo/signals.ts
  front/temporal/project_todo/workflows.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename last interactions content parameter for clarity
  front/lib/api/assistant/conversation/fetch.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

shrink
  sparkle/src/components/FaviconIcon.tsx
Due: biome

Various renames around tool output pruning
  front/lib/api/assistant/conversation/fetch.ts
  front/lib/api/assistant/messages.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/markdown/CiteBlock.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

PREVIOUS_INTERACTIONS_TO_PRESERVE to 3
  front/lib/api/assistant/conversation_rendering/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Filter agents from reinforced workflow that do not pass hard constraints (#23606)
  front/lib/reinforced_agent/eligibility.test.ts
  front/lib/reinforced_agent/eligibility.ts
  front/lib/resources/agent_suggestion_resource.test.ts
  front/lib/resources/agent_suggestion_resource.ts
  front/lib/resources/conversation_resource.ts
  front/temporal/reinforced_agent/activities.ts
  front/tests/utils/AgentSuggestionFactory.ts
  front/tests/utils/ConversationFactory.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

add ask_user_question answer endpoint
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve inline activity steps
  front/components/assistant/conversation/ConversationSidePanelContent.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/actions/ThinkingPanel.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  front/types/conversation_side_panel.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add isStreaming prop to TruncatedContent for optimistic gradient
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  sparkle/src/components/TruncatedContent.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[agent_yaml_converter] - refactor: batch fetch editor users by email in yaml import
  front/lib/agent_yaml_converter/converter.ts
  front/lib/api/assistant/configuration/yaml_import.ts
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve inline activity steps (#23722)
  front/components/assistant/conversation/ConversationSidePanelContent.tsx
  front/components/assistant/conversation/ConversationSidePanelContext.tsx
  front/components/assistant/conversation/actions/ThinkingPanel.tsx
  front/components/assistant/conversation/actions/inline/InlineActivitySteps.tsx
  front/types/conversation_side_panel.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

plan updateE
  x/spolu/steering/plan.md
Due: biome

[sparkle] adjust markdown & input bar & citation icon size (#23706)
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/attachment/utils.tsx
  front/components/markdown/CiteBlock.tsx
  sparkle/src/components/FaviconIcon.tsx
  sparkle/src/components/markdown/CodeBlock.tsx
  sparkle/src/components/markdown/HeadingBlock.tsx
  sparkle/src/components/markdown/HrBlock.tsx
  sparkle/src/components/markdown/List.tsx
  sparkle/src/components/markdown/ParagraphBlock.tsx
  sparkle/src/components/markdown/markdownSizes.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: add answer-question endpoint for `ask_user_question` tool (#23725)
  front/lib/api/assistant/conversation/answer_user_question.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/messages/[mId]/answer-question.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(sparkle): update SpinnerBrand lottie animations to v2
  sparkle/src/lottie/spinnerDust.ts
  sparkle/src/lottie/spinnerDustColored.ts
  sparkle/src/lottie/spinnerDustColoredGray.ts
Due: biome

docs: defer wasPending flag to future, update plan and steering proposal
  x/spolu/steering/plan.md
  x/spolu/steering/steering.md
Due: biome

[front] - refactor(agent-yaml): change YAML editors from objects to string (#23716)
  front/lib/agent_yaml_converter/converter.ts
  front/lib/agent_yaml_converter/schemas.ts
  front/lib/api/assistant/configuration/yaml_import.ts
  front/lib/resources/user_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

docs: extract wasPending + steering instructions to separate file
  x/spolu/steering/steering_instructions.md
Due: biome

Check for workspace
  front/lib/api/oauth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  19/3d46d166f775d112cc873dbbee4a445b83b6f6
Due: none

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
