Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[dust-hive] enh: L7 proxy for marketing+front-api
  x/henry/dust-hive/src/commands/destroy.ts
  x/henry/dust-hive/src/commands/forward.ts
  x/henry/dust-hive/src/commands/logs.ts
  x/henry/dust-hive/src/commands/refresh.ts
  x/henry/dust-hive/src/commands/warm.ts
  x/henry/dust-hive/src/forward-daemon.ts
  x/henry/dust-hive/src/lib/forwarderConfig.ts
  x/henry/dust-hive/src/lib/multiplexer/types.ts
  x/henry/dust-hive/src/lib/ports.ts
  x/henry/dust-hive/src/lib/registry.ts
  x/henry/dust-hive/src/lib/services.ts
  x/henry/dust-hive/src/lib/setup.ts
  x/henry/dust-hive/src/proxy-daemon.ts
  x/henry/dust-hive/tests/lib/ports.test.ts
  x/henry/dust-hive/tests/lib/proxy.test.ts
  x/henry/dust-hive/tests/lib/registry.test.ts
  x/henry/dust-hive/tests/lib/services.test.ts
Due: biome

[front] Remove stale skill reference switches (#27020)
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/skill_builder/ToolNode.test.ts
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
  front/components/skill_builder/SkillSuggestionCard.tsx
  front/components/skills/SkillInfoTab.tsx
  front/components/skills/SkillInstructionsReadOnlyEditor.tsx
  front/lib/editor/build_skill_instructions_extensions.ts
  front/lib/editor/skill_instructions_preprocessing.test.ts
  front/lib/editor/skill_instructions_preprocessing.ts
  front/lib/reinforcement/aggregate_suggestions.test.ts
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.test.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/format_skill_context.ts
  front/lib/reinforcement/run_reinforced_analysis.test.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/lib/reinforcement/skill_instruction_edit_prompt.ts
  front/lib/reinforcement/skill_instructions_html.ts
  front/lib/reinforcement/types.ts
  front/scripts/migrate_skill_instructions_html.ts
  front/temporal/reinforcement/activities.ts
  front/tests/reinforcement-evals/lib/judge.ts
  front/tests/reinforcement-evals/lib/reinforcement-executor.ts
  front/tests/reinforcement-evals/lib/types.ts
  front/tests/reinforcement-evals/test-suites/aggregate-suggestions.ts
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Add stale-stream watchdog to self-heal missed terminal SSE events
  front/hooks/useAgentMessageStream.test.ts
  front/hooks/useAgentMessageStream.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Trust the server-rendered content view in the nested run_agent stream
  front/hooks/useAgentMessageStream.ts
  front/hooks/useChildAgentStream.test.ts
  front/hooks/useChildAgentStream.ts
  front/lib/actions/mcp_internal_actions/output_schemas.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] switch_contract: use seat subscription commit instead of credits
  front/lib/api/poke/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Analyics: Reduce time to sync feedback charts
  front/temporal/analytics_queue/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove confusing comment
  front/lib/api/poke/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] switch_contract: use seat subscription commit instead of credits (#27034)
  front/lib/api/poke/switch_contract.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Handle missing Microsoft sites during root discovery
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Normalize Microsoft site discovery error logs
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix path-based generated files disappearing on conversation reload
  front/lib/models/agent/actions/mcp.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/migrations/db/migration_672.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Add Pagination stories and enrich primitive stories
  sparkle/src/stories/Checkbox.stories.tsx
  sparkle/src/stories/Counter.stories.tsx
  sparkle/src/stories/Label.stories.tsx
  sparkle/src/stories/Pagination.stories.tsx
  sparkle/src/stories/Separator.stories.tsx
Due: biome

🐒
  front/lib/resources/agent_mcp_action_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] Use Dust logo for Storybook sidebar brand
  sparkle/.storybook/assets/dust.svg
  sparkle/.storybook/main.ts
  sparkle/.storybook/manager.ts
Due: biome

Detect file format, fix utf16 upload
  front/lib/api/files/utils.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Microsoft] Handle missing sites during root discovery (#27038)
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

Fix: right padding on agent builder description (#27026)
  front/components/agent_builder/settings/AgentBuilderDescriptionSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Analyics: Reduce time to sync feedback charts (#27036)
  front/temporal/analytics_queue/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Avoid treating child file 404s as missing folders
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/file.ts
Due: connectors-typecheck, biome, connectors-eslint

[sparkle] Add Pagination stories and enrich primitive stories (#27041)
  sparkle/src/stories/Checkbox.stories.tsx
  sparkle/src/stories/Counter.stories.tsx
  sparkle/src/stories/Label.stories.tsx
  sparkle/src/stories/Pagination.stories.tsx
  sparkle/src/stories/Separator.stories.tsx
Due: biome

Feedback: allow feedback on cancelled message
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use bounded Text
  front/lib/models/agent/actions/mcp.ts
  front/migrations/db/migration_672.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Preserve Microsoft delta deletion on file 404
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/file.ts
Due: connectors-typecheck, biome, connectors-eslint

[sparkle] Use Dust logo for Storybook sidebar brand (#27044)
  sparkle/.storybook/assets/dust.svg
  sparkle/.storybook/main.ts
  sparkle/.storybook/manager.ts
Due: biome

new layout
  extension/ui/components/conversation/ConversationContainer.tsx
  extension/ui/components/conversation/ConversationLayout.tsx
  front/components/assistant/conversation/AgentInputBar.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/misc/DropzoneContainer.tsx
  front/components/navigation/Navigation.tsx
  front/components/sparkle/AppContentLayout.tsx
  front/components/sparkle/AppLayoutTitle.tsx
  sparkle/src/components/NavigationList.tsx
  sparkle/tailwind-preset.js
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

misc 2
  front/components/misc/DropzoneContainer.tsx
  front/components/sparkle/AppContentLayout.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

misc
  front/components/assistant/conversation/ConversationSidePanelContainer.tsx
  front/components/assistant/conversation/files_panel/ConversationFileExplorer.tsx
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/layouts/AdminLayout.tsx
  front/components/navigation/Navigation.tsx
  front/components/navigation/NavigationSidebar.tsx
  front/components/pages/pod/PodPage.tsx
  front/components/sparkle/AppLayoutTitle.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix hashparam
  front/hooks/useHashParams.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

spacing spinner
  front/components/assistant/conversation/interactive_content/InteractiveContentHeader.tsx
  front/components/pages/pod/PodPage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  extension/ui/components/conversation/ConversationContainer.tsx
Due: biome

Fix cleanTimestamp
  front/lib/utils/timestamps.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix path-based generated files disappearing on conversation reload (#27039)
  front/lib/models/agent/actions/mcp.ts
  front/lib/resources/agent_mcp_action_resource.test.ts
  front/lib/resources/agent_mcp_action_resource.ts
  front/migrations/db/migration_672.sql
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(temporal): add shutdownGraceTime to all front workers for graceful drain on deploy
  front/poke/temporal/worker.ts
  front/temporal/analytics_queue/worker.ts
  front/temporal/conversation_fork_queue/worker.ts
  front/temporal/credit_alerts/worker.ts
  front/temporal/data_retention/worker.ts
  front/temporal/es_indexation/worker.ts
  front/temporal/hard_delete/worker.ts
  front/temporal/invitations/worker.ts
  front/temporal/labs/transcripts/worker.ts
  front/temporal/mentions_count_queue/worker.ts
  front/temporal/mentions_queue/worker.ts
  front/temporal/metronome_events_queue/worker.ts
  front/temporal/notifications_queue/worker.ts
  front/temporal/production_checks/worker.ts
  front/temporal/project_task/worker.ts
  front/temporal/reinforcement/worker.ts
  front/temporal/relocation/worker.ts
  front/temporal/remote_tools/worker.ts
  front/temporal/sandbox_reaper/worker.ts
  front/temporal/scrub_workspace/worker.ts
  front/temporal/triggers/worker.ts
  front/temporal/triggers_garbage_collect/worker.ts
  front/temporal/upsert_queue/worker.ts
  front/temporal/upsert_tables/worker.ts
  front/temporal/usage_queue/worker.ts
  front/temporal/workos_events_queue/worker.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/components/layouts/AdminLayout.tsx
  front/components/navigation/Navigation.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add ClementAupiais author entry
  .authors
Due: none

Redirect some API paths to the two SPAs
  front-api/app.ts
  front-api/middlewares/spa_redirect.test.ts
  front-api/middlewares/spa_redirect.ts
Due: biome

Clarify Microsoft child 404 sync comment
  connectors/src/connectors/microsoft/temporal/activities.ts
Due: connectors-typecheck, biome, connectors-eslint

[Microsoft] Keep child file 404s local to the file (#27045)
  connectors/src/connectors/microsoft/temporal/activities.ts
  connectors/src/connectors/microsoft/temporal/file.ts
Due: connectors-typecheck, biome, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
