Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

lefthook.yml:

# Lefthook configuration
# See https://github.com/evilmartians/lefthook for documentation
#
# ===================================================================
# How to skip hooks:
# ===================================================================
#
# Skip ALL pre-commit hooks:
#   LEFTHOOK=0 git commit -m "message"
#
# Skip specific commands:
#   LEFTHOOK_EXCLUDE=check-main-branch git commit -m "message"
#   LEFTHOOK_EXCLUDE=ggshield-scan,package-lock-check git commit -m "message"
#
# Skip only linting/type-checking (front and connectors):
#   LEFTHOOK_EXCLUDE=front-lint-test-filenames,front-typecheck,front-circular,front-docs-check,front-prettier,front-eslint,connectors-lint-test-filenames,connectors-typecheck,connectors-prettier,connectors-eslint git commit -m "message"
#
# Skip only a project:
#   LEFTHOOK_EXCLUDE=front git commit -m "message"
#
# Interactive mode (choose which commands to run):
#   lefthook run pre-commit --interactive
#
# ===================================================================
output: false

pre-commit:
  # Run tasks in parallel for better performance
  parallel: true

  commands:
    # Check if committing to main branch
    check-main-branch:
      run: |
        current_branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$current_branch" = "main" ]; then
          echo "Error: Committing to 'main' is not allowed. Use LEFTHOOK_EXCLUDE=check-main-branch to override."
          exit 1
        fi
      priority: 1

    # Optional: ggshield secret scanning (skip with LEFTHOOK_EXCLUDE=ggshield-scan)
    ggshield-scan:
      run: |
        if command -v ggshield 2>&1 >/dev/null; then
          ggshield secret scan pre-commit
        else
          echo "ggshield is not installed. Skipping secret scan. Install ggshield or use LEFTHOOK_EXCLUDE=ggshield-scan"
          exit 0
        fi
      priority: 1

    # Optional: package-lock.json sync check (skip with LEFTHOOK_EXCLUDE=package-lock-check)
    package-lock-check:
      run: |
        if ! scripts/check-package-lock-sync.sh; then
          echo "Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory."
          exit 1
        fi
      priority: 1

    # Front directory checks
    front-lint-test-filenames:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run lint:test-filenames

    front-typecheck:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run tsgo

    front-circular:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front/
      run: npm run lint:circular

    front-docs-check:
      tags: front
      glob: "front/pages/api/v1/**/*"
      root: front/
      run: npm run docs:check

    # Connectors directory checks
    connectors-typecheck:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx}"
      root: connectors/
      run: npm run tsgo

    # Front prettier check
    front-prettier:
      tags: front
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}"
      root: front/
      run: npm run format:lefthook -- {staged_files}
      stage_fixed: true

    # Front eslint check
    front-eslint:
      tags: front
      glob: "*.{js,jsx,ts,tsx}"
      root: front
      run: npm run lint:lefthook -- {staged_files}
      stage_fixed: true

    # Connectors prettier check
    connectors-prettier:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}"
      root: connectors/
      run: npm run format:lefthook -- {staged_files}
      stage_fixed: true

    # Connectors eslint check
    connectors-eslint:
      tags: connectors
      glob: "*.{js,jsx,ts,tsx}"
      root: connectors/
      run: npm run lint:lefthook -- {staged_files}
      stage_fixed: true

fix: conversation visibility filter
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix type error
  front/lib/api/actions/servers/google_drive/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Adjust hero gradient and add rounded corners
  front/pages/academy/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: add preferences for project new conversation notification
  front/components/me/AccountSettings.tsx
  front/components/me/NotificationPreferences.tsx
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Style author as badge matching duration
  front/pages/academy/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Add update slides tool behind google write FF (#21125)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/api/actions/servers/google_drive/metadata.ts
  front/lib/api/actions/servers/google_drive/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: improve biome/lefthook
  cli/package.json
  connectors/package.json
  extension/package.json
  firebase-functions/slack-webhook-router/package-lock.json
  firebase-functions/slack-webhook-router/package.json
  firebase-functions/webhook-router/package-lock.json
  firebase-functions/webhook-router/package.json
  front-spa/package.json
  front/AGENTS.md
  front/package.json
  lefthook.yml
  package-lock.json
  package.json
  sdks/js/package.json
  sparkle/package.json
  sparkle/playground/package-lock.json
Due: front-prettier, connectors-prettier

feat: move extension to biome for lint
  .github/workflows/format-check.yml
  biome.json
  extension/eslint.config.mjs
  extension/package.json
  extension/shared/context/PlatformContext.tsx
  extension/shared/lib/resources_icons.tsx
  extension/ui/components/DropzoneContainer.tsx
  extension/ui/components/auth/AuthProvider.tsx
  extension/ui/components/conversation/AgentMessageActions.tsx
  extension/ui/components/conversation/AttachmentCitation.tsx
  extension/ui/components/conversation/FileUploaderContext.tsx
  extension/ui/components/conversation/MessageGroup.tsx
  extension/ui/components/conversation/UserMessage.tsx
  extension/ui/components/input_bar/InputBarAttachmentPicker.tsx
  extension/ui/components/input_bar/InputBarContext.tsx
  extension/ui/components/input_bar/editor/MentionDropdown.tsx
  extension/ui/components/markdown/ContentNodeMentionBlock.tsx
  extension/ui/hooks/useEventSource.ts
  package-lock.json
Due: none

Fix redirects again
  front-spa/public-app/_redirects
Due: none

fix: improve knowledge tab display on small screens (#21171)
  front/components/assistant/conversation/space/SpaceKnowledgeTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Revert to /_share/ format (remove explicit index.html)
  front-spa/public-app/_redirects
Due: none

fix: code review
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Add copilotInstructions field to templates (#21167)
  front/components/poke/pages/TemplateDetailPage.tsx
  front/lib/resources/storage/models/templates.ts
  front/lib/resources/template_resource.ts
  front/migrations/db/migration_501.sql
  front/migrations/db/migration_502.sql
  front/pages/api/poke/templates/[tId].ts
  front/pages/api/poke/templates/index.ts
  front/scripts/seed/copilot/assets/templates.json
  front/scripts/seed/copilot/seed.ts
  front/scripts/seed/factories/index.ts
  front/scripts/seed/factories/seedTemplate.ts
  front/scripts/seed/factories/types.ts
  front/types/assistant/templates.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Try force flag (!) on redirects to override Pretty URLs
  front-spa/public-app/_redirects
Due: none

feat: improve butler
  front/lib/api/projects/butler.ts
  front/lib/api/spaces/project_journal_summary.ts
  front/temporal/project_journal_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: conversation visibility filter (#21174)
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: add preferences for project new conversation notification (#21162)
  front/components/me/AccountSettings.tsx
  front/components/me/NotificationPreferences.tsx
  front/types/notification_preferences.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: add project new conversaiton notification workflow
  front/lib/api/assistant/conversation.ts
  front/lib/error.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/project-new-conversation.ts
  front/pages/api/novu/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Make Academy sidebar responsive with mobile drawer
  front/components/academy/AcademySidebar.tsx
  front/components/blog/TableOfContents.tsx
  front/pages/academy/[slug].tsx
  front/pages/academy/index.tsx
  front/pages/academy/lessons/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: code review
  front/lib/api/assistant/conversation.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/project-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

refactor(projects): remove urls field from project metadata model
  connectors/src/connectors/dust_project/lib/format_metadata.test.ts
  connectors/src/connectors/dust_project/lib/format_metadata.ts
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/api/actions/servers/project_manager/metadata.ts
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/spaces.ts
  front/lib/resources/project_metadata_resource.test.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/storage/models/project_metadata.ts
  front/migrations/20260114_backfill_project_metadata.ts
  front/migrations/db/migration_503.sql
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/scripts/ensure_project_datasource_and_connector_created.ts
  front/types/api/internal/spaces.ts
  front/types/project_metadata.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

Add Cloudflare Sandboxes bench_sandbox benchmark (#21144)
  x/henry/sandbox-benchmarks/cloudflare/bench_sandbox.ts
  x/henry/sandbox-benchmarks/cloudflare/worker/Dockerfile
  x/henry/sandbox-benchmarks/cloudflare/worker/package-lock.json
  x/henry/sandbox-benchmarks/cloudflare/worker/package.json
  x/henry/sandbox-benchmarks/cloudflare/worker/src/index.ts
  x/henry/sandbox-benchmarks/cloudflare/worker/tsconfig.json
  x/henry/sandbox-benchmarks/cloudflare/worker/wrangler.jsonc
Due: none

[front] Fix Academy sidebar search dropdown z-index
  front/components/academy/AcademySidebar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Match exact _redirects format from working test-redirect
  front-spa/public-app/_redirects
Due: none

feat: add project new conversaiton notification workflow (#21163)
  front/lib/api/assistant/conversation.ts
  front/lib/error.ts
  front/lib/notifications/triggers/project-new-conversation.ts
  front/lib/notifications/workflows/project-new-conversation.ts
  front/pages/api/novu/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: send email for new conversations in project
  front/lib/notifications/workflows/project-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: code review
  front/lib/notifications/workflows/project-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: send email for new conversations in project (#21164)
  front/lib/notifications/workflows/project-new-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: check feature flag to display project notification preferences
  front/components/me/NotificationPreferences.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Replace direct next/* imports with platform abstractions in Academy
  front/components/academy/AcademyComponents.tsx
  front/components/academy/AcademySidebar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

fix: check feature flag to display project notification preferences (#21165)
  front/components/me/NotificationPreferences.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Fix oauth message
  front/components/pages/oauth/OAuthFinalizePage.tsx
  front/lib/api/oauth.ts
  front/pages/api/w/[wId]/oauth/[provider]/setup.ts
  front/types/oauth/client/setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

Add get_agent_template tool to agent_copilot_context server
  front/lib/api/actions/servers/agent_copilot_context/agent_copilot_context.test.ts
  front/lib/api/actions/servers/agent_copilot_context/metadata.ts
  front/lib/api/actions/servers/agent_copilot_context/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

feat: don't delete conversations in project when last participant left
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

[front] Add copy as markdown button to Academy course page
  front/pages/academy/[slug].tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint

refactor(projects): remove urls field from project metadata model (#21156)
  connectors/src/connectors/dust_project/lib/format_metadata.test.ts
  connectors/src/connectors/dust_project/lib/format_metadata.ts
  front/components/assistant/conversation/space/about/SpaceAboutTab.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
  front/lib/api/actions/servers/project_manager/metadata.ts
  front/lib/api/actions/servers/project_manager/tools/index.ts
  front/lib/api/spaces.ts
  front/lib/resources/project_metadata_resource.test.ts
  front/lib/resources/project_metadata_resource.ts
  front/lib/resources/storage/models/project_metadata.ts
  front/migrations/20260114_backfill_project_metadata.ts
  front/migrations/db/migration_503.sql
  front/pages/api/v1/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.test.ts
  front/pages/api/w/[wId]/spaces/[spaceId]/project_metadata.ts
  front/scripts/ensure_project_datasource_and_connector_created.ts
  front/types/api/internal/spaces.ts
  front/types/project_metadata.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, front-prettier, front-eslint, connectors-prettier, connectors-eslint

feat: improve biome/lefthook (#21170)
  cli/package.json
  connectors/package.json
  extension/package.json
  firebase-functions/slack-webhook-router/package-lock.json
  firebase-functions/slack-webhook-router/package.json
  firebase-functions/webhook-router/package-lock.json
  firebase-functions/webhook-router/package.json
  front-spa/package.json
  front/AGENTS.md
  front/package.json
  lefthook.yml
  package-lock.json
  package.json
  sdks/js/package.json
  sparkle/package.json
  sparkle/playground/package-lock.json
Due: front-prettier, connectors-prettier

🧪
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.expected.json
Due: front-prettier

feat: move extension to biome for lint (#20970)
  .github/workflows/format-check.yml
  biome.json
  extension/eslint.config.mjs
  extension/package.json
  extension/shared/context/PlatformContext.tsx
  extension/shared/lib/resources_icons.tsx
  extension/ui/components/DropzoneContainer.tsx
  extension/ui/components/auth/AuthProvider.tsx
  extension/ui/components/conversation/AgentMessageActions.tsx
  extension/ui/components/conversation/AttachmentCitation.tsx
  extension/ui/components/conversation/FileUploaderContext.tsx
  extension/ui/components/conversation/MessageGroup.tsx
  extension/ui/components/conversation/UserMessage.tsx
  extension/ui/components/input_bar/InputBarAttachmentPicker.tsx
  extension/ui/components/input_bar/InputBarContext.tsx
  extension/ui/components/input_bar/editor/MentionDropdown.tsx
  extension/ui/components/markdown/ContentNodeMentionBlock.tsx
  extension/ui/hooks/useEventSource.ts
  package-lock.json
Due: none

[front] Fix Image import in AcademyComponents
  front/components/academy/AcademyComponents.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, front-prettier, front-eslint
