Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

dry
  front/components/workspace/WorkspaceCreditPoolCards.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Extract shared credit-pool cards derivation from Poke
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/WorkspaceCreditPoolCards.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use legacy_billing feature flag to gate premium-message columns on Poke pool usage
  front/components/poke/pages/PoolUsagePage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Gate premium-message and fair-use-credits columns on Poke by their own feature flags
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Rename showPremiumMessageUsage to isPremiumMessagePlan
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/MembersUsageTable.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dry
  front/components/workspace/MembersUsageTable.tsx
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: trace Manage skills batch fetches
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

[front] perf: omit TOASTed columns from `agent_configurations` in skill queries (#31979)
  front/lib/resources/skill/skill_resource.test.ts
  front/lib/resources/skill/skill_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Extract shared credit-pool cards derivation from Poke (#31986)
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/WorkspaceCreditPoolCards.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

self review
  front/components/workspace/MemberSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

splitting member spend limit modal
  front/components/workspace/MemberGroupLimitTable.tsx
  front/components/workspace/MemberPersonalLimitInput.tsx
  front/components/workspace/MemberSpendLimitModal.tsx
  front/components/workspace/member_spend_limit_helpers.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Expose a shared member spend-limit modal for the front usage page
  front/components/poke/credits/PokeChangeSeatModal.tsx
  front/components/poke/credits/PokeMemberSpendLimitModal.tsx
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/GroupSpendLimitCell.tsx
  front/components/workspace/GroupsUsageTable.tsx
  front/components/workspace/MemberSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Address Daphne's review on the shared spend-limit modal
  front/components/workspace/EditMemberSpendLimitModal.tsx
  front/components/workspace/MemberGroupLimitTable.tsx
  front/components/workspace/member_spend_limit_helpers.ts
  front/lib/api/users/spend_limit.ts
  front/types/api/users/spend_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move immediate-seat-sync scope widening to its own branch
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
Due: biome

pr review
  front/components/workspace/MemberGroupLimitTable.tsx
  front/components/workspace/MemberSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

review
  front-api/routes/w/[wId]/members/[uId]/seat-type.ts
  front/components/pages/workspace/UsagePage.tsx
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/EditMemberSpendLimitModal.tsx
  front/components/workspace/EditSpendLimitModal.tsx
  front/lib/api/users/spend_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use DialogDescription for accessibility and defer legacy modal removal
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/EditMemberSpendLimitModal.tsx
  front/components/workspace/EditSpendLimitModal.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move spend-limit reconcile await to its own branch
  front/lib/api/users/spend_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Admin Governance] Shadow agent editor lists
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/lib/api/assistant/configuration/context.ts
  front/lib/api/assistant/editors.test.ts
  front/lib/api/assistant/editors.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify editor shadow helpers and reuse resource lookups
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/lib/api/assistant/configuration/context.ts
  front/lib/api/assistant/editors.ts
  front/lib/resources/agent_resource.test.ts
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Remove redundant empty-editor branch
  front/lib/resources/agent_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use cells for agent email relay
  front-api/package.json
  front-api/routes/email/webhook.test.ts
  front-api/routes/email/webhook.ts
  front/lib/api/assistant/email/webhook_helpers.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use cells for agent email relay (#31973)
  front-api/package.json
  front-api/routes/email/webhook.test.ts
  front-api/routes/email/webhook.ts
  front/lib/api/assistant/email/webhook_helpers.ts
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Coupons uses cells instead of regions
  .devcontainer/devcontainer.json
  front-api/routes/poke/coupons/index.test.ts
  front-api/routes/poke/coupons/index.ts
  front/lib/api/poke/coupons.ts
  front/lib/api/regions/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[viz] dev frame-ancestors include ALLOWED_VISUALIZATION_ORIGIN
  viz/CONTRACTS
  viz/next.config.mjs
Due: none

Coupons uses cells instead of regions (#31985)
  .devcontainer/devcontainer.json
  front-api/routes/poke/coupons/index.test.ts
  front-api/routes/poke/coupons/index.ts
  front/lib/api/poke/coupons.ts
  front/lib/api/regions/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix stale spend-limit constant imports after moving them to types
  front-api/routes/w/[wId]/members/[uId]/spend_limit.ts
  front-api/routes/w/[wId]/members/bulk-spend-limit.ts
Due: biome

[front] chore: remove skills tracing code contract
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

[front] chore: remove skills favorites tracing
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

[viz] frame-ancestors lists as arrays
  viz/next.config.mjs
Due: none

Gate Poke pool-usage premium-message columns by feature flag (#31965)
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/api/poke/workspace_info.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] enh: group skills relation fetches in one span
  front-api/routes/w/[wId]/skills/index.ts
Due: biome

feat(llm): add the model health recovery workflow and its probe (#31880)
  front/components/poke/pages/KillPage.tsx
  front/lib/api/kill_switch_cache.ts
  front/lib/api/llm/health/config.ts
  front/lib/api/llm/health/counters.test.ts
  front/lib/api/llm/health/counters.ts
  front/lib/api/llm/health/detect.test.ts
  front/lib/api/llm/health/detect.ts
  front/lib/api/llm/health/kill_switch.ts
  front/lib/api/llm/health/probe.ts
  front/lib/api/llm/health/transitions.ts
  front/lib/api/permissions/legacy_acls.ts
  front/lib/poke/types.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/model_health/activities.ts
  front/temporal/model_health/client.ts
  front/temporal/model_health/config.ts
  front/temporal/model_health/worker.ts
  front/temporal/model_health/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[viz] CONTRACTS: match repo metadata convention
  viz/CONTRACTS
Due: none

[viz] drop stray hive port from dev frame-ancestors
  viz/next.config.mjs
Due: none

feat(llm): collect the model health logs under one component field
  front/lib/api/llm/health/detect.ts
  front/lib/api/llm/health/logger.ts
  front/lib/api/llm/health/probe.ts
  front/lib/api/llm/health/transitions.ts
  front/temporal/model_health/client.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(front): use Claude Sonnet 5 as second candidate in auto and auto_fast streams
  front/lib/model_tiers/enabled_models.test.ts
  front/types/assistant/models/auto.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

dust-hive: Novu per-cell placeholders in generated env
  x/henry/dust-hive/src/lib/envgen.ts
Due: biome

Expose a shared member spend-limit modal for the front usage page (#31869)
  front-api/routes/w/[wId]/members/[uId]/spend_limit.ts
  front-api/routes/w/[wId]/members/bulk-spend-limit.ts
  front/components/poke/credits/PokeChangeSeatModal.tsx
  front/components/poke/credits/PokeMemberSpendLimitModal.tsx
  front/components/poke/pages/PoolUsagePage.tsx
  front/components/workspace/EditMemberSpendLimitModal.tsx
  front/components/workspace/GroupSpendLimitCell.tsx
  front/components/workspace/GroupsUsageTable.tsx
  front/components/workspace/MemberGroupLimitTable.tsx
  front/components/workspace/MemberPersonalLimitInput.tsx
  front/components/workspace/member_spend_limit_helpers.ts
  front/lib/api/users/spend_limit.ts
  front/types/api/users/spend_limit.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
