Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Add new cache key
  front/lib/metronome/user_block.ts
  front/lib/metronome/user_credit_state_machine.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Log an error when getFileContent fails (#26753)
  front/lib/resources/file_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

credit cost in endpoint
  front-api/routes/w/[wId]/assistant/conversations/[cId]/credit-cost.test.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/credit-cost.ts
  front-api/routes/w/[wId]/assistant/conversations/[cId]/index.ts
  front/components/assistant/conversation/ConversationMenu.tsx
  front/hooks/conversations/index.ts
  front/hooks/conversations/useConversationCreditCost.ts
  front/lib/api/assistant/credit_cost.ts
  front/lib/resources/conversation_resource.ts
  front/pages/api/swagger_private_schemas.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/credit-cost.ts
  front/pages/api/w/[wId]/assistant/conversations/[cId]/index.ts
  front/types/assistant/conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix HubSpot create_meeting/create_communication using removed ENGAGEMENT object type
  front/lib/api/actions/servers/hubspot/client.ts
  front/lib/api/actions/servers/hubspot/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

lazy
  front/components/assistant/conversation/ConversationMenu.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Fix HubSpot create_meeting/create_communication using removed ENGAGEMENT object type (#26756)
  front/lib/api/actions/servers/hubspot/client.ts
  front/lib/api/actions/servers/hubspot/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): add cat tool to conversation_files in filesystem mode so agents can read content nodes
  front/lib/api/actions/servers/conversation_files/metadata.ts
  front/lib/api/actions/servers/conversation_files/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: consolidate slash capability helpers
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionDropdown.tsx
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.test.ts
  front/components/editor/extensions/shared/SlashCommandCapabilitiesItems.ts
  front/components/editor/extensions/shared/SlashCommandToolItems.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.test.ts
  front/components/editor/extensions/skill_builder/SlashCommandExtension.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix slash capability helper imports
  front/components/editor/SkillInstructionsEditor.tsx
  front/components/editor/extensions/skill_builder/SlashCommandDropdown.tsx
  front/components/skill_builder/SkillBuilderInstructionsEditor.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] use shared tool slash item helper
  front/components/editor/extensions/input_bar/InputBarSlashSuggestionDropdown.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(mobile): extract AgentMessageStream reducer from ConversationDetailViewModel
  x/adrsimon/mobile/Dust/Models/AgentMessageStream.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

refactor(mobile): extract AgentMessageStream reducer (#26757)
  x/adrsimon/mobile/Dust/Models/AgentMessageStream.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

fix(mobile): unstick the blocked-action banner after out-of-app resolution
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

fix(mobile): unstick the blocked-action banner after out-of-app resolution (#26758)
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

feat(mobile): support the ask_user_question tool
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/AgentMessageStream.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Models/StreamingEvent.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/MessageBubbleView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

Fix arrow scroll nav on Command Palette
  front/components/command_palette/CommandPaletteItems.tsx
  front/components/command_palette/CommandPaletteSearchPhase.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix: start task with restricted agent (#26754)
  front/lib/api/assistant/conversation.test.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/branches.test.ts
  front/lib/api/assistant/conversation/branches.ts
  front/lib/resources/project_task_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix payload schema
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/webhook_events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mobile): support the ask_user_question tool (#26759)
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Models/AgentMessageStream.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Models/StreamingEvent.swift
  x/adrsimon/mobile/Dust/Services/ConversationService.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/MessageBubbleView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
Due: none

adding speech to text tool (#26701)
  front/lib/api/actions/servers/speech_generator/metadata.ts
  front/lib/api/actions/servers/speech_generator/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] editors endpoint for non-admin users (#26648)
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front-api/routes/w/[wId]/members/lookup.ts
  front-api/routes/w/[wId]/members/search.ts
  front-api/routes/w/[wId]/skills/[sId]/editors.ts
  front/components/assistant/details/tabs/AgentEditorsTab.tsx
  front/components/members/MembersList.tsx
  front/components/pages/workspace/MembersPage.tsx
  front/components/skill_builder/submitSkillBuilderForm.ts
  front/components/skills/SkillEditorsTab.tsx
  front/lib/swr/agent_editors.ts
  front/lib/swr/skill_editors.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.test.ts
  front/pages/api/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
  front/pages/api/w/[wId]/members/lookup.ts
  front/pages/api/w/[wId]/members/search.ts
  front/pages/api/w/[wId]/skills/[sId]/editors.ts
  front/types/user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Resolve skill name in update_skill tool details
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add skill authoring MCP server (#26740)
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/assistant/conversation/ToolValidationDetails.tsx
  front/components/home/content/Integration/utils/integrationRegistry.ts
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/internal_mcp_server_availability.snapshot.json
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/actions/tool_display_labels.ts
  front/lib/api/actions/servers/skill_authoring/index.ts
  front/lib/api/actions/servers/skill_authoring/metadata.ts
  front/lib/api/actions/servers/skill_authoring/rendering.test.ts
  front/lib/api/actions/servers/skill_authoring/rendering.ts
  front/lib/api/actions/servers/skill_authoring/tools/index.test.ts
  front/lib/api/actions/servers/skill_authoring/tools/index.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/metronome/events.ts
  front/lib/resources/skill/code_defined/global_registry.ts
  front/lib/resources/skill/code_defined/skill_authoring.test.ts
  front/lib/resources/skill/code_defined/skill_authoring.ts
  front/types/assistant/skill_configuration.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/internal_mime_types.ts
  sdks/js/src/types.ts
  x/adrsimon/mobile/SparkleTokens/Sources/SparkleTokens/Generated/MCPServerIcon.swift
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Create global "low balance" alerts
  front/lib/api/metronome/credit_state_dispatcher.ts
  front/lib/api/metronome/process_webhook.ts
  front/lib/metronome/alerts/seat_balance.ts
  front/lib/metronome/contracts.ts
  front/lib/metronome/setup_new_pricing.ts
  front/lib/metronome/user_credit_state_machine.ts
  front/scripts/backfill_metronome_seat_balance_alerts.ts
  front/scripts/metronome_setup.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep @dust-tt/sparkle out of the worker bundle for skill instructions HTML
  front/lib/editor/build_skill_instructions_extensions_server.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update MCP metadata snapshot for speech_to_text tool
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

format
  front-api/routes/w/[wId]/assistant/agent_configurations/[aId]/editors.ts
Due: biome

Fix wake-up wakeUpAt hydration for conversation listing
  front/lib/resources/conversation_resource.test.ts
  front/lib/resources/conversation_resource.ts
  front/lib/resources/wakeup_resource.ts
  front/lib/utils/wakeup_description.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix flaky webhook request ordering test
  front/lib/resources/webhook_request_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

work
  front/components/assistant/conversation/AgentMessage.tsx
  front/lib/resources/conversation_resource.ts
  front/lib/resources/wakeup_resource.ts
  front/lib/utils/wakeup_description.test.ts
  front/lib/utils/wakeup_description.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

resource
  front/lib/resources/conversation_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

resource
  front/lib/resources/wakeup_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

resource
  front/lib/resources/conversation_resource.ts
  front/lib/resources/wakeup_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

hmm
  front/lib/resources/conversation_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/lib/api/actions/servers/wakeups/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Keep @dust-tt/sparkle out of the worker bundle for skill instructions HTML (#26763)
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/editor/build_skill_instructions_extensions_server.ts
  front/lib/resources/webhook_request_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front/lib/resources/wakeup_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

remove import cycle
  front/lib/resources/conversation_resource.ts
  front/lib/resources/wakeup_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(front): add cat tool to conversation_files in filesystem mode so agents can read content nodes (#26760)
  front/lib/api/actions/servers/conversation_files/metadata.ts
  front/lib/api/actions/servers/conversation_files/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
