Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

package-lock-check:
  run: "if ! scripts/check-package-lock-sync.sh; then\n  echo \"Error: package.json and package-lock.json are out of sync. Please run 'npm install' in the affected directory.\"\n  exit 1\nfi\n"
  priority: 1

front-lint-test-filenames:
  tags: front
  run: npm run lint:test-filenames

front-typecheck:
  tags: front
  run: npm run tsgo

front-circular:
  tags: front
  run: npm run lint:circular

front-docs-check:
  tags: front
  run: npm run docs:check

connectors-typecheck:
  tags: connectors
  run: npm run tsgo

biome:
  run: npm run biome:lefthook -- {staged_files}
  stage_fixed: true

front-eslint:
  tags: front
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

connectors-eslint:
  tags: connectors
  run: npm run lint:lefthook -- {staged_files}
  stage_fixed: true

[front] fix: Upload img generation results
  front/lib/api/actions/servers/image_generation/helpers.ts
  front/lib/api/actions/servers/image_generation/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: remove sparkle from front temporal
  biome-plugins/noSparkleInWorkers.grit
  biome.json
  front/components/actions/mcp/create/ConnectMCPServerDialog.tsx
  front/components/actions/mcp/create/CreateMCPServerDialog.tsx
  front/components/actions/mcp/details/MCPActionDetails.tsx
  front/components/shared/tools_picker/ActionCard.tsx
  front/components/spaces/SpaceCategoriesList.tsx
  front/lib/actions/constants.ts
  front/lib/actions/mcp_icons.tsx
  front/lib/actions/mcp_specification.ts
  front/lib/spaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front/lib/actions/mcp_internal_actions] - refactor: update tool stakes configuration for luma
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
Due: none

feat(assistant): make provider-whitelist helpers sync and filter by BYOK credentials
  front/lib/assistant.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(provider-credentials): add auth-bypass health fetch for Authenticator init
  front/lib/resources/provider_credential_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(auth): embed BYOK providers health on Authenticator initialization
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(assistant): fix BYOK getWhitelistedProviders tests
  front/lib/assistant.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

test(provider-credential): fix stale cache from Authenticator init in BYOK tests
  front/lib/resources/provider_credential_resource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(assistant): remove stale await on now-sync getWhitelistedProviders
  front/lib/actions/mcp_internal_actions/utils/web_summarization.ts
  front/lib/api/assistant/agent_suggestion.ts
  front/lib/api/assistant/conversation/title.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(global-agents): remove prefetchedModels prop threading
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/configurations/dust/sidekick.ts
  front/lib/api/assistant/global_agents/configurations/helper.ts
  front/lib/api/assistant/global_agents/configurations/retired_managed.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/tests/sidekick-evals/lib/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[BYOK] Add providers health to Authenticator and filter whitelisted providers (#23094)
  front/lib/actions/mcp_internal_actions/utils/web_summarization.ts
  front/lib/api/assistant/agent_suggestion.ts
  front/lib/api/assistant/conversation.ts
  front/lib/api/assistant/conversation/title.ts
  front/lib/api/assistant/global_agents/configurations/dust/deep-dive.ts
  front/lib/api/assistant/global_agents/configurations/dust/dust.ts
  front/lib/api/assistant/global_agents/configurations/dust/sidekick.ts
  front/lib/api/assistant/global_agents/configurations/helper.ts
  front/lib/api/assistant/global_agents/configurations/retired_managed.ts
  front/lib/api/assistant/global_agents/global_agents.ts
  front/lib/assistant.test.ts
  front/lib/assistant.ts
  front/lib/auth.ts
  front/lib/resources/provider_credential_resource.test.ts
  front/lib/resources/provider_credential_resource.ts
  front/tests/sidekick-evals/lib/config.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - feat(MCP): add Luma MCP server (#23061)
  front/components/resources/resources_icon_names.ts
  front/components/resources/resources_icons.tsx
  front/lib/actions/mcp_internal_actions/__snapshots__/mcp_servers_metadata.test.ts.snap
  front/lib/actions/mcp_internal_actions/constants.ts
  front/lib/actions/mcp_internal_actions/servers/index.ts
  front/lib/api/actions/servers/luma/client.ts
  front/lib/api/actions/servers/luma/index.ts
  front/lib/api/actions/servers/luma/metadata.ts
  front/lib/api/actions/servers/luma/rendering.ts
  front/lib/api/actions/servers/luma/tools/index.ts
  front/lib/api/actions/servers/luma/types.ts
  front/types/shared/feature_flags.ts
  sdks/js/src/mcp_icon_types.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: Upload img generation results (#23108)
  front/lib/api/actions/servers/image_generation/helpers.ts
  front/lib/api/actions/servers/image_generation/tools/index.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: extension dismiss suggestions
  extension/ui/components/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add apply_patch sandbox tool for OpenAI models
  .github/workflows/release-sandbox-tool.yml
  front/lib/api/sandbox/image/registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Always add the header
  front/components/assistant/conversation/interactive_content/FrameRenderer.tsx
  front/components/assistant/conversation/interactive_content/InteractiveContentContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: extension dismiss suggestions (#23092)
  extension/ui/components/conversation/ConversationContainer.tsx
  front/components/assistant/conversation/ConversationContainer.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: update skill builder advanced settings tooltip + dialog description (#23097)
  front/components/skill_builder/SkillBuilderIsDefaultSection.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix schema (#23107)
  front/lib/api/actions/servers/ashby/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Move dust-hive worktrees inside main tree
  .gitignore
  front-spa/vite.config.ts
  sdks/js/tsconfig.json
  x/henry/dust-hive/src/commands/destroy.ts
  x/henry/dust-hive/src/commands/feed.ts
  x/henry/dust-hive/src/commands/flag.ts
  x/henry/dust-hive/src/commands/open.ts
  x/henry/dust-hive/src/commands/refresh.ts
  x/henry/dust-hive/src/commands/spawn.ts
  x/henry/dust-hive/src/commands/warm.ts
  x/henry/dust-hive/src/lib/config.ts
  x/henry/dust-hive/src/lib/init.ts
  x/henry/dust-hive/src/lib/paths.ts
  x/henry/dust-hive/src/lib/registry.ts
  x/henry/dust-hive/src/lib/seed.ts
  x/henry/dust-hive/src/lib/setup.ts
  x/henry/dust-hive/tests/lib/paths.test.ts
Due: biome

Tweak index
  front/migrations/db/migration_542.sql
Due: none

[front] Add guards in front code, removed unnecessary stubs (#23049)
  front-spa/email.html
  front-spa/index.html
  front-spa/oauth.html
  front-spa/poke.html
  front-spa/share.html
  front-spa/vite.config.ts
  front/components/groups/GroupsList.tsx
  front/components/members/MembersList.tsx
  front/lib/actions/mcp_internal_actions/input_configuration.ts
  front/lib/llms/agent_message_content_parser.ts
  front/lib/triggers/webhook.ts
  front/lib/utils/assert.ts
  front/lib/webhookSource.ts
  front/lib/webhookSource_server.ts
  front/logger/datadogLogger.ts
  front/tests/lib/webhookSource.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[sparkle] - refactor: simplify handleKeyDownCapture in Dropdown
  sparkle/src/components/Dropdown.tsx
Due: biome

[dev] Move dust-hive worktrees inside main tree (#22568)
  .gitignore
  front-spa/vite.config.ts
  sdks/js/tsconfig.json
  x/henry/dust-hive/src/commands/destroy.ts
  x/henry/dust-hive/src/commands/feed.ts
  x/henry/dust-hive/src/commands/flag.ts
  x/henry/dust-hive/src/commands/open.ts
  x/henry/dust-hive/src/commands/refresh.ts
  x/henry/dust-hive/src/commands/spawn.ts
  x/henry/dust-hive/src/commands/warm.ts
  x/henry/dust-hive/src/lib/config.ts
  x/henry/dust-hive/src/lib/init.ts
  x/henry/dust-hive/src/lib/paths.ts
  x/henry/dust-hive/src/lib/registry.ts
  x/henry/dust-hive/src/lib/seed.ts
  x/henry/dust-hive/src/lib/setup.ts
  x/henry/dust-hive/tests/lib/paths.test.ts
Due: biome

fix circular dependency
  front/lib/api/actions/servers/ashby/helpers.ts
  front/lib/api/actions/servers/ashby/rendering.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix gaps between doc and schemas
  front/lib/api/actions/servers/ashby/rendering.ts
  front/lib/api/actions/servers/ashby/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[Google Drive] Fix incremental folder move reparenting (#23116)
  connectors/src/connectors/google_drive/temporal/activities/incremental_sync.ts
Due: connectors-typecheck, biome, connectors-eslint

refactor(byok): move ProvidersHealth type to provider_credential.ts
  front/lib/auth.ts
  front/types/provider_credential.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Notes added by 'git notes add'
  a9/f73b1301dce0fdffb5dd01d3d690dbacf95a09
Due: none

feat(byok): invalidate auth-context cache on credential save/delete
  front/lib/swr/provider_credentials.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(byok): reset API key input to empty when opening KeyConfigurationSheet
  front/components/pages/workspace/model_providers/KeyConfigurationSheet.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(byok): extract workspaceAuthContextUrl helper
  front/lib/swr/workspaces.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(byok): expose providersHealth in auth-context API and AuthContext
  front-spa/src/poke/layouts/PokeWorkspacePage.tsx
  front/lib/auth/AuthContext.tsx
  front/pages/api/w/[wId]/auth-context.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(byok): show UnhealthyCredentialsBanner in NavigationSidebar
  front/components/navigation/NavigationSidebar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] - refactor: streamline StatusBanner component with cva utility
  front/components/navigation/NavigationSidebar.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(byok): propagate providersHealth through ConversationRouterLayout
  front-spa/src/app/layouts/ConversationRouterLayout.tsx
Due: biome

Split AgentBrowser into multiple components
  front/components/assistant/AgentBrowser.tsx
  front/components/assistant/conversation/AgentBrowserContainer.tsx
  front/components/assistant/conversation/agent_browser/AgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/MobileOrExtensionAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/WebAgentBrowser.tsx
  front/components/assistant/conversation/agent_browser/shared.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat: upgrade things in elevenlabs
  front/lib/api/actions/servers/elevenlabs/utils.ts
  front/lib/api/actions/servers/speech_generator/metadata.ts
  front/lib/api/actions/servers/speech_generator/tools/index.ts
  front/lib/utils/transcribe_service.ts
  front/package.json
  package-lock.json
Due: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

validate JSON schema in ExtractDataTools before sending it to LLM
  front/lib/api/actions/servers/extract_data/tools/index.ts
  front/lib/utils/json_schemas.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use tab for auth flow
  extension/platforms/chrome/background.ts
Due: biome

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/
