Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

refactor(usage): use Sparkle components in MembersSelectionBanner
  front/components/workspace/MembersSelectionBanner.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Document MCP tool description style
  front/CODING_RULES.md
Due: biome

[front] fix: scope analytics API-key lookup to the workspace
  front/temporal/analytics_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Do not hide the steps when conversation errors (#28128)
  front/components/assistant/conversation/AgentMessage.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Update MCP server runbook description guidance
  .claude/skills/dust-mcp-server/SKILL.md
Due: biome

Support sandbox function invocation tokens
  front-api/middlewares/sandbox_auth.ts
  front/lib/api/sandbox/access_tokens.test.ts
  front/lib/api/sandbox/access_tokens.ts
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] chore: standardize MCP tool description wording (#28126)
  .claude/skills/dust-mcp-server/SKILL.md
  front/CODING_RULES.md
  front/lib/api/actions/servers/agent_router/metadata.ts
  front/lib/api/actions/servers/ask_user_question/metadata.ts
  front/lib/api/actions/servers/file_generation/metadata.ts
  front/lib/api/actions/servers/freshservice/metadata.ts
  front/lib/api/actions/servers/hubspot/metadata.ts
  front/lib/api/actions/servers/jira/metadata.ts
  front/lib/api/actions/servers/jit_testing/metadata.ts
  front/lib/api/actions/servers/microsoft_teams/metadata.ts
  front/lib/api/actions/servers/monday/metadata.ts
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/lib/api/actions/servers/poke/metadata.ts
  front/lib/api/actions/servers/primitive_types_debugger/metadata.ts
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/lib/api/actions/servers/slack_personal/metadata.ts
  front/lib/api/actions/servers/val_town/metadata.ts
  front/lib/api/actions/servers/web_search_browse/metadata.ts
  front/lib/api/actions/servers/zendesk/metadata.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve query tables tool-search recall
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add Jira too tools of the workspace so it can be described too
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Clarify query tables schema prerequisite
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/scripts/mcp_bm25/queries.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: scope analytics API-key lookup to the workspace (#28132)
  front/temporal/analytics_queue/activities.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(usage): stop members table freeze and redundant refetches on filter
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Round-trip tool-search server blocks through the new LLM router and harden the legacy path
  front/lib/api/llm/batch_llm.ts
  front/lib/api/llm/clients/anthropic/utils/conversation_to_anthropic.ts
  front/lib/api/llm/clients/anthropic/utils/test/conversation_to_anthropic.test.ts
  front/lib/api/llm/clients/anthropic/utils/tool_search_passthrough.ts
  front/lib/api/llm/transitionLLM.test.ts
  front/lib/api/llm/transitionLLM.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/index.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/utils.test.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/input/utils.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/output/index.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/output/utils.test.ts
  front/lib/model_constructors/sdk/anthropic_ai/converters/output/utils.ts
  front/lib/model_constructors/sdk/google_genai/converters/input/utils.test.ts
  front/lib/model_constructors/sdk/google_genai/converters/input/utils.ts
  front/lib/model_constructors/sdk/mistralai/converters/input/utils.ts
  front/lib/model_constructors/sdk/openai_completions/converters/input/utils.ts
  front/lib/model_constructors/sdk/openai_responses/converters/input/utils.ts
  front/lib/model_constructors/types/input/messages.ts
  front/lib/model_constructors/types/output/events.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Test that self improvement correctly targets the child nested skill when necessary (#28131)
  front/tests/reinforcement-evals/test-suites/aggregate-suggestions.ts
  front/tests/reinforcement-evals/test-suites/analyze-conversation.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

sparkle: add geometricPrecision shape-rendering for antialiasing
  sparkle/src/components/Spinner.tsx
Due: biome

Limit skill description suggestion to 750 characters
  front/components/skill_builder/SkillBuilderFormContext.tsx
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

sparkle: use faint/muted-foreground tokens for mono spinner
  sparkle/src/components/Spinner.tsx
Due: biome

Introduce stub /v1/w/[wId]/sandbox/sandbox-functions/result
  front-api/middlewares/sandbox_auth.ts
  front-api/routes/v1/index.ts
  front-api/routes/v1/w/[wId]/sandbox/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.test.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.ts
Due: biome

sparkle: use border-dark/primary-muted tokens for mono spinner
  sparkle/src/components/Spinner.tsx
Due: biome

Limit skill description suggestion to 750 characters (#28136)
  front/components/skill_builder/SkillBuilderFormContext.tsx
  front/lib/reinforcement/aggregate_suggestions.ts
  front/lib/reinforcement/analyze_conversation.ts
  front/lib/reinforcement/run_reinforced_analysis.ts
  front/types/assistant/skill_configuration.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

sparkle: slow down spinner animation by ~15% (1.9s → 2.2s)
  sparkle/src/components/Spinner.tsx
Due: biome

feat(usage): add multi-select + batch banner to the members usage table (#28130)
  front/components/pages/workspace/UsagePage.tsx
  front/components/workspace/MembersSelectionBanner.tsx
  front/components/workspace/MembersUsageTable.tsx
  front/hooks/useMembersSelection.ts
  front/lib/swr/memberships.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix plan card and panel intermittently not appearing after plan creation
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/plan_mode/PlanCard.tsx
  front/components/assistant/conversation/plan_mode/handle_plan_updated.test.ts
  front/components/assistant/conversation/plan_mode/handle_plan_updated.ts
  front/components/assistant/conversation/plan_mode/utils.test.ts
  front/components/assistant/conversation/plan_mode/utils.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

iteration
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.test.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.ts
Due: biome

Fix plan card and panel intermittently not appearing after plan creation (#28140)
  front/components/assistant/conversation/AgentMessage.tsx
  front/components/assistant/conversation/ConversationViewer.tsx
  front/components/assistant/conversation/plan_mode/PlanCard.tsx
  front/components/assistant/conversation/plan_mode/handle_plan_updated.test.ts
  front/components/assistant/conversation/plan_mode/handle_plan_updated.ts
  front/components/assistant/conversation/plan_mode/utils.test.ts
  front/components/assistant/conversation/plan_mode/utils.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix
  front-api/routes/v1/index.ts
Due: biome

fix
  front-api/middlewares/sandbox_auth.ts
Due: biome

Support sandbox function invocation tokens (#28118)
  front-api/middlewares/sandbox_auth.ts
  front/lib/api/sandbox/access_tokens.test.ts
  front/lib/api/sandbox/access_tokens.ts
  front/lib/auth.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(mobile): real-time voice transcription via ElevenLabs Scribe
  x/adrsimon/mobile/Dust/Config/AppConfig.swift
  x/adrsimon/mobile/Dust/Services/ScribeRealtimeClient.swift
  x/adrsimon/mobile/Dust/Services/SpeechService.swift
  x/adrsimon/mobile/Dust/Services/TranscriptionService.swift
  x/adrsimon/mobile/Dust/ViewModels/InputBarViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/InputBarView.swift
  x/adrsimon/mobile/Dust/Views/VoiceInputView.swift
Due: none

[front] enh: improve query tables tool-search recall (#28060)
  front/lib/api/actions/servers/query_tables_v2/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

fix(mobile): conversation, auth, and tool-approval improvements
  x/adrsimon/mobile/Dust/Models/Attachment.swift
  x/adrsimon/mobile/Dust/Models/Conversation.swift
  x/adrsimon/mobile/Dust/Models/Message.swift
  x/adrsimon/mobile/Dust/Models/StreamingEvent.swift
  x/adrsimon/mobile/Dust/ViewModels/AuthViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationDetailViewModel.swift
  x/adrsimon/mobile/Dust/ViewModels/ConversationListViewModel.swift
  x/adrsimon/mobile/Dust/Views/Components/AttachmentImagePreview.swift
  x/adrsimon/mobile/Dust/Views/Components/MessageBubbleView.swift
  x/adrsimon/mobile/Dust/Views/ConversationDetailView.swift
  x/adrsimon/mobile/Dust/Views/MainContainerView.swift
Due: none

feat(dsbx): deliver function run response to the Dust result API
  cli/dust-sandbox/src/api/client.rs
  cli/dust-sandbox/src/commands/function/get.rs
  cli/dust-sandbox/src/commands/function/mod.rs
  cli/dust-sandbox/src/commands/function/run.rs
Due: none

Sandbox functions result flow stub (#28141)
  front-api/routes/v1/w/[wId]/sandbox/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/index.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.test.ts
  front-api/routes/v1/w/[wId]/sandbox/sandbox-functions/result.ts
Due: biome

Fix scroll in plan mode
  front/components/assistant/conversation/plan_mode/ConversationPlanModePanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve wakeups tool-search recall
  front/lib/api/actions/servers/wakeups/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

feat(usage): bulk per-user spend-limit endpoint + temporal workflow
  front-api/routes/w/[wId]/members/bulk-spend-limit.test.ts
  front-api/routes/w/[wId]/members/bulk-spend-limit.ts
  front-api/routes/w/[wId]/members/index.ts
  front/lib/api/credits/members_usage.ts
  front/lib/api/users/bulk_spend_limit.ts
  front/scripts/temporal-build/build-temporal-bundles.ts
  front/temporal/bulk_spend_limit/activities.test.ts
  front/temporal/bulk_spend_limit/activities.ts
  front/temporal/bulk_spend_limit/client.ts
  front/temporal/bulk_spend_limit/config.ts
  front/temporal/bulk_spend_limit/helpers.ts
  front/temporal/bulk_spend_limit/worker.ts
  front/temporal/bulk_spend_limit/workflows.ts
  front/temporal/worker_registry.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use new pricing cards on /trial-ended page
  front/components/pages/onboarding/TrialEndedPage.tsx
  front/components/paywall/TrialPricingCard.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Improve pod manager tool-search recall
  front/lib/api/actions/servers/pod_manager/metadata.ts
  front/scripts/mcp_bm25/queries.ts
  front/scripts/mcp_bm25/run.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

refactor(usage): remove non-type-safe casts on the bulk spend-limit path
  front-api/routes/w/[wId]/members/bulk-spend-limit.test.ts
  front-api/routes/w/[wId]/members/bulk-spend-limit.ts
  front/lib/api/users/bulk_spend_limit.ts
  front/temporal/bulk_spend_limit/activities.test.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Fix scroll in plan mode (#28146)
  front/components/assistant/conversation/plan_mode/ConversationPlanModePanel.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
