Repository dust-tt/dust: changes, and which lefthook commands are due for each by the changed paths.
All: package-lock-check, front-lint-test-filenames, front-typecheck, front-circular, front-docs-check, connectors-typecheck, biome, front-eslint, connectors-eslint

Path conditions:
  package-lock-check: any of: */{package,package-lock}.json
  front-lint-test-filenames: any of: *.{js,jsx,ts,tsx} and ^front/
  front-typecheck: any of: *.{js,jsx,ts,tsx} and ^front/
  front-circular: any of: *.{js,jsx,ts,tsx} and ^front/
  front-docs-check: any of: front/pages/api/v1/**/* and ^front/
  connectors-typecheck: any of: *.{js,jsx,ts,tsx} and ^connectors/
  biome: any of: *.{js,jsx,ts,tsx,json,css,scss,md,yaml,yml}
  front-eslint: any of: *.{js,jsx,ts,tsx} and ^front/
  connectors-eslint: any of: *.{js,jsx,ts,tsx} and ^connectors/

Record complete filesystem E2E qualification
  docs/dust-filesystem-poc-progress.md
  front/scripts/benchmark_sandbox_filesystems.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Use the standard I/O error helper
  cli/dust-sandbox/src/commands/filesystem/client.rs
Due: none

Update Rust branch references
  docs/dust-filesystem-poc-progress.md
Due: biome

Harden filesystem client retries
  cli/dust-sandbox/src/commands/filesystem/client.rs
  cli/dust-sandbox/src/commands/filesystem/client/tests.rs
Due: none

Update Rust filesystem test results
  docs/dust-filesystem-poc-progress.md
Due: biome

Remove log line
  front/lib/api/sandbox_functions/build_on_sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: isPodMember in the Frame identity state and invocation envelope
  cli/dust-sandbox/pod/identity.test.ts
  cli/dust-sandbox/pod/identity.ts
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/pod/PodFrameTabContent.tsx
  front/components/pod/PodFrameVisualization.tsx
  front/components/pod/apps/PodAppsTab.tsx
  front/components/pod/conversation/PodPinnedBanner.tsx
  front/components/pod/files/PodFileExplorer.tsx
  front/components/pod/files/PodFrameSheet.tsx
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/types/assistant/visualization.ts
  viz/app/lib/data-apis/cache-data-api.ts
  viz/app/lib/data-apis/rpc-data-api.test.ts
  viz/app/lib/data-apis/rpc-data-api.ts
  viz/app/lib/pod-function-hooks.tsx
  viz/app/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Bump dsbx to 0.1.50 and dust-base to 0.8.84
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/functions-runner/bun.lock
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox_functions/build_on_sandbox.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: retire the pod_editor_required identity policy
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/sandbox_functions/workspace_user.test.ts
  front/lib/api/sandbox_functions/workspace_user.ts
  front/lib/resources/sandbox_function_resource.ts
  front/types/api/sandbox_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[dsbx] feat: accept the pod_member_required user identity policy in the functions-runner
  cli/dust-sandbox/functions-runner/fixtures/pod-member.ts
  cli/dust-sandbox/functions-runner/schema.test.ts
  cli/dust-sandbox/functions-runner/schema.ts
Due: biome

[dsbx] feat: retire the pod_editor_required user identity policy in the functions-runner
  cli/dust-sandbox/functions-runner/fixtures/pod-editor.ts
  cli/dust-sandbox/functions-runner/schema.test.ts
  cli/dust-sandbox/functions-runner/schema.ts
Due: biome

[front] docs: state why the unknown-policy branches use assertNeverAndIgnore
  front/lib/api/sandbox_functions/workspace_user.ts
  front/lib/resources/sandbox_function_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: pod_member_required denies workspace admins outside the pod
  front/lib/api/sandbox_functions/workspace_user.test.ts
  front/lib/api/sandbox_functions/workspace_user.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: pod_member_required identity policy for Pod Functions
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/sandbox_functions/workspace_user.test.ts
  front/lib/api/sandbox_functions/workspace_user.ts
  front/lib/resources/sandbox_function_resource.ts
  front/types/api/sandbox_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: change pod_editor_required to pod_member_required (#30583)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/functions-runner/bun.lock
  cli/dust-sandbox/functions-runner/fixtures/pod-editor.ts
  cli/dust-sandbox/functions-runner/fixtures/pod-member.ts
  cli/dust-sandbox/functions-runner/schema.test.ts
  cli/dust-sandbox/functions-runner/schema.ts
  cli/dust-sandbox/pod/identity.test.ts
  cli/dust-sandbox/pod/identity.ts
  front-api/routes/w/[wId]/sandbox-functions/[functionId]/invocations.test.ts
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/AuthenticatedVisualizationActionIframe.tsx
  front/components/assistant/conversation/actions/VisualizationActionIframe.test.ts
  front/components/assistant/conversation/actions/VisualizationActionIframe.tsx
  front/components/pod/PodFrameTabContent.tsx
  front/components/pod/PodFrameVisualization.tsx
  front/components/pod/apps/PodAppsTab.tsx
  front/components/pod/conversation/PodPinnedBanner.tsx
  front/components/pod/files/PodFileExplorer.tsx
  front/components/pod/files/PodFrameSheet.tsx
  front/lib/api/actions/servers/sandbox_functions/metadata.ts
  front/lib/api/sandbox/image/registry.test.ts
  front/lib/api/sandbox/image/registry.ts
  front/lib/api/sandbox_functions/workspace_user.test.ts
  front/lib/api/sandbox_functions/workspace_user.ts
  front/lib/resources/sandbox_function_invocation_resource.test.ts
  front/lib/resources/sandbox_function_invocation_resource.ts
  front/lib/resources/sandbox_function_resource.ts
  front/types/api/sandbox_functions.ts
  front/types/assistant/visualization.ts
  viz/app/lib/data-apis/cache-data-api.ts
  viz/app/lib/data-apis/rpc-data-api.test.ts
  viz/app/lib/data-apis/rpc-data-api.ts
  viz/app/lib/pod-function-hooks.tsx
  viz/app/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Harden filesystem staging cache
  cli/dust-sandbox/src/commands/filesystem/store.rs
  cli/dust-sandbox/src/commands/filesystem/store/content_cache.rs
  cli/dust-sandbox/src/commands/filesystem/store/metadata_cache.rs
  cli/dust-sandbox/src/commands/filesystem/store/tests.rs
Due: none

Let filesystem store own content handles
  cli/dust-sandbox/src/commands/filesystem/fuse.rs
  cli/dust-sandbox/src/commands/filesystem/fuse/operations.rs
Due: none

Test zero-capacity filesystem cache
  cli/dust-sandbox/src/commands/filesystem/store.rs
Due: none

Record hardened filesystem benchmark
  cli/dust-sandbox/docs/database-filesystem.md
  docs/dust-filesystem-poc-progress.md
  front/scripts/benchmark_sandbox_filesystems.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Split filesystem client by responsibility
  cli/dust-sandbox/src/commands/filesystem/client.rs
  cli/dust-sandbox/src/commands/filesystem/client/content.rs
  cli/dust-sandbox/src/commands/filesystem/client/namespace.rs
  cli/dust-sandbox/src/commands/filesystem/client/tests.rs
Due: none

Update Rust filesystem branch heads
  docs/dust-filesystem-poc-progress.md
Due: biome

[front] feat: export a Pod app as a portable zip archive
  front-api/routes/w/[wId]/pods/[podId]/apps/export.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/index.ts
  front/lib/api/projects/app_archive.ts
  front/types/api/pod_app_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: import a Pod app archive into any pod
  front-api/routes/w/[wId]/pods/[podId]/apps/import.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/import.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/index.ts
  front/lib/api/projects/app_archive.ts
  front/lib/api/viz/publish_frame.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] feat: download and import Pod apps from the Apps tab
  front/components/pod/apps/ImportPodAppDialog.tsx
  front/components/pod/apps/PodAppTile.tsx
  front/components/pod/apps/PodAppsTab.tsx
  front/lib/swr/pods.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: body-limit gate, tab-pin coverage, and sandbox_unavailable docs for Pod app import
  front-api/routes/w/[wId]/pods/[podId]/apps/import.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/import.ts
  front/lib/api/projects/app_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] refactor: address review-bot findings and simplify Pod app archive code
  front-api/routes/w/[wId]/pods/[podId]/apps/export.test.ts
  front/components/pod/apps/PodAppTile.tsx
  front/lib/api/projects/app_archive.ts
  front/lib/api/projects/apps.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: keep ImportPodAppDialog mounted across the empty-to-populated apps transition
  front/components/pod/apps/ImportPodAppDialog.tsx
  front/components/pod/apps/PodAppsTab.tsx
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] fix: cap import name length, guard export size, cover export's Frame branch
  front-api/routes/w/[wId]/pods/[podId]/apps/export.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/import.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/index.ts
  front/lib/api/projects/app_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] Pod app portability: export/import apps as zip archives (#30560)
  front-api/routes/w/[wId]/pods/[podId]/apps/export.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/import.test.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/import.ts
  front-api/routes/w/[wId]/pods/[podId]/apps/index.ts
  front/components/pod/apps/ImportPodAppDialog.tsx
  front/components/pod/apps/PodAppTile.tsx
  front/components/pod/apps/PodAppsTab.tsx
  front/lib/api/projects/app_archive.ts
  front/lib/api/projects/apps.ts
  front/lib/api/viz/publish_frame.ts
  front/lib/swr/pods.ts
  front/types/api/pod_app_archive.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

[front] docs: teach frame and pod-function authors the pod identity bits
  front/lib/api/actions/servers/interactive_content/instructions_v2.ts
  front/lib/resources/skill/code_defined/global/pod_functions.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add the Rust client for the Dust filesystem (#30596)
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/filesystem/client.rs
  cli/dust-sandbox/src/commands/filesystem/client/content.rs
  cli/dust-sandbox/src/commands/filesystem/client/namespace.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/mod.rs
Due: none

[front] feat: pod identity bits on the public share frame path
  front-api/routes/v1/public/frames/[token]/index.test.ts
  front-api/routes/v1/public/frames/[token]/index.ts
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.test.ts
  front/components/assistant/conversation/interactive_content/PublicFrameRenderer.tsx
  front/lib/swr/frames.ts
  sdks/js/src/types.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Add local store for Dust filesystem
  cli/dust-sandbox/Cargo.lock
  cli/dust-sandbox/Cargo.toml
  cli/dust-sandbox/src/commands/filesystem/inode.rs
  cli/dust-sandbox/src/commands/filesystem/mod.rs
  cli/dust-sandbox/src/commands/filesystem/store.rs
  cli/dust-sandbox/src/commands/filesystem/store/tests.rs
Due: none

Document filesystem cache modules
  cli/dust-sandbox/src/commands/filesystem/store.rs
Due: none

Explain filesystem cache behavior
  cli/dust-sandbox/src/commands/filesystem/store/content_cache.rs
  cli/dust-sandbox/src/commands/filesystem/store/metadata_cache.rs
Due: none

Add sandbox filesystem endpoint and token
  front-api/middlewares/sandbox_auth.ts
  front-api/routes/v1/w/[wId]/sandbox/filesystem.test.ts
  front-api/routes/v1/w/[wId]/sandbox/filesystem.ts
  front-api/routes/v1/w/[wId]/sandbox/index.ts
  front/lib/api/file_system/namespace.ts
  front/lib/api/file_system/namespace_types.ts
  front/lib/api/file_system/sandbox_scope.ts
  front/lib/api/sandbox/access_tokens.test.ts
  front/lib/api/sandbox/access_tokens.ts
  front/lib/auth.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint

Type sandbox filesystem endpoint response
  front-api/routes/v1/w/[wId]/sandbox/filesystem.ts
Due: biome

Fix filesystem endpoint test imports
  front-api/routes/w/[wId]/data_sources/[dsId]/files.test.ts
  front-api/routes/w/[wId]/files/[fileId]/signed-url.test.ts
  front/lib/resources/file_system_node_resource.ts
Due: front-lint-test-filenames, front-typecheck, front-circular, biome, front-eslint
